<!-- For each OPTION, we will define its behavior 

	This will give us more control about the bahavior of each option
	We will have some repeatitive code, but this is necessary as we have a lot of edge cases
 -->

 <div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

		<!-- 1: Jacket Style -->
		<!-- 
			     ██╗ █████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			     ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			     ██║███████║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██   ██║██╔══██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			╚█████╔╝██║  ██║╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
			 ╚════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->
		<div data-bind="if: category.id == '1'">

				<h2 data-bind="text: $data.name"></h2>
		
		
				<!-- jacket style Style option -->
				<div data-bind="with: $data.options.filter(el=>el.id=='1')[0]">
	
					<strong>
						<p data-bind="text: $data.name"></p>
					</strong>
	
					<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
						
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">
	
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
	
							<!-- selection box !! -->
							
							<div class='selection-box'>
								
	
								<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
	
									<thead>
										<tr>
											<th class="right">Buttons <br>Colour</th>
											<th class="right">Notes</th>
											<th class="right">tuxedo</th>
											<th class="right">select</th>
										</tr>
									</thead>
									
									<tbody data-bind="with: $parents[1]">
										
										<tr data-bind="visible: value.clicked() || ( $data.options.filter(el=>el.id=='1')[0].selectedValue() && $data.options.filter(el=>el.id=='1')[0].selectedValue().id == value.id ),
										css : { 'opaque-row' : $data.options.filter(el=>el.id=='1')[0].selectedValue() && $data.options.filter(el=>el.id=='1')[0].selectedValue().id != value.id }">
											
										
										<!-- Buttons Colour -->
										<td class="right" data-bind="with: $data.options.filter(el=>el.id=='4')[0],
											click: function() { changeVisibilityDiv('jacket_button_collor_popup-'+$parents[3].unique_id) }  ">
												<img alt=""  data-bind="attr : {src : $data.selectedValue().image}">
											</td>

											<!-- Notes -->
											<td class="right" data-bind="with: $data.options.filter(el=>el.id=='2')[0]">
												<div class="open_style_notes" data-bind="click: function() {$('#notes-jacket-style-' + $parents[4].unique_id).show(); }">SHOW</div>
											</td>

											<!-- tuxedo -->
											<td class="right" data-bind="with: $data.options.filter(el=>el.id=='3')[0]">
												<input type="checkbox" class="labeled-checkbox" name="" id="tuxedoCheckbox" data-bind="checked:  $data.selectedValue">
												<label for="tuxedoCheckbox" data-bind="click: function(){ $data.selectedValue(! $data.selectedValue())}"></label>
											</td>

											<!-- select -->
											<td class="right" data-bind="with: $data.options.filter(el=>el.id=='1')[0]">
													
												<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox' }">
												<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]); }, attr:{for: value.name+'checkbox'}"> </label>
	
											</td>
	
										</tr>
	
									</tbody>
								</table>
	
									
	
							</div>
	
							
						</div>
	
	
					</div>
	
					<!-- pop up fot button colors-->
					<div data-bind="attr : {id : 'jacket_button_collor_popup-'+$parents[1].unique_id},
									with : $parent.options.filter(el=>el.id == '4')[0]"
						class="white_content mynicepop"
						style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4 data-bind="text: 'Select ' + $data.name"></h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																									changeVisibilityDiv('jacket_button_collor_popup-'+$parents[3].unique_id);},
																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() { changeVisibilityDiv('jacket_button_collor_popup-'+$parents[1].unique_id);}">
								Save And Close</a>
						</div>
					</div>

				</div>
	
				<!-- Notes for jacket Style -->
				<!-- The notes should be hidden and we use jquery to show/hide them -->
				<div data-bind="with: $data.options.filter(el => el.id == '2')[0]">
					<div data-bind="attr: { id : 'notes-jacket-style-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">
						<div class="notes-textarea-wrapper">
							<p data-bind="text: 'notes for '+ category.name"></p>
							<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
							<button class="notes-save-btn" data-bind="click: function() { $('#notes-jacket-style-' + $parents[1].unique_id).hide(); } ">Save
								and Close</button>
						</div>
					</div>
				</div>
		</div>

		<!-- 2: Fabric DO NOT SHOW HERE

				███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
				██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
				█████╗  ███████║██████╔╝██████╔╝██║██║     
				██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║     
				██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
				╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝
														
		-->
		<div data-bind="if: 0 && $data.id == '2' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 5: Fabric-->
				<div data-bind="if: option.id == '5'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="text" data-bind="value: option.selectedValue">

				</div>

				<!-- 53: notes -->
				<div data-bind="if: option.id == '53'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>


		<!-- 3: Fit
			
				███████╗██╗████████╗
				██╔════╝██║╚══██╔══╝
				█████╗  ██║   ██║   
				██╔══╝  ██║   ██║   
				██║     ██║   ██║   
				╚═╝     ╚═╝   ╚═╝   
				                    
		-->
		<!-- no FIT in uniform template -->
		<div data-bind="if: $data.id == '3' && false">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 6: Fabric-->
				<div data-bind="if: option.id == '6'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																										css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

			</div>

		</div>


		<!-- Bottom Style

			██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                                     
		-->
		<div data-bind="if: $data.id == '4' ">

			<h2 data-bind="text: $data.name"></h2>

			<!-- style -->
			<div data-bind="with: $data.options.filter(el=>el.id=='7')[0]">
				<strong>
                    <p data-bind="text: $data.name"></p>
				</strong>
				
				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">
					
						<span class="new_main_option_title" data-bind="text:value.name"></span>
						<img data-bind="attr:{src: value.image}" class="example">
								
						<!-- selection box !! -->
								
						<div class='selection-box'>
								<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
									<thead>
										<tr>
											<th class="right">Notes</th>
											<th class="right">Select</th>
										</tr>
									</thead>

									<tbody>

										 <!-- do not show curved bottom if Double Breasted (any type is on) -->
										<!-- curved bottom =>  cat: 4 option : 7 value  : 24 -->
										<!-- double breasts => cat: 1 option : 1 values : [2,3,4] -->
										<!-- ko if: !((value.id == "24") &&
												($parents[2].categories.filter(el=>el.id=="1")[0].options.filter(el=>el.id=="1")[0].selectedValue() && ["2", "3", "4"].includes($parents[2].categories.filter(el=>el.id=="1")[0].options.filter(el=>el.id=="1")[0].selectedValue().id))) -->

											<tr data-bind="visible: value.clicked() ||
																	( $parents[1].options.filter(el=>el.id=='7')[0].selectedValue() &&
																	$parents[1].options.filter(el=>el.id=='7')[0].selectedValue().id == value.id ),
															css : { 'opaque-row' : $parents[1].options.filter(el=>el.id=='7')[0].selectedValue() &&
																		$parents[1].options.filter(el=>el.id=='7')[0].selectedValue().id != value.id }">
												
												<!-- notes -->
												<td class="right" data-bind="with: $parents[1].options.filter(el=>el.id=='8')[0]">
													
													<div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + $parents[3].unique_id).show(); }">SHOW</div>
										
												</td>
												<!-- select style -->
												<td class="right" data-bind="with: $parents[1].options.filter(el=>el.id=='7')[0]">
										
														<input type="checkbox" class="labeled-checkbox"
															data-bind="checked: $data.values.filter(el=>el.id == value.id)[0].selected(),
																		attr:{ id: $data.values.filter(el=>el.id == value.id)[0].name+'checkbox' }">
														<label class="select-garment-checkbox"
																data-bind="click: function() {
																			$root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id == value.id)[0]); 
																		},
																		attr:{for: value.name+'checkbox'}">
														</label>
												
												</td>
										
											</tr>
										<!-- /ko -->
									</tbody>
								</table>

						</div>
					
					</div>
				
				</div>
			</div>

			<!-- Notes for Bottom style -->
			<div data-bind="with: $data.options.filter(el=>el.id == '8')[0]">
				<div>
					<div data-bind="attr: { id : 'notes-bottom-style-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">
		
						<div class="notes-textarea-wrapper">
							<p data-bind="text: 'notes for '+ category.name"></p>
							<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
							<button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + $parents[1].unique_id).hide(); } ">Save
								and Close</button>
						</div>
					</div>
				</div>
				
			</div>

		</div>

		<!-- Vent Style
							██╗   ██╗███████╗███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
							██║   ██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
							██║   ██║█████╗  ██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
							╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
							 ╚████╔╝ ███████╗██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
							  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
							
		-->
		<div data-bind="if: $data.id == '5'">
			<h2 data-bind="text: $data.name"></h2>

			<!-- vent style option -->
			<div data-bind="with: $data.options.filter(el => el.id == '9')[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
			
				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4" style="min-height: 356px;"
						data-bind="click : function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
									css   : { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
						<span class="new_main_option_title" data-bind="text:value.name"></span>
						<img data-bind="attr:{src: value.image}" class="example">
						
						
						
						<!-- selection box !! -->
						<div class='selection-box'>
							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">garment</th>
										<!-- ko if: value.id == "27" -->
										<th class="right" style="margin-right: 12px; margin-left: 12px;">tail</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 2px;">Notes</th>
										<th class="right" style="padding-right: 2px;">select</th>
									</tr>
								</thead>


								<tbody>
									<tr data-bind="visible: value.clicked() ||
									                        ($parents[1].options.filter(el => el.id == '9')[0].selectedValue() &&
									                        $parents[1].options.filter(el => el.id == '9')[0].selectedValue().id == value.id ),
									               css : { 'opaque-row' : $parents[1].options.filter(el => el.id == '9')[0].selectedValue() &&
									                                      $parents[1].options.filter(el => el.id == '9')[0].selectedValue().id != value.id }">
										<td class="left">#1</td>
										<!-- ko if: value.id == "27" -->
										<!-- tail -->
										<td class="right" data-bind="with: $parents[1].options.filter(el => el.id == '11')[0]">
											<input type="checkbox" class="labeled-checkbox" name="" id="tailCheckbox" data-bind="checked: $data.selectedValue">
											<label for="tailCheckbox" data-bind="click: function(){$data.selectedValue(!$data.selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- Notes -->
										<td class="right"  data-bind="with: $parents[1].options.filter(el => el.id == '9')[0]">
											<div class="open_style_notes" data-bind="click: function() {$('#notes-vent-style-' + $parents[3].unique_id).show(); }">SHOW</div>
										</td>
										<!-- select button -->
										<td class="right"  data-bind="with: $parents[1].options.filter(el => el.id == '9')[0]">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=> el.id==value.id)[0].selected(), attr:{id: $data.values.filter(el=> el.id==value.id)[0].name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind=" click : function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=> el.id==value.id)[0]); },
																								attr  : {for: $data.values.filter(el=> el.id==value.id)[0].name+'checkbox'}">
											</label>
										</td>
								
									</tr>
								</tbody>
								
								
							</table>
						</div>
					</div>
				</div>
			
			
			
			</div>

			<!-- Notes for Vent style -->
			<div data-bind="with: $data.options.filter(el=>el.id == '10')[0]">
				<div data-bind="attr: { id : 'notes-vent-style-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">

					<div class="notes-textarea-wrapper">
						<p data-bind="text: 'notes for '+ category.name"></p>
						<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
						<button class="notes-save-btn" data-bind="click: function() { $('#notes-vent-style-' + $parents[1].unique_id).hide(); } ">Save
							and Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Lapel Style 
			██╗      █████╗ ██████╗ ███████╗██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗
			██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██║     ███████║██████╔╝█████╗  ██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			███████╗██║  ██║██║     ███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗
			╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                      
			-->
		<div data-bind="if: category.id == '6'">

		
			<h2 data-bind="text: $data.name"></h2>

			<!-- lapel Style option -->
			<div data-bind="with: $data.options.filter(el=>el.id=='12')[0]">
			
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
			
				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
			
					<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">
			
						<span class="new_main_option_title" data-bind="text:value.name"></span>
						<img data-bind="attr:{src: value.image}" class="example">
			
						<!-- selection box !! -->
			
						<div class='selection-box'>
			
			
							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
			
								<thead>
									<tr>
										<th class="left">garment</th>
										<th class="right">width</th>
										<!-- ko if: value.id != '34' -->
										<th class="right">BH<br>Colour</th>
										<th class="right">BH</th>
										<!-- /ko -->
										<th class="right">Notes</th>
										<th class="right">select</th>
									</tr>
								</thead>
			
			
								<tbody>

									<!-- do not show shawl neither Notch Lapel if Double Breasted (any type) is on -->
                                    <!-- shaw and Notch Lapel =>  cat: 6 option : 12 values :[32, 34]  -->
                                    <!-- double breasts =>        cat: 1 option : 1  values : [2,3,4] -->
                                    <!-- ko if: !((["32", "34"].includes(value.id)) &&
                                            ($parents[2].categories.filter(el=>el.id=="1")[0].options.filter(el=>el.id=="1")[0].selectedValue() && ["2", "3", "4"].includes($parents[2].categories.filter(el=>el.id=="1")[0].options.filter(el=>el.id=="1")[0].selectedValue().id))) -->
										<tr data-bind="visible: value.clicked() ||
																( category.options.filter(el=>el.id=='12')[0].selectedValue() &&
																category.options.filter(el=>el.id=='12')[0].selectedValue().id == value.id ),
														css : { 'opaque-row' : category.options.filter(el=>el.id=='12')[0].selectedValue() &&
																				category.options.filter(el=>el.id=='12')[0].selectedValue().id != value.id }">
											
											<td class="left"><span data-bind="text:  '#' +($index()+1)"></span></td>


											<!-- width -->
											<td class="right" data-bind="with: category.options.filter(el=>el.id=='16')[0]">
												<!-- selected value not null or not zero -->
												<!-- ko if: $data.selectedValue()  -->
												<span class="width_span" data-bind="text: $data.selectedValue,
																					click: function() { $('#MyJacketLapelWidthPopup-' + $parents[3].unique_id).show(); }"
														style="margin-left: 0"></span>
												<!-- /ko -->
									
												<!-- selected value is zero or null-->
												<!-- ko if: !$data.selectedValue() -->
												<span class="width_span" data-bind="click: function() {
																						// set default lapel width
																						$data.selectedValue(3.25);
																						
																						$('#MyJacketLapelWidthPopup-' + $parents[3].unique_id).show(); 
																					}">0
												</span>
												<!-- /ko -->
									
											</td>

											<!-- ko if: value.id != '34'-->
											<!-- bh colour -->
											<td class="right" data-bind="with: category.options.filter(el=>el.id=='15')[0]">
												<img alt=""  data-bind="attr  : {src : $data.selectedValue().image},
																		click : function() {  $('#jacket_bh_collor_popup-' + $parents[3].unique_id).show() }">
											</td>
									
									
											<!-- BH -->
											<td class="right" data-bind="with: category.options.filter(el=>el.id=='14')[0]">
												<input type="checkbox" class="labeled-checkbox"" name="" id="bhCheckbox" data-bind="checked: $data.selectedValue">
												<label for="bhCheckbox" data-bind="click: function(){$data.selectedValue(!$data.selectedValue())}"></label>
									
											</td>
											<!-- /ko -->

											<!-- Notes -->
											<td class="right" data-bind="with: category.options.filter(el=>el.id=='13')[0]">

												<div class="open_style_notes" data-bind="click: function() { $('#notes-lapel-style-' + $parents[3].unique_id).show(); }">SHOW</div>
									
											</td>

											<!-- select style -->
											<td class="right" data-bind="with: category.options.filter(el=>el.id=='12')[0]">

												<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id == value.id)[0].selected(),
																										attr:{ id: $data.values.filter(el=>el.id == value.id)[0].name+'checkbox' }">
												<!-- If value is shawl lapel => set bh as false -->
												<!-- ko if: value.id != '34' -->
												<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id == value.id)[0]); },
																									attr:{for: $data.values.filter(el=>el.id == value.id)[0].name+'checkbox'}"></label>
												<!-- /ko -->
													
												<!-- ko if: value.id == '34' -->
												<label class="select-garment-checkbox" data-bind="click: function() {
																											$root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id == value.id)[0]);
																											category.options.filter(el=>el.id=='14')[0].selectedValue(false);
																										},
																									attr:{for: $data.values.filter(el=>el.id == value.id)[0].name+'checkbox'}"></label>
												<!-- /ko -->
													
												</label>
									
											</td>

										</tr>
									<!-- /ko -->
								</tbody>
			
							</table>
						</div>
					</div>
				</div>
			
			</div>

			<!-- width option -->
			<div data-bind="with: $data.options.filter(el=>el.id=='16')[0]">
			
				<div data-bind="attr: { id : 'MyJacketLapelWidthPopup-' + $parents[1].unique_id }" class="white_content mynicepop" style="display: none">

					<div class="inmynicepop">
						<p>Adjust Lapel Width</p>
					

						
						<div class="garment-count-btn inline-div btn btn-small submit minus-btn" data-bind="click: function() { $data.selectedValue($data.selectedValue()-0.25) } "> - </div>
						<span class="width-span" data-bind="text: $data.selectedValue"></span>
						<div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { $data.selectedValue($data.selectedValue()+0.25) } "> + </div>
					
						<div class="clear"></div>
						<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() {  $('#MyJacketLapelWidthPopup-' + $parents[1].unique_id).hide(); }">Save
							And Close</a>
					</div>
				</div>
			
			
			</div>

			<!-- BH Colour PopUp -->
			<div data-bind="with: $data.options.filter(el=>el.id=='15')[0]">
			
				<div data-bind="attr: { id : 'jacket_bh_collor_popup-' + $parents[1].unique_id }" class="white_content mynicepop"
					style="display: none">
					<div class="inmynicepop inmynicepopthree">
						<h4 data-bind="text: 'Select ' + $data.name"></h4>
						<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
							<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																								$('#jacket_bh_collor_popup-' + $parents[2].unique_id).hide();},
																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
								<span class="new_main_option_title" data-bind="text:value.name"></span>
								<img data-bind="attr:{src: value.image}" class="example">
							</div>
						</div>
						<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() {  $('#jacket_bh_collor_popup-' + $parents[1].unique_id).hide() }">Save
							And Close</a>
					</div>
				</div>
			
			
			</div>

			<!-- Notes for Front pockets -->
			<div data-bind="with: $data.options.filter(el=>el.id=='13')[0]">
			
				<div data-bind="attr: { id : 'notes-lapel-style-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">
					<div class="notes-textarea-wrapper">
						<p data-bind="text: 'notes for '+ category.name"></p>
						<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
						<button class="notes-save-btn" data-bind="click: function() { $('#notes-lapel-style-' + $parents[1].unique_id).hide(); } ">Save
							and Close</button>
					</div>
				</div>
			
			
			</div>


		</div>


		<!-- Sleeves

			███████╗██╗     ███████╗███████╗██╗   ██╗███████╗███████╗
			██╔════╝██║     ██╔════╝██╔════╝██║   ██║██╔════╝██╔════╝
			███████╗██║     █████╗  █████╗  ██║   ██║█████╗  ███████╗
			╚════██║██║     ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ╚════██║
			███████║███████╗███████╗███████╗ ╚████╔╝ ███████╗███████║
			╚══════╝╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
			                                                         
			-->
		<div data-bind="if: category.id == '7' ">

			<h2>Select Your Sleeves Buttons</h2>

			<!-- line of options (number of buttons, kissing and working) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;top: -8px;position: relative;">
					<!-- number -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='29'})[0]">
						<div class="" data-bind="foreach: { data: $data.values, as: 'value' }">
							<div class="option-value1 grid_4 jacket-number-value" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); },
																																					css: { 'selected-val' : value.selected()}">
								<span class="new_main_option_title" data-bind="text:value.name"></span>
							</div>
						</div>
					</div>
				



					<!-- 
					    ************************************ Important: *****************************************
					    **** Kissing and working cannot go together, the button is either KISSING OR WORKING ****
					    *****************************************************************************************
					-->





					<!-- Working -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='30'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, 
																					click: function(){ 

																							$data.selectedValue(!$data.selectedValue());
																							category.options.filter(function(el) {return el.id=='31'})[0].selectedValue(false);

																					}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>
			
					</div>
			
					<!-- Kissing -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='31'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, 
																					click: function(){ 

																							$data.selectedValue(!$data.selectedValue());
																							category.options.filter(function(el) {return el.id=='30'})[0].selectedValue(false);


																					}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="grid_16 notesi extra_cost">
				
				<span data-bind="visible: category.options.filter(function(el) {return el.id=='30'})[0].selectedValue()" name="" style="display: block;">
					Note: Kissing buttons extra cost:
					<span data-bind="text: $root.kissingButtonsExtraCost()"></span>
					<span>$</span>
				</span>
			</div>

			<h2>Select Your Sleeves Buttons Contrasts</h2>

			<!-- line of options for 1 button-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='38'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_collor_popup');},
																											css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='43'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_hole_popup');},
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='48'})[0], style:{visibility : $root.garmentsDesignStep.checkButtonsTuxedo()() ? 'hidden' : 'visible'}">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_thread_popup');},
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 2 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='39'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_collor_popup');},
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='44'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_hole_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='49'})[0], style:{visibility : $root.garmentsDesignStep.checkButtonsTuxedo()() ? 'hidden' : 'visible'}">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_thread_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 3 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='40'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_collor_popup');},
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='45'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_hole_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='50'})[0], style:{visibility : $root.garmentsDesignStep.checkButtonsTuxedo()() ? 'hidden' : 'visible'}">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_thread_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 4 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=4 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 4</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='41'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_collor_popup');},
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='46'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_hole_popup');},
																																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='51'})[0], style:{visibility : $root.garmentsDesignStep.checkButtonsTuxedo()() ? 'hidden' : 'visible'}">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_thread_popup');},
																																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 5 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=5 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 5</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='42'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_collor_popup');},
																																							css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='47'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_hole_popup');},
																																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='52'})[0], style:{visibility : $root.garmentsDesignStep.checkButtonsTuxedo()() ? 'hidden' : 'visible'}">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_thread_popup');},
																																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- Sleeves Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id=='32'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>

		</div>


		<!-- Pocket Style
					
					██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
					██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
					██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
					██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
					██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
					╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
					                                                                                                
					
				-->
		<div data-bind="if: category.id == '8' ">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Pocket Style -->
			<div data-bind="with: $data.options.filter(el=>el.id=='33')[0]">
				
				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4" style="min-height: 353px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
						<span class="new_main_option_title" data-bind="text:value.name"></span>
						<img data-bind="attr:{src: value.image}" class="example">
						<!-- selection box !! -->
						<div class='selection-box'>
							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
								<thead>
									<tr>
										<th class="left">garment</th>
										<th class="right">Ticket<br>Pocket</th>
										<th class="right">Notes</th>
										<th class="right" style="padding-right: 8px;">select</th>
									</tr>
								</thead>

								<tbody>

									<tr data-bind="visible: value.clicked() ||
									                        ( category.options.filter(el=>el.id=='33')[0].selectedValue() &&
									                        category.options.filter(el=>el.id=='33')[0].selectedValue().id == value.id ),
												   css : { 'opaque-row' : category.options.filter(el=>el.id=='33')[0].selectedValue() &&
												                          category.options.filter(el=>el.id=='33')[0].selectedValue().id != value.id }">
										<td class="left">#1</td>
										<!-- ticket pocket -->
										<td class="right" data-bind="with: category.options.filter(el=>el.id=='34')[0]">
											<input type="checkbox" class="labeled-checkbox" name="" id=" epauletteCheckbox" data-bind="checked: $data.selectedValue">
											<label for="epauletteCheckbox" data-bind="click: function(){$data.selectedValue(!$data.selectedValue())}"></label>
										</td>
										<!-- Notes -->
										<td class="right" data-bind="with: category.options.filter(el=>el.id=='35')[0]">
											<div class="open_style_notes" data-bind="click: function() { $('#notes-jacket-pocket-' + $parents[3].unique_id).show(); }">SHOW</div>
										</td>
										<!-- select button -->
										<td class="right" data-bind="with: category.options.filter(el=>el.id=='33')[0]">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>
				
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			
			</div>

			<!-- notes option -->
			<div data-bind="with: $data.options.filter(el=>el.id=='35')[0]">
			
				<div data-bind="with: category.options.filter(el=>el.id=='35')[0]">
			
					<div data-bind="attr: { id : 'notes-jacket-pocket-' + $parents[2].unique_id }" class="notes-pop-up" style="display: none">
			
						<div class="notes-textarea-wrapper">
							<p data-bind="text: 'notes for '+ category.name"></p>
							<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
							<button class="notes-save-btn" data-bind="click: function() { $('#notes-jacket-pocket-' + $parents[2].unique_id).hide(); } ">Save
								and Close</button>
						</div>
					</div>
			
					</div>
			</div>
	
	
			
		</div>

		<!-- Breast Pocket
					
					██████╗ ██████╗ ███████╗ █████╗ ███████╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗
					██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝
					██████╔╝██████╔╝█████╗  ███████║███████╗   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   
					██╔══██╗██╔══██╗██╔══╝  ██╔══██║╚════██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   
					██████╔╝██║  ██║███████╗██║  ██║███████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   
					╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   
					                                                                                                       
					
				-->
		<div data-bind="if: category.id == '9' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '36'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																													css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>

		<!-- General Notes
					
					 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
					██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
					██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
					██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
					╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
					 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
					                                                                                                           
					
				-->
		<div data-bind="if: category.id == '10' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '37'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>

		<!-- Lapel Details
					
					██╗      █████╗ ██████╗ ███████╗██╗         ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
					██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
					██║     ███████║██████╔╝█████╗  ██║         ██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
					██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
					███████╗██║  ██║██║     ███████╗███████╗    ██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
					╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
					                                                                                                
		
				-->
		<div data-bind="if: category.id == '11' ">

			<h2>Select Top Stitch Options</h2>

			<!-- line of options (top stitch) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lapel -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='25'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Lapel</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>
			
					<!-- Pocket -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='26'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Pocket</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>
			
					<!-- Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='27'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">
							<span class="myboxesincheckname smallertag">Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
					
						<!-- pop up -->
						<div id="jacket_top_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_top_stitch_collor_popup');},
																																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_16 notesi" style="width: 97%;">
				<span name="extratrimcost">Note: Top Stitch Options cost $90.00 extra</span>
			</div>

			
			<!-- if tuxedo is selected -->
			<!-- ko if: $root.garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '1'})[0].options.filter(function(el) {return el.id=='3'})[0].selectedValue()  -->
			<h2>Select Tuxedo Lapel Options</h2>
			
			<!-- line for tuxedo options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 65%">
					<div class="contrastman">
						<!-- Lapel -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='17'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Lapel</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Pocket -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='21'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Pocket</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Edging -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='19'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Edging</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Collar -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='18'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Collar</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
						<!-- Breast Pockets -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='22'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Breast Pockets</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Buttons -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='23'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Buttons</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Colour -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='20'})[0]" style="float: right">
							<!-- button -->
							<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">
								<span class="myboxesincheckname smallertag">Colour</span>

							</div>
						
							<!-- pop up -->
							<div id="jacket_tuxedo_collor_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4 data-bind="text: 'Set ' + $data.name"></h4>
									<input type="text" data-bind="value: $data.selectedValue" style="margin-bottom: 16px;">
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">Save
										And Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_16 notesi" style="width: 97%">
				<span name="extratrimcost">Note: Satin Trimming Options cost $200.00 extra</span>
			</div>
			<!-- /ko -->

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Tuxedo Lapel Notes -->
				<!-- if tuxedo is selected -->
				<!-- ko if: $root.garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '1'})[0].options.filter(function(el) {return el.id=='3'})[0].selectedValue()  -->
				<div data-bind="if: option.id == '24'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
				<!-- /ko -->

				<!-- Sticth Lapel Notes -->
				<div data-bind="if: option.id == '28'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
			</div>

		</div>

		<!-- Monogram
		
					███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗  ██████╗ ██████╗  █████╗ ███╗   ███╗
					████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
					██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║██║  ███╗██████╔╝███████║██╔████╔██║
					██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║██║   ██║██╔══██╗██╔══██║██║╚██╔╝██║
					██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
					╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
					                                                                            
		
				 -->
		<div data-bind="if: category.id == '46'">
			<h2>Lining Piping options</h2>


			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lining -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='124'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_lining_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_lining_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" >
								
									<!-- no extra costs linings -->
									<h2>Without extra charge</h2>
									<div data-bind="foreach: { data: $data.values.filter(el=>el.price == 'no'), as: 'value' }"
										style="width: 100%; min-height: 56px;">
										<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_lining_popup');},
																																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
											<span class="new_main_option_title" data-bind="text:value.name"></span>
											<img data-bind="attr:{src: value.image}" class="example lining-preview">
										</div>
									
									
									</div>
									<!-- extra costs linings -->
									<br>
									<h2>With extra charge</h2>
									<div data-bind="foreach: { data: $data.values.filter(el=>el.price == 'yes'), as: 'value' }"
										style="width: 100%; min-height: 56px;">
									
										<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_lining_popup');},
																																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
											<span class="new_main_option_title" data-bind="text:value.name"></span>
											<img data-bind="attr:{src: value.image}" class="example lining-preview">
										</div>
									
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_lining_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- Pipping -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='125'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_pipping_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pipping_popup');},
																																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- Pocket Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='126'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_pckt_color_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pckt_color_popup');},
																																																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- notes: temporary -->
					<!-- <div class="myboxesincheck"> <span class="myboxesincheckname">Notes</span>
						<div class="thirty_optioncell open_style_notes right_position">Lining Notes</div>
					</div> -->
			
				</div>
			
			</div>

			<!-- Do not make monogram for uniform template -->
			<!-- ko if: false -->
			<h2>Customise your Monogram</h2>
			
			<!-- line 1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- first line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='128'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Header or leave empty for no Header" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>
			
			<!-- line 2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- second line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='129'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>
			
			
			<!-- line 3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- 3 line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='130'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>

			<!-- other options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Other Options</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- stitch color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='239'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">
								<span class="myboxesincheckname smallertag">Colour</span>
								<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
								<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
							</div>
						
							<!-- pop up -->
							<div id="jacket_monogram_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4 data-bind="text: 'Select ' + $data.name"></h4>
									<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
										<div class="option-value1 grid_4" data-bind="click: function() {
																										changeVisibilityDiv('jacket_monogram_stitch_collor_popup');
																										$root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																									},
																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
											<span class="new_main_option_title" data-bind="text:value.name"></span>
											<img data-bind="attr:{src: value.image}" class="example">
										</div>
									</div>
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">Save
										And Close</a>
								</div>
							</div>
					</div>
			
					<!-- Stitch notes -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='240'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">
							<span class="myboxesincheckname">Notes</span>
							<div class="thirty_optioncell open_style_notes right_position">Stitch notes</div>
						</div>
					
						<!-- pop up -->
						<div id="jacket_monogram_stitch_note_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">Save
									And Close</a>
							</div>
						</div>
					
					</div>
	
					
				
				
				</div>
			
			</div>
			<!-- /ko -->
			
			<!-- Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id=='127'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>
			

		</div>


		<!-- Custom Data
				
					 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
					██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
					██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
					██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
					╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
					 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
					                                                                                           
		
				-->


		<div data-bind="if: category.id == '68' ">
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				
				<!-- ko if: $root.garmentsDesignStep.hasCustomDesign().includes(option.id) -->
				
					<div class="row design-opt-el">
						<div class="col-md-3">
							<strong>
								<p data-bind="text: option.name"></p>
							</strong>
						</div>

						<div class="col-md-3">
							<button class="custom-img-btn" data-bind="click: function() { $root.garmentsDesignStep.takeOptionCustomImage(option); }">Take
								Custom Image</button>
							<button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
														click: function() { $root.garmentsDesignStep.clearCustomOptionImage(option); }">Clear
								Image</button>
						</div>

						<div class="col-md-6" data-bind="visible: option.selectedValue()">

							<img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">

						</div>


					</div>

				<!-- /ko -->

			</div>

			<!-- ko if: !$root.garmentsDesignStep.hasCustomDesign().length > 0 -->
			<h2>No Custom Data</h2>
			<!-- /ko -->

		</div>






		<!-- Show selected category -->
		<!-- DANGER: THIS CAUSES THE SYSTEM TO BE VEEEEEERY SLOW IN SOME CASES --- ONLY USE THIS FOR DEBUG PHASE -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->




	</div>


</div>

<!-- image 3d -->
<!--
	██╗███╗   ███╗ █████╗  ██████╗ ███████╗    ██████╗ ██████╗ 
	██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝    ╚════██╗██╔══██╗
	██║██╔████╔██║███████║██║  ███╗█████╗       █████╔╝██║  ██║
	██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝       ╚═══██╗██║  ██║
	██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗    ██████╔╝██████╔╝
	╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═════╝ ╚═════╝ 
	                                                           
	-->
<!-- import template -->
<div id="3dJacketWrapper">
</div>

<!-- build from template -->
<!-- ko if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric' -->
<div data-bind="template: { name: 'jacket3DTemplate', data: $root.garmentsDesignStep.selectedGarment }"></div>
<!-- /ko -->

<script>
	// import uniform template
	$('#3dJacketWrapper').load('uniforms_designs/images_3d_teplates/jacket3D.htm');
</script>