<div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

    <div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

        <!-- Fabric
				
			███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
			██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
			█████╗  ███████║██████╔╝██████╔╝██║██║     
			██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║     
			██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
			╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝
													
		-->
        <div data-bind="if: 0 && $data.id == '12' ">

            <h2 data-bind="text: $data.name"></h2>

            <div data-bind="foreach: { data: category.options, as: 'option' } ">

                <!-- Fabric-->
                <div data-bind="if: option.id == '54'">

                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>
                    <input type="text" data-bind="value: option.selectedValue">

                </div>

                <!-- notes -->
                <div data-bind="if: option.id == '55'">

                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>
                    <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

                </div>

            </div>

        </div>

        <!-- Fit
							
			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║   
			██╔══╝  ██║   ██║   
			██║     ██║   ██║   
			╚═╝     ╚═╝   ╚═╝   
								
						-->
        <div data-bind="if: $data.id == '13' ">

            <h2 data-bind="text: $data.name"></h2>

            <div data-bind="foreach: { data: category.options, as: 'option' } ">

                <!-- fit-->
                <div data-bind="if: option.id == '56'">
                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>

                    <div class="option-wrapper1 option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
                        <div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																																			css: { 'selected-val' : value.selected() }">
                            <span class="new_main_option_title" data-bind="text:value.name"></span>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Pant Style
			
			██████╗  █████╗ ███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔══██╗████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝███████║██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██╔══██║██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ██║  ██║██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                 
		-->
        <div data-bind="if:  category.id == '14'">
            <h2 data-bind="text: $data.name"></h2>

            <!-- Pant Style option -->
            <div data-bind="with: $data.options.filter(el=>el.id=='57')[0]">

                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>

                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
                    
                    <div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
                                                                 css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">

                        <!-- selection box !! -->
                        
                        <div class='selection-box' data-bind="">
                            

                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>

                                
                                <tbody>
                                    
                                    <tr data-bind=" visible : value.clicked() ||
                                                             ( category.options.filter(el=>el.id=='57')[0].selectedValue() &&
                                                             category.options.filter(el=>el.id=='57')[0].selectedValue().id == value.id ),
                                                    css     : { 'opaque-row' : category.options.filter(el=>el.id=='57')[0].selectedValue() &&
                                                                               category.options.filter(el=>el.id=='57')[0].selectedValue().id != value.id }">
                                        <td class="left">
                                            <span data-bind="text:  '#' +($index()+1)"></span>
                                        </td>
                                        <td class="right" data-bind="with: category.options.filter(el=>el.id=='57')[0]">
                                                
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]); }, attr:{for: value.name+'checkbox'}"> </label>

                                        </td>
                                        <!-- notes -->
                                        <td class="td-option">
                                            <div class="open_style_notes" data-bind="click: function() { $('#notes-pants-style-' + $parents[2].unique_id).show(); }">SHOW</div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                        </div>

                    </div>


                </div>




            </div>

            <!-- Pants style Notes -->
            <div data-bind="with: $data.options.filter(el=>el.id=='58')[0]">

                <div data-bind="attr: { id : 'notes-pants-style-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">

                    <div class="notes-textarea-wrapper">
                        <p data-bind="text: 'Notes for '+ category.name"></p>	
                        <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                        <button class="notes-save-btn" data-bind="click: function() { $('#notes-pants-style-' + $parents[1].unique_id).hide(); } ">Save and Close</button>
                    </div>

                </div>

            </div>
    
        </div>


        <!-- Pleats Style
		
			██████╗ ██╗     ███████╗ █████╗ ████████╗███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██║     ██╔════╝██╔══██╗╚══██╔══╝██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║     █████╗  ███████║   ██║   ███████╗    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██║     ██╔══╝  ██╔══██║   ██║   ╚════██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ███████╗███████╗██║  ██║   ██║   ███████║    ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->

        <div data-bind="if: category.id == '15'">

    
            <h2 data-bind="text: $data.name"></h2>
            
            <!-- Pleats Style -->
            <div data-bind="with: $data.options.filter(el=>el.id=='59')[0]">

                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>


                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
                    
                    <div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
                                                                 css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">

                        <!-- selection box !! -->
                        
                        <div class='selection-box' data-bind="">
                            

                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>

                                <tbody>
                                            
                                
                                    <tr data-bind="visible : value.clicked() ||
                                                             ( category.options.filter(el=>el.id=='59')[0].selectedValue() &&
                                                             category.options.filter(el=>el.id=='59')[0].selectedValue().id == value.id ),
                                                   css     : { 'opaque-row' : category.options.filter(el=>el.id=='59')[0].selectedValue() &&
                                                                              category.options.filter(el=>el.id=='59')[0].selectedValue().id != value.id }">
                                        <td class="left"><span data-bind="text:  '#' +($index()+1)"></span></td>
                                        <td class="right" data-bind="with: category.options.filter(el=>el.id=='59')[0]">
                                                
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() {
                                                                                                                // select current options
                                                                                                                $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]);
                                                                                                                
                                                                                                                // if selected option is double Pleats or triple pleats, select no pocket
                                                                                                                if (['1257','1260'].includes(value.id)){
                                                                                                                    let front_pocket_option = $parents[3].categories.filter(el=>el.id=='16')[0].options.filter(el=>el.id=='61')[0];
                                                                                                                    $root.garmentsDesignStep.setOptionValue(front_pocket_option, front_pocket_option.values.filter(el => el.id == '1264')[0]);
                                                                                                                }
                                                                                                        },
                                                                                                attr:{for: value.name+'checkbox'}"> </label>

                                        </td>
                                        <td class="td-option">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-pleats-style-' + $parents[2].unique_id).show(); }">SHOW</div>
                                        </td>

                                    </tr>


                                </tbody>

                            </table>

                                

                        </div>

                        
                    </div>


                </div>

            </div>


            <!-- Notes for Pleats Style -->
            <!-- The notes should be hidden and we use jquery to show/hide them -->
            <div data-bind="with: $data.options.filter(el=>el.id=='60')[0]">
                
                <!-- <strong>
                    <p data-bind="text: $data.name"></p>
                </strong> -->

                    
                <div data-bind="with: category.options.filter(el=>el.id=='60')[0]">

                    <div data-bind="attr: { id : 'notes-pleats-style-' + $parents[2].unique_id }" class="notes-pop-up" style="display: none">

                        <div class="notes-textarea-wrapper">
                            <p data-bind="text: 'Notes for '+ category.name"></p>	
                            <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                            <button class="notes-save-btn" data-bind="click: function() { $('#notes-pleats-style-' + $parents[2].unique_id).hide(); } ">Save and Close</button>
                        </div>
                    </div>

                </div>

            </div>
    
    
    
        </div>

        <!-- Front pockets 		
			
			███████╗██████╗  ██████╗ ███╗   ██╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			█████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                                          
		-->

        <div data-bind="if: category.id == '16'">

    
            <h2 data-bind="text: $data.name"></h2>
            

            <!-- Front Pocket -->
            <div data-bind="with: $data.options.filter(el=>el.id=='61')[0]">

                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>

                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

                    <div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
                                                                 css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
                        <!-- selection box !! -->
                        
                        <div class='selection-box' data-bind="">
                            

                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <!-- if pants pleats is DOUBLE or TRIPLE, do not show SLANTED WELT|STRAIGHT WELT|MODERN CURVED|JEANS pockets -->
                                    <!-- ko if: $parents[2].categories.filter(el=>el.id=='15')[0].options.filter(el=>el.id=='59')[0].selectedValue() &&
                                        !(['1257', '1260'].includes($parents[2].categories.filter(el=>el.id=='15')[0].options.filter(el=>el.id=='59')[0].selectedValue().id) && ['1266', '1267', '1263', '1262'].includes(value.id))
                                    -->
                                    <tr data-bind="visible : value.clicked() ||
                                                             ( category.options.filter(el=>el.id=='61')[0].selectedValue() &&
                                                             category.options.filter(el=>el.id=='61')[0].selectedValue().id == value.id ),
                                                   css     : { 'opaque-row' : category.options.filter(el=>el.id=='61')[0].selectedValue() &&
                                                                              category.options.filter(el=>el.id=='61')[0].selectedValue().id != value.id }">
                                        <td class="left"><span data-bind="text:  '#' +($index()+1)"></span></td>
                                        <td class="right" data-bind="with: category.options.filter(el=>el.id=='61')[0]">
                                                
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]); }, attr:{for: value.name+'checkbox'}"> </label>

                                        </td>

                                        <td class="td-option">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-front-pocket-' + $parents[2].unique_id).show(); }">SHOW</div>
                                        </td>

                                    </tr>
                                    <!-- /ko -->


                                </tbody>


                            </table>

                                

                        </div>


                    </div>
                </div>
                

            </div>

            <!-- Notes for Front pockets -->
            <div data-bind="with: $data.options.filter(el=>el.id=='62')[0]">

                
                    
                <div data-bind="with: category.options.filter(el=>el.id=='62')[0]">

                    <div data-bind="attr: { id : 'notes-front-pocket-' + $parents[2].unique_id }" class="notes-pop-up" style="display: none">

                        <div class="notes-textarea-wrapper">
                            <p data-bind="text: 'Notes for ' + category.name "></p>	
                            <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                            <button class="notes-save-btn" data-bind="click: function() { $('#notes-front-pocket-' + $parents[2].unique_id).hide(); } ">Save and Close</button>
                        </div>
                    </div>

                </div>
                

            </div>
    
    
        </div>
    

        <!-- Back Pockets
			
			██████╗  █████╗  ██████╗██╗  ██╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			██████╔╝███████║██║     █████╔╝     ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══██╗██╔══██║██║     ██╔═██╗     ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██████╔╝██║  ██║╚██████╗██║  ██╗    ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                              
		-->

        <div data-bind="if: category.id == '17'">

            <h2 data-bind="text: $data.name"></h2>
            

            <!-- Front pockets -->
            <div data-bind="with: $data.options.filter(el=>el.id=='63')[0]">

                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>

                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

                    <div class="option-value1 grid_4" style="width: 200px;"
                    data-bind="click: function() { $root.garmentsDesignStep.setValueClicked($parent, value); },
                               css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">


                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); }, attr:{src: value.image}" class="example">
                        

                        <div class='selection-box'>
                            
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

                                <thead>

                                    <tr>
                                        <th class="left">Garment</th>

                                        <th class="" style="padding-right: 2px;">Select</th>

                                        <th class="">Notes</th>

                                        <!-- ko if: value.id != '1272' -->
                                            <th class="" style="right: 4px;position: relative; margin-left: 5px;">Position</th>
                                        <!-- /ko -->
                                    </tr>

                                </thead>

                                <tbody>
                                    
                                    <tr data-bind="visible : value.clicked() ||
                                                             ( category.options.filter(el=>el.id=='63')[0].selectedValue() &&
                                                             category.options.filter(el=>el.id=='63')[0].selectedValue().id == value.id ),
                                                    css     : { 'opaque-row' : category.options.filter(el=>el.id=='63')[0].selectedValue() &&
                                                                               category.options.filter(el=>el.id=='63')[0].selectedValue().id != value.id }">
                                        
                                        <td class=""><span data-bind="text:  '#' +($index()+1)"></span></td>
                                        <!-- back pockets position -->
                                        
                                        <!-- Back pocket style -->
                                        <td class="" data-bind="with: category.options.filter(el=>el.id=='63')[0]">
                                                
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values.filter(el=>el.id==value.id)[0].selected(), attr:{ id: $data.values.filter(el=>el.id==value.id)[0].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($data, $data.values.filter(el=>el.id==value.id)[0]); }, attr:{for: value.name+'checkbox'}"> </label>

                                        </td>

                                        <td class="td-option">
                                            <div class="open_style_notes" data-bind="click: function() { $('#notes-back-pocket-' + $parents[2].unique_id).show(); }">SHOW</div>
                                        </td>

                                        <!-- ko if: value.id != '1272' -->
                                            <td class="td-option" data-bind="with: category.options.filter(el=>el.id=='65')[0]">
                                                <select  class="mikrosss mikrosss2" style="margin-right: 6px;margin-left: 7px;" data-bind=
                                                    "options: $data.values,
                                                    click: function() { }, 
                                                    clickBubble: false,
                                                    optionsText: 'name',
                                                    value: $data.selectedValue">
                                                </select>
                                            </td>
                                        <!-- /ko -->
                                    </tr>

                                </tbody>

                            </table>
                            




                        </div>

                    </div>

                </div>


            </div>

            <!-- Notes for back pocket -->

            <div data-bind="with: $data.options.filter(el=>el.id=='64')[0]">

                <div data-bind="attr: { id : 'notes-back-pocket-' + $parents[1].unique_id }" class="notes-pop-up" style="display: none">

                    <div class="notes-textarea-wrapper">
                        <p data-bind="text: 'Notes for ' + category.name"></p>	
                        <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                        <button class="notes-save-btn" data-bind="click: function() { $('#notes-back-pocket-' + $parents[1].unique_id).hide(); } ">Save and Close</button>
                    </div>
                </div>


            </div>
    
                
    
            
        </div>

        <!-- Belt & Cuffs

			██████╗ ███████╗██╗  ████████╗       ██╗        ██████╗██╗   ██╗███████╗███████╗███████╗
			██╔══██╗██╔════╝██║  ╚══██╔══╝       ██║       ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
			██████╔╝█████╗  ██║     ██║       ████████╗    ██║     ██║   ██║█████╗  █████╗  ███████╗
			██╔══██╗██╔══╝  ██║     ██║       ██╔═██╔═╝    ██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
			██████╔╝███████╗███████╗██║       ██████║      ╚██████╗╚██████╔╝██║     ██║     ███████║
			╚═════╝ ╚══════╝╚══════╝╚═╝       ╚═════╝       ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝
			                                                                                        
		-->

        <div data-bind="if: category.id == '18' ">

            <h2 data-bind="text: $data.name"></h2>
            <div data-bind="foreach: { data: category.options, as: 'option' } ">

                <!-- Belt Loop -->
                <div data-bind="if: option.id == '66'">
                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>
                    <div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
                        <div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
                            <span class="new_main_option_title" data-bind="text:value.name"></span>
                            <img data-bind="attr:{src: value.image}" class="example">
                            <!-- selection box !! -->
                            <div class='selection-box'>
                                <!-- ko if: value.clicked -->
                                <table class="valueTable">
                                    <tr>
                                        <th class="left">garment</th>
                                        <th class="right">cuffs</th>
                                        <th class="right" style="padding-right: 6px;">braces</th>
                                        <th class="right" style="padding-right: 4px;">select</th>
                                    </tr>
                                    <tr>
                                        <td class="left">#1</td>
                                        <!-- belt checkbox -->
                                        <td class="right td-option">
                                            <input type="checkbox" class="labeled-checkbox"" name="" id=" beltCheckbox"
                                                data-bind="checked: category.options.filter(function(el) {return el.id=='68'})[0].selectedValue">
                                            <label for="beltCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='68'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='68'})[0].selectedValue())}"></label>
                                        </td>
                                        <!-- braces checkbox -->
                                        <td class="right td-option">
                                            <input type="checkbox" class="labeled-checkbox"" name="" id="
                                                bracesCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='69'})[0].selectedValue">
                                            <label for="bracesCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='69'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='69'})[0].selectedValue())}"></label>
                                        </td>
                                        <!-- select style -->
                                        <td class="right">
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Belt Cufs no more in here. Do it in style selector-->
                <!-- <div data-bind="if: option.id == '68'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="checkbox" class="labeledCheckbox" name="" id="beltCheckbox" data-bind="checked: option.selectedValue">
					<label for="beltCheckbox"></label>
				</div> -->

                <!-- Braces no more in here. Do it in style selector-->
                <!-- <div data-bind="if: option.id == '69'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="checkbox" class="labeledCheckbox" name="" id="bracesCheckbox" data-bind="checked: option.selectedValue">
					<label for="bracesCheckbox"></label>
				</div> -->

                <!-- Notes for belt & cuffs -->
                <div data-bind="if: option.id == '67'">
                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>

                    <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
                </div>

            </div>
        </div>

        <!-- General Notes
			
			 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
			██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
			██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
			██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
			╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
			                                                                                                           
			
		-->
        <div data-bind="if: category.id == '19' ">

            <h2 data-bind="text: $data.name"></h2>
            <div data-bind="foreach: { data: category.options, as: 'option' } ">

                <!-- Style -->
                <div data-bind="if: option.id == '70'">
                    <strong>
                        <p data-bind="text: option.name"></p>
                    </strong>
                    <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

                </div>


            </div>
        </div>






        <!-- Custom Data
		
			 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
			██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
			██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
			██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
			╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
			 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
		-->
        <div data-bind="if: category.id == '65'">
            <!-- ko if: $root.garmentsDesignStep.hasCustomDesign().length > 0 -->
            <br style="clear: both">
            <h2 data-bind="text: $data.name"></h2>

            <div data-bind="foreach: { data: category.options, as: 'option' } ">

                <div class="row">
                    <div class="col-md-3">
                        <strong>
                            <p data-bind="text: option.name"></p>
                        </strong>
                    </div>

                    <div class="col-md-3">
                        <button class="custom-img-btn" data-bind="click: function() { $root.garmentsDesignStep.takeOptionCustomImage(option); }">Take
                            Custom Image</button>
                        <button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
						click: function() { $root.garmentsDesignStep.clearCustomOptionImage(option); }">Clear
                            Image</button>
                    </div>

                    <div class="col-md-6" data-bind="visible: option.selectedValue()">

                        <img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">

                    </div>


                </div>

            </div>
            <!-- /ko -->

            <!-- ko if: !$root.garmentsDesignStep.hasCustomDesign().length > 0 -->
            <h2>no custom data</h2>
            <!-- /ko -->


        </div>








        <!-- Show selected category -->
        <!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

    </div>

</div>

<!-- import template -->
<div id="3dPantWrapper">
</div>

<!-- build from template -->
<!-- ko if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric' -->
<div data-bind="template: { name: 'pants3DTemplate', data: $root.garmentsDesignStep.selectedGarment }"></div>
<!-- /ko -->


<script>
    // import uniform template
    $('#3dPantWrapper').load('uniforms_designs/images_3d_teplates/pants3D.htm');
</script>