<div data-role="none" id="specific_measurement_reorder" style="background: white;">

	<style>
		.garments-step-counter-wrapper {
			display: flex;
		}

		.garment-meas-el-wrapper {
			display: flex;
			flex-direction: column;
			width: 180px;
		}

		.garment-type-meas-img {
			width: 80px;
		}


		.garment-meas-tab {
			padding: 10px;
			border: 4px solid black;
			display: block;
			text-align: center;
			border-radius: 50%;
			margin-right: 20px;
			height: 110px;
			width: 110px;
			background: var(--grey-1);
			position: relative;
		}

		.meas-additional-info {
			flex-direction: column;
			display: flex;
		}
		.meas-additional-info span{
			font-size: 17px;
		}

		.meas-additional-info .title {
			text-transform: capitalize;
		}
		
		.meas-additional-info .value {
			font-weight: bold;
		}

		.meas-wrapper {
			margin-top: 18px;
		}

		.complete-measurement {
			position: absolute;
			z-index: 6;
			top: -11px;
			right: 0;
		}

		.garment-meas-input {
			height: 40px;
			border: none;
			font-size: 20px;
			text-align: center;
			width: 100%;
			font-weight: 900;
			border-radius: 5px;
		}

		.garment-meas-textarea {
			height: 100px;
			width: 100%;
			font-size: 20px;
			border: none;
		}

		.todo{
			color: red;
		}

		.footer button{
			border: none;
			border-radius: 5px;
			width: 120px;
			height: 36px;
			color: white;
			margin: 5px;
			background: var(--selected);

		}
		.footer button.save-btn {
			background: var(--green1);
		}

		.footer button.cancel-btn {
			background: var(--red);
		}

	</style>

    <div class="body">
        <div class="generic-pop-up specific-reorder-step-info-pop-up">
			<div class="close-pop-up" onclick="$('#specific_measurement_reorder .generic-pop-up').hide('slow')" style="position: absolute;right: 11px;">x</div>
			<div class="popup-body">
				<h2>Measurement</h2>

				<div style="display: flex;justify-content: space-between;margin-top: 18px;">
					<!-- list of garments to select -->
					<div class="garments-step-counter-wrapper">
						<!-- es6 -->
					</div>

					<!-- measurements history -->
					<div class="meas-additional-info">
						<span>
							<span class="title">last measurement - </span>
							<span class="value">xxx-xxx-xxx</span>
						</span>
					</div>

				</div>



				<!-- measurements of selected garment -->
				<div>
					<!-- fitline (visible only for jacket (and suit)) -->
					<div>

					</div>

					<!-- values -->
					<div class="meas-values-wrapper">
						<!-- es6 -->
					</div>

				</div>


			</div>
			<div class="j-footer justify-content-between footer">
				<button class="cancel-btn" onclick="$('#specific_measurement_reorder .generic-pop-up').hide('slow')">Cancel</button>
				<button class="save-btn">Save</button>
			</div>
		</div>
    </div>



	<!-- <div style="margin-top: 300px;"></div> -->

</div>