<div data-role="none" id="specific_payment_reorder" style="background: white;">

	<style>

        .popup-body {
            height: 92%;
        }

        .order-general-notes-textarea {
            width: 100%;
        }

        .extra-cost-input {
            width: 90%;
        }


        form#new-extra-cost{
        }

        form#new-extra-cost span{
            display: block;
        }

        form#new-extra-cost input{
            margin: 12px 0px;
            border-radius: 5px;
            width: 80%;
        }

        .checkbox-wrapper {
            display: flex;
            padding: 5px;
            background: var(--gray1);
        }

        .payments-checkbox {
            width: 30px;
            height: 30px;
        }
        .filler {
            border-bottom: 1px dashed #333;
        }

        .upload-cc-img-btn {
            border: none;
            border-radius: 5px;
            color: white;
            background: var(--grey-2);
            padding: 10px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .terms-wrapper {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
            z-index: 2000000;
            top: 0px;
            left: 0px;
        }

        .terms-inside-wrapper {
            margin: 0 auto;
            width: 60%;
            height: 80%;
            background: #FFF;
            padding: 15px;
            top: 5%;
            position: relative;
            border-radius: 10px;
        }

        .terms-text-wrapper {
            height: 468px;
            overflow-y: scroll;
        }

        .add-extra-cost-btn {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 1px solid #3c3c3b;
            border-top-color: rgb(60, 60, 59);
            border-right-color: rgb(60, 60, 59);
            border-bottom-color: rgb(60, 60, 59);
            border-left-color: rgb(60, 60, 59);
            border-top-color: rgb(60, 60, 59);
            border-right-color: rgb(60, 60, 59);
            border-bottom-color: rgb(60, 60, 59);
            border-left-color: rgb(60, 60, 59);
            border-radius: 0.351em;
            color: #3c3c3b;
            padding: 7px 0px !important;
            text-align: center;
            text-shadow: none;
            cursor: pointer;
            width: 100%;
        }

        .payment-checkbox-background {
            background: var(--grey-1);
            border-radius: 5px;
            color: black;
            width: 95%;
            font-weight: 500;
        }

        .payment-label-checkbox {
            top: 5px;
            position: relative;
            font-weight: 900;
        }

        .payment-hr {
            background: #c8c8c8 none repeat scroll 0 0;
            border: medium none;
            clear: both;
            height: 3px;
            margin: 30px auto;
            width: 90%;
        }

        .payment-input {
            margin: 6px 0px;
            min-height: 2.2em;
            text-align: left;
            border: 0;
            background: #ececec;
            -webkit-appearance: none;
            -webkit-border-radius: inherit;
            border-radius: 5px;
            font-size: 18px;
            width: 90%;
        }

        .signature-btn {
            background-color: var(--green1);
            color: white;
            text-shadow: 0 0px 0 #f3f3f3;
            border: none;
            padding: 10px;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 18px;
            border-radius: 5px;
            padding-right: 15px;
            padding-left: 15px;
            font-weight: 900;
        }

        .signature-btn.signature-not-submitted{
			background: var(--orange);
		}

        .clear-signature{
            background: var(--red);
            color:white;
        }

        .remove-extra-cost {
            color: white;
            background: red;
            border: none;
            padding: 0px 0px 3px 18px;
            margin: 20px auto 0 auto;
            display: block;
            border-radius: 13px;
        }

        .cost-description {
            font-size: 18px;
            font-weight: 900;
        }

        .copy-order-city-btn {
            background-color: var(--green1);
            color: white;
            border: none;
            border-radius: 3px;
            padding: 4px 17px;
            font-size: 15px;
            font-weight: 600;
        }


		.todo{
			color: red;
		}

		.footer button{
			border: none;
			border-radius: 5px;
			width: 120px;
			height: 36px;
			color: white;
			margin: 5px;
			background: var(--selected);

		}
		.footer button.save-btn {
			background: var(--green1);
		}

		.footer button.cancel-btn {
			background: var(--red);
		}

	</style>

    <div class="body">
        <div class="generic-pop-up specific-reorder-step-info-pop-up" style="">
			<div class="close-pop-up" onclick="$('#specific_payment_reorder .generic-pop-up').hide('slow')" style="position: absolute;right: 11px;">x</div>
			<div class="popup-body">
				<h2>Payment</h2>

                <!-- order breakdown -->
                <div>
                    <h3 style="margin: 20px 0;">Order Breakdown</h3>

                    <!-- (initial checkboxes) -->
                    <div class="row"  style="display: none;">
                        <div class="col-md-3">
                            <button class="add-extra-cost-btn">Add Extra Cost</button>
                        </div>

                        <div class="col-md-3">

                            <div class="payment-checkbox-background">
                                <div class="checkbox-wrapper">
                                    <input id="include-company-invoice" data-cacheval="false" type="checkbox" class="payments-checkbox" />
                                    <label class="payment-label-checkbox" for="include-company-invoice"> Include Company invoice</label>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="payment-checkbox-background">
                                <div class="checkbox-wrapper">
                                    <input id="mail-customer-incoive" data-cacheval="false" type="checkbox" class="payments-checkbox" />
                                    <label class="payment-label-checkbox" for="mail-customer-incoive"> Mail Customer Invoice</label>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-3">

                            <div class="payment-checkbox-background">
                                <div class="checkbox-wrapper">
                                    <input id="future-order" data-cacheval="false" type="checkbox" class="payments-checkbox" />
                                    <label class="payment-label-checkbox" for="future-order"> Future Order</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- special events -->
                    <div class="row"  style="display: none;">
                        <div class="col-md-3">
                            <div class="checkbox-wrapper">
                                <label class="payment-label-checkbox" for="special-event-input">Special Event</label>
                                <input id="special-event-input" data-cacheval="false" type="checkbox" class="payments-checkbox" style="margin-left: 15px;" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- if special event is TRUE -->
                            <div class="">
                                <div class="payment-input" style="width: 90%;">
                                    <input
                                        type="date"
                                        class="special-date-input form-control"
                                        style="border: none; background: transparent;"
                                        min="new Date().toISOString().slice(0,10)" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- discount code -->
                    <div class="row" style="display: none;">
                        <div class="col-md-3">
                            <span>Discount Code</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="payment-input" style="width: 90%"/>
                        </div>
                    </div>

                    <!-- in case special event is TRUE -->
                    <div class="invoice-company-included"  style="display: none;">
                        <div class="row">

                            <div class="col-md-3">
                                <p>Company Name</p>
                            </div>

                            <div class="col-md-9">
                                <input type="text" class="payment-input company_name"/>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <p>Product Description</p>
                            </div>

                            <div class="col-md-9">
                                <input type="text" class="payment-input product_description"/>
                            </div>

                        </div>
                    </div>

                    <!-- list of costs -->
                    <div class="list-of-costs-wrapper">


                    </div>
                </div>

                <!-- deposit details -->
                <div class="deposit-details">
                    <h3>Deposit Details</h3>
                    <br style="clear: both;">

                    <!-- method -->
                    <div class="row">

                        <div class="col-md-3">
                            <label for="paymentMethod">Payment method:</label>
                        </div>

                        <div class="col-md-9">
                            <select name="paymentMethod" id="paymentMethod">
                                <!-- options inserted via es6 -->
                            </select>
                        </div>
                    </div>

                    <br>

                    <!-- value -->
                    <div class="row">

                        <div class="col-md-3">
                            <p>Deposit Value:</p>
                        </div>

                        <div class="col-md-9">
                            <input type="number" class="payment-input" id="deposit-value" style="width: 100px;text-align: right;">
                        </div>

                    </div>

                    <!-- comments -->
                    <div class="row">

                        <div class="col-md-3">
                            <p>Deposit Comments:</p>
                        </div>

                        <div class="col-md-9">
                            <input class="payment-input" id="deposit-comments" style="width: 100%;">
                        </div>
                    </div>

                    <!-- If method == Credit cards or EFTPOS -->
                    <!-- credit card -->
                    <div class="row credit-card-wrapper" style="display: none">

                        <div class="col-md-3">
                            <p>Deposit Comments:</p>
                        </div>

                        <div class="col-md-9">
                            <!-- CC image uploader -->
                            <button data-role="button" class="upload-cc-img-btn">Take CC image Receipt</button><br>
                            <br>
                            <br>
                            <!-- image -->
                            <div style="display: inline-block;position: relative;" class="cc-image-wrapper">
                                <!-- es6 -->
                            </div>

                        </div>

                    </div>

                    <!-- If method == Bank transfer -->
                    <div class="row bank-transfer" style="display: none;">
                        <div class="col-md-3">
                            <p>Choose Bank</p>
                        </div>

                        <div class="col-md-9">
                            <select id="bank-transfer-select">
                                <option value="">Bank</option>
                                <option value="ANZ">ANZ</option>
                                <option value="COM">COM</option>
                                <option value="STG">STG</option>
                            </select>
                        </div>

                    </div>

                </div>

                <!-- order requests -->
                <div>
                    <!-- order city -->
                    <div class="row">
                        <div class="col-md-3">
                            <span>Order City</span>
                        </div>
                        <div class="col-md-9">
                            <select id="orderCountry">
                                <!-- options inserted via es6 -->
                            </select>
                            <select id="orderState">
                                <!-- options inserted via es6 -->
                            </select>
                            <select id="orderCity">
                                <!-- options inserted via es6 -->
                            </select>
                        </div>
                    </div>

                    <!-- fitting city -->
                    <div class="row">
                        <div class="col-md-3">
                            <span>Fitting City</span>
                        </div>
                        <div class="col-md-9">
                            <select id="fittingCountry">
                                <!-- options inserted via es6 -->
                            </select>
                            <select id="fittingState">
                                <!-- options inserted via es6 -->
                            </select>
                            <select id="fittingCity">
                                <!-- options inserted via es6 -->
                            </select>
                        </div>
                    </div>

                    <!-- comments -->
                    <div class="row">
                        <div class="col-md-3">
                            <p>Order's General Notes and requests:</p>
                        </div>

                        <div class="col-md-9">
                            <textarea class="order-general-notes-textarea payment-input" id="location-comments"></textarea>
                        </div>
                    </div>

                </div>

                <!-- signature -->
                <div class="row signature-wrapper">
                    <!-- inserted via es6 -->
                </div>

                <!-- terms and conditions -->
                <div>
                    <!--
                    //.......................................................
                    //.TTTTTTTTTTTe..........................................
                    //.TTTTTTTTTTTe..........................................
                    //.TTTTTTTTTTTe..........................................
                    //....TTTTT...eeeeeee..errrrrrrmmmmmmmmmmmmm...sssssss...
                    //....TTTTT..Teeeeeeee.errrrrrrmmmmmmmmmmmmmm.mssssssss..
                    //....TTTTT..Teeeeeeeeeerrrrrrrmmmmmmmmmmmmmmmmssssssss..
                    //....TTTTT.TTeee.eeeeeerrrrr.rmmmmmmmmm.mmmmmmssssssss..
                    //....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
                    //....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmm.ssssssss..
                    //....TTTTT.TTeee..eeeeerrr...rmmm..mmmm.mmmmmmssssssss..
                    //....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
                    //....TTTTT..Teeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
                    //....TTTTT...eeeeeeee.errr...rmmm..mmmm.mmmmm.ssssssss..
                    //..............eeee............................sssss....
                    //.......................................................

                    -->
                    <div class="gAttr" data-target-attr="acceptTerms">
                        <div id="acceptTerms" style="width: 100%" class="termsbutton"> Review and accept our terms and conditions </div>
                    </div>

                    <div style="display:none;" class="terms-wrapper">

                        <div class="terms-inside-wrapper">
                            <div class="terms-text-wrapper">
                                <span id="termstext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">
                                    <div>
                                    <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Terms and Conditions </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">&ldquo;</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Customer&rdquo; </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">means any person who is purchasing items from the Supplier. </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">&ldquo;</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Supplier&rdquo; </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">means </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Germanicos Bespoke Tailors</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">, Australia. </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Germanicos may at any time modify any relevant terms and conditions, policies or notices. You acknowledge that by visiting the website from time to time, you shall become bound to the current version of the relevant terms and conditions (the "current version") and, unless stated in the current version, all previous versions shall be superseded by the current version. You shall be responsible for reviewing the then current version each time you visit the website. </span></p>
                                    <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Lead Time &amp; Delivery of Product </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">It is understood that turnaround and dispatch of the orders placed at the Supplier may vary from time to time depending on current order volumes, work schedules, fabric availability or a particular characteristic of the order placed. The Supplier will try its best to comply with the average turnaround of between 4 and 6 weeks. This is an estimated time frame of delivery, the supplier is not liable for any delays. For guaranteed delivery time lines, we have the </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">. </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service - </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Supplier guarantees delivery if a customer opts for this service. The Express Service has an additional fee of $300 AUD. This service will guarantee delivery between 2.5 to 4 weeks. If a customer chooses to pay the express fee, supplier guarantees delivery in the said time frame. We try our best to get the products in time while maintaining the quality, however if for whatever reason we are unable to deliver the product in time, a full refund can be applied upon request. </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">has a single fitting policy due to time constrain</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">ts from the customer&rsquo;s side. If </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">there is any alteration to be done to the garments, the customer can always bring the garments at a later stage for any alteration. </span></p>
                                    <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Payment Terms </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As we have to order fabrics for the orders placed with us, we will take a 50% deposit of the total amount and the balance to be paid by the customer on completion or when he/she picks up the garments and/or before we deliver/ship the garments to the customer. </span></p>
                                    <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Modes of Payment </span></p>
                                    <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">We accept the following credit cards (Visa, MasterCard &amp; AMEX), EFTPOS and Debit card payments. Customers can also do Bank Transfers (Applicable only for deposits and not for final payments) For all Bank Transfer payments the lead time commences from the time we have clear funds in our account and not from the time of order or when a customer sees us or transfers the money from their account. </span></p>
                                    </div>
                                    <div title="Page 2">
                                    <div>
                                    <div>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Design and Style </span></p>
                                    </div>
                                    </div>
                                    <div>
                                    <div>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">By accepting these terms and conditions on the POS system or otherwise, the customer agrees that he/she is happy with all the design options chosen while placing the order with us. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Once Design &amp; Style options are chosen they cannot be changed after production commences - Approximately 7 days after initial order. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Adjustments </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">100% fit and satisfaction policy </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">After your first appointment with Germanicos, a fitting will be organised once the garment is constructed. During this fitting the tailor will determine with you, whether any adjustments are required. Any adjustments that need to be made are conducted in-house at no cost to the client. We will do as many fittings as needed to get the garments 100% fit. In the rare case that a garment cannot be adjusted, Germanicos will organise for the client to be re-measured and the garment will be re-made. Once again, there is no cost to the client undergoing this process. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Change in Body Measurement </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As all our products are bespoke, we take various body measurements at the time of new order and make the garments accordingly. However, if the customer fluctuates more than 2 inches (from the time he has placed the order to 1st fitting); Germanicos will try its best to accommodate such changes and offer the best fit for the customer. Germanicos cannot be held liable for garments not fitting perfectly if severe body fluctuations occur. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">GST &amp; Taxes </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">The Australian GST tax rate applies to all orders delivered within Australia. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">International orders are exempt from Australian GST (10%); however they may incur taxes and duties applied by customs in the country where the order is delivered. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Any duties and taxes incurred in the country of destination are the responsibility of the customer. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">If you require fur</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">ther information about your country&rsquo;s taxes and duties you will need to contact </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">your local customs office directly. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">To comply with Australian export regulations, we are required to declare the exact value of all </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">items ordered and to mark them as dutiable &lsquo;merchandise&rsquo;. We are also prohibited by law from marking the order as a &lsquo;gift&rsquo;, even if order is placed with the intention of sending to a gift </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">recipient. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Cancellation </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As all our products are bespoke, we do not refund or replace for Change of Mind. However, if the order is cancelled within 24 hours from the time order placed and before the supplier has ordered fabric / started the process of making the product, a cancellation fee of $ 100 AUD is applicable which will be charged / deducted from the deposit paid by the customer. </span></p>
                                    </div>
                                    </div>
                                    </div><div title="Page 3">
                                    <div>
                                    <div>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Terms and Conditions of Gift Voucher Purchase &amp; Use </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">1. Germanicos gift vouchers can be exchanged for goods in all Germanicos studios. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">2. Gift vouchers may not be exchanged for cash. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">3. Gift vouchers are valid for 12 months from date of purchase. </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">4. If goods purchased value is less than the value of the gift voucher, any balance will be left as a credit for you with Germanicos, and will be redeemed against subsequent future orders. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Trade Marks </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">The trade marks, names, logos and service marks (collectively "trademarks") displayed on this website are registered and unregistered trademarks of the Website Owner. Nothing contained on this website should be construed as granting any licence or right to use any trade mark without the prior written permission of the Website Owner. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Legal Jurisdiction </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">All our customer contracts are governed by courts of Victoria, Australia and shall fall under the exclusive jurisdiction of Victorian Courts in Australia. English is the official language offered for the conclusion of the contract. </span></p>
                                        <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Disclaimer </span></p>
                                        <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Germanicos strives to give you accurate content, including product information, policies, pricing and visual displays. Policies, pricing, and item availability are subject to change without prior notice. Prices displayed are subject to change and final approval at the time of order fulfilment. Images are shown for representational purposes only. In the event Germanicos is unable to provide an actual image of a product, they reserve the right to substitute a similar image for the one described in the product information. While Germanicos tries in good faith to make sure that the information displayed is accurate, they are not responsible for typographical errors or technical inaccuracies.&nbsp;</span></p>
                                    </div>
                                    </div>
                                    </div>
                                </span>
                            </div>

                            <br style="clear: both">

                            <div class="container_12" class="terms-btn-wrapper">

                                <div class="col-md-4"><a class="decline-terms new-btn icon-cancel-danger new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"><span class="btn-small-letter">Cancel</span><span class="btn-letter"> &amp; Return</span></a></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><a class="accept-terms new-btn icon-next-submitanddesign new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"><span class="btn-small-letter">Accept</span><span class="btn-letter"> Terms</span></a></div>

                            </div>


                        </div>

                        <div class="clear"></div>

                    </div>
                    <!-- End terms and conditions -->
                </div>

                <!-- what is missing -->
                <div>

                </div>




			</div>
			<div class="j-footer justify-content-between footer">
				<button class="cancel-btn" onclick="$('#specific_payment_reorder .generic-pop-up').hide('slow')">Cancel</button>
				<button class="save-btn">Save</button>
			</div>
		</div>
    </div>



	<!-- <div style="margin-top: 300px;"></div> -->


</div>