<div data-role="none" id="specific_media_reorder" style="background: white;">

	<style>
        .popup-body {
            height: 92%;
        }

        /* this form */
        .detail-info-input {
            width: 98%;
            border: none;
            border-radius: 5px;
        }


        /* footer */
        .footer button{
			border: none;
			border-radius: 5px;
			width: 120px;
			height: 36px;
			color: white;
			margin: 5px;
			background: var(--selected);

		}
		.footer button.save-btn {
			background: var(--green1);
		}

		.footer button.cancel-btn {
			background: var(--red);
		}

    </style>

    <div class="body">
        <div class="generic-pop-up specific-reorder-step-info-pop-up" style="">
			<div class="close-pop-up" onclick="$('#specific_media_reorder .generic-pop-up').hide('slow')" style="position: absolute;right: 11px;">x</div>
			<div class="popup-body">

                <!-- Content -->
                <div class="cust-content">

                    <span>Personal Information</span>
                    <form class="validateForm">
                        <div class="row">

                        <!-- Left div -->
                        <div class="col-md-6">

                            <div>
                                <p class="preorder-info-p">First Name<span class="mandatoris">*</span>:</p>
                                <input class="detail-info-input" required data-value-key="customer_first_name">
                            </div>

                            <div>
                                <p class="preorder-info-p">Last Name<span class="mandatoris">*</span>:</p>
                                <input class="detail-info-input" required data-value-key="customer_last_name">
                            </div>

                            <div>
                                <p class="preorder-info-p">Occupation</p>
                                <input class="detail-info-input" data-value-key="customer_occupation" >
                            </div>

                            <div>
                                <p class="preorder-info-p">Company Name </p>
                                <input class="detail-info-input" data-value-key="customer_company_name">
                            </div>

                            <div>
                                <p class="preorder-info-p">Date of Birth: <span class="mandatoris">*</span></p>
                                    <div style="display: flex;">

                                        <div>
                                            <select data-role="none" class="DOB" data-value-key="_day_" name="DOB_day" id="DOB_day" required >

                                                <option value="">Day</option>    <option value="01">01</option>   <option value="02">02</option>   <option value="03">03</option>
                                                <option value="04">04</option>   <option value="05">05</option>   <option value="06">06</option>   <option value="07">07</option>
                                                <option value="08">08</option>   <option value="09">09</option>   <option value="10">10</option>   <option value="11">11</option>
                                                <option value="12">12</option>   <option value="13">13</option>   <option value="14">14</option>   <option value="15">15</option>
                                                <option value="16">16</option>   <option value="17">17</option>   <option value="18">18</option>   <option value="19">19</option>
                                                <option value="20">20</option>   <option value="21">21</option>   <option value="22">22</option>   <option value="23">23</option>
                                                <option value="24">24</option>   <option value="25">25</option>   <option value="26">26</option>   <option value="27">27</option>
                                                <option value="28">28</option>   <option value="29">29</option>   <option value="30">30</option>   <option value="31">31</option>

                                            </select>
                                        </div>
                                        <div>
                                            <select data-role="none" class="DOB" data-value-key="_month_" name="DOB_month" required id="DOB_month" >
                                                <option value="">   Month      </option>   <option value="01">January </option>    <option value="02">February  </option>
                                                <option value="03"> March      </option>   <option value="04">April   </option>    <option value="05">May       </option>
                                                <option value="06"> June       </option>   <option value="07">July    </option>    <option value="08">August    </option>
                                                <option value="09"> September  </option>   <option value="10">October </option>    <option value="11">November  </option>
                                                <option value="12"> December   </option>
                                            </select>
                                        </div>
                                        <div>
                                            <select data-role="none" class="DOB" data-value-key="_year_" name="DOB_year" required id="DOB_year">
                                                <!-- es6 -->
                                            </select>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <p class="preorder-info-p">Gender<span class="mandatoris">*</span>:</p>
                                </div>

                                <div class="col-md-3">
                                    <label for="gender_male">Male</label>
                                    <input type="radio" class="radio-new" name="gender" id="gender_male" value="1" data-role="none" data-value-key="customer_gender" />
                                </div>

                                <div class="col-md-3">
                                    <label for="gender_female">Female</label>
                                    <input type="radio" class="radio-new" name="gender" id="gender_female" value="0" data-role="none" data-value-key="customer_gender" />
                                </div>
                            </div>

                        </div>




                        <!-- Right div -->
                        <div class="col-md-6">

                            <div>

                                <fieldset data-role="controlgroup" data-type="horizontal" class="">
                                    <legend>Location<span class="mandatoris">*</span>:</legend>
                                    <label for="customer_country">Country</label>
                                    <select data-role="none" class="location" data-value-key="customer_country" name="customer_country" id="customer_country" required >
                                    </select>
                                    <label for="customer_state">State</label>
                                    <select data-role="none" class="location" data-value-key="customer_state" name="customer_state" id="customer_state" required >
                                    </select>
                                    <label for="customer_city">City</label>
                                    <select data-role="none" class="location" data-value-key="customer_city" name="customer_city" id="customer_city" required >
                                    </select>
                                </fieldset>

                            </div>

                            <div>
                                <p class="preorder-info-p" >Street Address<span class="mandatoris">*</span>:</p>
                                <input class="detail-info-input" type="text" name="customer_address1" data-value-key="customer_address1" data-bind="css:{'required-empty': !customer_address1() && !is_present()}, attr:{'required' : is_present() ? 'true' : null}"/>
                            </div>

                            <div>
                                <p class="preorder-info-p" >Suburb<span class="mandatoris">*</span>:</p>
                                <input type="text" class="detail-info-input" name="customer_address2" data-value-key="customer_address2" data-bind="css:{'required-empty' : !customer_address2() && !is_present()}, attr:{'required' : is_present() ? 'true' : null}" />
                            </div>

                            <div>
                                <p class="preorder-info-p" >Post Code<span class="mandatoris">*</span>:</p>
                                <input type="tel" class="detail-info-input" name="customer_postal_code" data-value-key="customer_postal_code" data-bind="css:{'required-empty' : !customer_postal_code() && !is_present()}, attr:{'required' : is_present() ? 'true' : null}" />
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <p class="preorder-info-p" >Mobile Number<span class="mandatoris">*</span>:</p>
                                    <!-- Check for regex onchange mobile number -->
                                    <input type="tel" class="detail-info-input" name="customer_mobile_phone" required maxlength="12" data-value-key="customer_mobile_phone" />
                                </div>

                                <div class="col-md-6">
                                    <p class="preorder-info-p" >LandLine Number</p>
                                    <input type="tel" class="detail-info-input" name="customer_landline_phone" maxlength="10" data-value-key="customer_landline_phone" />
                                </div>

                            </div>

                            <div>
                                <p class="preorder-info-p" >Email<span class="mandatoris">*</p>
                                <input type="email" class="detail-info-input" name="customer_email" required data-value-key="customer_email" />
                            </div>

                            <div>
                                <div class="col-md-8">
                                    <p class="preorder-info-p" >Subscribe to our newsletter:</p>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" class="preorder-checkbox" id="customer_email_subscription" data-value-key="customer_email_subscription" />
                                </div>
                            </div>
                            <br style="clear: both">
                            <div class="clear"></div>
                        </div>
                        </div>
                    </form>
                </div>

                <!-- safety area bottom -->
                <div style="height: 90px;"></div>


			</div>
			<div class="j-footer justify-content-between footer">
				<button class="cancel-btn" onclick="$('#specific_media_reorder .generic-pop-up').hide('slow')">Cancel</button>
				<button class="save-btn">Save</button>
			</div>
		</div>
    </div>




</div>