
<!--
12: Object { id: "12", name: "Fabric", garment_id: "1", … }
​
13: Object { id: "13", name: "Fit", garment_id: "1", … }
​
14: Object { id: "14", name: "Pant Style", garment_id: "1", … }
​
15: Object { id: "15", name: "Pleats", garment_id: "1", … }
​
16: Object { id: "16", name: "Front Pockets", garment_id: "1", … }
​
17: Object { id: "17", name: "Back Pockets", garment_id: "1", … }
​
18: Object { id: "18", name: "Belt & Cuffs", garment_id: "1", … }
​
19: Object { id: "19", name: "General Notes", garment_id: "1", … }
​
65: Object { id: "65", name: "Custom Data", garment_id: "1", … }

	We need to make sure that the salesman can do the design for all the garmets at the same time.
	This new view will do the job for us, we will be able to reuse most of what we already had.

 -->

<!-- 3d -->
<div data-bind="visible: $root.currentDesigingGarmentType().garmentType == 'pants'">

	<!-- Tabs -->
	<div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

		<div data-bind="attr : { class : 'tabs-tab tabs-tab-Pants3D-' + pants.garment.unique_id + ' tab-3d' },
                        click: function() {
								$root.currentGarmentInstance(pants);
								$root.renderCustomTagsImages();
                            },
                        css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id }">
			<span data-bind="text: '#' + ($index()+1) + ' ' + pants.customer.full_name"></span>
		</div>

	</div>

	<!-- content -->
	<!-- import template -->
    <div id="3dPantsWrapper">
    </div>
    <script>
        // import script with pants template
        $('#3dPantsWrapper').load('uniforms_designs/images_3d_teplates/pants3D.htm');
    </script>

	<div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

		<div data-bind="attr : { class : 'tabs-content-Pants3D tabs-content-Pants3D-' + pants.garment.unique_id },
						visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id
						&&
						($root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase().trim() != 'fabric')
                        &&
                        !($root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase().trim().includes('custom'))">
			<!-- build from template -->
			<div data-bind="template: { name: 'pants3DTemplate', data: pants.garment }"></div>
		</div>
	</div>

</div>

 <div class="design-cat-wrapper" data-bind="with: $root.globalDesignCategories.pants">

	<!-- Fit

		███████╗██╗████████╗
		██╔════╝██║╚══██╔══╝
		█████╗  ██║   ██║
		██╔══╝  ██║   ██║
		██║     ██║   ██║
		╚═╝     ╚═╝   ╚═╝

					-->
	<div data-bind="if: $data[13] && $root.currentDesignStep().id == 13">

		<div data-bind="with: $data[13]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- fit-->
			<div data-bind="with: $data.options_map[56]">

				<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="fitOption grid_4">

						<div class="fitOptionTitle">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
						</div>

						<div class='selection-box'>

							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

									<tr>
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: pants.garment.categories_map[13].options_map[56]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
									</tr>

								</tbody>

							</table>

						</div>

					</div>





				</div>

			</div>


		</div>

	</div>
	<!-- end fit -->


	<!-- Pant Style

		██████╗  █████╗ ███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
		██╔══██╗██╔══██╗████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██████╔╝███████║██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██╔═══╝ ██╔══██║██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		██║     ██║  ██║██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
		╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

	-->
	<div data-bind="if: $data[14] && $root.currentDesignStep().id == 14">

		<div data-bind="with: $data[14]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Pant Style option -->
			<div data-bind="with: $data.options_map[57]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>

				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

						<img data-bind="attr:{src: value.image}" class="example" style="padding: 9px; height: inherit; border-radius: 20px;">
						<span class="new_main_option_title" data-bind="text:value.name"></span>

						<!-- selection box !! -->

						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

									<tr data-bind="fadeVisible : value.clicked() || ( pants.garment.categories_map[14].options_map[57].selectedValue() && pants.garment.categories_map[14].options_map[57].selectedValue().id == value.id ),
									               css     : { 'opaque-row' : pants.garment.categories_map[14].options_map[57].selectedValue() && pants.garment.categories_map[14].options_map[57].selectedValue().id != value.id }">
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: pants.garment.categories_map[14].options_map[57]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<!-- notes -->
										<td class="td-option">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-pants-style-' + pants.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>

								</tbody>

							</table>



						</div>


					</div>


				</div>




			</div>

			<!-- Pants style Notes -->
			<div data-bind="with: $data.options_map[58]">

				<div data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="with: pants.garment.categories_map[14].options_map[58]">

						<div data-bind="attr: { id : 'notes-pants-style-' + pants.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: pants.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-pants-style-' + pants.garment.unique_id).hide(); } ">Save and Close</button>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

	<!-- Pleats Style

		██████╗ ██╗     ███████╗ █████╗ ████████╗███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
		██╔══██╗██║     ██╔════╝██╔══██╗╚══██╔══╝██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██████╔╝██║     █████╗  ███████║   ██║   ███████╗    ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██╔═══╝ ██║     ██╔══╝  ██╔══██║   ██║   ╚════██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		██║     ███████╗███████╗██║  ██║   ██║   ███████║    ███████║   ██║      ██║   ███████╗███████╗
		╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

	-->

	<div data-bind="if: $data[15] && $root.currentDesignStep().id == 15">

		<div data-bind="with: $data[15]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Pleats Style -->
			<div data-bind="with: $data.options_map[59]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>


				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>

						<!-- selection box !! -->

						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>

								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">


									<tr data-bind="fadeVisible : value.clicked() || ( pants.garment.categories_map[15].options_map[59].selectedValue() && pants.garment.categories_map[15].options_map[59].selectedValue().id == value.id ),
									css     : { 'opaque-row' : pants.garment.categories_map[15].options_map[59].selectedValue() && pants.garment.categories_map[15].options_map[59].selectedValue().id != value.id }">
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: pants.garment.categories_map[15].options_map[59]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() {
																												// select current options
																												$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants);

																												// if selected option is double Pleats or triple pleats, select no pocket
																												if (['1257','1260'].includes(value.id)){
																													let front_pocket_option = pants.garment.categories_map[16].options_map[61];
																													$root.selectedCustomer().garmentsDesignStep.setOptionValue(front_pocket_option, front_pocket_option.values.filter(el => el.id == '1264')[0], garment = pants);
																												}



																										},
																							  attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<td class="td-option">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-pleats-style-' + pants.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>


								</tbody>

							</table>



						</div>


					</div>


				</div>

			</div>


			<!-- Notes for Pleats Style -->
			<!-- The notes should be hidden and we use jquery to show/hide them -->
			<div data-bind="with: $data.options_map[60]">

				<!-- <strong>
					<p data-bind="text: $data.name"></p>
				</strong> -->

				<div data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="with: pants.garment.categories_map[15].options_map[60]">

						<div data-bind="attr: { id : 'notes-pleats-style-' + pants.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: pants.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-pleats-style-' + pants.garment.unique_id).hide(); } ">Save and Close</button>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>


	</div>



	<!-- Front pockets

			███████╗██████╗  ██████╗ ███╗   ██╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			█████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝

		-->

	<div data-bind="if: $data[16] && $root.currentDesignStep().id == 16">

		<div data-bind="with: $data[16]">

			<h2 data-bind="text: $data.name"></h2>


			<!-- Front Pocket -->
			<div data-bind="with: $data.options_map[61]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>

				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>
						<!-- selection box !! -->

						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>

								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

									<!-- if pants pleats is DOUBLE or TRIPLE, do not show SLANTED WELT|STRAIGHT WELT|MODERN CURVED|JEANS pockets -->
									<!-- ko if: pants.garment.categories_map[15].options_map[59].selectedValue() &&
										!(['1257', '1260'].includes(pants.garment.categories_map[15].options_map[59].selectedValue().id) && ['1266', '1267', '1263', '1262'].includes(value.id))
									-->
									<tr data-bind="fadeVisible : value.clicked() || ( pants.garment.categories_map[16].options_map[61].selectedValue() && pants.garment.categories_map[16].options_map[61].selectedValue().id == value.id ),
									css     : { 'opaque-row' : pants.garment.categories_map[16].options_map[61].selectedValue() && pants.garment.categories_map[16].options_map[61].selectedValue().id != value.id }">
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: pants.garment.categories_map[16].options_map[61]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>

										<td class="td-option">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-front-pocket-' + pants.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>
									<!-- /ko -->


								</tbody>


							</table>



						</div>


					</div>
				</div>


			</div>


			<!-- Notes for Front pockets -->
			<div data-bind="with: $data.options_map[62]">

				<div data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="with: pants.garment.categories_map[16].options_map[62]">

						<div data-bind="attr: { id : 'notes-front-pocket-' + pants.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: pants.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-front-pocket-' + pants.garment.unique_id).hide(); } ">Save and Close</button>
							</div>
						</div>

					</div>
				</div>

			</div>


		</div>
	</div>


	<!-- Back Pockets

		██████╗  █████╗  ██████╗██╗  ██╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
		██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
		██████╔╝███████║██║     █████╔╝     ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
		██╔══██╗██╔══██║██║     ██╔═██╗     ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
		██████╔╝██║  ██║╚██████╗██║  ██╗    ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
		╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝

	-->

	<div data-bind="if: $data[17] && $root.currentDesignStep().id == 17">

		<div data-bind="with: $data[17]">

			<h2 data-bind="text: $data.name"></h2>


			<!-- Front pockets -->
			<div data-bind="with: $data.options_map[63]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>

				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">


						<img data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); }, attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>


						<div class='selection-box'>

							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>

									<tr>
										<th class="left">Garment</th>

										<th class="" style="padding-right: 2px;">Select</th>

										<th class="">Notes</th>

										<!-- ko if: value.id != '1272' -->
											<th class="" style="right: 4px;position: relative; margin-left: 5px;">Position</th>
										<!-- /ko -->
									</tr>

								</thead>

								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

									<tr data-bind="fadeVisible : value.clicked() || ( pants.garment.categories_map[17].options_map[63].selectedValue() && pants.garment.categories_map[17].options_map[63].selectedValue().id == value.id ),
									css     : { 'opaque-row' : pants.garment.categories_map[17].options_map[63].selectedValue() && pants.garment.categories_map[17].options_map[63].selectedValue().id != value.id }">

										<td class=""><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>
										<!-- back pockets position -->

										<!-- Back pocket style -->
										<td class="" data-bind="with: pants.garment.categories_map[17].options_map[63]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>

										<td class="td-option">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-back-pocket-' + pants.garment.unique_id).show(); }">SHOW</div>
										</td>

										<!-- ko if: value.id != '1272' -->
											<td class="td-option" data-bind="with: pants.garment.categories_map[17].options_map[65]">
												<select  class="mikrosss mikrosss2" style="margin-right: 6px;margin-left: 7px;" data-bind=
													"options: $data.values,
													click: function() { },
													clickBubble: false,
													optionsText: 'name',
													value: $data.selectedValue">
												</select>
											</td>
										<!-- /ko -->
									</tr>

								</tbody>

							</table>





						</div>

					</div>

				</div>


			</div>

			<!-- Notes for back pocket -->

			<div data-bind="with: $data.options_map[64]">

				<div data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="with: pants.garment.categories_map[17].options_map[64]">

						<div data-bind="attr: { id : 'notes-back-pocket-' + pants.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: pants.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-back-pocket-' + pants.garment.unique_id).hide(); } ">Save and Close</button>
							</div>
						</div>

					</div>
				</div>

			</div>



		</div>
	</div>



	<!-- Belt & Cuffs

		██████╗ ███████╗██╗  ████████╗       ██╗        ██████╗██╗   ██╗███████╗███████╗███████╗
		██╔══██╗██╔════╝██║  ╚══██╔══╝       ██║       ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
		██████╔╝█████╗  ██║     ██║       ████████╗    ██║     ██║   ██║█████╗  █████╗  ███████╗
		██╔══██╗██╔══╝  ██║     ██║       ██╔═██╔═╝    ██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
		██████╔╝███████╗███████╗██║       ██████║      ╚██████╗╚██████╔╝██║     ██║     ███████║
		╚═════╝ ╚══════╝╚══════╝╚═╝       ╚═════╝       ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝

	-->
	<div data-bind="if: $data[18] && $root.currentDesignStep().id == 18">

		<div data-bind="with: $data[18]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Belt Loop -->
			<div data-bind="with: $data.options_map[66]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>

				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">


					<div class="option-value1 grid_4" style="min-width: 311px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

						<img data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); }, attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>


						<!-- selection box !! -->
						<div class='selection-box'>
							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>

									<tr>
										<th class="left">Garment</th>

										<th class="" style="padding-right: 4px;">Select</th>

										<th>Notes</th>

										<th class="">Cuffs</th>

										<th class="" style="padding-right: 6px;">Braces</th>
									</tr>

								</thead>

								<tbody data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

									<tr data-bind="fadeVisible : value.clicked() || ( pants.garment.categories_map[18].options_map[66].selectedValue() && pants.garment.categories_map[18].options_map[66].selectedValue().id == value.id ),
									css     : { 'opaque-row' : pants.garment.categories_map[18].options_map[66].selectedValue() && pants.garment.categories_map[18].options_map[66].selectedValue().id != value.id }">
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + pants.customer.customer_first_name"></span></td>


										<!-- select style -->
										<td class="" data-bind="with: pants.garment.categories_map[18].options_map[66]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = pants); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>

										<td class="td-option">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-belt-cuffs-' + pants.garment.unique_id).show(); }">SHOW</div>
										</td>

										<!-- cuff checkbox -->
										<td class="td-option" data-bind="with: pants.garment.categories_map[18].options_map[68]">
											<input type="checkbox" class="labeled-checkbox"" name="" id="beltCheckbox" data-bind="checked: $data.selectedValue" />
											<label for="beltCheckbox" data-bind="click: function(){ $data.selectedValue( !$data.selectedValue() ); }"></label>
										</td>


										<!-- braces checkbox -->
										<td class="td-option" data-bind="with: pants.garment.categories_map[18].options_map[69]">
											<input type="checkbox" class="labeled-checkbox"" name="" id="beltCheckbox" data-bind="checked: $data.selectedValue" />
											<label for="beltCheckbox" data-bind="click: function(){ $data.selectedValue( !$data.selectedValue() ); }"></label>
										</td>


									</tr>


								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


			<div data-bind="with: $data.options_map[67]">

				<div data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="with: pants.garment.categories_map[18].options_map[67]">

						<div data-bind="attr: { id : 'notes-belt-cuffs-' + pants.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: pants.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-belt-cuffs-' + pants.garment.unique_id).hide(); } ">Save and Close</button>
							</div>
						</div>

					</div>
				</div>

			</div>



		</div>
	</div>


	<!-- General Notes

			██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
		██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
		██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
		██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
		╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝


	-->
	<div data-bind="if: $data[19] && $root.currentDesignStep().id == 19">

		<div data-bind="with: $data[19]">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="with: $data.options_map[70]">

				<!-- <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="attr : { class : 'tabs-tab tabs-tab-generalNotes-' + pants.garment.unique_id },
                                    click: function() {
                                            $root.currentGarmentInstance(pants);
                                        },
                                    css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id }">
						<span data-bind="text: '#' + $index() + ' ' + pants.customer.full_name"></span>
					</div>

				</div> -->


				<div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.pants(), as : 'pants' }">

					<div data-bind="attr    : { class : 'tabs-content tabs-content-generalNotes tabs-content-generalNotes-' + pants.garment.unique_id },
                                    visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id">
						<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- Custom Data category -->
    <div data-bind="if: $data[65] && $root.currentDesignStep().id == 65">

        <div data-bind="with: $data[65]">

            <h2 data-bind="text: $data.name"></h2>

            <div data-bind="foreach: {data: $root.globalGarments.pants, as: 'pants'}">
                <div data-bind="foreach: { data: pants.garment.categories_map[65].options, as: 'option' }">
                    <!-- ko if: $root.selectedCustomer().garmentsDesignStep.hasCustomDesign().includes(option.id)
                                && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id -->
                    <div class="row">
                        <div class="col-md-3">
                            <strong>
                                <p data-bind="text: option.name"></p>
                            </strong>
                        </div>

                        <div class="col-md-3">
                            <button class="custom-img-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.takeOptionCustomImage(option); }">Take
                                Custom Image</button>
                            <button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
                                                                                                click: function() { $root.selectedCustomer().garmentsDesignStep.clearCustomOptionImage(option); }">Clear
                                Image</button>
                        </div>

                        <div class="col-md-12 image-comment-wrapper" data-bind="foreach: option.selectedValue()">

                            <div class="col-md-12" style="margin-bottom: 35px;">
                                <div class="col-md-6">

                                    <!-- <img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }"> -->

                                    <div class="image-tag-wrapper" data-bind="attr:{id : 'image-tag-wrapper-'+option.id+'-'+$index()}">
                                        <!-- insert via es6 -->
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="image-tags-comment-wrapper" data-bind="attr:{id : 'image-tags-comment-wrapper-'+option.id+'-'+$index()}">
                                        <!-- insert via es6 -->
                                    </div>

                                </div>
                            </div>


                        </div>


					</div>
					<br>
                    <!-- /ko -->
                </div>

                <!-- ko if: !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign() || !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0
                            && $root.currentGarmentInstance().garment.unique_id == pants.garment.unique_id-->
                <h2>No Custom Data</h2>
                <!-- /ko -->

            </div>
        </div>
    </div>

	<div id="popupNewTag-wrapper">
        <!-- insert via es6 -->
    </div>

</div>


