<!--
	20: Object { id: "20", name: "Fabric", garment_id: "3", … }
	​
	21: Object { id: "21", name: "Fit", garment_id: "3", … }
	​
	22: Object { id: "22", name: "Lapel", garment_id: "3", … }
	​
	23: Object { id: "23", name: "Bottom", garment_id: "3", … }
	​
	24: Object { id: "24", name: "Buttons", garment_id: "3", … }
	​
	25: Object { id: "25", name: "Pockets", garment_id: "3", … }
	​
	26: Object { id: "26", name: "Back Style", garment_id: "3", … }
	​
	27: Object { id: "27", name: "Lining & Piping", garment_id: "3", … }
	​
	28: Object { id: "28", name: "Notes", garment_id: "3", … }
	​
	67: Object { id: "67", name: "Custom Data", garment_id: "3", … }
-->

<!-- 3d -->
<div data-bind="visible: $root.currentDesigingGarmentType().garmentType == 'vest'">

	<!-- Tabs -->
	<div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

		<div data-bind="attr : { class : 'tabs-tab tabs-tab-Vest3D-' + vest.garment.unique_id + ' tab-3d' },
						click: function() {
								$root.currentGarmentInstance(vest);
								$root.renderCustomTagsImages();
							},
						css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id }">
			<span data-bind="text: '#' + ($index()+1) + ' ' + vest.customer.full_name"></span>
		</div>

	</div>


	<!-- content -->
	<!-- import template -->
    <div id="3dVestWrapper">
    </div>
    <script>
        // import script with vest template
        $('#3dVestWrapper').load('uniforms_designs/images_3d_teplates/vest3D.htm');
    </script>
	<div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

		<div data-bind="attr : { class : 'tabs-content-Vest3D tabs-content-Vest3D-' + vest.garment.unique_id },
						visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id
						&&
						($root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase().trim() != 'fabric')
                        &&
                        !($root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase().trim().includes('custom'))">
			<!-- build from template -->
            <div data-bind="template: { name: 'vest3DTemplate', data: vest.garment }"></div>
		</div>

	</div>

</div>

<style>

	.lining-wrapper {
		width: 100%;
		background: #ececec none repeat scroll 0 0;
		color: #868686;
		margin-bottom: 5px;
		border-radius: 5px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.lining-customer {
		float: left;
		width: 30%;
	}
	.lining-options {
		display: flex;
		justify-content: end;
	}

</style>

<div class="design-cat-wrapper" data-bind="with: $root.globalDesignCategories.vest">



	<!-- 3: Fit

			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║
			██╔══╝  ██║   ██║
			██║     ██║   ██║
			╚═╝     ╚═╝   ╚═╝

						-->
	<div data-bind="if: $data[21] && $root.currentDesignStep().id == 21">

		<div data-bind="with: $data[21]">

			<h2 data-bind="text: $data.name"></h2>


			<!-- fit-->
			<div data-bind="with: $data.options_map[73]">

				<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: $data.values, as: 'value' }">

					<div class="fitOption grid_4">

						<div class="fitOptionTitle">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
						</div>

						<div class='selection-box'>

							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

									<tr>
										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: vest.garment.categories_map[21].options_map[73]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
									</tr>

								</tbody>

							</table>

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>


	<!-- Lapel Style
		██╗      █████╗ ██████╗ ███████╗██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗
		██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██║     ███████║██████╔╝█████╗  ██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		███████╗██║  ██║██║     ███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗
		╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

	-->

	<div data-bind="if: $data[22] && $root.currentDesignStep().id == 22">

		<div data-bind="with: $data[22]">

			<h2 data-bind="text: $data.name"></h2>


			<div data-bind="with: $data.options_map[74]">


				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>


				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">


					<div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">

						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>

						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">


									<tr data-bind="fadeVisible: value.clicked() || ( vest.garment.categories_map[22].options_map[74].selectedValue() && vest.garment.categories_map[22].options_map[74].selectedValue().id == value.id ),
													css : { 'opaque-row' : vest.garment.categories_map[22].options_map[74].selectedValue() && vest.garment.categories_map[22].options_map[74].selectedValue().id != value.id }">

										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: vest.garment.categories_map[22].options_map[74]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<td>
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-lapel-style-' + vest.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>


								</tbody>


							</table>



						</div>



					</div>
				</div>

			</div>

			<div data-bind="with: $data.options_map[75]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="with: vest.garment.categories_map[22].options_map[75]">

						<div data-bind="attr: { id : 'notes-lapel-style-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: vest.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-lapel-style-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Bottom Style

		██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
		██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
		╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

	-->
	<div data-bind="if: $data[23] && $root.currentDesignStep().id == 23">

		<div data-bind="with: $data[23]">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="with: $data.options_map[76]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>


				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">


					<div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">

						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>


						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">



									<tr data-bind="fadeVisible: value.clicked() || ( vest.garment.categories_map[23].options_map[76].selectedValue() && vest.garment.categories_map[23].options_map[76].selectedValue().id == value.id ),
													css : { 'opaque-row' : vest.garment.categories_map[23].options_map[76].selectedValue() && vest.garment.categories_map[23].options_map[76].selectedValue().id != value.id }">


										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: vest.garment.categories_map[23].options_map[76]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<td>
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + vest.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>


								</tbody>


							</table>
							<!-- /ko -->


						</div>



					</div>
				</div>


			</div>


			<div data-bind="with: $data.options_map[77]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="with: vest.garment.categories_map[23].options_map[77]">

						<div data-bind="attr: { id : 'notes-bottom-style-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: vest.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Buttons

		██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗
		██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝
		██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗
		██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║
		██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║
		╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝

	-->
	<div data-bind="if: $data[24] && $root.currentDesignStep().id == 24">

		<div data-bind="with: $data[24]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Button styles -->
			<div data-bind="with: $data.options_map[78]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>


				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4" style="min-height: 398px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																													css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">


						<img data-bind="attr:{src: value.image}" class="example" style="max-width: 202px;">
						<span class="new_main_option_title" data-bind="text:value.name"></span>


						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">


									<tr data-bind="fadeVisible: value.clicked() || ( vest.garment.categories_map[24].options_map[78].selectedValue() && vest.garment.categories_map[24].options_map[78].selectedValue().id == value.id ),
													css : { 'opaque-row' : vest.garment.categories_map[24].options_map[78].selectedValue() && vest.garment.categories_map[24].options_map[78].selectedValue().id != value.id }">



										<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: vest.garment.categories_map[24].options_map[78]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<td>
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-button-style-' + vest.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>

								</tbody>


							</table>
							<!-- /ko -->


						</div>


					</div>
				</div>

			</div>

			<!-- Button Notes -->
			<div data-bind="with: $data.options_map[79]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="with: vest.garment.categories_map[24].options_map[79]">

						<div data-bind="attr: { id : 'notes-button-style-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: vest.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-button-style-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
							</div>

						</div>

					</div>
				</div>

			</div>


		</div>
	</div>


	<!-- Pocket Style

		██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
		██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
		╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝


	-->
	<div data-bind="if: $data[25] && $root.currentDesignStep().id == 25">


		<div data-bind="with: $data[25]">

			<h2 data-bind="text: $data.name"></h2>


			<!-- Pocket Style -->
			<div data-bind="with: $data.options_map[80]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>

				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4 vest-pocket-value" style="min-height: 258px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>





						<div class='selection-box'>


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>

									<tr>
										<th class="">Gar.</th>

										<th class="">Sel.</th>
										<th class="">Notes</th>
										<!-- ko if: value.id != '1303' -->
										<th class=''>Breast <br> Pckt.</th>
										<th class=''>Doub. B. <br> Pckt.</th>
										<!-- /ko -->

									</tr>

								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">


									<tr data-bind="fadeVisible: value.clicked() || ( vest.garment.categories_map[25].options_map[80].selectedValue() && vest.garment.categories_map[25].options_map[80].selectedValue().id == value.id ),
													css : { 'opaque-row' : vest.garment.categories_map[25].options_map[80].selectedValue() && vest.garment.categories_map[25].options_map[80].selectedValue().id != value.id }">

														<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<!-- back pockets position -->


										<td class="" data-bind="with: vest.garment.categories_map[25].options_map[80]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>



										<td class="">
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-pocket-' + vest.garment.unique_id).show(); }">SHOW</div>
										</td>

										<!-- DOUBLE Pocket Breast -->
										<!-- ko if: value.id != '1303' -->

										<!-- Brest pocket -->
											<td class="td-option" data-bind="with: vest.garment.categories_map[25].options_map[82]">

												<input type="checkbox" class="labeled-checkbox"" name="" id="beltCheckbox" data-bind="checked: $data.selectedValue" />
												<label for="breastCehckbox" data-bind="click: function(){ $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = vest); }"></label>

											</td>


											<td class='td-option' style="padding-right: 8px;" data-bind="with: vest.garment.categories_map[25].options_map[225]">

												<input type="checkbox" class="labeled-checkbox"" name="" id="beltCheckbox" data-bind="checked: $data.selectedValue" />
												<label for="doubleBreastCheckbox" data-bind="click: function(){ $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = vest); }"></label>
											</td>
										<!-- /ko -->

									</tr>

								</tbody>


							</table>
							<!-- /ko -->


						</div>
					</div>
				</div>
			</div>


			<!-- Pockets Notes -->
			<div data-bind="with: $data.options_map[81]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="with: vest.garment.categories_map[25].options_map[81]">

						<div data-bind="attr: { id : 'notes-pocket-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: vest.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-pocket-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>





	<!-- Back Style

		██████╗  █████╗  ██████╗██╗  ██╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
		██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
		██████╔╝███████║██║     █████╔╝     ███████╗   ██║    ╚████╔╝ ██║     █████╗
		██╔══██╗██╔══██║██║     ██╔═██╗     ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
		██████╔╝██║  ██║╚██████╗██║  ██╗    ███████║   ██║      ██║   ███████╗███████╗
		╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝


	-->
	<div data-bind="if: $data[26] && $root.currentDesignStep().id == 26">

		<div data-bind="with: $data[26]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Back Style -->
			<div data-bind="with: $data.options_map[83]">

				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>



				<div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
					<div class="option-value1 grid_4" style="min-height: 398px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
																													css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">


						<img data-bind="attr:{src: value.image}" class="example">
						<span class="new_main_option_title" data-bind="text:value.name"></span>


						<div class='selection-box' data-bind="">


							<table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

								<thead>
									<tr>
										<th class="left">Garment</th>
										<th class="right">Select</th>
										<th>Notes</th>
									</tr>
								</thead>


								<tbody data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">


									<tr data-bind="fadeVisible: value.clicked() || ( vest.garment.categories_map[26].options_map[83].selectedValue() && vest.garment.categories_map[26].options_map[83].selectedValue().id == value.id ),
													css : { 'opaque-row' : vest.garment.categories_map[26].options_map[83].selectedValue() && vest.garment.categories_map[26].options_map[83].selectedValue().id != value.id }">

														<td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + vest.customer.customer_first_name"></span></td>
										<td class="right" data-bind="with: vest.garment.categories_map[26].options_map[83]">

											<input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = vest); }, attr:{for: value.name+'checkbox'}"> </label>

										</td>
										<td>
											<div class="open_style_notes" data-bind="click: function() {  $('#notes-back-style-' + vest.garment.unique_id).show(); }">SHOW</div>
										</td>

									</tr>

								</tbody>


							</table>
							<!-- /ko -->


						</div>


					</div>
				</div>

			</div>



			<!-- Back Notes -->
			<div data-bind="with: $data.options_map[84]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="with: vest.garment.categories_map[26].options_map[84]">

						<div data-bind="attr: { id : 'notes-back-style-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

							<div class="notes-textarea-wrapper">
								<p data-bind="text: vest.customer.full_name"></p>
								<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<button class="notes-save-btn" data-bind="click: function() { $('#notes-back-style-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</div>









	<!-- Lining & Pipping

		██╗     ██╗███╗   ██╗██╗███╗   ██╗ ██████╗        ██╗       ██████╗ ██╗██████╗ ██████╗ ██╗███╗   ██╗ ██████╗
		██║     ██║████╗  ██║██║████╗  ██║██╔════╝        ██║       ██╔══██╗██║██╔══██╗██╔══██╗██║████╗  ██║██╔════╝
		██║     ██║██╔██╗ ██║██║██╔██╗ ██║██║  ███╗    ████████╗    ██████╔╝██║██████╔╝██████╔╝██║██╔██╗ ██║██║  ███╗
		██║     ██║██║╚██╗██║██║██║╚██╗██║██║   ██║    ██╔═██╔═╝    ██╔═══╝ ██║██╔═══╝ ██╔═══╝ ██║██║╚██╗██║██║   ██║
		███████╗██║██║ ╚████║██║██║ ╚████║╚██████╔╝    ██████║      ██║     ██║██║     ██║     ██║██║ ╚████║╚██████╔╝
		╚══════╝╚═╝╚═╝  ╚═══╝╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═════╝      ╚═╝     ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═══╝ ╚═════╝


	-->
	<div data-bind="if: $data[27] && $root.currentDesignStep().id == 27">

		<div data-bind="with: $data[27]">

			<h2 data-bind="text: $data.name"></h2>

			<!-- Lining -->
			<div data-bind="with: $data.options_map[132]">

				<div data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div class="lining-wrapper">

						<div class="lining-customer">
							<span style="position:relative;top:10px;" data-bind="text: '  #' + ($index()+1) + ' ' + vest.customer.full_name"></span>
						</div>

						<div class="lining-options">

							<div class="lining-opt" data-bind="with: vest.garment.categories_map[27].options_map[132]">

								<!-- button -->
								<div class="myboxesincheck" data-bind="click: function() { changeVisibilityDiv('vest_linning_popup-' + vest.garment.unique_id); }">

									<span class="myboxesincheckname smallertag">Lining</span>
									<img name="vestLining" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
									<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
								</div>

								<!-- pop up -->
								<div name="vestLiningPopup" data-bind="attr: { id: 'vest_linning_popup-' + vest.garment.unique_id }" class="white_content mynicepop" style="display: none;">

									<div class="inmynicepop inmynicepopthree">
										<h4>Select Vest Lining</h4>
										<div class="inmyscroll option-wrapper2-popup">

											<!-- no extra costs linings -->
											<h2 style="color: white; display: inline-block">Without extra charge</h2>
											<div data-bind="foreach: { data: $data.values.filter(el=>el.price == 'no'), as: 'value' }" style="width: 100%; min-height: 56px;">
												<div class="option-value1 grid_4" data-bind="click: function() {
																													$root.selectedCustomer().garmentsDesignStep.setOptionValue($parent, value, garment = vest);
																													changeVisibilityDiv('vest_linning_popup-' + vest.garment.unique_id);
																												},
																							css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
													<span class="new_main_option_title" data-bind="text:value.name"></span>
													<img data-bind="attr:{src: value.image}" class="example lining-preview">
												</div>


											</div>


											<!-- extra costs linings -->
											<br class="clear: both">
											<h2 style="color: white; display: inline-block;">With extra charge</h2>
											<div data-bind="foreach: { data: $data.values.filter(el=>el.price == 'yes'), as: 'value' }" style="width: 100%; min-height: 56px;">

												<div class="option-value1 grid_4" data-bind="click: function() {
																												$root.selectedCustomer().garmentsDesignStep.setOptionValue($parent, value, garment = vest);
																												changeVisibilityDiv('vest_linning_popup-' + vest.garment.unique_id);
																											},
																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
													<span class="new_main_option_title" data-bind="text:value.name"></span>
													<img data-bind="attr:{src: value.image}" class="example lining-preview">
												</div>

											</div>
										</div>
										<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() { changeVisibilityDiv('vest_linning_popup-' + vest.garment.unique_id); }" >Save And Close</a>
									</div>

								</div>


							</div>

							<!-- Pipping -->
							<div class="lining-opt" data-bind="with: vest.garment.categories_map[27].options_map[133]">

								<!-- button -->
								<div class="myboxesincheck" data-bind="click: function() { changeVisibilityDiv('vest_pipping_popup-' + vest.garment.unique_id); }">
									<span class="myboxesincheckname smallertag">Pipping</span>
									<img name="vestLining" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
									<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
								</div>


								<!-- pop up -->
								<div id="vest_pipping_popup" data-bind="attr: { id: 'vest_pipping_popup-' + vest.garment.unique_id }" class="white_content mynicepop" style="display: none;">
									<div class="inmynicepop inmynicepopthree">
										<h4>Select Vest Piping</h4>


										<div class="inmyscroll option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">

											<div class="option-value1 grid_4" data-bind="click: function() {
																												$root.selectedCustomer().garmentsDesignStep.setOptionValue($parent, value, garment = vest);
																												changeVisibilityDiv('vest_pipping_popup-' + vest.garment.unique_id);
																											},
																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
												<span class="new_main_option_title" data-bind="text:value.name"></span>
												<img data-bind="attr:{src: value.image}" class="example lining-preview">
											</div>

										</div>


										<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() { changeVisibilityDiv('vest_pipping_popup-' + vest.garment.unique_id); }" >Save And Close</a>
									</div>
								</div>

							</div>



							<!-- Pocket Colour -->
							<div class="lining-opt" data-bind="with: vest.garment.categories_map[27].options_map[134]">

								<!-- button -->
								<div class="myboxesincheck" data-bind="click: function() { changeVisibilityDiv('vest_pocket_color_popup-' + vest.garment.unique_id); }">
									<span class="myboxesincheckname smallertag">Pocket</span>
									<img name="vestLining" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
									<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
								</div>


								<!-- pop up -->
								<div id="vest_pocket_color_popup" data-bind="attr: { id: 'vest_pocket_color_popup-' + vest.garment.unique_id }" class="white_content mynicepop" style="display: none;">
									<div class="inmynicepop inmynicepopthree">
										<h4>Select Vest Pocket Colour</h4>


										<div class="inmyscroll option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">

											<div class="option-value1 grid_4" data-bind="click: function() {
																												$root.selectedCustomer().garmentsDesignStep.setOptionValue($parent, value);
																												changeVisibilityDiv('v, garment = vestest_pocket_color_popup-' + vest.garment.unique_id);
																											},
																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
												<span class="new_main_option_title" data-bind="text:value.name"></span>
												<img data-bind="attr:{src: value.image}" class="example lining-preview">
											</div>

										</div>


										<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() { changeVisibilityDiv('vest_pocket_color_popup-' + vest.garment.unique_id); }" >Save And Close</a>
									</div>
								</div>

							</div>











							<!-- Notes -->
							<div class="lining-opt myboxesincheck" data-bind="with: vest.garment.categories_map[27].options_map[131]">

								<div>
									<span class="myboxesincheckname smallertag">Notes</span>
									<div class="open_style_notes" style="display: inline-block" data-bind="click: function() {  $('#notes-lining-' + vest.garment.unique_id).show(); }">SHOW</div>
								</div>

								<div data-bind="attr: { id : 'notes-lining-' + vest.garment.unique_id }" class="notes-pop-up" style="display: none">

									<div class="notes-textarea-wrapper">
										<p data-bind="text: vest.customer.full_name"></p>
										<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
										<button class="notes-save-btn" data-bind="click: function() { $('#notes-lining-' + vest.garment.unique_id).hide(); } ">Save and Close</button>
									</div>

								</div>

							</div>

						</div>
					</div>


				</div>

			</div>

		</div>


	</div>












	<!-- General Notes

			██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
		██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
		██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
		██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
		╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
	-->
	<div data-bind="if: $data[28] && $root.currentDesignStep().id == 28">

		<div data-bind="with: $data[28]">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="with: $data.options_map[85]">

				<!-- <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="attr : { class : 'tabs-tab tabs-tab-generalNotes-' + vest.garment.unique_id },
									click: function() {
											$root.currentGarmentInstance(vest);
										},
									css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id }">
						<span data-bind="text: '#' + ($index()+1) + ' ' + vest.customer.full_name"></span>
					</div>

				</div> -->


				<div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.vest(), as : 'vest' }">

					<div data-bind="attr : { class : 'tabs-content tabs-content-generalNotes tabs-content-generalNotes-' + vest.garment.unique_id },
									visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id">
						<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- Custom Data category -->
    <div data-bind="if: $data[67] && $root.currentDesignStep().id == 67">

        <div data-bind="with: $data[67]">

            <h2 data-bind="text: $data.name"></h2>

            <div data-bind="foreach: {data: $root.globalGarments.vest, as: 'vest'}">
                <div data-bind="foreach: { data: vest.garment.categories_map[67].options, as: 'option' }">
                    <!-- ko if: $root.selectedCustomer().garmentsDesignStep.hasCustomDesign().includes(option.id)
                                && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id -->
                    <div class="row">
                        <div class="col-md-3">
                            <strong>
                                <p data-bind="text: option.name"></p>
                            </strong>
                        </div>

                        <div class="col-md-3">
                            <button class="custom-img-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.takeOptionCustomImage(option); }">Take
                                Custom Image</button>
                            <button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
                                                                                                click: function() { $root.selectedCustomer().garmentsDesignStep.clearCustomOptionImage(option); }">Clear
                                Image</button>
                        </div>

                        <div class="col-md-12 image-comment-wrapper" data-bind="foreach: option.selectedValue()">

                            <div class="col-md-12" style="margin-bottom: 35px;">
                                <div class="col-md-6">

                                    <!-- <img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }"> -->

                                    <div class="image-tag-wrapper" data-bind="attr:{id : 'image-tag-wrapper-'+option.id+'-'+$index()}">
                                        <!-- insert via es6 -->
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="image-tags-comment-wrapper" data-bind="attr:{id : 'image-tags-comment-wrapper-'+option.id+'-'+$index()}">
                                        <!-- insert via es6 -->
                                    </div>

                                </div>
                            </div>


                        </div>


					</div>
					<br>
                    <!-- /ko -->
                </div>

                <!-- ko if: !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign() || !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0
                            && $root.currentGarmentInstance().garment.unique_id == vest.garment.unique_id-->
                <h2>No Custom Data</h2>
                <!-- /ko -->

            </div>
        </div>
    </div>

	<div id="popupNewTag-wrapper">
        <!-- insert via es6 -->
    </div>

</div>



