<div data-role="page" id="alterationsMain" class="bgBody">
    <div data-role="content" data-theme="a" class="panwapola">
        <div class="content-wrapper">
            

            <h1>Fittings &amp; Alterations</h1>
            

            <div class="container_12" style="margin-top:120px;">
                <div class="grid_2 suffix_2 prefix_3"><a href="#" data-bind="click: function(){$root.loadBrieffingPage()}" class="new-btn icon-next-unassigned new-btn-icon-left" data-role="button"><span class="btn-small-letter">Alteration</span><span class="btn-letter"> Brieffing</span></a>                    </div>
                <div class="grid_2 suffix_3"><a href="#" data-bind="click: function(){$root.loadAlterationReportPage()}" class="new-btn icon-next-assigned new-btn-icon-right" data-role="button"><span class="btn-small-letter">Alteration</span><span class="btn-letter"> Report</span></a>                    </div>
            </div>

            <div class="j-footer container_12">
                <div class="half-em-around">
                    <div class="grid_2 suffix_8"><a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
                    <div class="grid_2"><a href="#" data-bind="click: function(){orderItem.SyncFilesVM.redirect();}" class="new-btn icon-sync-media new-btn-icon-right" data-role="button"><span class="btn-small-letter">Sync</span><span class="btn-letter"> Media</span></a>                        </div>
                </div>
            </div>

        </div>
    </div>
</div>