<div data-role="page" id="bodyshape" class="bgBody">
<div data-bind="template: {name: 'stepstemplate'}"></div>
<div data-role="content" data-theme="a">
    <div class="content-wrapper">
        <div class="container_12">
            <div class="grid_12" data-bind="with: bodyshapeVM">
                <h1>Shoulders</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeShouldersList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeShoulders().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeShoulders,  css: { 'selected': $parent.bodyshapeShoulders().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Neck Height</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeNeckHeightList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeNeckHeight().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeNeckHeight,  css: { 'selected': $parent.bodyshapeNeckHeight().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Standing stance</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeStandingList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeStanding().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeStanding,  css: { 'selected': $parent.bodyshapeStanding().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Leg stance</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeLegList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeLeg().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeLeg,  css: { 'selected': $parent.bodyshapeLeg().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Thigh stance</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeThighList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeThigh().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeThigh,  css: { 'selected': $parent.bodyshapeThigh().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Arms silhouette</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeArmsList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeArms().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeArms,  css: { 'selected': $parent.bodyshapeArms().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Front chest silhouette</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeFrontList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeFront().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeFront,  css: { 'selected': $parent.bodyshapeFront().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Stomach silhouette</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeStomachList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeStomach().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeStomach,  css: { 'selected': $parent.bodyshapeStomach().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>Back silhouette</h1>
                <div class="grid_12" data-bind="foreach: bodyshapeBackList">
                    <div data-bind="visible: id != 0" class="mybody_grid">
                        <div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeBack().id === $data.id }"> <img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeBack,  css: { 'selected': $parent.bodyshapeBack().id === $data.id }" />
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1>BodyShape Comments</h1>
                <div class="grid_12" style="padding-bottom:200px;">
                    <textarea type="text" name="BodyshapeNotes" data-bind="value: bodyshapeNotes, updateFormOnChange: bodyshapeNotes, valueUpdate: 'afterkeydown'" data-theme="a" class="mytextnotes"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /content -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 prefix_10"><a data-bind="click: nextBigStep" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed to </span><span class="btn-letter"> Design</span></a></div>
        </div>
    </div>
</div>
