<div data-role="page" id="customerNotes" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>		


	<div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
    
		<div class="content-wrapper">
			<div class="container_12"> 
 
			</div>
		</div>
        <div class="bigladeling left_position stepbigbuts">
      <a href="#customerInfo">
          <span class="prevstep"></span>
          <span class="firstpart">Back to</span>
          <span class="bigpart">Customer</span>
      </a>
    </div>
    
	
       
	</div><!-- /content -->
    
</div>
