<div id="customerEditCustomer" data-role="page" class="bgBody">
<script>
		function mobileInputChange(mobile){
			var phone = mobile.value.replace(/[^0-9]/g,'');
			if(phone.length > 7){
				phone = phone.slice(0,7) + '-' + phone.slice(7);
			}
			if(phone.length > 4){
				phone = phone.slice(0,4) + '-' + phone.slice(4);
			}
			mobile.value = phone;
		}
	</script>
<div class="j-header container_16">
    <div class="leftfloat custupname"> <span class="firstpart">Edit Customer Information</span>
    </div>
  </div>
  <div data-role="content" data-bind="with: customersVMmirror" data-theme="c" style="background:none !important; border:none; padding:70px 0px 0px 0px !important;">
    <div class="content-wrapper">
      <div class="container_12"  style="padding-bottom:120px;">
        <div class="uphinttitle">Personal Information</div>
        <div class="grid_10 suffix_2 itemstoupdate marginbottomthirty" >
          <label for="customer_first_name" class="apostasi">First Name<span class="mandatoris">*</span>:</label>
          <input type="text" name="customer_first_name" data-bind="value: customer_first_name" value=""  />
          <label for="customer_last_name" class="apostasi">Last Name<span class="mandatoris">*</span>:</label>
          <input type="text" name="customer_last_name" data-bind="value: customer_last_name" value=""  />
          <label for="customer_occupation" class="apostasi">Occupation:</label>
          <input type="text" name="customer_occupation" data-bind="value: customer_occupation" value=""  />
          <label for="customer_company_name" class="apostasi">Company Name:</label>
          <input type="text" name="customer_company_name" data-bind="value: customer_company_name" value=""  />
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>Date of Birth<span class="mandatoris">*</span>:</legend>
            <label for="DOB_day">Day</label>
            <select name="DOB_day" id="DOB_day" data-bind="options: days, value: DOB_day, optionsCaption: 'Day'">
            </select>
            <label for="DOB_month">Month</label>
            <select name="DOB_month" id="DOB_month" data-bind="options: months, optionsText: 'name', optionsValue: 'id' , value: DOB_month, optionsCaption: 'Month'">
            </select>
            <label for="DOB_year">Year</label>
            <select name="DOB_year" id="DOB_year" data-bind="options: years, value: DOB_year, optionsCaption: 'Year'">
            </select>
          </fieldset>
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>Gender<span class="mandatoris">*</span>:</legend>
            <input type="radio" name="gender_male" id="gender_male" value="1" data-bind="checked: customer_gender"/>
            <label for="gender_male">Male</label>
            <input type="radio" name="gender_female" id="gender_female" value="0" data-bind="checked: customer_gender" />
            <label for="gender_female">Female</label>
          </fieldset>
        </div>
        <div class="uphinttitle">Contact Details</div>
        <div class="grid_10 suffix_2 itemstoupdate" >
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>Location<span class="mandatoris">*</span>:</legend>
            <label for="customer_country">Country</label>
            <select name="customer_country" id="customer_country" data-bind="options         : countries,
                                                                             value           : customer_country,
                                                                             optionsValue    : 'locations_id',
                                                                             optionsText     : 'location_name',
                                                                             optionsCaption  : 'Country'">
            </select>
            <label for="customer_state">State</label>
            <select name="customer_state" id="customer_state" data-bind="options             : states_display().filter(el=>el.parent_location_id == customer_country()),
                                                                             value           : customer_state,
                                                                             optionsValue    : 'locations_id',
                                                                             optionsText     : 'location_name',
                                                                             optionsCaption  : 'State'">
            </select>
            <label for="customer_city">City</label>
            <select name="customer_city" id="customer_city" data-bind="options               : cities_display().filter(el=>el.parent_location_id == customer_state()),
                                                                             value           : customer_city,
                                                                             optionsValue    : 'locations_id',
                                                                             optionsText     : 'location_name',
                                                                             optionsCaption  : 'City'">
            </select>
          </fieldset>
          <label for="customer_address1" class="apostasi">Street Address<span class="mandatoris">*</span>:</label>
          <input type="text" name="customer_address1" data-bind="value: customer_address1" value=""  />
          <label for="customer_address2" class="apostasi">Suburb<span class="mandatoris">*</span>:</label>
          <input type="text" name="customer_address2" data-bind="value: customer_address2" value=""  />
          <label for="customer_postal_code" class="apostasi">Post Code<span class="mandatoris">*</span>:</label>
          <input type="number" name="customer_postal_code" data-bind="value: customer_postal_code" value=""  />
          <label for="customer_mobile_phone" class="apostasi">Mobile Phone Number<span class="mandatoris">*</span>:</label>
          <input type="tel" name="customer_mobile_phone" maxlength="12" data-bind="value: customer_mobile_phone" value="" onkeypress="mobileInputChange(this)" />
          <label for="customer_landline_phone" class="apostasi">Landline Number:</label>
          <input type="tel" name="customer_landline_phone" maxlength="10" data-bind="value: customer_landline_phone" value=""  />
          <label for="customer_email" class="apostasi">E-mail<span class="mandatoris">*</span>:</label>
          <input type="email" name="customer_email" data-bind="value: customer_email" value=""  />
          <label for="subscribe" >Subscribe to our newsletter</label>
          <input type="checkbox" name="subscribe" id="subscribe"  data-bind="checked: customer_email_subscription"/>
          <label for="referal_methods" class="apostasi">How did you hear about Germanicos?<span class="mandatoris">*</span></label>
          <select name="referal_methods" id="referal_methods" data-bind="options: referal_methods_list, optionsText: 'name', optionsValue: 'id' , value: customer_referal_method, optionsCaption: 'Referral method...'">
          </select>
          <div data-bind="css: { 'hidden': customer_referal_method()!=='7'}">
            <label for="customer_refered_by" class="apostasi" >Who referred you? <span class="smalakis">(First &amp; Last Name, State)</span><span class="mandatoris">*</span>:</label>
            <input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" />
          </div>
          <div data-bind="css: { 'hidden': customer_referal_method()!=='6'}">
            <label for="customer_other_way" class="apostasi">Please specify<span class="mandatoris">*</span>:</label>
            <input type="text" name="customer_other_way" data-bind="value: customer_other_way" value="" />
          </div>
          <div data-bind="css: { 'hidden': customer_referal_method()!=='1' && customer_referal_method()!=='8' && customer_referal_method()!=='9'}">
            <label for="customer_referal_moreinfo" class="apostasi">What did you type<span class="mandatoris">*</span>:</label>
            <input type="text" name="customer_referal_moreinfo" data-bind="value: customer_referal_moreinfo" value="" />
          </div>
        </div>
      </div>
    </div>
    <!--<div class="bigladeling left_position stepbigbuts"> <a data-bind="click: cancelUpdate" class="ui-link"> <span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Customer</span> </a> </div>
    <div class="bigladeling right_position stepbigbuts"> <a  class="ui-link"> <span class="nextstep"></span> <span class="firstpart">Update</span> <span class="bigpart">Customer</span> </a> </div>-->
  
  
  
  <div class="j-footer container_16">
    <div class="f-btn leftfloat"><a data-bind="click: cancelUpdate"><span class="prevstep customerd"></span> <span class="firstpart">Back to</span> <span class="bigpart">Customer's Details</span> </a></div>
    <div class="f-btn rightfloat havefit"><a data-bind="click: updateCustomer"><span class="prevstep picturesf"></span> <span class="firstpart">Update</span> <span class="bigpart">Customer's Details</span> </a></div>
  </div>
  </div>
  
  <!-- /content --> 
</div>
