<div data-role="page" id="error_categories" class="bgBody">
	<h1>Error List</h1>
  <div data-role="content" data-theme="a" class="panwapola">
    
    <div class="content-wrapper">
      <div class="container_12">
        <div class="clear"></div>
        <div data-bind="foreach: categories">
          <div class="grid_12 stablelist" data-bind="click: function(){$parent.loadCategorieErros($data.category_id);}">
			<div></div>
            <div class="grid_1"><span data-bind="text: category_name" class="spacingaroundf-t"></span></div>
          </div>
        </div>
		<div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadGarmentErros(4);}">
				<div class="grid_1"><span  class="spacingaroundf-t">Jacket</span></div>
			</div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadGarmentErros(1);}">
				<div class="grid_1"><span  class="spacingaroundf-t">Pants</span></div>
			</div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadGarmentErros(3);}">
				<div class="grid_1"><span  class="spacingaroundf-t">Vest</span></div>
			</div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadGarmentErros(2);}">
				<div class="grid_1"><span  class="spacingaroundf-t">Shirt</span></div>
			</div>
			
		</div>
		
		<div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadDeductableErrors();}">
				<div class="grid_1"><span  class="spacingaroundf-t">Deductable</span></div>
			</div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadQVErrors();}">
				<div class="grid_1"><span  class="spacingaroundf-t">QC List</span></div>
			</div>
			<div class="grid_12 stablelist" data-bind="click: function(){loadAllErrors();}">
				<div class="grid_1"><span  class="spacingaroundf-t">All Errors</span></div>
			</div>
			
		</div>
      </div>
      <!--<div class="bigladeling left_position stepbigbuts"><a href="#main"><span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Main</span> </a> </div>-->
    </div>
  </div>
  <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_10"><a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
        </div>
    </div>
</div>
