<div data-role="page" id="garmentsPant" class="bgBody">
	<div data-bind="template: { name: 'stepstemplate'}"></div>
    <div data-role="content" data-theme="a" class="panwapola">
        <div class="content-wrapper">
			<div class="container_16"> 
				<div data-bind="with: garmentsVM">
					<div class="grid_16 smalsteps">
                        <ul data-bind="foreach: workflow">
                            <li data-bind="click: $parent.currentStep, visible: $data.id !== 'Custom' || ($data.id === 'Custom' && $parent.customCount), css: { 'selected': $parent.currentStep().id === $data.id, 'completed': $data.completed === true }" class="">
							<div data-bind="text: title"></div>
						  </li>
                        </ul>
                    </div>

<script> 
	function runEffect() {
		var selectedEffect = 'slide';
		var options = {};
		//$( "#scrollContent" ).effect( selectedEffect, options, 650, callback );
		$( "#garmentPreview" ).effect( selectedEffect, options, 500, callback );		
	};
	
	function callback() {
		;
	};	
</script>
                     <!------------------------------------------------------------------------------------------------------------->                                                    
<div data-bind="visible: currentStep().id === 0" class="inpickme"  id="scrollWrapper">
        <h2>Select Pant Fabric</h2>    
        <div class="grid_16 littleing">
        	<div class="grid_7" data-bind="foreach:PantData">
	        	<div data-bind="visible:parentSuitTimestampID == '' ">
                
                    <div class="grid_15 garmentbreak fabricselect ">
                        <div class="grid_16 fivepadding tomakegreen" data-bind="css: { 'makegreen': PantFabric.title != 'none'  || PantHasCustomerFabric}">
                            <span class="garmenttype">Pant <span data-bind="text: variantId + 1"></span></span>
                            <div name="FabricCheck" class="thirty_optioncell simpleclick garment_options" data-bind="css: {  }, modifiedPantBooleanOptions:[$index(), 'FabricCheck', 'selecteds']">Select Pant Fabric
                            </div> 
                            <div class="left_position garment_options fabricinfo" >
                                <span name="PantFabricText" data-bind="visible:!PantHasCustomerFabric,text:  PantFabric.title"  ></span> <span name="PantFabricText" data-bind="visible:PantHasCustomerFabric, text: PantCustomerFabric.FabricCode"  ></span>
                                <img name="PantFabricImage" data-bind="attr:{src: PantFabric.fabricImage}" style="width:30px; height: 30px" />
                            </div>    
                            <div class="thirty_optioncell open_style_notes garment_options_two"  data-bind="switchpopup:[$index(), 'PantFabricNotesPopup']">OPEN
                            </div>
                            <div name="PantFabricNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantFabricNotes">Pant <span data-bind="text: variantId + 1"></span> Fabric General Notes &amp; instructions </p>
                        <textarea type="text" name="PantFabricNotes" data-bind="value: PantFabricNotes, updateFormOnChange: PantFabricNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantFabricNotesPopup']">Save And Close</a> 
                    </div></div>
                    
                    
                                                                 
                        </div>
                    </div>
                    
            	</div>
			</div>
            <div class="grid_9">
            	<div data-bind="with: fabricsVM">
                	<div data-target-attr="PantFabric" data-bind="template: { name: 'fabricsSelectorTPL'}"></div>
                 </div>
			</div>
		</div>
        <div class="clear"></div>
        <h2>Select Fit</h2>
          
        <div class="grid_16 gAttr">        
			<div class="PantFitList" data-target-attr="PantFit" data-bind="foreach: PantFitList" >
            	<div class="MainListElementDisplay">
                	<div name="PantFitDiv" class="grid_44 MainListElement" >
                    	<div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'PantFitDiv']">
                            <span data-bind="text: $data"></span>
                        </div>
                             
                        <span name="PantFitList" data-bind="text: $data" style="display:none" ></span>
                        <div class="details_box" style="margin-top:34px">
							<div class="grid_16" >  
                            	<div class="grid_16 help_titles">
                                	<div class="grid_5">Garment</div>
                                    <div class="thirty_optioncell right_position">Select</div>
								</div>                                        
								<div class="grid_16" data-bind="foreach:$parent.PantData">
                                	<div data-bind="visible:parentSuitTimestampID == '' ">	
                                    
                                        <div name="PantFitEachGarment" class="grid_16 bottomthreemarg triggerr offtrigger">
                                            <div class="grid_7">
                                                <div class="label_style">
                                                    <span>Pant <span data-bind="text: variantId + 1"></span></span>
                                                </div>
                                            </div>
                                            <div name="PantFit" class="thirty_optioncell listsimpleclick simpleclick right_position" data-bind="css: { 'selecteds': PantFit === $parent }, click: function(){ PantFit = $parent;}, modifiedPantListOptions:[$index(), $parent, 'PantFitList', 'PantFit', 'none', 'PantFitEachGarment', 'PantFitDiv']">box
                                            </div>
                                        </div>
                                        
                                	</div>        
								</div>
							</div>
						</div>    
					</div> 
				</div>                     
			</div>
		</div>            

        <div class="clear"></div>
</div>

                     <!------------------------------------------------------------------------------------------------------------->                                                               
<div data-bind="visible: currentStep().id === 1" class="inpickme"  id="scrollWrapper">
  <div id="scrollContentqws">
  	<h2>Select Pant Style</h2>         
      <div class="grid_16 gAttr">
          <div data-target-attr="pantFit" data-bind="foreach: pantFitList" class="pantFitList"> 
              <div data-bind="foreach:$parent.PantData"><!--I placed this outside the details box because it was inheriting the NO DISPLAY-->
              	  <div data-bind="visible:parentSuitTimestampID == '' ">	
                  	<div name="PantStyleNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantStyleNotes">Pant <span data-bind="text: variantId + 1"></span> Style Notes </p>
                        <textarea type="text" name="PantStyleNotes" data-bind="value: PantStyleNotes, updateFormOnChange: PantStyleNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantStyleNotesPopup']">Save And Close</a> 
                    </div></div>
              	  </div>        
              </div>
              <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                  <div name="pantFitDiv" class="grid_44 MainListElement">
                      <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'pantFitDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'pantFitDiv']">
                          <span data-bind="text: title"></span>
                      </div>
                      <span name="pantFitList" data-bind="text: id" style="display:none"></span>
                  
                      <div class="details_box"><!--This is to hide the options-->
                      <div class="grid_16 help_titles">
                              <div class="grid_6">Garment</div>
                              <div class="thirty_optioncell right_position">Notes</div>
                              <div class="thirty_optioncell right_position">Select</div>
                              
                          </div>
                          <div class="grid_16" data-bind="foreach:$parent.PantData">
                          	  <div data-bind="visible:parentSuitTimestampID == '' ">	
                          
                                  <div name="pantFitEachGarment" class="grid_16 bottomthreemarg triggerr">
                                      <div class="grid_7">
                                          <div class="label_style">
                                              <span>#<span data-bind="text: variantId + 1"></span></span>
                                              <span name="PantFabricText" data-bind="visible:!PantHasCustomerFabric,text:  PantFabric.title"  ></span> <span name="PantFabricText" data-bind="visible:PantHasCustomerFabric, text: PantCustomerFabric.FabricCode"  ></span>
                                          </div>
                                      </div>
                                                                                                  
                                      <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'PantStyleNotesPopup']">OPEN NOTES
                                      </div>
                                      
                                      <div name="pantFit" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': pantFit.id === $parent.id }, click: function(){ pantFit = $parent;}, modifiedPantListOptions:[$index(), $parent, 'pantFitList', 'pantFit' , 'none', 'pantFitEachGarment', 'pantFitDiv']">Pant Style Option
                                      </div>
                                  </div>
                                  
                              </div>    
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="clear"></div>
  	</div>
</div>
                            
                     <!------------------------------------------------------------------------------------------------------------->                                                        
<div data-bind="visible: currentStep().id === 2" class="inpickme"  id="scrollWrapper">
  <div id="scrollContentqws">	 
    <h2>Select Pant Pleats</h2>
    <div class="grid_16 gAttr">
        <div data-target-attr="pantPleats" data-bind="foreach: pantPleatsList" class="pantPleatsList"> 
            <div data-bind="foreach:$parent.PantData">
            	<div data-bind="visible:parentSuitTimestampID == '' ">	
                	<div name="PantPleatsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantPleatsNotes">Pant <span data-bind="text: variantId + 1"></span> Pleats Style Notes </p>
                        <textarea type="text" name="PantPleatsNotes" data-bind="value: PantPleatsNotes, updateFormOnChange: PantPleatsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantPleatsNotesPopup']">Save And Close</a> 
                    </div></div>
				</div>                
            </div>
                <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                <div name="pantPleatsDiv" class="grid_44 MainListElement pusherr">
                    <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'pantPleatsDiv']" />
                    <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'pantPleatsDiv']">
                        <span data-bind="text: title"></span>
                    </div>
                    <span name="pantPleatsList" data-bind="text: id" style="display:none"></span>
                
                    <div class="details_box">
                    <div class="grid_16 help_titles">
                            <div class="grid_6">Garment</div>
                            <div class="thirty_optioncell right_position">Notes</div>
                            <div class="thirty_optioncell right_position">Select</div>
                            
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.PantData">
							<div data-bind="visible:parentSuitTimestampID == '' ">	
							                        
                                <div name="pantPleatsEachGarment" class="grid_16 bottomthreemarg triggerr">
                                    <div class="grid_7">
                                        <div class="label_style">
                                            <span>#<span data-bind="text: variantId + 1"></span></span>
                                            <span name="PantFabricText" data-bind="visible:!PantHasCustomerFabric,text:  PantFabric.title"  ></span> <span name="PantFabricText" data-bind="visible:PantHasCustomerFabric, text: PantCustomerFabric.FabricCode"  ></span>
                                        </div>
                                    </div>
                                                                                                
                                    <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'PantPleatsNotesPopup']">OPEN NOTES
                                    </div>
                                    
                                    <div name="pantPleats" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': pantPleats.id === $parent.id }, 
                                                                    click: function(){ pantPleats = $parent; $parents[1].pantPleatsPocketsDependencies('pantPocketsList', 'pantPocketsEachGarment');},
                                                                    modifiedPantListOptions:[$index(), $parent, 'pantPleatsList', 'pantPleats' , 'none', 'pantPleatsEachGarment', 'pantPleatsDiv']">Pant Pleats Option
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
	</div>	
</div>
                            
                     <!------------------------------------------------------------------------------------------------------------->                                                        
<div data-bind="visible: currentStep().id === 3" class="inpickme"  id="scrollWrapper">
  <div id="scrollContentqws">	 
   	<h2>Select Pant Pockets</h2>
      <div class="grid_16 gAttr">
          <div data-target-attr="pantPockets" data-bind="foreach: pantPocketsList" class="pantPocketsList"> 
              <div data-bind="foreach:$parent.PantData">
			      <div data-bind="visible:parentSuitTimestampID == '' ">	
                      <div name="PantFrontPocketsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantFrontPocketsNotes">Pant <span data-bind="text: variantId + 1"></span> Pockets Style Notes </p>
                        <textarea type="text" name="PantFrontPocketsNotes" data-bind="value: PantFrontPocketsNotes, updateFormOnChange: PantFrontPocketsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantFrontPocketsNotesPopup']">Save And Close</a> 
                    </div></div>
			      </div>                      
              </div>
              <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                  <div name="pantPocketsDiv" class="grid_44 MainListElement pusherr">
                      <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'pantPocketsDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'pantPocketsDiv']">
                          <span data-bind="text: title"></span>
                      </div>
                      <span name="pantPocketsList" data-bind="text: id" style="display:none"></span>
                  
                      <div class="details_box">
                      <div class="grid_16 help_titles">
                              <div class="grid_6">Garment</div>
                              <div class="thirty_optioncell right_position">Notes</div>
                              <div class="thirty_optioncell right_position">Select</div>
                              
                          </div>
                          <div class="grid_16" data-bind="foreach:$parent.PantData">
						      <div data-bind="visible:parentSuitTimestampID == '' ">                          
                          
                                  <div name="pantPocketsEachGarment" class="grid_16 bottomthreemarg triggerr" >
                                      <div class="grid_7">
                                          <div class="label_style">
                                              <span>#<span data-bind="text: variantId + 1"></span></span>
                                              <span name="PantFabricText" data-bind="visible:!PantHasCustomerFabric,text:  PantFabric.title"  ></span> <span name="PantFabricText" data-bind="visible:PantHasCustomerFabric, text: PantCustomerFabric.FabricCode"  ></span>
                                          </div>
                                      </div>
                                                                                                  
                                      <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'PantFrontPocketsNotesPopup']">OPEN NOTES
                                      </div>
                                      
                                      <div name="pantPockets" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': pantPockets.id === $parent.id }, click: function(){ pantPockets = $parent;}, modifiedPantListOptions:[$index(), $parent, 'pantPocketsList', 'pantPockets' , 'pantsCustomPockets', 'pantPocketsEachGarment', 'pantPocketsDiv', 'Pants Pockets']">Pant Pockets Option
                                      </div>
                                  </div>
                              
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="giros grid_15">                              
          <div class="grid_15" data-bind="foreach:PantData">
        	  <div data-bind="visible:parentSuitTimestampID == '' ">	
                  
          	   </div>	        
          </div>                                   
      </div>                                  
     <div name="pantsCustomPocketsNotesPopup" id="light" class="white_content">
          <a href = "javascript:void(0)" class="close_popups" data-bind="closepopup:['pantsCustomPocketsNotesPopup']">Close</a>
          <div class="grid_16" data-target-attr="pantsCustomPocketsNotes">
              <div class="tenmarg">Custom Pant Pockets Notes
              </div>
              <textarea type="text" name="pantsCustomPocketsNotes" data-bind="value: pantsCustomPocketsNotes, updateFormOnChange: pantsCustomPocketsNotes, valueUpdate: 'afterkeydown'" style="min-height:120px;"></textarea>
          </div>                            
      </div>
      <div name="pantsCustomPocketsImagePopup" id="light" class="white_content">
          <a href = "javascript:void(0)" class="close_popups" data-bind="closepopup:['pantsCustomPocketsImagePopup']">Close</a>
          <div class="grid_8 prefix_4 suffix_5">
              <input id="files" type="file" accept="image/*" data-bind="visible: false"/>
              <div id="pantsCustomPocketsMediaBtn" data-role="button">Upload media
              </div>
          </div>
          <output class="grid_8 prefix_5 suffix_5" id="pantsCustomPocketsMedia" data-bind="visible:pantsCustomPocketsImage() != ''" ></output>
          <div class="grid_8 prefix_4 suffix_5 selectlist" data-target-attr="pantsCustomPocketsImage">
              <input id="pantsCustomPocketsImage" name="pantsCustomPocketsImage" type="text" data-bind="visible: false, value: pantsCustomPocketsImage"/>
           <!--   <div data-role="button" class="textCloneBtn" id="textCloneBtn1">Apply</div>	-->
          </div>
      </div>
     <div class="clear"></div>
 	</div>
</div>
                            
                     <!------------------------------------------------------------------------------------------------------------->                                                        
<div data-bind="visible: currentStep().id === 4" class="inpickme"  id="scrollWrapper">
  <div id="scrollContentqws">	 
    <h2>Select Pant Back Pockets</h2>
      <div class="grid_16 gAttr">
          <div data-target-attr="bpantPockets" data-bind="foreach: bpantPocketsList" class="bpantPocketsList"> 
              <div data-bind="foreach:$parent.PantData"><!--I placed this outside the details box because it was inheriting the NO DISPLAY-->
			      <div data-bind="visible:parentSuitTimestampID == '' ">
                  	<div name="PantBackPocketsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantBackPocketsNotes">Pant <span data-bind="text: variantId + 1"></span> Back Pockets Style Notes </p>
                        <textarea type="text" name="PantBackPocketsNotes" data-bind="value: PantBackPocketsNotes, updateFormOnChange: PantBackPocketsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantBackPocketsNotesPopup']">Save And Close</a> 
                    </div></div>
                  </div>        
              </div>
                <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                  <div name="bpantPocketsDiv" class="grid_44 MainListElement pusherr">
                      <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'bpantPocketsDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'bpantPocketsDiv']">
                          <span data-bind="text: title"></span>
                      </div>
                      <span name="bpantPocketsList" data-bind="text: id" style="display:none"></span>

                      <div class="details_box"><!--This is to hide the options-->
                      <div class="grid_16 help_titles">
                              <div class="grid_6">Garment</div>
                              <div class="thirty_optioncell right_position epaulettes" data-bind="visible: id !== 'no_pocket'">Position</div>
                              <div class="thirty_optioncell right_position">Notes</div>
                              <div class="thirty_optioncell right_position">Select</div>
                              
                          </div>
                          <div class="grid_16" data-bind="foreach:$parent.PantData">
                          	  <div data-bind="visible:parentSuitTimestampID == '' ">
                          
                                  <div name="bpantPocketsEachGarment" class="grid_16 bottomthreemarg triggerr">
                                      <div class="grid_7">
                                          <div class="label_style">
                                              <span>#<span data-bind="text: variantId + 1"></span></span>
                                              <span name="PantFabricText" data-bind="text: PantFabric.title"></span>
                                          </div>
                                      </div>
                                      <div class="positiona right_position" data-bind="visible: $parent.id !== 'no_pocket'">
                                          <select data-mini="true" class="mikrosss" name="pbackpocketMethod" id="pbackpocketMethod" data-bind="options: $parents[1].pbackpocketMethodList, 
                                                  value: pbackpocketMethod, 
                                                  modifiedPantListSelectOptions:[$index(), 'bpantPocketsList', 'pbackpocketMethod' ]"> 
                                          </select>
                                      </div>
                                      <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'PantBackPocketsNotesPopup']">OPEN NOTES
                                      </div>
                                      
                                      <div name="bpantPockets" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': bpantPockets.id === $parent.id }, click: function(){ bpantPockets = $parent;}, modifiedPantListOptions:[$index(), $parent, 'bpantPocketsList', 'bpantPockets' , 'none', 'bpantPocketsEachGarment', 'bpantPocketsDiv']">Pant Pockets Option
                                      </div>
                                  </div>
                              
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>                            
       	<div class="clear"></div>
  	</div>
</div>
                            
                     <!------------------------------------------------------------------------------------------------------------->                                                        
<div data-bind="visible: currentStep().id === 5" class="inpickme"  id="scrollWrapper">
  <div id="scrollContentqws">	 
      <h2>Select Pant Belt Loop</h2>
        <div class="grid_16 gAttr">       	
            <div data-target-attr="beltLoopStyle" data-bind="foreach: beltLoopStyleList" class="beltLoopStyleList"> 
                <div data-bind="foreach:$parent.PantData"><!--I placed this outside the details box because it was inheriting the NO DISPLAY-->
					<div data-bind="visible:parentSuitTimestampID == '' ">
                    	<div name="PantBeltAndCuffsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="PantBeltAndCuffsNotes">Pant <span data-bind="text: variantId + 1"></span> Belt &amp; Cuffs Style Notes </p>
                        <textarea type="text" name="PantBeltAndCuffsNotes" data-bind="value: PantBeltAndCuffsNotes, updateFormOnChange: PantBeltAndCuffsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'PantBeltAndCuffsNotesPopup']">Save And Close</a> 
                    </div></div>
                    </div>
                </div>
                <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="beltLoopStyleDiv" class="grid_55 MainListElement pusherr">
                        <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'beltLoopStyleDiv']" />
                        <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'beltLoopStyleDiv']">
                            <span data-bind="text: title"></span>
                        </div>
                        <span name="beltLoopStyleList" data-bind="text: id" style="display:none"></span>
                    
                        <div class="details_box"><!--This is to hide the options-->
                            <div class="grid_16 help_titles">
                                <div class="grid_4">Garment</div>
                                <div class="thirty_optioncell right_position">Braces</div>
                                <div class="thirty_optioncell right_position">Cuffs</div>
                                <div class="thirty_optioncell right_position">Notes</div>
                                <div class="thirty_optioncell right_position">Select</div>
                            </div>
                            <div class="grid_16" data-bind="foreach:$parent.PantData">
                            	<div data-bind="visible:parentSuitTimestampID == '' ">
                            
                                    <div name="beltLoopStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                                        <div class="grid_7">
                                            <div class="label_style">
                                                <span>#<span data-bind="text: variantId + 1"></span></span>
                                                <span name="PantFabricText" data-bind="visible:!PantHasCustomerFabric,text:  PantFabric.title"  ></span> <span name="PantFabricText" data-bind="visible:PantHasCustomerFabric, text: PantCustomerFabric.FabricCode"  ></span>
                                            </div>
                                        </div>
                                          <div class="gAttr" data-target-attr="PantsBracesProvisions">
                                            <div name="PantsBracesProvisions" class="thirty_optioncell truefalseclicks right_position" data-bind="css: { 'selecteds': PantsBracesProvisions === true }, click: function(){ PantsBracesProvisions = !PantsBracesProvisions;}, modifiedPantListBooleanOptions:[$index(), 'beltLoopStyleList', 'PantsBracesProvisions', 'selecteds' ]">Braces TRUE FALSE
                                            </div>
                                        </div>
                                        
                                        <div class="gAttr" data-target-attr="pantCuffs">
                                            <div name="pantCuffs" class="thirty_optioncell truefalseclicks right_position" data-bind="css: { 'selecteds': pantCuffs === true }, click: function(){ pantCuffs = !pantCuffs;}, modifiedPantListBooleanOptions:[$index(), 'beltLoopStyleList', 'pantCuffs', 'selecteds' ]">Pant Cuffs
                                            </div>
                                        </div>
                                        
                                      
                                        
                                        <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'PantBeltAndCuffsNotesPopup']">OPEN NOTES
                                        </div>
                                        
                                        <div name="beltLoopStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': beltLoopStyle.id === $parent.id }, click: function(){ beltLoopStyle = $parent;}, modifiedPantListOptions:[$index(), $parent, 'beltLoopStyleList', 'beltLoopStyle' , 'none', 'beltLoopStyleEachGarment', 'beltLoopStyleDiv']">Pant Belt Option
                                        </div>
                                    </div>
                                  
                            	</div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       	<div class="clear"></div>
  	</div>
</div>
                     <!------------------------------------------------------------------------------------------------------------->                                                        
<div data-bind="visible: currentStep().id === 6" class="inpickme"  id="scrollWrapper">
  	<div id="scrollContentqws">	 

                <h2>Pants General Design Notes &amp; instructions</h2>
                <div class="grid_16">
                    <div class="grid_16 previewimages fivepadding greyish" data-bind="visible: variantNamePant().length > 1">
                        <ul data-bind="foreach: variantNamePant" style="margin-left:5px;">
                            <li data-bind="css: { 'active': $parent.selectedVariantPant() === $data }, click: $parent.selectedVariantPant"> <span data-bind="text: title">1</span> </li>
                        </ul>
                    </div>
                        
                    <div class="grid_16" data-target-attr="PantsNotes" >
                        <div class="grid_14 fivepaddingall fivemargupleft shirtmonogram inmynicepop" style="margin-top:0px !important; padding-top:0px !important;">
                        	<textarea type="text" name="PantsNotes" data-bind="value: PantsNotes, updateFormOnChange: PantsNotes, valueUpdate: 'afterkeydown'"  style="min-height:120px; background:#ececec; margin-top:0px;"></textarea>
                        </div>
                    </div>
                </div> 


  	</div>
</div>

					<!------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->  

<style type="text/css" >
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:600px;
                        position:relative;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                </style>                                                      
<div data-bind="visible: currentStep().id === 'Custom'" class="inpickme"  id="scrollWrapperforcust">
  	<div id="scrollContentqws">	 

                <h2>Custom Options</h2>
				<div data-bind="foreach: PantData">
					<div data-bind="visible: $data.custom.hasCustomInfo">
						<h4><span>Pant </span><span data-bind="text: ($index()+1)"></span></h4>
						<div data-bind="foreach:$data.custom.custom">
                        <div class="grid_2 suffix_1 " style="margin:10px 0px 20px 20px; text-align:center; ">
                        
							
							<div data-role="button" data-bind="click:function(){$parentContext.$parent.addCustomImage($parentContext.$index(), $index());}" class="loadimages" style="margin:0px auto !important;">Upload Image</div>
                            <span class="underbuttons" data-bind="text:$data.name"></span>
                            </div>
                            <div class="clear"></div>
                            
							<output style="width:100%" data-bind="foreach: $data.image.getMediaPreview()">
								<div class="img-wrap" data-bind="attr:{id: $index()}">
									<span class="close" data-bind="click: function(){$parentContext.$data.image.removeMedia($index());}" >X</span>
									<div class="image_panel">
										<img id="imagemap" class="imageMap" width="600" data-bind="attr: {src: $data}, click:function(data,evt){$root.openDialog2($parentContext.$data.image,evt, $index());}"></img>
										<div class="mapper" data-bind="attr:{id: $parentContext.$data.image.mapperID($index())}">
										</div>
										<div id="planetmap" class="planetmap" data-bind="foreach: $parentContext.$data.image.getTags($index())">
											<div class="arrow" data-bind="style:{width: $parentContext.$parentContext.$data.image.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $parentContext.$parentContext.$data.image.getTagAttrib('left%', $parentContext.$index(), $index()), top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
											<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index())}">
												<div class="tagged_title" style="display:block;">
													<span data-bind="text: $parentContext.$parentContext.$data.image.getTagAttrib('text', $parentContext.$index(), $index())"></span>
												</div>
												<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
													<img class="openDialog" data-bind="click: function(){$parentContext.$parentContext.$data.image.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
												</div>
											</div>
										</div>
									</div>
								</div>
							</output>
                            <div class="clear"></div>
                            <hr>
						</div>
					</div>
				</div>


  	</div>
</div>
<!------------------------------------------------------------------------------------------------------------->          
<!-------------------------------------------------------------------------------------------------------------> 
<div id="popup_box" style="width: 100%;">
	<div class="form_panel" id="form_panel" name="form_panel">
		<a id="popupBoxClose" class="close_popups" data-bind="click:function(){$root.closeDialog();}">Close</a>
		<p class="media_pops">
		<span>Add your comments</span>
			<textarea class="title"></textarea>
			<input type="button" value="Add Comment" data-mini="true" data-bind="click:function(){$root.addTag();}" /></p>
			<div class="clear"></div>
	</div>
</div>
         
<!------------------------------------------------------------------------------------------------------------->          
<div class="grid_6 fixedpreview" data-bind="visible: currentStep().id !== 'Custom'"><!-- here is the preview -->
  <div class="grid_16" data-bind="visible: variantNamePant().length > 1">
       <div class="previewimages">
          <ul data-bind="foreach: variantNamePant">
          	<div data-bind="visible: $parent.PantData[$index()].parentSuitTimestampID == ''">
              	<li class="disablede" onclick="runEffect()" data-bind="css: { 'active': $parent.selectedVariantPant() === $data }, click: $parent.selectedVariantPant">
                  	<a><span data-bind="text: title">1</span>
                  	</a>
              	</li>
          	</div>    
          </ul>
     </div>
  </div>
                       
  <div id="garmentPreview" class="garmentPreview">
      <div id="frontPreview" data-bind="visible: PreviewVisible() == 'front'">
          <img src="http://shirt-tailor.net/thepos/appimg/pant/pant_bg.png" />	
          <img data-bind="attr: {src: pantFit().preview }" />
          <img data-bind="attr: {src: pantPleats().preview }" />
          <img data-bind="attr: {src: pantPockets().preview }" />
          <img src="http://shirt-tailor.net/thepos/appimg/pant/cuffs/cuff_norm.png" data-bind="visible: pantCuffs() ===true  && pantFit().id === 'Normal_Straight'" />
          <img src="http://shirt-tailor.net/thepos/appimg/pant/cuffs/cuff_boot.png" data-bind="visible: pantCuffs()=== true  && pantFit().id === 'Boot_Flare'" />
          <img src="http://shirt-tailor.net/thepos/appimg/pant/cuffs/cuff_narrow.png" data-bind="{visible: pantCuffs()=== true  && pantFit().id === 'Narrow_Slim'}" />
          <img data-bind="attr: {src: beltLoopStyle().preview }" />
      </div>
  <!--    <div id="backPreview" style="display:none">  -->
       <div id="backPreview" data-bind="visible: PreviewVisible() == 'back'">
          <img src="http://shirt-tailor.net/thepos/appimg/pant/back/bg.png" />
          <img data-bind="attr: {src: bpantPockets().previewleft }, visible: pbackpocketMethod() === 'Both' || pbackpocketMethod() === 'Left'" />
          <img data-bind="attr: {src: bpantPockets().previewright }, visible: pbackpocketMethod() === 'Right' || pbackpocketMethod() === 'Both'" />
      </div>
      <div class="fabric_on_grid" data-bind="with: PantFabric">
      
          <span style="  float:left; display:inline;">Fabric: </span>
       		<span data-bind="text: title" style=" float:left; display:inline; margin:0px 0px 0px 10px;"></span>
  </div>
  </div>
                  	  	
    <div class="grid_16">
                <div class="newprevtab firsttab" data-bind="click:function(){ PreviewVisible('front'); }, css: {enabled: PreviewVisible() == 'front' }"> Front 
        </div>
                <div class="newprevtab lasttab" data-bind="click:function(){ PreviewVisible('back'); }, css: {enabled: PreviewVisible() == 'back' }"> Back 
        </div>                               
    </div>
   
 </div><!-- up until here is the preview -->
 
         <div data-bind="visible: orderItem.initializeDesignHtml() == true || 
        						pantPleatsPocketsDependencies('pantPocketsList', 'pantPocketsEachGarment') == true">
		</div>		
 
 
            </div>
        </div>
    </div>
</div><!-- /content -->
<div class="j-footer container_12" data-bind="with: garmentsVM">
  	<div class="half-em-around"> 
            <div class="grid_2"><a data-bind="click: function(){posChangePage('#orderItemSelectGarment');}" class="new-btn icon-exit-design new-btn-icon-left" data-role="button"><span class="btn-small-letter">EXIT the</span><span class="btn-letter">  Pant Design</span></a></div>
            <div class="grid_2 prefix_8"><a data-bind="click: nextStep" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit &amp;</span><span class="btn-letter">  Next Step</span></a></div>
            
            </div></div>
    
				<script>
			    
					function appendItemPantPockets(topost, basedata) {
console.log("appendItemPant Pockets");
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					               data: basedata2
					                },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									orderItem.MediaUploadVM.imagPath = data['image'];
									orderItem.MediaUploadVM.upPath = data['image'];
									orderItem.MediaUploadVM.media(data['image']);
									return;
									localStorage.removeItem('pantsCustomPocketsPhoto');
									tmp = localStorage.getItem('pantsCustomPocketsPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('pantsCustomPocketsPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('pantsCustomPocketsMedia').innerHTML = ['<img src="', basedata,'" width="180"/>'].join('');

									document.getElementsByName('pantsCustomPocketsImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('pantsCustomPocketsImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('pantsCustomPocketsImage')[0].fireEvent("onchange");				
									}	
					            }
					        });
					}

			    
					if (window.FileReader) {
				    	function handleFileSelectPockets(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImagePockets(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 180, 1536, "garmentsPant.htm", "Pockets");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      
				  
				    	
				    document.getElementById('files').addEventListener('change', handleFileSelectPockets, false);
					document.getElementById('fabricfiles').addEventListener('change', handleFileSelectPockets, false);
			    </script>     
    
    
</div>

			
