<div data-role="page" id="selectFabric" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>		
		
		<div data-role="content" data-theme="a" style="background:none !important; border:none;">
		
			<img class="menuTrigger" src="http://shirt-tailor.net/thepos/appimg/germanicosBtnRight.png">
			<div class="content-wrapper">
				<div class="container_12"> 
					<div class="grid_8">
						<div data-bind="with: selected_fabric">
							<div class="selectedFabricImage">
								<img data-bind="attr:{src: fabricImage}" />  
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box" data-bind="with: selected_fabric">
							<span data-bind="text: title"></span>
							<span data-bind="text: price"></span>
						</div>
						<a href="#" data-role="button" data-bind="click: selectFabric">Select fabric</a>
						<a href="#" data-role="button" data-bind="click: cancelFabric">Cancel</a>
					</div>
					<div class="clear"></div>
					<div class="grid_5"> 
						<div data-role="fieldcontain">
							<label for="name">Fabric code:</label>
							<input type="text" data-bind="value: fabricAutocomplete,  valueUpdate: 'afterkeydown'" />
						</div>	
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<div data-bind="foreach: fabricAutocompleteList"> 
							<div data-bind="text: title, click: $parent.selected_fabric"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /content -->
	</div>
</div>
