<div data-role="page" id="shipping_incomingBoxHistory" class="bgBody">
    <!-- import style -->
    <link rel="stylesheet" type="text/css" href="css/shipping_incomingBoxHistory.css" media="all" />

    <h1>Incoming Boxes History</h1>


    <!-- Date filter range -->
    <div class="calendar_filter">
        <h2 style="">Date filter range</h2>
        <input id="from" type="date">
        <span style="position: relative;top: -20px;left: -3%;margin: 0px -3.4% 0px 0px;"> - </span>
        <input id="until" style="right: -10%;position: relative;" type="date">
        <button class="apply-btn apply ui-btn ui-shadow ui-corner-all" data-bind="click: function() {$root.applyFilterRange()}">apply</button>
        <button class="clear-btn clear ui-btn ui-shadow ui-corner-all" data-bind="click: function() {$root.clearFilterRange()}">clear</button>
        
    </div>
    <br style="clear: both">
    <!-- main table -->
    <table data-bind="visible: boxesToShow().length != 0" class="items_table">
        <thead>
            <th>BOX CREATED BY</th>
            <th>DEPARTURE CITY</th>
            <th>QTY</th>
            <th>DATE SEND</th>
            <th>DATE RECEIVED</th>
            <th>TRACKING No</th>
            <th>COURIER</th>
        </thead>
        <tbody data-bind="foreach: boxesToShow()">
            <tr data-bind="click: function() {$data.showItemTable(!$data.showItemTable())}">
                <td data-bind="text: $data.created_by != null ? $data.created_by   : ' - '">BOX CREATED BY</td>
                <td data-bind="text: $data.source != null ? $data.source   : ' - '">DEPARTURE CITY</td>
                <td data-bind="text: $data.items.length != null ? $data.items.length   : ' - '">QTY</td>
                <td data-bind="text: $data.created_at != null ? $data.created_at   : ' - '">DATE SEND</td>
                <td data-bind="text: $data.received_date != null ? $data.received_date   : ' - '">DATE RECEIVED</td>
                <td data-bind="text: $data.tracking_code != null ? $data.tracking_code   : ' - '">TRACKING No</td>
                <td data-bind="text: $data.shipping_method_name != null ? $data.shipping_method_name   : ' - '">COURIER</td>
            </tr>
            <tr data-bind="if: $data.showItemTable() == true" class="item">
                <td colspan="7">
                    <!-- hidden and showable table -->
                    <table>
                        <th>CUSTOMER</th>
                        <th>ALTERATION</th>
                        <th>GARMENT or ITEM</th>
                        <th>DATE REQUIRED</th>
                        <th>HAS CHAT</th>
                        <tbody data-bind="foreach: $data.items">
                            <tr>
                                <td data-bind="text: $data.customer_name != null ? $data.customer_name : ' - '"></td>
                                <td data-bind="text: $data.type.toUpperCase() == 'ALTERATION' ? $data.garment_name : ' - '"></td>
                                <td data-bind="text: $data.type.toUpperCase() != 'ALTERATION' ? $data.garment_name : ' - '"></td>
                                <td data-bind="text: $data.urgent_date != null ? $data.urgent_date : ' - '"></td>
                                <td>
                                    <span class="show_chat_button" data-bind="visible: $data.chats.length > 0, click: function() {$root.openHistoryChat($parentContext.$index() , $index())}">VIEW CHAT HISTORY</span>
                                    <span data-bind="visible: $data.chats.length == 0">no chat history</span>
                                </td>
                            </tr>
                            <!-- chat for each item -->
                            <!-- <tr data-bind="if: $data.chats.length > 0" class="chat">
                                <td colspan="2"></td> -->
                                <!-- show only last 2  chats -->
                                <!-- <td colspan="5">
                                    <div data-bind="foreach: $data.chats.slice(-2)" style="margin-bottom: 11px;">
                                        <span data-bind="text: $data.created_at" class="created_at" style="font-size: 13px; font-style: italic;"></span>
                                        <span data-bind="text: $data.user_name" class="user_name" style=" font-size: 13px; font-style: italic; font-weight: bold;"></span>
                                        <span data-bind="text: $data.reason" style=" font-size: 13px;"></span>
                                        <br>
                                    </div>
                                    <span class="show_chat_button" data-bind="click: function() {$root.openHistoryChat($parentContext.$index() , $index())}">VIEW CHAT HISTORY</span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    
    <!-- No BOXES -->
    <div data-bind="visible: boxesToShow().length == 0" style="margin-top: 40px;">
        <h1 style="color: red"> NO HISTORY</h1>
    </div>

    <!-- history pop up -->
    <div data-bind="if: historyChat() != null">
        <div id="history-popUp">
            <h1 data-bind="text: 'Logs for ' + historyChat().client_name + '\' ' + historyChat().item_name">Logs for ITEM</h1>
            <div data-bind="foreach: historyChat().item_chat">
                <span data-bind="text: $data.created_at" class="created_at" style="font-size: 13px; font-style: italic;"></span>
                <span data-bind="text: $data.user_name" class="user_name" style=" font-size: 13px; font-style: italic; font-weight: bold;"></span>
                <span data-bind="text: $data.reason" style=" font-size: 13px;"></span>
                <br>
            </div>
            <span class="close-buttom" data-bind="click: function() {$root.closeHistoryChat()}"> x </span>
        </div>
    </div>


    <!-- return to shipping main -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 ">
                <a data-bind="click: function(){posChangePage('#shipping_main_new');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>

</div>