<div data-role="page" id="shipping_faulty_garments" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
      		<div class="container_12">
    
				<div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
                    <div class="content-wrapper">
                        <div class="container_12"> 
                            <div class="grid_12" data-bind="with: selected_item">
							<h2 class="custheaders"><span class="titlosc">Customer Name</span></h2>
							<div class="grid_6 custinfos">                	
							    <span class="secondpart"><span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span></span>
							</div>
                            </div>
                        </div>
                    </div>
                </div>   
                
                <div data-bind="with: ShippingFaultyGarmentsVM">
                    
                    <div class="grid_12">
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Video URL</span>
                            <textarea style="width:50% !important; float:right; " id="VideoUrl" name="VideoUrl" type="text" data-bind="value: VideoUrl, valueUpdate:'keyup'"></textarea>
                        </div>
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Video Comments</span>
                            <textarea style="width:50% !important; float:right; " id="VideoComments" name="VideoComments" type="text" data-bind="value: VideoComments, valueUpdate:'keyup'"></textarea>
                        </div>
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Fault Description</span>
                            <textarea style="width:50% !important; float:right; " id="FaultDescription" name="FaultDescription" type="text" data-bind="value: FaultDescription, valueUpdate:'keyup'" ></textarea>
                        </div>
                        
                        <div data-role="fieldcontain">
		                	<label for="datepick">WHOSE FAULT:</label>
                  			<fieldset id="datepick" data-role="controlgroup" data-type="horizontal" data-mini="false">
                    			<select name="WhoseFault" id="WhoseFault" data-bind="options: WhoseFaultList, value: WhoseFault, optionsCaption: 'Select'"></select>
			                </fieldset>
		                </div>
                        
                        <div>
			             	<input id="ShippingFaultyGarmentsImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
				            <div id="ShippingFaultyGarmentsMediaBtn" name="ShippingFaultyGarmentsMediaBtn" class="receiptupload" data-role="button">Upload Image</div>
                            <output class="grid_6" id="ShippingFaultyGarmentsImageMedia" ></output>
                           <!-- <input id="ShippingFaultyGarmentsImage" name="ShippingFaultyGarmentsImage" type="text" style="display:none"  data-bind="value: ShippingFaultyGarmentsImage"/> 	-->
			            </div>
                        
                                          
                        
					</div>
                    
                    <div id="popup_box" style="width: 100%;">
                        <div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" onclick="javascript:closeDialog();">Close</a>
                          <p class="media_pops">Type your comments
                            <input type="text" class="title"/>
                            <input type="button" value="Add Tag" data-mini="true" onclick="addTag()" />
                          </p>
                        </div>
					</div>    
                    
                    
					<div class="clear"></div>	
                                
                </div> 

                <div class="bigladeling left_position stepbigbuts">
                    <a href="#"  data-bind="click: function(){ customersVM.systemMode ='shipping';posChangePage('#shipping_main');}">
						<span class="prevstep"></span>
						<span class="firstpart"> Back</span>
                    </a>
                </div>            
            
    		</div>
	    </div>        
        <div class="clear"></div>
	</div><!-- /content -->
    
<style type="text/css" >
					#popup_box { 
						position:fixed;  
						_position:absolute; /* hack for internet explorer 6 */  
						left:0px;
						top: 0px;
						z-index:1030; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
					}		
					a{  
					cursor: pointer;  
					text-decoration:none;  
					}
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:480px;
                        position:relative;
                    }
                    div.image_panel img{
                        left:0;top:-102px;
                        max-width: 480px;
                        overflow: hidden;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                    div.arrow{
                        background: none repeat scroll 0 0 #FF0000;
                        color: #FF0000;
                        z-index:500;
                    }					
                    input[type='button']{
                        background: none repeat scroll 0 0 #2769C4;
                        border: 1px solid #CFCFCF;
                        color: #FFFFFF;
                        font-weight: bold;
                        height: 30px;
                        padding: 5px;
                    }
                </style>    
    
<script>
            $(document).ready(function() {
                
				myglobal = "";
				myglobal2 = "";
				global_relative_left = 0;
			 	global_relative_right = 0;

				var ua = navigator.userAgent,
			    event = (ua.match(/iPad/i)) ? "touchstart" : "click";

				// WHEN CLICKING ON IMAGE
                $("img.imageMap").live("click",function(e){	
					if( document.getElementById("form_panel").style.display != "block"){
//customAlert("media");
						myglobal = e.target.id.substr(9);
						var image_left = $(this).offset().left;
						var click_left = e.pageX;
						var left_distance = click_left - image_left;
						var image_top = $(this).offset().top;
						var click_top = e.pageY;
						var top_distance = click_top - image_top;
						var mapper_width = $('#mapper_' + myglobal).width();
						//var imagemap_width = $('img.imageMap').width();
						var imagemap_width = $(this).width();
						var mapper_height = $('#mapper_' + myglobal).height();
						//var imagemap_height = $('img.imageMap').height();
						var imagemap_height = $(this).height();
						var relative_left = (left_distance/imagemap_width)*100;
						var relative_top = (top_distance/imagemap_height)*100;
						/*
						// parallax correction caused by margins and paddings					
						center_x = imagemap_width/2;
						center_y = imagemap_height/2;
						distance_x_from_center = center_x - left_distance;
						distance_y_from_center = center_y - top_distance;
						offcenterleft = (15/imagemap_width)*(distance_x_from_center/imagemap_width)*100;
						offcentertop = (15/imagemap_height)*(distance_y_from_center/imagemap_height)*100;
						if(offcenterleft < 0){
							offcenterleft = offcenterleft/2;
						}
						relative_left = relative_left + offcenterleft;
						relative_top = relative_top + 2*offcentertop;
						// parallax correction end
						*/
						var theid = $(this).attr("id");
						var n = theid.indexOf("_"); 
						var idnum = theid.substr(n + 1);
						myglobal2 = "#mapper_" + idnum;
						global_relative_left = relative_left;
						global_relative_top = relative_top;
						
						$('div.mapper').hide();
						$(myglobal2).css("left",relative_left + '%')
						.css("top",relative_top + '%')
						.css("width","35px")
						.css("height","35px") 
						.show();
						
						orderItem.openDialog();
					 //   $("div.mapper").resizable({ containment: "parent" });
					 //   $("div.mapper").draggable({ containment: "parent" });
					}
                });
				
			});
/*
            $(".tagged").live("click",function(e){
console.log("dafuq");
                $(this).find(".tagged_box").html("<img style='width: 35px; height:35px; margin-top: -3px; margin-left: 450px; padding: 0px;' src='gfx/del.png' class='openDialog' value='Delete' onclick='javascript: deleteImageTag(this, " + myglobal + ", " + myglobal + ");' />");
                var img_scope_top = $("img.imageMap").offset().top + $("img.imageMap").height() - $(this).find(".tagged_box").height();
                var img_scope_left = $("img.imageMap").offset().left + $("img.imageMap").width() - $(this).find(".tagged_box").width();
            });
			*/
			var closeDialog = function(){
				$("div.mapper").hide();
                $("input.title").val('');
                $("div.form_panel").hide();
			};

            var addTag = function(){
				var text = $("input.title").val();
				if(text.length > 0){
					var pos_width = $(myglobal2).width();			
					var pos_height = $(myglobal2).height();
					var relative_width = global_relative_left;
					var relative_height = global_relative_top;
					var fromleft = 100 + relative_width;
					var arrowwidth = 105 - relative_width;
				
					$('#planetmap_' + myglobal).append('<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  relative_width + '%;top:' + relative_height + '%;"></div><div class="tagged"  style="width:'+pos_width+';height:'+
						pos_height+';left:105%;top:'+relative_height+'%;" ><div class="tagged_title" style="display:block;" >'+
						$("input.title").val()+'</div><div class="tagged_box" style="width:'+pos_width+';height:'+
						pos_height+';top:'+(pos_height-55)+';display:block;" ><img style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-left: 450px; margin-top: -3px; padding: 0px;" src="http://shirt-tailor.net/thepos/appimg/del.png" class="openDialog" value="Delete" onclick="javascript: deleteImageTag(this, ' +  relative_width + ', ' + relative_height + ');" /></div></div>');	
	
					tmp = localStorage.getItem('ShippingFaultyGarmentsTags');
					tmp = (tmp === null) ? [] : JSON.parse(tmp);
					tmp.push({image_id:myglobal,left:relative_width,top:relative_height,text:text});
					localStorage.setItem('ShippingFaultyGarmentsTags', JSON.stringify(tmp));
	
					$("div.mapper").hide();
					$("input.title").val('');
					$("div.form_panel").hide();
				}
            };

			/*
            var openDialog = function(){
                $("div.form_panel").fadeIn("slow");
            };*/

			var deleteImageTag = function(obj, left, top){
			//	var c = confirm("Do you want to delete this tag?");
			//	if( c == true){
					$(obj).parent().parent().prev().remove();
					$(obj).parent().parent().remove();
					// REFRESHING LOCALSTORAGE TAGS						
					thetags = localStorage.getItem('ShippingFaultyGarmentsTags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					for (var b=thetags.length - 1; b >= 0; b--){	                    		
						if(thetags[b].left == left && thetags[b].top == top){
							thetags.splice(b, 1);
						}	
					}
					// SAVING LOCALSTORAGE TAGS
					tmp = [];
					for(var x = 0; x < thetags.length; x++){
						tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
					}
					localStorage.removeItem('ShippingFaultyGarmentsTags');
					localStorage.setItem('ShippingFaultyGarmentsTags', JSON.stringify(tmp));	
			//	}else{					
			//		;
			//	}
            };


        </script>     

		<script>
			 
					function removepic(div_id){
						setTimeout(function(){
							if( confirm('Do you want to delete this image?') ){
								document.getElementById(div_id).remove();
								// REFRESHING LOCALSTORAGE PHOTOS						
								thephotos = localStorage.getItem('ShippingFaultyGarmentsPhotos');
								thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
								for (var a=thephotos.length - 1; a >= 0; a--){	                    		
									if(thephotos[a].image_id == div_id){
										thephotos.splice(a, 1);
									}	
								}
								// REFRESHING LOCALSTORAGE TAGS						
								thetags = localStorage.getItem('ShippingFaultyGarmentsTags');
								thetags = (thetags === null) ? [] : JSON.parse(thetags);
								for (var b=thetags.length - 1; b >= 0; b--){	                    		
									if(thetags[b].image_id == div_id){
										thetags.splice(b, 1); 
									}	
								}						
								// SAVING LOCALSTORAGE PHOTOS
								var tmp = [];
								for(var x = 0; x < thephotos.length; x++){
									tmp.push({customer_id:thephotos[x].customer_id,image_id:thephotos[x].image_id,picture:thephotos[x].picture,thumbnail:thephotos[x].thumbnail});
								}
								localStorage.removeItem('ShippingFaultyGarmentsPhotos');
								localStorage.setItem('ShippingFaultyGarmentsPhotos', JSON.stringify(tmp));				
								// SAVING LOCALSTORAGE TAGS
								tmp = [];
								for(var x = 0; x < thetags.length; x++){
									tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
								}
								localStorage.removeItem('ShippingFaultyGarmentsTags');
								localStorage.setItem('ShippingFaultyGarmentsTags', JSON.stringify(tmp));
							}
						},0);
					}			 
			    
					function appendItemShippingFaultyGarments(topost, basedata) {
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									var tmp = localStorage.getItem('ShippingFaultyGarmentsPhotos');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('ShippingFaultyGarmentsPhotos', JSON.stringify(tmp));
									document.getElementById('ShippingFaultyGarmentsImageMedia').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript: removepic(', image_id ,');"></span><div class="image_panel"><img src="', basedata,'" width="480" class="imageMap" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectShippingFaultyGarments(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageShippingFaultyGarments(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 480, 1536, "shipping_faulty_garments.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemShippingFaultyGarments(e.target.result);
				             		//	document.getElementById('ShippingFaultyGarmentsImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      

				    document.getElementById('ShippingFaultyGarmentsImageFiles').addEventListener('change', handleFileSelectShippingFaultyGarments, false);
</script> 
    
    
    
    
    
    
    
    
    
    
</div>
