<div data-role="page" id="shipping_tracking" class="bgBody">
    <!-- import style -->

    <style>

        p {
            margin: 0px;
        }
        * {
            text-shadow: none;   
        }
        .box-details * {
            margin-bottom: 0px;
        }
        .cities-ul li {
            display: inline-block
        }
        .cities-ul {
            position: relative;
            top: 20px;
            white-space: nowrap;
        }
        .lower-plane {
            position: relative;
            top: 0px;
        }
        .upper-plane {
            position: relative;
            top: -30px;
        }
        .underline-div { 
        }
        .track-message {
            font-size: 10px;
            width:40px;
        }
        .track-details * {
            margin-bottom: 0px;
        }
        .track-details {
            background-color: rgb(142, 197, 73);
            border-radius: 5px;
            color: white;
        }
        .track-details2 {
            text-align: center;
        }
        .cities-li {
            height: 150px;
            width: 200px;
            text-align: center;
        }
        .track-country {
            min-height: 20px;
        }
        .track-time {
            font-size: 10px;
        }
        .tracking-row-item {
            margin-bottom: 40px;
        }

    </style>

    <div style="margin: 30px;">
        
        <h1>Box tracking</h1>

        
        <div data-bind="if: boxes().length">
            <div style="width: 70%;display: inline-block;">
                <input type="text" class="search-shipping-tracking"  placeholder="Type any box information to search">
            </div>

            <button class="clear-search-btn" style="width: 20%;display: inline-block;padding: 7px;background: red;color: white">Clear</button>

            <br style="clear: both">
            <div class="box-showing-results"></div>
        </div>
  
        <div data-bind="if: boxes().length == 0">
            <br>
            <h1 style="color: red;">There is no Boxes to track yet :( </h1>
        </div>

        <br>


        <div data-bind="foreach: boxes">
            
            <div class="box-wrapper">

                <div class="box-details">
                    <h2 data-bind="text:$data.destination_name"></h2>
                    <p data-bind="text:$data.destination_addr"></p>
                    <p>Departure: <strong data-bind="text:$data.source_name"></strong></p>
                    <p> <span data-bind="text:$data.tracking_data.slug"></span> TRACKING <span data-bind="text:$data.tracking_data.origin_country_iso3"></span></p>
                    <p>TRACKING NUMBER: <strong data-bind="text: $data.tracking_code"></strong></p>
                </div>

                <div data-bind="visible: $data.tracking_data.checkpoints.length === 0">
                    <br>
                    <h3 style="color: red">No tracking data yet :(</h3>
                </div>

                <ul class="cities-ul" data-bind="foreach: $data.tracking_data.checkpoints">

                    <li class="cities-li">
                        
                        <div class="plane-wrapper">
                            <img data-bind="css: $data.pointClass , attr: { src: $data.planeImg }">
                        </div>

                        <div class="underline-div"></div>

                        <div>
                            <div class="track-details">
                                <p><strong data-bind="text:$data.city"></strong></p>
                                <p class="track-country" data-bind="text:$data.country_name"></p>
                                <span class="track-message" data-bind="text:$data.message"></span>
                            </div>
                            <div class="track-details2">
                                <span class="track-time" data-bind="text:$data.checkpoint_time"></span>
                            </div>
                        </div>  
                    </li>

                </ul>

                <hr style="width: 100%;background: black;">

            </div>

        
        </div>
    </div>

    <!-- return to shipping main -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 ">
                <a data-bind="click: function(){posChangePage('#shipping_main_new');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>
    
</div>