<div data-role="page" id="shipping_faulty_remake_garments" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
      		<div class="container_12">
    
				<div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
                    <div class="content-wrapper">
                        <div class="container_12"> 
                            <div class="grid_12" data-bind="with: selected_item">
							<h2 class="custheaders"><span class="titlosc">Customer Name</span></h2>
							<div class="grid_6 custinfos">                	
							    <span class="secondpart"><span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span></span>
							</div>
                            </div>
                        </div>
                    </div>
                </div>   
                
                <div data-bind="with: AlterationsVM">           
                  <div class="grid_6 newlisttitles">
                    <div class="grid_1"> <span class="marginleftten"> </span> </div>
                    <div class="grid_2"> <span style="display:table; margin:0 auto;">GARMENT</span> </div>
                    <div class="grid_2"> <span style="display:table; margin:0 auto;">FABRIC</span> </div>
                    <div class="grid_3"> <span style="display:table; margin:0 auto;">ORDER DATE</span> </div>
                  </div>
                  <div class="clear"></div>
                  <div class="grid_6" data-bind="foreach: alterations">
                    <ul  class="grid_16 listcustnew orderlist" data-bind="foreach: products">
                      <li class="grid_12" data-bind="visible: 
                                                      orderItem.custSelectVM.selectedCustomer().customer_first_name == $parent.customer.customer_first_name &&  
                                                      orderItem.custSelectVM.selectedCustomer().customer_last_name == $parent.customer.customer_last_name ">	<!-- fittings.fitting.status == '0' && 	orderItem.custSelectVM.selectedCustomer().id == $parent.customer.id	-->
                        <div class="grid_1"> <span class="marginleftten"> </span> </div>
                        <!--
                        <div class="grid_3"><span data-bind="text: orderItem.custSelectVM.selectedCustomer().customer_first_name"></span> <span>&nbsp;</span><span data-bind="text: orderItem.custSelectVM.selectedCustomer().customer_last_name"></span></div>
                        <div class="grid_3"><span data-bind="text: $parent.customer.customer_first_name"></span> <span>&nbsp;</span><span data-bind="text: $parent.customer.customer_last_name"></span></div>
                        -->
                        <div class="grid_2"> <span style="display:table; margin:0 auto;"> <span data-bind="text: garment"></span></span></div>
                        <div class="grid_2"> <span style="display:table; margin:0 auto;"> <span data-bind="text: fabric"></span></span></div>
                        <div class="grid_3"> <span style="display:table; margin:0 auto;"> <span data-bind="text: $parents[1].transmuteDate(fittings.fitting.fitting_date)"></span></span></div>
                        <div class="grid_1">
                            <div name="simpleclick" class="simpleclick" style="margin:3px 0 0 10px;" data-bind="css: { 'selecteds': checked === true }, click: function(){ checked = !checked; $parents[1].modifiedListOptionsSingleOnlyFunction( 'simpleclick', $parentContext.$index(), $index(), $data );  } " >box </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>                    
                
                
                <div data-bind="with: ShippingFaultyRemakeGarmentsVM">
                    <div class="grid_12">
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Video URL</span>
                            <textarea style="width:50% !important; float:right; " id="VideoUrl" name="VideoUrl" type="text" data-bind="value: VideoUrl, valueUpdate:'keyup'"></textarea>
                        </div>
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Video Comments</span>
                            <textarea style="width:50% !important; float:right; " id="VideoComments" name="VideoComments" type="text" data-bind="value: VideoComments, valueUpdate:'keyup'"></textarea>
                        </div>
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Fault Description</span>
                            <textarea style="width:50% !important; float:right; " id="FaultDescription" name="FaultDescription" type="text" data-bind="value: FaultDescription, valueUpdate:'keyup'" ></textarea>
                        </div>
                        
                        <div data-role="fieldcontain">
		                	<label for="datepick">WHOSE FAULT:</label>
                  			<fieldset id="datepick" data-role="controlgroup" data-type="horizontal" data-mini="false">
                    			<select name="WhoseFault" id="WhoseFault" data-bind="options: WhoseFaultList, value: WhoseFault, optionsCaption: 'Select'"></select>
			                </fieldset>
		                </div>
                        
    					<div data-bind="with: $parent.measurementsVM, visible: parent.customersVM.systemMode == 'shipping_remake_garments'">
                            <div class="mygarmentname" name="mygarmentname" style="display:none">
                                <span>Measurements</span>
                            </div>
                            
                            <div name="jacketmeasurements" class="grid_12 allmeasures makemybgwhity" style="display:none"> 
                                <div class="ui-field-contain">
                                    <label for="jacketChest">Jacket Chest</label>
                                    <input  type="tel" name="jacketChest" id="jacketChest" data-bind="value: jacketChest, valueUpdate:'keyup', style: {background: jacketChest() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketChest, visible: jacketChest()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketChest"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketStomach">Stomach</label>
                                    <input type="tel" name="jacketStomach" id="jacketStomach" data-bind="value: jacketStomach, valueUpdate:'keyup', style: {background: jacketStomach() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketStomach, visible: jacketStomach()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketStomach"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketfullShoulder">Full Shoulder</label>
                                    <input type="tel" name="jacketfullShoulder"  id="jacketfullShoulder" data-bind="value: jacketfullShoulder, valueUpdate:'keyup', style: {background: jacketfullShoulder() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketfullShoulder, visible: jacketfullShoulder()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketfullShoulder"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketsleeveL">Left Sleeve</label>
                                    <input type="tel" name="jacketsleeveL"  id="jacketsleeveL" data-bind="value: jacketsleeveL, valueUpdate:'keyup', style: {background: jacketsleeveL() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketsleeveL, visible: jacketsleeveL()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketsleeveL"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketsleeveR">Right Sleeve</label>
                                    <input type="tel" name="jacketsleeveR" id="jacketsleeveR" data-bind="value: jacketsleeveR, valueUpdate:'keyup', style: {background: jacketsleeveR() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketsleeveR, visible: jacketsleeveR()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketsleeveR"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketBack">Back</label>
                                    <input type="tel" name="jacketBack" id="jacketBack" data-bind="value: jacketBack, valueUpdate:'keyup', style: {background: jacketBack() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketBack, visible: jacketBack()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketBack"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketFront">Front</label>
                                    <input type="tel" name="jacketFront" id="jacketFront" data-bind="value: jacketFront, valueUpdate:'keyup', style: {background: jacketFront() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketFront, visible: jacketFront()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketFront"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketNeck">Neck</label>
                                    <input type="tel" name="jacketNeck" id="jacketNeck" data-bind="value: jacketNeck,  style: {background: jacketNeck() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketNeck, visible: jacketNeck()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketNeck"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketBicep">Bicep</label>
                                    <input type="tel" name="jacketBicep" id="jacketBicep" data-bind="value: jacketBicep, valueUpdate:'keyup', style: {background: jacketBicep() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketBicep, visible: jacketBicep()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketBicep"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketWrist">Wrist</label>
                                    <input type="tel" name="jacketWrist" id="jacketWrist" data-bind="value: jacketWrist, valueUpdate:'keyup', style: {background: jacketWrist() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketWrist, visible: jacketWrist()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketWrist"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketforeArms">Forearm</label>
                                    <input type="tel" name="jacketforeArms" id="jacketforeArms" data-bind="value: jacketforeArms, valueUpdate:'keyup', style: {background: jacketforeArms() <=0 ? '#c05a27' : '#dcb469'}" value="" />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketforeArms, visible: jacketforeArms()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketforeArms"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketHips">Jacket Hips</label>
                                    <input type="tel" name="jacketHips" id="jacketHips" data-bind="value: jacketHips, valueUpdate:'keyup', style: {background: jacketHips() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketHips, visible: jacketHips()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketHips"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketLength">Jacket Length</label>
                                    <input type="tel" name="jacketLength" id="jacketLength" data-bind="value: jacketLength, valueUpdate:'keyup', style: {background: jacketLength() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketLength, visible: jacketLength()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketLength"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketLapel">Lapel Length</label>
                                    <input type="tel" name="jacketLapel" id="jacketLapel" data-bind="value: jacketLapel, valueUpdate:'keyup', style: {background: jacketLapel() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketLapel, visible: jacketLapel()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketLapel"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketZeropoint">Zero Point</label>
                                    <input type="tel" name="jacketZeropoint" id="jacketZeropoint" data-bind="value: jacketZeropoint, valueUpdate:'keyup', style: {background: jacketZeropoint() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropoint, visible: jacketZeropoint()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropoint"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketZeropointfront">Front  to Zero</label>
                                    <input type="tel" name="jacketZeropointfront" id="jacketZeropointfront" data-bind="value: jacketZeropointfront, valueUpdate:'keyup', style: {background: jacketZeropointfront() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropointfront, visible: jacketZeropointfront()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropointfront"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="jacketZeropointback">Back to Zero</label>
                                    <input type="tel" name="jacketZeropointback"  id="jacketZeropointback" data-bind="value: jacketZeropointback, valueUpdate:'keyup', style: {background: jacketZeropointback() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropointback, visible: jacketZeropointback()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].jacketZeropointback"></span>
                                </div>       
                            </div>
        
        
                            <div name="pantmeasurements" class="grid_12 allmeasures makemybgwhity" style="display:none"> 
                                <div class="ui-field-contain">
                                    <label for="pantWaist">Pant Waist</label>
                                    <input type="tel" name="pantWaist" id="pantWaist" data-bind="value: pantWaist, valueUpdate:'keyup', style: {background: pantWaist() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                  <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].pantWaist, visible: pantWaist()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].pantWaist"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="pantHips">Pant Hips</label>
                                    <input type="tel" name="pantHips" id="pantHips" data-bind="value: pantHips, valueUpdate:'keyup', style: {background: pantHips() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].pantHips, visible: pantHips()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].pantHips"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="thigh">Thigh</label>
                                    <input type="tel" name="thigh" id="thigh" data-bind="value: thigh, valueUpdate:'keyup', style: {background: thigh() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].thigh, visible: thigh()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].thigh"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="pantLength">Pant Length</label>
                                    <input type="tel" name="pantLength" id="pantLength" data-bind="value: pantLength, valueUpdate:'keyup', style: {background: pantLength() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].pantLength, visible: pantLength()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].pantLength"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="cuffs">Cuffs</label>
                                    <input type="tel" name="cuffs" id="cuffs" data-bind="value: cuffs, valueUpdate:'keyup', style: {background: cuffs() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].cuffs, visible: cuffs()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].cuffs"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="crotch">Crotch</label>
                                    <input type="tel" name="crotch" id="crotch" data-bind="value: crotch, valueUpdate:'keyup', style: {background: crotch() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].crotch, visible: crotch()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].crotch"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="zipper">Zipper Length</label>
                                    <input type="tel" name="zipper" id="zipper" data-bind="value: zipper, valueUpdate:'keyup', style: {background: zipper() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].zipper, visible: zipper()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].zipper"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="pantFrontCrotch">Front Crotch</label>
                                    <input type="tel" name="pantFrontCrotch" id="pantFrontCrotch" data-bind="value: pantFrontCrotch, valueUpdate:'keyup', style: {background: pantFrontCrotch() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].pantFrontCrotch, visible: pantFrontCrotch()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].pantFrontCrotch"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="pantInseam">Inseam</label>
                                    <input type="tel" name="pantInseam" id="pantInseam" data-bind="value: pantInseam, valueUpdate:'keyup', style: {background: pantInseam() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].pantInseam, visible: pantInseam()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].pantInseam"></span>
                                </div>
                                <div class="gAttr" data-target-attr="pantAngledWaist">
                                  <div class="grid_16">
                                    <div class="mycheck mychecknews" id="pantAngledWaist" data-bind="click: function(){ pantAngledWaist(!pantAngledWaist());  }, css: {enabled: pantAngledWaist() }">Angled Pant Waist? </div>
                                  </div>
                                </div>
                                <div class="grid_16" data-bind="css: { 'hidden': pantAngledWaist() != true}">
                                  <div class="grid_7">
                                    <div class="gAttr" data-target-attr="pantWaistAngle">
                                      <div class="mycheck mychecknews" data-bind="click: function(){ pantWaistAngle('Standard + 0.5'); }, css: {enabled: pantWaistAngle() === 'Standard + 0.5' }"> Standard + 0.5" </div>
                                    </div>
                                  </div>
                                  <div class="grid_7">
                                    <div class="gAttr" data-target-attr="pantWaistAngle">
                                      <div class="mycheck mychecknews" data-bind="click: function(){ pantWaistAngle('Severe + 0.75'); }, css: {enabled: pantWaistAngle() === 'Severe + 0.75' }"> Severe + 0.75" </div>
                                    </div>
                                  </div>
                                </div>
                                                                
                            </div>
        
                            <div name="shirtmeasurements" class="grid_12 allmeasures makemybgwhity" style="display:none"> 
                                <div class="ui-field-contain">
                                    <label for="shirtChest">Chest</label>
                                    <input type="tel" name="shirtChest" id="shirtChest" data-bind="value: shirtChest, valueUpdate:'keyup', style: {background: shirtChest() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtChest, visible: shirtChest()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtChest"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtStomach">Stomach</label>
                                    <input type="tel" name="shirtStomach" id="shirtStomach" data-bind="value: shirtStomach, valueUpdate:'keyup', style: {background: shirtStomach() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtStomach, visible: shirtStomach()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtStomach"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtfullshoulder">Full Shoulder</label>
                                    <input type="tel" name="shirtfullshoulder" id="shirtfullshoulder" data-bind="value: shirtfullshoulder, valueUpdate:'keyup', style: {background: shirtfullshoulder() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtfullshoulder, visible: shirtfullshoulder()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtfullshoulder"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtsleeveL">Left Sleeve</label>
                                    <input type="tel" name="shirtsleeveL" id="shirtsleeveL" data-bind="value: shirtsleeveL, valueUpdate:'keyup', style: {background: shirtsleeveL() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtsleeveL, visible: shirtsleeveL()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtsleeveL"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtsleeveR">Right Sleeve</label>
                                    <input type="tel" name="shirtsleeveR" id="shirtsleeveR" data-bind="value: shirtsleeveR, valueUpdate:'keyup', style: {background: shirtsleeveR() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtsleeveR, visible: shirtsleeveR()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtsleeveR"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtBack">Back</label>
                                    <input type="tel" name="shirtBack" id="shirtBack" data-bind="value: shirtBack, valueUpdate:'keyup', style: {background: shirtBack() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtBack, visible: shirtBack()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtBack"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtFront">Front</label>
                                    <input type="tel" name="shirtFront" id="shirtFront" data-bind="value: shirtFront, valueUpdate:'keyup', style: {background: shirtFront() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtFront, visible: shirtFront()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtFront"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtNeck">Neck</label>
                                    <input type="tel" name="shirtNeck" id="shirtNeck" data-bind="value: shirtNeck, valueUpdate:'keyup', style: {background: shirtNeck() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtNeck, visible: shirtNeck()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtNeck"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtBicep">Bicep</label>
                                    <input type="tel" name="shirtBicep" id="shirtBicep" data-bind="value: shirtBicep, valueUpdate:'keyup', style: {background: shirtBicep() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtBicep, visible: shirtBicep()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtBicep"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtWrist">Wrist</label>
                                    <input type="tel" name="shirtWrist" id="shirtWrist" data-bind="value: shirtWrist, valueUpdate:'keyup', style: {background: shirtWrist() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtWrist, visible: shirtWrist()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtWrist"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtWristwatch">Wrist with watch</label>
                                    <input type="tel" name="shirtWristwatch" id="shirtWristwatch" data-bind="value: shirtWristwatch, valueUpdate:'keyup', style: {background: shirtWristwatch() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtWristwatch, visible: shirtWristwatch()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtWristwatch"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtLength">Shirt Length</label>
                                    <input type="tel" name="shirtLength" id="shirtLength" data-bind="value: shirtLength, valueUpdate:'keyup', style: {background: shirtLength() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtLength, visible: shirtLength()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtLength"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="shirtHips">Hips</label>
                                    <input type="tel" name="shirtHips" id="shirtHips" data-bind="value: shirtHips, valueUpdate:'keyup', style: {background: shirtHips() <=0 ? '#c05a27' : '#dcb469'}" value=""/>
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtHips, visible: shirtHips()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].shirtHips"></span>
                                </div>                    
                            </div>
        
        
                            <div name="vestmeasurements" class="grid_12 allmeasures makemybgwhity" style="display:none"> 
                                <div class="ui-field-contain">
                                    <label for="vestChest">Chest</label>
                                    <input type="tel"  name="vestChest" id="vestChest" data-bind="value: vestChest, valueUpdate:'keyup', style: {background: vestChest() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestChest, visible: vestChest()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestChest"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="vestStomach">Stomach</label>
                                    <input type="tel"  name="vestStomach" id="vestStomach" data-bind="value: vestStomach, valueUpdate:'keyup', style: {background: vestStomach() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestStomach, visible: vestStomach()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestStomach"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="vestLength">Vest length</label>
                                    <input type="tel"  name="vestLength" id="vestLength" data-bind="value: vestLength, valueUpdate:'keyup', style: {background: vestLength() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestLength, visible: vestLength()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestLength"></span>
                                </div>
                                <div class="ui-field-contain vest">
                                    <label for="vestHips">Hips at Vest length</label>
                                    <input type="tel"  name="vestHips" id="vestHips" data-bind="value: vestHips, valueUpdate:'keyup', style: {background: vestHips() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestHips, visible: vestHips()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestHips"></span>
                                </div>
                                <div  class="ui-field-contain">
                                    <label for="vestNeck">Neck</label>
                                    <input type="tel"  name="vestNeck" id="vestNeck" data-bind="value: vestNeck, valueUpdate:'keyup', style: {background: vestNeck() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestNeck, visible: vestNeck()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestNeck"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="vestfullShoulder">Full Shoulder</label>
                                    <input type="tel"  name="vestfullShoulder" id="vestfullShoulder" data-bind="value: vestfullShoulder, valueUpdate:'keyup', style: {background: vestfullShoulder() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestfullShoulder, visible: vestfullShoulder()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestfullShoulder"></span>
                                </div>
                                <div class="ui-field-contain">
                                    <label for="vestVLength">Vest V to button</label>
                                    <input type="tel"  name="vestVLength" id="vestVLength" data-bind="value: vestVLength, valueUpdate:'keyup', style: {background: vestVLength() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestVLength, visible: vestVLength()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestVLength"></span>
                                </div>
                                <div class="ui-field-contain vest">
                                    <label for="vestHalfShoulderWidth">Half Shoulder Width</label>
                                    <input type="tel"  name="vestHalfShoulderWidth" id="vestHalfShoulderWidth" data-bind="value: vestHalfShoulderWidth, valueUpdate:'keyup', style: {background: vestHalfShoulderWidth() <=0 ? '#c05a27' : '#dcb469'}" value=""  />
                                    <span data-bind="text: dsRegistry.getDatasource('measurementsDS').getStore()[0].vestHalfShoulderWidth, visible: vestHalfShoulderWidth()*1.0 != 1.0*dsRegistry.getDatasource('measurementsDS').getStore()[0].vestHalfShoulderWidth"></span>
                                </div>                    
                            </div>
        
                        </div>                        
                        
                        
                        
                        <div>
			             	<input id="ShippingFaultyRemakeGarmentsImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
				            <div id="ShippingFaultyRemakeGarmentsMediaBtn" name="ShippingFaultyRemakeGarmentsMediaBtn" class="receiptupload" data-role="button">Upload Image</div>
                            <output class="grid_6" id="ShippingFaultyRemakeGarmentsImageMedia" ></output>
                           <!-- <input id="ShippingFaultyRemakeGarmentsImage" name="ShippingFaultyRemakeGarmentsImage" type="text" style="display:none"  data-bind="value: ShippingFaultyRemakeGarmentsImage"/> 	-->
			            </div>
                        
                                          
                        
					</div>
                    
                    <div id="popup_box" style="width: 100%;">
                        <div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" onclick="javascript:closeDialog();">Close</a>
                          <p class="media_pops">Type your comments
                            <input type="text" class="title"/>
                            <input type="button" value="Add Tag" data-mini="true" onclick="addTag()" />
                          </p>
                        </div>
					</div>    
                    
                    
					<div class="clear"></div>	
                    
                    
                    
                                
                </div> 
                
                
                

                <div class="bigladeling left_position stepbigbuts">
                    <a href="#"  data-bind="click: function(){ customersVM.systemMode ='shipping';posChangePage('#shipping_main');}">
						<span class="prevstep"></span>
						<span class="firstpart"> Back</span>
                    </a>
                </div>   
                
                <div data-bind="with: ShippingFaultyRemakeGarmentsVM">
	                <div class="bigladeling right_position stepbigbuts" data-bind="click: sync"> 
						<span class="nextstep"></span> <span class="firstpart">Submit</span>
    	          	</div> 
                </div>
                         
            
    		</div>
	    </div>        
        <div class="clear"></div>
	</div><!-- /content -->
    
<style type="text/css" >
					#popup_box { 
						position:fixed;  
						_position:absolute; /* hack for internet explorer 6 */  
						left:0px;
						top: 0px;
						z-index:1030; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
					}		
					a{  
					cursor: pointer;  
					text-decoration:none;  
					}
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:480px;
                        position:relative;
                    }
                    div.image_panel img{
                        left:0;top:-102px;
                        max-width: 480px;
                        overflow: hidden;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                    div.arrow{
                        background: none repeat scroll 0 0 #FF0000;
                        color: #FF0000;
                        z-index:500;
                    }					
                    input[type='button']{
                        background: none repeat scroll 0 0 #2769C4;
                        border: 1px solid #CFCFCF;
                        color: #FFFFFF;
                        font-weight: bold;
                        height: 30px;
                        padding: 5px;
                    }
                </style>    
    
<script>
            $(document).ready(function() {
                
				myglobal = "";
				myglobal2 = "";
				global_relative_left = 0;
			 	global_relative_right = 0;

				var ua = navigator.userAgent,
			    event = (ua.match(/iPad/i)) ? "touchstart" : "click";

				// WHEN CLICKING ON IMAGE
                $("img.imageMap").live("click",function(e){	
					if( document.getElementById("form_panel").style.display != "block"){
//customAlert("media");
						myglobal = e.target.id.substr(9);
						var image_left = $(this).offset().left;
						var click_left = e.pageX;
						var left_distance = click_left - image_left;
						var image_top = $(this).offset().top;
						var click_top = e.pageY;
						var top_distance = click_top - image_top;
						var mapper_width = $('#mapper_' + myglobal).width();
						//var imagemap_width = $('img.imageMap').width();
						var imagemap_width = $(this).width();
						var mapper_height = $('#mapper_' + myglobal).height();
						//var imagemap_height = $('img.imageMap').height();
						var imagemap_height = $(this).height();
						var relative_left = (left_distance/imagemap_width)*100;
						var relative_top = (top_distance/imagemap_height)*100;
						/*
						// parallax correction caused by margins and paddings					
						center_x = imagemap_width/2;
						center_y = imagemap_height/2;
						distance_x_from_center = center_x - left_distance;
						distance_y_from_center = center_y - top_distance;
						offcenterleft = (15/imagemap_width)*(distance_x_from_center/imagemap_width)*100;
						offcentertop = (15/imagemap_height)*(distance_y_from_center/imagemap_height)*100;
						if(offcenterleft < 0){
							offcenterleft = offcenterleft/2;
						}
						relative_left = relative_left + offcenterleft;
						relative_top = relative_top + 2*offcentertop;
						// parallax correction end
						*/
						var theid = $(this).attr("id");
						var n = theid.indexOf("_"); 
						var idnum = theid.substr(n + 1);
						myglobal2 = "#mapper_" + idnum;
						global_relative_left = relative_left;
						global_relative_top = relative_top;
						
						$('div.mapper').hide();
						$(myglobal2).css("left",relative_left + '%')
						.css("top",relative_top + '%')
						.css("width","35px")
						.css("height","35px") 
						.show();
						
						orderItem.openDialog();
					 //   $("div.mapper").resizable({ containment: "parent" });
					 //   $("div.mapper").draggable({ containment: "parent" });
					}
                });
				
			});
/*
            $(".tagged").live("click",function(e){
console.log("dafuq");
                $(this).find(".tagged_box").html("<img style='width: 35px; height:35px; margin-top: -3px; margin-left: 450px; padding: 0px;' src='gfx/del.png' class='openDialog' value='Delete' onclick='javascript: deleteImageTag(this, " + myglobal + ", " + myglobal + ");' />");
                var img_scope_top = $("img.imageMap").offset().top + $("img.imageMap").height() - $(this).find(".tagged_box").height();
                var img_scope_left = $("img.imageMap").offset().left + $("img.imageMap").width() - $(this).find(".tagged_box").width();
            });
			*/
			var closeDialog = function(){
				$("div.mapper").hide();
                $("input.title").val('');
                $("div.form_panel").hide();
			};

            var addTag = function(){
				var text = $("input.title").val();
				if(text.length > 0){
					var pos_width = $(myglobal2).width();			
					var pos_height = $(myglobal2).height();
					var relative_width = global_relative_left;
					var relative_height = global_relative_top;
					var fromleft = 100 + relative_width;
					var arrowwidth = 105 - relative_width;
				
					$('#planetmap_' + myglobal).append('<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  relative_width + '%;top:' + relative_height + '%;"></div><div class="tagged"  style="width:'+pos_width+';height:'+
						pos_height+';left:105%;top:'+relative_height+'%;" ><div class="tagged_title" style="display:block;" >'+
						$("input.title").val()+'</div><div class="tagged_box" style="width:'+pos_width+';height:'+
						pos_height+';top:'+(pos_height-55)+';display:block;" ><img style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-left: 450px; margin-top: -3px; padding: 0px;" src="http://shirt-tailor.net/thepos/appimg/del.png" class="openDialog" value="Delete" onclick="javascript: deleteImageTag(this, ' +  relative_width + ', ' + relative_height + ');" /></div></div>');	
	
					tmp = localStorage.getItem('ShippingFaultyRemakeGarmentsTags');
					tmp = (tmp === null) ? [] : JSON.parse(tmp);
					tmp.push({image_id:myglobal,left:relative_width,top:relative_height,text:text});
					localStorage.setItem('ShippingFaultyRemakeGarmentsTags', JSON.stringify(tmp));
	
					$("div.mapper").hide();
					$("input.title").val('');
					$("div.form_panel").hide();
				}
            };

			/*
            var openDialog = function(){
                $("div.form_panel").fadeIn("slow");
            };*/

			var deleteImageTag = function(obj, left, top){
			//	var c = confirm("Do you want to delete this tag?");
			//	if( c == true){
					$(obj).parent().parent().prev().remove();
					$(obj).parent().parent().remove();
					// REFRESHING LOCALSTORAGE TAGS						
					thetags = localStorage.getItem('ShippingFaultyRemakeGarmentsTags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					for (var b=thetags.length - 1; b >= 0; b--){	                    		
						if(thetags[b].left == left && thetags[b].top == top){
							thetags.splice(b, 1);
						}	
					}
					// SAVING LOCALSTORAGE TAGS
					tmp = [];
					for(var x = 0; x < thetags.length; x++){
						tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
					}
					localStorage.removeItem('ShippingFaultyRemakeGarmentsTags');
					localStorage.setItem('ShippingFaultyRemakeGarmentsTags', JSON.stringify(tmp));	
			//	}else{					
			//		;
			//	}
            };


        </script>     

		<script>
			 
					function removepic(div_id){
						setTimeout(function(){
							if( confirm('Do you want to delete this image?') ){
								document.getElementById(div_id).remove();
								// REFRESHING LOCALSTORAGE PHOTOS						
								thephotos = localStorage.getItem('ShippingFaultyRemakeGarmentsPhotos');
								thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
								for (var a=thephotos.length - 1; a >= 0; a--){	                    		
									if(thephotos[a].image_id == div_id){
										thephotos.splice(a, 1);
									}	
								}
								// REFRESHING LOCALSTORAGE TAGS						
								thetags = localStorage.getItem('ShippingFaultyRemakeGarmentsTags');
								thetags = (thetags === null) ? [] : JSON.parse(thetags);
								for (var b=thetags.length - 1; b >= 0; b--){	                    		
									if(thetags[b].image_id == div_id){
										thetags.splice(b, 1); 
									}	
								}						
								// SAVING LOCALSTORAGE PHOTOS
								var tmp = [];
								for(var x = 0; x < thephotos.length; x++){
									tmp.push({customer_id:thephotos[x].customer_id,image_id:thephotos[x].image_id,picture:thephotos[x].picture,thumbnail:thephotos[x].thumbnail});
								}
								localStorage.removeItem('ShippingFaultyRemakeGarmentsPhotos');
								localStorage.setItem('ShippingFaultyRemakeGarmentsPhotos', JSON.stringify(tmp));				
								// SAVING LOCALSTORAGE TAGS
								tmp = [];
								for(var x = 0; x < thetags.length; x++){
									tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
								}
								localStorage.removeItem('ShippingFaultyRemakeGarmentsTags');
								localStorage.setItem('ShippingFaultyRemakeGarmentsTags', JSON.stringify(tmp));
							}
						},0);
					}			 
			    
					function appendItemShippingFaultyRemakeGarments(topost, basedata) {
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
									customer_id: orderItem.custSelectVM.selectedCustomer().server_id,
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									var tmp = localStorage.getItem('ShippingFaultyRemakeGarmentsPhotos');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('ShippingFaultyRemakeGarmentsPhotos', JSON.stringify(tmp));
									document.getElementById('ShippingFaultyRemakeGarmentsImageMedia').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript: removepic(', image_id ,');"></span><div class="image_panel"><img src="', basedata,'" width="480" class="imageMap" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectShippingFaultyRemakeGarments(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageShippingFaultyRemakeGarments(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 480, 1536, "shipping_faulty_remake_garments.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemShippingFaultyRemakeGarments(e.target.result);
				             		//	document.getElementById('ShippingFaultyRemakeGarmentsImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      

				    document.getElementById('ShippingFaultyRemakeGarmentsImageFiles').addEventListener('change', handleFileSelectShippingFaultyRemakeGarments, false);
</script> 
    
    
    
    
    
    
    
    
    
    
</div>
