
<div data-role="page" id="shipping_box_list" class="bgBody"> 
  <div data-role="content" data-theme="none" style="margin-bottom:120px;">
    <div class="content-wrapper">
      <div data-type="horizontal" class="container_12">
         <h1 data-bind="text:Title"></h1>
        <div class="grid_12">
          <div class="grid_16 newlisttitles" style="display:none;">
			<div class="grid_4"><span class="marginleftten">Sender</span></div>
            <div class="grid_3"><span class="marginleftten">Sent Date</span></div>
            <div class="grid_3" data-bind="visible:received()"><span class="marginleftten">Received Date</span></div>
            <div class="grid_3" data-bind="visible:sent() && !received()"><span class="marginleftten">Expected Date</span></div>
            <div class="grid_4 suffix_2"><span class="marginleftten">Destination</span></div>
			<div class="grid_4" data-bind="visible:sent()"><span class="marginleftten">Shipping Method</span></div>
            <div class="grid_3 suffix_2" data-bind="visible:sent()"><span class="marginleftten">Tracking Code</span></div>
          </div>
          <ul class="boxlists" data-bind="foreach: itemsVisible">
            <li class="grid_4" data-bind="click: function(){ $parent.showBox($parent.itemsVisible()[$index()].ID); }">
            	<div class="boxlistitem" data-bind=" css:{iSent: creator == authCtrl.userInfo.user_id, iReceived: creator != authCtrl.userInfo.user_id}">
              <div><span class="firstpart">Sender:</span><span class="marginleftten" data-bind="text: Sender"></span></div>
			  <div><span class="firstpart">Sent @:</span><span class="marginleftten" data-bind="text: shippingDate"></span></div>
              <div data-bind="visible:$parent.received()"><span class="firstpart">Received @:</span><span class="marginleftten" data-bind="text: receivedDate"></span></div>
              <div data-bind="visible:$parent.sent() && !$parent.received()"><span class="firstpart">Expected @:</span><span class="marginleftten" data-bind="text: expectedDate"></span></div>
              <div><span class="firstpart">Sent to:</span><span class="marginleftten" data-bind="text: Receipient"></span></div>
              <div data-bind="visible:$parent.sent()"><span class="firstpart">Sent with:</span><span class="marginleftten" data-bind="text: method"></span></div>
              <div data-bind="visible:$parent.sent()"><span class="firstpart">Tr. Code:</span><span class="marginleftten" data-bind="text: trackingCode"></span></div>
              <div class="grid_2"><span class="view-items-btn" data-bind="visible: $parent.receiveBox(),click: function(){ $parent.receiveEntireBox($parent.itemsVisible()[$index()].ID); }">Receive BOX</span></div>
              
              </div>
			  <div data-bind="visible: $parent.receiveBox(),click: function(){ $parent.receiveEntireBox($parent.itemsVisible()[$index()].ID); }"><span class="firstpart">Receive Box</span><span class="marginleftten" data-bind="text: trackingCode"></span></div>
            </li>
          </ul>
        </div>
		<div class="grid_4 suffix_4 prefix_4" data-bind="visible:pagination()">
        	<div class="fivemargin">
          <div class="grid_2"><a href="#" data-role="button" data-bind="click: firstPage">&lt;&lt;</a></div>
          <div class="grid_2 prefix_1"><a href="#" data-role="button" data-bind="click: previousPage, enable: hasPreviousPage">&lt;</a></div>
          <div class="grid_2" style="text-align: center; font-size: 11px; padding: 24px 0px 0px;"><span data-bind="text:page"></span> out of <span data-bind="text:Math.ceil(boxes().length/itemsPerPage)" ></span></div>
          <div class="grid_2 suffix_1"><a href="#" data-role="button" data-bind="click: nextPage, enable: hasNextPage">&gt;</a></div>
          <div class="grid_2"><a href="#" data-role="button" data-bind="click: lastPage">&gt;&gt;</a></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 "><a data-bind="click: function(){posChangePage('#shipping_main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Shipping</span></a></div>
            
        </div>
    </div>
    
    
</div>