<div data-role="page" id="uniformCompanySearch" class="bgBody" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />


	<style>
		
		* {
			text-shadow: none;
		}
	/*Definition of main colors here to be reused*/
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
			
			--yellow: rgb(220, 219, 52);
			
			--selected:#988e73;
		}

		.company-search-wrapper {
			text-align: center;

		}

		.company-search-input {
			border:1px solid var(--grey-1);
			width: 500px;
			text-align: center;
			margin: 0 auto;
			background: white;
			border-radius: 5px;
		}

		.company-search-input-wrapper {
			text-align: center;
			margin: 0 auto;
			font-size: 18px;
			background: white;
		}

		.company-search-result-item {
			display: block;
			background: var(--grey-1);
			color: var(--grey-4);
			font-size: 22px;
		}
		.company-search-result-item-selected {
			background: orange;
		}

		.company-search-result-item-inline {
			display: inline-block;
			margin-right: 10px;
		}
		.company-search-result-wrapper {
			max-height: 150px;
			overflow: auto;
			overflow: auto;
			width: 500px;
			margin: 0 auto;
			border-radius: 5px;
		}
		.company-search-result-wrapper-inline {
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			overflow-x: auto;
		}
		.company-search-result-item-img-wrapper {
			background: var(--grey-1);
			border-radius: 50%;
			width: 150px;
		}
		.company-search-result-item-img {
			width: 100%;
			border-radius: 50%;
		}
		.selected {
			border: 4px solid red;
		}
		.company-list-wrapper-1 {
			width: 500px;
			margin: 0 auto;
		}
		.result-num-wrapper {
			display: inline-block;
		}

		.uniform-company-statistics-btn {
			border-radius: 5px;
			background: rgb(242, 242, 242);
			color: black;
			border: none;
			padding: 14px;
		}

		
	</style>


	<div style="padding: 5px;">
		

		<div class="company-search-wrapper">
			<h1>Find Existing Company</h1>

			<div class="result-num-wrapper">
				<div data-bind="if: companySearchList().length">
					<span data-bind="text: + companySearchList().length + ' results' "></span>
				</div>
				<span id="zero-results-span" style="display: none">No Results</span>
			</div>

			<h3><strong>COMPANY NAME:</strong></h3>

			<div class="company-search-input-wrapper">

				<input type="text" data-role="none" placeholder="type company name" class="company-search-input" data-bind="value: companyInSearch, valueUpdate: 'keyup' ">

				<div data-bind="if: companySearchList().length" class="company-list-wrapper-1">
						
					<div data-bind="foreach: companySearchList" class="company-search-result-wrapper">
						
						<div class="company-search-result-item" data-bind="text: $data.name, 
																		   click: function() { $root.selectCompany($data); },
																		   css : { 'company-search-result-item-selected' : $root.selectedCompany() == $data }"></div>

					</div>

				</div>

				<div data-bind="if: companySearchList().length">
					
					<h1 style="font-weight: 100">or Select the Company Logo</h1>
					
					<div data-bind="foreach: companySearchList" class="company-search-result-wrapper-inline">
						
						<div class="company-search-result-item-inline" data-bind="click: function() { $root.selectCompany($data); }">

							<div class="company-search-result-item-img-wrapper" data-bind="css: { 'selected' : $data.company_id == $root.selectedCompany().company_id } ">
								<img class="company-search-result-item-img" data-bind="attr: { src : $data.logo }">
							</div>

							<div>
								<span data-bind="text: $data.name"></span>
							</div>

						</div>

						

					</div>

				</div>

				<br style="clear: both"> 

				<div data-bind="if: companySearchList().length">
					
					<button data-role="none" class="uniform-company-statistics-btn" data-bind="click: function() { $root.companyStatistics(); }" >COMPANY STATISTICS &<br>ORDER HISTORY</button>

				</div>

			</div>


		</div>

	</div>

	<div style="margin-top: 300px;"></div>

		<div class="j-footer container_12">
			<div class="half-em-around">
				
				<div class="grid_2">
					<a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-bind="click: function() { posChangePage('#main');}" data-role="button">
						<span class="btn-letter">Back To</span>
						<span class="btn-small-letter">Main</span>
					</a>
				</div>

			</div>

			<div style="float: right; display: flex">
				<div  data-bind="click: $root.addNewMasterDesign, visible: $root.selectedCompany()" style="margin-right: 20px;">
					<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
					 style="min-width: 150px;">
						<span class="btn-letter">ADD NEW</span>
						<span class="btn-small-letter">MASTER DESIGN</span>
					</a>
				</div>


				<div data-bind="click: $root.proceedToOrder, visible: $root.selectedCompany()">
					<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
					 style="min-width: 150px;">
						<span class="btn-small-letter">PROCEED TO</span>
						<span class="btn-letter">ORDER</span>
					</a>
				</div>
			</div>


		</div>

</div>