<div class="garment-selection-ui order-step" data-bind="if: selectedStep().id == '2'">
	
	<style>


		.garment-img-wrapper {
			width: 200px;
		}

		.garment-img-wrapper .garment-image {
			width: 93%;
		}

		.garment-count-btn {
			background-color: var(--grey-1);
			color: var(--grey-3);
			border-radius: 50%;
			width: 45px;
			height: 45px;
			text-align: center;
			font-size: 29px;
		}

		.garment-count-number {
			font-size: 25px;
			font-weight: 100;
		}

		.inline-div {
			display: inline-block;
		}

		.garment-counter-item {
			text-align: center;
			padding-right: 30px;
			font-size: 24px;
			font-weight: 900;
		}

		.page-title {
			color: var(--grey-4);
			font-weight: 200;
			font-size: 40px;
		}
		.template-el {
			display: inline-block;
		}

		.template-wrappers {
			text-align: center;
			margin-top: 100px;
		}

	</style>

	<div style="padding: 5px;min-height: 1000px;">
		

		<div class="template-wrappers" data-bind="foreach: { data: $root.garmentsStep.templates, as: 'template' }">
			
			<div class="template-el">
				
				<div class="garment-counter-item">
					
					<div class="garment-img-wrapper">
						<img class="garment-image" data-bind="attr: { src: template.template_img },
						                                      click: function() {$('#garment-preview-popup-'+template.id).show();}">
					</div>

				    <span data-bind="text:template.name"></span>
				    <br>
				    <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { $root.garmentsStep.decrementGarment(template); } "> - </div>
				    <div class="garment-count-number inline-div" data-bind="text: template.instances().length"></div>
				    <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { $root.garmentsStep.incrementGarment(template); } "> + </div>
				</div>	

			</div>



			<div class="garment-preview-popup" data-bind="attr:{'id':'garment-preview-popup-'+template.id}" style="display: none;">
					<div class="close-copy-design-pop-up" data-bind="click: function() { $('#garment-preview-popup-'+template.id).hide(); }">X</div>
					<h1 data-bind="text:template.name"></h1>

					<table>
						<thead>
							<td  class="option">Option</td>
							<td class="value">Style</td>
						</thead>
						<tbody data-bind="foreach: {data : $root.garmentsStep.getBackwardsDesignList(template.backwards_design), as: 'designOption' }">
							<td class="option"><span data-bind="text: designOption.name"></span></td>
							<td class="value"><span data-bind="text: designOption.value"></span></td>
						</tbody>
					</table>

			</div>

		</div>


	</div>



</div>