<div data-role="page" id="uniformCompany" class="bgBody" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<style>
		
		* {
			text-shadow: none;
		}
	/*Definition of main colors here to be reused*/
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
			
			
			--selected:#988e73;
		}
		.uniform-input {
			height: 30px;
			margin: 0;
			min-height: 2.2em;
			text-align: left;
			border: 0;
			background: #ececec;
			border-radius: 5px;
			width: 100%;
		}	
		.uniform-p {
			margin: 0px;
		}
		.upload-company-logo-wrapper {
			text-align: center;
		}
		.remove-customer-btn {
			background: red;
			font-size: 28px;
			display: inline-block;
			color: white;
			text-shadow: none;
			font-weight: 900;
			width: 40px;
			text-align: center;
			border-radius: 5px;
			top: 12px;
			position: relative;
			display: inline-block;
			float: right;
		}
		.add-customer-btn {
			background: green;
			font-size: 28px;
			display: inline-block;
			color: white;
			text-shadow: none;
			font-weight: 900;
			width: 40px;
			text-align: center;
			border-radius: 5px;
			top: 12px;
			position: relative;
			display: inline-block;
			float: right;
		}
		.uniform-checkbox {
			width: 30px !important;
			height: 30px !important;
			float: left !important;
			left: 0px !important;
			top: 10px !important;
		}

		.upload-company-logo-btn {
			background: var(--grey-4);
			color: white;
			padding: 5px;
			border-radius: 5px;
		}
		.company-logo {
			width: 250px;
		}

	</style>

	<div style="padding: 5px;">

		<h1>Uniform Orders</h1>	
		<h2>Create Company File</h2>
		
		<br style="clear: both;">
		
		<div class="row">
			
			<div class="col-md-5">
				
				<div>
					<p class="uniform-p"><strong>COMPANY NAME:</strong></p>
					<input class="uniform-input" data-bind="value: company.name" type="text">
				</div>

				<div>
					<p class="uniform-p"><strong>COMPANY CONTACT PERSON DETAILS:</strong></p>
					
					<div>
						<div class="col-md-5" style="padding: 0">
							<p class="uniform-p">First Name:</p>
							<input class="uniform-input" data-bind="value: mainCompanyContact.customer_first_name" type="text">
						</div>

						<div class="col-md-6 col-md-offset-1" style="padding: 0">
							<p class="uniform-p">Last Name:</p>
							<input class="uniform-input" data-bind="value: mainCompanyContact.customer_last_name" type="text">
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-md-7">
						<p class="uniform-p">Mobile Number:</p>
						<input class="uniform-input" data-bind="value: mainCompanyContact.customer_mobile_phone" type="text">
					</div>

					<div class="col-md-5">
						<p class="uniform-p">Landline Number:</p>
						<input class="uniform-input" data-bind="value: mainCompanyContact.customer_landline_phone" type="text">
					</div>

				</div>

				<div>
					<p class="uniform-p">E-mail:</p>
					<input class="uniform-input" data-bind="value: mainCompanyContact.customer_email" type="text">
				</div>

				<div>
					<p class="uniform-p">Company E-mail</p>
					<input class="uniform-input" data-bind="value: company.email" type="text">
				</div>

			</div>


			<div class="col-md-5 col-md-offset-1" >
				
				<div>
					<p class="uniform-p">ABN Number (if applicable):</p>
					<input class="uniform-input" data-bind="value: company.ABN" type="text">
				</div>

				<div class="row">

					<div class="col-md-7">
						<p class="uniform-p">Company street address:</p>
						<input class="uniform-input" data-bind="value: company.address" type="text">
					</div>

					<div class="col-md-5" style="position: relative;top: 20px;">
						
						<div class="col-md-2" style="right: 5px;position:relative;">
							<input class="uniform-checkbox" data-bind="checked: mainCompanyContact.receive_marketing" type="checkbox">
						</div>
						<div class="col-md-9">
							<p class="uniform-p">Subscribe to Newsletter</p>
						</div>
					</div>

				</div>

				<div class="clear"></div>

				<div class="row">

					<div class="">

						<div class="col-md-7">
							<p class="uniform-p">Suburb:</p>
							<input class="uniform-inputs" data-bind="value: mainCompanyContact.customer_address2" type="text">
						</div>

						<div class="col-md-5">
							<p class="uniform-p">Post Code:</p>
							<input class="uniform-input" data-bind="value: mainCompanyContact.customer_postal_code" type="text">
						</div>

					</div>

				</div>
	
				<div class="clear"></div>

				<div class="row">
					<div class="col-md-1">
						<input type="checkbox" class="uniform-checkbox" data-bind="checked: company.address_different_postal">
					</div>
					<div class="col-md-4">
						<span class="uniform-p">If Post Address is Different:</span>
					</div>
					<div class="col-md-7">
						<input class="uniform-input" data-bind="enable: company.address_different_postal, value: company.postal_address" type="text">
					</div>
				</div>

				<div class="clear"></div>


				<div>
					<p class="uniform-p">Country/State/City:</p>

					<fieldset data-role="controlgroup" data-type="horizontal" class="">
						
						<label for="customer_country">Country</label>
						<select data-role="none" name="customer_country" id="customer_country" data-bind="options: $root.countries,
																																															value: mainCompanyContact.customer_country,
																																															optionsValue: 'locations_id',
																																															optionsText: 'location_name',
																																															optionsCaption: 'Country'">
						</select>

						<label for="customer_state">State</label>
						<select data-role="none" name="customer_state" id="customer_state" data-bind="options: $root.states.filter(el=>el.parent_location_id == mainCompanyContact.customer_country()),
																																													value: mainCompanyContact.customer_state,
																																													optionsValue: 'locations_id',
																																													optionsText: 'location_name',
																																													optionsCaption: 'State'">
						</select>

						<label for="customer_city">City</label>
						<select data-role="none" name="customer_city" id="customer_city" data-bind="options: $root.cities.filter(el=>el.parent_location_id == mainCompanyContact.customer_state()),
																																												value: mainCompanyContact.customer_city,
																																												optionsValue: 'locations_id',
																																												optionsText: 'location_name',
																																												optionsCaption: 'City'">
						</select>

					</fieldset>
				</div>

				<div class="clear"></div>

				<div>
					<p class="uniform-p">How did you hear about <strong>Germanicos?</strong></p>
					<select data-role="none" data-bind="options: $root.referal_methods_list, optionsText: 'name', optionsValue: 'id' , value: mainCompanyContact.customer_referal_method, optionsCaption: 'Referral'"></select>
				

					<div data-bind="css: { 'hidden': mainCompanyContact.customer_referal_method()!=='7'}">
					  <label for="customer_refered_by"  >Who referred you? <span class="smalakis">(First  &amp; Last Name, State)</span><span class="mandatoris">*</span>:</label>
					  <input type="text" name="customer_refered_by" data-bind="value: mainCompanyContact.customer_refered_by" value="" />
					</div>
					<div data-bind="css: { 'hidden': mainCompanyContact.customer_referal_method()!=='6'}">
					  <label for="customer_other_way" >Please specify<span class="mandatoris">*</span>:</label>
					  <input type="text" name="customer_other_way" data-bind="value: mainCompanyContact.customer_other_way" value="" />
					</div>
					<div data-bind="css: { 'hidden': mainCompanyContact.customer_referal_method()!=='1' && mainCompanyContact.customer_referal_method()!=='8' && mainCompanyContact.customer_referal_method()!=='9'}">
					  <label for="customer_referal_moreinfo" >What did you type<span class="mandatoris">*</span>:</label>
					  <input type="text" name="customer_referal_moreinfo" data-bind="value: mainCompanyContact.customer_referal_moreinfo" value="" />
					</div>


				</div>

			</div>

		</div>


		<hr style="width: 100%;height: 2px;color:black;">


		<div>
			
			<p><strong>SECONDARY COMPANY CONTACT:</strong></p>

			<div class="row" data-bind="foreach: secondaryCompanyContacts">

				<div class="col-md-4">
					<div class="col-md-5" style="padding: 0">
						<p class="uniform-p">First Name:</p>
						<input class="uniform-input" data-bind="value: $data.customer_first_name" type="text">
					</div>
					<div class="col-md-5 col-md-offset-1" style="padding: 0">
						<p class="uniform-p">Last Name:</p>
						<input class="uniform-input" data-bind="value: $data.customer_last_name" type="text">
					</div>
				</div>

				<div class="col-md-2">
					<p class="uniform-p">Mobile Number:</p>
					<input class="uniform-input" data-bind="value: $data.customer_mobile_phone" type="text">
				</div>

				<div class="col-md-2">
					<p class="uniform-p">Landline Number:</p>
					<input class="uniform-input" data-bind="value: $data.customer_landline_phone" type="text">
				</div>

				<div class="col-md-2">
					<p class="uniform-p">Email:</p>
					<input class="uniform-input" data-bind="value: $data.customer_email" type="text">
				</div>

				<div class="col-md-2">

					<span class="remove-customer-btn" data-bind="visible: $index() > 0, click: function() { $root.removeSecondaryContact($data); }"> - </span>
					<span class="add-customer-btn" style="margin-right: 20px;" data-bind="visible: $index() + 1 === $root.secondaryCompanyContacts().length, click: function() { $root.addSecondaryContact(); }"> + </span>

				</div>

			</div>

		</div>

		<hr style="width: 100%;height: 2px;color:black;">


		<div class="upload-company-logo-wrapper">
			<span class="upload-company-logo-btn" data-bind="click: function() { $root.takeLogoPic(); }">UPLOAD COMPANY LOGO IMAGE</span>

			<br>
			<br>
			<br>
			
			<div>
				
				<img class="company-logo" data-bind="attr: { src : companyLogo }">

			</div>

		</div>

	</div>

	<div style="margin-top: 300px;"></div>
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2">
					<a href="#" data-bind="click: function(){ posChangePage('#main'); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
						<span class="btn-small-letter">Return Back</span>
						<span class="btn-letter">To Main</span>
					</a>
				</div>
			</div>

			<div style="float: right;" data-bind="click: function() { $root.submitNewCompany(); }">
				<a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">Proceed to</span>
					<span class="btn-letter">NEXT</span>
				</a>
			</div>


		</div>

</div>