<div data-role="page" id="unlockCustomersFittings" class="bgBody">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<style>
		
		.orders-div-wrapper {
			display: flex;
			flex-wrap: wrap;
			border-right: solid 1px;
			padding-bottom: 300px;
		}

		.available-status-btn {
			width: 100px;
			display: inline-block;
		}

		.search-cust-wrapper {
			width: 50%;
			margin: 0 auto;
			position: absolute;
			z-index: 9999999;
			background: white;
			margin: 0 auto;
			left: 50%;
			transform: translate(-50%);
		}
		.order-wrapper {
		    background-color: rgb(230, 230, 226);
		    padding: 10px;
		    border-radius: 5px;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    display: inline-block;
		    vertical-align: middle;
		    margin: 20px;
		    text-align: center;
		}
		.garment-wrapper {
			background-color: rgb(230, 230, 226);
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			text-align: center;
		}

		.selected-order {
			background-color: #988e73;
			color: white !important;
			text-shadow: 0 1px 1px #a1a1a1;
			text-decoration: none;
		}

	</style>


	<div style="margin: 10px;">


		<div class="search-cust-wrapper">

			<p>
				Please Type the customer Name:
			</p>

			<input value="search for existing customer" id="pre-order-cust-search" data-bind="value: $root.custSelectVM.customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer"
	            onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
	            type="text">

	         <ul class="alllistsview" data-role="listview" data-bind="foreach:  $root.custSelectVM.customersAutocompleteList">
	            <li data-bind="click: function() { $root.addCustomerFromSearchBar($data) }">
	                <div class="grid_12 capitalme"> <span data-bind="text: customer_first_name + ' ' + customer_last_name + ' ' + customer_email + ' - ' + customer_display_state"></span> </div>
	            </li>
	        </ul>
	    </div>

	    <br style="clear: both;">
	    <br style="clear: both;">
	    <br style="clear: both;">
	</div>

	<br>

	<hr>

	<h2 data-bind="visible: customerOrders().length > 0" style="font-weight: 900;margin-left: 40px;">Select <span data-bind="text: $root.selectedCustomer().customer_first_name + ' ' + $root.selectedCustomer().customer_last_name"></span> Order</h2>

	<div class="orders-div-wrapper col-md-8" data-bind="foreach: { data: customerOrders, as: 'order' } ">
		
		<div class="order-wrapper" data-bind="visible: order.garments.length > 0,
											  click: function() { $root.selectedOrder(order); },
											  css: { 'selected-order' : $root.selectedOrder() == order }">
			
			<p data-bind="text: 'Order Id: ' + order.order_id"> </p>
			<p data-bind="text: 'Order Date: ' + order.ordered_date"> </p>

		</div>


	</div>


	<div class="col-md-4" data-bind="if: $root.selectedOrder " style="z-index: 999999;">
		
		<h3 data-bind="html: 'Order Id: ' + $root.selectedOrder().order_id + ' <br> Ordered at: '  + $root.selectedOrder().ordered_date "></h3>

		<div data-bind="foreach: $root.selectedOrder().garments">
			
			<div class="garment-wrapper">
				<span data-bind="text: $data.name + ' ' + $data.fabric + ' Status: '  "></span> <strong><span data-bind="text:$data.fitting_status.status()"></span></strong>

				<button class="available-status-btn" data-bind="click: function() { $root.makeGarmentAvailable($data); },
								   enable:  $data.fitting_status.status() != 'available' ">Make Available</button>
			</div>

		</div>

	</div>

	<div class="j-footer container_12" style="z-index: 9999">
		<div class="half-em-around">
			<div class="grid_2">
				<a href="#" data-bind="click: function(){ posChangePage('#fittingList'); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-small-letter">Return Back</span>
					<span class="btn-letter">To Fittings Lists</span>
				</a>
			</div>
		</div>





</div>