<!-- For each OPTION, we will define its behavior 

	This will give us more control about the bahavior of each option
	We will have some repeatitive code, but this is necessary as we have a lot of edge cases
 -->

<div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

		<!-- 1: Jacket Style -->
		<!-- 
			     ██╗ █████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			     ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			     ██║███████║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██   ██║██╔══██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			╚█████╔╝██║  ██║╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
			 ╚════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->
		<div data-bind="if: category.id == '1' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 1: Style of buttons-->
				<div data-bind="if: option.id == '1'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																				css: { 'selected-val' : value.selected(),'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">tuxedo</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>

										<!-- tuxedo -->
										<td class="right">
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="tuxedoCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='3'})[0].selectedValue">
											<label for="tuxedoCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='3'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='3'})[0].selectedValue())}"></label>
										</td>
										</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>

				<!-- 2: Notes for jacket style-->
				<div data-bind="if: option.id == '2'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

				<!-- 3: Tuxedo -->
				<!-- <div data-bind="if: option.id == '3'">
					<div class="order-option-boolean">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<input type="checkbox" class="labeled-checkbox" name="" id="tuxedoCheckbox" data-bind="checked: option.selectedValue">
						<label for="tuxedoCheckbox"></label>
					</div>
				</div> -->

				<!-- 4: Buttom Color -->
				<div data-bind="if: option.id == '4'">
					<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button_collor_popup')}" style="">
						<span class="myboxesincheckname smallertag" data-bind="text: option.name"></span>
						<img name="" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="text: option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>
					<br>
					<br>
					<br>

					<!-- pop up -->
					<div id="jacket_button_collor_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4 data-bind="text: 'Select ' + option.name"></h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: option.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); changeVisibilityDiv('jacket_button_collor_popup');},
																																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button_collor_popup')}">Save
								And Close</a>
						</div>
					</div>
				</div>


			</div>

		</div>

		<!-- 2: Fabric DO NOT SHOW HERE

				███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
				██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
				█████╗  ███████║██████╔╝██████╔╝██║██║     
				██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║     
				██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
				╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝
														
		-->
		<div data-bind="if: 0 && $data.id == '2' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 5: Fabric-->
				<div data-bind="if: option.id == '5'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="text" data-bind="value: option.selectedValue">

				</div>

				<!-- 53: notes -->
				<div data-bind="if: option.id == '53'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>


		<!-- 3: Fit
			
				███████╗██╗████████╗
				██╔════╝██║╚══██╔══╝
				█████╗  ██║   ██║   
				██╔══╝  ██║   ██║   
				██║     ██║   ██║   
				╚═╝     ╚═╝   ╚═╝   
				                    
		-->
		<div data-bind="if: $data.id == '3' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 6: Fabric-->
				<div data-bind="if: option.id == '6'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="fitOption grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); },
																										css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

			</div>

		</div>


		<!-- Bottom Style

			██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                                     
		-->
		<div data-bind="if: $data.id == '4' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Jacket Bottom -->
				<div data-bind="if: option.id == '8'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- Bottom Style -->
				<div data-bind="if: option.id == '7'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>


		<!-- Vent Style
							██╗   ██╗███████╗███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
							██║   ██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
							██║   ██║█████╗  ██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
							╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
							 ╚████╔╝ ███████╗██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
							  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
							
		-->
		<div data-bind="if: $data.id == '5' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Vent -->
				<div data-bind="if: option.id == '10'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- Tail -->
				<!-- <div data-bind="if: option.id == '11'">
					<div class="order-option-boolean">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>

						<input type="checkbox" class="labeled-checkbox" name="" id="tailCheckbox" data-bind="checked: option.selectedValue">
						<label for="tailCheckbox"></label>
					</div>
				</div> -->


				<!-- Vent Style -->
				<div data-bind="if: option.id == '9'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 356px;"
							data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<!-- ko if: value.id == '31' -->
										<th class="right" style="margin-right: 12px; margin-left: 12px;">tail</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 2px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ko if: value.id == '31' -->
										<!-- tail -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="tailCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='11'})[0].selectedValue">
											<label for="tailCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='11'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='11'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Lapel Style 
			██╗      █████╗ ██████╗ ███████╗██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗
			██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██║     ███████║██████╔╝█████╗  ██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			███████╗██║  ██║██║     ███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗
			╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                      
			-->
		<div data-bind="if: category.id == '6' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- BH Color -->
				<div data-bind="if: option.id == '15'">
					<!-- <strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1 option-wrapper2" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); },
																									css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div> -->
					<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_bh_collor_popup')}" style="left: 0px;position: relative;margin-right: 81%;">
						<span class="myboxesincheckname smallertag" data-bind="text: option.name"></span>
						<img name="" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="text: option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>

					<!-- pop up -->
					<div id="jacket_bh_collor_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4 data-bind="text: 'Select ' + option.name"></h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: option.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); changeVisibilityDiv('jacket_bh_collor_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_bh_collor_popup')}">Save
								And Close</a>
						</div>
					</div>
				</div>

				<!-- Lapel Style -->
				<div data-bind="if: option.id == '12'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																									css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">width</th>
										<!-- ko if: value.id != '34' -->
										<th class="right" style="margin-left: 9px; margin-right: 13px;">BH</th>
										<!-- /ko -->
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- width -->
										<td class="right">
											<!-- selected value not null or not zero -->
											<!-- ko if: category.options.filter(function(el) {return el.id=='16'})[0].selectedValue() -->
											<span class="width_span" data-bind="text: category.options.filter(function(el) {return el.id=='16'})[0].selectedValue"
											 onclick="changeVisibilityDiv('MyJacketLapelWidthPopup');" style="margin-left: 0"></span>
											<!-- /ko -->

											<!-- selected value is zero or null-->
											<!-- ko if: !category.options.filter(function(el) {return el.id=='16'})[0].selectedValue() -->
											<span class="width_span" onclick="changeVisibilityDiv('MyJacketLapelWidthPopup');">0</span>
											<!-- /ko -->



										</td>
										<!-- ko if: value.id != '34' -->
										<!-- bh -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="bhCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='14'})[0].selectedValue">
											<label for="bhCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='14'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='14'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>

				<!-- POP UP for change the lapel width -->
				<div id="MyJacketLapelWidthPopup" class="white_content mynicepop" style="display: none;">
					<div class="inmynicepop">
						<p>Adjust Lapel Width</p>

						<input type="tel" step="0.25" max="9.75" min="1.25" data-bind="value: category.options.filter(function(el) {return el.id=='16'})[0].selectedValue">

						<div class="clear"></div>
						<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="changeVisibilityDiv('MyJacketLapelWidthPopup')">Save
							And Close</a>
					</div>
				</div>

				<!-- Notes for Lapel Style -->
				<div data-bind="if: option.id == '13'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>


		<!-- Sleeves

			███████╗██╗     ███████╗███████╗██╗   ██╗███████╗███████╗
			██╔════╝██║     ██╔════╝██╔════╝██║   ██║██╔════╝██╔════╝
			███████╗██║     █████╗  █████╗  ██║   ██║█████╗  ███████╗
			╚════██║██║     ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ╚════██║
			███████║███████╗███████╗███████╗ ╚████╔╝ ███████╗███████║
			╚══════╝╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
			                                                         
			-->
		<div data-bind="if: category.id == '7' ">

			<h2>Select Your Sleeves Buttons</h2>

			<!-- line of options (number of buttons, kissing and working) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;top: -8px;position: relative;">
					<!-- number -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='29'})[0]">
						<div class="" data-bind="foreach: { data: $data.values, as: 'value' }">
							<div class="option-value1 grid_4 jacket-number-value" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); },
																																					css: { 'selected-val' : value.selected()}">
								<span class="new_main_option_title" data-bind="text:value.name"></span>
							</div>
						</div>
					</div>
			
					<!-- Working -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='30'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){ $data.selectedValue(!$data.selectedValue())}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>
			
					</div>
			
					<!-- Kissing -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='31'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){ $data.selectedValue(!$data.selectedValue())}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2>Select Your Sleeves Buttons Contrasts</h2>

			<!-- line of options for 1 button-->
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.getSleeveNumber()()>=1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='38'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_collor_popup');},
																											css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='43'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_hole_popup');},
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='48'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button1_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_thread_popup');},
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 2 buttons-->
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.getSleeveNumber()()>=2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='39'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_collor_popup');},
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='44'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_hole_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='49'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button2_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_thread_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 3 buttons-->
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.getSleeveNumber()()>=3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='40'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_collor_popup');},
																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='45'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_hole_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='50'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button3_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_thread_popup');},
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 4 buttons-->
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.getSleeveNumber()()>=4 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 4</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='41'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_collor_popup');},
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='46'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_hole_popup');},
																																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='51'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button4_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_thread_popup');},
																																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 5 buttons-->
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.getSleeveNumber()()>=5 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 5</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='42'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_collor_popup');},
																																							css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='47'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_hole_popup');},
																																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">Save
									And Close</a>
							</div>
						</div>
			
			
					</div>
			
					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='52'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_button5_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_thread_popup');},
																																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">Save
									And Close</a>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- Sleeves Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id=='32'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>

		</div>


		<!-- Pocket Style
					
					██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
					██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
					██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
					██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
					██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
					╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
					                                                                                                
					
				-->
		<div data-bind="if: category.id == '8' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Pockets Notes -->
				<div data-bind="if: option.id == '35'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

				<!-- Pocket Style -->
				<div data-bind="if: option.id == '33'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 353px;"
							data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
														css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">Ticket<br>Pocket</th>
										<th class="right" style="padding-right: 8px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ticket pocket -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" epauletteCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='34'})[0].selectedValue">
											<label for="epauletteCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='34'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='34'})[0].selectedValue())}"></label>
										</td>
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!-- Breast Pocket
					
					██████╗ ██████╗ ███████╗ █████╗ ███████╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗
					██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝
					██████╔╝██████╔╝█████╗  ███████║███████╗   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   
					██╔══██╗██╔══██╗██╔══╝  ██╔══██║╚════██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   
					██████╔╝██║  ██║███████╗██║  ██║███████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   
					╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   
					                                                                                                       
					
				-->
		<div data-bind="if: category.id == '9' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '36'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																													css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>

		<!-- General Notes
					
					 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
					██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
					██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
					██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
					╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
					 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
					                                                                                                           
					
				-->
		<div data-bind="if: category.id == '10' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '37'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>

		<!-- Lapel Details
					
					██╗      █████╗ ██████╗ ███████╗██╗         ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
					██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
					██║     ███████║██████╔╝█████╗  ██║         ██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
					██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
					███████╗██║  ██║██║     ███████╗███████╗    ██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
					╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
					                                                                                                
		
				-->
		<div data-bind="if: category.id == '11' ">

			<h2>Select Top Stitch Options</h2>

			<!-- line of options (top stitch) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lapel -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='25'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Lapel</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>
			
					<!-- Pocket -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='26'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Pocket</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>
			
					<!-- Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='27'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">
							<span class="myboxesincheckname smallertag">Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
					
						<!-- pop up -->
						<div id="jacket_top_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_top_stitch_collor_popup');},
																																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			<!-- if tuxedo is selected -->
			<!-- ko if: orders.selectedCustomer().garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '1'})[0].options.filter(function(el) {return el.id=='3'})[0].selectedValue()  -->
			<h2>Select Tuxedo Lapel Options</h2>
			
			<!-- line for tuxedo options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 65%">
					<div class="contrastman">
						<!-- Lapel -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='17'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Lapel</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Pocket -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='21'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Pocket</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Edging -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='19'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Edging</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Collar -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='18'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Collar</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
						<!-- Breast Pockets -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='22'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Breast Pockets</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Buttons -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='23'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Buttons</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
				
						<!-- Colour -->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='20'})[0]" style="float: right">
							<!-- button -->
							<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">
								<span class="myboxesincheckname smallertag">Colour</span>

							</div>
						
							<!-- pop up -->
							<div id="jacket_tuxedo_collor_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4 data-bind="text: 'Set ' + $data.name"></h4>
									<input type="text" data-bind="value: $data.selectedValue" style="margin-bottom: 16px;">
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">Save
										And Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Tuxedo Lapel Notes -->
				<!-- if tuxedo is selected -->
				<!-- ko if: orders.selectedCustomer().garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '1'})[0].options.filter(function(el) {return el.id=='3'})[0].selectedValue()  -->
				<div data-bind="if: option.id == '24'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
				<!-- /ko -->

				<!-- Sticth Lapel Notes -->
				<div data-bind="if: option.id == '28'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
			</div>

		</div>

		<!-- Monogram
		
					███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗  ██████╗ ██████╗  █████╗ ███╗   ███╗
					████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
					██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║██║  ███╗██████╔╝███████║██╔████╔██║
					██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║██║   ██║██╔══██╗██╔══██║██║╚██╔╝██║
					██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
					╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
					                                                                            
		
				 -->
		<div data-bind="if: category.id == '46'">
			<h2>Lining Piping options</h2>


			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lining -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='124'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_lining_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_lining_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_lining_popup');},
																																											css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example lining-preview">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_lining_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- Pipping -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='125'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_pipping_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pipping_popup');},
																																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- Pocket Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='126'})[0]">
			
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>
			
						<!-- pop up -->
						<div id="jacket_pckt_color_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pckt_color_popup');},
																																																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
			
					<!-- notes: temporary -->
					<!-- <div class="myboxesincheck"> <span class="myboxesincheckname">Notes</span>
						<div class="thirty_optioncell open_style_notes right_position">Lining Notes</div>
					</div> -->
			
				</div>
			
			</div>

			<h2>Customise your Monogram</h2>
			
			<!-- line 1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- first line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='128'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Header or leave empty for no Header" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>
			
			<!-- line 2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- second line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='129'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>
			
			
			<!-- line 3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- 3 line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='130'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>

			<!-- other options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Other Options</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- stitch color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='239'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">
								<span class="myboxesincheckname smallertag">Colour</span>
								<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
								<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
							</div>
						
							<!-- pop up -->
							<div id="jacket_monogram_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4 data-bind="text: 'Select ' + $data.name"></h4>
									<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
										<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_monogram_stitch_collor_popup');},
																																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
											<span class="new_main_option_title" data-bind="text:value.name"></span>
											<img data-bind="attr:{src: value.image}" class="example">
										</div>
									</div>
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">Save
										And Close</a>
								</div>
							</div>
					</div>
			
					<!-- Stitch notes -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='240'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">
							<span class="myboxesincheckname">Notes</span>
							<div class="thirty_optioncell open_style_notes right_position">Stitch notes</div>
						</div>
					
						<!-- pop up -->
						<div id="jacket_monogram_stitch_note_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">Save
									And Close</a>
							</div>
						</div>
					
					</div>
	
					
				
				
				</div>
			
			</div>
			
			
			<!-- Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id=='127'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>
			

		</div>


		<!-- Custom Data
				
					 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
					██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
					██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
					██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
					╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
					 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
					                                                                                           
		
				-->


		<div data-bind="if: category.id == '68' ">
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- ko if: $root.selectedCustomer().garmentsDesignStep.hasCustomDesign().includes(option.id) -->
				<div class="row">
					<div class="col-md-3">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
					</div>

					<div class="col-md-3">
						<button class="custom-img-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.takeOptionCustomImage(option); }">Take
							Custom Image</button>
						<button class="clear-custom-img-btn" ata-bind="visible: option.selectedValue(),
													click: function() { $root.selectedCustomer().garmentsDesignStep.clearCustomOptionImage(option); }">Clear
							Image</button>
					</div>

					<div class="col-md-6" data-bind="visible: option.selectedValue()">

						<img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">

					</div>


				</div>
				<!-- /ko -->
			</div>

			<!-- ko if: !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0 -->
			<h2>No Custom Data</h2>
			<!-- /ko -->

		</div>






		<!-- Show selected category -->
		<!-- DANGER: THIS CAUSES THE SYSTEM TO BE VEEEEEERY SLOW IN SOME CASES --- ONLY USE THIS FOR DEBUG PHASE -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->




	</div>


</div>

<!-- image 3d -->
<!--
	██╗███╗   ███╗ █████╗  ██████╗ ███████╗    ██████╗ ██████╗ 
	██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝    ╚════██╗██╔══██╗
	██║██╔████╔██║███████║██║  ███╗█████╗       █████╔╝██║  ██║
	██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝       ╚═══██╗██║  ██║
	██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗    ██████╔╝██████╔╝
	╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═════╝ ╚═════╝ 
	                                                           
	-->
<div data-bind="if: $root.selectedCustomer().garmentsDesignStep.selectedCategory() && $root.selectedCustomer().garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric'">
	<div id="image-3d" data-bind="with: orders.selectedCustomer().garmentsDesignStep.selectedGarment">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp()}">

			<!-- default image:  -->
			<img src="gfx/order/image_3d/jacket/01.png">
			<img src="gfx/order/image_3d/jacket/upper.png">
			<img src="gfx/order/image_3d/jacket/sleeves_bg.png">

			<!-- Buttons style -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonStyle}">

			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBottom}">

			<!-- pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocket}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocket}">
			<img data-bind="attr:{src: $data.image3D.stitchForPocket}">

			<!-- breast pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBreastPocket}">

			
			<!-- lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapel}">
			<img data-bind="attr:{src: $data.image3D.stitchForLapel}">
			<img data-bind="attr:{src: $data.image3D.bh}">
			
			<!-- Tuxedos -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapelTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketCollarTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonsTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocketTrimming}">

			
			<!-- sleeve -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeve}">

		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp()}">

			<!-- vent -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketVent}">

		</div>


		<!-- Sleeve preview -->
		<div data-bind="visible: $data.image3D.side() == 'sleeve', click: function(){$data.image3D.togglePopUp()}">
			<!-- default -->
			<img src="gfx/order/image_3d/jacket/buttons/bg.png">

			<!-- number of butons -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton1}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton2}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton3}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton4}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton5}">


		</div>

		<!-- Monogram preview -->
		<div data-bind="visible: $data.image3D.side() == 'monogram', click: function(){$data.image3D.togglePopUp()}">

			<!-- lining -->
			<img src="gfx/order/image_3d/liningFabric/bg.png">
			<img data-bind="attr:{src: $data.image3D.selectedJacketLiningColor}">

			<!-- piping -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPipingColor}">

			<!-- pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketColor}">

			<!-- monograms -->
			<div class="specialy">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine1"></span>
			</div>

			<div class="thisname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine2"></span>
			</div>
			<div class="thirdname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine3"></span>
			</div>

		</div>


		<!-- change the view -->
		<div class="change-side">
			<span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'sleeve'},click: function(){ $data.image3D.side('sleeve')}">Sleeve</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'monogram'},click: function(){ $data.image3D.side('monogram')}">Monogram</span>
		</div>
	</div>
</div>