<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="jacket3DTemplate">
<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- default image:  -->
			<img src="gfx/order/image_3d/jacket/01.png">
			<img src="gfx/order/image_3d/jacket/upper.png">
			<img src="gfx/order/image_3d/jacket/sleeves_bg.png">

			<!-- Buttons style -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonStyle}">

			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBottom}">

			<!-- pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocket}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocket}">
			<img data-bind="attr:{src: $data.image3D.stitchForPocket}">

			<!-- breast pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBreastPocket}">


			<!-- lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapel}">
			<img data-bind="attr:{src: $data.image3D.stitchForLapel}">
			<img style="width: 93%;" data-bind="attr:{src: $data.image3D.bh}">

			<!-- Tuxedos -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapelTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketCollarTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonsTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocketTrimming}">


			<!-- sleeve -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeve}">



				<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'front'-->
					
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->

			<!-- /ko -->

		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- vent -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketVent}">

                <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'back'-->
					
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->

			<!-- /ko -->

		</div>


		<!-- Sleeve preview -->
		<div data-bind="visible: $data.image3D.side() == 'sleeve', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- default -->
			<img src="gfx/order/image_3d/jacket/buttons/bg.png">

			 <!-- BH colour-->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour1}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour2}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour3}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour4}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour5}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">
			 
			 
			 <!-- number of butons -->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton1}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton2}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton3}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton4}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton5}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">

			 <!-- sleeve thread -->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread1}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread2}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread3}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread4}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread5}, style: { 'margin-left': $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">


		</div>

		<!-- Monogram preview -->
		<div data-bind="visible: $data.image3D.side() == 'monogram', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- lining -->
			<img src="gfx/order/image_3d/liningFabric/bg.png">
			<img data-bind="attr:{src: $data.image3D.selectedJacketLiningColor}">

			<!-- piping -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPipingColor}">

			<!-- pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketColor}">

			<!-- monograms -->
			<div class="specialy">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine1"></span>
			</div>

			<div class="thisname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine2"></span>
			</div>
			<div class="thirdname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine3"></span>
			</div>

		</div>


		<!-- change the view -->
		<div class="change-side">
			<span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'sleeve'},click: function(){ $data.image3D.side('sleeve')}">Sleeve</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'monogram'},click: function(){ $data.image3D.side('monogram')}">Monogram</span>
		</div>
	</div>
</script>