<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="suit3DTemplate">
	<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'jacket_front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- default image:  -->
			<img src="gfx/order/image_3d/jacket/01.png">
			<img src="gfx/order/image_3d/jacket/upper.png">
			<img src="gfx/order/image_3d/jacket/sleeves_bg.png">

			<!-- Buttons style -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketButtonStyle}">

			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBottom}">

			<!-- pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocket}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketTicketPocket}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketStitchForPocket}">

			<!-- breast pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBreastPocket}">


			<!-- lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLapel}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketStitchForLapel}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBh}">

			<!-- Tuxedos -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLapelTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketCollarTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketButtonsTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocketTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketTicketPocketTrimming}">

			<!-- sleeve -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeve}">

		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'jacket_back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- vent -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketVent}">

		</div>


		<!-- Sleeve preview -->
		<div data-bind="visible: $data.image3D.side() == 'jacket_sleeve', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- default -->
			<img src="gfx/order/image_3d/jacket/buttons/bg.png">

			<!-- BH colour-->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour1}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour2}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour3}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour4}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour5}">

			<!-- number of butons -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton1}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton2}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton3}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton4}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton5}">

			<!-- sleeve thread -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread1}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread2}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread3}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread4}">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread5}">


		</div>

		<!-- Monogram preview -->
		<div data-bind="visible: $data.image3D.side() == 'jacket_monogram', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- lining -->
			<img src="gfx/order/image_3d/liningFabric/bg.png">
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLiningColor}">

			<!-- piping -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPipingColor}">

			<!-- pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocketColor}">

			<!-- monograms -->
			<div class="specialy">
				<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine1"></span>
			</div>

			<div class="thisname">
				<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine2"></span>
			</div>
			<div class="thirdname">
				<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine3"></span>
			</div>

		</div>


		<!-- pants -->
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'pant_front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			 <!-- default image:  -->
			 <img src="gfx/order/image_3d/pant/pant_bg.png">

			<!-- fit -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitPantStyle}">

			<!-- selected Pleats -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitPantPleatStyle}">

			<!-- selected front Pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitPantFrontPockets}">

			<!-- selected belt and cuffs -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitPantBeltAndCuffs}">

			 <!-- cuff -->
			 <img data-bind="attr:{src: $data.image3D.selectedSuitPantCuffs}">


		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'pant_back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- base -->
			<img src="gfx/order/image_3d/pant/back_bg.png">

			<!-- selected back pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedSuitPantBackPockets}">

		</div>

		<!-- change the view -->
		<div class="change-side">
			Jacket: <br>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_front'},click: function(){ $data.image3D.side('jacket_front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_back'},click: function(){ $data.image3D.side('jacket_back')}">Back
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_sleeve'},click: function(){ $data.image3D.side('jacket_sleeve')}">Sleeve</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_monogram'},click: function(){ $data.image3D.side('jacket_monogram')}">Monogram</span>
			<br> Pant: <br>
			<span data-bind="css: {'selected': $data.image3D.side() == 'pant_front'},click: function(){ $data.image3D.side('pant_front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'pant_back'},click: function(){ $data.image3D.side('pant_back')}">Back
				side
			</span>
		</div>
	</div>

	</script>