<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="pants3DTemplate">
    <div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
        <!-- front preview -->
        <div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

            <!-- default image:  -->
            <img src="gfx/order/image_3d/pant/pant_bg.png">
            
            <!-- fit -->
            <img data-bind="attr:{src: $data.image3D.selectedPantStyle}">
            
            <!-- selected Pleats -->
            <img data-bind="attr:{src: $data.image3D.selectedPantPleatStyle}">

            <!-- selected front Pockets -->
            <img data-bind="attr:{src: $data.image3D.selectedPantFrontPockets}">

            <!-- selected belt and cuffs -->
            <img data-bind="attr:{src: $data.image3D.selectedPantBeltAndCuffs}">
            <!-- cuff -->
            <img data-bind="attr:{src: $data.image3D.selectedPantCuffs}">
            

                <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
                    <!-- ko if: position.view == 'front'-->
                        <span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
                                        text: position.name"></span>
                    <!-- /ko -->

                <!-- /ko -->
                

        </div>


        <!-- back preview -->
        <div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
            <!-- base -->
            <img src="gfx/order/image_3d/pant/back_bg.png">

            <!-- selected back pockets -->
            <img data-bind="attr:{src: $data.image3D.selectedPantBackPockets}">

            <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
                <!-- ko if: position.view == 'back'-->

                    <span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
                                    text: position.name"></span>
                <!-- /ko -->

            <!-- /ko -->

          
        </div>

        <!-- change the view -->
        <div class="change-side">
            <span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
                side</span>
            <span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
                side</span>
        </div>
    </div>

</script>