<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="shirt3DTemplate">
	<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- default image:  -->
			<img src="gfx/order/image_3d/shirt/main_bg.png">
			<img src="gfx/order/image_3d/shirt/collar/collar.png" alt="">
			<img src="gfx/order/image_3d/shirt/collar/collar_bg.png" alt="">

			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtBottom}">

			<!-- Front -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtFront}">

			<!-- Seams -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtSeams}">

			<!-- Sleeves -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtSleeve}">
			<img data-bind="attr:{src: $data.image3D.selectedShirtEpaulette}">

			<!-- Shirt Collar -->
			<img data-bind="attr:{src: $data.image3D.shirtStandCollarContrast_bg}">
			<img data-bind="attr:{src: $data.image3D.shirtInsideCollarContrast_bg}">
			<img data-bind="attr:{src: $data.image3D.selectedShirtCollar}">

			<!-- Pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtPocketsLeft}">
			<img data-bind="attr:{src: $data.image3D.selectedShirtPocketsRight}">

			<!-- Contrasts  -->
			
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastBackOfCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsidePlacket}">
			
			<img data-bind="attr: {src: $data.image3D.selectedShirtButtomCollor}">

			<!-- monogram -->
			<span class="chestname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1480'   , text: $data.image3D.shirtMonogram"></span>
			<span class="collarnamein" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1481'   , text: $data.image3D.shirtMonogram"></span>
			<span class="cuffname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1483'   , text: $data.image3D.shirtMonogram"></span>


			<!-- logo -->
			<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'front'-->
					
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->
			<!-- /ko -->



		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- back default -->
			<img src="gfx/order/image_3d/shirt/back/bg.png">

			<!-- back style -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtBack}">
			<img data-bind="attr: {src: $data.image3D.shirtBackCollar}">
			<img data-bind="attr: {src: $data.image3D.shirtBackCuff}">
			<img data-bind="attr: {src: $data.image3D.shirtDarts}">

			<!-- monogram -->
			<span class="collarname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1482'   , text: $data.image3D.shirtMonogram"></span>
			   
			<!-- TODO: Adjust the width and height via database -->
                <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
					<!-- ko if: position.view == 'back'-->
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
					<!-- /ko -->
				<!-- /ko -->

			<!-- /ko -->

		</div>


		<!-- constrast preview -->
		<div data-bind="visible: $data.image3D.side() == 'contrast', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- default image:  -->
			<img src="gfx/order/image_3d/shirt/main_bg.png">

			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtBottom}">

			<!-- Front -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtFront}">

			<!-- Seams -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtSeams}">

			<!-- Sleeves -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtSleeve}">
			<img data-bind="attr:{src: $data.image3D.selectedShirtEpaulette}">

			<!-- Shirt Collar -->
			<img src="gfx/order/image_3d/shirt/contrast_bg.png">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCollar}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCollar}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastCollarStand}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastBackOfCuff}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsidePlacket}">
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsidePlacket}">

			<!-- buttons -->
			<img data-bind="attr: {src: $data.image3D.selectedShirtContrastButtomCollor}">

			<!-- Pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedShirtPocketsLeft}">
			<img data-bind="attr:{src: $data.image3D.selectedShirtPocketsRight}">

			<!-- monogram -->
			<span class="chestname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1480'   , text: $data.image3D.shirtMonogram"></span>
			<span class="collarnamein" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1481'   , text: $data.image3D.shirtMonogram"></span>
			<span class="cuffname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1483'   , text: $data.image3D.shirtMonogram"></span>
			<span class="cuffnameleftshort" data-bind="visible: $data.image3D.shirtMonogramPositionID() == 'shirt_short_cuff'   , text: $data.image3D.shirtMonogram"></span>

			<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'front'-->
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->

			<!-- /ko -->


		</div>




		<!-- change the view -->
		<div class="change-side">
			<span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'contrast'},click: function(){ $data.image3D.side('contrast')}">Contrast</span>
		</div>
	</div>
</script>