<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="vest3DTemplate">
<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- default image:  -->
			<img src="gfx/order/image_3d/vest/vest_bg.png">

			<!-- lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedVestLapel}">

			<!-- bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedVestBottom}">

			<!-- Buttom -->
			<img data-bind="attr:{src: $data.image3D.selectedVestButton}">

			<!-- Pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedVestPockets}">
			<img data-bind="attr:{src: $data.image3D.selectedVestBreastPockets}">


			<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'front'-->
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->

			<!-- /ko -->

		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- selected back pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedvestBack}">

			<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
				<!-- ko if: position.view == 'back'-->
				
					<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
									text: position.name"></span>
				<!-- /ko -->

			<!-- /ko -->

		</div>

		<!-- Monogram preview -->
		<div data-bind="visible: $data.image3D.side() == 'monogram', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- lining -->
			<img src="gfx/order/image_3d/liningFabric/bg.png">
			<img data-bind="attr:{src: $data.image3D.selectedVestLiningColor}">

			<!-- piping -->
			<img data-bind="attr:{src: $data.image3D.selectedVestPipingColor}">

			<!-- pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedVestPocketColor}">


		</div>

		<!-- change the view -->
		<div class="change-side">
			<span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front side</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back side</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'monogram'},click: function(){ $data.image3D.side('monogram')}">Monogram</span>
		</div>
	</div>
</script>