<div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

		<!-- Fabric
				
			███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
			██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
			█████╗  ███████║██████╔╝██████╔╝██║██║     
			██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║     
			██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
			╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝
													
		-->
		<div data-bind="if: 0 && $data.id == '29' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Fabric-->
				<div data-bind="if: option.id == '86'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="text" data-bind="value: option.selectedValue">

				</div>

				<!-- notes -->
				<div data-bind="if: option.id == '87'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>

		<!-- Fit
							
			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║   
			██╔══╝  ██║   ██║   
			██║     ██║   ██║   
			╚═╝     ╚═╝   ╚═╝   
								
						-->
		<div data-bind="if: $data.id == '30' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- fit-->
				<div data-bind="if: option.id == '88'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
								css: { 'selected-val' : value.selected()}">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Sleeves

			███████╗██╗     ███████╗███████╗██╗   ██╗███████╗███████╗
			██╔════╝██║     ██╔════╝██╔════╝██║   ██║██╔════╝██╔════╝
			███████╗██║     █████╗  █████╗  ██║   ██║█████╗  ███████╗
			╚════██║██║     ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ╚════██║
			███████║███████╗███████╗███████╗ ╚████╔╝ ███████╗███████║
			╚══════╝╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
			                                                         
		-->
		<div data-bind="if: category.id == '31' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Sleeve style -->
				<div data-bind="if: option.id == '89'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 367px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																							css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box' style="min-height: 69px;">
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">gar.</th>
										<!-- ko if: value.id == '1316' -->
										<th class="right" style="">Short<br>Cuffs</th>
										<!-- /ko -->
										<th class="right">Epaulette</th>
										<th class="right" style="margin-left: 3px;margin-right: 14px;">sel.</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ko if: value.id == '1316' -->
										<!-- shot cuff -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="shortCuffCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='250'})[0].selectedValue">
											<label for="shortCuffCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='250'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='250'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- Epaulette -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="epauletteCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='91'})[0].selectedValue">
											<label for="epauletteCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='91'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='91'})[0].selectedValue())}"></label>
										</td>
										<!-- select -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() {
												
																										// select style
																										$root.garmentsDesignStep.setOptionValue(option, value);

																										// if selected option is Rolled or short, set cuff as false
																										if (['1315','1316'].includes(value.id)){
																											let cuff_style = $root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '32')[0].options.filter(el => el.id == '92')[0];
																											$root.garmentsDesignStep.setOptionValue(cuff_style, false);
																										}
																									},
																							attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
						</div>
					</div>
					</div>

				</div>

				<!-- Sleeves Notes -->
				<div data-bind="if: option.id == '90'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>


				<!-- Epaulettes -->
				<!-- <div data-bind="if: option.id == '91'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="checkbox" class="labeled-checkbox" id="epauletteCheckbox" data-bind="checked: option.selectedValue">
					<label for="epauletteCheckbox"></label>
				</div> -->



			</div>
		</div>

		<!-- Cuffs

			 ██████╗██╗   ██╗███████╗███████╗███████╗
			██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
			██║     ██║   ██║█████╗  █████╗  ███████╗
			██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
			╚██████╗╚██████╔╝██║     ██║     ███████║
			 ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝
			                                         
		-->
		<div data-bind="if: $data.id == '32' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- cuffs-->
				<div data-bind="if: option.id == '92'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 254px; min-width: unset;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																								css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example" style="width: 181px;">
							<!-- selection box !! -->
							<!--- ko if: value.clicked -->
							<div class='selection-box' data-bind="if: value.clicked">
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<!-- if sleeve is rolled (id = 1315), hide French Angle (id = 1317), French Round (id = 1318), French Square (id = 1319) -->
                                    <!-- if sleeve is short (id = 1316), hide all cuffs -->
									<!-- always show custom (id == 4567) -->
                                    <!-- ko if: 
                                        $root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '31')[0].options.filter(el => el.id == '89')[0].selectedValue() && 
                                        !(
                                            ($root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '31')[0].options.filter(el => el.id == '89')[0].selectedValue().id == '1315' && ['1317', '1318', '1319'].includes(value.id)) ||
                                            ($root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '31')[0].options.filter(el => el.id == '89')[0].selectedValue().id == '1316')
                                        )
										|| value.id == '4567'
									-->
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
									<!-- /ko -->
								</table>
						</div>
							<!--- /ko -->
					</div>
					</div>

				</div>

				<!-- cuffs notes-->
				<div data-bind="if: option.id == '93'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>


		<!-- Shirt Collar

			███████╗██╗  ██╗██╗██████╗ ████████╗     ██████╗ ██████╗ ██╗     ██╗      █████╗ ██████╗ 
			██╔════╝██║  ██║██║██╔══██╗╚══██╔══╝    ██╔════╝██╔═══██╗██║     ██║     ██╔══██╗██╔══██╗
			███████╗███████║██║██████╔╝   ██║       ██║     ██║   ██║██║     ██║     ███████║██████╔╝
			╚════██║██╔══██║██║██╔══██╗   ██║       ██║     ██║   ██║██║     ██║     ██╔══██║██╔══██╗
			███████║██║  ██║██║██║  ██║   ██║       ╚██████╗╚██████╔╝███████╗███████╗██║  ██║██║  ██║
			╚══════╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝   ╚═╝        ╚═════╝ ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
			                                                                                         
		-->
		<div data-bind="if: $data.id == '33' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- cuffs-->
				<div data-bind="if: option.id == '94'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 253px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
						</div>
					</div>
					</div>

				</div>

				<!-- collar notes-->
				<div data-bind="if: option.id == '95'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>

		<!-- Front

			███████╗██████╗  ██████╗ ███╗   ██╗████████╗
			██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝
			█████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║   
			██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║   
			██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║   
			╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   
			                                            
		-->
		<div data-bind="if: $data.id == '34' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- front style -->
				<div data-bind="if: option.id == '96'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 408px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">gar.</th>
										<th class="right" style="padding-right: 5px;">sel.</th>
										<th class="right" style="padding-right: 11px;">seams</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>
										<!-- seams -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="frontStyleSeams" data-bind="checked: category.options.filter(function(el) {return el.id=='98'})[0].selectedValue">
											<label for="frontStyleSeams" data-bind="click: function(){category.options.filter(function(el) {return el.id=='98'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='98'})[0].selectedValue())}"></label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
						</div>
					</div>
					</div>

				</div>

				<!-- Front Style Seams -->
				<!-- <div data-bind="if: option.id == '98'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<input type="checkbox" class="labeled-checkbox" name="" id="frontStyleSeams" data-bind="checked: option.selectedValue">
					<label for="frontStyleSeams"></label>

				</div> -->

				<!-- Front notes -->
				<div data-bind="if: option.id == '97'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>

		<!-- Bottom Style

			██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                                     
		-->
		<div data-bind="if: $data.id == '35' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Bottom -->
				<div data-bind="if: option.id == '100'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- Bottom Style -->
				<div data-bind="if: option.id == '99'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 315px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<!--- ko if: value.clicked -->
							<div class='selection-box' data-bind="if: value.clicked">
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
							</div>
							<!--- /ko -->
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Back

		██████╗  █████╗  ██████╗██╗  ██╗
		██╔══██╗██╔══██╗██╔════╝██║ ██╔╝
		██████╔╝███████║██║     █████╔╝ 
		██╔══██╗██╔══██║██║     ██╔═██╗ 
		██████╔╝██║  ██║╚██████╗██║  ██╗
		╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
										
		
		-->
		<div data-bind="if: $data.id == '36' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For back -->
				<div data-bind="if: option.id == '102'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

				<!-- Darts -->
				<!-- <div data-bind="if: option.id == '248'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<input type="checkbox" class="labeled-checkbox" name="" id="dartsCheckbox" data-bind="checked: option.selectedValue">
					<label for="dartsCheckbox"></label>
					
				</div> -->



				<!-- back Style -->
				<div data-bind="if: option.id == '101'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 315px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">gar.</th>
										<th class="right" style="margin-right: 11px;margin-left: -6px;">sel.</th>
										<!-- ko if: value.id != '1355' -->
										<th class="right" style="padding-right: 18px;">darts</th>
										<!-- /ko -->
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>
										<!-- ko if: value.id != '1355' -->
										<!-- darts -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="dartsCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='248'})[0].selectedValue">
											<label for="dartsCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='248'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='248'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Pockets
		
		██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
		██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
		██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
		██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
		██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
		╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
		                                                          
		-->
		<div data-bind="if: $data.id == '37' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For pockets -->
				<div data-bind="if: option.id == '104'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- pockets Style -->
				<div data-bind="if: option.id == '103'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 214px;" data-bind="css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); }, attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
										<!-- ko if: value.id != '1362' -->
										<th class="right">position</th>
										<!-- /ko -->
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>
										<!-- ko if: value.id != '1362' -->
										<!--  pockets position -->
										<td class="right">
											
											<select class="mikrosss" data-mini="true" data-bind=
												"options: category.options.filter(function(el) {return el.id=='105'})[0].values,
												optionsText: 'name',
												value: category.options.filter(function(el) {return el.id=='105'})[0].selectedValue">
											</select>

										</td>
										<!-- /ko -->

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>


				<!-- pockets position -->
				<!-- <div data-bind="if: option.id == '105'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																											css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div> -->

			</div>

		</div>

		<!-- Contrasts
		
		██████╗ ██████╗ ███╗   ██╗████████╗██████╗  █████╗ ███████╗████████╗███████╗
		██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝
		██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝███████║███████╗   ██║   ███████╗
		██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██╔══██║╚════██║   ██║   ╚════██║
		╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║  ██║███████║   ██║   ███████║
		 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
		                                                                             
		
		-->
		<div data-bind="if: $data.id == '38' ">
		
			<div class="scrollContent">

				<h2>Shirt Contrast Options</h2>

				<div class="grid_16 tenmargbot" style="width: 108%;">
					<!-- left: show garment -->
					<div class="checkslabelleft">
						<span>#1</span>
					</div>

					<!-- right: select options -->
					<div class="checkcontainer">
						<!-- line 1 (inside/outside collar and collar stand)-->
						<div class="contrastman">
							
							<!-- Inside Collar -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='106'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
							<!-- Outside Collar -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='107'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
							<!-- Collar Stand -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='108'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
						
						</div>
						
						<!-- line 2 -->
						<div class="contrastman">
							<!-- Inside cuff -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='109'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
							<!-- Outside cuff -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='110'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
							<!-- back of cuff -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='111'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
						
						</div>
						
						<!-- line 3 -->
						<div class="contrastman">
							<!-- Inside placket -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='112'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
							<!-- Outside placket -->
							<div class="boxesincheck" data-bind="with: category.options.filter(function(el) {return el.id=='113'})[0]">
								<span class="boxesincheckname" data-bind="text:  $data.name"></span>
								<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$data.selectedValue(!$data.selectedValue())}">box
								</div>
							</div>
						
						</div>

						<!-- line 4 -->
						<div class="contrastman">
							<!-- Buttom Colour -->
							<div data-bind="with: category.options.filter(function(el) {return el.id=='114'})[0]">
								<div class="myboxesincheck" onclick="{changeVisibilityDiv('shirt_button_collor_popup')}">
									<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
									<img name="ShirtThread" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
									<span class="mydataboxesincheckname" data-bind="$data.selectedValue()  ? $data.selectedValue().name : ''"></span>
								</div>
						
								<!-- pop up -->
								<div id="shirt_button_collor_popup" class="white_content mynicepop" style="display: none;">
									<div class="inmynicepop inmynicepopthree">
										<h4 data-bind="text: 'Select ' + $data.name"></h4>
										<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
											<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																												changeVisibilityDiv('shirt_button_collor_popup'); },
																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
												<span class="new_main_option_title" data-bind="text:value.name"></span>
												<img data-bind="attr:{src: value.image}" class="example">
											</div>
										</div>
										<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('shirt_button_collor_popup')}">Save
											And Close</a>
									</div>
								</div>
							</div>
						
							<!-- Thread Colour -->
							<div data-bind="with: category.options.filter(function(el) {return el.id=='115'})[0]">
								<!-- button -->
								<div class="myboxesincheck" onclick="{changeVisibilityDiv('shirt_thread_popup')}">
									<span class="myboxesincheckname smallertag">Thread Colour</span>
									<img name="ShirtThread" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
									<span class="mydataboxesincheckname" data-bind="$data.selectedValue()  ? $data.selectedValue().name : ''"></span>
								</div>
						
								<!-- pop up -->
								<div id="shirt_thread_popup" class="white_content mynicepop" style="display: none;">
									<div class="inmynicepop inmynicepopthree">
										<h4>Select Thread Colour</h4>
										<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
											<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																											changeVisibilityDiv('shirt_thread_popup'); },
																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
												<span class="new_main_option_title" data-bind="text:value.name"></span>
												<img data-bind="attr:{src: value.image}" class="example">
											</div>
										</div>
										<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('shirt_thread_popup')}">Save
											And Close</a>
									</div>
								</div>
							</div>
						
						</div>

					</div>
					
				</div>
				
			</div>



			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- Contrasts fabrics -->
				<div data-bind="if: option.id == '116'">
					<div class="grid_12" style="width: 100%">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<input type="text" data-bind="value: option.selectedValue">
					</div>
					<br>
					<br>
				</div>
				<!-- Notes For contrasts -->
				<div data-bind="if: option.id == '117'" style="width: 100%;">
					<div>
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
					</div>
				</div>
		
				<!-- contrasts Style -->
				<div data-bind="if: option.id == '103'">
					<div class="grid_12" style="width: 100%">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
							<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																																			css: { 'selected-val' : value.selected() }">
								<span class="new_main_option_title" data-bind="text:value.name"></span>
								<img data-bind="attr:{src: value.image}" class="example">
							</div>
						</div>
					</div>
		
				</div>
			</div>
		</div>


		<!-- Monogram
		███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗  ██████╗ ██████╗  █████╗ ███╗   ███╗
		████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
		██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║██║  ███╗██████╔╝███████║██╔████╔██║
		██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║██║   ██║██╔══██╗██╔══██║██║╚██╔╝██║
		██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
		╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
		                                                                           
		
		-->
		<div data-bind="if: category.id == '39' ">

			<h2 data-bind="text: $data.name"></h2>

			<!-- line 1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Monogram</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 47%;">
					<!-- first line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='118'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="ShirtCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Header or leave empty for no Header" type="text" style="background: white;">
						</div>
					</div>
				</div>
			
			</div>

			<!-- line 2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Position</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Select position of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id=='119'})[0]">
						<div data-bind="foreach: { data: $data.values, as: 'value' }" style="width: 100%;display: flex;">
							<div class="mycheck mychecknews" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); },
																		css: { 'selected-val' : value.selected() },
																		text: value.name">
							</div>
						</div>
					</div>
				</div>
			
			</div>

				<!-- line 3 -->
				<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
					<!-- identify line -->
					<div class="grid_3 fivepaddingtop eighttopmargin">
						<span>Other options</span>
					</div>
					<!-- options wrapper -->
					<div class="grid_13" style="float: right; display: flex;">
						<!-- Stitching-->
						<div data-bind="with: category.options.filter(function(el) {return el.id=='120'})[0]">
							<!-- button -->
							<div class="left_position myboxesincheck" onclick="{changeVisibilityDiv('shirt_stitching_popup')}">
								<span class="myboxesincheckname smallertag">Stitching</span>
								<!-- ko if: $data.selectedValue() -->
								<img name="ShirtMonogramStitchColour" data-bind="attr:{src: $data.selectedValue().image}">
								<span class="mydataboxesincheckname" name="ShirtMonogramStitchColourText" data-bind="text: $data.selectedValue().name"></span>
								<!-- /ko -->
							</div>
							
							<!-- pop up -->
							<div id="shirt_stitching_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4>Select stitch Colour</h4>
									<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
										<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value);
																												changeVisibilityDiv('shirt_stitching_popup') },
																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
											<span class="new_main_option_title" data-bind="text:value.name"></span>
											<img data-bind="attr:{src: value.image}" class="example">
										</div>
									</div>
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('shirt_stitching_popup')}">Save
										And Close</a>
								</div>
							</div>
						</div>
						
					</div>
				
				</div>




			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- monogram notes -->
				<div data-bind="if: option.id == '121'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

				<!-- Font -->
				<div data-bind="if: option.id == '122'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																																									css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

			</div>
		</div>






		<!-- General Notes
			
		 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
		██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
		██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
		██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
		╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
																													
			
		-->
		<div data-bind="if: category.id == '40' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '123'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>



		<!-- Custom Data
		
			 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
			██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
			██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
			██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
			╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
			 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
			                                                                                           

		-->
		
		<div data-bind="if: category.id == '66' ">
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>
			
			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- ko if: $root.garmentsDesignStep.hasCustomDesign().includes(option.id) -->

				<div class="row design-opt-el">
					<div class="col-md-3">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
					</div>

					<div class="col-md-3">
						<button class="custom-img-btn" data-bind="click: function() { $root.garmentsDesignStep.takeOptionCustomImage(option); }">Take Custom Image</button>
						<button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
											click: function() { $root.garmentsDesignStep.clearCustomOptionImage(option); }">Clear Image</button>
					</div>

					<div class="col-md-6" data-bind="visible: option.selectedValue()">
						
						<img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">

					</div>


				</div>
				<!-- /ko -->
				
			</div>
			
			<!-- ko if: !$root.garmentsDesignStep.hasCustomDesign().length > 0-->
			<h2>No Custom data</h2>
			<!-- /ko -->
		</div>


		<!-- Show selected category -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

	</div>

</div>

<!-- import template -->
<div id="3dShirtWrapper">
	</div>
	
	<!-- build from template -->
	<!-- ko if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric' -->
	<div data-bind="template: { name: 'shirt3DTemplate', data: $root.garmentsDesignStep.selectedGarment }"></div>
	<!-- /ko -->

<script>
	// import uniform template
	$('#3dShirtWrapper').load('uniforms_designs/images_3d_teplates/shirt3D.htm');
</script>