<div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">


		<!-- Fit
										
						███████╗██╗████████╗
						██╔════╝██║╚══██╔══╝
						█████╗  ██║   ██║   
						██╔══╝  ██║   ██║   
						██║     ██║   ██║   
						╚═╝     ╚═╝   ╚═╝   
											
									-->
		<div data-bind="if: $data.id == '48' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- fit-->
				<div data-bind="if: option.id == '158'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1 option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }" style="width: 99%;">
						<div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																																						css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div data-bind="if: $data.id == '70' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- fit-->
				<div data-bind="if: option.id == '243'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }" style="width: 99%;">
						<div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																																						css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Pant Style
			
			██████╗  █████╗ ███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔══██╗████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝███████║██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██╔══██║██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ██║  ██║██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                 
		-->

		<div data-bind="if: category.id == '58' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- pant Style -->
				<div data-bind="if: option.id == '211'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">

							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>


				<!-- Notes for pant Style -->
				<div data-bind="if: option.id == '212'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>


		<!-- Pleats Style
		
			██████╗ ██╗     ███████╗ █████╗ ████████╗███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██║     ██╔════╝██╔══██╗╚══██╔══╝██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║     █████╗  ███████║   ██║   ███████╗    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██║     ██╔══╝  ██╔══██║   ██║   ╚════██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ███████╗███████╗██║  ██║   ██║   ███████║    ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->

		<div data-bind="if: category.id == '59' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Pleats Style -->
				<div data-bind="if: option.id == '213'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
                                            css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { 
												
																									// select current options
																									$root.garmentsDesignStep.setOptionValue(option, value); 
																								
																									
																									// if selected option is double Pleats or triple pleats, select no pocket
																									if (['3843','3856'].includes(value.id)){
																										let front_pocket_option = $root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '60')[0].options.filter(el => el.id == '215')[0];
																										$root.garmentsDesignStep.setOptionValue(front_pocket_option, front_pocket_option.values.filter(el => el.id == '3850')[0]);
																									}
																								}, 
																								attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>


				<!-- Notes for Pleats Style -->
				<div data-bind="if: option.id == '214'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>

		<!-- Front pockets 		
			
			███████╗██████╗  ██████╗ ███╗   ██╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			█████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                                          
		-->

		<div data-bind="if: category.id == '60' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Front pockets -->
				<div data-bind="if: option.id == '215'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
                                                                                                            css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									 <!-- if pants pleats is DOUBLE or TRIPLE, do not show SLANTED WELT|STRAIGHT WELT|MODERN CURVED|JEANS pockets -->
									<!-- ko if: !(['3843', '3846'].includes($root.garmentsDesignStep.selectedGarment().categories.filter(el => el.id == '59')[0].options.filter(el => el.id == '213')[0]) && ['3852', '3853', '3849', '3848'].includes(value.id))
									-->
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
									<!-- /ko -->
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>


				<!-- Notes for Front pockets -->
				<div data-bind="if: option.id == '216'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- Back Pockets
			
			██████╗  █████╗  ██████╗██╗  ██╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			██████╔╝███████║██║     █████╔╝     ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══██╗██╔══██║██║     ██╔═██╗     ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██████╔╝██║  ██║╚██████╗██║  ██╗    ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                              
		-->

		<div data-bind="if: category.id == '61' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!--Style-->
				<div data-bind="if: option.id == '217'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4 pant-back-pocket-value" style="min-height: 258px;" data-bind="css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); }, 
											attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<!-- ko if:  value.id != '3858' -->
										<th class="right" sstyle="right: -2px;position: relative;">position</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 0px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ko if:  value.id != '3858' -->
										<!-- back pockets position -->
										<td class="right">
											<select class='mikrosss' style="margin-left: 5px;" data-bind="options: category.options.filter(function(el) {return el.id == '219'})[0].values,
														optionsText: 'name',
														value: category.options.filter(function(el) {return el.id == '219'})[0].selectedValue">
											</select>
										</td>
										<!-- /ko -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>



				<!-- Notes for Front pockets -->
				<div data-bind="if: option.id == '218'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- Belt & Cuffs
		
					██████╗ ███████╗██╗  ████████╗       ██╗        ██████╗██╗   ██╗███████╗███████╗███████╗
					██╔══██╗██╔════╝██║  ╚══██╔══╝       ██║       ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
					██████╔╝█████╗  ██║     ██║       ████████╗    ██║     ██║   ██║█████╗  █████╗  ███████╗
					██╔══██╗██╔══╝  ██║     ██║       ██╔═██╔═╝    ██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
					██████╔╝███████╗███████╗██║       ██████║      ╚██████╗╚██████╔╝██║     ██║     ███████║
					╚═════╝ ╚══════╝╚══════╝╚═╝       ╚═════╝       ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝
																											
				-->

		<div data-bind="if: category.id == '62' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Belt Loop -->
				<div data-bind="if: option.id == '220'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">cuffs</th>
										<th class="right" style="padding-right: 6px;">braces</th>
										<th class="right" style="padding-right: 4px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- belt checkbox -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" beltCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '222'})[0].selectedValue">
											<label for="beltCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '222'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '222'})[0].selectedValue())}"></label>
										</td>
										<!-- braces checkbox -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" bracesCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '223'})[0].selectedValue">
											<label for="bracesCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '223'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '223'})[0].selectedValue())}"></label>
										</td>
										<!-- select style -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>
									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>


				<!-- Notes for belt & cuffs -->
				<div data-bind="if: option.id == '221'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- General Notes
						
						 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
						██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
						██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
						██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
						╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
						 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
																																   
						
					-->
		<div data-bind="if: category.id == '64' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '210'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>


		<!-- 
			
			
			    ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗ ██╗
			   ██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝
			  ██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝ 
			 ██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝  
			██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝██╔╝   
			╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝ ╚═╝    
			                                                                                                                           
		
		
		-->


		<!-- 1: Jacket Style -->
		<!-- 
			     ██╗ █████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			     ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			     ██║███████║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██   ██║██╔══██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			╚█████╔╝██║  ██║╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
			 ╚════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->
		<div data-bind="if: category.id == '49' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- 1: Style of buttons-->
				<div data-bind="if: option.id == '148'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																						css: { 'selected-val' : value.selected(),'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">tuxedo</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>

										<!-- tuxedo -->
										<td class="right">
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" tuxedoCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '150'})[0].selectedValue">
											<label for="tuxedoCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '150'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '150'})[0].selectedValue())}"></label>
										</td>
										</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>

				<!-- 2: Notes for jacket style-->
				<div data-bind="if: option.id == '149'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- 4: Buttom Color -->
				<div data-bind="if: option.id == '151'">
					<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button_collor_popup')}" style="">
						<span class="myboxesincheckname smallertag" data-bind="text: option.name"></span>
						<img name="" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="text: option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>
					<br>
					<br>
					<br>

					<!-- pop up -->
					<div id="jacket_button_collor_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4 data-bind="text: 'Select ' + option.name"></h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: option.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); changeVisibilityDiv('jacket_button_collor_popup');},
																																							css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button_collor_popup')}">Save
								And Close</a>
						</div>
					</div>
				</div>


			</div>

		</div>

		<!-- Bottom Style

			██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                                     
		-->
		<div data-bind="if: $data.id == '50' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Jacket Bottom -->
				<div data-bind="if: option.id == '160'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- Bottom Style -->
				<div data-bind="if: option.id == '159'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>


		<!-- Vent Style
			██╗   ██╗███████╗███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██║   ██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██║   ██║█████╗  ██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			 ╚████╔╝ ███████╗██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
			  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
	
		-->
		<div data-bind="if: $data.id == '51' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Vent -->
				<div data-bind="if: option.id == '162'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

				<!-- Vent Style -->
				<div data-bind="if: option.id == '161'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 356px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<!-- ko if:  value.id == '2609' -->
										<th class="right" style="margin-right: 14px;margin-left: 9px;">tail</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 3px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ko if:  value.id == '2609' -->
										<!-- tail -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" tailCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '163'})[0].selectedValue">
											<label for="tailCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '163'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '163'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Lapel Style 
			██╗      █████╗ ██████╗ ███████╗██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗
			██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██║     ███████║██████╔╝█████╗  ██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			███████╗██║  ██║██║     ███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗
			╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
                                                                                            
			-->
		<div data-bind="if: category.id == '52' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- BH Color -->
				<div data-bind="if: option.id == '167'">

					<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_bh_collor_popup')}" style="left: 0px;position: relative;margin-right: 81%;">
						<span class="myboxesincheckname smallertag" data-bind="text: option.name"></span>
						<img name="" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="text: option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>

					<!-- pop up -->
					<div id="jacket_bh_collor_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4 data-bind="text: 'Select ' + option.name"></h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: option.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); changeVisibilityDiv('jacket_bh_collor_popup');},
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_bh_collor_popup')}">Save
								And Close</a>
						</div>
					</div>
				</div>


				<!-- Lapel Style -->
				<div data-bind="if: option.id == '164'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																												css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">width</th>
										<!-- ko if:  value.id != '2616' -->
										<th class=" right" style="margin-left: 5px;margin-right: 13px;">BH</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 8px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- width -->
										<td class="right">
											<!-- selected value not null or not zero -->
											<!-- ko if: category.options.filter(function(el) {return el.id == '168'})[0].selectedValue() -->
											<span class="width_span" style="margin-left: 0px;" data-bind="text: category.options.filter(function(el) {return el.id == '168'})[0].selectedValue"
											 onclick="changeVisibilityDiv('MyJacketLapelWidthPopup');"></span>
											<!-- /ko -->

											<!-- selected value is zero or null-->
											<!-- ko if: !category.options.filter(function(el) {return el.id == '168'})[0].selectedValue() -->
											<span class="width_span" data-bind="click: function() {  
																					// set default lapel width
																					category.options.filter(function(el) {return el.id == '168'})[0].selectedValue(3.25);

																					changeVisibilityDiv('MyJacketLapelWidthPopup'); 
																				}">0
											</span>
											<!-- /ko -->



										</td>
										<!-- ko if:  value.id != '2616' -->
										<!-- bh -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" bhCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '166'})[0].selectedValue">
											<label for="bhCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '166'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '166'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>

				<!-- POP UP for change the lapel width -->
				<div id="MyJacketLapelWidthPopup" class="white_content mynicepop" style="display: none;">
					<div class="inmynicepop">
						<p>Adjust Lapel Width</p>

						<div class="garment-count-btn inline-div btn btn-small submit minus-btn" data-bind="click: function() { category.options.filter(function(el) {return el.id=='168'})[0].selectedValue(category.options.filter(function(el) {return el.id=='168'})[0].selectedValue()-0.25) } "> - </div>
						<span class="width-span" data-bind="text: category.options.filter(function(el) {return el.id=='168'})[0].selectedValue"></span>
						<div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { category.options.filter(function(el) {return el.id=='168'})[0].selectedValue(category.options.filter(function(el) {return el.id=='168'})[0].selectedValue()+0.25) } "> + </div>

						<div class="clear"></div>
						<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="changeVisibilityDiv('MyJacketLapelWidthPopup')">Save
							And Close</a>
					</div>
				</div>

				<!-- Notes for Lapel Style -->
				<div data-bind="if: option.id == '165'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>


		<!-- Sleeves

			███████╗██╗     ███████╗███████╗██╗   ██╗███████╗███████╗
			██╔════╝██║     ██╔════╝██╔════╝██║   ██║██╔════╝██╔════╝
			███████╗██║     █████╗  █████╗  ██║   ██║█████╗  ███████╗
			╚════██║██║     ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ╚════██║
			███████║███████╗███████╗███████╗ ╚████╔╝ ███████╗███████║
			╚══════╝╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
			                                                         
			-->
		<div data-bind="if: category.id == '54' ">

			<h2>Select Your Sleeves Buttons</h2>

			<!-- line of options (number of buttons, kissing and working) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;top: -8px;position: relative;">
					<!-- number -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '169'})[0]">
						<div class="" data-bind="foreach: { data: $data.values, as: 'value' }">
							<div class="option-value1 grid_4 jacket-number-value" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); },
                                                                                                                                                            css: { 'selected-val' : value.selected()}">
								<span class="new_main_option_title" data-bind="text:value.name"></span>
							</div>
						</div>
					</div>



					<!-- 
					    ************************************ Important: *****************************************
					    **** Kissing and working cannot go together, the button is either KISSING OR WORKING ****
					    *****************************************************************************************
					-->



					<!-- Working -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '171'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, 
																					click: function(){ 

																							$data.selectedValue(!$data.selectedValue());
																							

																					}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>

					</div>

					<!-- Kissing -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '170'})[0]">
						<div class="myboxesincheck kissing-working-boxes" data-bind="css: { 'selecteds': $data.selectedValue }, 
																					click: function(){ 

																							$data.selectedValue(!$data.selectedValue());
																							

																					}">
							<span class="myboxesincheckname" data-bind="text: $data.name"></span>
							<div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }">box
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2>Select Your Sleeves Buttons Contrasts</h2>

			<!-- line of options for 1 button-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '173'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button1_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_collor_popup');},
                                                                                                                    css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '178'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button1_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_hole_popup');},
                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_hole_popup')}">Save
									And Close</a>
							</div>
						</div>


					</div>

					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '182'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button1_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button1_thread_popup');},
                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button1_thread_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 2 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '174'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button2_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_collor_popup');},
                                                                                                                                    css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '179'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button2_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_hole_popup');},
                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_hole_popup')}">Save
									And Close</a>
							</div>
						</div>


					</div>

					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '183'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button2_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button2_thread_popup');},
                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button2_thread_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 3 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '175'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button3_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_collor_popup');},
                                                                                                                                    css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '180'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button3_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_hole_popup');},
                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_hole_popup')}">Save
									And Close</a>
							</div>
						</div>


					</div>

					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '184'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button3_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button3_thread_popup');},
                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button3_thread_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 4 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=4 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 4</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '176'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button4_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_collor_popup');},
                                                                                                                                                    css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '224'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button4_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_hole_popup');},
                                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_hole_popup')}">Save
									And Close</a>
							</div>
						</div>


					</div>

					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '185'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button4_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button4_thread_popup');},
                                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button4_thread_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- line of options for 5 buttons-->
			<!-- ko if: $root.garmentsDesignStep.getSleeveNumber()()>=5 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify button -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Button 5</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '177'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">
							<span class="myboxesincheckname smallertag">Button Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button5_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_collor_popup');},
                                                                                                                                                                    css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- hole -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '181'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">
							<span class="myboxesincheckname smallertag">Button Hole</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button5_hole_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_hole_popup');},
                                                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_hole_popup')}">Save
									And Close</a>
							</div>
						</div>


					</div>

					<!-- thread -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '186'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">
							<span class="myboxesincheckname smallertag">Button Thread</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_button5_thread_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_button5_thread_popup');},
                                                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_button5_thread_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /ko -->

			<!-- Sleeves Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id == '172'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>

		</div>


		<!-- Pocket Style
					
			██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
			╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
																											
					
				-->
		<div data-bind="if: category.id == '55' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Pockets Notes -->
				<div data-bind="if: option.id == '189'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>



				<!-- Pocket Style -->
				<div data-bind="if: option.id == '187'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 353px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																		css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">Ticket<br>Pocket</th>
										<th class="right" style="padding-right: 8px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- ticket pocket -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id=" epauletteCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id == '188'})[0].selectedValue">
											<label for="epauletteCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id == '188'})[0].selectedValue(!category.options.filter(function(el) {return el.id == '188'})[0].selectedValue())}"></label>
										</td>
										<!-- select button -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!-- Breast Pocket
					
			██████╗ ██████╗ ███████╗ █████╗ ███████╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗
			██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝
			██████╔╝██████╔╝█████╗  ███████║███████╗   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   
			██╔══██╗██╔══██╗██╔══╝  ██╔══██║╚════██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   
			██████╔╝██║  ██║███████╗██║  ██║███████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   
			╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   
																													
			
				-->
		<div data-bind="if: category.id == '56' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '190'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 386px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																	css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>

		<!-- Lapel Details
					
			██╗      █████╗ ██████╗ ███████╗██╗         ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
			██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
			██║     ███████║██████╔╝█████╗  ██║         ██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
			██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
			███████╗██║  ██║██║     ███████╗███████╗    ██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
			╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
																											
		
				-->
		<div data-bind="if: category.id == '53' ">

			<h2>Select Top Stitch Options</h2>

			<!-- line of options (top stitch) -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lapel -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '199'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Lapel</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>

					<!-- Pocket -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '200'})[0]">
						<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
							<span class="myboxesincheckname">Pocket</span>
							<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
							</div>
						</div>
					</div>

					<!-- Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '201'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">
							<span class="myboxesincheckname smallertag">Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_top_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_top_stitch_collor_popup');},
																																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_top_stitch_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>
				</div>
				<div class="grid_16 notesi" style="width: 97%;">
					<span name="extratrimcost">Note: Top Stitch Options cost $90.00 extra</span>
				</div>
			</div>

			<!-- if tuxedo is selected -->
			<!-- ko if: $root.garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '49'})[0].options.filter(function(el) {return el.id=='150'})[0].selectedValue()  -->
			<h2>Select Tuxedo Lapel Options</h2>

			<!-- line for tuxedo options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 65%">
					<div class="contrastman">
						<!-- Lapel -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '191'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Lapel</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>

						<!-- Pocket -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '195'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Pocket</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>

						<!-- Edging -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '193'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Edging</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>

						<!-- Collar -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '192'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Collar</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>
						<!-- Breast Pockets -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '196'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Breast Pockets</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>

						<!-- Buttons -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '197'})[0]" style="float: right">
							<div class="myboxesincheck" data-bind="css: { 'selecteds': $data.selectedValue() }, click: function(){ $data.selectedValue(!$data.selectedValue());}">
								<span class="myboxesincheckname">Buttons</span>
								<div name="JacketTopStitchLapel" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue() }">box
								</div>
							</div>
						</div>

						<!-- Colour -->
						<div data-bind="with: category.options.filter(function(el) {return el.id == '194'})[0]" style="float: right">
							<!-- button -->
							<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">
								<span class="myboxesincheckname smallertag">Colour</span>

							</div>

							<!-- pop up -->
							<div id="jacket_tuxedo_collor_popup" class="white_content mynicepop" style="display: none;">
								<div class="inmynicepop inmynicepopthree">
									<h4 data-bind="text: 'Set ' + $data.name"></h4>
									<input type="text" data-bind="value: $data.selectedValue" style="margin-bottom: 16px;">
									<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_tuxedo_collor_popup')}">Save
										And Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_16 notesi" style="width: 97%">
				<span name="extratrimcost">Note: Satin Trimming Options cost $200.00 extra</span>
			</div>
			<!-- /ko -->

			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- if tuxedo is selected -->
				<!-- ko if: $root.garmentsDesignStep.selectedGarment().categories.filter(function(el){return el.id == '49'})[0].options.filter(function(el) {return el.id=='150'})[0].selectedValue()  -->
			
				<!-- Tuxedo Lapel Notes -->
				<div data-bind="if: option.id == '198'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
				<!-- /ko -->


				<!-- Sticth Lapel Notes -->
				<div data-bind="if: option.id == '202'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>
			</div>

		</div>

		<!-- Monogram
		
			███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗  ██████╗ ██████╗  █████╗ ███╗   ███╗
			████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
			██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║██║  ███╗██████╔╝███████║██╔████╔██║
			██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║██║   ██║██╔══██╗██╔══██║██║╚██╔╝██║
			██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
			╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
																						
		
				 -->
		<div data-bind="if: category.id == '63'">
			<h2>Lining Piping options</h2>


			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify garment -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>#1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- Lining -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '203'})[0]">

						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_lining_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_lining_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_lining_popup');},
																																															css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example lining-preview">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_lining_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- Pipping -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '204'})[0]">

						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_pipping_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pipping_popup');},
																																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pipping_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- Pocket Color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '205'})[0]">

						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">
							<span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_pckt_color_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_pckt_color_popup');},
																																																					css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_pckt_color_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- notes: temporary -->
					<!-- <div class="myboxesincheck"> <span class="myboxesincheckname">Notes</span>
										<div class="thirty_optioncell open_style_notes right_position">Lining Notes</div>
									</div> -->

				</div>

			</div>

			<!-- Do not make monogram for uniform template -->
			<!-- ko if: false -->
			<h2>Customise your Monogram</h2>

			<!-- line 1 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #1</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- first line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '207'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Header or leave empty for no Header" type="text" style="background: white;">
						</div>
					</div>
				</div>

			</div>

			<!-- line 2 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;" style="background: white;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #2</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- second line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '208'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>

			</div>


			<!-- line 3 -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Line #3</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex; width: 46%;">
					<!-- 3 line of the monogram -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '209'})[0]" style="width: 100%;">
						<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
							<input name="JacketCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
							 placeholder="Type your Monogram or leave empty for no Monogram" type="text" style="background: white;">
						</div>
					</div>
				</div>

			</div>

			<!-- other options -->
			<div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
				<!-- identify line -->
				<div class="grid_3 fivepaddingtop eighttopmargin">
					<span>Other Options</span>
				</div>
				<!-- options wrapper -->
				<div class="grid_13" style="float: right; display: flex;">
					<!-- stitch color -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '241'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">
							<span class="myboxesincheckname smallertag">Colour</span>
							<img name="" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
							<span class="mydataboxesincheckname" data-bind="text: $data.selectedValue()  ? $data.selectedValue().name : ''"></span>
						</div>

						<!-- pop up -->
						<div id="jacket_monogram_stitch_collor_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue($parentContext.$data, value); changeVisibilityDiv('jacket_monogram_stitch_collor_popup');},
																																						css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example">
									</div>
								</div>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_collor_popup')}">Save
									And Close</a>
							</div>
						</div>
					</div>

					<!-- Stitch notes -->
					<div data-bind="with: category.options.filter(function(el) {return el.id == '242'})[0]">
						<!-- button -->
						<div class="myboxesincheck" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">
							<span class="myboxesincheckname">Notes</span>
							<div class="thirty_optioncell open_style_notes right_position">Stitch notes</div>
						</div>

						<!-- pop up -->
						<div id="jacket_monogram_stitch_note_popup" class="white_content mynicepop" style="display: none;">
							<div class="inmynicepop inmynicepopthree">
								<h4 data-bind="text: 'Select ' + $data.name"></h4>
								<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
								<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('jacket_monogram_stitch_note_popup')}">Save
									And Close</a>
							</div>
						</div>

					</div>




				</div>

			</div>
			<!-- /ko -->

			<!-- Notes -->
			<div data-bind="with: category.options.filter(function(el) {return el.id == '206'})[0]">
				<strong>
					<p data-bind="text: $data.name"></p>
				</strong>
				<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
			</div>


		</div>



		<!-- Custom Data
		
			 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
			██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
			██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
			██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
			╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
			 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
			                                                                                           

		-->
		<div data-bind="if: category.id == '69' ">
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- ko if: $root.garmentsDesignStep.hasCustomDesign().includes(option.id) -->
				<div class="row design-opt-el">
					<div class="col-md-3">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
					</div>

					<div class="col-md-3">
						<button class="custom-img-btn" data-bind="click: function() { $root.garmentsDesignStep.takeOptionCustomImage(option); }">Take
							Custom Image</button>
						<button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
											click: function() { $root.garmentsDesignStep.clearCustomOptionImage(option); }">Clear
							Image</button>
					</div>

					<div class="col-md-6" data-bind="visible: option.selectedValue()">

						<img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">

					</div>


				</div>
				<!-- /ko -->
			</div>
			<!-- ko if: !$root.garmentsDesignStep.hasCustomDesign().length > 0 -->
			<h2>No Custom Data</h2>
			<!-- /ko -->
		</div>



		<!-- Show selected category -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

	</div>
</div>


<!-- 
	██████╗ ██████╗ 
	╚════██╗██╔══██╗
	 █████╔╝██║  ██║
	 ╚═══██╗██║  ██║
	██████╔╝██████╔╝
	╚═════╝ ╚═════╝ 
					 
-->
<!-- import template -->
<div id="3dSuitWrapper">
</div>

<!-- build from template -->
<!-- ko if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric' -->
<div data-bind="template: { name: 'suit3DTemplate', data: $root.garmentsDesignStep.selectedGarment }"></div>
<!-- /ko -->

<script>
	// import uniform template
	$('#3dSuitWrapper').load('uniforms_designs/images_3d_teplates/suit3D.htm');
</script>
