<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="jacket3DTemplate">
<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
	<div class="image-wrapper-3d" data-bind="css: {'increase-size' : window.should_use_new_3D}">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- lining -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLiningColorFront}">

			<!-- default image:  -->
			<!-- ko foreach: $data.image3D.jacketDefaultImagesFront() -->
				<img data-bind="attr:{src: $data}">
			<!-- /ko -->

			<!-- bottom comes first because the buttons will appear over the bottom in the new 3D. In Old 3D may look like a bug-->
			<!-- Bottom -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBottom2}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketBottom}">

			<!-- Buttons style -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonStyle}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonsBHStyle}">

			<!-- pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocket}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocket}">
			<img data-bind="attr:{src: $data.image3D.stitchForPocket}">

			<!-- breast pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBreastPocket}">

			<!-- lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketCollarTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapelShadow}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapel}">
			<img data-bind="attr:{src: $data.image3D.stitchForLapel}">
			<img data-bind="attr:{src: $data.image3D.bh}">

			<!-- Tuxedos -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLapelTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketButtonsTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketTicketPocketTrimming}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketCollarUpperTrimming}">

			<!-- sleeve -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeve}">

			<!-- ko if: $data.logoData -->
				<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
					<!-- ko if: position.view == 'front'-->
						<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
										text: position.name"></span>
					<!-- /ko -->
				<!-- /ko -->
			<!-- /ko -->

		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- default image:  -->
			<!-- ko foreach: $data.image3D.jacketDefaultImagesBack() -->
				<img data-bind="attr:{src: $data}">
			<!-- /ko -->

			<!-- upper lapel -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketBackUpper}">

			<!-- BHs -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton1BH}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton2BH}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton3BH}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton4BH}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton5BH}">

			<!-- Buttons -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton1}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton2}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton3}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton4}">
			<img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton5}">


			<!-- trims -->

			<!-- vent -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketVent}">
			<img data-bind="attr:{src: $data.image3D.jacketVent2}">
			<!-- ko if: $data.logoData -->
				<!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
					<!-- ko if: position.view == 'back'-->

						<span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
										text: position.name"></span>
					<!-- /ko -->
				<!-- /ko -->
			<!-- /ko -->

		</div>


		<!-- Sleeve preview -->
		<div data-bind="visible: $data.image3D.side() == 'sleeve', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
			<!-- default -->
			<!-- ko foreach: $data.image3D.jacketDefaultImagesSleeve() -->
				<img data-bind="attr:{src: $data}">
			<!-- /ko -->

			 <!-- BH colour-->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour1}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour2}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour3}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour4}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveBHColour5}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">


			 <!-- number of butons -->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton1Zoom}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton2Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton3Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton4Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveButton5Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">

			 <!-- sleeve thread -->
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread1}">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread2}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 6px  ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread3}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 12px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread4}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 16px ' : '' }">
			 <img data-bind="attr:{src: $data.image3D.selectedJacketSleeveThread5}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.jacketIsKissing() ? ' 21px ' : '' }">


		</div>

		<!-- Monogram preview -->
		<div data-bind="visible: $data.image3D.side() == 'monogram', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

			<!-- lining -->
			<!-- ko foreach: $data.image3D.jacketDefaultImagesMonogram() -->
				<img data-bind="attr:{src: $data}">
			<!-- /ko -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketLiningColor}">

			<!-- piping -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPipingColor}">

			<!-- pocket -->
			<img data-bind="attr:{src: $data.image3D.selectedJacketPocketColor}">

			<!-- monograms -->
			<div class="specialy">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine1"></span>
			</div>

			<div class="thisname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine2"></span>
			</div>
			<div class="thirdname">
				<span data-bind="text: $data.image3D.selectedJacketMonogramLine3"></span>
			</div>

		</div>
	</div>

	<!-- change the view -->
	<div class="change-side">
		<!-- <span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
			side
		</span>
		<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
			side
		</span>
		<span data-bind="css: {'selected': $data.image3D.side() == 'sleeve'},click: function(){ $data.image3D.side('sleeve')}">Sleeve</span>
		<span data-bind="css: {'selected': $data.image3D.side() == 'monogram'},click: function(){ $data.image3D.side('monogram')}">Monogram</span> -->

		<button data-bind="click: function(){
			const new_side = $data.image3D.side() == 'front' ? 'back':'front';
			$data.image3D.side(new_side);
			}">
			<img src="img/order_icons/change_3d_view.png" alt="Change 3D">
		</button>

		<br style="clear: both;" />
		<br style="clear: both;" />

		<div>
			<button class="open-image-full-screen"><img alt="Expand icon" data-bind="attr: { src : BUrl + 'misc/gfx/Icons/expand_image_gray.png' } " style="height:35px !important;width:35px !important;position: static;"></button>
		</div>
	</div>
</div>
</script>