<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="pants3DTemplate">
    <div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
        <div class="image-wrapper-3d" data-bind="css: {'pants-adjust-resolution' : window.should_use_new_3D}">
            <!-- front preview -->
            <div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

                <!-- fit -->
                <img data-bind="attr:{src: $data.image3D.selectedPantStyle}">

                <!-- default image:  -->
                <!-- ko foreach: $data.image3D.pantsDefaultImage() -->
                    <img data-bind="attr:{src: $data}">
                <!-- /ko -->

                <!-- selected Pleats -->
                <img data-bind="attr:{src: $data.image3D.selectedPantPleatStyle}">

                <!-- selected front Pockets -->
                <img data-bind="attr:{src: $data.image3D.selectedPantFrontPockets}">

                <!-- selected belt and cuffs -->
                <img data-bind="attr:{src: $data.image3D.selectedPantBeltAndCuffs}">

                <!-- cuff -->
                <img data-bind="attr:{src: $data.image3D.selectedPantCuffs}">

                <!-- ko if: $data.logoData -->
                    <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
                        <!-- ko if: position.view == 'front'-->
                            <span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
                                            text: position.name"></span>
                        <!-- /ko -->

                    <!-- /ko -->
                <!-- /ko -->


            </div>


            <!-- back preview -->
            <div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

                <!-- default image:  -->
                <!-- ko foreach: $data.image3D.pantsDefaultImageBack() -->
                    <img data-bind="attr:{src: $data}">
                <!-- /ko -->

                <!-- selected back pockets -->
                <img data-bind="attr:{src: $data.image3D.selectedPantBackPockets}">

                <!-- selected belt and cuffs -->
                <img data-bind="attr:{src: $data.image3D.selectedPantBeltAndCuffsBack}">

                <!-- selected cuffs -->
                <img data-bind="attr:{src: $data.image3D.selectedPantCuffsBack}">

                <!-- back pleats -->
                <img data-bind="attr:{src: $data.image3D.selectedPantPleatsBack}">

                <!-- ko if: $data.logoData -->
                    <!-- ko foreach: {data: $data.logoData.positions , as: 'position'} -->
                        <!-- ko if: position.view == 'back'-->

                            <span class='position_logo_span' data-bind="style:{left: position.pos_x+'%', top:position.pos_y+'%'},
                                            text: position.name"></span>
                        <!-- /ko -->

                    <!-- /ko -->
                <!-- /ko -->


            </div>
        </div>

        <!-- change the view -->
        <div class="change-side">
            <!-- <span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
                side</span>
            <span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
                side</span> -->

            <button data-bind="click: function(){
                const new_side = $data.image3D.side() == 'front' ? 'back':'front';
                $data.image3D.side(new_side);
                }">
                <img src="img/order_icons/change_3d_view.png" alt="Change 3D">
            </button>

            <div>
                <button class="open-image-full-screen"><img alt="Expand icon" data-bind="attr: { src : BUrl + 'misc/gfx/Icons/expand_image_gray.png' } " style="height:35px !important;width:35px !important;position: static;"></button>
            </div>
        </div>
    </div>

</script>