<!-- for this template works properly, you must pass current garment as $data -->
<script type="text/html" id="suit3DTemplate">
	<div id="image-3d" data-bind="attr: {name: 'image-3d-'+$data.unique_id}, with: $data">
		<div class="image-wrapper-3d" data-bind="css: {'increase-size' : window.should_use_new_3D}">
			<!-- front preview -->
			<div data-bind="visible: $data.image3D.side() == 'jacket_front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

				<!-- lining -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLiningColorFront}">

				<!-- default image:  -->
				<!-- ko foreach: $data.image3D.suitJacketDefaultImagesFront() -->
					<img data-bind="attr:{src: $data}">
				<!-- /ko -->

				<!-- Bottom -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBottom2}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBottom}">

				<!-- Buttons style -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketButtonStyle}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketButtonsBHStyle}">


				<!-- pockets -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocket}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketTicketPocket}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketStitchForPocket}">

				<!-- breast pocket -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBreastPocket}">

				<!-- lapel -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketCollarTrimming}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLapelShadow}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLapel}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketStitchForLapel}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBh}">

				<!-- Tuxedos -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLapelTrimming}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketButtonsTrimming}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocketTrimming}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketTicketPocketTrimming}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketCollarUpperTrimming}">


				<!-- sleeve -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeve}">

			</div>


			<!-- back preview -->
			<div data-bind="visible: $data.image3D.side() == 'jacket_back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

				<!-- default image:  -->
				<!-- ko foreach: $data.image3D.suitJacketDefaultImagesBack() -->
					<img data-bind="attr:{src: $data}">
				<!-- /ko -->

				<!-- lapel upper -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketBackUpper}">

				<!-- BHs -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton1BH}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton2BH}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton3BH}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton4BH}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton5BH}">

				<!-- Buttons -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton1}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton2}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton3}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton4}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton5}">

				<!-- trims -->


				<!-- vent -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketVent}">
				<img data-bind="attr:{src: $data.image3D.suitJacketVent2}">

			</div>


			<!-- Sleeve preview -->
			<div data-bind="visible: $data.image3D.side() == 'jacket_sleeve', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
				<!-- default -->
				<!-- ko foreach: $data.image3D.suitJacketDefaultImagesSleeve() -->
					<img data-bind="attr:{src: $data}">
				<!-- /ko -->

				<!-- BH colour-->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour1}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour2}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 6px  ' : ''}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour3}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 12px ' : ''}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour4}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 16px ' : ''}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveBHColour5}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 21px ' : ''}">

				<!-- number of butons -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton1Zoom}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton2Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 6px  ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton3Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 12px ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton4Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 16px ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveButton5Zoom}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 21px ' : '' }">


				<!-- sleeve thread -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread1}">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread2}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-7px ' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 6px  ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread3}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-14px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 12px ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread4}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-21px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 16px ' : '' }">
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketSleeveThread5}, style: { 'margin-left': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? '-28px' : '' ,  'margin-top': !window.should_use_new_3D && $data.image3D.suitJacketIsKissing() ? ' 21px ' : '' }">


			</div>

			<!-- Monogram preview -->
			<div data-bind="visible: $data.image3D.side() == 'jacket_monogram', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

				<!-- lining -->
				<!-- ko foreach: $data.image3D.suitJacketDefaultImagesMonogram() -->
					<img data-bind="attr:{src: $data}">
				<!-- /ko -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketLiningColor}">

				<!-- piping -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPipingColor}">

				<!-- pocket -->
				<img data-bind="attr:{src: $data.image3D.selectedSuitJacketPocketColor}">

				<!-- monograms -->
				<div class="specialy">
					<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine1"></span>
				</div>

				<div class="thisname">
					<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine2"></span>
				</div>
				<div class="thirdname">
					<span data-bind="text: $data.image3D.selectedSuitJacketMonogramLine3"></span>
				</div>

			</div>


			<!-- pants -->
			<div data-bind="css: {'pants-adjust-resolution' : window.should_use_new_3D}">
				<!-- front preview -->
				<div data-bind="visible: $data.image3D.side() == 'pant_front', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">

					<!-- default image:  -->
					<!-- ko foreach: $data.image3D.suitPantsDefaultImage() -->
						<img data-bind="attr:{src: $data}">
					<!-- /ko -->

					<!-- fit -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantStyle}">

					<!-- selected Pleats -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantPleatStyle}">

					<!-- selected front Pockets -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantFrontPockets}">

					<!-- selected belt and cuffs -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantBeltAndCuffs}">

					<!-- cuff -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantCuffs}">


				</div>


				<!-- back preview -->
				<div data-bind="visible: $data.image3D.side() == 'pant_back', click: function(){$data.image3D.togglePopUp('image-3d-'+$data.unique_id)}">
					<!-- base default image:  -->
					<!-- ko foreach: $data.image3D.suitPantsDefaultImageBack() -->
						<img data-bind="attr:{src: $data}">
					<!-- /ko -->

					<!-- selected back pockets -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantBackPockets}">

					<!-- selected belt and cuffs -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantBeltAndCuffsBack}">

					<!-- selected cuffs -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantCuffsBack}">

					<!-- back pleats -->
					<img data-bind="attr:{src: $data.image3D.selectedSuitPantPleatsBack}">


				</div>
			</div>
		</div>
		<!-- change the view -->
		<div class="change-side">
			<!-- Jacket: <br>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_front'},click: function(){ $data.image3D.side('jacket_front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_back'},click: function(){ $data.image3D.side('jacket_back')}">Back
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_sleeve'},click: function(){ $data.image3D.side('jacket_sleeve')}">Sleeve</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'jacket_monogram'},click: function(){ $data.image3D.side('jacket_monogram')}">Monogram</span>
			<br> Pant: <br>
			<span data-bind="css: {'selected': $data.image3D.side() == 'pant_front'},click: function(){ $data.image3D.side('pant_front')}">Front
				side
			</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'pant_back'},click: function(){ $data.image3D.side('pant_back')}">Back
				side
			</span> -->

			<button data-bind="click: function(){
				const garment = $data.image3D.side().split('_')[0];
				const new_side = $data.image3D.side().split('_')[1] == 'front' ? 'back':'front';
				$data.image3D.side(garment+'_'+new_side);
				}">
				<img src="img/order_icons/change_3d_view.png" alt="Change 3D">
			</button>

			<br style="clear: both;" />
			<br style="clear: both;" />

			<div>
				<button class="open-image-full-screen"><img alt="Expand icon" data-bind="attr: { src : BUrl + 'misc/gfx/Icons/expand_image_gray.png' } " style="height:35px !important;width:35px !important;position: static;"></button>
			</div>
		</div>


	</div>

</script>