<div data-role="page" id="activeAlterations" class="bgBody">
	<link rel="stylesheet" type="text/css" href="css/activeAlterations.css" media="all"/>

	<h1>Active Alterations</h1>


	<!-- Left side alterations (Factory) -->
	<div class="left-div">

		<img class="factoryImage"  src="img/alteration_icons/active_alterations/factory.png" style="margin-top: 31px;">
		<h1 style="position: relative;left: 35%;font-weight: bold;">Factory</h1>
		
		<!-- number of alterations -->
		<span class="totalActiveAlterations grid_12" data-bind="text:alterationsForMan().length"></span>

		<!-- list alterations -->
		<ul class="containter_23" data-bind="foreach: alterationsForMan">
			<div class="grid_12" style="width: 100%;">
		
				<div class="list-item order-wrapper">
					<span data-bind="text: $index()+1"></span>
				</div>
				<div style="top: 18px;position: relative;" data-bind="css: { delay: activeAlterations.compareDate($data) == true }">
					<span>Order date - </span>
					<span data-bind="text:$data.order_date"></span>
					<span>&nbsp;Request date - </span>
					<span data-bind="text:$data.request_date"></span>
					<br>
					<span data-bind="text: $data.garment_name + ' - '"></span>
					<span data-bind="text: $data.fabric_code"></span>
					<br>
					<span class="customerName" data-bind="text:$data.customer_name"></span>
				</div>
			</div>
		
		</ul>
	</div>

	<!-- Right side alterations (others) -->
	<div class="right-div">

		<div class="img-wrap australia-wrap">
			<div style="position: relative">
				<img class="australianMap" src="img/alteration_icons/active_alterations/australianmap.png" style="width: 100%;transform: translateX(-50%);left: 50%;position: relative;">
				<div class="planetmap" style="width: 100%;height: 100%;" data-bind="foreach: $root.cities()">
					<div class="city" data-bind="style: {top : $data.coordinateY, left : coordinateX}, click: function(toShow) {$root.changeAlterationsList(toShow)}">
						<span class="city" data-bind="text:$data.city"></span>
						<span class="city city_tag" data-bind="text: $data.toShow().length"></span>
					</div>
				</div>
			</div>
		</div>

		<!-- number of alterations -->
		<div class="grid_12" style="position: relative; margin-left: 12px; margin-top: 55px;">
			<span class="AlterationCity" data-bind="text:variantCityName()"></span>
			<br>
			<span class="subtitle" data-bind="text:variantAlterations().length + ' ACTIVE ALTERATIONS'"></span>
		
		</div>
		<div data-bind="foreach:variantAlterations">
			<div class="grid_12" style="width: 100%;">
			
				<div class="list-item order-wrapper">
					<span data-bind="text: $index()+1"></span>
				</div>
				<div style="top: 18px;position: relative;" data-bind="css: { delay: activeAlterations.compareDate($data) == true }">
					<span>Order date - </span>
					<span data-bind="text:$data.order_date"></span>
					<span>&nbsp;Request date - </span>
					<span data-bind="text:$data.request_date"></span>
					<br>
					<span data-bind="text: $data.garment_name + ' - '"></span>
					<span data-bind="text: $data.fabric_code"></span>
					<br>
					<span class="customerName" data-bind="text:$data.customer_name"></span>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer to return back -->
	<div class="j-footer container_12">
		<div class="half-em-around">
			<div class="grid_2 suffix_10">
				<a href="#" data-bind="click: function(){ posChangePage('#alterationsDashBoard'); }" class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
					<span class="btn-small-letter">Return Back</span>
					<span class="btn-letter">To Main</span>
				</a>
			</div>
		</div>
	</div>

</div>