<div data-role="page" id="alterationsList" class="bgBody">
	<style>
		li.horizontal {
			display: inline;
			margin-bottom: 0;
			padding: 8px !important;
		}

		.list-item {
			color: rgb(83, 84, 82);
		}

		.left-div {
			float: left;
			width: 69%;
			min-height: 500px;
			border-style: solid;
			border-left: none;
			border-bottom: none;
			border-top: none;
			border-width: 2px;
		}

		.right-div {
			float: right;
			width: 20%;
			padding-left: 30px;
			padding-right: 30px;
		}

		li.horizontal {
			display: inline;
		}

		.orders-list>li {
			width: 20%;
			float: left;
			padding: 20px;
		}

		.order-wrapper {
			background-color: rgb(230, 230, 226);
			padding: 10px;
			border-radius: 5px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: middle;
			margin: 20px;
		}

		.garment-wrapper {
			background-color: rgb(230, 230, 226);
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
		}

		.alt-data-a {
			display: inline;
		}

		/* selected client */

		.active {
			background-color: #988e73;
			/*{global-active-color}*/
			color: #ffffff;
			/*{global-active-shadow-x}*/
			/*{global-active-shadow-y}*/
			/*{global-active-shadow-radius}*/
			text-shadow: 0 1px 1px #a1a1a1;
			/*{global-active-shadow-color}*/
			text-decoration: none;
		}
	</style>
	
	<h1>Alterations List</h1>
	<div data-role="content" data-theme="a">
		<div class="content-wrapper">
			<div class="left-div">
				<!-- customer list -->
				<ul class="containter_23" data-bind="foreach:customerList">
					<!-- this data-bind select current client -->
					<div class="list-item order-wrapper grid_3" data-bind="css:{'active' : JSON.stringify($data.customer) == JSON.stringify($root.activeClient())}">
						<a data-bind="click:function(){$root.setCustomerGarments($data);}">
							<span data-bind="text:$data.customer.customer_first_name"></span>
							<span data-bind="text:$data.customer.customer_last_name"></span>
						</a>
					</div>
				</ul>
			</div>
			<div class="right-div">
				<div data-bind="if: selectedGarment() === true">
					<div data-bind="foreach:customerGarments()">
						<h2>
							<span data-bind="click:function(){alert($data.order_id);console.log($data)}">Order ID: </span>
							<span data-bind="text:$data.garments[0].order_id"></span>
						</h2>
						<div data-bind="foreach:$data.garments">
							<div data-bind="click:function(){$root.redirectPage($data);}" class="garment-wrapper">
								<span data-bind="text:garment_name"></span>
								<span data-bind="text:($index()+1)"></span>
								<!--span data-bind="text:fabric_code"></span><span data-bind="text:fitting_label"></span-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_10">
					<a href="#" data-bind="click: function(){posChangePage('#alterationsMain');}" class="new-btn icon-goto-main new-btn-icon-left"
					 data-role="button">
						<span class="btn-small-letter">Return Back</span>
						<span class="btn-letter">To Main</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>








