<div data-role="page" id="alterationsBriefList" class="bgBody">
	<style>
		li.horizontal {
			display: inline;
			margin-bottom: 0;
			padding: 8px !important;
		}

		.list-item {
			color: rgb(83, 84, 82);
		}

		.left-div {
			float: left;
			width: 72.5%;
			min-height: 500px;
			border-style: solid;
			border-left: none;
			border-bottom: none;
			border-top: none;
			border-width: 2px;
		}

		.right-div {
			float: right;
			width: 20%;
			padding-left: 30px;
			padding-right: 30px;
		}

		li.horizontal {
			display: inline;
		}

		.orders-list>li {
			width: 20%;
			float: left;
			padding: 20px;
		}

		.order-wrapper {
			background-color: rgb(230, 230, 226);
			padding: 10px;
			border-radius: 5px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: middle;
			margin: 10px;
			width: 140px;
			font-size: 14px;
		}

		.garment-wrapper {
			background-color: rgb(230, 230, 226);
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
		}

		.garment-wrapper:hover {
			background-color: #988e73;
			color: white !important;
			text-shadow: 0 1px 1px #a1a1a1;
			text-decoration: none;
		}

		.alt-data-a {
			display: inline;
		}

		/* selected client */

		.active {
			background-color: #988e73;
			color: white !important;
			text-shadow: 0 1px 1px #a1a1a1;
			text-decoration: none;
		}

		.active a {
			background-color: #988e73;
			color: white !important;
			text-shadow: 0 1px 1px #a1a1a1;
			text-decoration: none;
		}
		#search-customer {
			position: relative;
			width: 200px;
			font-size: 20px;
			border: none;
			padding: 7px;
			border-radius: 10px;
		}
		.clear-search-list {
			background: red;
			border-radius: 10px;
			padding: 7px;
			color: white;
			border: none;
		}

	</style>

	<div>
		<h1 style="display: inline-block;">Alterations List</h1>

		<div style="display: inline-block;left: 100px;position: relative;">
			<input type="text" id="search-customer" data-role="none" placeholder="Search Customer">
			<button class="clear-search-list" data-role="none">Clear</button>
		</div>

	</div>

	<br style="clear: both">

	<div data-role="content" data-theme="a">
		<div class="content-wrapper">


			<div class="left-div">
				<!-- customer list -->
				<ul class="containter_23" data-bind="foreach: briefList">

					<div class="list-item order-wrapper grid_3" data-bind="click:function() {  $parent.chooseCustomer($data) },
																			css: { active : $data == $parent.currentCustomer() } ">
						<a data-bind="">
							<span class="c-name-span" data-bind="text:$data.customer_name"></span>
						</a>
					</div>

				</ul>
			</div>


			<div class="right-div">

				<div data-bind="if: currentCustomer ">
					<h2>
						<span data-bind="click:function(){  }">Order ID: </span>
						<span data-bind="text: currentCustomer().order_id"></span>
					</h2>

					<div data-bind="foreach:currentCustomer().garments">
						<div data-bind="click:function(){ $root.goToBriefDetails('#briefDetails', $data) }" class="garment-wrapper">
							<span data-bind="text:$data.garment_name + ' - ' + $data.fabric_code"></span>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Make space before return bar -->
		<br style="clear: both">
		<div style="margin-top: 200px;"></div>

		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_10">
					<a href="#" data-bind="click: function(){ posChangePage('#alterationsDashBoard'); }" class="new-btn icon-goto-main new-btn-icon-left"
					 data-role="button">
						<span class="btn-small-letter">Return Back</span>
						<span class="btn-letter">To Main</span>
					</a>
				</div>
			</div>
		</div>

	</div>

	<script>
		$("#search-customer").off("keyup").on("keyup", function() {
		  const search = $(this).val().trim().toLowerCase();

		  $(".left-div .list-item").hide();

		  console.log("Searcing for: ", search);

		  $(".left-div .list-item").each(function() {

		    const name = $(this).html().toLowerCase();

		    if(name.includes(search.toLowerCase()))
		    {
		      $(this).show();
		    }

		  });

		});
		$(".clear-search-list").on("click", function() {
			$(".left-div .list-item").show();
			$("#search-customer").val("").trigger("keyup");
			$.jGrowl('Search Clear !');
		});
	</script>

</div>