<div data-role="page" id="alterationsDashBoard" class="bgBody">
    <div data-role="content" data-theme="a" class="panwapola">
        <div class="content-wrapper">

            <h1>Alteration Briefing and Report</h1>

            <div class="container_12" style="margin-top:120px;">

                <div class="grid_2 suffix_2 prefix_3" style="width: 165px;">
                    <a href="#" data-bind="click: function() { posChangePage('#alterationsBriefList') }" class="new-btn icon-next-unassigned new-btn-icon-left BrieffingButton"
                        data-role="button">
                        <span class="btn-small-letter">Alteration</span>
                        <span class="btn-letter">Brieffing</span>
                    </a>
                </div>

                <div class="grid_2 suffix_3" style="width: 165px;">
                    <a href="#" data-bind="click: function() { posChangePage('#alterationsReportList') } " class="new-btn icon-next-assigned new-btn-icon-right AlterartionsReport" data-role="button">
                        <span class="btn-small-letter">Alterations</span><span class="btn-letter"> Report</span>
                    </a>
                </div>

                <!-- Active alterations  -->
                <div class="grid_2 suffix_2 prefix_3" style="width: 165px;">
                    <a href="#" data-bind="click: function() { posChangePage('#activeAlterations'); } " class="new-btn icon-next-assigned new-btn-icon-right"
                        data-role="button">
                        <span class="btn-small-letter">Active</span>
                        <span class="btn-letter"> Alterations</span>
                    </a>
                </div>

            </div>

            <hr data-bind="visible: $root.mustShowGlobalAlterations">

            <div class="container_12" style="margin-top:120px;" data-bind="visible: $root.mustShowGlobalAlterations">

                <div class="grid_2 suffix_2 prefix_3" style="width: 165px;">
                    <a href="#" data-bind="click: function() { posChangePage('#globalAlterationsBriefList') }" class="new-btn icon-next-unassigned new-btn-icon-left BrieffingButton"
                        data-role="button">
                        <span class="btn-small-letter">Global Alteration</span>
                        <span class="btn-letter">Brieffing</span>
                    </a>
                </div>

                <div class="grid_2 suffix_3" style="width: 165px;">
                    <a href="#" data-bind="click: function() { posChangePage('#globalAlterationsReportList') } " class="new-btn icon-next-assigned new-btn-icon-right AlterartionsReport" data-role="button" style="padding: 8px 10px 8px 0;">
                        <span class="btn-small-letter">Global Alterations</span><span class="btn-letter"> Report</span>
                    </a>
                </div>


            </div>

            <div class="j-footer container_12">
                <div class="half-em-around">
                    <div class="grid_2 suffix_8"><a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
                    <div class="grid_2"><a href="#" data-bind="click: function(){orderItem.SyncFilesVM.redirect();}" class="new-btn icon-sync-media new-btn-icon-right" data-role="button"><span class="btn-small-letter">Sync</span><span class="btn-letter"> Media</span></a></div>
                </div>
            </div>

        </div>
    </div>


    <style>
        .BrieffingButton{
            background-image: url("img/alteration_icons/report.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 35%;
        }
        .AlterartionsReport{
            background-image: url("img/alteration_icons/brieffing.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 35%;
        }
        /* not in use (no icon for arctive alteration do now) */
        /* .ActiveAlterations{
            background-image: url("img/alteration_icons/MISSING");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 35%;
        } */


    </style>
</div>