<!--  Start bodyShape step -->
<style>
  
    .bodyshape-imgs-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bodyshape-el-wrapper {
        margin: 1rem;
        width: 10.2%;
        border-radius: 10px;
        text-align: center;
    }
    .bodyshape-img {
        width: 100%
    }
    .selectedShape { 
        background-color: rgb(160, 191, 75);
        color: white;
    }
    .cust-bodyshape-notes {
        width: 100%;
        background-color: #ececec;
        border: medium none;
        border-radius: 0.351em !important;
        box-shadow: none;
        min-height: 100px;
    }

    .selected-fake-checkbox {
        background: rgb(164, 187, 55) !important;
    }

    .fake-checkbox {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        background: white;
        display: inline-block;
    }

    .bodyshape-title-wrapper {
        min-height: 60px;
        font-size: 12px;
    }

    .customer-bodyshape-select {
        font-size: 12px;
    }

    .cust-name-span {
        text-overflow: hidden;
        overflow: hidden;
        max-width: 64px;
        white-space: nowrap;
        display: inline-block;
    }

    .customer-bodyshape-el {
        text-align: left;
    }

</style>

<!--  TODO : pre select customer bodyshape from older orders-->


<div class="measurements-selection-ui order-step" data-bind="if: $root.selectedStep().id == '3'">

  <!--   <div class="cust-tab-wrapper" data-bind="foreach: customers">
    
        <div class="cust-tab" data-bind="click: function() { $root.changeCustomer($data.customer_id) },
                                                                css : { 'selected-customer' : $root.selectedCustomer() == $data }">
            <div class="customer-gray-round">
                <span class="customer-counter-span" data-bind="visible: !$data.is_leader, text: '#'+(parseInt($index())+1)"></span>
                    
                <div class="leader-pic-wrapper" data-bind="if: $data.is_leader">
                    <img class="leader-pic-img" data-bind="attr: { src: $root.leaderPic() }">
                    
                </div>
                <div class="customer-locked-wrapper" data-bind="visible:$data.is_locked">
                    <img class="customer-locked-img" src="img/order_process/lock.png">
                </div>
            </div>
            <span class="customer-name-p" data-bind="text:$data.full_name"></span>
            <div data-bind="if : !$data.is_present">
                <p style="color: red">Not Present!</p>
            </div>
        </div>
    
    </div> -->
    
    <div data-bind="with: selectedCustomer().bodyShapesStep">

        <!-- List all body shapes -->
        <div class="container_12">

            <ul data-bind="foreach: { data: bodyShapes, as: 'bodyshapeCategory' }">

                <li>
                    <!-- part of body -->
                    <h2 data-bind="text: bodyshapeCategory.cat_name"></h2>

                    <div  data-bind="foreach: bodyshapeCategory.values">

                        <div class="bodyshape-imgs-wrapper" data-bind="foreach: { data: $data, as: 'bodyValue' }" >

                            <div class="bodyshape-el-wrapper" data-bind="">

                                <div class="bodyshape-title-wrapper">
                                    <span data-bind="text: bodyValue.title"></span>
                                </div>


                                <div class="bodyshape-img-wrapper">
                                    <img class="bodyshape-img" data-bind="attr: { src: bodyValue.bodyshapeImage }" />
                                </div>

                                <div class="customer-bodyshape-select">
                                    
                                    <div class="customers-bodyshape-wrapper" data-bind="foreach: { data: $root.customers, as: 'customer' }">
                                        
                                        <div class="customer-bodyshape-el" data-bind="visible: customer.is_present">


                                            <div class="fake-checkbox" style="position: relative;top: 10px;right: 7px;" data-bind="click: function() { customer.bodyShapesStep.selectBodyShape(customer.bodyShapesStep.bodyShapes().filter( e => e.cat_key ==  bodyshapeCategory.cat_key  )[0], bodyValue); },
                                                                                      css: { 'selected-fake-checkbox' : customer.bodyShapesStep.bodyShapes().filter( e => e.cat_key ==  bodyshapeCategory.cat_key  )[0].selectedValue().id == bodyValue.id }">

                                            </div>


                                            <span class="cust-name-span" data-bind="text: customer.full_name"></span>


                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>



        <div class="col-md-12" style="margin-bottom: 200px;">
            <h1>BodyShape Comments</h1>

            <div class="customers-bodyshape-wrapper" data-bind="foreach: { data: $root.customers, as: 'customer' }">
                
                <div class="" data-bind=" visible: customer.is_present">
                    <p data-bind="text: customer.full_name"></p>
                    <textarea class="cust-bodyshape-notes" data-bind="value: customer.bodyShapesStep.bodyshapeNotes"></textarea>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- End bodyShape step -->






