<style>
	#thecalendar {
		width: 900px;
		margin: 40px auto;
	}
</style>

<div data-role="page" id="calendar" class="bgBody" style="display:block;">
	<div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false" class="mainpagesheader container_12">
			<ul class="grid_5 prefix_7 topmenu">
				<li><a href="main.htm" onclick="function(){posChangePage('#main');}" class="mainli">Home</a></li>
			</ul><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content" data-theme="c" style="background:none !important; border:none;">


    <iframe id="thecalendarframe" name="targetframe" onload="onLoadHandler();" allowTransparency="true" scrolling="yes" frameborder="0" style="width:100%; height:1400px;"  >
    </iframe>

    <script>
	function onLoadHandler() {
		var spinner = document.getElementById('loading_jp');
		spinner.style.display = "none";
		var myVar=setTimeout(function(){spinner.style.display = "none";},5000);
	}

	$(document).ready(function () {
		var spinner = document.getElementById('loading_jp');
		spinner.style.display = "block";
		url = BUrl + "pos_calendar/index/" + authCtrl.username() + "/" + authCtrl.password();
		console.log(url);
		document.getElementById('thecalendarframe').src = url;
	});
	</script>

   <!--
       <iframe id="thecalendarframe" src="calendar-view.html" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" style="width:100%; height:1400px;" >
    </iframe>
    -->
<!--		<div class="ui-grid-b" data-type="horizontal" style="width:70%; margin:10% auto 0px; text-align:center;">
			<h1>The calendar is counting days...</h1>
            <h3>Bear with us!</h3>
		</div>
        -->

<div>
<div id='thecalendar'>
</div>
<link href='css/fullcalendar.css' rel='stylesheet' />
<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='scripts/libs/calendar/lib/moment.min.js'></script>
<script src='scripts/libs/calendar/lib/jquery.min.js'></script>
<script src='scripts/libs/calendar/lib/jquery-ui.custom.min.js'></script>
<script src='scripts/libs/calendar/fullcalendar.js'></script>
<!--<script src='scripts/libs/jquery/jquery-1.8.2.js'></script>-->
    <script >
		//	refresh_calendar();
	</script>
	<div id='thecalendarB'></div>
    <!--
    <script src='scripts/libs/calendar/lib/moment.min.js'>
		$(document).ready(function () {
			console.log("testing");
			refresh_calendar();
		});
	</script>
    -->

</div>



	</div><!-- /content -->

</div>
