<div data-role="page" id="completions" class="bgBody">
  <style>
    .use-with-no-images{
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
    }

    .use-with-no-images label{
      margin-left: 10px !important;
    }
  </style>
  <div data-role="content" data-theme="a" class="panwapola">
    <div class="content-wrapper">
      <div class="container_12" id="Test">
        <div>
          <!-- WARNING DIALOG -->
          <div id="warningdialog" style=" background:rgba(0,0,0,0.7); display:none; left:0px; top:0px;  position: fixed;  width:100%; height:100%; z-index:1020; ">
            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
              <div style="margin:1%;"> <span id="warningdialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;"></span> </div>
              <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ buttonNoAccept(); }">No</a> </div>
                <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ buttonYesAccept(); }">Yes</a> </div>
              </div>
            </div>
          </div>
          <!-- END OF DIALOG -->

          <!-- COMPLETION DIALOG -->
          <div id="completiondialog" style=" background:rgba(0,0,0,0.7); display:none; top:0px; left:0px;  position: fixed;  width:100%; height:100%; z-index:1020; ">
            <div style=" background:#989898; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
              <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                <div class="grid_2 stepsmenud" style="width:100%; margin-top:20px;"> <a data-bind="click: function(){ buttonToFittings(); }">Back to Fitting List</a> </div>
                <div class="grid_2 stepsmenud" style="width:100%; margin-top:20px; margin-bottom:20px; color:#3B8783"> <a data-bind="click: function(){ buttonToMain(); }">Back to Main</a> </div>
              </div>
            </div>
          </div>
          <!-- END OF DIALOG -->

          <!--
          <div class="grid_12 completionmenus">
            <ul data-bind="foreach: workflow">
              <li data-bind="click: $parent.currentStep, css: { 'selected': $parent.currentStep().id === $data.id, 'completed': $data.completed === 'true', 'pending': $data.completed === 'pending'}"> <span data-bind="css: myclass"></span>
                <div data-bind="text: title"></div>
              </li>
            </ul>
          </div>
          -->
          <div class="grid_12">
            <div class="grid_4">
              <div class="bigladeling evenbigger tenmargbot">
                <span class="orderim"></span>
                <span class="firstpart">
                  <span data-bind="text: CompletionCustomer().customer_first_name"></span>
                  <span>&nbsp;</span>
                  <span data-bind="text: CompletionCustomer().customer_last_name"></span>
                </span>
                <span class="bigpart">
                  <span data-bind="text: CompletionGarment"></span>
                  <span>&nbsp; / &nbsp;</span>
                  <span>Fabric:&nbsp;</span>
                  <span data-bind="text: getFabric().CompletionGarmentFabric"></span>
                  <img height="40" width="40" data-bind="attr:{src:getFabric().CompletionGarmentFabricImage}" />
                </span>
              </div>
            </div>
            <div class="grid_8">
              <div class="grid_12 previewimages fivepaddingall" data-bind="visible: variantNameCompletion().length > 1">
                <ul data-bind="foreach: variantNameCompletion">
                  <li data-bind="css: { 'active': $parent.selectedVariantCompletion() === $data, 'completed': $data.completed() == true}, click: $parent.selectedVariantCompletion"> <a><span data-bind="text: title"></span></a> </li>                  <!-- function(){console.log($parent.selectedVariantCompletion());}	-->
                </ul>
				<ul>
				  <li data-bind="visible: NumberShirts > 1 && selectedVariantCompletion().completed() && selectedVariantCompletion().title == 'Shirt'"> <a data-bind="click: function(){$root.cloneShirtInfo();}">Clone garment info</a> </li>
				</ul>
              </div>
            </div>
          </div>

          <div class="use-with-no-images">
            <span>Completion with no images</span>
            <input type="checkbox" id="should-use-with-no-images" class="default-checkbox" data-role="none" data-bind="checked: orderItem.completionsVM.getVariant(orderItem.completionsVM.selectedVariantCompletion().id).shouldUseWithoutImage">
            <label for="should-use-with-no-images"></label>
          </div>

          <!------------------------------------------------------------------------------------------------------------->
          <div class="grid_12" style="margin:15px 0px 80px; ">
            <div class="grid_3 littleing">
              <div class="grid_12"  data-bind="visible: frontImage.getMediaPreview()() === ''">
                <output id="CompletionFrontImageMedia" ><img src="http://shirt-tailor.net/thepos/appimg/fitting/front-complete.png"></output>
                <!--	 data-bind="visible:CompletionFrontImage() != ''"	-->

              </div>
              <div class="grid_12 imaggo">
                <div class="grid_12 imageholdingt" data-bind="visible: frontImage.getMediaPreview()() === ''">
                  <input id="CompletionFrontImageFiles" type="file" accept="image/*" style="display:none"/>
                  <div id="CompletionFrontImageMediaBtn" data-role="button">Upload media</div>
                </div>
                <h3 class="myallbigtitles" data-bind="visible: frontImage.getMediaPreview()() === ''">Front Image</h3>
                <h4 class="myallbigtitles" data-bind="visible: frontImage.getMediaPreview()() === ''">Please upload a <strong>Front image</strong><br/>
                  <span>Click to upload a front image</span></h4>
                <output class="grid_12" id="CompletionFrontImageMedia" data-bind="visible: frontImage.getMediaPreview()() !== ''">
					<div class="img-wrap" data-bind="visible:frontImage.getMediaPreview()() !== ''">
						<span class="close" data-bind="click: function(){frontImage.removeMedia();$root.checkSteps();}" >X</span>
						<div class="image_panel">
							<img id="imagemap" class="imageMap" width="240" data-bind="attr: {src: frontImage.getMediaPreview()()}">
						</div>
					</div>
				</output>
                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="CompletionFrontImage" >
                  <input id="CompletionFrontImage" name="CompletionFrontImage" type="text" data-bind="visible: false, value: CompletionFrontImage"/>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <!------------------------------------------------------------------------------------------------------------->
            <div class="grid_3 littleing">
                <div class="grid_12" data-bind="visible: sideImage.getMediaPreview()() === ''">
                    <output id="CompletionSideImageMedia"><img
                            src="http://shirt-tailor.net/thepos/appimg/fitting/side-complete.png"></output>
                </div>
                <div class="grid_12 imaggo">
                    <div class="grid_12 imageholdingt" data-bind="visible: sideImage.getMediaPreview()() === ''">
                        <input id="CompletionSideImageFiles" type="file" accept="image/*" style="display:none" />
                        <div id="CompletionSideImageMediaBtn" data-role="button">Upload media</div>
                    </div>
                    <h3 class="myallbigtitles" data-bind="visible: sideImage.getMediaPreview()() === ''">Left Side Image</h3>
                    <h4 class="myallbigtitles" data-bind="visible: sideImage.getMediaPreview()() === ''">
                        Please upload a <strong>Left Side image</strong>
                        <br />
                        <span>Click to upload a Left Side image</span>
                    </h4>
                    <output class="grid_12" id="CompletionFrontImageMedia"
                        data-bind="visible: sideImage.getMediaPreview()() !== ''">
                        <div class="img-wrap" data-bind="visible:sideImage.getMediaPreview()() !== ''">
                            <span class="close" data-bind="click: function(){sideImage.removeMedia();$root.checkSteps();}">X</span>
                            <div class="image_panel">
                                <img id="imagemap" class="imageMap" width="240"
                                    data-bind="attr: {src: sideImage.getMediaPreview()()}">
                            </div>
                        </div>
                    </output>
                    <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="CompletionSideImage">
                        <input id="CompletionSideImage" name="CompletionSideImage" type="text"
                            data-bind="visible: false, value: CompletionSideImage" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <!------------------------------------------------------------------------------------------------------------->
            <div class="grid_3 littleing">
              <div class="grid_12" data-bind="visible: backImage.getMediaPreview()() === ''">
                <output id="CompletionBackImageMedia" ><img src="http://shirt-tailor.net/thepos/appimg/fitting/back-complete.png"></output>
              </div>
              <div class="grid_12 imaggo">
                <div class="grid_12 imageholdingt" data-bind="visible: backImage.getMediaPreview()() === ''">
                  <input id="CompletionBackImageFiles" type="file" accept="image/*" style="display:none"/>
                  <div id="CompletionBackImageMediaBtn" data-role="button">Upload media</div>
                </div>
                <h3 class="myallbigtitles" data-bind="visible: backImage.getMediaPreview()() === ''">Back Image</h3>
                <h4 class="myallbigtitles" data-bind="visible: backImage.getMediaPreview()() === ''">Please upload a <strong>Back image</strong><br/>
                  <span>Click to upload a Back image</span></h4>
                <output class="grid_12" id="CompletionFrontImageMedia" data-bind="visible: backImage.getMediaPreview()() !== ''">
					<div class="img-wrap" data-bind="visible:backImage.getMediaPreview()() !== ''">
						<span class="close" data-bind="click: function(){backImage.removeMedia();$root.checkSteps();}" >X</span>
						<div class="image_panel">
							<img id="imagemap" class="imageMap" width="240" data-bind="attr: {src: backImage.getMediaPreview()()}">
						</div>
					</div>
				</output>
                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="CompletionBackImage" >
                  <input id="CompletionBackImage" name="CompletionBackImage" type="text" data-bind="visible: false, value: CompletionBackImage"/>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="grid_3 littleing">
                <div class="grid_12" data-bind="visible: extraImage.getMediaPreview()() === ''">
                    <output id="CompletionExtraImageMedia" ><img style="width: 174px;height: 297px;" src="gfx/fittings/additional.png"></output>
                </div>
                <div class="grid_12 imaggo">
                    <div class="grid_12 imageholdingt" data-bind="visible: extraImage.getMediaPreview()() === ''">
                    <input id="CompletionExtraImageFiles" type="file" accept="image/*" style="display:none"/>
                    <div id="CompletionExtraImageMediaBtn" data-role="button">Upload media</div>
                    </div>
                    <h3 class="myallbigtitles" data-bind="visible: extraImage.getMediaPreview()() === ''">Additional Image</h3>
                    <h4 class="myallbigtitles" data-bind="visible: extraImage.getMediaPreview()() === ''">Please upload an <strong>Additional image</strong><br/>
                    <span>Click to upload an additional image</span></h4>
                    <output class="grid_12" id="CompletionExtraImageMedia" data-bind="visible: extraImage.getMediaPreview()() !== ''">
                        <div class="img-wrap" data-bind="visible:extraImage.getMediaPreview()() !== ''">
                            <span class="close" data-bind="click: function(){extraImage.removeMedia();$root.checkSteps();}" >X</span>
                            <div class="image_panel">
                                <img id="imagemap" class="imageMap" width="240" data-bind="attr: {src: extraImage.getMediaPreview()()}">
                            </div>
                        </div>
                    </output>
                    <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="CompletionExtraImage" >
                    <input id="CompletionExtraImage" name="CompletionExtraImage" type="text" data-bind="visible: false, value: CompletionExtraImage"/>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

			<!-- for completion -->
			<div class="grid_12 imageholdingt" data-bind="visible: false">
				<input id="CompletionImageFiles" type="file" accept="image/*" style="display:none"/>
				<div id="CompletionImageMediaBtn" data-role="button">Upload media</div>
			</div>
            <div class="clear"></div>
            <h4 class="myallbigtitles paddingfifteen"><strong>IMPORTANT</strong>: Ensure customer has a normal stance</h4>
          </div>
          <!------------------------------------------------------------------------------------------------------->

          <!--<div class="bigladeling right_position stepbigbuts" style="background: #afcb1f none repeat scroll 0 0; border-radius: 10px 0; float: left; margin: 10px 0 0; text-align: center; width: 250px; " data-bind="click: sync, visible: CompletionId() == ''">
              	<div style="padding: 10px; float:none ">
	            	<span data-bind="text: submitText()"></span>
				</div>
            </div>-->
          <div class="clear"></div>
          <div class="j-footer container_12">
  	<div class="half-em-around">
            <div class="grid_2 suffix_8">
              <a data-bind="click: function(){pos_confirm({msg: 'Do you want to go back? All data will be lost!', confirmAction : () => { posChangePage('#customerGarmentsFittingsList'); }});}"
                class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                <span class="btn-small-letter">Cancel&amp;</span>
                <span class="btn-letter"> Go Back</span>
              </a>
            </div>
            <div class="grid_2" data-bind="visible: !allComplete() && variantNameCompletion().length > 1"><a data-bind="click: goToNextNotCompleted" class="new-btn icon-go-next new-btn-icon-left" data-role="button"><span class="btn-small-letter">Go To </span><span class="btn-letter"> Next Garment</span></a></div>

            <div class="grid_2" data-bind="visible: true"><a data-bind="click: sync" class="new-btn icon-pictures-blue new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit &amp;</span><span class="btn-letter"> Complete</span></a></div>

            </div> </div>



          <!--<div class="j-footer container_16">
            <div class="f-btn leftfloat"><a data-bind="click: function(){if(confirm('Do you want to go back? All data will be lost!')){posChangePage('#customerGarmentsFittingsList');}}"><span class="prevstep customerd"></span> <span class="firstpart">Back</span> <span class="bigpart">Customer's Fittings</span> </a></div>
            <div class="f-btn rightfloat havefit" data-bind="visible: !allComplete() && variantNameCompletion().length > 1"><a data-bind="click: goToNextNotCompleted"><span class="prevstep havefit"></span> <span class="firstpart">Go to</span> <span class="bigpart">Next Garment</span> </a></div>
            <div class="f-btn rightfloat havefit" data-bind="visible: allComplete()"><a data-bind="click: sync"><span class="prevstep havefit"></span> <span class="firstpart">Submit &amp;</span> <span class="bigpart">Complete</span> </a></div>
          </div>-->
          <!--<div class="grid_2 prefix_3">
                <div class="fittingbuttons" data-bind="click: NoImagesConfirm, visible: CompletionId() == ''" > <span class="makered"> SUBMIT AND SKIP IMAGES </span> </div>
              </div>-->

          <!--<div class="mybottomfixed">
            <div class="grid_12">
              <div class="grid_2">
              <div class="bigladeling left_position stepbigbuts"><a href="#customerGarmentsFittingsList"> <span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Garments</span> </a> </div>


              </div>

              <div class="grid_2 prefix_8">
              <div class="bigladeling right_position stepbigbuts"><a data-bind="click: sync, visible: CompletionId() == ''"> <span class="nextstep"></span> <span class="firstpart">Submit &amp;</span> <span class="bigpart">Complete</span> </a> </div>

              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!-- /content -->

  <style type="text/css" >
					#popup_box {
						position:fixed;
						_position:absolute; /* hack for internet explorer 6 */
						left:0px;
						top: 0px;
						z-index:1030; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
					}
					a{
					cursor: pointer;
					text-decoration:none;
					}
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:236px;
                        position:relative;
                    }
                    div.image_panel img{
                        left:0;top:-102px;
                        max-width: 510px;
                        overflow: hidden;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                    div.arrow{
                        background: none repeat scroll 0 0 #FF0000;
                        color: #FF0000;
                        z-index:500;
                    }
                    input[type='button']{
                        background: none repeat scroll 0 0 #2769C4;
                        border: 1px solid #CFCFCF;
                        color: #FFFFFF;
                        font-weight: bold;
                        height: 30px;
                        padding: 5px;
                    }
                </style>
  <script>
            $(document).ready(function() {

				 myglobal = "";
				 myglobal2 = "";
				 global_relative_left = 0;
				 global_relative_right = 0;

			});

        </script>
<script>

    function appendItemCompletionImage(topost, basedata, frontsideback) {
        console.log("appendItem CompletionImage " + frontsideback);
        //console.log("currentStep().id: " + orderItem.completionsVM.currentStep().id);
        //console.log( "orderItem.completionsVM.selectedVariantCompletion().id: " + orderItem.completionsVM.selectedVariantCompletion().id);
        var whatImage = "Completion" + frontsideback + "Image";
        var whichGarment = orderItem.completionsVM.selectedVariantCompletion().id;

        var endpoint = 'upload_image';
        var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
        var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
        var basedata2 = topost.replace("data:image/jpeg;base64,", "");
        request = $.ajax({
            type: 'POST',
            url: ServerEndPoint,
            dataType: 'json',
            async: true,
            data: {
                salesman: JSON.stringify(eval("(" + salesmanString + ")")),
                data: basedata2
            },
            success: function (dataS) {
                var spinner = document.getElementById('loading_jp');
                spinner.style.display = "none";
                var data = dataS;
                var image_id = data['id'];
                var image = data['image'];
                orderItem.completionsVM.addImageFromGallery(data['image']);
                orderItem.completionsVM.checkSteps();
                return 0;
                localStorage.removeItem(whatImage + 'Photo' + whichGarment);
                tmp = localStorage.getItem(whatImage + 'Photo' + whichGarment);
                tmp = (tmp === null) ? [] : JSON.parse(tmp);
                var customer_id = orderItem.custSelectVM.selectedCustomer().id;
                tmp.push({ customer_id: customer_id, image_id: image_id, picture: image, thumbnail: basedata });
                localStorage.setItem(whatImage + 'Photo' + whichGarment, JSON.stringify(tmp));
                var thumb = $('<img/>');
                thumb.attr('src', image);
                thumb.attr('width', 50);
                document.getElementById(whatImage + 'Media').innerHTML = ['<img src="', basedata, '" width="240"/>'].join('');

                document.getElementsByName(whatImage)[0].value = JSON.stringify(data);
                if ("createEvent" in document) {
                    var evt = document.createEvent("Event");
                    evt.initEvent("change", false, false);
                    document.getElementsByName(whatImage)[0].dispatchEvent(evt);
                } else {
                    document.getElementsByName(whatImage)[0].fireEvent("onchange");
                }
            }
        });
    }


    if (window.FileReader) {
        function handleFileSelectCompletionFrontImage(evt) {
            var files = evt.target.files;
            var f = files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        //resizeMyImage(e.target.result, "Front");
                        var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "completions.htm", "Front");
                        t = null;
                        e = null;
                    } catch (e1) {
                        alert('An Error occured. Try again.');
                    }
                };
            })(f);
            reader.readAsDataURL(f);
        }
        function handleFileSelectCompletionSideImage(evt) {
            var files = evt.target.files;
            var f = files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        //resizeMyImage(e.target.result, "Side");
                        var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "completions.htm", "Side");
                        t = null;
                        e = null;
                    } catch (e1) {
                        alert('An Error occured. Try again.');
                    }
                };
            })(f);
            reader.readAsDataURL(f);
        }
        function handleFileSelectCompletionBackImage(evt) {
            var files = evt.target.files;
            var f = files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        //resizeMyImage(e.target.result, "Back");
                        var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "completions.htm", "Back");
                        t = null;
                        e = null;
                    } catch (e1) {
                        alert('An Error occured. Try again.');
                    }
                };
            })(f);
            reader.readAsDataURL(f);
        }
        function handleFileSelectCompletionExtraImage(evt) {
            var files = evt.target.files;
            var f = files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        //resizeMyImage(e.target.result, "Extra");
                        var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "completions.htm", "Extra");
                        t = null;
                        e = null;
                    } catch (e1) {
                        alert('An Error occured. Try again.');
                    }
                };
            })(f);
            reader.readAsDataURL(f);
        }
        function handleFileSelectCompletionImage(evt) {
            var files = evt.target.files;
            var f = files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        //resizeMyImage(e.target.result, "Back");
                        var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "completions.htm", "");
                        t = null;
                        e = null;
                    } catch (e1) {
                        alert('An Error occured. Try again.');
                    }
                };
            })(f);
            reader.readAsDataURL(f);
        }
    } else {
        alert('This browser does not support FileReader');
    }


    document.getElementById('CompletionFrontImageFiles').addEventListener('change', handleFileSelectCompletionFrontImage, false);
    document.getElementById('CompletionSideImageFiles').addEventListener('change', handleFileSelectCompletionSideImage, false);
    document.getElementById('CompletionExtraImageFiles').addEventListener('change', handleFileSelectCompletionExtraImage, false);
    document.getElementById('CompletionBackImageFiles').addEventListener('change', handleFileSelectCompletionBackImage, false);
    document.getElementById('CompletionImageFiles').addEventListener('change', handleFileSelectCompletionImage, false);
</script>
</div>
