<div data-role="page" id="config_global_vars" class="bgBody">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

    <style>
        h1{
            margin-left: 10px;
        }

        form#global-var-form{

        }
        form#global-var-form .span-input{

        }
        form#global-var-form .span-input span{

        }
        form#global-var-form .span-input text{

        }

    </style>


    <h1> Configs </h1>
	<div data-role="content" data-theme="a" style="background:none !important; border:none;">

        <div class="warning">
            <p>
                Attention: this section may cause bugs on the system
            </p>
        </div>

        <form id="global-var-form" >

            <!-- local Server -->
            <div class="span-input">
                <span>local Server</span>
                <input required type="text" data-bind="value: $root.base_url">
            </div>

            <!-- 3D images -->
            <div class="span-input">
                <span>3D images</span>
                <input required type="text" data-bind="value: $root.images_3D">
            </div>

            <button type="submit" style="display: none;"></button>
            <button data-bind="click: function() { $root.updateGlobalVars()}">Update</button>

        </form>






        <!-- footer -->
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_8">
					<a data-bind="click: function(){posChangePage('#settings');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button" style="width: 162px;">
						<span class="btn-small-letter">Back to </span>
						<span class="btn-letter">Previous step</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /content -->
</div>