<div data-role="page" id="customerInfo" class="bgBody">
    <h1 data-bind="with: customersVMmirror"><span data-bind="text: customer_first_name">Customer's Name</span> <span data-bind="text: customer_last_name">Customer's Last Name</span></h1>
    <div data-role="content" data-bind="with: customersVMmirror" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="grid_12" data-bind="with: selected_item">
                    <div class="grid_7">
                        <ul class="custdisplay">
                            <li><span class="firstpart">Mobile:</span> <span class="secondpart" data-bind="text: customer_mobile_phone"></span> </li>
                            <li data-bind="visible:customer_landline_phone !== ''"> <span class="firstpart">Landline #:</span> <span class="secondpart" data-bind="text: customer_landline_phone"></span> </li>
                            <li><span class="firstpart">E-mail:</span> <span class="secondpart" data-bind="text: customer_email"></span> </li>
                            <!--<li><span class="firstpart">Gender:</span> <span class="secondpart" data-bind="visible:customer_gender == 1">Male</span> <span class="secondpart" data-bind="visible:customer_gender == 0">Female</span> </li>-->
                            <li><span class="firstpart">Address:</span> <span class="secondpart" data-bind="text: customer_address1"></span> </li>
                            <li><span class="firstpart">Postal Code:</span> <span class="secondpart" data-bind="text: customer_postal_code"></span> </li>
                            <li><span class="firstpart">Suburb:</span> <span class="secondpart" data-bind="text: customer_address2"></span> </li>
                            <li><span class="firstpart">State - City:</span> <span class="secondpart"> <span data-bind="text: $parent.customer_display_state"></span> <span>&nbsp; &ndash; &nbsp;</span> <span data-bind="text: $parent.customer_display_city"></span> </span> </li>
                            <li><span class="firstpart">Date of Birth:</span> 
                                <script>
					function reverse_customer_DOB(input) {
						try{
							var date = input;		
							var newdate = date.split("-").reverse().join("-");	
							return newdate;
						}catch(e){
							return input;
						}	
					}                            
				</script> 
                                <span class="secondpart" data-bind="text: reverse_customer_DOB(customer_DOB)"></span> </li>
                            <li data-bind="visible:customer_occupation !== ''"> <span class="firstpart">Occupation:</span> <span class="secondpart" data-bind="text: customer_occupation"></span> </li>
                            <li data-bind="visible:customer_company_name !== ''"> <span class="firstpart">Company:</span> <span class="secondpart" data-bind="text: customer_company_name"></span> </li>
                        </ul>
                        <a href="#customerEditCustomer" class="editmyinfo"></a> </div>
                    <div class="grid_4">
                        <ul class="grid_11 prefix_1" data-role="listview">
                            <li><div class="grid_8"><a data-bind="click: function(){posChangePage('#customerGarmentsFittingsList');}" class="new-btn icon-cancel-andback new-btn-icon-left" data-role="button"><span class="btn-small-letter">View &amp; Edit</span><span class="btn-letter"> Fittings</span></a></div>
                            </li>
                            <li><div class="grid_8"><a data-bind="click: function(){posChangePage('#customerEditMeasurement');}" class="new-btn icon-cancel-andback new-btn-icon-left" data-role="button"><span class="btn-small-letter">View &amp; Edit</span><span class="btn-letter"> Measurements</span></a></div>
                            </li>
                            <li><div class="grid_8"><a data-bind="click: function(){posChangePage('#customerOrders');}" class="new-btn icon-cancel-andback new-btn-icon-left" data-role="button"><span class="btn-small-letter">View &amp; Edit</span><span class="btn-letter"> Orders</span></a></div>
                            </li>
                           <!-- <li><a href="#" data-bind="click: function(){posChangePage('#customerEditMeasurement');}"><i class="fitiin"></i><span class="firstpart">View &amp; Edit Customer's</span> <span class="bigpart">Measurements</span> </a></li>
                            <li><a href="#" data-bind="click: function(){posChangePage('#customerOrders');}"><i class="fitiin"></i><span class="firstpart">View &amp; Edit Customer's</span> <span class="bigpart">Orders</span> </a></li>
                            <a href="#" data-bind="click: function(){posChangePage('#customerGarmentsFittingsList');}"><i class="fitiin"></i><span class="firstpart">View &amp; Edit Customer's</span> <span class="bigpart">Fittings</span> </a><li><a href="#customerNotes"><span class="firstpart">Edit Customer's</span> <span class="bigpart">Notes</span> </a></li>--> 
                            <!--<li><a href="#customerGarmentsFittingsList"><span class="firstpart">Edit Customer's</span> <span class="bigpart">Images</span> </a></li>-->
                            
                        </ul>
                    </div>
                    <!-- End of customer info --> 
                </div>
            </div>
        </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#listCustomer');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> List</span></a></div>
        </div>
    </div>
</div>
