<div data-role="page" id="customerEditMeasurement" class="bgBody">
<h1><span class="firstpart">Measurements of</span> <span data-bind="text: customersVM.customer_first_name"></span>&nbsp;<span data-bind="text: customersVM.customer_last_name"></span></h1>
  <div data-role="content" class="panwapola" data-theme="c" style="background:none !important; border:none;">
    <div class="content-wrapper">
      <div class="container_12">
        <div data-bind="with: measurementsVM " class="grid_12">
          <div class="container_16">
            <ul data-bind="foreach: garmentsList2()()" class="garmentselection">
              <li name="selectgarmentDiv" id="daimage" data-bind="click:$parent.selectedGarment, css: {  'selected': $data.name === $parent.selectedGarment().name, 'completed': $parent.checkcompleted($data.name) === true}" onclick="showmeasurements()">
              	<div class="rouxos" data-bind="css:bgclass"><span class="nameunderouxo" data-bind="text: namez"></span></div>
                
              </li>
            </ul>
            <div class="grid_2 tenmargtop" style="display:none;">
              <div name="selectfitlineDiv" class=" textcenter measurementss" data-bind="visible: garmentsList()()[0].count != 0 || garmentsList()()[2].count != 0" > <a onclick="showfitlines()" ><img src="http://shirt-tailor.net/thepos/appimg/measurements/jacket_m.png" /></a> <span>Jacket<br/>
                Fitline</span> </div>
            </div>
          </div>
          <div class="tenmargtop">
            <div id="measurementsDiv2" data-bind="with: selectedGarment, updateFormOnChange: true, css: {'hidden' : selectedGarment().name === 'none'}" class="fieldsMeasurements grid_12">
              <div class="grid_9">
                <div class="grid_11 measurementtitle" data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">
                  <h3>Jacket's Measurements</h3>
                  <h6>Measurement Date:<span data-bind="text: $parent.jacketDate"></span></h6>
                </div>
                <div style="clear:both;"></div>
                <div class="grid_12 allmeasures">
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketChest">Chest</label>
                    <input type="tel"  name="jacketChest" id="jacketChest" data-bind="value: $parent.jacketChest, modifiedJacketChest:$parent.jacketChest, style: {background: $parent.jacketChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketStomach">Stomach</label>
                    <input type="tel"  name="jacketStomach" id="jacketStomach" data-bind="value: $parent.jacketStomach, modifiedJacketStomach:$parent.jacketStomach, style: {background: $parent.jacketStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketfullShoulder">Full Shoulder</label>
                    <input type="tel" name="jacketfullShoulder" id="jacketfullShoulder" data-bind="value: $parent.jacketfullShoulder, style: {background: $parent.jacketfullShoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketsleeveL">Left Sleeve</label>
                    <input type="tel" name="jacketsleeveL" id="jacketsleeveL" data-bind="value: $parent.jacketsleeveL, style: {background: $parent.jacketsleeveL() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketsleeveR">Right Sleeve</label>
                    <input type="tel" name="jacketsleeveR" id="jacketsleeveR" data-bind="value: $parent.jacketsleeveR, style: {background: $parent.jacketsleeveR() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketBack">Back</label>
                    <input type="tel" name="jacketBack" id="jacketBack" data-bind="value: $parent.jacketBack, modifiedJacketBack:$parent.jacketBack, style: {background: $parent.jacketBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketFront">Front</label>
                    <input type="tel" name="jacketFront" id="jacketFront" data-bind="value: $parent.jacketFront, modifiedJacketFront:$parent.jacketFront, style: {background: $parent.jacketFront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketNeck">Neck</label>
                    <input type="tel" name="jacketNeck" id="jacketNeck" data-bind="value: $parent.jacketNeck, modifiedJacketNeck:$parent.jacketNeck, style: {background: $parent.jacketNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketBicep">Bicep</label>
                    <input type="tel" name="jacketBicep" id="jacketBicep" data-bind="value: $parent.jacketBicep, modifiedJacketBicep:$parent.jacketBicep, style: {background: $parent.jacketBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketWrist">Wrist</label>
                    <input type="tel" name="jacketWrist" id="jacketWrist" data-bind="value: $parent.jacketWrist, modifiedJacketWrist:$parent.jacketWrist, style: {background: $parent.jacketWrist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketforeArms">Forearm</label>
                    <input type="tel" name="jacketforeArms" id="jacketforeArms" data-bind="value: $parent.jacketforeArms, style: {background: $parent.jacketforeArms() <=0 ? '#868686' : '#3c3c3b'}" value="" />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketHips">Hips</label>
                    <input type="tel"  name="jacketHips" id="jacketHips" data-bind="value: $parent.jacketHips, style: {background: $parent.jacketHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketLength">Jacket Length</label>
                    <input type="tel" name="jacketLength" id="jacketLength" data-bind="value: $parent.jacketLength, style: {background: $parent.jacketLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketLapel">Lapel Length</label>
                    <input type="tel" name="jacketLapel" id="jacketLapel" data-bind="value: $parent.jacketLapel, style: {background: $parent.jacketLapel() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
                    <label for="jacketZeropoint">Zero Point</label>
                    <input type="tel" name="jacketZeropoint" id="jacketZeropoint" data-bind="value: $parent.jacketZeropoint, style: {background: $parent.jacketZeropoint() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
					<div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
						<label for="jacketZeropointfront">Left Front  to Zero</label>
						<input type="tel"  name="jacketZeropointfront" id="jacketZeropointfront" data-bind="value: $parent.jacketZeropointfront, modifiedJacketFrontToZero: $parent.jacketZeropointfront, style: {background: $parent.jacketZeropointfront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
						<label for="jacketZeropointback">Left Back to Zero</label>
						<input type="tel"  name="jacketZeropointback"  id="jacketZeropointback" data-bind="value: $parent.jacketZeropointback, modifiedJacketBackToZero: $parent.jacketZeropointback, style: {background: $parent.jacketZeropointback() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
						<label for="jacketRightFrontToZero">Right Front  to Zero</label>
						<input type="tel"  name="jacketRightFrontToZero" id="jacketRightFrontToZero" data-bind="value: $parent.jacketRightFrontToZero, modifiedJacketFrontToZeroRight: $parent.jacketRightFrontToZero, style: {background: $parent.jacketRightFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
						<label for="jacketRightBackToZero">Right Back to Zero</label>
						<input type="tel"  name="jacketRightBackToZero"  id="jacketRightBackToZero" data-bind="value: $parent.jacketRightBackToZero, modifiedJacketBackToZeroRight: $parent.jacketRightBackToZero, style: {background: $parent.jacketRightBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" class="measurements_grid">
						<label for="jacketTenseBicep">Tense Bicep</label>
						<input type="tel"  name="jacketTenseBicep"  id="jacketTenseBicep" data-bind="value: $parent.jacketTenseBicep, modifiedJacketTenseBicep: $parent.jacketTenseBicep, style: {background: $parent.jacketTenseBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
                </div>
              </div>
              <div class="grid_3 measurementnotestitle">
                <h3 class="measuretitle" data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">Jacket Notes</h3>
                <div data-bind="css: { 'hidden': name!=='jacket' && name!='suit' }" >
                  <textarea name="jacketComments" data-bind="value: $parent.jacketComments" value="" ></textarea>
                </div>
              </div>
              <div class="grid_9">
                <div class="grid_11 measurementtitle" data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}">
                  <h3>Pant's Measurements</h3>
                  <h6>Measurement Date:<span data-bind="text: $parent.pantsDate"></span></h6>
                </div>
                <div class="grid_12 allmeasures">
                  <div data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}"  class="measurements_grid">
                    <label for="pantWaist">Pant Waist</label>
                    <input type="tel"  name="pantWaist" id="pantWaist" data-bind="value: $parent.pantWaist, style: {background: $parent.pantWaist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}"  class="measurements_grid">
                    <label for="pantHips">Hips</label>
                    <input type="tel"  name="pantHips" id="pantHips" data-bind="value: $parent.pantHips, style: {background: $parent.pantHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="thigh">Thigh</label>
                    <input type="tel"  name="thigh" id="thigh" data-bind="value: $parent.thigh, style: {background: $parent.thigh() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="pantLength">Pant Length</label>
                    <input type="tel"  name="pantLength" id="pantLength" data-bind="value: $parent.pantLength, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
				  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="Knee">Knee</label>
                    <input type="tel"  name="Knee" id="Knee" data-bind="value: $parent.knee, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
				  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="Calf">Calf</label>
                    <input type="tel"  name="Calf" id="Calf" data-bind="value: $parent.calf, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="cuffs">Cuffs</label>
                    <input type="tel"  name="cuffs" id="cuffs" data-bind="value: $parent.cuffs, style: {background: $parent.cuffs() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="crotch">Crotch</label>
                    <input type="tel"  name="crotch" id="crotch" data-bind="value: $parent.crotch, style: {background: $parent.crotch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="zipper">Zipper Length</label>
                    <input type="tel"  name="zipper" id="zipper" data-bind="value: $parent.zipper, style: {background: $parent.zipper() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="pantFrontCrotch">Front Crotch</label>
                    <input type="tel"  name="pantFrontCrotch" id="pantFrontCrotch" data-bind="value: $parent.pantFrontCrotch, style: {background: $parent.pantFrontCrotch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
                    <label for="pantInseam">Inseam</label>
                    <input type="tel"  name="pantInseam" id="pantInseam" data-bind="value: $parent.pantInseam, style: {background: $parent.pantInseam() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div style="display:none; " class="gAttr" data-target-attr="$parent.pantAngledWaist" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}">
                    <div class="grid_16">
                      <div class="mycheck mychecknews" id="pantAngledWaist" data-bind="click: function(){ $parent.pantAngledWaist(!$parent.pantAngledWaist());  }, css: {enabled: $parent.pantAngledWaist() }">Angled Pant Waist?</div>
                    </div>
                  </div>
                  <div class="grid_16"  style="display:none;" data-bind="css: { 'hidden': name!=='pants' && name!='suit' || $parent.pantAngledWaist() != true}">
                    <div class="grid_7">
                      <div class="gAttr" data-target-attr="$parent.pantWaistAngle">
                        <div class="mycheck mychecknews" id="pantWaistAngle" data-bind="click: function(){ $parent.pantWaistAngle('Standard'); }, css: {enabled: $parent.pantWaistAngle() === 'Standard' }"> Standard </div>
                      </div>
                    </div>
                    <div class="grid_7">
                      <div class="gAttr" data-target-attr="$parent.pantWaistAngle">
                        <div class="mycheck mychecknews" id="pantWaistAngle" data-bind="click: function(){ $parent.pantWaistAngle('Severe'); }, css: {enabled: $parent.pantWaistAngle() === 'Severe' }"> Severe </div>
                      </div>
                    </div>
                  </div>
				  <div class="gAttr" data-target-attr="$parent.pantAngledHems" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}">
                      <div class="grid_16">
                        <div class="mycheck mychecknews" id="pantAngledHems" data-bind="click: function(){ $parent.pantAngledHems(!$parent.pantAngledHems());  }, css: {enabled: $parent.pantAngledHems() }">Angled Pant Hems? </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="grid_3 measurementnotestitle">
                <h3 class="measuretitle" data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}">Pant's Notes</h3>
                <div data-bind="css: { 'hidden': name!=='pants' && name!='suit' }" >
                  <textarea name="pantsComments" data-bind="value: $parent.pantsComments" value="" ></textarea>
                </div>
              </div>
              <div class="grid_9">
                <div class="grid_11 measurementtitle" data-bind="css: { 'hidden': name!=='shirt'}">
                  <h3>Shirt's Measurements</h3>
                  <h6>Measurement Date:<span data-bind="text: $parent.shirtDate"></span></h6>
                </div>
                <div class="grid_12 allmeasures">
                  <div data-bind="css: { 'hidden': name!=='shirt' }"  class="measurements_grid">
                    <label for="shirtChest">Chest</label>
                    <input type="tel"  name="shirtChest" id="shirtChest" data-bind="value: $parent.shirtChest, style: {background: $parent.shirtChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }"  class="measurements_grid">
                    <label for="shirtStomach">Stomach</label>
                    <input type="tel"  name="shirtStomach" id="shirtStomach" data-bind="value: $parent.shirtStomach, style: {background: $parent.shirtStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtfullshoulder">Full Shoulder</label>
                    <input type="tel"  name="shirtfullshoulder" id="shirtfullshoulder" data-bind="value: $parent.shirtfullshoulder, style: {background: $parent.shirtfullshoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtsleeveL">Left Sleeve</label>
                    <input type="tel"  name="shirtsleeveL" id="shirtsleeveL" data-bind="value: $parent.shirtsleeveL, style: {background: $parent.shirtsleeveL() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtsleeveR">Right Sleeve</label>
                    <input type="tel"  name="shirtsleeveR" id="shirtsleeveR" data-bind="value: $parent.shirtsleeveR, style: {background: $parent.shirtsleeveR() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtBack">Back</label>
                    <input type="tel"  name="shirtBack" id="shirtBack" data-bind="value: $parent.shirtBack, style: {background: $parent.shirtBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtFront">Front</label>
                    <input type="tel"  name="shirtFront" id="shirtFront" data-bind="value: $parent.shirtFront, style: {background: $parent.shirtFront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtNeck">Neck</label>
                    <input type="tel"  name="shirtNeck" id="shirtNeck" data-bind="value: $parent.shirtNeck, style: {background: $parent.shirtNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtBicep">Bicep</label>
                    <input type="tel"  name="shirtBicep" id="shirtBicep" data-bind="value: $parent.shirtBicep, style: {background: $parent.shirtBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtWrist">Wrist</label>
                    <input type="tel"  name="shirtWrist" id="shirtWrist" data-bind="value: $parent.shirtWrist, style: {background: $parent.shirtWrist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtWristwatch">Wrist with watch</label>
                    <input type="tel"  name="shirtWristwatch" id="shirtWristwatch" data-bind="value: $parent.shirtWristwatch, style: {background: $parent.shirtWristwatch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtLength">Shirt Length</label>
                    <input type="tel"  name="shirtLength" id="shirtLength" data-bind="value: $parent.shirtLength, style: {background: $parent.shirtLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid" >
                    <label for="shirtHips">Hips</label>
                    <input type="tel" name="shirtHips" id="shirtHips" data-bind="value: $parent.shirtHips, style: {background: $parent.shirtHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
				  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
                    <label for="shirtZeroPoint">Zero Point</label>
                    <input type="tel"  name="shirtZeroPoint" id="shirtZeroPoint" data-bind="value: $parent.shirtZeroPoint, style: {background: $parent.shirtZeroPoint() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
					<div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
						<label for="shirtFrontToZero">Left Front to Zero</label>
						<input type="tel"  name="shirtFrontToZero" id="shirtFrontToZero" data-bind="value: $parent.shirtFrontToZero, style: {background: $parent.shirtFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
						<label for="shirtBackToZero">Left Back to Zero</label>
						<input type="tel"  name="shirtBackToZero" id="shirtBackToZero" data-bind="value: $parent.shirtBackToZero, style: {background: $parent.shirtBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
						<label for="shirtRightFrontToZero">Right Front to Zero</label>
						<input type="tel"  name="shirtRightFrontToZero" id="shirtRightFrontToZero" data-bind="value: $parent.shirtRightFrontToZero, style: {background: $parent.shirtRightFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
						<label for="shirtRightBackToZero">Right Back to Zero</label>
						<input type="tel"  name="shirtRightBackToZero" id="shirtRightBackToZero" data-bind="value: $parent.shirtRightBackToZero, style: {background: $parent.shirtRightBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
					<div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
						<label for="shirtTenseBicep">Tense Bicep</label>
						<input type="tel"  name="shirtTenseBicep" id="shirtTenseBicep" data-bind="value: $parent.shirtTenseBicep, style: {background: $parent.shirtTenseBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
					</div>
				  <div data-bind="css: { 'hidden': name!=='shirt' }" class="measurements_grid">
                    <label for="shirtForearm">Forearm</label>
                    <input type="tel"  name="shirtForearm" id="shirtForearm" data-bind="value: $parent.shirtForearm, style: {background: $parent.shirtForearm() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                </div>
              </div>
              <div class="grid_3 measurementnotestitle">
                <h3 class="measuretitle" data-bind="css: { 'hidden': name!=='shirt'}">Shirt's Notes</h3>
                <div data-bind="css: { 'hidden': name!=='shirt' }" >
                  <textarea name="shirtComments" data-bind="value: $parent.shirtComments" value="" ></textarea>
                </div>
              </div>
              <div class="grid_9">
                <div class="grid_11 measurementtitle" data-bind="css: { 'hidden': name!=='vest'}">
                  <h3>Vest's Measurements</h3>
                  <h6>Measurement Date:<span data-bind="text: $parent.vestDate"></span></h6>
                </div>
                <div class="grid_12 allmeasures">
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid" >
                    <label for="vestChest">Chest</label>
                    <input type="tel"  name="vestChest" id="vestChest" data-bind="value: $parent.vestChest, style: {background: $parent.vestChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid" >
                    <label for="vestStomach">Stomach</label>
                    <input type="tel"  name="vestStomach" id="vestStomach" data-bind="value: $parent.vestStomach, style: {background: $parent.vestStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid">
                    <label for="vestLength">Vest length</label>
                    <input type="tel"  name="vestLength" id="vestLength" data-bind="value: $parent.vestLength, style: {background: $parent.vestLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid" >
                    <label for="vestHips">Hips at Vest length</label>
                    <input type="tel"  name="vestHips" id="vestHips" data-bind="value: $parent.vestHips, style: {background: $parent.vestHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid"  >
                    <label for="vestNeck">Neck</label>
                    <input type="tel"  name="vestNeck" id="vestNeck" data-bind="value: $parent.vestNeck, style: {background: $parent.vestNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid" >
                    <label for="vestfullShoulder">Full Shoulder</label>
                    <input type="tel"  name="vestfullShoulder" id="vestfullShoulder" data-bind="value: $parent.vestfullShoulder, style: {background: $parent.vestfullShoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }" class="measurements_grid" >
                    <label for="vestVLength">Vest V to button</label>
                    <input type="tel"  name="vestVLength" id="vestVLength" data-bind="value: $parent.vestVLength, style: {background: $parent.vestVLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                  <div data-bind="css: { 'hidden': name!=='vest' }"  class="measurements_grid">
                    <label for="vestHalfShoulderWidth">Half Shoulder Width</label>
                    <input type="tel"  name="vestHalfShoulderWidth" id="vestHalfShoulderWidth" data-bind="value: $parent.vestHalfShoulderWidth, style: {background: $parent.vestHalfShoulderWidth() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                  </div>
                </div>
              </div>
              <div class="grid_3 measurementnotestitle">
                <div data-bind="css: { 'hidden': name!=='vest' }" >
                  <h3 class="measuretitle" data-bind="css: { 'hidden': name!=='vest'}">Vest's Notes</h3>
                  <textarea name="vestComments" data-bind="value: $parent.vestComments" value=""></textarea>
                </div>
              </div>
              <div data-bind="css: { 'hidden': name!=='overcoat' }" >
                <label for="overcoatComments">Overcoat Notes</label>
                <textarea name="overcoatComments" data-bind="value: $parent.overcoatComments" value="" ></textarea>
              </div>
            </div>
          </div>
          <!--	END OF "scrollContentss tenmargtop"	--> 
          
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- /content -->
    <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#customerInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Customer</span></a></div>
                <div class="grid_2 "><a data-bind="click: updateMeasurements" class="new-btn icon-go-next new-btn-icon-right" data-role="button"><span class="btn-small-letter">Update</span><span class="btn-letter"> Measurements</span></a></div>
            </div>
        </div>
        
    
    
  </div>
  <script language="javascript">
			function showmeasurements() {
				var measurementsDiv = document.getElementById("measurementsDiv2");
				var fitlinesDiv = document.getElementById("fitlinesDiv");
				measurementsDiv.style.display = "block";
				fitlinesDiv.style.display = "none";
				document.getElementsByName("selectfitlineDiv")[0].className = "textcenter measurementss";
			}
			function showfitlines() {
				var measurementsDiv = document.getElementById("measurementsDiv2");
				var fitlinesDiv = document.getElementById("fitlinesDiv");
				measurementsDiv.style.display = "none";
				fitlinesDiv.style.display = "block";
				document.getElementsByName("selectgarmentDiv")[0].className = document.getElementsByName("selectgarmentDiv")[0].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[1].className = document.getElementsByName("selectgarmentDiv")[1].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[2].className = document.getElementsByName("selectgarmentDiv")[2].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[3].className = document.getElementsByName("selectgarmentDiv")[3].className.replace('selected','');
				//document.getElementsByName("selectgarmentDiv")[4].className = document.getElementsByName("selectgarmentDiv")[4].className.replace('selected','');
				document.getElementsByName("selectfitlineDiv")[0].className = "textcenter measurementss selected";
			}
			

			function timeConverter(UNIX_timestamp){
				if(UNIX_timestamp == '0.00'){
					 var a = new Date(UNIX_timestamp*1000);
					 var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
					 var year = a.getFullYear();
					 var month = months[a.getMonth()];
					 var date = a.getDate();
					 var hour = a.getHours();
					 var min = a.getMinutes();
					 var sec = a.getSeconds();
					 var time = date+','+month+' '+year+' '+hour+':'+min+':'+sec ;
					 return time;
				}else{
					return 'no date available';	
				}
			 }

			
		</script> 
</div>
