<div data-role="page" id="customerOrders" class="bgBody">
<h1 data-bind="with: customersVMmirror"><span class="firstpart" data-bind="text: customer_first_name">Customer's Name</span> <span class="firstpart" data-bind="text: customer_last_name">Customer's Last Name</span></h1>


 
  <div data-role="content" data-bind="with: custOrdersVM" data-theme="a">
    <div class="content-wrapper">
      <div class="container_16">
        
        <p style="color: red;">*Select order to continue</p>

        <table class="generic-simple-table" style="width: 100%;font-size: 16px;">
          
          <thead>
            <th>ID</th>
            <th>Order Date</th>
            <th>Ship Date</th>
            <th>Garments</th>
            <th>Total Amount</th>
            <th>Balance Owing</th>
          </thead>
          <tbody data-bind="foreach: orders">
            
            <tr data-bind="click: $parent.selectedOrder">
              <td><span data-bind="text: order_id" class="marginleftten"></span></td>  
              <td><span data-bind="text: formatted_ordered_date"></span></td>
              <td><span data-bind="text: shipping_date"></span></td>
              <td><span data-bind="text: garments"></span></td>
              <td><span class="marginleftten">$&nbsp;<span data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span> </span></td>
              <td><span class="marginleftten"><span data-bind="text: parseFloat(balance).toFixed(2)"></span></span></td>
            </tr>

          </tbody>
          <tr>
            
          </tr>
        </table>











      </div>
    </div>
  </div>
  <div class="j-footer container_12">
  	<div class="half-em-around"> 
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#customerInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Customer's</span><span class="btn-letter"> Details</span></a></div>
            
            </div></div>
</div>