<div data-role="page" id="employee_invoice" class="bgBody">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

    <style>

        h1{
            margin-left: 10px;
        }

        .date-select{
        }

        .year-select {
            width: 13%;
        }

        .months-select{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 89%;
        }

        .months-select .month{
            background: var(--grey-2);
            color: white;
            text-shadow: none;
            padding: 1px 12px;
            border-radius: 6px;
            margin: 17px 0;
        }

        .months-select .month.selected-month {
            background: var(--green1);
        }

        #table-wrapper{
            border: solid 1px;
            border-radius: 6px;
            padding: 0 20px;
        }

        #employee-invoice-table {
            width: 100%;
        }

        #employee-invoice-table caption button {
            width: 170px;
            color: white;
            font-weight: normal;
            text-shadow: none;
            display: inline;
            height: 26px;
            padding: 0;
            margin: 5px 0 17px 0;
        }

        #employee-invoice-table caption button.add_order{

            background: var(--green1);
        }

        #employee-invoice-table caption button.add_another_cost{

            background: var(--selected);
        }

        #employee-invoice-table thead, #employee-invoice-table tbody{

        }

        #employee-invoice-table thead{
            border-top: solid 1px;
            border-bottom: solid 1px;
            background: var(--grey-1);
        }

        #employee-invoice-table tfoot{
            border-top: solid 1px;
        }

        #employee-invoice-table tbody tr{

            border-top: solid 1px;
        }

        #employee-invoice-table td, #employee-invoice-table th {
            text-align: center;
            padding: 5px;
        }

        #employee-invoice-table td .main-order-progress-div .progress-element {
            text-align: center;
            width: 100px;
        }

        #employee-invoice-table td .main-order-progress-div .status-circle {
            text-align: center;
            height: 20px;
            max-width: 20px;
            border-radius: 50%;
            border: 1px solid black;
            margin: 0 auto;
            color: white;
            font-size: 12px;
        }

        #employee-invoice-table td .main-order-progress-div .active-status {
            background: green;
        }

        #employee-invoice-table td .main-order-progress-div .inactive-status {
            background: red;
        }

        #employee-invoice-table td .main-order-progress-div .partial-active-status {
            background: orange;
        }

        #employee-invoice-table .actions button {
            background: red;
            color: white;
            /* width: 28px; */
            margin: 10px auto;
            padding: 5px 9px;
            text-shadow: none;
            font-weight: normal;
        }

        #employee-invoice-table .actions button.removeRow {
            background: red;
        }

        #employee-invoice-table .actions button.editRow {
            background: orange;
        }

        #add_order_box_wrapper .order-search-pop-up .order-search-result-li {
            padding: 6px 5px;
            display: block;
            border-radius: 5px;
            background: var(--grey-3);
            color: white;
            text-align: center;
            font-size: 15px;
            width: 300px;
            margin-bottom: 2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-shadow: none;
            height: 34px;
        }

        #add_order_box_wrapper .order-search-pop-up .order-search-result-li:hover {
            background: var(--green1);
            cursor: pointer;
        }


        .adding-another-cost-wrapper  {
            width: 450px;
            min-height: 450px;
            height: unset;
        }

        .confirm-btn {
            color: #fff !important;
            background-color: var(--green1) !important;
            width: 163px !important;
            text-shadow: none !important;
            font-weight: normal;
        }

        .todo{
            color: red;
        }

    </style>


	<div data-role="content" data-theme="a" style="background:none !important; border:none;margin-bottom: 90px;">

        <h1 data-bind="text: $root.currentYear() + ' ' +$root.currentMonthText() + ' Invoice Summary'"></h1>

        <div class="date-select">
            <div class="year-select">
                <div class="ui-select">
                    <div id="select-9-button" class="ui-btn ui-icon-carat-d ui-btn-icon-right ui-corner-all ui-shadow">
                        <span data-bind="text: $root.currentYear()"></span>
                        <select data-role="none"
                            data-bind="options: [new Date().getFullYear(), new Date().getFullYear()-1],
                                            value: $root.currentYear">
                        </select>
                    </div>
                </div>
            </div>
            <div class="months-select" data-bind="foreach: monthNames">
                <div class="month" data-bind="css: { 'selected-month' : $index() == $root.currentMonth()}">
                    <span data-bind="text: $data,
                                    click: function() {$root.setMonth($index())}
                                    "></span>
                </div>
            </div>
        </div>

        <div id="table-wrapper">
            <table id="employee-invoice-table">
                <caption>
                    <h2 data-bind="text: $root.currentYear() + ' ' +$root.currentMonthText() + ' Invoice Summary'"></h2>
                    <button class="add_order" onclick="$('.order-search-pop-up').show('slow')">+ Order</button>
                    <button class="add_another_cost" onclick="$('.adding-another-cost-wrapper').show('slow')">+ Another Cost</button>
                </caption>

                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Total (ex GST)</th>
                    <th>Commission</th>
                    <th>Balance Payment Date</th>
                    <th>Order Progress</th>
                    <th>Actions</th>
                </thead>
                <tbody data-bind="foreach: { data : $root.data() ? $root.data().invoice_rows[$root.currentMonth()+1] : [], as : 'invoice_rows' }">

                    <tr>
                        <!-- Name -->
                        <td data-bind="text: invoice_rows.name"></td>

                        <!-- Type -->
                        <td data-bind="text: invoice_rows.type"></td>

                        <!-- Description -->
                        <td>
                            <span data-bind="text: invoice_rows.description"></span>
                        </td>

                        <!-- Total (ex GST) -->
                        <td data-bind="text: invoice_rows.metadata.total_no_gst"></td>

                        <!-- Commission -->
                        <td>
                            <span data-bind="text: invoice_rows.formatted_cost"></span>
                            <span data-bind="text: invoice_rows.used_comission ? ' (' + invoice_rows.used_comission+'%)' : ''"></span>
                        </td>

                        <!-- Balance Payment Date -->
                        <td data-bind="text: invoice_rows.metadata.ordered_date"></td>

                        <!-- Order Progress -->
                        <td>
                            <div class="main-order-progress-div" style="display: flex;justify-content: space-between;" data-bind="if: invoice_rows.metadata.order_progress">

                                <div class="progress-element">
                                    <div class="top-progress">
                                        <div class="status-circle" data-bind="css: {
                                                                                    'active-status' : invoice_rows.metadata.order_progress.fittings_status_map || invoice_rows.metadata.order_progress.completion_status_map,
                                                                                    'inactive-status' : !(invoice_rows.metadata.order_progress.fittings_status_map || invoice_rows.metadata.order_progress.completion_status_map)
                                                                                }">F</div>
                                    </div>
                                    <div class="bottom-progress" data-bind="text: invoice_rows.metadata.order_progress.fittings_status_map ? 'Fittings: ' + invoice_rows.metadata.order_progress.fittings_status_map.num_fittings : '' "></div>
                                </div>
                                <div class="progress-element">
                                    <div class="top-progress">
                                        <div
                                            class="status-circle"
                                            data-bind="css: {
                                                'active-status' : invoice_rows.metadata.order_progress.alterations_status_map,
                                                'inactive-status' : !(invoice_rows.metadata.order_progress.alterations_status_map)
                                            }">
                                            A
                                        </div>
                                    </div>
                                    <div class="bottom-progress">
                                        <span data-bind="html: invoice_rows.metadata.order_progress.alterations_status_map ? 'Alt. Report: ' + invoice_rows.metadata.order_progress.alterations_status_map.total_alterations + '<br> cost: $ ' + invoice_rows.metadata.order_progress.alterations_status_map.total_alterations_costs.toFixed(2)
                                            :
                                            ''"></span>
                                    </div>
                                </div>

                                <div class="progress-element">
                                    <div class="top-progress">
                                        <div class="status-circle" data-bind="css:{
                                            'inactive-status' : (!invoice_rows.metadata.order_progress.completion_status_map),
                                            'active-status' : !(!invoice_rows.metadata.order_progress.completion_status_map) && (!invoice_rows.metadata.order_progress.completion_status_map.is_missing_completion),
                                            'partial-active-status' : (invoice_rows.metadata.order_progress.completion_status_map) && !((invoice_rows.metadata.order_progress.completion_status_map) && (!invoice_rows.metadata.order_progress.completion_status_map.is_missing_completion))
                                        }">C</div>
                                    </div>
                                    <div class="bottom-progress" data-bind="text: invoice_rows.metadata.order_progress.completion_status_map.is_missing_completion ? `
                                                                            Missing : ${invoice_rows.metadata.order_progress.completion_status_map.missing_completion_for.map( e => e).join(', ') }
                                                                ` : ``">
                                    </div>
                                </div>

                            </div>
                        </td>

                        <!-- action -->
                        <td class="actions">
                            <button class="removeRow" data-bind="click: function() {$root.removeRow(invoice_rows)}">Remove</button>
                            <button class="editRow" data-bind="click: function() {
                                                                $root.editCostAndOrderPopUp.selectedRow(invoice_rows);
                                                                $('.edit-wrapper').show('slow')
                                                            }">Edit</button>
                        </td>

                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <!-- offset -->
                        <td colspan="2"></td>

                        <td>Total:</td>

                        <!-- total sold -->
                        <td data-bind="text: '$ ' + $root.totalSold()"></td>

                        <!-- total commission -->
                        <td data-bind="text: '$ ' + $root.totalCommission()"></td>
                    </tr>
                </tfoot>



            </table>
        </div>

        <div id="add_order_box_wrapper">
            <div class="generic-pop-up order-search-pop-up" style="width:80%;display: none;" data-bind="with: $root.newOrderPopUp">
                <div class="close-pop-up" onclick="$('.order-search-pop-up').hide('slow')">X</div>
                <div>
                    <p style="margin:none">Search for an Order</p>
                    <input class="order-search-input plain-input" type="text" placeholder="type a customer name" data-bind="value: $data.customerToSearch, valueUpdate:'keyup'">

                    <div class="order-search-result">
                        <ul class="order-search-result-ul" data-bind="foreach: $data.ordersSearched">
                            <li class="order-search-result-li"
                                data-order-json="{&quot;order_id&quot;:&quot;6257&quot;,&quot;total_amount&quot;:&quot;1386.00&quot;,&quot;ordered_date&quot;:&quot;2019-10-17 04:16:10&quot;,&quot;GST&quot;:&quot;10&quot;,&quot;customer_name&quot;:&quot;Luiz Barros&quot;,&quot;salesman_name&quot;:&quot;Igor Leal&quot;,&quot;formatted_order_date&quot;:&quot;17-10-2019&quot;,&quot;total_amount_with_gst&quot;:1524.6000000000001}"
                                data-bind="text: ['('+$data.order_id+')', $data.customer_name, '-', $data.formatted_order_date].join(' '),
                                            attr: {
                                                'data-order-json': JSON.stringify($data)
                                            },
                                            click: function() {
                                                $parent.ordersSearched(''); // clear search
                                                $parent.selectedOrderConfirmation($data);
                                            }"
                            >
                            </li>
                        </ul>
                    </div>

                    <div class="new-cost-double-confirmation-wrapper" data-bind="if: $data.selectedOrderConfirmation()">
                        <p style="margin:0;">Order: <strong data-bind="text: $data.selectedOrderConfirmation().order_id"></strong></p>
                        <p style="margin:0;">Salesman: <strong data-bind="text: $data.selectedOrderConfirmation().salesman_name"></strong></p>
                        <p style="margin:0;">Customer Name: <strong data-bind="text: $data.selectedOrderConfirmation().customer_name"></strong></p>
                        <p style="margin:0;">Order Date: <strong data-bind="text: $data.selectedOrderConfirmation().formatted_order_date"></strong></p>
                        <p style="margin:0;">Total Amount (ex. GST): <strong data-bind="text: $data.selectedOrderConfirmation().total_amount"></strong></p>
                        <br>

                        <button
                            data-order-id="$data.selectedOrderConfirmation().order_id"
                            style="float: right;"
                            class="confirm-btn"
                            data-bind="click: function() { $data.addNewOrder() }">
                            Add to Invoice
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div id="add_cost_box_wrapper">
            <div class="generic-pop-up adding-another-cost-wrapper" style="display: none;" data-bind="with: $root.newCostPopUp">
                <div class="close-pop-up" onclick="$('.adding-another-cost-wrapper').hide('slow')">X</div>

                <form action="" class="main-form" style="margin-top: 50px;">
                    <p style="margin:0">Name Of Cost</p>
                    <input required class="plain-input another-cost-name-input" type="text"  data-bind="value: $data.nameOfCost">

                    <p style="margin:0">Value (AUD)</p>
                    <input required class="plain-input another-cost-value-input" min="0.0" type="number" step="0.01" data-bind="value: $data.value">

                    <p style="margin:0">Description</p>
                    <textarea rows="3" class="plain-textarea another-cost-description-textarea" data-bind="value: $data.description"></textarea>

                    <p style="margin:0">Upload Receipt (optional)</p>


                    <button type="submit" style="display: none;"></button>


                </form>

                <div>
                    <form
                        id="another-cost-invoice-form"
                        data-bind="click: $data.configureSubmitUploadImage()"
                        enctype="multipart/form-data">
                        <input
                            id="another-cost-invoice-uploader"
                            data-path=""
                            onchange="$('#another-cost-invoice-form').submit()"
                            type="file" name="another-cost-invoice-uploader" accept="image/*">
                    </form>

                    <div style="text-align:center;">
                        <img id="another-cost-invoice-result-img" style="display:none;width:200px;margin:0 auto;" />
                    </div>
                </div>

                <button style="float: right;"
                        class="confirm-btn"
                        data-bind="click: function() {$data.submit()}">
                    Add to Invoice
                </button>
            </div>
        </div>

        <div id="edit_cost_and_order_wrapper" data-bind="with: $root.editCostAndOrderPopUp">
            <div class="generic-pop-up edit-wrapper" style="display: none;" data-bind="if: $root.editCostAndOrderPopUp.selectedRow()">
                <div class="close-pop-up" onclick="$('.edit-wrapper').hide('slow')">X</div>

                <form action="" class="main-form" style="margin-top: 50px;" data-bind="submit: function() {$data.submit()}">
                    <p style="margin:0">Description</p>
                    <input required class="plain-input another-cost-name-input" type="text"  data-bind="value: $data.selectedRow().description">

                    <div data-bind="if : $data.type() == 'order'">
                        <p style="margin:0">Commission</p>
                        <input
                            required
                            class="plain-input another-cost-value-input"
                            min="0.0"
                            type="number"
                            step="0.01"
                            data-bind="attr: {'max' : $data.selectedRow().metadata.total_no_gst},
                                    value: $data.selectedRow().cost"
                        >
                    </div>

                    <button style="float: right;"
                            type="submit"
                            class="confirm-btn"
                    >
                        Edit Invoice
                    </button>

                </form>

            </div>
        </div>


        <!-- footer -->
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_8">
					<a data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button" style="width: 162px;">
						<span class="btn-small-letter">Back to </span>
						<span class="btn-letter">main</span>
					</a>
				</div>
			</div>
		</div>

	</div>
	<!-- /content -->
</div>