<div data-role="page" id="errorSlideShow" class="bgBody"> 
   <div data-role="content" data-theme="none">
        <div class="content-wrapper" style="margin-bottom:160px;">
			<div>
				<a data-bind="visible: Images().length > 0, click:function(){ShowingMediaType(0);}">Images </a>
				<a data-bind="visible: Videos().length > 0, click:function(){ShowingMediaType(1);}">Videos</a>
			</div>
			<div data-bind="if:Media()">
				<div data-bind="visible:Media().media_type == 1">
					<div class="img-wrap">
						
						<div class="image_panel"> 
							<img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: Media().media_path}" />
							<div data-bind="if:Tags().length > 0">
								
								<div id="planetmap" class="planetmap" data-bind=" foreach: Tags()">
									<div class="arrow" data-bind="style:{width:(105 - $data.left)+'%', height:'2px', left: $data.left+'%', top: $data.top+'%' }"></div>
									<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' , top: $data.top+'%'}">
										<div class="tagged_title" style="display:block;"> <span data-bind="text: $data.text"></span> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a data-bind="click:function(){nextMedia();}">Prev</a>
					<a data-bind="visible:IsRowling(), click:function(){pause();}">Pause</a>
					<a data-bind="visible:!IsRowling(), click:function(){start();}">Start</a>
					<a data-bind="click:function(){previousMedia();}">Next</a>
				</div>
				<div data-bind="visible:Media().media_type == 2">
					<div class="grid_6 myvideo-warp">
						<video controls class="myvideos">
							<source data-bind="attr: {src: Media().media_path}" type="video/mp4">
							<source data-bind="attr: {src: Media().media_path}" type="video/ogg">
							Your browser does not support HTML5 video. 
						</video>
						<ul data-bind="foreach: Tags()" class="mycomentlist">
							<li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
								<table width="97%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><span data-bind="html: $data" class="commint"></span></td>
									</tr>
								</table>
							</li>
						</ul>
					</div>
					<a data-bind="click:function(){nextMedia();}">Prev</a>
					<a data-bind="click:function(){previousMedia();}">Next</a>
				</div>
				Error: <span data-bind="text:Media().error_title"></span>
				Images <span data-bind="text:(ImagePos()+1)"></span><span>/</span><span data-bind="text:MediaNumber()"></span>
			</div>
		</div>
	</div>
	<div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_10"><a href="#" data-bind="visible: !returnToCategorie, click: function(){IsRowling(false);posChangePage('#errorList');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Error List</span></a></div>
            <div class="grid_2 suffix_10"><a href="#" data-bind="visible: returnToCategorie, click: function(){IsRowling(false);posChangePage('#errorReport');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Error</span></a></div>
        </div>
    </div>
</div>