<div data-role="page" id="errorEdit" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>
	<div data-bind="template: { name: 'userInfo'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
			<!--label for="error_title" class="apostasi">Title<span class="mandatoris">*</span>:</label>
			<input type="text" name="error_title" data-bind="value: error_title" value=""  />
			<label for="error_desc" class="apostasi">Description<span class="mandatoris">*</span>:</label>
			<textarea name="error_desc" id="error_desc" data-bind="value: error_desc" value="" placeholder="Write the desciption here"  class="myordernote"></textarea>
			<label for="error_link_customers" class="apostasi">Customer<span class="mandatoris">*</span>:</label>
			<input type="text" name="error_link_customers" data-bind="value: error_link_customers" value=""  />
			<label for="error_link_order" class="apostasi">Select Order<span class="mandatoris">*</span>:</label>
			<input type="text" name="error_link_order" data-bind="value: error_link_order" value=""  />
			<label for="error_linked_garment" class="apostasi">Select Garments <span class="mandatoris">*</span>:</label>
			<input type="text" name="error_linked_garment" data-bind="value: error_linked_garment" value=""  />
			<label for="error_link_users" class="apostasi">Salesman<span class="mandatoris">*</span>:</label>
			<input type="text" name="error_link_users" data-bind="value: error_link_users" value=""  />
			<label for="error_reason" class="apostasi">Reason<span class="mandatoris">*</span>:</label>
			<input type="text" name="error_reason" data-bind="value: error_reason" value=""  />
		</div>
		<div class="bigladeling left_position stepbigbuts"> <a data-bind="click: cancelEdit"> <span class="prevstep"></span> <span class="firstpart">Cancel and</span> <span class="bigpart">Back</span> </a> </div>
		<div class="bigladeling right_position stepbigbuts"> <a data-bind="click: editError"> <span class="nextstep"></span> <span class="firstpart">Submit</span> <span class="bigpart">Reply</span> </a> </div>-->
		
		<label for="error_title" class="apostasi">Title<span class="mandatoris">*</span>:</label>
		<input type="text" name="error_title" data-bind="value: error_title" value=""  />
		
		<label for="error_desc" class="apostasi">Description<span class="mandatoris">*</span>:</label>
		<textarea name="error_desc" id="error_desc" data-bind="value: error_desc" value="" placeholder="Write the desciption here"  class="myordernote"></textarea>
		
		<label for="error_cat" class="apostasi">Category<span class="mandatoris">*</span>:</label>
		<select name="error_cat" id="error_cat" data-bind="options: errorCatgory.optionsSelect1, value: errorCatgory.categorie1, optionsText: $data, optionsText: 'category_name', optionsCaption: 'category'">
		</select>
		<select name="error_cat1" id="error_cat1" data-bind="options: errorCatgory.optionsSelect2, value: errorCatgory.categorie2, optionsText: 'category_name', optionsCaption: 'category', visible: errorCatgory.willCat2Appear">
		</select>
		<select name="error_cat2" id="error_cat2" data-bind="options: errorCatgory.optionsSelect3, value: errorCatgory.categorie3, optionsText: 'category_name', optionsCaption: 'category', visible: errorCatgory.willCat3Appear">
		</select>
		<select name="error_cat3" id="error_cat3" data-bind="options: errorCatgory.optionsSelect4, value: errorCatgory.categorie4, optionsText: 'category_name', optionsCaption: 'category', visible: errorCatgory.willCat4Appear">
		</select>
		
		<label for="error_link_customers" class="apostasi">Customer<span class="mandatoris">*</span>:</label>
		<input type="text" name="error_link_customers" data-bind="value: customers.customerAutocomplete, valueUpdate: 'keyup'" value=""  /><!--do something to the click here-->
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: customers.customerAutocompleteList">
			<li class="grid_12"  data-bind="click: $parent.customers.selectedCustomer">
				<div class="grid_4"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
			</li>
		</ul>
		<div class="grid_4"><span> Customer: </span><span data-bind="text: customers.selectedCustomer().customer_first_name"></span> <span data-bind="text: customers.selectedCustomer().customer_last_name"></span> </div>
		
		<label for="error_link_order" class="apostasi">Select Order<span class="mandatoris">*</span>:</label>
		<input type="text" name="error_link_order" data-bind="value: customerOrder.ordersAutocomplete, valueUpdate: 'keyup'" value=""  />
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: customerOrder.ordersAutocompleteList">
			<li class="grid_12"  data-bind="click: $parent.customerOrder.selectedOrder">
				<div class="grid_4"> <span data-bind="text: order_id"></span> <span data-bind="text: ordered_date"></span> </div>
			</li>
		</ul>
		<div class="grid_4"><span> Order: </span><span data-bind="text: customerOrder.selectedOrder().order_id"></span> <span data-bind="text: customerOrder.selectedOrder().ordered_date"></span> </div>
		
		<label for="error_linked_garment" class="apostasi">Select Garments <span class="mandatoris">*</span>:</label>
		<input type="text" name="error_linked_garment" data-bind="value: orderGarments.garmentsAutocomplete, valueUpdate: 'keyup'" value=""  />
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: orderGarments.garmentsAutocompleteList">
			<li class="grid_12"  data-bind="click: $parent.orderGarments.selectedGarment">
				<div class="grid_4"> <span data-bind="text: garment_name"></span> <span data-bind="text: garment_fabric"></span> </div>
			</li>
		</ul>
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: orderGarments.selectedGarments">
			<li class="grid_12"  data-bind="click: $parent.orderGarments.removeGarments">
				<div class="grid_4"><span> Garment: </span><span data-bind="text: garment_name"></span> <span data-bind="text: garment_fabric"></span> </div>
			</li>
		</ul>
		
		
		<label for="error_link_users" class="apostasi">Salesman<span class="mandatoris">*</span>:</label>
		<input type="text" name="error_link_users" data-bind="value: users.userAutocomplete,  valueUpdate: 'keyup'" value=""  />
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: users.usersAutocompleteList">
			<li class="grid_12"  data-bind="click: $parent.users.selectedUser">
				<div class="grid_4"> <span data-bind="text: first_name"></span> <span data-bind="text: last_name"></span> </div>
			</li>
		</ul>
		<div class="grid_4"><span> User: </span><span data-bind="text: users.selectedUser().first_name"></span> <span data-bind="text: users.selectedUser().last_name"></span> </div>
		
		<label for="error_reason" class="apostasi">Reason<span class="mandatoris">*</span>:</label>
		<input type="text" name="error_reason" data-bind="value: error_reason" value=""  />
		<label for="error_priority" class="apostasi">Priority <span class="mandatoris">*</span>:</label>
		<select name="error_priority" id="error_priority" data-bind="options: priority, value: error_priority, optionsValue: 'priority_text', optionsText: 'priority_text', optionsCaption: 'priority'">
		</select>
	</div>
	<div class="bigladeling left_position stepbigbuts"> <a data-bind="click: cancelEdit"> <span class="prevstep"></span> <span class="firstpart">Cancel and</span> <span class="bigpart">Back</span> </a> </div>
	<div class="bigladeling right_position stepbigbuts"> <a data-bind="click: editError"> <span class="nextstep"></span> <span class="firstpart">Submit</span> <span class="bigpart">Reply</span> </a> </div>
		
	</div>
</div>