<div data-role="page" id="fittingList" class="bgBody">

  <style>

  .customer-info-pop-up {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 200;
    width: 600px;
    height: 520px;
    background: #fff;
    padding: 20px;
    border: solid 1px;
    border-radius: 5px;
  }

  .form-btn {
    float: left;
    color:white;
    padding: 5px;
    border-radius: 4px;
  }

  .customer-info-pop-up input {
    width: 70%;
  }

  .fitting-list-table {
    border-spacing: 0 2px;
    width: 100%;
  }
  .fitting-list-table td, tr {
    text-align: center;
    padding-right: 15px;
  }

  .fitting-list-table tbody tr {
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    color: rgb(133, 133, 133);
    text-shadow: none;
    margin-top: 10px;
    font-weight: 650;
  }

  .fitting-list-table tbody tr:hover {
    border-radius: 4px;
    background-color: rgb(148, 141, 115);
    color: white;
    text-shadow: none;
    margin-top: 10px;
    font-weight: 650;
  }

  .fitting-list-table-hover {
     border-radius: 4px;
    background-color: rgb(148, 141, 115);
    color: white;
    text-shadow: none;
    margin-top: 10px;
    font-weight: 650;
  }

  .customer-balance-pop-up {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 200;
    width: 500px;
    height: 450px;
    background: #fff;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
  }

  .balance-h {
    float: left;
  }

  .send-invoice-email-btn {
    float: right;
    width: 18%;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
  }

  .close-balance-div {
    float: right;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
    position: relative;
    left: 10px;
    bottom: 10px;
    border-radius: 5px;
    font-weight: 900;
  }

  #seach-customer {
    position:relative;
    left: 150px;
    width: 200px;
    font-size:20px;
  }

  .clickable-div {
    text-decoration: underline;
  }
  .clickable-div:hover {
    cursor: pointer;
  }

  .page-changer-arrow {
    padding:-4px;
    background-color: rgb(235, 235, 235);
    color: rgb(148, 141, 115);
    margin-right: 5px;
  }

  .input-name-span {
      margin: 0;
      font-weight: 700;
   }

   .input-span {
    display: inline-block;
    min-width: 130px;
   }

   .input-value {
    width: 70%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    background: white;
    border: solid 1px;
   }

   .cities-select {
    font-size: 20px;
   }

   .cancel-btn {
    float: right;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
    position: relative;
    left: 20px;
    bottom: 30px;
    border-radius: 5px;
    font-weight: 900;
   }

   .fitting-list-loader {
      background: url('img/loader.gif') no-repeat center center;
      width: 200px;
      height: 200px;
      margin: 0 auto;
   }
   .unlock-gar-fitting-wrapper {
    display: inline-block;
    font-size: 20px;
    background: rgba(215, 180, 106, 1);
    color: black;
    position: relative;
    left: 250px;
    padding: 11px;
    border-radius: 9px;
   }
</style>

  <h1>Fittings List
    <div style="display: inline-block"><input placeholder="Search Customer" id="seach-customer" type="text" name=""></div>
    <div class="unlock-gar-fitting-wrapper" data-bind="click: function() { posChangePage('#unlockCustomersFittings'); } "><a>Unlock Customers Garments</a></div>
  </h1>



   <div class="content-wrapper" id="no-fittings-available-list-div" data-bind="visible: FittingList().length == 0">

      <div class="fitting-list-loader"></div>
      <p style="text-align: center;">Loading Fitting list....</p>

    </div>


  <div class="above-j-header container_16" style="display: none">
    <div class="WithTailor">Assigned Fitting</div>
    <div class="FittingUnassigned">Unassigned Fitting</div>
    <div class="FittingStepSkipped">Incomplete Fitting</div>
    <div class="Completed">Completed Garment</div>
    <div class="AvaibleFitting">Available Garment</div>
  </div>
  <div data-role="content" data-theme="d" style="background:none !important; border:none; padding-top:90px">

    <div class="content-wrapper" data-bind="visible: FittingList().length > 0">
      <div class="container_16">
        <div class="grid_16">
          <div class="grid_6 prefix_1" style="text-align:right; display:none;"><span class="maketeamf avaible">Available</span><span class="maketeamf ready">With Tailor</span><span class="maketeamf tailor">Assigned</span><span class="maketeamf finished" style="margin:0px;">Completed</span></div>
        </div>
        <div class="clear"></div>

        <div data-bind="if : FittingList().length > 0">

          <table class="fitting-list-table">

            <thead>
              <tr style="font-weight: 700">
                <td>ORDER</td>
                <td>CUSTOMER NAME</td>
                <td width="200px">TIME FROM ORDER</td>
                <td>BALANCE</td>
                <td>LAST FITTING</td>
                <td>GARMENTS</td>
                <td>ACTION</td>
              </tr>
            </thead>

            <tbody data-bind="foreach: FittingList">

              <tr class="main-tr">
                <td>
                  <div>
                    <div style="font-weight:900;font-size:20px" data-bind="text:$data.order_id"></div>
                    <div style="font-size: 10px;" data-bind="text:$data.formatted_ordered_date"></div>
                  </div>
                </td>

                <td class="c-name-td">
                  <div class="clickable-div">
                    <span id="customer-name-span" data-bind="text:$data.customer_first_name + ' ' + $data.customer_last_name, click: function() { client_data_pop_up($data.customer_id) }, clickBubble: false"></span>
                  </div>
                </td>

                <td>
                  <div data-bind="text: $data.time_from_order + ' days' "></div>
                </td>

                <td data-bind="click: function() { openBalancePopUp($data.order_id); }">
                    <div class="clickable-div" data-bind="text: parseFloat($data.balance).toFixed(2)"></div>
                </td>

                <td>
                  <div data-bind="text: $data.last_fitting"></div>
                </td>
                <td>
                  <div data-bind="html: products"></div>
                </td>

                <td>
                  <button style="background-color:rgb(161, 190, 55);color:white;min-width: 150px" data-bind="click: function() { $(this).closest('.main-tr').addClass('fitting-list-table-hover'); loadOrderGarmentFittings($data.customer_id, $data.order_id) }"> GO TO FITTINGS </button>
                  <button style="background-color:red;color: white;" data-bind="click: loadFitting" >Select Garment</button>
                </td>

              </tr>
            </tbody>
          </table>

        </div> <!-- end if length div -->

        <div class="grid_6 suffix_5 prefix_5">
          <div class="grid_2 page-changer-arrow"><a href="#" data-role="button" data-bind="click: firstPage">&lt;&lt;</a></div>
          <div class="grid_2 page-changer-arrow"><a href="#" data-role="button" data-bind="click: previousPage, enable: hasPreviousPage">&lt;</a></div>
          <div class="grid_2 page-changer-arrow"><a href="#" data-role="button" data-bind="click: nextPage, enable: hasNextPage">&gt;</a></div>
          <div class="grid_2 page-changer-arrow"><a href="#" data-role="button" data-bind="click: lastPage">&gt;&gt;</a></div>
        </div>
      </div>
    </div>



  </div>



  <div class="customer-info-pop-up" style="display: none">
    <!-- Will receibe the HTML generated in the viewmodel with ES6 Javascript -->
  </div>

  <div class="customer-balance-pop-up" style="display: none">

  </div>

  <div class="j-footer container_12">
    <div class="half-em-around">
      <div class="grid_2 suffix_8"><a href="#" data-bind="click: function() { posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
            <!-- <div class="grid_2"><a data-bind="click: function(){posChangePage('#customerFittingSearch');}" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Search</span><span class="btn-letter"> Customer</span></a></div> -->

      <div class="grid_2 ">
        <a onclick="posChangePage('#outsideCustomerFitting')"
          class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button"
          role="button">
          <span class="btn-small-letter">Outside customers</span>
          <span class="btn-letter"> Fitting</span>
        </a>
      </div>
    </div>
  </div>


  <script>

    $("#seach-customer").off("keyup").on("keyup", function() {
      const seach = $(this).val();

      $(".main-tr").hide();

      console.log("Searcing for: ", seach);

      $(".c-name-td").each(function() {
        const name = $(this).html().toLowerCase();

        if(name.includes(seach.toLowerCase()))
        {
          $(this).closest(".main-tr").show();
        }

      });

    });




  /*Submits data to server to update customer details*/
  submit_customer_data = function() {

    const confirmAction = () => {
      const address1 = $(".customer-info-pop-up").find(".address1").val();
      const address2 = $(".customer-info-pop-up").find(".address2").val();
      const phone = $(".customer-info-pop-up").find(".phone").val();
      const postalCode = $(".customer-info-pop-up").find(".postal").val();
      const customer_id = $(".customer-info-pop-up").find(".accept-btn").data("customerId");
      const city = $(".customer-info-pop-up").find("select.cities-select").val();

      $.ajax({
          type: 'POST',
          url: BUrl + "alterations_pos/update_customer_info",
          dataType: 'json',
          data : {
                  "user" : authCtrl.userInfo,
                  "customer_id" : customer_id,
                  "address1" : address1,
                  "address2" : address2,
                  "phone" : phone,
                  "postalCoode" : postalCode,
                  "city" : city
                },
          async: true,
          success: function(ret) {

              if(ret.result === "success")
              {
                $.jGrowl('Customer details updated successfully!');
              }
              else
              {
                alert("Could not update customer details, please try again");
              }

              $(".customer-info-pop-up").html("").hide();

          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert("Something wrong :(, please try again");
            console.log("fitting comments endpoint cannot be reached! ");
            console.log(XMLHttpRequest +" "+textStatus+" "+errorThrown);
          }
      }); // end ajax
    }

    pos_confirm({msg: 'Update Customer Data ?', confirmAction})


  } // end function

  cancel_customer_data = function() {
    $('.customer-info-pop-up').html("").hide();
  }


  openBalancePopUp = function(order_id) {
    console.log("Opening Balance pop up...");

    $.ajax({
        type: 'POST',
        url: BUrl + "alterations_pos/get_balance_info",
        dataType: 'json',
        data : {
                "user" : authCtrl.userInfo,
                "order_id" : order_id
              },
        async: true,
        success: function(ret) {

          const customerName = $("#customer-name-span").html();

            const $html = `
                <div class="balance-pop-up">

                  <h1 class="balance-h">BALANCE</h1>
                  <div class="close-balance-div" onclick="$('.customer-balance-pop-up').hide();">
                    X
                  </div>

                  <br style="clear:both">
                  <h1>${customerName}</h1>

                  <p class="balance-data-p">ORDER: <strong>${order_id}</strong></p>
                  <p class="balance-data-p">ORDER DATE: <strong>${ret.order_data.order_date}</strong></p>
                  <p class="balance-data-p">TOTAL AMOUNT: <strong>$ ${ret.order_data.total_amount.toFixed(2)}</strong></p>
                  <p class="balance-data-p">DEPOSIT AMOUNT: <strong>$ ${ret.order_data.deposit_amount}</strong></p>
                  <p class="balance-data-p">DEPOSIT AMOUNT DATE: <strong>${ret.order_data.deposit_date}</strong></p>
                  <br>
                  <p class="balance-data-p">BALANCE DUE: <strong>$ ${(ret.order_data.total_amount - ret.order_data.total_deposits).toFixed(2)}</strong></p>

                  <img src="img/fitting icons/send_email_.png" onclick="send_invoice_email(${order_id});" class="send-invoice-email-btn">

                  <br style="clear:both">
                </div>
              `;


            $(".customer-balance-pop-up").html($html).show();





        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Something wrong :(, please try again");
          console.log(XMLHttpRequest +" "+textStatus+" "+errorThrown);
        }
    });

    send_invoice_email = function(order_id) {

      console.log("sending invoice for ... ", order_id);

      const confirmAction = () => {
        $.ajax({
          type: 'POST',
          url: BUrl + "alterations_pos/send_invoice_email",
          dataType: 'json',
          data: {
            "user": authCtrl.userInfo,
            "order_id": order_id
          },
          async: true,
          success: function (ret) {

            console.log("customer invoice email", ret);
            $.jGrowl('Customer invoice sent successfully!');

          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Something wrong :(, please try again");
            console.log(XMLHttpRequest + " " + textStatus + " " + errorThrown);
          }
        });
      }

      pos_confirm({msg: "Send Invoice to customer's email ?", confirmAction})

    }


  }


</script>


</div> <!-- End page wrapper -->


