<style>
    .fittingTailor .pop-up {
        width: 90%;
        height: 93%;
    }

    table.tailor-work-load {
        width: 96%;
        margin: 0 auto;
    }

    table.tailor-work-load td, table.tailor-work-load th {
        padding: 9px 5px;
        border-bottom: solid 1px;
        text-align: center;
    }

    table.tailor-work-load tr:hover {
        background-color: gainsboro;
    }

    .link_to_alterations{
        color: blue;
        text-decoration: underline;
    }
</style>

<!-- <link rel="stylesheet" href="css/bootstrap_grid.min.css"> -->

<div class="fittingTailor">
    <div class="pop-up" id="fittingTailors-popup" data-bind="with: $data" style="display: none">
        <!-- close button -->
        <div class="close-pop-up" data-bind="click: function() { $('#fittingTailors-popup').hide(500) }">X
        </div>


        <!-- body -->
        <div class="popup-body">
            <h1>Tailors Workload</h1>
            <table class="tailor-work-load">
                <thead>
                    <th>Tailor Name</th>
                    <th>Tailor Location</th>
                    <th>Number of Alterations</th>
                    <th>Jacket</th>
                    <th>Pants</th>
                    <th>Vest</th>
                    <th>Shirt</th>
                </thead>
                <tbody data-bind="foreach: $data.tailorsWorkLoad">
                    <td data-bind="text: $data.tailor_name"> </td>
                    <td data-bind="text: $data.tailor_location"> </td>
                    <td data-bind="click: function() {
                                                $parent.selectedTailor($data);
                                                $('#fittingTailors-alterations-popup').show(500);
                                            }">
                        <span class="link_to_alterations"  data-bind="text: $data.alterations.length"></span>
                    </td>

                    <!-- Jacket -->
                    <td data-bind="text: $data.num_alterations.jacket"></td>
                    <!-- Pants -->
                    <td data-bind="text: $data.num_alterations.pants"></td>
                    <!-- Vest -->
                    <td data-bind="text: $data.num_alterations.vest"></td>
                    <!-- Shirt -->
                    <td data-bind="text: $data.num_alterations.shirt"></td>
                </tbody>
            </table>


        </div>

        <!-- footer -->
        <div class="j-footer justify-content-between">
        </div>
    </div>

    <div data-bind="if: $data.selectedTailor()">
        <div class="pop-up" id="fittingTailors-alterations-popup" data-bind="with: $data" style="display: none">
            <!-- close button -->
            <div class="close-pop-up" data-bind="click: function() { $('#fittingTailors-alterations-popup').hide(500) }">X
            </div>
    
    
            <!-- body -->
            <div class="popup-body">

                <h1>Tailors Workload</h1>
                <table class="tailor-work-load">
                    <thead>
                        <th>Garment Name</th>
                        <th>Order Date</th>
                        <th>Fabric Code</th>
                        <th>Tailor Location</th>
                        <th>Request Date</th>
                        <th>Is on going</th>
                        <th>Customer Name</th>
                    </thead>
    
                    <tbody data-bind="foreach: $data.selectedTailor().alterations">
                        <td data-bind="text: $data.garment_name"></td>
                        <td data-bind="text: $data.order_date"></td>
                        <td data-bind="text: $data.fabric_code"></td>
                        <td data-bind="text: $data.tailor_location"></td>
                        <td data-bind="text: $data.request_date"></td>
                        <td data-bind="text: $data.is_ongoing == '0' ? 'NO' : 'YES'"></td>
                        <td data-bind="text: $data.customer_name"></td>
                    </tbody>
                </table>
    
    
            </div>
    
            <!-- footer -->
            <div class="j-footer justify-content-between">
            </div>
        </div>
    </div>


</div>