<div data-role="page" id="garmentsVest" class="bgBody">
  <div data-bind="template: { name: 'stepstemplate'}"></div>
  <div data-role="content" data-theme="a" class="panwapola">
    <div class="content-wrapper">
      <div class="container_16">
        <div data-bind="with: garmentsVM">
          <div class="grid_16 smalsteps">
            <ul data-bind="foreach: workflow">
              <li data-bind="click: $parent.currentStep, visible: $data.id !== 'Custom' || ($data.id === 'Custom' && $parent.customCount), css: { 'selected': $parent.currentStep().id === $data.id, 'completed': $data.completed === true }" class="">
                <div data-bind="text: title"></div>
              </li>
            </ul>
          </div>
          <script>
	function runEffect() {
		var selectedEffect = 'slide';
		var options = {};
	//	$( "#scrollContent" ).effect( selectedEffect, options, 650, callback );
		$( "#garmentPreview" ).effect( selectedEffect, options, 500, callback );
	};

	function callback() {
		;
	};
</script>
          <script type="text/javascript">
  function toggle_visibility(id) {
	  var e = document.getElementById(id);
	  if(e.style.display == 'block')
		  e.style.display = 'none';
	  else
		  e.style.display = 'block';
  }
</script>

          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 0" class="inpickme" id="scrollWrapper">
              <h2 data-bind="visible: extraVestFabricDependencies() == true">Select Fabric</h2>
              <div class="grid_16 littleing" data-bind="visible: extraVestFabricDependencies() == true">
              	<div class="grid_7" data-bind="foreach:vestData">
	            <!--    <div data-bind="visible:parentSuitTimestampID == '' ">	-->
                      <div class="grid_15 garmentbreak fabricselect">
                        <div class="grid_16 fivepadding tomakegreen" data-bind="css: { 'makegreen': vestFabric.title != 'none' || VestHasCustomerFabric}, visible: parentSuitTimestampID == ''">
                          <div data-bind="if: parentSuitTimestampID != ''">
                            <div data-bind="if: $parents[1].garmentsList()[2].count() > 0">
                              <div data-bind="foreach: $parents[1].dumpOrder().Suit.suit">
                                <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                              </div>
                            </div>
                          </div>
                          <span class="garmenttype">Vest <span data-bind="text: variantId + 1"></span></span>
                          <div name="FabricCheck" class="thirty_optioncell simpleclick garment_options" data-bind="css: {  }, modifiedVestBooleanOptions:[$index(), 'FabricCheck', 'selecteds']">Select Fabric Box</div>
                          <div class="left_position garment_options fabricinfo">
							  <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span>
							  <img name="VestFabricImage" data-bind="attr:{src: vestFabric.fabricImage}" style="width:30px; height: 30px" />
						  </div>
                          <div class="thirty_optioncell open_style_notes garment_options_two"  data-bind="switchpopup:[$index(), 'VestFabricNotesPopup']">OPEN </div>



                    <div name="VestFabricNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestFabricNotes">Vest <span data-bind="text: variantId + 1"></span> Fabric General Notes &amp; instructions </p>
                        <textarea type="text" name="VestFabricNotes" data-bind="value: VestFabricNotes, updateFormOnChange: VestFabricNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestFabricNotesPopup']">Save And Close</a>
                        </div>
                    </div>

                        </div>
                      </div>
                 <!--   </div>	-->
                </div>
                <div class="grid_9">
                  <div data-bind="with: fabricsVM">
                    <div data-target-attr="vestFabric" data-bind="template: { name: 'fabricsSelectorTPL'}"></div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <h2>Select Fit</h2>


              <div class="grid_16 gAttr">
                <div class="vestFitList" data-target-attr="vestFit" data-bind="foreach: vestFitList" >
                  <div class="MainListElementDisplay">
                    <div name="vestFitDiv" class="grid_44 MainListElement" >
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestFitDiv']"> <span data-bind="text: $data"></span> </div>
                      <span name="vestFitList" data-bind="text: $data" style="display:none" ></span>
                      <div class="details_box" style="margin-top:34px">
                        <div class="grid_16" >
                          <div class="grid_16 help_titles">
                            <div class="grid_5">Garment</div>
                            <div class="thirty_optioncell right_position">Select</div>
                          </div>
                          <div class="grid_16" data-bind="foreach:$parent.vestData">
                            <div name="vestFitEachGarment" class="grid_16 bottomthreemarg triggerr offtrigger">
                              <div class="grid_7">
                                <div class="label_style">
                                  <div data-bind="if: parentSuitTimestampID != ''">
                                    <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                      <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                        <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <span>Vest <span data-bind="text: variantId + 1"></span></span> </div>
                              </div>
                              <div name="vestFit" class="thirty_optioncell listsimpleclick simpleclick right_position" data-bind="css: { 'selecteds': vestFit === $parent }, click: function(){ vestFit = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestFitList', 'vestFit', 'none', 'vestFitEachGarment', 'vestFitDiv', 'Fit']">box </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
          </div>

          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 1" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Lapel</h2>
              <div class="grid_16 gAttr" >
                <div data-target-attr="vestNecklineStyle" data-bind="foreach: vestNecklineStyleList" class="vestNecklineStyleList">
                  <div data-bind="foreach:$parent.vestData">
                  <div name="VestFitAndLapelNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestFitAndLapelNotes">Vest <span data-bind="text: variantId + 1"></span> Lapel Notes </p>
                        <textarea type="text" name="VestFitAndLapelNotes" data-bind="value: VestFitAndLapelNotes, updateFormOnChange: VestFitAndLapelNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestFitAndLapelNotesPopup']">Save And Close</a>
                        </div>
                    </div>
                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="vestNecklineStyleDiv" class="grid_55 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'vestNecklineStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestNecklineStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <span name="vestNecklineStyleList" data-bind="text: id" style="display:none"></span>
                        <div class="grid_16" data-bind="foreach:$parent.vestData"> <!--	foreach:$parents[1].dumpOrder().Vest.Vest	-->
                          <div name="vestNecklineStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style">
                                <div data-bind="if: parentSuitTimestampID != ''">
                                  <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                    <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                      <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                    </div>
                                  </div>
                                </div>
                                <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'VestFitAndLapelNotesPopup']">OPEN </div>
                            <div name="vestNecklineStyle" class="thirty_optioncell listsimpleclick simpleclick right_position" style="float:left;" data-bind="css: { 'selecteds': vestNecklineStyle.id === $parent.id }, click: function(){ vestNecklineStyle = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestNecklineStyleList', 'vestNecklineStyle', 'vestCustomLapel', 'vestNecklineStyleEachGarment', 'vestNecklineStyleDiv', 'Lapel Style']">box</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>







            </div>
          </div>

          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 2" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Bottom Style</h2>
              <div class="grid_16 gAttr" >
                <div data-target-attr="vestBottomStyle" data-bind="foreach: vestBottomStyleList" class="vestBottomStyleList">
                  <div data-bind="foreach:$parent.vestData">
                  <div name="VestBottomNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestBottomNotes">Vest <span data-bind="text: variantId + 1"></span> Bottom Notes </p>
                        <textarea type="text" name="VestBottomNotes" data-bind="value: VestBottomNotes, updateFormOnChange: VestBottomNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestBottomNotesPopup']">Save And Close</a>
                        </div>
                    </div>


                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="vestBottomStyleDiv" class="grid_55 MainListElement"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'vestBottomStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestBottomStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <span name="vestBottomStyleList" data-bind="text: id" style="display:none"></span>
                        <div class="grid_16" data-bind="foreach:$parent.vestData"> <!--	foreach:$parents[1].dumpOrder().Vest.Vest	-->
                          <div name="vestBottomStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style">
                                <div data-bind="if: parentSuitTimestampID != ''">
                                  <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                    <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                      <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                    </div>
                                  </div>
                                </div>
                                <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'VestBottomNotesPopup']">OPEN </div>
                            <div name="vestBottomStyle" class="thirty_optioncell listsimpleclick simpleclick right_position" style="float:left;" data-bind="css: { 'selecteds': vestBottomStyle.id === $parent.id }, click: function(){ vestBottomStyle = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestBottomStyleList', 'vestBottomStyle', 'none', 'vestBottomStyleEachGarment', 'vestBottomStyleDiv']">box</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 3" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Buttons Style</h2>
              <div class="grid_16 gAttr" >
                <div data-target-attr="vestButtonNumber" data-bind="foreach: vestButtonNumberList" class="vestButtonNumberList">
                  <div data-bind="foreach:$parent.vestData">
                  <div name="VestButtonsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestButtonsNotes">Vest <span data-bind="text: variantId + 1"></span> Button Notes </p>
                        <textarea type="text" name="VestButtonsNotes" data-bind="value: VestButtonsNotes, updateFormOnChange: VestButtonsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestButtonsNotesPopup']">Save And Close</a>
                        </div>
                    </div>
                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="vestButtonNumberDiv" class="grid_44 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'vestButtonNumberDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestButtonNumberDiv']"> <span data-bind="text: title"></span> </div>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <span name="vestButtonNumberList" data-bind="text: id" style="display:none"></span>
                        <div class="grid_16" data-bind="foreach:$parent.vestData"> <!--	foreach:$parents[1].dumpOrder().Vest.Vest	-->
                          <div name="vestButtonNumberEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style">
                                <div data-bind="if: parentSuitTimestampID != ''">
                                  <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                    <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                      <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                    </div>
                                  </div>
                                </div>
                                <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'VestButtonsNotesPopup']">OPEN </div>
                            <div name="vestButtonNumber" class="thirty_optioncell listsimpleclick simpleclick right_position" style="float:left;" data-bind="css: { 'selecteds': vestButtonNumber.id === $parent.id }, click: function(){ vestButtonNumber = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestButtonNumberList', 'vestButtonNumber', 'vestCustomButtons', 'vestButtonNumberEachGarment', 'vestButtonNumberDiv', 'Buttons Style']">box</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="giros grid_15">

                <div class="grid_15" data-bind="foreach:vestData">
                  <div class="grid_15" name='vestCustomButtons' data-bind="visible: vestButtonNumber.id === '123'" >
                    <div class="grid_4" style="float:left;">
                      <div data-bind="if: parentSuitTimestampID != ''">
                        <div data-bind="if: $parents[1].garmentsList()[2].count() > 0">
                          <div data-bind="foreach: $parents[1].dumpOrder().Suit.suit">
                            <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                          </div>
                        </div>
                      </div>
                      <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                    <div style=" background-color:#FFF" class="thirty_optioncell open_style_notes right_position"  data-bind="vestswitchcustompopup:[$index(), 'vestCustomButtonsNotesPopup']">OPEN </div>
                    <div style=" background-color:#FFF" class="thirty_optioncell open_style_notes right_position"  data-bind="vestswitchcustompopup:[$index(), 'vestCustomButtonsImagePopup', 'vestCustomButtonsMedia', 'vestCustomButtonsImage']">OPEN </div>
                  </div>
                </div>
              </div>
              <div name="vestCustomButtonsNotesPopup" id="light" class="white_content"> <a href = "javascript:void(0)" class="close_popups" data-bind="closepopup:['vestCustomButtonsNotesPopup']">Close</a>
                <div class="grid_16" data-target-attr="vestCustomButtonsNotes">
                  <div class="tenmarg">Custom Vest Lapel Notes </div>
                  <textarea type="text" name="vestCustomButtonsNotes" data-bind="value: vestCustomButtonsNotes, updateFormOnChange: vestCustomButtonsNotes, valueUpdate: 'afterkeydown'" style="min-height:120px;"></textarea>
                </div>
              </div>
              <div name="vestCustomButtonsImagePopup" id="light" class="white_content"> <a href = "javascript:void(0)" class="close_popups" data-bind="closepopup:['vestCustomButtonsImagePopup']">Close</a>
                <div class="grid_8 prefix_4 suffix_5">
                  <input id="files" type="file" accept="image/*" data-bind="visible: false"/>
                  <div id="vestCustomButtonsMediaBtn" data-role="button">Upload media</div>
                </div>
                <output class="grid_8 prefix_5 suffix_5" id="vestCustomButtonsMedia" data-bind="visible:vestCustomButtonsImage() != ''" ></output>
                <div class="grid_8 prefix_4 suffix_5 selectlist" data-target-attr="vestCustomButtonsImage">
                  <input id="vestCustomButtonsImage" name="vestCustomButtonsImage" type="text" data-bind="visible: false, value: vestCustomButtonsImage"/>
                  <!-- <div data-role="button" class="textCloneBtn" id="textCloneBtn1">Apply</div> -->
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 4" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Pockets</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="vestPocketStyle" data-bind="foreach: vestPocketStyleList" class="vestPocketStyleList">
                  <div data-bind="foreach:$parent.vestData">
                  <div name="VestPocketsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestPocketsNotes">Vest <span data-bind="text: variantId + 1"></span> Pocket Notes </p>
                        <textarea type="text" name="VestPocketsNotes" data-bind="value: VestPocketsNotes, updateFormOnChange: VestPocketsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestPocketsNotesPopup']">Save And Close</a>
                        </div>
                    </div>


                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="vestPocketStyleDiv" class="grid_55 MainListElement" > <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'vestPocketStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestPocketStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="vestPocketStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16" >
                          <div class="grid_16 help_titles">
                            <div class="grid_5">Garment</div>
                            <div class="thirty_optioncell right_position">Double<br/>
                              Breast<br/>
                              Pocket</div>
                            <div class="thirty_optioncell right_position">Breast<br/>
                              Pocket</div>
                            <div class="thirty_optioncell right_position">Notes</div>
                            <div class="thirty_optioncell right_position">Select</div>
                          </div>
                          <div class="grid_16" data-bind="foreach:$parent.vestData">
                            <div name="vestPocketStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                              <div class="grid_7">
                                <div class="label_style">
                                  <div data-bind="if: parentSuitTimestampID != ''">
                                    <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                      <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                        <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                              </div>
                              <div class="gAttr thirty_optioncell right_position" data-target-attr="VestDoubleBreastPocket">
                                <div name="VestDoubleBreastPocket" class="truefalseclicks right_position" data-bind="css: { 'selecteds': VestDoubleBreastPocket === true }, click: function(){ VestDoubleBreastPocket = !VestDoubleBreastPocket;}, modifiedVestListBooleanOptions:[$index(), 'vestPocketStyleList', 'VestDoubleBreastPocket', 'selecteds' ]"> </div>
                              </div>
                              <div class="gAttr thirty_optioncell right_position" data-target-attr="VestBreastPocket">
                                <div name="VestBreastPocket" class="truefalseclicks right_position" data-bind="css: { 'selecteds': VestBreastPocket === true },
                                            			click: function(){ VestBreastPocket = !VestBreastPocket; },
                                                        modifiedVestListBooleanOptions:[$index(), 'vestPocketStyleList', 'VestBreastPocket', 'selecteds' , 'VestDoubleBreastPocket' ]"> </div>
                              </div>
                              <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'VestPocketsNotesPopup']">OPEN </div>
                              <div name="vestPocketStyle" class="thirty_optioncell listsimpleclick simpleclick right_position" data-bind="css: { 'selecteds': vestPocketStyle.id === $parent.id }, click: function(){ vestPocketStyle = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestPocketStyleList', 'vestPocketStyle', 'none', 'vestPocketStyleEachGarment', 'vestPocketStyleDiv']">box </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 5" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Back Style</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="vestBackStyle" data-bind="foreach: vestBackStyleList" class="vestBackStyleList">
                  <div data-bind="foreach:$parent.vestData">
                  <div name="VestBackStyleNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestBackStyleNotes">Vest <span data-bind="text: variantId + 1"></span> Back Style Notes </p>
                        <textarea type="text" name="VestBackStyleNotes" data-bind="value: VestBackStyleNotes, updateFormOnChange: VestBackStyleNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestBackStyleNotesPopup']">Save And Close</a>
                        </div>
                    </div>


                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="vestBackStyleDiv" class="grid_55 MainListElement"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'vestBackStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'vestBackStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <span name="vestBackStyleList" data-bind="text: id" style="display:none"></span>
                        <div class="grid_16" data-bind="foreach:$parent.vestData"> <!--	foreach:$parents[1].dumpOrder().Vest.Vest	-->
                          <div name="vestBackStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style">
                                <div data-bind="if: parentSuitTimestampID != ''">
                                  <div data-bind="if: $parents[2].garmentsList()[2].count() > 0">
                                    <div data-bind="foreach: $parents[2].dumpOrder().Suit.suit">
                                      <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                                    </div>
                                  </div>
                                </div>
                                <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span></div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'VestBackStyleNotesPopup']">OPEN </div>
                            <div name="vestBackStyle" class="thirty_optioncell listsimpleclick simpleclick right_position" style="float:left;" data-bind="css: { 'selecteds': vestBackStyle.id === $parent.id }, click: function(){ vestBackStyle = $parent;}, modifiedVestListOptions:[$index(), $parent, 'vestBackStyleList', 'vestBackStyle', 'none', 'vestBackStyleEachGarment', 'vestBackStyleDiv']">box</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 6" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Vest Contrasts</h2>
              <div class="grid_15">
                <!--<div class="grid_15 garment_help_titles">
                	<div class="marginrighttwenty titlosboithos right_position">Notes</div>
                    <div class="marginrightfifty titlosboithos right_position">Piping Colour</div>
                    <div class="marginrightfifty titlosboithos right_position">Lining Fabric</div>
                 <div class="grid_2 prefix_0">Notes</div>
                </div>-->
                <div class="grid_16" data-bind="foreach:vestData">
                  <div class="grid_15 garmentbreak makeyellow">
                    <div class="grid_3 fivepaddingtop eighttopmargin">
                      <div data-bind="if: parentSuitTimestampID != ''">
                        <div data-bind="if: $parents[1].garmentsList()[2].count() > 0">
                          <div data-bind="foreach: $parents[1].dumpOrder().Suit.suit">
                            <div data-bind="if: timestampID == $parent.parentSuitTimestampID"> <span>Suit <span data-bind="text: variantId + 1"></span></span> </div>
                          </div>
                        </div>
                      </div>
                      <span>#<span data-bind="text: variantId + 1"></span></span> <span name="VestFabricText" data-bind="visible:!VestHasCustomerFabric, text: vestFabric.title"></span><span name="VestFabricText" data-bind="visible:VestHasCustomerFabric, text: VestCustomerFabric.FabricCode"></span> </div>
                    <!-- Lining pick	-->
                    <div class="grid_13">
                      <!--	Notes pick	-->
                      <div class="myboxesincheck" data-bind="switchpopup:[$index(), 'VestContrastNotesPopup']"> <span class="myboxesincheckname">Notes</span>
                        <div  class="thirty_optioncell open_style_notes right_position" >Lining Notes</div>
                      </div>
                      <!--	Vest Piping pick	-->
                      <div class="myboxesincheck" data-bind="switchpopup:[$index(), 'vestPipingPopup']"> <span class="myboxesincheckname smallertag">Piping</span> <img name="vestPiping" data-bind="attr:{src: vestPiping.image}" /> <span class="mydataboxesincheckname" data-bind="text: vestPiping.title" name="vestPipingText"></span> </div>

                      <!------------------->
                      <div class="myboxesincheck" data-bind="switchpopup:[$index(), 'vestLiningPopup']"> <span class="myboxesincheckname smallertag">Lining</span> <img name="vestLining" data-bind="attr:{src: vestLining.image}" /> <span class="mydataboxesincheckname" data-bind="text: vestLining.title" name="vestLiningText"></span> </div>
                      <!------------------->

                    </div>
                     <div name="vestLiningPopup" id="light" class="white_content mynicepop">
                        <div class="inmynicepop inmynicepopthree">
                      <h4>Select Vest <span data-bind="text: variantId + 1"></span> Lining</h4>
                      <div class="inmyscroll">
                      <h3 style="color: white">Without extra charge</h3>
                      <div class="grid_16"  data-bind="foreach: $parent.vestLiningList" >
                        <div data-bind="visible: $data.price =='no'">
                          <div class="grid_138 tagging" name="vestLiningOptions" data-bind="css: { 'selected': $parent.vestLining.id === $data.id }">
                            <!--   <span name="vestLiningList" data-bind="text: id" style="display:none"></span>	-->
                            <img data-bind="attr:{src: image}, click:
                                                function(){
                                                    $parent.vestLining = $data;
                                                },
                                                css: { 'selected': $parent.vestLining.id === $data.id },
                                                modifiedVestThreads:[$parentContext.$index(), $index(), $data, 'vestLining', 'vestLiningOptions', 'vestLiningOptions2'],
                                                switchpopup:[$parentContext.$index(), 'vestLiningPopup']"
                                            />
                            <div data-bind="text: title"></div>
                          </div>
                        </div>
                      </div>
                      <br style="clear: both">
                      <h3 style="color: white">With extra charge</h3>
                      <div class="grid_16"  data-bind="foreach: $parent.vestLiningList" >
                        <div data-bind="visible: $data.price =='yes'">
                          <div class="grid_138 tagging" name="vestLiningOptions2" data-bind="css: { 'selected': $parent.vestLining.id === $data.id }">
                            <!--   <span name="vestLiningList" data-bind="text: id" style="display:none"></span>	-->
                            <img data-bind="attr:{src: image}, click:
                                                function(){
                                                    $parent.vestLining = $data;
                                                },
                                                css: { 'selected': $parent.vestLining.id === $data.id },
                                                modifiedVestThreads:[$parentContext.$index(), $index(), $data, 'vestLining', 'vestLiningOptions', 'vestLiningOptions2'],
                                                switchpopup:[$parentContext.$index(), 'vestLiningPopup']"
                                            />
                            <div data-bind="text: title"></div>
                          </div>
                        </div></div>
                      </div>
                      <a href="javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'vestLiningPopup']">Save And Close</a></div>
                    </div>
                    <div name="VestContrastNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="VestContrastNotes">Vest <span data-bind="text: variantId + 1"></span> Contrast Notes </p>
                        <textarea type="text" name="VestContrastNotes" data-bind="value: VestContrastNotes, updateFormOnChange: VestContrastNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'VestContrastNotesPopup']">Save And Close</a>
                    </div></div>


                    <div name="vestPipingPopup" id="light" class="white_content mynicepop">
                        <div class="inmynicepop inmynicepoptwo">
                          <p>Vest <span data-bind="text: variantId + 1"></span> Piping </p>
                          <div class="bgmynicepop"  data-bind="foreach: $parent.vestPipingList" >
                            <div class="grid_138 tagging" name="vestPipingOptions" data-bind="css: { 'selected': $parent.vestPiping.id === $data.id }"> <img data-bind="attr:{src: image}, click: function(){ $parent.vestPiping = $data; }, css: { 'selected': $parent.vestPiping.id === $data.id }, modifiedVestThreads:[$parentContext.$index(), $index(), $data, 'vestPiping', 'vestPipingOptions', 'none', 'none', 'none', 'none'], switchpopup:[$parentContext.$index(), 'vestPipingPopup']" />
                              <div data-bind="text: title"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                          <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'vestPipingPopup']">Save And Close</a> </div>
                      </div>



                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <!--	currentStep().id === 6	-->
            </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------->

          <div data-bind="visible: currentStep().id === 7" class="inpickme" id="scrollWrapper">
            <div id="scrollContentqws">

                <h2>Vest General Design Notes &amp; instructions</h2>
                <div class="grid_16">
                    <div class="grid_16 previewimages fivepadding greyish" data-bind="visible: variantNameVest().length > 1">
                        <ul data-bind="foreach: variantNameVest" style="margin-left:5px; ">
                            <li data-bind="css: { 'active': $parent.selectedVariantVest() === $data }, click: $parent.selectedVariantVest"> <span data-bind="text: title">1</span> </li>
                        </ul>
                    </div>
                     <div class="grid_16" data-target-attr="VestNotes">
                  <div class="grid_14 fivepaddingall fivemargupleft shirtmonogram inmynicepop" style="margin-top:0px !important; padding-top:0px !important;">
                        	<textarea type="text" name="VestNotes" data-bind="value: VestNotes, updateFormOnChange: VestNotes, valueUpdate: 'afterkeydown'"  style="min-height:150px; background-color:#ececec; margin-top:0px;"></textarea>
                        </div>
                </div>
                </div>

			</div>
          </div>
          <!------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->
<style type="text/css" >
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:600px;
                        position:relative;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                </style>
<div data-bind="visible: currentStep().id === 'Custom'" class="inpickme"  id="scrollWrapperforcust">
  	<div id="scrollContentqws">

                <h2>Custom Options</h2>
				<div data-bind="foreach: vestData">
					<div data-bind="visible: $data.custom.hasCustomInfo">
						<h4><span>Vest </span><span data-bind="text: ($index()+1)"></span></h4>
						<div data-bind="foreach:$data.custom.custom">
							<div class="grid_2 suffix_1 " style="margin:10px 0px 20px 20px; text-align:center; ">
							<div data-role="button" data-bind="click:function(){$parentContext.$parent.addCustomImage($parentContext.$index(), $index());}"class="loadimages" style="margin:0px auto !important;">Upload Image</div>
                             <span class="underbuttons" data-bind="text:$data.name"></span>
                            </div>
                            <div class="clear"></div>
							<output style="width:100%" data-bind="foreach: $data.image.getMediaPreview()">
								<div class="img-wrap" data-bind="attr:{id: $index()}">
									<span class="close" data-bind="click: function(){$parentContext.$data.image.removeMedia($index());}" >X</span>
									<div class="image_panel">
										<img id="imagemap" class="imageMap" width="600" data-bind="attr: {src: $data}, click:function(data,evt){$root.openDialog2($parentContext.$data.image,evt, $index());}"></img>
										<div class="mapper" data-bind="attr:{id: $parentContext.$data.image.mapperID($index())}">
										</div>
										<div id="planetmap" class="planetmap" data-bind="foreach: $parentContext.$data.image.getTags($index())">
											<div class="arrow" data-bind="style:{width: $parentContext.$parentContext.$data.image.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $parentContext.$parentContext.$data.image.getTagAttrib('left%', $parentContext.$index(), $index()), top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
											<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index())}">
												<div class="tagged_title" style="display:block;">
													<span data-bind="text: $parentContext.$parentContext.$data.image.getTagAttrib('text', $parentContext.$index(), $index())"></span>
												</div>
												<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
													<img class="openDialog" data-bind="click: function(){$parentContext.$parentContext.$data.image.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
												</div>
											</div>
										</div>
									</div>
								</div>
							</output>
                            <div class="clear"></div>
                            <hr>
						</div>
					</div>
				</div>


  	</div>
</div>
<!------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->
<div id="popup_box" style="width: 100%;">
	<div class="form_panel" id="form_panel" name="form_panel">
		<a id="popupBoxClose" class="close_popups" data-bind="click:function(){$root.closeDialog();}">Close</a>
		<p class="media_pops">
		<span>Add your comments</span>
			<textarea class="title"></textarea>
			<input type="button" value="Add Comment" data-mini="true" data-bind="click:function(){$root.addTag();}" /></p>
			<div class="clear"></div>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------->
          <!--------------------		END OF STEPS		-------------------->
          <div class="grid_6 fixedpreview" data-bind="visible: currentStep().id !== 'Custom'"><!-- here is the preview -->
            <div class="grid_16" data-bind="visible: variantNameVest().length > 1">
              <div class="previewimages">
                <ul data-bind="foreach: variantNameVest">
                  <li onclick="runEffect()" data-bind="css: { 'active': $parent.selectedVariantVest() === $data }, click: $parent.selectedVariantVest" class="disablede"> <a><span data-bind="text: title">1</span> </a> </li>
                </ul>
              </div>
            </div>

            <div id="garmentPreview" class="garmentPreview vestpreview">
              <div id="frontPreview" data-bind="visible: PreviewVisible() == 'front'">
                <!--<img data-bind="attr: {src: shirtBottomStyle().preview }" />
                                    <img data-bind="attr: {src: shirtBackStyle().preview }" />-->
                <img src="http://shirt-tailor.net/thepos/appimg/vest/vest_bg.png" /> <img data-bind="attr: {src: vestNecklineStyle().preview }" /> <img data-bind="attr: {src: vestBottomStyle().preview }" /> <img data-bind="attr: {src: vestButtonNumber().preview }" /> <img data-bind="attr: {src: vestPocketStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/vest/pockets/breast.png" data-bind="visible: VestBreastPocket() == true && VestDoubleBreastPocket() == false" /> <img src="http://shirt-tailor.net/thepos/appimg/vest/pockets/doublebreast.png" data-bind="visible: VestBreastPocket() == true && VestDoubleBreastPocket() == true" /> </div>
              <!--     <div id="backPreview" style="display:none">-->
              <div id="backPreview" data-bind="visible: PreviewVisible() == 'back'"> <img data-bind="attr: {src: vestBackStyle().preview }" /> </div>
              <div id="monPreview" data-bind="visible: PreviewVisible() == 'monogram'">
              <img src="http://shirt-tailor.net/thepos/appimg/liningFabric/bg.png"  class="dontmove"/>
              <img data-bind="attr: {src: vestLining().previews }"  class="dontmove" />
              <img data-bind="attr: {src: vestPiping().preview }"   class="dontmove"/>
              </div>
              <div class="fabric_on_grid" data-bind="with: vestFabric">
             	<span style="float:left; display:inline; ">Fabric: </span>
             	<span data-bind="text: title" style="float:left; display:inline; margin:0px 0px 0px 10px;"></span>
                <!--<span style=" color:#FFF; float:left; display:inline; margin:0px 8px 0px 0px;">  &mdash;</span>
                           	<span data-bind="text: price_range"  style=" color:#FFF; float:left; display:inline;">  Range</span>
                            	<span style=" color:#FFF; float:left; display:inline; margin:0px 0px 0px 8px;">  Range</span>-->

              <!--<img data-bind="attr:{src: fabricImage}" style="width:100px; height:100px;"/>-->
            </div>
            </div>
            <div>
              <div class="grid_16">
                <div class="newprevtab firsttab" data-bind="click:function(){ PreviewVisible('front'); }, css: {enabled: PreviewVisible() == 'front' }"> Front </div>
               <div class="newprevtab" data-bind="click:function(){ PreviewVisible('back'); }, css: {enabled: PreviewVisible() == 'back' }"> Back </div>
               <div class="newprevtab lasttab" data-bind="click:function(){ PreviewVisible('monogram'); }, css: {enabled: PreviewVisible() == 'monogram' }"> Lining </div>
              </div>
            </div>
           <!-- <div class="bigladeling right_position stepbigbuts"><a data-bind="click: nextStep"> <span class="nextstep"></span> <span class="firstpart">Submit &amp;</span> <span class="bigpart">Next Step</span> </a> </div>
            <div class="grid_16">
            	<div class="bigladeling right_position marginonbottomlabels indesigns">
              		<a data-bind="click: nextStep" class="ui-link">
               		<span class="nextstep"></span>
                    	<span class="firstpart">Submit &amp;</span>
                    	<span class="bigpart">Next Step</span>
                	</a>
            	</div>
            </div>-->
          </div>
          <!-- up until here is the preview -->

          <div data-bind="visible: orderItem.initializeDesignHtml() == true || vestBreastPocketDependencies( 'VestBreastPocket', 'VestDoubleBreastPocket', 'selecteds', 'invisible') == true"> </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /content -->
  <div class="j-footer container_12" data-bind="with: garmentsVM">
  	<div class="half-em-around">
            <div class="grid_2"><a data-bind="click: function(){posChangePage('#orderItemSelectGarment');}" class="new-btn icon-exit-design new-btn-icon-left" data-role="button"><span class="btn-small-letter">EXIT the</span><span class="btn-letter">  Vest Design</span></a></div>
            <div class="grid_2 prefix_8"><a data-bind="click: nextStep" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit &amp;</span><span class="btn-letter">  Next Step</span></a></div>

            </div></div>

  <script>

					function appendItemVestButtons(topost, basedata) {
console.log("appendItemVest Buttons");
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					               data: basedata2
					                },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									orderItem.MediaUploadVM.imagPath = data['image'];
									orderItem.MediaUploadVM.upPath = data['image'];
									orderItem.MediaUploadVM.media(data['image']);
									return;
									localStorage.removeItem('vestCustomButtonsPhoto');
									tmp = localStorage.getItem('vestCustomButtonsPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('vestCustomButtonsPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('vestCustomButtonsMedia').innerHTML = ['<img src="', basedata,'" width="180"/>'].join('');

									document.getElementsByName('vestCustomButtonsImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('vestCustomButtonsImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('vestCustomButtonsImage')[0].fireEvent("onchange");
									}
					            }
					        });
					}


					if (window.FileReader) {
				    	function handleFileSelectButtons(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();

				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
										var t = orderItem.resizeMyImage(e.target.result, 180, 1536, "garmentsVest.htm", "Buttons");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		}
				            	};
				        	})(f);

				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}



				    document.getElementById('files').addEventListener('change', handleFileSelectButtons, false);
					document.getElementById('fabricfiles').addEventListener('change', handleFileSelectButtons, false);
			    </script>
</div>
