<!-- start garment step -->

<style>

	:root{
		--customer_size : 71px;

	}

	.customer-garment-step-line {
		display: flex;
		margin-top: 60px;
	}
	.garments-step-counter-wrapper {
		display: flex;
		margin-left: 45px;
	}

	.garment-img-wrapper {
		background: var(--grey-1);
		border-radius: 50%;
		margin: 0 auto;
		width: 51px;
		height: 51px;
	}

	.garment-img-wrapper .garment-image {
		width: 93%;
	}

	.garment-count-btn {
		background-color: var(--grey-1);
		color: var(--grey-3);
		border-radius: 50%;
		width: 41px;
		height: 41px;
		text-align: center;
		font-size: 26px;
	}

	.garment-count-number {
		font-size: 25px;
		font-weight: 100;
	}

	.inline-div {
		display: inline-block;
	}

	.garment-counter-item {
		text-align: center;
		padding-right: 30px;
		font-size: 24px;
		font-weight: 900;
	}


	.customer-counter-span {
		font-size: 40px;
		color: var(--grey-4);
		display: table-cell;
		vertical-align:middle;
		text-align: center;
	}

	.cust-left-info-wrapper {
		width: 120px;
		position: relative;
		top: 10px;
		text-align: center;
		margin-left: 14px;
	}

	.page-title {
		color: var(--grey-4);
		font-weight: 200;
		font-size: 40px;
	}

	.customer-garment-step-line .customer-gray-round {
		width: var(--customer_size);
		height: var(--customer_size);
		margin: 0 auto;
	}

	.cust-left-info-wrapper .leader-pic-wrapper .leader-pic-img {
		width: var(--customer_size);
		height: var(--customer_size);
	}

</style>

<div class="garment-selection-ui order-step" data-bind="if: selectedStep().id == '1'">

	<h1 class="page-title" data-bind="text: $root.customers().length > 1 ? 'Group Order / Select Garment' : 'Single Order / Select Garment' "></h1>




	<div data-bind="foreach: { data: $root.customers(), as: 'customer' }">

		<div class="customer-garment-step-line">

			<div class="cust-left-info-wrapper">
				<div class="customer-gray-round">

					<span class="customer-counter-span" data-bind="visible: !customer.is_leader, text: '#'+(parseInt($index())+1)"></span>

					<div class="leader-pic-wrapper" data-bind="if: customer.is_leader">
						<img class="leader-pic-img" data-bind="attr: { src: $root.leaderPic() }" alt="" onerror=this.src="https://cdn4.iconfinder.com/data/icons/media-24/32/camera-512.png">

					</div>

					<div class="customer-locked-wrapper" data-bind="visible:$data.is_locked">
                        <img class="customer-locked-img" src="img/order_process/lock.png">
                    </div>
				</div>
				<p class="customer-name-p" data-bind="text:customer.full_name"></p>

			</div>

			<div class="garments-step-counter-wrapper" data-bind="foreach: { data: customer.garmentsStep.garments(), as: 'garment' } ">

		        <div class="garment-counter-item">

		        	<div class="garment-img-wrapper">
		        		<img class="garment-image" data-bind="attr: { src: garment.image}">
		        	</div>

		            <span data-bind="text:garment.name"></span>
		            <br>
		            <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { customer.garmentsStep.decrementGarment(garment.id); } "> - </div>
		            <div class="garment-count-number inline-div" data-bind="text: $data.garments().length"></div>
		            <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { customer.garmentsStep.incrementGarment(garment.id); } "> + </div>
		        </div>

		    </div>

		</div>

	</div>

</div>
<!-- end garments step -->


