<div data-role="page" id="mainPage">
    <style>
        .version-3D{
            display: flex;
            position: absolute;
            right: 53px;
            top: 0px;
        }
    </style>

    <!--  <div data-bind="template: { name: 'userInfo'}"></div>
-->

    <div>
        <!-- Will remain visible untin all requests are done -->
        <img class="main-requests-loader" id="main-requests-loader" src="img/loader.gif" style="display: none;">
    </div>

    <br style="clip: both;">

    <div data-role="content" data-theme="none">
        <div class="ui-grid-b" data-type="horizontal">
            <ul class="mainmenu">
                <li>
                    <a data-theme="none" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#orderItemSelectCustomer');}"
                        data-transition="fade">
                        <img src="css/stable-img/index/new-order.png" border="0" />
                        <span>NEW ORDER</span>
                    </a>
                </li>
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#listCustomer');}">
                        <img src="css/stable-img/index/customers.png" border="0" />
                        <span>CUSTOMERS</span>
                    </a>
                </li>
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#calendar');}">
                        <img src="css/stable-img/index/calendar.png" border="0" />
                        <span>CALENDAR</span>
                    </a>
                </li>
            <!--     <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_main');}">
                        <img src="css/stable-img/index/shipping.png" border="0" />
                        <span>SHIPPING</span>
                        <span style="display:none;" id="totalnotifications" class="mynotifyt">0</span>
                    </a>
                </li> -->
       <!--          <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_main_new');}">
                        <img src="css/stable-img/index/shipping.png" border="0" />
                        <span>SHIPPING</span>
                    </a>
                </li> -->
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#fittingList');}">
                        <img src="css/stable-img/index/fittings.png" border="0" />
                        <span>FITTINGS</span>
                        <!-- <span id="totalnotifications" class="mynotifyt" data-bind="visible: orderItem.Notifications.fittings() != '', text:Notifications.fittings"></span> -->
                    </a>
                </li>

                <!--<li><a href="#notification" data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"><img src="http://shirt-tailor.net/thepos/appimg/template/menus/notificationsx2.png" border="0" /></a> </li>-->

             <!--    <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#error_categories');}">
                        <img src="css/stable-img/index/error.png" border="0" />
                        <span>ERRORS</span>
                        <span id="totalnotifications" class="mynotifyt" data-bind="visible: orderItem.Notifications.errors() != '', text:Notifications.errors"></span>
                    </a>
                </li> -->
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click:function(){orderItem.SyncFilesVM.redirect();}">
                        <img src="css/stable-img/index/sync.png" border="0" />
                        <span>SYNC DATA</span>
                        <span id="" class="mynotifyt num-unsync-media"></span>
                    </a>
                </li>
                <li>
                    <a data-bind="click: function(){posChangePage('#settings');}" data-theme="none" data-transition="fade" data-corners="false"
                        data-shadow="false" data-inline="true">
                        <img src="css/stable-img/index/settings.png" border="0" />
                        <span>SETTINGS</span>
                    </a>
                </li>

                <!--<li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" href="#stats"> <img src="http://shirt-tailor.net/thepos/appimg/template/menus/statsx2.png" border="0" /></a> </li>-->



                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#alterationsDashBoard'); }">
                        <img src="css/stable-img/index/alterations.png" border="0" />
                        <span>ALTERATIONS</span>
                    </a>
                </li>

                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#orderProcessType'); }">
                        <img src="css/stable-img/index/new-order.png" border="0" />
                        <span>NEW ORDER PROCESS - IN DEVELOPMENT</span>
                        <span id="" class="mynotifyt" style="width: 100px;background: red"><strong>NEW</strong> - in development</span>
                    </a>

      <!--               <button onclick="posChangePage('#preOrders');">Pre Order Process</button>
                    <button onclick="posChangePage('#orders');">Skip customer selection</button>
                    <button  onclick="posChangePage('#pendingGroupOrders');">Pending Group Orders</button> -->

                </li>

<!--
                <li>

                    <button onclick="posChangePage('#uniformMainMenu');">Uniform Main menu</button>
                    <button onclick="posChangePage('#uniformCompanySearch');">Uniform Company Search</button>
                    <button onclick="posChangePage('#uniformTemplate');">shortcut Template Creation for company 1</button>
                    <button onclick="posChangePage('#uniformOrder');">shortcut Order process for company 1</button>

                </li>
 -->

                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#tasks'); }">
                        <img src="css/stable-img/index/tasks.png" border="0" />
                        <span>TASKS</span>
                    </a>
                </li>
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#qc_and_error'); }">
                        <img src="css/stable-img/index/QC.png" border="0" />
                        <span>ERRORS</span>
                    </a>
                </li>


            </ul>

        </div>
    </div>

    <div class="version-3D">
        <span>Use New 3D?</span>
        <input type="checkbox" name="" id="use-new-3D" checked>
    </div>

    <div class="j-footer container_12">

    <span>Ver. 06-02-2020</span>



<script>

</script>
















