<style>
    
</style>

<!-- <link rel="stylesheet" href="css/bootstrap_grid.min.css"> -->

<div class="">
    <div class="pop-up" id="make-on-first-popup" style="display: none">
        <!-- close button -->
        <div class="close-pop-up" data-bind="click: function() { $('#make-on-first-popup').hide(500) }">X
        </div>


        <!-- body -->
        <div class="popup-body">
            <h1> MAKE one FIRST Approval </h1>
            <table class="default-table">
                <thead>
                    <th>  Bar Code            </th>
                    <th>  Type                </th>
                    <th>  Fabric              </th>
                    <th>  Order Date          </th>
                    <th>  Select to Approve   </th>
                </thead>
                <tbody data-bind="foreach: $data.garmentsToApprove">
                    <td data-bind="text: $data.barcode_id">            </td>
                    <td data-bind="text: $parent.getType($data.type)"> </td>
                    <td data-bind="text: $data.fabric_code">           </td>
                    <td data-bind="text: $data.ordered_date">          </td>
                    <td>
                        <input type="checkbox" class="default-checkbox" data-role="none" data-bind="checked: $data.toApprove, attr: {id:'check-toApprove'+$index()}">
                        <label data-bind="attr:{for: 'check-toApprove'+$index()}" style="margin: auto;"></label>
                    </td>
                </tbody>
            </table>


        </div>

        <!-- footer -->
        <div class="j-footer justify-content-between" style="/*! justify-content:  space-around !important; */">
            <!-- cancel -->
            <div class="col-md-3">
                <a class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all"
                    data-bind="click: function(){ $data.cancelSubmitMakeOne() }"
                    data-role="button" role="button">
                    <span class="btn-small-letter"> Cancel </span>
                    <span class="btn-letter"> Approval </span>
                </a>
            </div>
        
            <!-- submit all selected garments -->
            <div class=" col-md-3">
                <a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all"
                    data-bind="click: function(){ $data.submitSelectedGarments() }" data-role="button" role="button">
                    <span class="btn-small-letter"> Submit Selected </span>
                    <span class="btn-letter"> Garments </span>
                </a>
            </div>
        </div>
    </div>


</div>