<div data-role="page" id="makePayment" class="bgBody">
	<h1 data-bind="with: customersVMmirror">Make a Payment for
		<span data-bind="text: customer_first_name">Customer's Name</span>
		<span data-bind="text: customer_last_name">Customer's Last Name</span>
	</h1>
	<div data-role="content" data-theme="a" style="background:none !important; border:none;">
		<div class="content-wrapper">
			<div class="container_12" style="margin-bottom:100px">
				<div class="grid_7" style="margin:30px 0px;">
					<div class="grid_5" data-bind="with: customersVMmirror">
						<div class="grid_12" style="background-color: rgb(236, 236, 236); font-size: 13px; border-radius: 0.351em; padding: 10px 0px; margin: 10px 10px 10px 0px; font-weight:700;">
							<div class="grid_6">
								<span>Total Amount:</span>
							</div>
							<div class="grid_5" data-bind="with: selected_order">
								<span data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span>
							</div>
						</div>
					</div>
					<div class="grid_5 prefix_1">
						<div class="grid_12" style="background-color: rgb(236, 236, 236); font-size: 13px; border-radius: 0.351em; padding: 10px 0px; margin: 10px 10px 10px 0px; font-weight:700;">
							<div class="grid_6">
								<span>Balance owing:</span>
							</div>
							<div class="grid_5" data-bind="with: custOrderPaymentsVM">
								<span data-bind="text: ammountRemaining()"></span>
							</div>
						</div>
					</div>
				</div>
				<div data-bind="with: OrderPaymentVM" class="grid_7">
					<div class="grid_5">
						<label for="date">Date:</label>
						<!-- For some reason, datepicket is not working anymore -->
						<!-- <input id="date" name="date" type="text" data-bind="datepicker: {dateFormat: 'dd-mm-yy'}, value: PaymentDate" /> -->
						<input id="date" name="date" type="date" data-bind="value: PaymentDate" />
					</div>
					<div class="grid_5 prefix_1">
						<label for="payment_ammount">Amount:</label>
						<input type="text" name="payment_ammount" id="payment_ammount" data-bind="value: payment_ammount, updateFormOnChange: payment_ammount, valueUpdate: 'afterkeydown'"
						/>
					</div>
					<div class="grid_11">
						<label for="paymentMethod">Method:</label>
						<select name="paymentMethod" id="paymentMethod" data-bind="options: paymentMethodList, value: paymentMethod, optionsCaption: 'Payment method'"
						 data-mini="true">
						</select>
					</div>
					<div class="grid_11">
						<label>
							<input type="checkbox" name="checkbox-a" id="checkbox-a" class="custom" data-bind="checked: send_invoice_email_checkbox"
							 style="color:#444;" /> Send Customer Invoice by Email</label>
					</div>
					<div class="grid_11">
						<label for="payment_notes">Notes:</label>
						<input type="text" name="payment_notes" id="payment_notes" data-bind="value: payment_notes, updateFormOnChange: payment_notes, valueUpdate: 'afterkeydown'"
						/>
					</div>
					<div class="grid_4">
						<a data-bind="click: sync" class="new-btn icon-goto-payment new-btn-icon-right" data-role="button">
							<span class="btn-small-letter">Submit</span>
							<span class="btn-letter"> Payment</span>
						</a>
					</div>
				</div>
				<div class="grid_5" data-bind="with: OrderPaymentVM">
					<div class="grid_10" data-bind="visible: paymentMethod() == 'Credit card V/M' || paymentMethod() == 'Credit card Amex' ||  paymentMethod() == 'Eftpos'">
						<label for="creditCardImageMediaBtn" style="text-align:center;">Receipt Upload:</label>
						<input id="creditCardImageFiles" type="file" accept="image/*" data-bind="visible: false" />
						<div id="creditCardImageMediaBtn" class="loadimages" data-role="button" style="margin:5px auto;">Upload CC Receipt</div>
						<div style="display:none;" id="creditCardImageMediaBtn" name="creditCardImageMediaBtn" class="receiptupload" data-role="button">Upload CC Receipt</div>
					</div>
					<output class="grid_10" id="creditCardImageMedia" data-bind="visible:paymentMethod() == 'Credit card V/M' || paymentMethod() == 'Credit card Amex' ||  paymentMethod() == 'Credit card' ||  paymentMethod() == 'Eftpos'"></output>
					<div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="creditCardImage">
						<input id="creditCardImage" name="creditCardImage" type="text" data-bind="visible: false, value: creditCardImage" />
						<script>

							function appendItemCreditCard(topost, basedata) {
								console.log("appendItem CreditCard");
								var endpoint = 'upload_creditcard_image';
								var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
								var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
								var basedata2 = topost.replace("data:image/jpeg;base64,", "");
								request = $.ajax({
									type: 'POST',
									url: ServerEndPoint,
									dataType: 'json',
									async: true,
									data: {
										salesman: JSON.stringify(eval("(" + salesmanString + ")")),
										data: basedata2
									},
									success: function (dataS) {
										var spinner = document.getElementById('loading_jp');
										spinner.style.display = "none";
										var data = dataS;
										var image_id = data['id'];
										var image = data['image'];
										localStorage.removeItem('PaymentCreditCardPhoto');
										tmp = localStorage.getItem('PaymentCreditCardPhoto');
										tmp = (tmp === null) ? [] : JSON.parse(tmp);
										var customer_id = orderItem.custSelectVM.selectedCustomer().id;
										tmp.push({ customer_id: customer_id, image_id: image_id, picture: image, thumbnail: basedata });
										localStorage.setItem('PaymentCreditCardPhoto', JSON.stringify(tmp));
										var thumb = $('<img/>');
										thumb.attr('src', image);
										thumb.attr('width', 50);
										document.getElementById('creditCardImageMedia').innerHTML = ['<img src="', basedata, '" width="250"/>'].join('');

										document.getElementsByName('creditCardImage')[0].value = JSON.stringify(data);
										if ("createEvent" in document) {
											var evt = document.createEvent("Event");
											evt.initEvent("change", false, false);
											document.getElementsByName('creditCardImage')[0].dispatchEvent(evt);
										} else {
											document.getElementsByName('creditCardImage')[0].fireEvent("onchange");
										}
									},
									error: function (XMLHttpRequest, textStatus, errorThrown) {
										customAlert("some error " + textStatus + "    " + errorThrown);
									}
								});
							}


							if (window.FileReader) {
								function handleFileSelectCreditCard(evt) {
									var files = evt.target.files;
									var f = files[0];
									var reader = new FileReader();

									reader.onload = (function (theFile) {
										return function (e) {
											try {
												//resizemyImageCreditCard(e.target.result);
												var t = orderItem.resizeMyImage(e.target.result, 240, 1536, "makePayment.htm", "");
												t = null;
												e = null;
											} catch (e1) {
												customAlert('An Error occured. Try again.');
												//	appendItemCreditCard(e.target.result);
												//	document.getElementById('creditCardImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');
											}
										};
									})(f);

									reader.readAsDataURL(f);
								}
							} else {
								customAlert('This browser does not support FileReader');
							}



							photos = localStorage.getItem('PaymentCreditCardPhoto');
							photos = (photos === null) ? [] : JSON.parse(photos);
							if (localStorage.getItem('PaymentCreditCardPhoto') != null) {
								if (localStorage.getItem('PaymentCreditCardPhoto').length > 0) {
									for (var i = 0, len = photos.length; i < len; i++) {
										if (photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().id) {
											document.getElementById('creditCardImageMedia').innerHTML = ['<img src="', photos[i].thumbnail, '"  width="250"/>'].join('');

											document.getElementsByName('creditCardImage')[0].value = JSON.stringify(photos[i]);
											if ("createEvent" in document) {
												var evt = document.createEvent("Event");
												evt.initEvent("change", false, false);
												document.getElementsByName('creditCardImage')[0].dispatchEvent(evt);
											} else {
												document.getElementsByName('creditCardImage')[0].fireEvent("onchange");
											}
										}
									}
								}
							}

							document.getElementById('creditCardImageFiles').addEventListener('change', handleFileSelectCreditCard, false);
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_8">
					<a data-bind="click: function(){posChangePage('#paymentsHistory');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
						<span class="btn-small-letter">Back to</span>
						<span class="btn-letter"> Payments</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /content -->
</div>