<div data-role="page" id="mediaUploadCenter" class="bgBody">
<h1>Synchronize Media Files</h1>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div class="container_16">
                <div data-bind="visible: medias().length > 0">
                    <div class="grid_16">
                        <div class="grid_1"><span class="myuppertitle"></span></div>
                        <div class="grid_3"><span class="myuppertitle">Section</span></div>
                        <div class="grid_3"><span class="myuppertitle">Media Type</span></div>
                        <div class="grid_4"><span class="myuppertitle">Customer</span></div>
                        <div class="grid_2"><span class="myuppertitle">Date</span></div>
                        <div class="grid_3"><span class="myuppertitle">Status</span></div>
                    </div>
                    <div class="clear"></div>
                    <div data-bind="foreach: medias">
                        <div class="grid_16" data-bind="style: { background: error() == false ? 'rgba(30,160,0,0.4)':'rgba(160, 0, 0, 0.5)'}, css: { unassigned: error() == false ? 'unassigned':'assigned'}">
                            <div class="grid_1">
                                
                            <div name="simpleclick" class="simpleclick" style="margin:3px 0 0 10px;" data-bind="css: { 'selecteds': selected() == true }, style: { visibility: upload == false ? 'hidden':'visible'}, click: test " >box </div>
                                <!--<input type="checkbox" data-bind="checked: selected" />--></div>
                            <div class="grid_3"><span data-bind="text: section, click: manageMedia" class="spacingaroundf-t"></span></div>
                            <div class="grid_3"><span data-bind="text: media_type" class="spacingaroundf-t"></span></div>
                            <div class="grid_4"><span data-bind="text: customer" class="spacingaroundf-t"></span></div>
                            <div class="grid_2"><span data-bind="text: date" class="spacingaroundf-t"></span></div>
                            <div class="grid_3"><span data-bind="text: status" class="spacingaroundf-t"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="visible: medias().length == 0">
                <h3 style="margin:120px auto 0px; text-align:center !important;">No Files To Sync</h3>
            </div>
            <div class="container_12" style="margin:30px auto 120px;" data-bind="visible: medias().length > 0">
                <div class="grid_8 prefix_2"><a data-role="button" data-bind="click: uploadAll"><strong>Upload All</strong></a> </div>
                <div class="grid_3 prefix_2 suffix_2"><a data-role="button" data-bind="click: uploadChecked">Upload Selected</a> </div>
                <div class="grid_3"><a data-role="button" data-bind="click: deleteChecked">Delete Selected</a> </div>
                <div class="grid_8 prefix_2"><a data-role="button" data-bind="click: function(){$root.getInfo(true);}">Reload</a> </div>
                <!--<div class="grid_3">
                    <label >
                    <div name="simpleclick" id="backgroundbtn" class="simpleclick" style="margin:3px 0 0 10px;" data-bind="css: { 'selecteds': isBackground() == true }, style: { visibility: 'visible'}, click: background " >box </div>
                    Work on background
                    </label>
                </div>-->
            </div>
            <div class="grid_3" data-bind="visible: isBackground() == true && isWorking() == true && viewd() == false"><span>Syncying Media on the Background</span></div>
            <!--<div class="bigladeling left_position stepbigbuts"><a href="#main"><span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Main</span> </a> </div>--> 
        </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_10"><a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
        </div>
    </div>
</div>
