<div data-role="page" id="notification" class="bgBody">
	<div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false" class="mainpagesheader container_12">
			<ul class="grid_5 prefix_7 topmenu">			
				<li><a href="#" data-bind="click: function(){posChangePage('#settings');}" class="settingsli">Setting</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#stats');}" class="statsli">Stats</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#notification');}" class="mesagli">Notifications</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#calendar');}" class="calenli">Calendar</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#orderItemSelectCustomer');}" class="newordli">Add Order</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#listCustomer');}" class="newcustli">Customers</a></li>
				<li><a href="#" data-bind="click: function(){posChangePage('#main');}" class="mainli">Home</a></li>
			</ul><!-- /navbar -->
	</div><!-- /header -->	
	<div data-role="content" data-theme="c" style="background:none !important; border:none;">
		<div class="ui-grid-b" data-type="horizontal" style="width:70%; margin:10% auto 0px; text-align:center;">
			<h1>Messages Section, not yet Available</h1>
            <h3>Bear with us!</h3>
		</div><!-- /grid-b -->	
	</div><!-- /content -->
</div>
