<div data-role="page" id="orderProcess" class="bgBody" style="padding: 15px;">

    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />


    <div data-bind="if: !creatingCustomer()" style="display: block; margin-top: 30px;" class="row">

        <div class="col-md-6">
            <!-- Search customer -->
            <div id="searchCustomerDiv" class="container_12">
                <div class="">
                    <h3>Search for customers</h3>
                    <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                        <input value="search for existing customer" data-bind="value: $root.custSelectVM.customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer"
                            onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
                            type="text">
                    </div>
                    <span style="font-size:11px; display:block; margin-top:-6px;">Type at least three letters to view results</span>
                </div>
                <div class="cb"></div>
                <ul class="alllistsview" style="font-size: 12px !important;" data-role="listview" data-bind="foreach:  $root.custSelectVM.customersAutocompleteList">
                    <li data-bind="click: function() { $root.selectCustomer($data); }">
                        <div class="grid_4 capitalme"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
                        <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
                        <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
                        <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
                    </li>
                </ul>
            </div>

            <div>

            </div>
        </div>


        <div class="col-md-6" data-bind="if: selectedCustomer">

            <h1 data-bind="text: selectedCustomer().customer_first_name + ' ' + selectedCustomer().customer_last_name"></h1>

            <ul class="custdisplay" data-bind="with: selectedCustomer">
                <li style="display:none;">Name:<span class="secondpart"><span data-bind="text: customer_first_name">IGor--- </span>
                        <span data-bind="text: customer_last_name">Leal</span></span> </li>
                <li><span class="firstpart">Mobile:</span><span class="secondpart" data-bind="text: customer_mobile_phone">r</span>
                    </li>
                <li data-bind="visible:customer_landline_phone !== ''" style="display: none;"><span class="firstpart">Landline:</span><span class="secondpart" data-bind="text: customer_landline_phone"></span> </li>
                <li><span class="firstpart">E-mail:</span><span class="secondpart" data-bind="text: customer_email">igorlealantunes@gmail.com</span></li>
                <li><span class="firstpart">Date of Birth:</span>

                <span class="secondpart" data-bind="text: customer_DOB"></span> </li>

                <li><span class="firstpart">Address:</span><span class="secondpart capitalme" data-bind="text: customer_address1">550 Lonsdale st</span>
                    </li>
                <li><span class="firstpart">Postal Code:</span><span class="secondpart" data-bind="text: customer_postal_code">3000</span>
                    </li>
                <li><span class="firstpart">Suburb:</span><span class="secondpart capitalme" data-bind="text: customer_address2">Melb</span>
                    </li>
                <li><span class="firstpart">State - City:</span><span class="secondpart"><span data-bind="text: $parent.customer_display_state">VIC</span><span>&nbsp;–&nbsp;</span><span data-bind="text: $parent.customer_display_city">Melbourne</span></span></li>
                <li style="display:none;">Gender:<span class="secondpart" data-bind="visible:customer_gender == 1">Male</span>
                    <span class="secondpart" data-bind="visible:customer_gender == 0" style="display: none;">Female</span> </li>
                <li data-bind="visible:customer_occupation !== ''" style="display: none;"><span class="firstpart">Occupation:</span><span class="secondpart capitalme" data-bind="text: customer_occupation"></span> </li>
                <li data-bind="visible:customer_company_name !== ''" style="display: none;"><span class="firstpart">Company:</span><span class="secondpart capitalme" data-bind="text: customer_company_name"></span> </li>
            </ul>

        </div>



    </div>



    <div data-bind="if: creatingCustomer">

        <form class="validateForm">
            <h1>Add New Customer</h1>
            <div data-role="content" data-bind="with: $root.newCustomer" data-theme="a">
                <div class="content-wrapper">
                  <div class="container_12" style="padding-bottom:120px;">
                   <div class="grid_5">
                    <h3 class="one-em-bottom">PERSONAL INFORMATION</h3>
                    <label for="customer_first_name" >First Name<span class="mandatoris">*</span>:</label>
                      <input required type="text" name="customer_first_name" data-bind="value: customer_first_name" value=""  />
                      <label for="customer_last_name" >Last Name<span class="mandatoris">*</span>:</label>
                      <input required type="text" name="customer_last_name" data-bind="value: customer_last_name" value=""  />
                      <label for="customer_occupation" >Occupation :</label>
                      <input type="text" name="customer_occupation" data-bind="value: customer_occupation" value=""  />
                      <label for="customer_company_name" >Company Name :</label>
                      <input type="text" name="customer_company_name" data-bind="value: customer_company_name" value=""  />
                      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="jim-drop">

                        <div>
                            <p class="preorder-info-p">Date of Birth</p>
                            <!-- <input type="text" placeholder="Date Required" class="datepicker garmentDataInput" data-bind="value: customer_DOB"> -->
                            <div style="display: flex;">

                                <div>
                                    <select required data-role="none" name="DOB_day" id="DOB_day" data-bind=" options        : $root.days,
                                                                                                     value          : customer_birth_day,
                                                                                                     optionsCaption : 'Day'">

                                    </select>
                                </div>
                                <div>
                                    <select required data-role="none" name="DOB_month" id="DOB_month" data-bind=" options        : $root.months,
                                                                                                         optionsText    : 'name',
                                                                                                         optionsValue   : 'id' ,
                                                                                                         value          : customer_birth_month,
                                                                                                         optionsCaption : 'Month'">

                                    </select>
                                </div>
                                <div>
                                    <select required data-role="none" name="DOB_year" id="DOB_year" data-bind= "options       : $root.years,
                                                                                                      value          : customer_birth_year,
                                                                                                      optionsCaption : 'Year'">

                                    </select>
                                </div>
                            </div>
                        </div>

                      <fieldset data-role="controlgroup" data-type="horizontal">
                        <legend>Gender<span class="mandatoris">*</span>:</legend>

                        <span style="bottom: 10px;position: relative;">Male:</span> <input style="height: 30px;width: 30px;" type="radio" data-role="none" name="gender" id="gender_male" value="1" data-bind="checked: customer_gender"/>

                        <span style="bottom: 10px;position: relative;">Female:</span> <input style="height: 30px;width: 30px;" type="radio" data-role="none" name="gender" id="gender_female" value="0" data-bind="checked: customer_gender" />
                        <label for="gender_female">Female</label>
                      </fieldset>
                    </div>
                    <div class="grid_6 prefix_1">
                  <h3 class="one-em-bottom">CONTACT DETAILS</h3>
                      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="jim-drop">
                        <legend>Location<span class="mandatoris">*</span>:</legend>
                        <label for="customer_country">Country</label>
                        <select required data-role="none" name="customer_country" id="customer_country" data-bind="options: $root.countries,
                                                                                                    value: customer_country,
                                                                                                    optionsValue: 'locations_id',
                                                                                                    optionsText: 'location_name',
                                                                                                    optionsCaption: 'Country'">
                        </select>
                        <label for="customer_state">State</label>
                        <select required data-role="none" name="customer_state" id="customer_state" data-bind="options: $root.states_display.filter(state => state.parent_location_id == customer_country()),
                                                                                                    value: customer_state,
                                                                                                    optionsValue: 'locations_id',
                                                                                                    optionsText: 'location_name',
                                                                                                    optionsCaption: 'State'">
                        </select>
                        <label for="customer_city">City</label>
                        <select required data-role="none" name="customer_city" id="customer_city" data-bind="options: $root.cities_display.filter(city => city.parent_location_id == customer_state()),
                                                                                                    value: customer_city,
                                                                                                    optionsValue: 'locations_id',
                                                                                                    optionsText: 'location_name',
                                                                                                    optionsCaption: 'City'">
                        </select>
                      </fieldset>
                      <label for="customer_address1" >Street address<span class="mandatoris">*</span>:</label>
                      <input required type="text" name="customer_address1" data-bind="value: customer_address1" value=""  />
                      <label for="customer_address2" >Suburb<span class="mandatoris">*</span>:</label>
                      <input required type="text" name="customer_address2" data-bind="value: customer_address2" value=""  />
                      <label for="customer_postal_code" >Post Code<span class="mandatoris">*</span>:</label>
                      <input required type="tel" name="customer_postal_code" data-bind="value: customer_postal_code" value=""  />
                      <label for="customer_mobile_phone" >Mobile Phone Number<span class="mandatoris">*</span>:</label>
                      <input required type="tel" name="customer_mobile_phone" maxlength="12" data-bind="value: customer_mobile_phone" value="" onkeypress="mobileInputChange(this)" />
                      <label for="customer_landline_phone" >Landline Number :</label>
                      <input type="tel" name="customer_landline_phone" maxlength="10" data-bind="value: customer_landline_phone" value=""  />
                      <label for="customer_email" >E-mail<span class="mandatoris">*</span>:</label>
                      <input required type="email" name="customer_email" data-bind="value: customer_email" value=""  />

                      <label style="display: inline-block;" >Subscribe to our newsletter</label>
                      <input
                        style="display: inline-block;width: 30px;height: 30px;top: 7.5px;position: relative;"
                        data-role="none"
                        type="checkbox"
                        name="subscribe"
                        id="subscribe"
                        data-bind="checked: customer_email_subscription"
                    />

                        <br style="clear: both">
                        <br style="clear: both">

                      <label for="referal_methods" >How did you hear about Germanicos <span class="mandatoris">*</span>:</label>
                      <select required data-role="none" name="referal_methods" id="referal_methods" data-bind="options: $root.referal_methods_list, optionsText: 'name', optionsValue: 'id' , value: customer_referal_method, optionsCaption: 'Referral method...'" data-mini="true">
                      </select>
                      <div data-bind="ifnot: customer_referal_method()!=='7'">
                        <label for="customer_refered_by"  >Who referred you? <span class="smalakis">(First  &amp; Last Name, State)</span><span class="mandatoris">*</span>:</label>
                        <!-- <input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" /> -->
                        <!-- Search customer -->
                        <div id="searchCustomerDiv2" class="container_12">
                            <div class="">
                                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                                    <input required value="search for existing customer" data-bind="value: $root.custSelectVM.customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer"
                                        onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
                                        type="text">
                                </div>
                                <span style="font-size:11px; display:block; margin-top:-6px;">Type at least three letters to view results</span>
                            </div>
                            <div class="cb"></div>
                            <ul class="alllistsview" style="font-size: 12px !important;" data-role="listview" data-bind="foreach:  $root.custSelectVM.customersAutocompleteList">
                                <li data-bind="click: function() { $root.setReferralCustomer($data); }">
                                    <div class="grid_4 capitalme"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
                                    <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
                                    <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
                                    <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
                                </li>
                            </ul>
                        </div>



                      </div>
                      <div data-bind="ifnot: customer_referal_method()!=='6'">
                        <label for="customer_other_way" >Please specify<span class="mandatoris">*</span>:</label>
                        <input required type="text" name="customer_other_way" data-bind="value: customer_other_way" value="" />
                      </div>
                      <div data-bind="ifnot: customer_referal_method()!=='1' && customer_referal_method()!=='8' && customer_referal_method()!=='9'">
                        <label for="customer_referal_moreinfo" >What did you type<span class="mandatoris">*</span>:</label>
                        <input required type="text" name="customer_referal_moreinfo" data-bind="value: customer_referal_moreinfo" value="" />
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="j-footer container_12">
                <div class="half-em-around">




                </div> </div>


            </div>
        </form>

    </div>


    <div style="margin-top: 300px;clear: both"></div>
    <div class="j-footer container_12">

        <div class="half-em-around">


            <div class="grid_2" data-bind="if: !creatingCustomer()">
                <a href="#" data-bind="click: function(){ posChangePage('#main'); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Return Back</span>
                    <span class="btn-letter">To Main</span>
                </a>
            </div>


            <div class="grid_3" data-bind="if: creatingCustomer">
                <a href="#" data-bind="click: function() { $root.backToCustomerSearch(); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Return Back</span>
                    <span class="btn-letter">To Customer Search</span>
                </a>
            </div>

        </div>


        <div style="float: right" data-bind="visible: !$root.creatingCustomer(), click: addNewCustomer">
            <a href="#" class="new-btn icon-add-customer new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
                <span class="btn-small-letter">Create New</span><span class="btn-letter"> Customer</span>
            </a>
        </div>


        <div style="float: right;" data-bind="visible: selectedCustomer(), click: $root.proceedToOrder">
            <a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 145px;">
                <span class="btn-small-letter">Proceed to</span>
                <span class="btn-letter">ORDER</span>
            </a>
        </div>

        <div style="float: right;" data-bind="visible: $root.creatingCustomer(), click: $root.createNewCustomer">
            <a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 145px;">
                <span class="btn-small-letter">Create Customer and</span>
                <span class="btn-letter">Proceed to ORDER</span>
            </a>
        </div>


    </div>

    </div> <!-- End pre order container -->

</div>