<div data-role="page" id="orderProcessType" class="bgBody">

    <div class="ui-grid-b" data-type="horizontal" data-bind="visible: ">
        
        <!-- fisrt row -->
        <ul class="mainmenu menu-order" style="left: 30%; margin-bottom: 0 !important;">
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"
                    onclick="{ posChangePage('#orderProcess'); }" class="ui-link ui-link-order">
                    <img src="img/order_process/wetransfer-1be0e1/singleorder.png" border="0">
                    <span>SINGLE ORDER</span>
                </a>
            </li>
        </ul>

        <!-- second row -->
        <ul class="mainmenu menu-order">
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"
                    onclick="{ posChangePage('#preOrders'); }" class="ui-link ui-link-order">
                    <img src="img/order_process/wetransfer-1be0e1/grouporder.png" border="0">
                    <span>GROUP ORDER</span>
                </a>
            </li>
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"
                    onclick="{ posChangePage('#uniformMainMenu'); }" class="ui-link ui-link-order">
                    <img src="img/order_process/wetransfer-1be0e1/companyuniforms.png" border="0">
                    <span>COMPANY</span>
                    <span>UNIFORMS</span>
                </a>
            </li>
            <li style="position: relative;">
                <span id="pending-group-orders-notf" class="mynotifyt" style="background: red;font-weight: 900;"></span>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"
                    onclick="{ posChangePage('#pendingGroupOrders'); }" class="ui-link ui-link-order pending-order">
                    <img src="img/order_process/wetransfer-1be0e1/pendinggrouporders.png" border="0">
                    <span>PENDING GROUP</span>
                    <span>ORDERS</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="j-footer container_12">
            
        <div class="grid_2" onclick="posChangePage('#main');">
            <a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                <span class="btn-small-letter">Return Back</span>
                <span class="btn-letter">To Main</span>
            </a>
        </div>

    </div>


</div>