<style>
    .requirementsBox{
        padding: 4px;
        /* border: solid 2px; */
        width: 97%;
    }

    .mandatoryBox{
        border-color: var(--red);

    }

    .notMandatoryBox{
        border-color: var(--yellow);
    }

    .go-to-step-button.margin-row-btn{
        margin: 3px 0;
    }

    .customer-missing {
        font-weight: bold;
    }

    .garment-missing{
        font-weight: bold;
    }

</style>

<div class="pop-up" id="requiredBeforeSubmitOrder" data-bind="with: $root.orderStepRequirementsVM" style="display: none">
    <!-- close button -->
   <div class="close-pop-up" data-bind="click: function() { $('#requiredBeforeSubmitOrder').hide(500) }">X</div>


   <!-- body -->
   <div class="row popup-body">
        <!-- everything is done -->
        <!--ko if:  $data.requiredInfoListVM.requiredInfoList().length == 0 -->
            <div class="col-md-12" style="text-align: center;">

                <h1>Everything is ok</h1>
                <br>
                <img alt="" src="gfx/order/trofeu_gif.gif" style="width: 35%;">

            </div>
        <!-- /ko -->

        <!-- not everything done -->
        <!--ko if:  $data.requiredInfoListVM.requiredInfoList().length > 0 -->
            <!-- required missing -->
            <div class="col-md-12" style="margin-bottom: 33px">
                <div class="requirementsBox mandatoryBox">
                    <h1> Mandatory Missing </h1>
                    <div data-bind="foreach: $data.requiredInfoListVM.requiredInfoList().filter(el => el.mandatory ? true : false)">
                        <div class="row">
                            <div class="col-md-9">
                                <span data-bind="html: $data.text"></span>
                            </div>
                            <div class="col-md-3">
                                <button class="go-to-step-button margin-row-btn" data-bind="click: function(){
                                                                                                $('#requiredBeforeSubmitOrder').hide(500);
                                                                                                $data.goToStep()
                                                                                            }">Go to Step</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <!-- not mandatory but missing -->
            <div class="col-md-12" style="margin-bottom: 33px">
                <div class="requirementsBox notMandatoryBox">
                    <h1> Not Mandatory But Still Missing </h1>
                    <div data-bind="foreach: $data.requiredInfoListVM.requiredInfoList().filter(el => el.mandatory ? false : true)">
                        <div class="row">
                            <div class="col-md-9">
                                <span data-bind="html: $data.text"></span>
                            </div>
                            <div class="col-md-3">
                                <button class="go-to-step-button margin-row-btn" data-bind="click: function(){
                                                                                                $('#requiredBeforeSubmitOrder').hide(500);
                                                                                                $data.goToStep()
                                                                                            }">Go to Step</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /ko -->
   </div>

    <!-- footer -->
    <div class="j-footer">
        <div class="justify-content-between">
            <div class="col-md-3">
                <a href="#" class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all"
                    data-bind="click: function() { $('#requiredBeforeSubmitOrder').hide(500);  }" data-role="button" role="button">
                    <span class="btn-letter">Back To</span>
                    <span class="btn-small-letter">Previous step</span>
                </a>
            </div>

            <div class="col-md-3 col-md-offset-6">
                <div data-bind="click: function() {
                                    // check mandatory misses
                                    if( $data.requiredInfoListVM.requiredInfoList().filter(el => el.mandatory ? true : false).length > 0){
                                        customAlert('You can not proceed without solve all mandatory problems');
                                        return;
                                    }

                                    const confirmAction = () => {
                                        // submit
                                        $('#requiredBeforeSubmitOrder').hide(500);
                                        $root.submitOrder();
                                    }

                                    // confirm if user really want to submit
                                    if ($data.requiredInfoListVM.requiredInfoList().length > 0){
                                        pos_confirm({msg: 'Are you sure you want to proceed without all fields filled?', confirmAction});
                                    }
                                    else{
                                        pos_confirm({msg: 'Are you sure, you want to submit and finish this order?', confirmAction});
                                    }


                                }">
                    <a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button"
                        role="button" style="position: relative;right: 40px;min-width: 145px;">
                        <span class="btn-small-letter">SUBMIT </span>
                        <span class="btn-letter">Order</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>