<div class="design-selection-ui order-step" data-bind="with: $root.orderOverview">
    <!-- <link rel="stylesheet" type="text/css" href="./css/3D.css">  -->

    <style>
        .garment-portifolio-wrapper {}

        .garment-portifolio-el {}

        .garment-price-wrapper {}

        .garment-price-input {
            font-size: 24px;
            border: none;
            border-radius: 5px;
            width: 100px;
        }

        .garment-design-overview-wrapper {}

        .garment-notes-wrapper {}

        .send-portifolio-pdf-btn {
            top: 30px;
            position: relative;
            border: none;
            background: var(--grey-4);
            color: white;
            padding: 5px;
            padding-right: 5x;
            padding-left: 5px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 20px;
            border-radius: 5px;
        }

        .garment-template-name {
            font-size: 20px;
            font-weight: 900;
            text-transform: capitalize;
            margin-top: 0;
        }

        .garment-portifolio-notes {
            width: 100%;
            height: 150px;
            resize: none;
            border: none;
            border-radius: 5px;
        }

        /* IMAGE3D */

        .orderOverview3D #image-3d {
            position: relative;
            top: 0px;
            height: 364px;
            background-color: transparent;
            border: none;
        }

        .orderOverview3D #image-3d .image-wrapper-3d img {
            width: 94%;
            height: inherit !important;
            left: 0%;
            top: 0%;
            position: absolute;
        }

        .orderOverview3D #image-3d.bigger {
            position: relative;
            left: -23%;
            top: 0px;
            width: 80%;
            height: 364px;
            padding: 110px 0px;
        }
        .orderOverview3D #image-3d.bigger img {
            width: 93%;
            height: inherit !important;
            left: 3%;
            top: 0%;
        }

        .orderOverview3D div.change-side {
            top: 195px;
        }

        .image-wrapper-3d {
            width: 100%;
            height: 100%;
        }

        /* END IMAGE 3D */
        .payment-button-wrapper {
            display: flex;
        }

        .payment-button-wrapper > .paymentButton {
            margin-right: 10px;
        }

        .paymentButton {
            display: flex;
            align-items: center;
            background: var(--green1);
            border-radius: 9px;
            width: 17%;
            width: max-content;
            padding: 7px;
            justify-content: space-between;
        }
        .paymentButton img {
            width: 29px;
            margin-right: 9px;
        }

        .garment-button {
            margin: 6px 0;
            width: 180px;
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 1px solid #3c3c3b;
            border-radius: 0.351em;
            color: #3c3c3b;
            padding: 7px 0px !important;
            text-align: center;
            text-shadow: none;
            cursor: pointer;
        }

        .overviewspan1 {
            width: 50%;
            text-align: end;
            font-weight: bold;
            margin-right: 10px;
        }

        .edit-customer-form input {
            width: 100%;
            border-radius: 5px;
            border: none;
            height: 28px;
            padding: 0 8px;
        }

        .edit-customer-form input.read-only {
           color: slategray;
        }

        .edit-customer-form button[type="submit"] {
            color: white;
            background-color: var(--green1);
            border: none;
            padding: 5px 13px;
            border-radius: 5px;
        }

       .edit-customer-form .footer {
            display: flex;
            justify-content: flex-end;
        }





    </style>

    <!-- templates for images 3d -->
    <div id="pants3dTemplates"></div>
    <div id="vest3dTemplates"></div>
    <div id="shirt3dTemplates"></div>
    <div id="jacket3dTemplates"></div>
    <div id="suit3dTemplates"></div>


    <script>
        // import templates
        $('#pants3dTemplates').load('uniforms_designs/images_3d_teplates/pants3D.htm');
        $('#vest3dTemplates').load('uniforms_designs/images_3d_teplates/vest3D.htm');
        $('#shirt3dTemplates').load('uniforms_designs/images_3d_teplates/shirt3D.htm');
        $('#jacket3dTemplates').load('uniforms_designs/images_3d_teplates/jacket3D.htm');
        $('#suit3dTemplates').load('uniforms_designs/images_3d_teplates/suit3D.htm');
    </script>

    <div class="payment-button-wrapper">
        <div class="paymentButton" onclick="$('#withGarmentShowOverview').show(500)">
            <img src="./img/order_icons/89ff35949c.png" alt="">
            <span>CHECK GARMENTS</span>
        </div>
        <div class="paymentButton" onclick="$('#customerOverview').show(500)">
            <img src="./img/order_icons/89ff35949c.png" alt="">
            <span>CHECK CUSTOMER</span>
        </div>
    </div>


    <div class="pop-up" id="withGarmentShowOverview" style="display: none">
         <!-- close button -->
        <div class="close-pop-up" data-bind="click: function() { $('#withGarmentShowOverview').hide(500) }">X</div>


        <!-- body -->
        <div class="popup-body">
            <h1>Which Garment to show?</h1>

            <div data-bind="foreach: { data: $root.customers, as: 'customer' }">

                <hr>

                <span>
                    <h3 data-bind="text: customer.full_name"></h3>
                </span>

                <div data-bind="foreach: { data: customer.garmentsStep.garments, as: 'gar_category' }">


                    <div data-bind="foreach: { data: gar_category.garments, as: 'garment' }">

                        <div class="garment-button" data-bind="click: function() {
                                                                    // hide this popup
                                                                    $('#withGarmentShowOverview').hide()
                                                                    $root.orderOverview.garmentToShowOverview(garment);

                                                                    // show next one
                                                                    $('#garmentShowOverviewPopUp').show();
                                                                }">

                            <span data-bind="text: gar_category.name + ' ' + ($index()+1) "></span>

                            <span data-bind="if: garment.selectedFabric">
                                <span data-bind="text: garment.selectedFabric().title"></span>
                            </span>

                            <span data-bind="if: !garment.selectedFabric()">
                                <span> - No Fabric Yet</span>
                            </span>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="pop-up" id="customerOverview" style="display: none">
         <!-- close button -->
        <div class="close-pop-up" data-bind="click: function() { $('#customerOverview').hide(500) }">X</div>


        <!-- body -->
        <div class="popup-body" style="height: 92%;">
            <h1 data-bind="text: $root.selectedCustomer().full_name"></h1>


            <form
                data-bind="
                    with: $root.selectedCustomer().customerDetails,
                    submit: () => {
                        $root.orderOverview.updateCustomerInfo(
                            $root.selectedCustomer().customerDetails
                        );
                    }
                "
                class="validateForm edit-customer-form"
            >
                <div class="col-md-12" style="padding: 0;">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label>First Name</label>
                            <input type="text" class="read-only" readonly data-bind="value: $data.customer_first_name">
                        </div>
                        <div class="col-md-12">
                            <label>Last Name</label>
                            <input type="text" class="read-only" readonly data-bind="value: $data.customer_last_name">
                        </div>
                        <div class="col-md-12">
                            <label>Date of Birth</label>
                            <input type="text" class="read-only" readonly data-bind="value: $data.customer_DOB">
                        </div>
                        <div class="col-md-12">
                            <label>Location</label>
                            <select data-bind=" options        : $parents[0].countries,
                                                value          : $data.customer_country,
                                                optionsValue   : 'locations_id',
                                                optionsText    : 'location_name',
                                                optionsCaption : 'Order Country'">
                            </select>
                            <select data-bind=" options        : $parents[0].states.filter(state => state.parent_location_id == $data.customer_country()),
                                                value          : $data.customer_state,
                                                optionsValue   : 'locations_id',
                                                optionsText    : 'location_name',
                                                optionsCaption : 'Order State'">
                            </select>
                            <select data-bind=" options        : $parents[0].cities.filter(state => state.parent_location_id == $data.customer_state()),
                                                value          : $data.customer_city,
                                                optionsValue   : 'locations_id',
                                                optionsText    : 'location_name',
                                                optionsCaption : 'Order City'">
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label>Street Address</label>
                            <input type="text" data-bind="value: $data.customer_address1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label>Suburb</label>
                            <input type="text" data-bind="value: $data.customer_address2">
                        </div>
                        <div class="col-md-12">
                            <label>Post Code</label>
                            <input type="text" data-bind="value: $data.customer_postal_code">
                        </div>
                        <div class="col-md-6">
                            <label>Mobile Number</label>
                            <input type="text" data-bind="value: $data.customer_mobile_phone">
                        </div>
                        <div class="col-md-6">
                            <label>LandLine Number</label>
                            <input type="text" data-bind="value: $data.customer_landline_phone">
                        </div>
                        <div class="col-md-12">
                            <label>Email</label>
                            <input type="text" data-bind="value: $data.customer_email">
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 33px; padding: 0;">
                    <div class="footer">
                        <button type="submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="garment-portifolio-wrapper pop-up" id="garmentShowOverviewPopUp"  data-bind="with: $data.garmentToShowOverview" style="display: none">
        <!-- close button -->
        <div class="close-pop-up" data-bind="click: function() { $('#garmentShowOverviewPopUp').hide(500) }">X</div>

        <!-- body -->
        <div class="popup-body">
            <div data-bind="if: $data">

                <div class="garment-portifolio-wrapper col-md-12">

                    <div class="garment-portifolio-el row" data-base64=""
                        data-bind="attr : { 'data-garment-id' : $data.unique_id, 'id' : 'garment-' + $data.unique_id }">

                        <div class="orderOverview3D col-md-6">

                            <!-- for pants garments -->
                            <!-- ko if: $data.garment_id == '1' -->
                            <div data-bind="template: { name: 'pants3DTemplate', data: $data }"></div>
                            <!-- /ko -->

                            <!-- for vest garments -->
                            <!-- ko if: $data.garment_id == '3' -->
                            <div data-bind="template: { name: 'vest3DTemplate', data: $data }"></div>
                            <!-- /ko -->

                            <!-- for shirt garments -->
                            <!-- ko if: $data.garment_id == '2' -->
                            <div data-bind="template: { name: 'shirt3DTemplate', data: $data }"></div>
                            <!-- /ko -->

                            <!-- for jacket garments -->
                            <!-- ko if: $data.garment_id == '4' -->
                            <div data-bind="template: { name: 'jacket3DTemplate', data: $data }"></div>
                            <!-- /ko -->

                            <!-- for suit garments -->
                            <!-- ko if: $data.garment_id == '6' -->
                            <div data-bind="template: { name: 'suit3DTemplate', data: $data }"></div>
                            <!-- /ko -->

                        </div>

                        <div style="min-height: 458px;" class="col-md-6">

                            <div class="row">

                                <div class="garment-design-overview-wrapper">

                                    <p><strong>Design Overview:</strong></p>
                                    <!-- Put garment design overview here -->
                                    <div data-bind="foreach: $root.orderOverview.getPortfolioData($data.unique_id)"
                                        style="overflow-y: scroll;">
                                        <div class="overviewSpanWrapper" style="display: flex">
                                            <span class="overviewspan1" data-bind="text: $data[0]+' : '"></span>
                                            <span class="overviewspan2" data-bind="text: $data[1]"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <hr>

                </div>

            </div>
        </div>

        <!-- footer -->
        <div class="j-footer">
            <div class="close-pop-up " data-bind="click: function() { $('#garmentShowOverviewPopUp').hide(); $('#withGarmentShowOverview').show(); }" style="float: left;background: var(--selected);"> &lt&ltBack</div>
        </div>
    </div>


</div>