<div data-role="page" id="orderItemVideo" class="bgBody">
    <div data-bind="template: {name: 'stepstemplatefixed'}"></div>
    <h1>Upload /  Take your video(s)</h1>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
        	<div class="container_12 hundredfiftybottompad">
            <div class="grid_2 suffix_10" style="margin-bottom:20px;">
                	<input id="files" type="file" accept="image/*"/>
                   	<div class="loadvideos" data-role="button" data-bind="click:function(){orderItem.clickMedia(orderItem.customerVideo, 1);}">Upload media</div>
                    <span class="underbuttons">Upload Video</span>
                </div>
                
                
        
            
            
            <div data-bind="foreach: customerVideo.getMediaPreview()">
            <div class="grid_12">
            	<div class="grid_6 myvideo-warp">
                    <video controls class="myvideos">
                        <source data-bind="attr: {src: $data}" type="video/mp4">
                        <source data-bind="attr: {src: $data}" type="video/ogg">
                        Your browser does not support HTML5 video. 
                  	</video>
                  	<span class="close" data-bind="click:function(){$parent.customerVideo.removeMedia($index());}">X</span>
               	</div>
                <div class="grid_6 myvideo-comments">
                	<textarea data-bind="attr: {id:'note'+$index()}"></textarea>
                <a class="mykoubakiss" data-bind="click: function(){$parent.customerVideo.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');}">Add Comment</a>
                <div style="clear:both;"></div>
                <ul data-bind="foreach: $parent.customerVideo.getTags($index())" class="mycomentlist">
                    <li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><span data-bind="html: $data" class="commint"></span></td>
                                <td width="35" valign="top" align="center"><a data-bind="click: function(){$root.customerVideo.removeTag($parentContext.$index(), $index());}" class="close">X</a></td>
                            </tr>
                        </table>
                    </li>
                </ul>
                </div>
                </div>
                
                
            </div>
            <script> 

			function showImages() {				
				var imagesDiv = document.getElementById("imagesdiv");
				var videosDiv = document.getElementById("videosdiv");
				document.getElementById("uploadImages").classList.add("activated");
				document.getElementById("uploadVideos").classList.remove("activated");
				imagesDiv.style.display = "block";
				videosDiv.style.display = "none";
			}
			function showVideos() {
				var imagesDiv = document.getElementById("imagesdiv");
				var videosDiv = document.getElementById("videosdiv");
				document.getElementById("uploadImages").classList.remove("activated");
				document.getElementById("uploadVideos").classList.add("activated");
				imagesDiv.style.display = "none";
				videosDiv.style.display = "block";
			}

		
					function removepic(div_id){
						setTimeout(function(){
							if( confirm('Do you want to delete this image?') ){
								document.getElementById(div_id).remove();
								// REFRESHING LOCALSTORAGE PHOTOS						
								thephotos = localStorage.getItem('photos');
								thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
								for (var a=thephotos.length - 1; a >= 0; a--){	                    		
									if(thephotos[a].image_id == div_id){
										thephotos.splice(a, 1);
									}	
								}
								// REFRESHING LOCALSTORAGE TAGS						
								thetags = localStorage.getItem('tags');
								thetags = (thetags === null) ? [] : JSON.parse(thetags);
								for (var b=thetags.length - 1; b >= 0; b--){	                    		
									if(thetags[b].image_id == div_id){
										thetags.splice(b, 1); 
									}	
								}						
								// SAVING LOCALSTORAGE PHOTOS
								var tmp = [];
								for(var x = 0; x < thephotos.length; x++){
									tmp.push({customer_id:thephotos[x].customer_id,image_id:thephotos[x].image_id,picture:thephotos[x].picture,thumbnail:thephotos[x].thumbnail});
								}
								localStorage.removeItem('photos');
								localStorage.setItem('photos', JSON.stringify(tmp));				
								// SAVING LOCALSTORAGE TAGS
								tmp = [];
								for(var x = 0; x < thetags.length; x++){
									tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
								}
								localStorage.removeItem('tags');
								localStorage.setItem('tags', JSON.stringify(tmp));
							}
						},0);
					}
					
					function appendItemVideo(topost, basedata) { 
						var endpoint = 'upload_customer_image2';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						try{
							var customerString = orderItem.custSelectVM.selectedCustomer().server_id;
						}catch(e){
							var customerString = "0";
						}
						request = $.ajax({
					    	type: 'POST',
					        url: ServerEndPoint,
					        dataType: 'json',
					        async: true,
					        data:{
					            salesman: JSON.stringify(eval("(" + salesmanString + ")")),
								customer_id: customerString,
					            data: basedata2
					        },
					        success: function(dataS) {
								var spinner = document.getElementById('loading_jp');
								spinner.style.display = "none";								
								var data = dataS;
								var image_id = data['id'];
								var image = data['image'];
								
								orderItem.customerVideo.addMedia(data['image'],data['image'],false);
								return;
								orderItem.mediaController = orderItem.customerVideo;
								orderItem.MediaUploadVM.imagPath = data['image'];
								orderItem.MediaUploadVM.upPath = data['image'];
								orderItem.MediaUploadVM.media(data['image']);
								return;
								var tmp = localStorage.getItem('photos');
	        		   			tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   			var customer_id = orderItem.custSelectVM.selectedCustomer().server_id;
        						tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           					localStorage.setItem('photos', JSON.stringify(tmp));
								document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript: removepic(', image_id ,');"></span><div class="image_panel"><img src="', basedata,'" class="imageMap" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
					        }
						});	           			
					}		
									
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					if (window.FileReader) {
				    	function handleFileSelect(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									try{
				             			//resizemyImage(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 512, 1536, "orderItemVideo.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('Error occured');
				             			appendItemMedia(e.target.result, e.target.result);
				             		//	document.getElementById('list').innerHTML += ['<div class="img-wrap"><span class="close"></span><img src="', e.target.result, '" width="50"/></div>'].join('');	
				             		}
				            	};
				        	})(f);
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}

				    photos = localStorage.getItem('photos');
					photos = (photos === null) ? [] : JSON.parse(photos);
					thetags = localStorage.getItem('tags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					
					if(localStorage.getItem('photos') != null){
					    if(localStorage.getItem('photos').length > 0){
						    for (var i=0, len=photos.length; i<len; i++){
						    	if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().server_id){
									var taghtml = ""
									for (var a=thetags.length - 1; a >= 0; a--){	                    		
										if(thetags[a].image_id == photos[i].image_id){	
												fromleft = 100 + thetags[a].left;
												arrowwidth = 105 - thetags[a].left;
												taghtml += '<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  thetags[a].left + '%;top:' + thetags[a].top + '%;"></div>';										
												taghtml += '<div class="tagged" style="width:35;height:35;left:105%;top:' + thetags[a].top + '%;">';
												taghtml += '<div class="tagged_title" style="display:block;">' + thetags[a].text + '</div>';
												taghtml += '<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">';
												taghtml += '<img class="openDialog" onclick="javascript: deleteImageTag(this, ' + thetags[a].top + ', ' + thetags[a].left + ');" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 450px; padding: 0px;"></img>';
												taghtml += '</div></div>';
										}
									}

									document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', photos[i].image_id ,'"><span class="close" onclick="javascript: removepic(', photos[i].image_id ,');"></span><div class="image_panel"><img src="', photos[i].thumbnail ,'" class="imageMap" id="imagemap_', photos[i].image_id ,'"/><div class="mapper" id="mapper_', photos[i].image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', photos[i].image_id ,'"/></div><div class="planetmap" id="planetmap_', photos[i].image_id ,'">', taghtml, '</div></div></div>'].join('');
						    	}	
						 	}
						}  
				    }
				    document.getElementById('files').addEventListener('change', handleFileSelect, false);
			    </script>
        	</div>
        </div>
        <div class="j-footer container_12">
  	<div class="half-em-around"> 
            <div class="grid_2 prefix_10"><a data-bind="click: nextBigStep" class="new-btn icon-goto-bodyshape new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed to </span><span class="btn-letter"> BodyShape</span></a></div>
            </div> </div>
            
            
        
    </div>
    <!-- /content --> 
</div>
