<div data-role="page" id="outsideCustomerFitting" class="bgBody">

    <link rel="stylesheet" type="text/css" href="css/fitting.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

    <style>
        li.completedfitting {
            background: #93c045c7 none repeat scroll 0 0 !important;
            opacity:1;
        }
        .fitting-container{
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }

        #errorBtn {
            margin-top: 13px;
        }

        .body {
            padding: 0px 13px;
        }

        .garment-info {
            display: flex;
            justify-content: space-around;
            margin-bottom: 42px;
        }

        .add-note-step .image-fitting{
            width: 100%;
        }

        .tag-map {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }

        .tag-map .tag-on-image {
            position: absolute;
            background-color: red;
            color: white;
            transform: translate(-50%,-50%);
            min-width: 18px;
            text-align: center;
            border-radius: 4px;
            min-height: 21px;
        }

        .tags-list .tag-row{
            margin-bottom: 16px;
        }

        .tags-list .tag-row input{
            width: 93%;
            border-radius: 5px;
            border: none;
            height: 40px;
            padding-left: 10px;
        }

        .tags-list .tag-row .remove-tag{
            background: red;
            color: white;
            border-radius: 5px;
            padding: 5px;
            font-size: 19px;
        }


    </style>

    <h1>Outside Customer Fitting</h1>

    <section class="top-menu" style="height: 127px;">
        <!-- Fitting step by step menu -->
        <div class="grid_6">
            <ul class="fittingmenus" data-bind="foreach: {data: $root.availableSteps(), as: '$fittingStep'}">
                <li data-bind="css: {
                                completedfitting : $fittingStep.isComplete(),
                                selected : $root.selectedStep().id === $fittingStep.id,
                            },
                        click: () => {$root.selectStep($fittingStep.id)}"
                >

                    <span data-bind="attr: { class: $fittingStep.classIcon}"></span>
                    <div data-bind="text: $fittingStep.name"></div>
                </li>


            </ul>

        </div>

        <!-- additional popups -->
        <div class="grid_6" style="float: right;">
            <div>
                <button id="errorBtn" class=" ui-btn ui-shadow ui-corner-all">
                    <span style="top: 22px;position: relative;font-size: 14px;display: block;left: -4px;">
                        Error Report
                    </span>
                    <span id="" class="mynotifyt" style="background: red;right: -1px;top: -3px;">
                        0
                    </span>
                </button>

                <button id="remakeBtn" class=" ui-btn ui-shadow ui-corner-all">
                    <span style="top: 22px;position: relative;font-size: 14px;display: block;">REMAKE</span>
                </button>

                <button id="measurmentsBtn" class="open-meas-pop-up-btn ui-btn ui-shadow ui-corner-all">
                    <span style="top: 22px;position: relative;font-size: 12px;display: block;left: -7px;">
                        MEASUREMENTS
                    </span>
                </button>

                <button id="tailorsBtn" class=" ui-btn ui-shadow ui-corner-all">
                    <span style="top: 22px;position: relative;font-size: 12px;display: block;left: -7px;">TAILORS</span>
                </button>
            </div>
        </div>
    </section>

    <section class="body">
        <h2 style="margin-bottom: 20px;font-weight: bold;">$garment_name</h2>

        <div class="garment-info">
            <div>
                <h3>Fabric:</h3>
                <span>#Fabric_code</span>
            </div>

            <!-- Only show if current step is different from the assign tailor -->
            <div data-bind="visible: $root.selectedStep().id != 'assign_tailor'" style="display: flex;">
                <input
                    type="checkbox"
                    data-role="none"
                    style="width: 30px;height: 30px;"
                    data-bind="checked: $root.garmentAsCompletionData"
                >
                <span style="color: red;font-size: 22px;">
                    Use as Completion Data
                </span>
            </div>

            <div>
                <h3>Barcode:</h3>
                <span>#bar_code</span>
            </div>


        </div>

        <!--
            ██╗   ██╗██████╗ ██╗      ██████╗  █████╗ ██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗    ███████╗████████╗███████╗██████╗
            ██║   ██║██╔══██╗██║     ██╔═══██╗██╔══██╗██╔══██╗    ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝    ██╔════╝╚══██╔══╝██╔════╝██╔══██╗
            ██║   ██║██████╔╝██║     ██║   ██║███████║██║  ██║    ██║██╔████╔██║███████║██║  ███╗█████╗      ███████╗   ██║   █████╗  ██████╔╝
            ██║   ██║██╔═══╝ ██║     ██║   ██║██╔══██║██║  ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝      ╚════██║   ██║   ██╔══╝  ██╔═══╝
            ╚██████╔╝██║     ███████╗╚██████╔╝██║  ██║██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗    ███████║   ██║   ███████╗██║
             ╚═════╝ ╚═╝     ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚══════╝   ╚═╝   ╚══════╝╚═╝
        -->
        <div class="upload-image-step container fitting-container" data-bind="visible: $root.selectedStep().id === 'upload_image'">
            <!-- FRONT IMAGE -->
            <div class="col-md-4">
                <div class="centerme">
                    <!-- Button to uplad -->
                    <div
                        class="imaggo"
                        data-bind="
                            visible: $root.mediaImages.frontImage().src() === '',
                            click: () => {$root.mediaImages.choosePicSource($root.mediaImages.imageTypes.FRONT)}
                        ">
                        <div>
                            <input accept="image/*" id="FittingFrontImageFiles" style="display:none" type="file" />
                            <div class="img_uploader_btn new-btn-icon-left" data-image-type="FittingFrontImage"
                                data-role="button" id="FittingFrontImageMediaBtn">
                                <h2 class="Fitting_text_btn">Upload</h2>
                                <h2 class="Fitting_text_btn">Front Image</h2>
                            </div>
                        </div>
                        <div class="col-md-6 prefix_4 suffix_5 selectlist" data-target-attr="FittingFrontImage">
                            <input data-bind="visible: false, value: $root.mediaImages.frontImage().src" id="FittingFrontImage"
                                name="FittingFrontImage" type="text" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-10">
                        <!-- image example -->
                        <output id="FittingFrontImageMedia" data-bind="visible:$root.mediaImages.frontImage().src() === ''">
                            <img src="gfx/fittings/take-image-front.png">
                        </output>
                        <div class="inpickme">
                            <!-- uploaded image -->
                            <output id="FittingFrontImageMedia" data-bind="visible:$root.mediaImages.frontImage().src() !== ''">
                                <div class="img-wrap">
                                    <span class="close-fitting" data-bind="click: function(){$root.mediaImages.removeImage($root.mediaImages.imageTypes.FRONT);}">X</span>
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480"
                                            data-bind="attr: {src: $root.mediaImages.frontImage().src()}"> </div>
                                </div>
                            </output>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------->

            <!-- side image -->
            <div class="col-md-4">
                <div class="centerme">
                    <!-- Button to uplad -->
                    <div
                        class="imaggo"
                        data-bind="
                            visible: $root.mediaImages.sideImage().src() === '',
                            click: () => {$root.mediaImages.choosePicSource($root.mediaImages.imageTypes.SIDE)}
                        ">
                        <div>
                            <input accept="image/*" id="FittingSideImageFiles" style="display:none" type="file" />
                            <div class="img_uploader_btn new-btn-icon-left" data-image-type="FittingSideImage"
                                data-role="button" id="FittingSideImageMediaBtn">
                                <h2 class="Fitting_text_btn">Upload</h2>
                                <h2 class="Fitting_text_btn">Side Image</h2>
                            </div>
                        </div>
                        <div class="col-md-6 prefix_4 suffix_5 selectlist" data-target-attr="FittingSideImage">
                            <input data-bind="visible: false, value: $root.mediaImages.sideImage().src" id="FittingSideImage"
                                name="FittingSideImage" type="text" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-10">
                        <!-- image example -->
                        <output id="FittingSideImageMedia" data-bind="visible:$root.mediaImages.sideImage().src() === ''">
                            <img src="gfx/fittings/take-image-side.png">
                        </output>
                        <div class="inpickme">
                            <!-- uploaded image -->
                            <output id="FittingSideImageMedia" data-bind="visible:$root.mediaImages.sideImage().src() !== ''">
                                <div class="img-wrap">
                                    <span class="close-fitting" data-bind="click: function(){$root.mediaImages.removeImage($root.mediaImages.imageTypes.SIDE);}">X</span>
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480"
                                            data-bind="attr: {src: $root.mediaImages.sideImage().src()}"> </div>
                                </div>
                            </output>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------->
            <!-- BACK IMAGE -->
            <div class="col-md-4">
                <div class="centerme">
                    <!-- Button to uplad -->
                    <div class="imaggo" data-bind="
                                        visible: $root.mediaImages.backImage().src() === '',
                                        click: () => {$root.mediaImages.choosePicSource($root.mediaImages.imageTypes.BACK)}
                                    ">
                        <div>
                            <input accept="image/*" id="FittingBackImageFiles" style="display:none" type="file" />
                            <div class="img_uploader_btn new-btn-icon-left" data-image-type="FittingBackImage" data-role="button"
                                id="FittingBackImageMediaBtn">
                                <h2 class="Fitting_text_btn">Upload</h2>
                                <h2 class="Fitting_text_btn">Back Image</h2>
                            </div>
                        </div>
                        <div class="col-md-6 prefix_4 suffix_5 selectlist" data-target-attr="FittingBackImage">
                            <input data-bind="visible: false, value: $root.mediaImages.backImage().src" id="FittingBackImage"
                                name="FittingBackImage" type="text" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-10">
                        <!-- image example -->
                        <output id="FittingBackImageMedia" data-bind="visible:$root.mediaImages.backImage().src() === ''">
                            <img src="gfx/fittings/take-image-back.png">
                        </output>
                        <div class="inpickme">
                            <!-- uploaded image -->
                            <output id="FittingBackImageMedia" data-bind="visible:$root.mediaImages.backImage().src() !== ''">
                                <div class="img-wrap">
                                    <span class="close-fitting"
                                        data-bind="click: function(){$root.mediaImages.removeImage($root.mediaImages.imageTypes.BACK);}">X</span>
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480"
                                            data-bind="attr: {src: $root.mediaImages.backImage().src()}"> </div>
                                </div>
                            </output>
                        </div>
                    </div>
                </div>
            </div>

            <!-- line -->
            <div class="line grid_12" style="margin-bottom: 40px;"></div>

            <!---------------------------->
            <!-- ADITIONAL IMAGES -->
            <div class="col-md-12">
                <div class="centerme">
                    <!-- Button to uplad -->
                    <div class="imaggo" data-bind="
                                        click: () => {$root.mediaImages.choosePicSource($root.mediaImages.imageTypes.ADDITIONAL)}
                                    ">
                        <div>
                            <input accept="image/*" id="FittingAdditionalImageFiles" style="display:none" type="file" />
                            <div class="img_uploader_btn new-btn-icon-left" data-image-type="FittingAdditionalImage" data-role="button"
                                id="FittingCustomImageMediaBtn">
                                <h2 class="Fitting_text_btn">Upload</h2>
                                <h2 class="Fitting_text_btn">Additional Image</h2>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12">
                        <!-- image example -->
                        <output id="FittingAdditionalImageMedia" data-bind="visible:$root.mediaImages.additionalImages().length == 0">
                            <img src="gfx/fittings/additional.png">
                        </output>
                        <!-- ko foreach: {data: $root.mediaImages.additionalImages(), as: '$additionalImage'} -->
                            <div class="inpickme col-md-4">
                                <!-- uploaded image -->
                                <output id="FittingAdditionalImageMedia">
                                    <div class="img-wrap">
                                        <span class="close-fitting"
                                            data-bind="click: function(){$root.mediaImages.removeImage($root.mediaImages.imageTypes.ADDITIONAL, $index());}">X</span>
                                        <div class="image_panel">
                                            <img id="imagemap" class="imageMap" width="480"
                                                data-bind="attr: {src: $additionalImage.src()}"> </div>
                                    </div>
                                </output>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>

        <div class="upload-video-step container fitting-container" data-bind="visible: $root.selectedStep().id === 'upload_video'">
            <div
                class="img_uploader_btn new-btn-icon-left"
                data-bind="click: () => ($root.videoStep.chooseVideoSource())"
                data-role="button"
                id="FittingFrontImageMediaBtn"
            >
                <h2 class="Fitting_text_btn">Upload</h2>
                <h2 class="Fitting_text_btn">Videos</h2>

            </div>
            <output data-bind="foreach: {data: $root.videoStep.videos, as: '$video'}">
                <div class="col-md-12">
                    <!-- video -->
                    <div class="col-md-6 myvideo-warp">
                        <video class="myvideos" controls="">
                            <source data-bind="attr: {src: $video.url()}" type="video/mp4">
                                <source data-bind="attr: {src: $video.url()}" type="video/ogg"> Your browser does not support HTML5 video.
                                </source>
                            </source>
                        </video>
                        <span class="close-fitting" data-bind="click:function(){$root.videoStep.removeVideo($index())}">
                            X
                        </span>
                    </div>

                    <!-- comments -->
                    <div class="col-md-6">
                        <div data-bind="foreach: {data: $video.comments, as: '$videoComment'}">
                            <div>
                                <span data-bind="text: $videoComment"></span>
                                <span data-bind="click: () => {$video.removeComment($index())}">x</span>
                            </div>
                        </div>
                        <form data-bind="submit: () => {
                            $video.addComment($video.tempComment());
                            $video.tempComment('');
                        }">
                            <textarea data-bind="value: $video.tempComment" style="width: 100%; height: 82px;"></textarea>
                            <button type="submit">Add Comment</button>
                        </form>
                    </div>

                </div>
            </output>
            <div class="clear"></div>

        </div>

        <div class="add-note-step container fitting-container" data-bind="visible: $root.selectedStep().id === 'add_notes'">
            <div data-bind="foreach: {data: $root.mediaImages.allImagesInArray, as:'$fittingImage'}">
                <div class="col-md-12" data-bind="if: $fittingImage.src() !== ''" style="margin-bottom: 40px;">
                    <div class="col-md-6">
                        <div class="image-tag-wrapper" data-bind="click: (_, evt) => {$fittingImage.handleClickImage(evt)}">
                            <img data-bind="attr: {src: $fittingImage.src(), alt: $fittingImage.type}" class="image-fitting">
                            <div class="tag-map" data-bind="foreach: {data: $fittingImage.tags, as:'$tag'}">
                                <span
                                    class="tag-on-image"
                                    data-bind="
                                        text: parseInt($index()) +1,
                                        style: {
                                            left: $tag.posX + '%',
                                            top: $tag.posY + '%',
                                        }
                                    "></span>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-md-6 tags-list"
                        data-bind="foreach: {data: $fittingImage.tags, as: '$imageTag'}"
                    >
                        <div class="tag-row">
                            <input type="text" data-bind="value: $imageTag.text">
                            <span
                                class="remove-tag"
                                data-bind="click: () => {$fittingImage.removeImageTag($index())}"
                            >
                                x
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="assign-tailor-step container fitting-container" data-bind="visible: $root.selectedStep().id === 'assign_tailor'">

        </div>

    </section>

    <section class="footer">

    </section>


</div>