<div data-role="page" id="paymentsHistory" class="bgBody">

  <style>
    .labelCreditCard {
      background: var(--green1);
      color: white;
      text-align: center;
      border-radius: 9px;
      margin: 22% auto;
      padding: 5px 3px;
    }
  
  </style>

	<h1 data-bind="with: customersVMmirror"><span data-bind="text: customer_first_name">Customer's Name</span> <span data-bind="text: customer_last_name">Customer's Last Name</span></h1>
  <div data-role="content" data-theme="a">
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_12">
          <h3 style="margin-top:20px !important; margin-bottom:20px !important; ">Payments History</h3>
          <div class="grid_12 formytitles">
            <div class="grid_2"> <span class="marginleftten">Payment Date</span> </div>
            <div class="grid_2"> <span>Type Of Payment</span> </div>
            <div class="grid_4"> <span>Payment Notes</span> </div>
            <div class="grid_1"> <span>Upload Image</span> </div>
            <div class="grid_1"> <span>Thumbnail</span> </div>
            <div class="grid_1"> &nbsp; </div>
            <div class="grid_1" style="text-align:right;"> <span class="marginrighttwenty">Amount</span> </div>
          </div>
          <div data-bind="with: custOrderPaymentsVM">
            <ul class="grid_12 listcustnew orderlist" data-bind="foreach: orderpayments">
              <li class="grid_12">
                <div class="grid_2"><span data-bind="text: $parent.transmuteDate(transaction_date)" class="marginleftten"></span> </div>
                <div class="grid_2"><span data-bind="text: payment_method"></span> </div>
                <div class="grid_4"><span data-bind="text: referer"></span> </div>
                <div class="grid_1">
                  <!-- <button data-bind="visible: $parent.mustShowUploadImage($data), click: function() {$parent.uploadImage($data)}">Upload Image</button> -->
                  <div data-bind="visible: $parent.mustShowUploadImage($data)" class="grid_10">
                    <label
                      class="labelCreditCard"
                      data-bind="attr:{'for' : 'inputCreditCard-'+$data.payment_id,
                                    'id' : 'labelCreditCard-'+$data.payment_id}">
                                Input Credit Card
                    </label>
                    <input class="creditCardImageFiles" data-bind="attr: {'id' : 'inputCreditCard-'+$data.payment_id}, value: $data.creditCardImageObservable" type="file" accept="image/*" style="display: none">
                  </div>
                  <span data-bind="visible: !$parent.mustShowUploadImage($data)" >&nbsp;</span>
                </div>
                <div class="grid_1">
                  <img style="width: 100%" data-bind="visible: $parent.mustShowUploadImage($data),
                                                      attr: {'id' :'imageCreditCard-'+$data.payment_id, src: BUrl+$data.cc_img_path},
                                                      click: function(){
                                                        $parent.showImagePopUp($data);
                                                      }"
                        alt="Image Thumbnail" style="display: block;margin: auto;">
                  <span data-bind="visible: !$parent.mustShowUploadImage($data)" >&nbsp;</span>
                </div>
                <div class="grid_1"> &nbsp; </div>
                <div class="grid_1" style="text-align:right;"><span class="marginrightten"><span data-bind="text: deposit"></span><span>&nbsp;$</span></span></div><!-- print currency -->
              </li>
            </ul>
            <!-- pop-up to select the show credit card image -->
            <div class="pop-up" id="cc_image-popup" data-bind="with: $data" style="overflow-x: hidden; display: none;">
              <!-- close button -->
              <div class="close-pop-up" data-bind="click: function() { $('#cc_image-popup').hide(500) }">X
              </div>
            
              <!-- body -->
              <div class="popup-body">
                <img data-bind="attr:{src: $data.creditCardUrlToPopUp()}" alt="" style="max-width: 100%;display: block;margin: auto;">
              </div>
            
              <!-- footer -->
              <div class="j-footer justify-content-between"> </div>
          </div>
          </div>
          <ul class="grid_4 prefix_8 listcustnew orderlist" data-bind="with: customersVMmirror" >
            <li class="grid_12 makewhitelist">
              <div class="grid_5 prefix_3"> <span>Total Amount:</span> </div>
              <div class="grid_4" data-bind="with: selected_order" style="text-align:right;"><span class="marginrightten"><span data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span> <span>&nbsp;$</span></span> <!-- print currency --> 
              </div>
            </li>
          </ul>
          <ul class="grid_4 prefix_8 listcustnew orderlist fieldsMeasurements" >
            <li class="grid_12 makewhitelist">
              <div class="grid_5 prefix_3" > <span>Balance Owing:</span> </div>
              <div class="grid_4" data-bind="with: custOrderPaymentsVM" style="text-align:right;"><span class="marginrightten"><span data-bind="text: ammountRemaining()"></span> <span>&nbsp;$</span></span> <!-- print currency --> 
              </div>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#orderInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Order's Details</span></a></div>
            <div class="grid_2"><a data-bind="click: function(){posChangePage('#makePayment');}" class="new-btn icon-goto-payment new-btn-icon-right" data-role="button"><span class="btn-small-letter">Make a</span><span class="btn-letter"> Payment</span></a></div>
        </div>
    </div>
    
    
    
  
  
    
    <div class="bigladeling right_position stepbigbuts" style="display:none;"> <a href="#" data-bind="click: function(){posChangePage('#requestRefund');}"> <span class="refundstep"></span> <span class="firstpart">Request</span> <span class="bigpart">Refund</span> </a> </div>
  </div>
  <!-- /content --> 
</div>
