<div data-role="page" id="profitability" class="bgBody">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

    <style>
        h1{
            margin-left: 10px;
        }
        .warning-board{
            margin-bottom: 16px;
        }

        .warning-board span.warning{
            color: red;
        }

        #add-profitability-form button.submitBtn {
            width: 122px;
            background: var(--green1);
            color: white;
            float: right;
            margin-right: 14px;
        }

        .no-extra-cost{
            color: red;
        }

        #costs-section{
            margin-top: 20px;
        }

        #costs-section .remove-small-btn {
            background: red;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 12px;
        }
    </style>


    <h1> Add Profitability Order Cost</h1>
	<div data-role="content" data-theme="a" style="background:none !important; border:none;">

        <div class="warning-board">
            <span class="warning">These 'extra' costs will only be used to calculate profitability of garments and orders.</span>
            <br/>
            <span class="warning">It will be shown in profitability section as 'other costs'</span>
        </div>

        <form id="add-profitability-form">

            <!-- Search customer -->
            <div class="col-md-12">
                <div id="searchCustomerDiv" class="container_12">
                    <div class="">
                        <h3>Search for customers</h3>
                        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                            <input value="search for existing customer" data-bind="value: $root.custSelectVM.customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer"
                                onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
                                type="text"/>
                        </div>
                        <span style="font-size:11px; display:block; margin-top:-6px;">Type at least three letters to view results</span>
                    </div>
                    <div class="cb"></div>
                    <ul class="alllistsview" style="font-size: 12px !important;" data-role="listview" data-bind="foreach:  $root.custSelectVM.customersAutocompleteList">
                        <li data-bind="click: function() { $root.selectCustomer($data); }">
                            <div class="grid_4 capitalme"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
                            <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
                            <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
                            <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- select order -->
            <div class="col-md-12">
                <span>Select Order</span>
                <select data-bind="options: $root.availableOrders,
                                    value: $root.selectedOrder,
                                    optionsText: 'show_text',
                                    optionsCaption: 'Choose on order'">
                </select>

            </div>

            <!-- select garment -->
            <div class="col-md-12">
                <span>Select Garment</span>
                <select data-bind="options: $root.availableGarments,
                                    value: $root.selectedGarment,
                                    optionsText: 'show_text',
                                    optionsCaption: 'Choose on garment'">
                </select>
            </div>

            <!-- cost amount and description -->
            <div class="col-md-12 no-padding">
                <div class="col-md-6 ">
                    <span>Cost amount</span>
                    <input type="number" min="0" data-bind="value: $root.selectedAmount"/>

                </div>
                <div class="col-md-6">
                    <span>Cost Description</span>
                    <input type="text" data-bind="value: $root.selectedDescription"/>
                </div>
            </div>


            <button class="submitBtn" data-bind="click: function() {$root.submitProfitability()}">Submit</button>



        </form>

        <!-- profitabilities list -->
        <div class="col-md-12" id="costs-section">
            <div data-bind="foreach: $root.profitabilities">
                <ul>
                    <li style="display:block;">
                        <strong data-bind="text: 'A$ '+$data.amount"></strong>
                        <span data-bind="text: ' - '+$data.notes"></span>
                        <button data-role="none" class="remove-small-btn" data-bind="click: function(){$root.removeCost($data.id)}"> ✘ </button>
                    </li>
                </ul>
            </div>

            <div data-bind="if: $root.profitabilities && $root.profitabilities().length == 0">
                <span class="no-extra-cost">NO EXTRA COSTS !</span>
            </div>

        </div>





        <!-- footer -->
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2 suffix_8">
					<a data-bind="click: function(){posChangePage('#settings');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button" style="width: 162px;">
						<span class="btn-small-letter">Back to </span>
						<span class="btn-letter">Previous step</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /content -->
</div>