<div data-role="page" id="qc">
    <style>
        h1,
        h2,
        h3 {
            text-transform: capitalize;
        }

        .qc-body {
            margin-bottom: 100px;
            padding: 0 24px;
        }

        section#selected-garment .add-new-tag{
            width: 70px;
            color: white;
            border-radius: 50%;
            background: var(--orange);
            font-size: 40px;
            height: 70px;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .imagesHolder {
            display: flex;

            justify-content: space-evenly;
        }

        .imagesHolder .garment-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 160px;
        }

        .tagsList {
            display: flex;
            flex-wrap: wrap;
        }

        .tagsList .tag {
            background: var(--selected);
            margin: 0 5px 19px 0px;
            color: white;
            text-shadow: none;
            padding: 5px 15px;
            border-radius: 5px;
            position: relative;
            font-size: 16px;
            width: 240px;
        }

        .tagsList .tag .title {
            margin: 0 12px 0 0;
        }

        .tagsList .tag .count {
            background: red;
            padding: 1px 3px;
            position: absolute;
            top: 0;
            right: 0;
        }

        /* section#media-section !!! */

        #media-section{}

        .fullscreen {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 17px 33px;
            background: white;
            overflow: auto;
            padding-top: 0px;
        }

        .fullscreen .close-wrapper button {
            position: absolute;
            margin: 0 0px 0 0;
            right: 0;
            top: 0;
            background: red;
            color: white;
            padding: 0;
            --size: 60px;
            width: var(--size);
            height: var(--size);
            font-size: 40px;
            z-index: 2;
        }

        .fullscreen .no-errors {
            color: black;
            font-size: 20px;
            text-shadow: none;
        }

       .fullscreen .actions {
            position: relative;
            margin: 18px 0 !important;
            display: flex;
            justify-content: center;
        }

        /* .fullscreen .video-case .actions {
            position: relative
        } */

        .fullscreen .actions button {
            border-radius: 5px;
            color: white;
            border: none;
            padding: 11px 9px;
            width: 230px;
            margin: 0 11px;
        }

        .fullscreen .actions button.toggle-tags-btn {
            background: var(--orange);
        }

        .fullscreen .actions button.remove-media-btn {
            background: red;
        }

        .fullscreen .fullscreen-footer {
            margin-bottom: 84px !important;
        }

        .slider {
            white-space: nowrap;
        }

        .sliderItem {
            display: inline-block;
            margin-right: 20px;
        }

        .luiz-slider .image-tag-wrapper {
            position: relative;
            width: unset;
            display: table;
            margin: 0 auto;
        }

        .luiz-slider .slider-content .image-case img, .luiz-slider .slider-content .video-case video {
            min-height: 576px;
            max-height: 700px;
            max-width: 100%;
        }

        .luiz-slider .slider-content .image-case img {
            border: solid 1px;
            width: unset;
        }

        .luiz-slider .slider-content .video-case video {
            /* width: 50% !important; */
            /* height: 500px; */
            margin: 0 auto;
            display: block;
        }


        .luiz-slider .slider-content .comments {
            width: 520px;
            margin: 0 auto;
            text-align: left;
        }

        /* new tag dialog */
        #newTagDialog{}


        #newTagDialog label{
            margin-bottom: 3px;
        }

        #newTagDialog textarea{
            width: 100%;
            border: solid 1px;
            border-radius: 5px;
        }

        #newTagDialog input{
            border: solid 1px;
            border-radius: 5px;
            width: 100%;
            height: 36px;
        }

        #newTagDialog select{
            width: 100%;
            padding: 6px 0;
        }

        #newTagDialog button{
            float: right;
            margin-top: 21px;
            width: 200px;
            padding: 6px 0;
            border-radius: 5px;
            border: solid 1px;
        }


        /* generic */


        .todo {
            color: red;
        }

    </style>

    <!-- slick slider styles -->
    <link rel="stylesheet" type="text/css" href="css/slick/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/slick/slick-theme.css" media="all" />



    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="css/pos.css" media="all" /> -->
    <div class="qc-body">

        <h1>QC</h1>

        <!-- main view: -->
        <section id="main-view" data-bind="visible: selectedGarmentName() == null" style="margin-top: 50px;">

            <h2>Select a Garment Type</h2>

            <div class="imagesHolder">
                <!-- JACKET -->
                <div class="garment-wrapper" data-bind="click: function() {$root.selectGarment('jacket')}">
                    <img src="img/order_process/wetransfer-b60a96/jacket.png" alt=""/>
                    <span class="garmentName">JACKET</span>

                </div>

                <!-- PANTS -->
                <div class="garment-wrapper" data-bind="click: function() {$root.selectGarment('pants')}">
                    <img src="img/order_process/wetransfer-b60a96/pant.png" alt=""/>
                    <span class="garmentName">PANTS</span>

                </div>

                <!-- SHIRT -->
                <div class="garment-wrapper" data-bind="click: function() {$root.selectGarment('shirt')}">
                    <img src="img/order_process/wetransfer-b60a96/shirt.png" alt=""/>
                    <span class="garmentName">SHIRT</span>

                </div>

                <!-- VEST -->
                <div class="garment-wrapper" data-bind="click: function() {$root.selectGarment('vest')}">
                    <img src="img/order_process/wetransfer-b60a96/vest.png" alt=""/>
                    <span class="garmentName">VEST</span>

                </div>
            </div>
        </section>

        <!-- after select a garment -->
        <section id="selected-garment" data-bind="visible: selectedGarmentName() != null">

            <div style="display: flex;justify-content: space-between;">
                <h2 data-bind="text: $root.selectedGarmentName()"></h2>
                <button class="add-new-tag" style="position: absolute;top: 10px;right: 10px;" data-bind="click: function(){$root.addTag()}">+</button>
            </div>

            <div class="tagsList" data-bind="foreach: {'data': $root.tagsToShow,'as': 'tag'}">
                <div class="tag" data-bind="click: function() {$root.selectTag(tag)}">
                    <span class="title" data-bind="text: tag.name"></span>
                    <span class="count" data-bind="text: tag.medias_count"></span>
                </div>
            </div>
        </section>

        <!-- after selected tag -->
        <section data-bind="if: $root.selectedTag()" id="media-section">
            <div class="fullscreen">
                <div class="close-wrapper">
                    <button data-role="none" data-bind="click: function(){ $root.goToPreviousStep() }">✕</button>
                </div>
                <div class="slider luiz-slider" data-bind="foreach: {data: $root.errorsToShow(), as: '$error'}">
                    <div class="slider-content">
                        <div style="text-align: center;">
                            <h3 style="font-weight: bold;margin-top: 0px;width: 60%;margin: 0 auto;" data-bind="text: `${$error.garment_name} / ${$error.title}`"></h3>
                        </div>

                        <!-- if is image -->
                        <div class="image-case" data-bind="if: $error.media_type == '1'">

                            <div class="image-tag-wrapper">

                                <img
                                    class="custom-design-img"
                                    data-bind="attr: {
                                        src: $data.resized_path.split('amp;').join('').replace('http://localhost:8888/thepos/', window.BUrl)
                                    }"
                                    alt="Image could not be loaded"
                                />

                                <div class="planetmap" style="width: 100%;height: 100%;">
                                    <!-- ko foreach: $error.tags -->
                                        <div class="tag" data-bind="style: {top: `${$data.top}%`, left: `${$data.left}%`}, visible: $root.mustShowTags()">
                                            <span data-bind="text: `${$index()+1}`">  </span>
                                        </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="comments" data-bind="visible: $root.mustShowTags(), foreach: $error.tags">
                                <span class='comment-tag' data-bind="text: `${parseInt($index())+1}`">  </span>
                                <span data-bind="text: `${$data.text}`"> </span>
                                <br>
                            </div>
                            <div class="actions">
                                <!-- Toggle tags visibility -->
                                <button type="button" class="toggle-tags-btn" data-role="none" data-bind="click: function() {$root.toggleImageTags()}">Show/Hide Tags</button>

                                <!-- Remove this media from QC -->
                                <button type="button" class="remove-media-btn" data-role="none" data-bind="click: function() {$root.removeMedia($error, $index())}">Delete This media from QC</button>

                            </div>


                        </div>

                        <!-- if is video -->
                        <div class="video-case" data-bind="if: $error.media_type =='2'">

                            <video controls>
                                <source data-bind="attr: {src: window.BUrl+$data.path.replace('amp;', '')}" type="video/mp4">
                                <source data-bind="attr: {src: window.BUrl+$data.path.replace('amp;', '')}" type="video/ogg">
                                <source data-bind="attr: {src: window.BUrl+$data.path.replace('amp;', '')}" type="video/mov">
                                <source data-bind="attr: {src: window.BUrl+$data.path.replace('amp;', '')}" type="video/*">
                                Your browser does not support the video tag.
                            </video>

                            <div class="actions">
                                <!-- Remove this media from QC -->
                                <button type="button" class="remove-media-btn" data-role="none" data-bind="click: function() {$root.removeMedia($error, $index())}">Delete This media from QC</button>
                            </div>

                        </div>

                        <!-- Error info -->
                        <div style="text-align: center;">
                            <h3 data-bind="text: `Created at: ${$error.created_at_formatted} / ${$error.customer_name}`"></h3>
                            <h4 style="white-space: normal;" data-bind="text: `Description: ${$error.notes}`"></h4>
                        </div>
                    </div>
                </div>

                <div data-bind="if: $root.errorsToShow().length == 0">
                    <span class="no-errors">No errors for this category</span>
                </div>

                <div class="fullscreen-footer"></div>
            </div>
        </section>

    </div>


    <div class="task-footer j-footer justify-content-between">

        <div class="col-md-3" data-bind="visible: !$root.selectedTag()">
            <a href="#" data-bind="click: function(){ $root.goToPreviousStep() }"
                class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all"
                data-role="button" role="button" style="height: 46px;width: 110px;">
                <span class="btn-letter">Back</span>
                <span class="btn-letter"></span>
            </a>
        </div>

        <div>
        </div>

    </div>


</div>