<div data-role="page" id="qc_and_error">
    <style>
        .version-3D{
            display: flex;
            position: absolute;
            right: 53px;
            top: 0px;
        }
    </style>

    <!--  <div data-bind="template: { name: 'userInfo'}"></div>
-->

    <div>
        <!-- Will remain visible untin all requests are done -->
        <img class="main-requests-loader" id="main-requests-loader" src="img/loader.gif" style="display: none;"/>
    </div>

    <br style="clip: both;">

    <div data-role="content" data-theme="none">
        <div class="ui-grid-b" data-type="horizontal">
            <ul class="mainmenu">
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#genericError') }">
                        <img src="css/stable-img/index/tasks.png" border="0" />
                        <span>NEW ERROR</span>
                    </a>
                </li>
                <li>
                    <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#qc'); }">
                        <img src="css/stable-img/index/QC.png" border="0" />
                        <span>QC</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="task-footer j-footer justify-content-between">

            <div class="col-md-3" style="margin-left: 10px;width: 130px;">
                <a href="#" data-bind="click: function(){ posChangePage('#main') }"
                    class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all"
                    data-role="button" role="button">
                    <span class="small-letter">Back</span>
                    <span class="btn-letter">To main</span>
                </a>
            </div>

            <div>
            </div>

        </div>
    </div>
