<div data-role="page" id="settings" class="bgBody">
    <h1>Settings</h1>
    <div class="ui-grid-b" data-type="horizontal">
        <ul class="mainmenu">
            <li> <a data-theme="none" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: clearStorageAndExit"> <img src="http://shirt-tailor.net/thepos/appimg/template/menus/logoutcleardata.png" width="130" border="0" /> </a> </li>
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#profitability'); }">
                    <img src="css/stable-img/index/new-order.png" border="0" />
                    <span>Add Extra Profitability</span>
                </a>
            </li>
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#employee_invoice'); }">
                    <img src="css/stable-img/index/sync.png" border="0" />
                    <span>Employee Invoice</span>
                </a>
            </li>
            <li>
                <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ posChangePage('#config_global_vars'); }">
                    <img src="css/stable-img/index/settings.png" border="0" />
                    <span>Global var</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_10"><a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
        </div>
    </div>
</div>