<div data-role="page" id="shipping_outgoingBoxHistory" class="bgBody">
    <!-- import style -->
    <link rel="stylesheet" type="text/css" href="css/shipping_outgoingBoxHistory.css" media="all" />

    <h1>Outgoing Boxes History</h1>

     <!-- Date filter range -->
    <div class="calendar_filter">
        <h2>Date filter range</h2>
        <input type="date" id="from">
        <span style="position: relative;top: -20px;left: 7px;margin: 0px 8px;"> - </span>
        <input type="date" id="until">
        <button class="apply-btn ui-btn ui-shadow ui-corner-all apply" data-bind="click: function() {$root.applyFilterRange()}">apply</button>
        <button class="clear-btn ui-btn ui-shadow ui-corner-all clear" data-bind="click: function() {$root.clearFilterRange()}">clear</button>
    </div>

    <br style="clear: both">
    <!-- main table -->
    <table data-bind="visible: boxesToShow().length != 0" class="items_table grid_11">
        <thead>
            <th>BOX CREATED BY</th>
            <th>DEPARTURE CITY</th>
            <th>QTY</th>
            <th>DATE SEND</th>
            <th>DATE RECEIVED</th>
            <th>TRACKING No</th>
            <th>COURIER</th>
            <th>PRICE</th>
            <th>ACTION</th>
            <th>INVOICE</th>
        </thead>

        <tbody data-bind="foreach: boxesToShow()">
            <tr>
                <td data-bind="text: $data.created_by != null ? $data.created_by   : ' - ',
                    click: function() {$data.showItemTable(!$data.showItemTable())}">BOX CREATED BY</td>
                <td data-bind="text: $data.source != null ? $data.source   : ' - ',
                    click: function() {$data.showItemTable(!$data.showItemTable())}">DEPARTURE CITY</td>
                <td data-bind="text: $data.items.length != null ? $data.items.length   : ' - ',
                    click: function() {$data.showItemTable(!$data.showItemTable())}">QTY</td>
                <td data-bind="text: $data.created_at != null ? $data.created_at   : ' - ',
                    click: function() {$data.showItemTable(!$data.showItemTable())}">DATE SEND</td>
                <td data-bind="text: $data.received_date != null ? $data.received_date   : ' - ',
                    click: function() {$data.showItemTable(!$data.showItemTable())}">DATE RECEIVED</td>
            
                <!-- editable tracking code -->
                <td>
                    <span data-bind="visible: $data.tracking_code != null, text:$data.tracking_code != null ? $data.tracking_code   : ' - ' "></span>
                    <!-- editable if has an invalid value -->
                    <input type="text" data-bind="visible: $data.tracking_code == null || $data.tracking_code == '',
                                        value: $data.tracking_code">
                </td>
            
                <td data-bind="text: $data.shipping_method_name != null ? $data.shipping_method_name   : ' - ',
                                    click: function() {$data.showItemTable(!$data.showItemTable())}">COURIER</td>
            
                <!-- editable cost -->
                <td>
                    <span data-bind="visible: $data.cost != null && $data.cost != 0 , text: $data.cost "></span>
                    <!-- editable if has an invalid value -->
                    <input type="number" min="0.0" step="0.1" data-bind="visible: $data.cost == null || $data.cost == '' || $data.cost == 0,
                                                value: $data.cost">
                                                
                </td>
                
                <td><button data-bind="click: function(){$root.updateBox($index())}">update box</button></td>
            
                <td>
                    <img class="cam-icon" src="img/shipping/outgoingHistory/cam.png"></img>
                    <img class="eye-icon" src="img/shipping/outgoingHistory/eye.png"></img>
                </td>
            </tr>
            <tr data-bind="if: $data.showItemTable() == true" class="item">
                <td colspan="9">
                    <!-- hidden and showable table -->
                    <table>
                        <th>CUSTOMER</th>
                        <th>ALTERATION</th>
                        <th>GARMENT or ITEM</th>
                        <th>DATE REQUIRED</th>
                        <th>HAS CHAT</th>
                        <tbody data-bind="foreach: $data.items">
                            <tr>
                                <td data-bind="text: $data.customer_name != null ? $data.customer_name : ' - '"></td>
                                <td data-bind="text: $data.type.toUpperCase() == 'ALTERATION' ? $data.garment_name : ' - '"></td>
                                <td data-bind="text: $data.type.toUpperCase() != 'ALTERATION' ? $data.garment_name : ' - '"></td>
                                <td data-bind="text: $data.urgent_date != null ? $data.urgent_date : ' - '"></td>
                                <td>
                                    <span class="show_chat_button" data-bind="visible: $data.chats.length > 0, click: function() {$root.openHistoryChat($parentContext.$index() , $index())}">VIEW CHAT HISTORY</span>
                                    <span data-bind="visible: $data.chats.length == 0">no chat history</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

     
   

    <!-- update button -->
    <div data-bind="visible: boxesToShow().length != 0, click: function() {alert('IN DEVELOPMENT')}" class="update_button grid_1">
        <a class="new-btn icon-arrow-right new-btn-icon-right bLogin ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
            <span class="btn-letter">Update</span>
        </a>
    </div>

    <!-- No BOXES -->
    <div data-bind="visible: boxesToShow().length == 0" style="margin-top: 40px;">
        <h1 style="color: red"> NO HISTORY</h1>
    </div>

    <!-- history pop up -->
    <div data-bind="if: historyChat() != null">
        <div id="history-popUp">
            <h1 data-bind="text: 'Logs for ' + historyChat().client_name + '\' ' + historyChat().item_name">Logs for ITEM</h1>
            <div data-bind="foreach: historyChat().item_chat">
                <span data-bind="text: $data.created_at" class="created_at" style="font-size: 13px; font-style: italic;"></span>
                <span data-bind="text: $data.user_name" class="user_name" style=" font-size: 13px; font-style: italic; font-weight: bold;"></span>
                <span data-bind="text: $data.reason" style=" font-size: 13px;"></span>
                <br>
            </div>
            <span class="close-buttom" data-bind="click: function() {$root.closeHistoryChat()}"> x </span>
        </div>
    </div>

    <!-- return to shipping main -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 ">
                <a data-bind="click: function(){posChangePage('#shipping_main_new');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>

</div>