<div data-role="page" id="shipping_box_send" class="bgBody"> 
  <!--	<div data-bind="template: { name: 'headerTemplate'}"></div>	-->
  <div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false" class="mainpagesheader container_12">
    <ul class="grid_5 prefix_7 topmenu">
      <!-- <li><a href="#settings" class="settingsli">Setting</a></li> -->
      <li><a href="#" data-bind="click: function(){posChangePage('#stats');}" class="statsli">Stats</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#notification');}" class="mesagli">Notifications</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#calendar');}" class="calenli">Calendar</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#orderItemSelectCustomer');}" class="newordli">Add Order</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#listCustomer');}" class="newcustli">Customers</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#main');}" class="mainli">Home</a></li>
    </ul>
    <!-- /navbar --> 
  </div>
  
	<!-- CONTACT INFO POPUP	-->
    <div name="ContactInfoPopup" id="ContactInfoPopup" class="white_content mynicepop">
    	<div class="inmynicepop">
        	<p>Customer Contact Info</p>
            <div class="custinfos">
            	<ul>
                  <li> <span class="firstpart">Customer Name:</span> <span class="secondpart"> <span id="customer_first_name"></span> <span id="customer_last_name"></span> </span> </li>
                  <li> <span class="firstpart">State - City :</span> <span class="secondpart"> <span id="customer_state"></span> <span>&nbsp; &ndash; &nbsp;</span> <span id="customer_city"></span> <span id="customer_country" style="display:none;"></span> </span> </li>
                  <li> <span class="firstpart">Street Address:</span> <span class="secondpart"><span id="customer_address1"></span>, <span id="customer_address2"></span>, <span  id="customer_postal_code"></span></span></li>
                  <li> <span class="firstpart">Mobile #:</span> <span class="secondpart" id="customer_mobile_phone"></span> </li>
                  <li style="display:none;"> <span class="firstpart">Landline #:</span> <span class="secondpart" id="customer_landline_phone"></span> </li>
                  <li> <span class="firstpart">E-mail:</span> <span class="secondpart" id="customer_email"></span> </li>
				</ul>
			</div>
			<a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('ContactInfoPopup').style.display = 'none'; }">Close</a>
		</div>
	</div>
	<!-- CONTACT INFO POPUP	-->   
  
  <div data-role="content" data-theme="none">
    <div class="content-wrapper">
      <div data-type="horizontal" class="container_16" data-bind="with:ShippingNewBoxVM">
        <div class="grid_16">
          <div class="mylabels">
          	<span class="mylabels-icon"></span>
            <span class="mylabels-title">Edit & Send</span>
          </div>
        </div>
        <div class="grid_16" >
          <div> 
			<div class="grid_6">
            	<div class="grid_4">            
	            	<label for="ShippingBoxDestination">Destination:</label>
					<select name="ShippingBoxDestination" id="ShippingBoxDestination" class="ui-enabled" data-mini="false" data-bind="options: ShippingBoxDestinationsList, value: ShippingBoxDestination, optionsText: 'stock_location_name', optionsCaption: 'Select Destination' "></select>
                </div>    
                <div class="grid_2" data-bind="click: function(){ document.getElementById('NewDestinationDialog').style.display = 'block';  console.log(JSON.stringify(this.ShippingBoxDestinationsList()));}">
                	<span class="makegreen"> Add New Destination </span>
                </div>                
			</div>
            <div class="clear"></div>
            <div class="grid_16">
            	<label for="shippingdatepick">Shipping Date:</label>
                <fieldset id="shippingdatepick" data-role="controlgroup" data-type="horizontal" data-mini="true">
                	<select name="ShippingBoxDay" id="ShippingBoxDay" data-bind="options: $parent.days, value: ShippingBoxDay, optionsCaption: 'Day'">
                    </select>
                    <select name="ShippingBoxMonth" id="ShippingBoxMonth" data-bind="options: $parent.months, optionsText: 'name', optionsValue: 'id' , value: ShippingBoxMonth, optionsCaption: 'Month'">
                    </select>
				</fieldset>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
            	<label for="shippingexpecteddatepick">Expected Date:</label>
                <fieldset id="shippingexpecteddatepick" data-role="controlgroup" data-type="horizontal" data-mini="true">
                	<select name="ShippingBoxExpectedDay" id="ShippingBoxExpectedDay" data-bind="options: $parent.days, value: ShippingBoxExpectedDay, optionsCaption: 'Day'">
                    </select>
                    <select name="ShippingBoxExpectedMonth" id="ShippingBoxExpectedMonth" data-bind="options: $parent.months, optionsText: 'name', optionsValue: 'id' , value: ShippingBoxExpectedMonth, optionsCaption: 'Month'">
                    </select>
				</fieldset>
            </div>
            <div class="clear"></div>
            <div class="grid_6">     	
	            <label for="ShippingCost">Shipping Cost:</label>
				<input type="text" name="ShippingCost" id="ShippingCost" data-bind="value: ShippingCost, updateFormOnChange: ShippingCost, valueUpdate: 'afterkeydown'" data-theme="a"/>
            </div>
            <div class="grid_16" >
				<input id="BoxSendImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
				<div id="BoxSendMediaBtn" name="BoxSendMediaBtn" class="grid_2 receiptupload" data-role="button">Upload Image</div>
	        	<output class="grid_6" id="BoxSendImageMedia" ></output>
                <input id="BoxSendImage" name="BoxSendImage" type="text" style="display:none"  data-bind="value: BoxSendImage"/>
			</div>
            <div class="clear"></div>
            <div class="grid_6">     	
	            <label for="ShippingBoxTrackingCode">Tracking Code:</label>
				<input type="text" name="ShippingBoxTrackingCode" id="ShippingBoxTrackingCode" data-bind="value: ShippingBoxTrackingCode, updateFormOnChange: ShippingBoxTrackingCode, valueUpdate: 'afterkeydown'" data-theme="a"/>
            </div>
            <div class="clear"></div>
            <div class="grid_6">
            	<div class="grid_4">
	            	<label for="ShippingBoxMethod">Shipping Method:</label>
					<select name="ShippingBoxMethod" id="ShippingBoxMethod" class="ui-enabled" data-mini="false" data-bind="options: ShippingBoxMethodsList, value: ShippingBoxMethod, optionsText: 'shipping_method_name', optionsCaption: 'Select Method' "></select>
				</div>
                <div class="grid_2" data-bind="click: function(){ document.getElementById('NewShippingMethodBox').style.display = 'block'; }">
                	<span class="makegreen"> Add New Shipping Method </span>
                </div>
			</div>
            <div class="clear"></div>
            <div class="grid_6">     	
	            <label for="ShippingBoxComments">Shipping Comments:</label>
				<textarea type="text" name="ShippingBoxComments" id="ShippingBoxComments" data-bind="value: ShippingBoxComments, updateFormOnChange: ShippingBoxComments, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
            </div>
		  </div>
          <div class="clear"></div>
        
          <div class="grid_16 newlisttitles">
            <div class="grid_1" style="width:28px"><span> </span></div>
            <div class="grid_3"><span class="marginleftten">Type of Content</span></div>
            <div class="grid_4"><span class="marginleftten">Customer Name</span></div>
            <div class="grid_2"><span class="marginleftten">Telephone</span></div>
            <div class="grid_2"><span class="marginleftten">Type</span></div>
            <div class="grid_2"><span class="marginleftten"> </span></div>
          </div>
          <ul class="grid_16 listcustnew orderlist" data-bind="foreach: ShippingBoxContents">
            <li class="grid_16"> <!--  data-bind="css: {'urgent-item': urgent == '1'}"	-->
              <div class="grid_1" style="width:28px" > </div> <!-- class="grid_1 urgent-item-flag"	data-bind="visible: urgent == '1'"	-->
              <div class="grid_3"><span class="marginleftten" data-bind="text: shipping_item_type_name"></span></div>
              <div class="grid_4">
              	<a class="customer-info-link" data-bind="click: function(){ $parent.showContactInfo( $index() ); }, visible: customer.customer_first_name != '-'">i</a>
                <span class="marginleftten">
                	<span data-bind="text: customer.customer_first_name"></span><span>&nbsp;</span><span data-bind="text: customer.customer_last_name"></span>
                </span>
              </div>
              <div class="grid_2"><span class="marginleftten" data-bind="text: customer.customer_mobile_phone"></span></div>
              <div class="grid_2"><span class="marginleftten" data-bind="text: garment_types"></span></div>
              <div class="grid_2" data-bind="click: function(){ $parent.removeItem( $index() ); }">
              	  <span class="makered" style="color: #FFF">DELETE</span>
              </div>
            </li>
          </ul>
          
          <!-- NEW SHIPPING METHOD DIALOG -->
          <div id="NewShippingMethodBox" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
              <div style="margin:1%;padding:10px 0px;"> 
                <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Enter the new shipping method </span> 
                <input type="text" name="ShippingBoxVariousInput" data-bind="value: ShippingBoxVariousInput, updateFormOnChange: ShippingBoxVariousInput, valueUpdate: 'afterkeydown'" data-theme="a"/>
              </div>
              <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('NewShippingMethodBox').style.display = 'none'; }">Cancel</a> </div>
                <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ save_new_shipping_method(); }">Create</a> </div>
              </div>
            </div>
          </div>
          <!-- END OF SECOND DIALOG -->
          
          <!-- NEW DESTINATION DIALOG	-->
          <div name="NewDestinationDialog" id="NewDestinationDialog" class="white_content mynicepop" style="display:none; z-index:100;">
            <div class="inmynicepop">
                <p>New Destination</p>
                <div class="custinfos">
                    <ul>
                      <li> <span class="firstpart">Destination title:</span> <input id="stock_location_name" /> </li>
                      <li> <span class="firstpart">Address:</span> <input id="stock_location_address" /> </li>
                      <li> <span class="firstpart">Postal Code:</span> <input id="stock_location_postal" /></li>
                      <li> <span class="firstpart">Suburb:</span> <input id="stock_location_suburb" /></li>
                      <li> <span class="firstpart">City:</span>
                      		<select  id="stock_location_city" data-bind="options: orderItem.cities_display, optionsValue: 'location_name', optionsText: 'location_name', optionsCaption: 'City'"></select>
					  </li>
                      <li> <span class="firstpart">Country:</span>
                      		<select id="location_name" data-bind="options: customersVM.countries, optionsValue: 'location_name', optionsText: 'location_name', optionsCaption: 'Country'"></select>
					  </li>
                      <li> <span class="firstpart">Recipient:</span>
                      		<select id="user" data-bind="options: ShippingBoxUsersList, optionsValue: 'user_id', optionsText: function(item){return item.first_name + ' ' + item.last_name;}, optionsCaption: 'Recipient'"></select>
					  </li>
                    </ul>
                </div>
                <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('NewDestinationDialog').style.display = 'none'; }">Close</a>
                <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ save_new_destination(); }">Create</a>
            </div>
          </div>
        <!-- CONTACT INFO POPUP	-->   
          
          
          <!-- SEND BOX DIALOG -->
          <div id="BoxConfirm" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
              <div style="margin:1%;padding:10px 0px;"> 
                <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">SEND BOX</span> 
                <div class="clear"></div>
              	<span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;"></span>
              </div>
              <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('BoxConfirm').style.display = 'none'; }">Cancel</a> </div>
                <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ send_box(); }">Confirm</a> </div>
              </div>
            </div>
          </div>
          <!-- END OF DIALOG -->
          
          <!--  SUBMIT & BACK BUTTONS	-->
		  <div class="clear"></div>
		  <div class="grid_12">
          	<div class="grid_4 prefix_4">
		    	<div class="fittingbuttons">
        			<div data-bind="click: function(){ send_box_confirm(); }"> <span class="makegreen"> SEND BOX </span> </div>
				</div>
			</div>
		  </div>                    
	      
			<div class="bigladeling left_position stepbigbuts">
            	<a href="#"  data-bind="click: function(){ customersVM.systemMode ='shipping_pending';posChangePage('#shipping_box');}">
					<span class="prevstep"></span>
					<span class="firstpart"> Back</span>
				</a>
			</div>
                      
        </div>
      </div>
    </div>
    <!--
    <div class="bigladeling left_position stepbigbuts"> <a href="#shipping_main" data-transition="fade" data-corners="false" data-shadow="false"> <span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Shipping</span> </a> </div>-->
  </div>
  
		<script>
		 
			    
					function appendItemBoxSend(topost, basedata) {
						var endpoint = 'upload_general_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
									customer_id: orderItem.custSelectVM.selectedCustomer().server_id,									
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];									
									localStorage.removeItem('BoxSendPhoto');
									tmp = localStorage.getItem('BoxSendPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('BoxSendPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('BoxSendImageMedia').innerHTML = ['<img src="', basedata,'" width="100"/>'].join('');

									document.getElementsByName('BoxSendImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('BoxSendImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('BoxSendImage')[0].fireEvent("onchange");				
									}	
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectBoxSend(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageBoxSend(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 100, 1536, "shipping_box_send.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemBoxSend(e.target.result);
				             		//	document.getElementById('BoxSendImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      

				    document.getElementById('BoxSendImageFiles').addEventListener('change', handleFileSelectBoxSend, false);
</script>   
  
</div>