<div data-role="page" id="shipping_select_customer" class="bgBody">
	<h1>Select Customer please</h1>
  <div data-role="content" data-theme="a">
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_12 listcustnew" data-bind="with: custSelectVM">
          <div class="grid_8">
            
            <div data-role="fieldcontain">
              <input type="text" value="search for existing customer" data-bind="value: customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer" onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';" />
              <span class="helpunderinput">Type at least three letters to view results</span> </div>
          </div>
          <div class="grid_3" data-bind="visible: customersVM.systemMode == 'shipping_fabrics' || customersVM.systemMode == 'shipping_copy_garment' || customersVM.systemMode == 'shipping_other'"> <a data-bind="click: function(){posChangePage('#shipping_addCustomer');}" data-role="button" style="margin:25px 0 0 10px;">Create New Customer</a> </div>
          
          <div class="clear"></div>
          <ul class="grid_10 suffix_2 olesoilistes" data-bind="foreach: customersAutocompleteList">
            <li class="grid_12"  data-bind="click: $parent.selectedCustomer">
              <div class="grid_4"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
              <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
              <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
              <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
            </li>
          </ul>
          
          <div class="clear"></div>
        </div>
        
		        
        
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 "><a data-bind="click: function(){posChangePage('#shipping_main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Shipping</span></a></div>
            </div>
        </div>
        
        
</div>
