<div data-role="page" id="shipping_other" class="bgBody">
<h1>Create an Item</h1>
	<div data-role="content" data-theme="a">
		<div class="content-wrapper">
      		<div class="container_12">
    
				<!--div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
                    <div class="content-wrapper">
                        <div class="container_12"> 
                            <div class="grid_12" data-bind="with: selected_item">
							<h2 class="custheaders"><span class="titlosc">Customer Name</span></h2>
							<div class="grid_6 custinfos">                	
							    <span class="secondpart"><span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span></span>
							</div>
                            </div>
                        </div>
                    </div>
                </div-->   
                
                
                <div>
					<div id="imagesDialog" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
						<div style=" background:#FFF; z-index:1022; width:30%; margin:15% 35%; border-radius:3px; padding:0px 10px 15px;">
							<div style="margin:1%;padding:10px 0px;"><span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">Do you want to select an image from:</span> </div>
							<div class="apanwsteps container_12">
								<div class="grid_3 suffix_10 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);orderItem.ShippingOtherVM.clickMedia(orderItem.ShippingOtherVM.otherImage, 2); }" class="ui-link">Camera</a></div>
								<div class="grid_3 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);$('#ShippingOtherImageFiles').click(); }" class="ui-link">Gallery</a></div>
								<div class="grid_3 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false); }" class="ui-link">Cancel</a></div>
							</div>
						</div>
					</div>
					<div id="popup_box" style="width: 100%;">
						<div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" data-bind="click:closeDialog2">Close</a>
							<p class="media_pops"><span>Add your comments</span>
								<textarea class="title"></textarea>
								<input type="button" value="Add Comment" data-mini="true" data-bind="click:addTag" />
							</p>
							<div class="clear"></div>
						</div>
					</div>
				
					<div data-bind="visible: !customers.selectedCustomer().customer_first_name">
						<label for="error_link_customers" data-bind="visible: !customers.selectedCustomer().customer_first_name">Search Customer :</label>
						<input type="text" name="error_link_customers" data-bind="visible: !customers.selectedCustomer().customer_first_name, value: customers.customerAutocomplete, valueUpdate: 'keyup'" value="" placeholder="Search for your customer"  />
						<!--do something to the click here-->
						<ul class="grid_12" data-bind="visible: !customers.selectedCustomer().customer_first_name, foreach: customers.customerAutocompleteList">
							<li class="lioffabric"  data-bind="click: $parent.customers.selectedCustomer"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </li>
						</ul>
					</div>
					<div class="grid_12" data-bind="visible: customers.selectedCustomer().customer_first_name">
						<label for="selected_customer">Selected Customer:</label>
						<div class="displaycustomerres"> <span data-bind="text: customers.selectedCustomer().customer_first_name"></span> <span data-bind="text: customers.selectedCustomer().customer_last_name"></span><span data-bind="click: customers.removeCustomer" class="deleteusers">X</span> </div>
					</div>
                    <div class="grid_12">
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Description</span>
                            <textarea style="width:50% !important; float:right; " id="Description" name="Description" type="text" data-bind="value: Description, valueUpdate:'keyup'" ></textarea>
                        </div>
    					
                        <div>
			             	<input id="ShippingOtherImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
                            
			            </div>
                        
                                          
                        
					</div>
					<div class="grid_2 suffix_10" style="margin-bottom:20px; ">
						<input id="files" type="file" accept="image/*" />
						<div id="custImageBtn" class="loadimages" data-role="button">Upload media</div>
						<span class="underbuttons">Upload Image</span>
					</div>
					<div class="grid_2 suffix_10" style="margin-bottom:20px;">
						<input id="files" type="file" accept="image/*"/>
						<div class="loadvideos" data-role="button" data-bind="click:function(){orderItem.ShippingOtherVM.clickMedia(orderItem.ShippingOtherVM.otherVideo, 1);}">Upload media</div>
						<span class="underbuttons">Upload Video</span>
					</div>
                    <output id="list" class="grid_12" data-bind="foreach: otherImage.getMediaPreview()">
						<div class="img-wrap" data-bind="attr:{id: $index()}">
							<span class="close" data-bind="click: function(){$parent.otherImage.removeMedia($index());}" >X</span>
							<div class="image_panel">
								<img id="imagemap" class="imageMap" width="600" data-bind="attr: {src: $data}, click:function(data,evt){$parent.dialog($parent.otherImage,evt, $index());}"></img>
								<div class="mapper" data-bind="attr:{id: $parent.otherImage.mapperID($index())}"> </div>
								<div id="planetmap" class="planetmap" data-bind="foreach: $parent.otherImage.getTags($index())">
									<div class="arrow" data-bind="style:{width: $root.otherImage.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $root.otherImage.getTagAttrib('left%', $parentContext.$index(), $index()), top: $root.otherImage.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
									<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.otherImage.getTagAttrib('top%', $parentContext.$index(), $index())}">
										<div class="tagged_title" style="display:block;"> <span data-bind="text: $root.otherImage.getTagAttrib('text', $parentContext.$index(), $index())"></span></div>
										<div class="tagged_box" style="display:block;"> <img class="openDialog" data-bind="click: function(){$root.otherImage.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 30px; height:30px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: 0px; margin-left: 342px; padding: 0px;"></img> </div>
									</div>
								</div>
							</div>
						</div>
					</output>
					<div data-bind="foreach: otherVideo.getMediaPreview()">
						<div class="grid_12">
							<div class="grid_6 myvideo-warp">
								<video controls class="myvideos">
									<source data-bind="attr: {src: $data}" type="video/mp4">
									<source data-bind="attr: {src: $data}" type="video/ogg">
									Your browser does not support HTML5 video. 
								</video>
								<span class="close" data-bind="click:function(){$parent.otherVideo.removeMedia($index());}">X</span>
							</div>
							<div class="grid_6 myvideo-comments">
								<textarea data-bind="attr: {id:'note'+$index()}"></textarea>
							<a class="mykoubakiss" data-bind="click: function(){$parent.otherVideo.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');}">Add Comment</a>
							<div style="clear:both;"></div>
							<ul data-bind="foreach: $parent.otherVideo.getTags($index())" class="mycomentlist">
								<li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><span data-bind="html: $data" class="commint"></span></td>
											<td width="35" valign="top" align="center"><a data-bind="click: function(){$root.otherVideo.removeTag($parentContext.$index(), $index());}" class="close">X</a></td>
										</tr>
									</table>
								</li>
							</ul>
							</div>
						</div>
					</div>
                    
                    
					<div class="clear"></div>	
                                                
                </div> 
                
                <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 "><a data-bind="click: function(){ customersVM.systemMode ='shipping';posChangePage('#shipping_main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to </span><span class="btn-letter"> Shipping</span></a></div>
            <div class="grid_2 prefix_8 " id="SyncButton"><a  data-bind="click: sync,visible:buttonVisible()" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit your </span><span class="btn-letter"> New Item</span></a></div>
            
        </div>
    </div>
    
    
    
                

                    
                
                
                        
            
    		</div>
	    </div>        
        <div class="clear"></div>
	</div><!-- /content -->


		<script>
		 
			    
					function appendItemShippingOther(topost, basedata) {
						var endpoint = 'upload_customer_image2';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
									customer_id: orderItem.custSelectVM.selectedCustomer().server_id,									
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";								
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									orderItem.ShippingOtherVM.otherImage.addMedia(data['image'],data['image'],false);
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectShippingOther(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageShippingOther(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 480, 1536, "shipping_other.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemShippingOther(e.target.result);
				             		//	document.getElementById('ShippingOtherImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      

				    document.getElementById('ShippingOtherImageFiles').addEventListener('change', handleFileSelectShippingOther, false);
</script> 
    
    
    
    
    
    
    
    
    
    
</div>
