<div data-role="page" id="shipping_fabrics" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
      		<div class="container_12">
    
				<div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
                    <div class="content-wrapper">
                        <div class="container_12"> 
                            <div class="grid_12" data-bind="with: selected_item">
                                <h2 class="custheaders"><span class="titlosc">Customer Name</span></h2>
                                <div class="grid_6 custinfos">                	
                                    <span class="secondpart"><span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                
                <div data-bind="with: ShippingFabricVM">
					<div class="grid_12">
                       	<div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">JACKET</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('jacket'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: jacketcount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('jacket'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">PANT</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('pant'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: pantcount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('pant'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">SUIT</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('suit'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: suitcount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('suit'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">SHIRT</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('shirt'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: shirtcount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('shirt'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">VEST</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('vest'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: vestcount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('vest'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">TIE</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('tie'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: tiecount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('tie'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                        <div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">BOW TIE</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('bowtie'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: bowtiecount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('bowtie'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div>
                       	<div class="grid_2" style="text-align:center;"> 
							<span class="namegarments">POCKET SQUARE</span>	
                            <div class="clear"></div>	
							<div class="grid_10" style="margin:0px 0px 0px 4px !important;">
								<ul class="topos topmenu">			
									<li data-bind="click: function(){ addGarment('pocketsquare'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/plus.png" width="40" height="40"> </li>
									<li><span data-bind="text: pocketsquarecount" class="countgarments" style="color:#FFFFFF"></span></li>
									<li data-bind="click: function(){ removeGarment('pocketsquare'); }"><img src="http://shirt-tailor.net/thepos/appimg/template/topmenu/minus.png" width="40" height="40"> </li>
								</ul>
							</div>
						</div> 
                        
					</div>                	

                	<div class="clear"></div>
                    
                    <div class="grid_12">
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Fabric Code:</span>
                            <input style="width:50% !important; float:right; " id="FabricCode" name="FabricCode" type="text"  data-bind="value: FabricCode, valueUpdate:'keyup'"/>
                        </div>
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Fabric Meterage:</span>
                            <input style="width:50% !important; float:right; " id="FabricMeterage" name="FabricMeterage" type="text"  data-bind="value: FabricMeterage, valueUpdate:'keyup'"/>
                        </div>
                         <div>
			             	<input id="ShippingFabricImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
				            <div id="ShippingFabricMediaBtn" name="ShippingFabricMediaBtn" class="receiptupload" data-role="button">Upload Image</div>
                            <output class="grid_6" id="ShippingFabricImageMedia" ></output>
                            <input id="ShippingFabricImage" name="ShippingFabricImage" type="text" style="display:none" data-bind="value: ShippingFabricImage"/>
			            </div>
                        
                        
                        <div class="grid_4 tokostosmou">
                            <span style="color:#FFFFFF">Comments:</span>
                            <textarea style="width:50% !important; float:right; " id="FabricComments" name="FabricComments" type="text" data-bind="value: FabricComments, valueUpdate:'keyup'"></textarea>
                        </div>
					</div>
                   
                   
                    <div class="bigladeling left_position stepbigbuts">
                        <a href="#" data-bind="click: function(){posChangePage('#shipping_main');}">
                            <span class="prevstep"></span>
                            <span class="firstpart"> Back</span>
                        </a>
                    </div>                       
                    <div class="bigladeling right_position stepbigbuts" data-bind="click: sync"> 
						<span class="nextstep"></span> <span class="firstpart">Submit</span>
    	          	</div> 
                    
                </div> 

                        
            
    		</div>
	    </div>        
        <div class="clear"></div>
	</div><!-- /content -->
    
    
             <script>
			    
					function appendItemShippingFabric(topost, basedata) {
						var endpoint = 'upload_customer_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
									customer_id: orderItem.custSelectVM.selectedCustomer().server_id,									
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									localStorage.removeItem('ShippingFabricPhoto');
									tmp = localStorage.getItem('ShippingFabricPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('ShippingFabricPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('ShippingFabricImageMedia').innerHTML = ['<img src="', basedata,'" width="480"/>'].join('');

									document.getElementsByName('ShippingFabricImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('ShippingFabricImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('ShippingFabricImage')[0].fireEvent("onchange");				
									}	
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectShippingFabric(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageShippingFabric(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 480, 1536, "shipping_fabrics.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemShippingFabric(e.target.result);
				             		//	document.getElementById('ShippingFabricImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      
				  
					  
				    photos = localStorage.getItem('ShippingFabricPhoto');
					photos = (photos === null) ? [] : JSON.parse(photos);
					if(localStorage.getItem('ShippingFabricPhoto') != null){
					    if(localStorage.getItem('ShippingFabricPhoto').length > 0){
						    for (var i=0, len=photos.length; i<len; i++){
						    	if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().id){
						    		document.getElementById('ShippingFabricImageMedia').innerHTML = ['<img src="', photos[i].thumbnail ,'"  width="480"/>'].join('');


									document.getElementsByName('ShippingFabricImage')[0].value = JSON.stringify(photos[i]);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('ShippingFabricImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('ShippingFabricImage')[0].fireEvent("onchange");				
									}	
						    	}	
						 	}
						}  
				    }	
				    	
				    document.getElementById('ShippingFabricImageFiles').addEventListener('change', handleFileSelectShippingFabric, false);
</script> 
    
    
    
    
    
    
    
    
    
    
</div>
