<div data-role="page" id="tasks">
    <style>
       
       .task-body {
            margin-bottom: 100px;
        }

        table.task-table td,
        table.task-table th {
            max-width: 346px;
        }
        table.task-table td{
            text-align: initial;
        }

        /* ================= */

        .tasks-main-view {
            text-align: center;
        }

        .tasks-germanicos-logo-img {
            width: 300px;
        }

        .good-morning-h1 {
            font-weight: 100;
            font-size: 30px;
        }

        .task-num-text-p {
            font-size: 22px;
        }

        .tasks-num-span {
            font-weight: 900;
        }

        .task-action-text {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }

        .go-task-a {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background: rgb(142, 128, 116);
            padding: 15px;
            text-decoration: none;
            color: white;
            font-weight: 900;
            margin-left: 30px;
        }

        .go-task-a:hover {
            color: black;
            text-decoration: none;
        }

        .task-table {
            text-align: center;
            margin: 0 auto;
            width: 75%;
        }

        .task-table td {
            text-align: left;
            padding: 15px;
        }

        .tasks-num-span{
            color: red;
        }
    
    </style>



    <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="css/pos.css" media="all" /> -->
    <div class="task-body">

        <section class="tasks-main-view">
		
            <div class="tasks-germanicos-logo-wrapper">
                <img src="http://localhost/thepos/misc/gfx/Icons/germanicos_logo_tasks.png" class="tasks-germanicos-logo-img" style="margin-top: 52px;">
            </div>
            
            <div class="tasks-good-morning-wrapper">
                <h1 class="good-morning-h1"> <span data-bind="text: $root.getTimeOutput()"></span> <strong data-bind="text: $root.userName"></strong></h1>
                <p class="task-num-text-p">Here is your <span class="tasks-num-span" data-bind="text: $root.tasksNumber"></span> Daily Task</p>
            </div>
        
            <br>
        
        </section>


        <table class="task-table">
            <thead>
                
                <th colspan="2">Description</th>
                <th>Go</th>
            </thead>
            <tbody data-bind="foreach: $root.tasks">
                <tr>
                    <td data-bind="text: parseInt($index())+1+'.'"></td>
                    <td  onclick="$(this).find('.tooltip').toggleClass('tooltip-clicked');">
                        <div class="tooltip">
                            <span data-bind="html: $data.action_text"></span>
                            <span class="tooltiptext" data-bind="text: $data.description"></span>
                        </div>
                    </td>
                    <td style="text-align: center">
                        <button data-role="none" class="go-to-step-button"
                            data-bind="click: function() {$root.goToStep($data)}">Go to Step</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="task-footer j-footer justify-content-between">


        <div class="col-md-3">
            <a href="#" data-bind="click: function(){ posChangePage('#main'); }"
                class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all"
                data-role="button" role="button">
                <span class="btn-small-letter">Return Back</span>
                <span class="btn-letter">To Main</span>
            </a>
        </div>

        <div>
        </div>





    </div>
</div>