<div data-role="page" id="uniformOrder" class="bgBody" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/uniformStyles.css" media="all" />

	<style>
		
		* {
			text-shadow: none;
		}
	/*Definition of main colors here to be reused*/
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
			
			
			--selected:#988e73;
		}

		.steps-tab-wrapper {
			display: flex;
		}

		.step-tab {
			text-transform: uppercase;
			padding: 5px;
		    background: var(--grey-2);
		    color: white;
		    text-shadow: none;
		    border-radius: 5px;
		    margin-right: 10px;
		    padding: 8px;
		    padding-right: 12px;
		    padding-left: 12px;
		    text-align: center;
		    font-size: 12px;
		}
	
		.order-step {}

		.selected-step {
			background: rgb(147, 140, 116);
			background-color: #988e73;	
		}

		.step-completed {
			background-color: #93C03E;
			color: white;
		}

		.cancel-order-wrapper {
			float: right;
			background: #e20613;
			border-radius: 5px;
			display: flex;
			align-items: center;
			margin-left: auto;
		}
		.cancel-order-btn {
			color: #fefefe;
			display: inline-block;
			font-size: 11px;
			font-weight: 400;
			min-width: 60px;
			padding: 10px 15px 10px 5px;
			position: relative;
			text-align: left;
			text-decoration: none;
			text-shadow: none !important;
			text-transform: uppercase;
		}
		.exit-order-span {
			color: white;
			font-color: 10px;
			font-weight: 400;
			text-decoration: none;
		}
		.cancel-order-x {
			color: red;
			background: white;
			padding: 5px;
			border-radius: 5px;
			float: right;
			display: inline-block;
			font-size: 12px;
			font-weight: 900;
			margin-right: 5px;
		}
		.steps-wrapper-wrapper {
			display: flex;
		}

	</style>

	<div style="padding: 5px;">


		<div class="steps-wrapper-wrapper">
			
			<div class="steps-tab-wrapper" data-bind="foreach: $root.steps">
				<!-- set as completed -->
				<div class="step-tab" data-bind="click: function() { $root.changeStep($data.id) },
						css : { 'selected-step' : $root.selectedStep().id == $data.id , 'step-completed': $data.complete } ">
					<span data-bind="text:$data.name"></span>
				</div>

			</div>

			<div class="cancel-order-wrapper" data-bind="click: $root.exit">

				<a class="cancel-order-btn"> 
					<span class="exit-order-span">Exit Order</span>
				</a>

				<span class="cancel-order-x">X</span>

			</div>


		</div>



		<div class="order-step-wrapper">
			<div id="uniformOrderContactPersonDetailsStep"></div>
			<div id="uniformOrderGarmentStep"></div>
			<div id="uniformOrderCustomerDetailsStep"></div>
			<div id="uniformOrderBodyshapeStep"></div>
			<div id="uniformOrderUploadImagesStep"></div>
			<div id="uniformOrderUploadVideosStep"></div>
			<div id="uniformOrderPaymentsStep"></div>
		</div>


		<script>
			
			/** Insert steps from different files **/
			$('#uniformOrderContactPersonDetailsStep').load('uniformOrderContactPersonDetailsStep.htm');
			$('#uniformOrderGarmentStep').load('uniformOrderGarmentStep.htm');
			$('#uniformOrderCustomerDetailsStep').load('uniformOrderCustomerDetailsStep.htm');
			$('#uniformOrderBodyshapeStep').load('uniformOrderBodyshapeStep.htm');
			$('#uniformOrderUploadImagesStep').load('uniformOrderUploadImagesStep.htm');
			$('#uniformOrderUploadVideosStep').load('uniformOrderUploadVideosStep.htm');
			$('#uniformOrderPaymentsStep').load('uniformOrderPaymentsStep.htm');

		</script>

		
		<div style="margin-top: 300px;"></div>

	</div>

	<div class="j-footer container_12">
		
		<div class="half-em-around">
			
			<div class="grid_2" data-bind="if: $root.selectedStep().id != '1'">
				<a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-bind="click: $root.stepBack" data-role="button">
					<span class="btn-letter">Back To</span>
					<span class="btn-small-letter">Previous step</span>
				</a>
			</div>

		</div>

		<!-- If is not the last step -->
		<div data-bind="if: $root.selectedStep().id != '7' ">

			<div style="float: right;" data-bind="click: $root.nextStep">
				<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
				 style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">Next</span>
					<span class="btn-letter">STEP</span>
				</a>
			</div>

		</div>

		<!-- If is last step -->
		<div data-bind="if: $root.selectedStep().id == '7' ">

			<div style="float: right;" data-bind="click: $root.submitUniformOrder">
				<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
				 style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">FINALIZE </span>
					<span class="btn-letter">ORDER</span>
				</a>
			</div>

		</div>

	</div>

	<script>
			
		$(document).off("focus", ".garment-meas-input").on("focus", ".garment-meas-input", function () {
			
			// on focus => clear the value if is zero
			if( parseFloat($(this).val()) == 0.0 )
			{
				$(this).val("");
			}

		});


	</script>




</div>