<div data-role="page" id="uniformMainMenu" class="bgBody" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />


	<style>
		
		* {
			text-shadow: none;
		}
	/*Definition of main colors here to be reused*/
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
			
			--yellow: rgb(220, 219, 52);
			
			--selected:#988e73;
		}

		.main-icons-wrapper {
			margin: 0 auto;
			text-align: center;
			top: 230px;
			position: relative;
		}	

		.menu-icon {
			display: inline-block;
			width: 180px;
		}

		.menu-round {
			border-radius: 50%;
			height: 130px;
			width: 130px;
			text-align: center;
			margin: 0 auto;
			background-color: var(--grey-1);
			position: relative;
		}
		.menu-round:hover {
			background: var(--yellow);
		}
		.menu-description {
			font-size: 19px;
			text-align: center;
			color: var(--grey-3);
		}
		.menu-icon-img {
			--size: 70px;
			transform: translate(0%, 50%);
			width: var(--size);
			height: var(--size);
			left: 0%;
			top: 50%;
		}
	</style>


	<div style="padding: 5px;">
		

		<div class="main-icons-wrapper">
			

			<div class="menu-icon" onclick="posChangePage('#uniformCompany');">
				
				<div class="menu-round">
					<img class="menu-icon-img" src="img/order_process/plus.png"/> 
				</div>

				<div class="menu-description">
					CREATE <br>
					COMPANY FILE
				</div>


			</div>

			<div class="menu-icon" onclick="posChangePage('#uniformCompanySearch');">
				
				<div class="menu-round">
					<img class="menu-icon-img" src="img/order_process/company.png">
				</div>

				<div class="menu-description">
					SEARCH<br>
					COMPANY
				</div>


			</div>


		</div>

	</div>

	<div class="j-footer container_12">
			
		<div class="grid_2" onclick="posChangePage('#main');">
			<a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
				<span class="btn-small-letter">Return Back</span>
				<span class="btn-letter">To Main</span>
			</a>
		</div>

	</div>

</div>