<div class="design-selection-ui order-step" data-bind="if: selectedStep().id == '2'">

	<style>

		.garment-type-wrapper {
			display: inline-block;
			padding: 10px;
			text-align: center;
			border-radius: 50%;
			margin-right: 20px;
			height: 110px;
			width: 110px;
			background: var(--grey-1);
		}

		.selected-garment-type {
			background: var(--green-1);
			border: none;
		}

		.garment-element-wrapper {
			display: flex;
		}

		.garment-element-tab {
			padding: 10px;
			font-size: 15px;
			border: 1px solid black;
			display: inline-block;
			border-radius: 0.211em;
			margin-right: 10px;
		}

		.selected-garment {
			display: block;
			background-color: #93C03E;
			color: white;
		}
		.garment-type-img {
		    width: 80px;
		}

		.garment-template-name-wrapper {
			float: right;
			display: flex;
		}

		.garment-template-name-p {
			margin: 0;
			text-align: right;
		}

		.garment-template-name-input {
			border: none;
			font-size: 18px;
			border-radius: 5px;
		}

		.logo-image-shape-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.logo-image-shape-el {
			width: 33%;
			min-height: 40px;
			border: solid 1px;
			text-align: center;
			justify-content: center;
			padding: 32px;
		}

		.logo-image-shape-el.selected-image-shape {
			border: solid 11px green !important;
		}

		.logo-positions-wrapper {

		}

		.logo-position-wrapper2 {
			min-height: 170px;
		}

		.logo-position-el {
			border-radius: 50%;
			--size: 79px;
			width: var(--size);
			height: var(--size);
			background: var(--grey-1);
			color: var(--grey-2);
			display: inline-block;
			margin: 7% 10px;
			font-size: 30px;
			text-align: center;
			padding: 19px;
		}

		.logo-position-el.custom {
			--size:auto;
		}

		.selected-logo-el {
			background: rgb(161, 192, 56);
			color: black;
		}

		.upload-logo-btn {
			background: var(--grey-2);
			color: white;
			padding: 5px;
			padding-right: 5px;
			padding-left: 5px;
			padding-right: 15px;
			padding-left: 15px;
			border: none;
			border-radius: 5px;
		}

		.garment-logo-img {
			width: 200px;
		}
		.logo-shape-img {
			width: 100%;
			top: 50%;
			/*! transform: translate(50%, 50%); */
			/*! position: absolute; */
			margin-top: -2px;
		}

		.logo-section-wrapper {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 1024px; /* we need to set this resolution manually like this to avoid bugs in the IPAD */
			height: 80%; /* we need to set this resolution manually like this to avoid bugs in the IPAD */
			background-color: white;
			border: solid;
		    border-top-width: medium;
		    border-right-width: medium;
		    border-bottom-width: medium;
		    border-left-width: medium;
			border-width: 1px;
			/* overflow-y: hidden; */
			overflow-x: hidden;
			transform: translate(-50%, -50%);
			z-index: 9999999;
			overflow-y: scroll;
		}

		.logo-popup-body {
			height: 84%;
			width: 100%;
			overflow-y: auto;
			position: absolute;
			padding-left: 19px;
			background: white;
		}

		.close-pop-up {
			background: red;
			color: white;
			font-weight: 900;
			font-size: 25px;
			padding: 5px;
			float: right;
		}

		.next-logo-btn {
			width: 120px;
			float: right;
			position: relative;
			right: 25px;
		}

		.design-opt-el {
			margin: 25px;
		}

		#download-previous-logo .logo-popup-body .previous-logo-box {
			margin: 11px auto;
			padding: 14px 7px;
			width: 50%;
		}

		#download-previous-logo .logo-popup-body .previous-logo-box img {
			width: 100%;
		}

		/* for slide */
		.slidecontainer {
			/* width: 100%; */
		}

		.slider {
			-webkit-appearance: none;
			width: 100%;
			height: 15px;
			border-radius: 5px;
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

		.slider:hover {
			opacity: 1;
		}

		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #4CAF50;
			cursor: pointer;
		}

		.slider::-moz-range-thumb {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #4CAF50;
			cursor: pointer;
		}

		.fabric-customer-wrapper .row {
			margin: 0;
		}

	</style>

	<div style="min-height: 1000px">

		<h1>Design Steps</h1>

		<div data-bind="foreach: { data: $root.garmentsStep.garments(), as: 'garmentType' } ">

			<div class="garment-type-wrapper" data-bind="visible: garmentType.garments().length > 0,
														 click: function() { $root.selectGarmentType(garmentType); },
														 css: { 'selected-garment-type' : $root.selectedGarmentType() === garmentType }">

				<img class="garment-type-img" data-bind="attr: { src: garmentType.image }">

			</div>

		</div>

		<br style="clear: both;">

		<div data-bind="foreach: { data: $root.garmentsStep.garments(), as: 'garmentType' }">

			<!-- ko if: $root.selectedGarmentType() === garmentType -->
			<div class="garment-type-design-tab">


				<div class="garment-element-wrapper col-md-8" data-bind="foreach : { data: garmentType.garments(), as: 'garment' }">

					<div class="garment-element-tab" data-bind="click: function() { $root.selectGarment(garment); },
														 		css: { 'selected-garment' : $root.selectedGarment() === garment }">

						<div>
							<span data-bind="text : $data.templateName "></span>
						</div>

					</div>

				</div>

				<div class="garment-template-name-wrapper col-md-4" data-bind="if: $root.selectedGarment">

					<p class="garment-template-name-p col-md-6" data-bind="text:'Give a name to your ' + $root.selectedGarment().garment_name"></p>
					<input class="garment-template-name-input col-md-6" type="text" data-bind="value: $root.selectedGarment().templateName,valueUpdate: 'afterkeydown'">

				</div>


			</div>
			<!-- /ko -->
		</div>



		<!-- Garments content -->
		<div data-bind="foreach: { data: $root.garmentsStep.garments(), as: 'garmentType' } ">

			<div class="garment-element-wrapper" data-bind="foreach: garmentType.garments()">

				<div class="garment-element-el" data-bind="css: { 'garment-selected-el' : $root.selectedGarment().unique_id === $data.unique_id }">

					<!-- Garment design cat TABS -->
					<div class="design-cat-tab-wrapper">

						<div data-bind="foreach: $data.categories">
							<!-- Monogram for shirt must not be shown  -->
							<!-- Hide fit category of all garments too (shirt=30, vest=21, pants=13, jacket=3)-->
							<!-- ko if: $data.id != '39' &&
								!['30','21','13','3'].includes($data.id)-->
							<div class="design-cat-tab-el" data-bind="click: function() {
								$root.garmentsDesignStep.selectCategory($data);
								$root.garmentsDesignStep.setOptionsVisited($data, $parent, true);},
								css : {
									'selected-cat-el' : $data.selected,
									'complete-cat-el' : $data.completed() && $data.visited() && $data.name.toLowerCase() != 'custom data',
									'custom-cat-el' : $data.name.toLowerCase() == 'custom data'
								}">
								<span data-bind="text:$data.name"></span>
							</div>
							<!-- /ko -->
						</div>


						<!-- Logo Steps -->
						<div class="design-cat-tab-el custom-cat-el" data-bind="click: function() { $root.garmentsDesignStep.showLogoSection(); } ">
							<span data-bind="">Logo</span>
						</div>

					</div>



					<br style="clear: both">

					<div data-bind="if: $root.selectedGarment().unique_id == $data.unique_id">
						<!--
							Include each garment design file separately
		        		 -->
						<div data-bind="if: $data.garment_id == '1'">

							<div id="uniformPantsDesignWrapper"></div>

						</div>

						<div data-bind="if: $data.garment_id == '2'">

							<div id="uniformShirtDesignWrapper"></div>

						</div>

						<div data-bind="if: $data.garment_id == '3'">

							<div id="uniformVestDesignWrapper"></div>

						</div>

						<!--  -->
						<div data-bind="if: $data.garment_id == '4'">

							<div id="uniformJacketDesignWrapper">empty</div>

						</div>

						<div data-bind="if: $data.garment_id == '6'">

							<div id="uniformSuitDesignWrapper"></div>

						</div>

						<!-- fabric

						███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
						██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
						█████╗  ███████║██████╔╝██████╔╝██║██║
						██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║
						██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
						╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝

						-->

						<div data-bind="if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() == 'fabric'">
							<div class="fabric-customer-wrapper">

								<!-- For each garment Category -->
								<div data-bind="foreach: { data: $root.garmentsStep.garments, as: 'gar_category' }" style="width: 100%;padding-left: 17px;">


									<!-- For each garment inside each category -->
									<div data-bind="foreach: { data: gar_category.garments, as: 'garment' }">

										<div class="row" style="padding-bottom: 15px;">

											<div class="col-md-1 no-padding">
												<p data-bind="text: garment.templateName "></p>
											</div>

											<div class="col-md-3 no-padding">
												<div class="row">
													<div class="col-md-11 no-padding">
														<div class="col-md-8 no-padding">
															<input id="fabricinput" class="fabric-search-input" type="text" data-bind="value: garment.fabricInsearch, valueUpdate: 'keyup', css : { 'selected-fabric-input' : garment.selectedFabric } " />
														</div>

														<div class="fabric-stock-level-div col-md-4 no-padding" data-bind="if: garment.selectedFabric">
															<div class="stock-level-div" data-bind="css : { 'in-stock-fabric' : garment.selectedFabric().in_stock == '1', 'out-stock-fabric' : garment.selectedFabric().in_stock == '0'} "></div>
														</div>

														<div data-bind="if: garment.fabricsInList().length">
															<div data-bind="foreach: garment.fabricsInList" class="fabric-list-wrapper">
																<div data-bind="text: title, click: function() { $root.selectGarmentFabric($data, garment); } " class="lioffabric"></div>
															</div>
														</div>
													</div>

												</div>

												<div class="row" style="margin-top: 10px;">
													<!-- fabric composition -->
													<div class="col-md-10 no-padding">
														<div class="fabricinfodivs" data-bind="with: garment.selectedFabric(), visible: garment.selectedFabric()">
															<div class="fabricbreak">
																<span>Fabric Range:</span>
																<span id="fabricrange" data-bind="text: price_range" class="red"></span>
															</div>
															<div class="fabricbreak">
																<span>Composition:</span>
																<span id="composition" data-bind="text: composition_1" class="red"></span>
																<span id="composition2" data-bind="text: composition_2" class="red"></span>
																<span id="composition3" data-bind="text: composition_3" class="red"></span>
															</div>
														</div>
													</div>
												</div>

											</div>

											<!-- fabric notes -->
											<div class="col-md-1">
												<div>
													<div class="open_style_notes" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).toggle(); }">SHOW</div>

													<!-- change width by garment type
														jacket : 4 category : 2  option: 53
														pants  : 1 category : 12 option: 55
														suit   : 6 category : 47 option: 157
														shirt  : 2 category : 29 option: 87
														vest   : 3 category : 20 option: 72
													-->
													<!-- ko if: garment.garment_id == "4" -->
													<div data-bind="with: garment.categories.filter(el=>el.id=='2')[0].options.filter(el=>el.id=='53')[0]">
														<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

															<div class="notes-textarea-wrapper">
																<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																	and Close</button>
															</div>
														</div>

													</div>
													<!-- /ko -->
													<!-- ko if: garment.garment_id == "1" -->
													<div data-bind="with: garment.categories.filter(el=>el.id=='12')[0].options.filter(el=>el.id=='55')[0]">
														<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

															<div class="notes-textarea-wrapper">
																<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																	and Close</button>
															</div>
														</div>

													</div>
													<!-- /ko -->
													<!-- ko if: garment.garment_id == "6" -->
													<div data-bind="with: garment.categories.filter(el=>el.id=='47')[0].options.filter(el=>el.id=='157')[0]">
														<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

															<div class="notes-textarea-wrapper">
																<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																	and Close</button>
															</div>
														</div>

													</div>
													<!-- /ko -->
													<!-- ko if: garment.garment_id == "2" -->
													<div data-bind="with: garment.categories.filter(el=>el.id=='29')[0].options.filter(el=>el.id=='87')[0]">
														<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

															<div class="notes-textarea-wrapper">
																<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																	and Close</button>
															</div>
														</div>

													</div>
													<!-- /ko -->
													<!-- ko if: garment.garment_id == "3" -->
													<div data-bind="with: garment.categories.filter(el=>el.id=='20')[0].options.filter(el=>el.id=='72')[0]">
														<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

															<div class="notes-textarea-wrapper">
																<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																	and Close</button>
															</div>
														</div>

													</div>
													<!-- /ko -->


												</div>

											</div>

											<div class="col-md-1 no-padding">
												<div data-bind="if: garment.selectedFabric()">
													<img class="garment-regular-fabric-img" data-bind=" attr : { src : garment.selectedFabric().title == 'CUSTOMERFABRIC' ?  garment.customerFabricImage() : garment.selectedFabric().fabricImage },
																										click: function() {console.log('$data', $data); $('#img-pop-up-'+$data.unique_id).show(500)}">
												</div>
												<!-- bigger image -->
												<div>
													<div class="pop-up fabric-image" style="display: none" data-bind="attr : {id: 'img-pop-up-'+$data.unique_id}">
														<!-- close button -->
														<div class="close-pop-up" data-bind="click: function() { $('#img-pop-up-'+$data.unique_id).hide(500) }">X</div>
														<!-- body -->
														<div class="popup-body">
																<img class="garment-regular-fabric-img" data-bind="attr : {
																	src : garment.selectedFabric().title == 'CUSTOMERFABRIC' ?  garment.customerFabricImage() : garment.selectedFabric().fabricImage
																}">
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- platinum make option (for shirt only) (shirt does not have "platinum make" in uniform)-->
										<!-- ko if: false && garment.garment_id == "2" -->
										<div class="row" style="padding-bottom: 15px;min-height: 80px;">
											<div class="col-md-12 no-padding" style="display: flex;align-items: center;">
												<span data-bind="click: function(){ console.log(garment); }" style="padding-left: 27px; padding-right: 27px;">Platinum Make ? </span>
												<input type="checkbox" class="order-checkbox" data-bind="checked: garment.categories.filter(el=>el.id == '29')[0].options.filter(el => el.id == '251')[0].selectedValue">
											</div>
										</div>
										<!-- /ko -->


									</div>

								</div>
							</div>

						</div> <!-- End special Fabric code -->


					</div>


					<!-- End incluging each desgin file -->


					<!-- Print the selected categoy data -->
					<!-- <pre data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

				</div>

			</div>

		</div>

		<script>


			// Include external design files
			$('#uniformPantsDesignWrapper').load('uniforms_designs/pantsUniformTemplate.htm');
			$('#uniformShirtDesignWrapper').load('uniforms_designs/shirtUniformTemplate.htm');
			$('#uniformVestDesignWrapper').load('uniforms_designs/vestUniformTemplate.htm');
			$('#uniformJacketDesignWrapper').load('uniforms_designs/jacketUniformTemplate.htm');
			$('#uniformSuitDesignWrapper').load('uniforms_designs/suitUniformTemplate.htm');



		</script>







		<div class="logo-section-wrapper" data-bind="if: $root.selectedGarment" style="display: none;">

			<div class="close-pop-up" onclick="$('.logo-section-wrapper').hide()">X</div>

			<br style="clear: both">
			<!--
			//.........................................................................................................................
			//..................................................................................OOOOOO.........GGGGG........OOOOOO.....
			//.UUUUU...UUUUU...........lllll...........................ddddd.....LLLLL.........OOOOOOOOO.....GGGGGGGGG.....OOOOOOOOO...
			//.UUUUU...UUUUU...........lllll...........................ddddd.....LLLLL........OOOOOOOOOOO...GGGGGGGGGGG...OOOOOOOOOOO..
			//.UUUUU...UUUUU...........lllll...........................ddddd.....LLLLL.......OOOOOOOOOOOO..GGGGGGGGGGGG..OOOOOOOOOOOO..
			//.UUUUU...UUUUUppppppppp..lllll..ooooooo....aaaaaaa...ddddddddd.....LLLLL......OOOOOO...OOOOOGGGGGG...GGGGGOOOOOO...OOOO..
			//.UUUUU...UUUUUpppppppppp.lllll.ooooooooo.aaaaaaaaaa.dddddddddd.....LLLLL......OOOOO....OOOOOGGGGG....GGGGGOOOOO....OOOO..
			//.UUUUU...UUUUUpppppppppppllllloooooooooooaaaaaaaaaaadddddddddd.....LLLLL......OOOOO.....OOOOGGGGG..GGGGGG.OOOOO.....OOO..
			//.UUUUU...UUUUUppppp.ppppplllllooooo.oooooaaaa.aaaaaadddd.ddddd.....LLLLL......OOOOO.....OOOOGGGGG.GGGGGGGGOOOOO.....OOO..
			//.UUUUU...UUUUUppppp..ppppllllloooo...oooo.aaaaaaaaaaddd..ddddd.....LLLLL......OOOOO.....OOOOGGGGG.GGGGGGGGOOOOO.....OOO..
			//.UUUUU...UUUUUppppp..ppppllllloooo...ooooaaaaaaaaaaaddd..ddddd.....LLLLL......OOOOO....OOOOOGGGGG..GGGGGGGOOOOO....OOOO..
			//.UUUUU...UUUUUppppp..ppppllllloooo...ooooaaaaa.aaaaaddd..ddddd.....LLLLL......OOOOOO...OOOOOGGGGGG...GGGGGOOOOOO...OOOO..
			//..UUUUUUUUUUU.pppppppppppllllloooooooooooaaaaaaaaaaadddddddddd.....LLLLLLLLLLL.OOOOOOOOOOOO..GGGGGGGGGGGGG.OOOOOOOOOOOO..
			//..UUUUUUUUUUU.ppppppppppplllll.ooooooooo.aaaaaaaaaaadddddddddd.....LLLLLLLLLLL..OOOOOOOOOOO..GGGGGGGGGGGGG..OOOOOOOOOOO..
			//...UUUUUUUUU..pppppppppp.lllll..oooooooo.aaaaaaaaaa.dddddddddd.....LLLLLLLLLLL...OOOOOOOOO.....GGGGGGGGGGG...OOOOOOOOO...
			//.....UUUUU....pppppppp...........ooooo.....aaa........ddd.........................OOOOOO........GGGGG.........OOOOOO.....
			//..............ppppp......................................................................................................
			//..............ppppp......................................................................................................
			//..............ppppp......................................................................................................
			//.........................................................................................................................
			-->

			<div id="upload-logo-step" style="display: none;">
				<div class="logo-popup-body">
					<div class="row" style="margin: 0">

						<div class="col-md-6">

							<br>
							<button class="upload-logo-btn" data-bind="click: function() { $root.garmentsDesignStep.uploadLogoBtn(); } ">Upload Logo</button>
							<br style="clear: both">
							<br style="clear: both">

							<div class="garment-logo-wrapper" data-bind="visible: $root.selectedGarment().logoData.image()">
								<img class="garment-logo-img" data-bind="attr: { src : $root.selectedGarment().logoData.image() }">
							</div>

							<div data-bind="visible: $root.selectedGarment().logoData.text">
								<p>Logo Text:</p>
								<h2><strong data-bind="text: $root.selectedGarment().logoData.text"></strong></h2>
							</div>

						</div>

						<div class="col-md-6">

							<p style="margin: 0;"><strong>or Type Your Logo Text</strong></p>
							<input type="text" class="logo-text-input" data-bind="value: $root.selectedGarment().logoData.text">
							<button class="set-logo-text-btn" data-bind="click: function() { $root.garmentsDesignStep.setLogoText(); } ">Set
								Text</button>

						</div>

					</div>


					<div>
						<h2>Select Shape of Uploaded Logo</h2>
						<h4>Choose the closest shape to your logo</h4>

						<div class="logo-image-shape-wrapper" data-bind="foreach: $root.selectedGarment().logoData.logoImageShapes">


							<div class="logo-image-shape-el" data-bind="click: function() { $root.garmentsDesignStep.setLogoImageShape($data); },
																		css : { 'selected-image-shape' : $data.selected }
																	">


								<img class="logo-shape-img" data-bind="attr: { src: $data.image }">

							</div>

						</div>

					</div>
				</div>

				<div style="position: absolute;bottom: 0;width: 100%;">
					<a data-bind="click: function() { $root.garmentsDesignStep.showLogoDetailsPopUp($data.selectedGarment); }"
					class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all next-logo-btn" style="min-width: 150px;" data-role="button" role="button">
						<span class="btn-small-letter">Next</span>
						<span class="btn-small-letter">Logo Details</span>
					</a>
				</div>

			</div>

			<!-- fetch previous logo -->
			<!--
			███████╗███████╗████████╗ ██████╗██╗  ██╗    ██████╗ ██████╗ ███████╗██╗   ██╗██╗ ██████╗ ██╗   ██╗███████╗    ██╗      ██████╗  ██████╗  ██████╗
			██╔════╝██╔════╝╚══██╔══╝██╔════╝██║  ██║    ██╔══██╗██╔══██╗██╔════╝██║   ██║██║██╔═══██╗██║   ██║██╔════╝    ██║     ██╔═══██╗██╔════╝ ██╔═══██╗
			█████╗  █████╗     ██║   ██║     ███████║    ██████╔╝██████╔╝█████╗  ██║   ██║██║██║   ██║██║   ██║███████╗    ██║     ██║   ██║██║  ███╗██║   ██║
			██╔══╝  ██╔══╝     ██║   ██║     ██╔══██║    ██╔═══╝ ██╔══██╗██╔══╝  ╚██╗ ██╔╝██║██║   ██║██║   ██║╚════██║    ██║     ██║   ██║██║   ██║██║   ██║
			██║     ███████╗   ██║   ╚██████╗██║  ██║    ██║     ██║  ██║███████╗ ╚████╔╝ ██║╚██████╔╝╚██████╔╝███████║    ███████╗╚██████╔╝╚██████╔╝╚██████╔╝
			╚═╝     ╚══════╝   ╚═╝    ╚═════╝╚═╝  ╚═╝    ╚═╝     ╚═╝  ╚═╝╚══════╝  ╚═══╝  ╚═╝ ╚═════╝  ╚═════╝ ╚══════╝    ╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝

			-->
			<!-- deprecated (this feature is no longer necessary) -->
			<div id="download-previous-logo" style="display: none;">
				<div class="logo-popup-body">
					<div class="row" style="margin: 0">

						<h1>Previous Logo</h1>

						<div data-bind="foreach: $root.previousUploadedLogos">
							<div class="previous-logo-box">
								<img alt="Logo" data-bind="attr: {'src': window.BUrl+$data},
															click: function() { $root.garmentsDesignStep.setLogoImage(window.BUrl+$data) }">
							</div>
						</div>

					</div>
				</div>

				<div style="position: absolute;bottom: 2px;width: 100%;background: white;">
					<a
						data-bind="click: function() { $('#download-previous-logo').toggle(); }"
						class="new-btn icon-goto-main new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all next-logo-btn"
						style="min-width: 150px; float: left; right: -16px;"
						data-role="button"
						role="button">
						<span class="btn-small-letter">Previous</span>
						<span class="btn-small-letter">Step</span>
					</a>
				</div>
			</div>

			<!--
				//...............................................................................................................................................................
				//................OOOOOO.........GGGGG........OOOOOO.........................OOOOOO.......SSSSSS............................OOOOOO....................SSSSSS.....
				//.LLLLL.........OOOOOOOOO.....GGGGGGGGG.....OOOOOOOOO.......PPPPPPPPPPP....OOOOOOOOO....SSSSSSSS..SIIIIITTTTTTTTTTTIIII...OOOOOOOOO..ONNNN...NNNNN..SSSSSSSS....
				//.LLLLL........OOOOOOOOOOO...GGGGGGGGGGG...OOOOOOOOOOO......PPPPPPPPPPPP..OOOOOOOOOOO..SSSSSSSSSS.SIIIIITTTTTTTTTTTIIII..OOOOOOOOOOO.ONNNNN..NNNNN.SSSSSSSSSS...
				//.LLLLL.......OOOOOOOOOOOO..GGGGGGGGGGGG..OOOOOOOOOOOO......PPPPPPPPPPPP.OOOOOOOOOOOO.OSSSSSSSSSSSSIIIIITTTTTTTTTTTIIII.OOOOOOOOOOOO.ONNNNNN.NNNNNNSSSSSSSSSSS..
				//.LLLLL......OOOOOO...OOOOOGGGGGG...GGGGGOOOOOO...OOOOO.....PPPPP..PPPPPPOOOOO...OOOOOOSSSS..SSSSSSIIII...TTTTT...TIIIIIOOOOO...OOOOOONNNNNN.NNNNNNSSSS..SSSSS..
				//.LLLLL......OOOOO....OOOOOGGGGG....GGGGGOOOOO....OOOOO.....PPPPP...PPPPPOOOO....OOOOOOSSSSSS.SSSSSIIII...TTTTT...TIIIIIOOOO....OOOOOONNNNNNNNNNNNNSSSSSS.SSSS..
				//.LLLLL......OOOOO.....OOOOGGGGG..GGGGGG.OOOOO.....OOOO.....PPPPPPPPPPPPPOOOO.....OOOOOSSSSSSSSS..SIIII...TTTTT...TIIIIIOOOO.....OOOOONNNNNNNNNNNNNSSSSSSSSS....
				//.LLLLL......OOOOO.....OOOOGGGGG.GGGGGGGGOOOOO.....OOOO.....PPPPPPPPPPPPPOOOO.....OOOO.SSSSSSSSSSSSIIII...TTTTT...TIIIIIOOOO.....OOOOONNNNNNNNNNNN.SSSSSSSSSSS..
				//.LLLLL......OOOOO.....OOOOGGGGG.GGGGGGGGOOOOO.....OOOO.....PPPPPPPPPPP.POOOO.....OOOO...SSSSSSSSSSIIII...TTTTT...TIIIIIOOOO.....OOOOONNNNNNNNNNNN...SSSSSSSSS..
				//.LLLLL......OOOOO....OOOOOGGGGG..GGGGGGGOOOOO....OOOOO.....PPPPPPPPPP..POOOO....OOOOOOSSS..SSSSSSSIIII...TTTTT...TIIIIIOOOO....OOOOOONNNN.NNNNNNNNSSS..SSSSSS..
				//.LLLLL......OOOOOO...OOOOOGGGGGG...GGGGGOOOOOO...OOOOO.....PPPPP.......POOOOO...OOOOOOSSSS...SSSSSIIII...TTTTT...TIIIIIOOOOO...OOOOOONNNN.NNNNNNNNSSSS...SSSS..
				//.LLLLLLLLLLL.OOOOOOOOOOOO..GGGGGGGGGGGGG.OOOOOOOOOOOO......PPPPP........OOOOOOOOOOOO.OSSSSSSSSSSSSIIII...TTTTT...TIIII.OOOOOOOOOOOO.ONNNN..NNNNNNNSSSSSSSSSSS..
				//.LLLLLLLLLLL..OOOOOOOOOOO..GGGGGGGGGGGGG..OOOOOOOOOOO......PPPPP.........OOOOOOOOOOO..SSSSSSSSSSSSIIII...TTTTT...TIIII..OOOOOOOOOOO.ONNNN..NNNNNN.SSSSSSSSSSS..
				//.LLLLLLLLLLL...OOOOOOOOO.....GGGGGGGGGGG...OOOOOOOOO.......PPPPP..........OOOOOOOOO....SSSSSSSSS.SIIII...TTTTT...TIIII...OOOOOOOOO..ONNNN...NNNNN..SSSSSSSSS...
				//................OOOOOO........GGGGG.........OOOOOO.........................OOOOOO........SSSSS............................OOOOOO.....................SSSSS.....
				//...............................................................................................................................................................
			-->
			<div id="logo-details-step" style="display: none;height: 100%;">

				<div class="row" style="margin: 0">

					<!-- templates for images 3d -->
					<div id="pants3dTemplate"></div>
					<div id="vest3dTemplate"></div>
					<div id="shirt3dTemplate"></div>
					<div id="jacket3dTemplate"></div>
					<div id="suit3dTemplate"></div>


					<script>
						// import templates
						$('#pants3dTemplate').load('uniforms_designs/images_3d_teplates/pants3D.htm');
						$('#vest3dTemplate').load('uniforms_designs/images_3d_teplates/vest3D.htm');
						$('#shirt3dTemplate').load('uniforms_designs/images_3d_teplates/shirt3D.htm');
						$('#jacket3dTemplate').load('uniforms_designs/images_3d_teplates/jacket3D.htm');
						$('#suit3dTemplate').load('uniforms_designs/images_3d_teplates/suit3D.htm');
					</script>

					<div class="col-md-6" style="overflow-y: scroll;max-height: 680px;border-right: 2px solid black;/* border-bottom: 2px solid black; */">

						<div class="garment-logo-wrapper" data-bind="visible: $root.selectedGarment().logoData.image()">
							<p><strong>Logo Preview</strong></p>
							<img class="garment-logo-img" data-bind="attr: { src : $root.selectedGarment().logoData.image() }">
						</div>

						<div>
							<p>Available Positions of Company Logo (scroll down to see more) </p>
							<form class="validateForm logoPositions">
								<div class="logo-positions-wrapper" data-bind="foreach: { data: $root.selectedGarment().logoData.positions, as: 'position' }">
									<div class="logo-position-wrapper2 row " data-bind="visible: position.view == $root.selectedGarment().logoData.currentView(),
																						css: position.name.toLowerCase().trim() === 'custom' ? 'col-md-12' : 'col-md-6' ">
										<div class="logo-position-el col-md-4" data-bind="click: function() { $root.garmentsDesignStep.setLogoPosition(position); },
																				css: {
																					'selected-logo-el' : position.selected,
																					'custom' : position.name.toLowerCase().trim() === 'custom'
																					}">
											<span data-bind="text: position.name"></span>
										</div>
										<div class="position-form col-md-6" data-bind="visible: position.selected">
											<div class="row">
												<p><span>width (cm)</span> <input type="number" step="0.5" data-bind="value: position.width" style="width: 100%"></p>
												<p><span>height (cm)</span> <input type="number" step="0.5" data-bind="value: position.height" style="width: 100%"></p>
											</div>
											<!-- rotate is not required anymore -->
											<div class="row" style="display: none">
												<span class="col-md-2">rotate</span>
												<div class="slidecontainer col-md-10">
													<input type="number" step="10" data-bind="value: position.rotate" style="margin-bottom: 18px;">
													<input type="range" min="-360" max="360" data-bind="value: position.rotate, valueUpdate: 'input'" class="slider" id="myRange">
												</div>
											</div>
										</div>
									</div>

								</div>
							</form>
						</div>

					</div>



					<div class="col-md-6 insertLogo3D">

						<button data-bind="click: function() { $root.garmentsDesignStep.changeCurrentView();}" style="background: white;border: none;right: 33px;position: absolute; z-index: 100;">
							<img src="img/order_icons/change_3d_view.png" style="width: 58px;"></button>


						<!-- for pants garments -->
						<!-- ko if: $root.selectedGarmentType().id == '1' -->
						<div data-bind="template: { name: 'pants3DTemplate', data: $root.selectedGarment() }"></div>
						<!-- /ko -->

						<!-- for vest garments -->
						<!-- ko if: $root.selectedGarmentType().id == '3' -->
						<div data-bind="template: { name: 'vest3DTemplate', data: $root.selectedGarment() }"></div>
						<!-- /ko -->

						<!-- for shirt garments -->
						<!-- ko if: $root.selectedGarmentType().id == '2' -->
						<div data-bind="template: { name: 'shirt3DTemplate', data: $root.selectedGarment() }"></div>
						<!-- /ko -->

						<!-- for jacket garments -->
						<!-- ko if: $root.selectedGarmentType().id == '4' -->
						<div data-bind="template: { name: 'jacket3DTemplate', data: $root.selectedGarment() }"></div>
						<!-- /ko -->

						<!-- for suit garments -->
						<!-- ko if: $root.selectedGarmentType().id == '6' -->
						<div data-bind="template: { name: 'suit3DTemplate', data: $root.selectedGarment() }"></div>
						<!-- /ko -->

					</div>



				</div>

				<br style="clear: both">
				<br>
				<div style="width: 95%;margin: 0 auto">
					<p><strong>Logo Instructions</strong></p>
					<textarea style="width: 100%;border: none;border-radius: 5px;height: 75px;" placeholder="Logo Instructions" data-bind="value: $root.selectedGarment().logoData.notes"></textarea>
				</div>

				<!-- <div style="position: absolute;bottom: 0;width: 100%;"> -->
				<div style="bottom: 0;width: 100%;">

					<a href="#" class="new-btn icon-go-next ui-link ui-btn ui-shadow ui-corner-all new-btn icon-goto-main" style="width: 120px;float: left;position: relative;left: 25px;"
					data-bind="click: function() { $root.garmentsDesignStep.showUploadLogoPopUp(); }" data-role="button">
						<span class="btn-letter">Back To</span>
						<span class="btn-small-letter">Previous step</span>
					</a>


					<a onclick="
						// validate logo positions
						for(const form of document.querySelectorAll('form.validateForm.logoPositions')){
							if (!form.reportValidity()){
								customAlert('Please, check if all mandatory info are filled');
								return;
							}
						}

						$('.logo-section-wrapper').hide();
						$.jGrowl('Logo Saved !');"

						class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
					 	style="min-width: 150px;float: right;position: relative;right: 25px;">
						<span class="btn-letter">SAVE</span>
						<span class="btn-small-letter">AND CLOSE</span>
					</a>

				</div>
			</div>

		</div>
	</div>

</div>