<div data-role="page" id="uniformCompanyStatistics" class="bgBody" style="background: white;padding: 20px;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<h2><span style="font-weight: 800" data-bind="text: $root.company().name "></span> Statistics</h2>
	<!-- Inserts statistics HTML here -->
	<div>
		<div id="uniformStatisticsWrapper"></div>
	</div>
	
	<script>
		/** Insert steps from different files **/
		$('#uniformStatisticsWrapper').load('uniformStatistics.htm');
	</script>

	<div style="min-height: 300px;"></div>

	<div class="j-footer container_12">

		<div class="half-em-around">
			
			<div class="grid_2" ">

				<a href="#" class="new-btn icon-goto-main new-btn-icon-left" onclick="posChangePage('#uniformCompanySearch');" data-role="button">
					<span class="btn-letter">Back To</span>
					<span class="btn-small-letter">Company Search</span>
				</a>

			</div>

		</div>

	</div>

</div>