<div class="garment-selection-ui order-step" data-bind="if: selectedStep().id == '1'">
	
	<style>


		.uniform-checkbox {
			width: 30px !important;
			height: 30px !important;
			float: left !important;
			left: 0px !important;
			top: 10px !important;
		}

		.uniform-input {
			height: 30px;
			margin: 0;
			min-height: 2.2em;
			text-align: left;
			border: 0;
			background: #ececec;
			border-radius: 5px;
			width: 100%;
		}	
		.uniform-p {
			margin: 0px;
		}

		.cust-search {
			padding: .4em;
			line-height: 1.4em;
			display: inline-block;
			width: 80%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			outline: 0;
			border: none;
			border-radius: 5px;
			font-size: 15px;
		}

		.capitalme {
			background: var(--grey-1);
			padding: 10px;
			width: 100%;
			color: black;
		}

		.capitalme:hover {
			background: var(--grey-4);
			color: white;
		}

		.search-result {
			max-height: 200px;
		}

		.clear-search {
			padding: 5px;
			padding-right: 10px;
			padding-left: 10px;
			background: red;
			color: white;
			display: inline-block;
			border: none;
			display: inline-block;
		}

		.statistics-pop-up {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 768px;
			background-color: white;
			z-index: 9999;
			padding-bottom: none;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
			overflow-y: scroll;
		}

		.close-uniform-statistics-pop-up-btn {
			float: right;
			background: red;
			border: none;
			border-radius: 5px;
			padding: 10px;
			color: white;
			font-weight: 900;
			font-size: 25px;
		}

		.statistics-popup-btn {
			background: red;
			border: none;
			border-radius: 5px;
			padding: 10px;
			color: white;
			font-weight: 900;
			font-size: 12px;
			right: 0;
			position: absolute;
			top: 16px;
		}
	</style>

	<div style="padding: 5px" class="row" data-bind="with: $root.contactPersonStep.selectedCustomer">


		<form class="validateForm">
			<div class="col-md-8">
				
				<div>
					<p style="font-size: 18px;display:inline-block;"><strong>Customer Details</strong></p>
	
					<button class="statistics-popup-btn" data-bind="click: function() { $root.isStatisticsVisible(true); }">Company Statistics</button>
	
				</div>
	
	
				<div class="row">
					
					<div class="col-md-6">
						<p>Last Name <span class="mandatoris">*</span> </p>				
						<input required type="text" data-role="none" class="uniform-input" data-bind="value: customer_last_name">
					</div>
	
					<div class="col-md-6">
						<p>First Name <span class="mandatoris">*</span> </p>				
						<input required type="text" data-role="none" class="uniform-input" data-bind="value: customer_first_name">
					</div>
	
	
				</div>
	
	
				<div class="row">
					
					<div class="col-md-8">
						<p>Date Of Birth: <span class="mandatoris">*</span> </p>
	
						<!-- <input type="text" placeholder="Date Required" class="datepicker garmentDataInput" style="border: none;font-size: 20px;border-radius: 5px;" data-bind="datepicker: customer_DOB, value: customer_DOB"> -->
						<div style="display: flex;">
							<div>
								<select data-role="none" name="DOB_day" required  id="DOB_day" data-bind=" options        : $root.days,
																								value          : customer_birth_day,
																								optionsCaption : 'Day'">
						
								</select>
							</div>
							<div>
								<select data-role="none" name="DOB_month" required  id="DOB_month" data-bind=" options        : $root.months,
																									optionsText    : 'name',
																									optionsValue   : 'id' ,
																									value          : customer_birth_month,
																									optionsCaption : 'Month'">
						
								</select>
							</div>
							<div>
								<select data-role="none" name="DOB_year" required id="DOB_year" data-bind= "options       : $root.years,
																								value          : customer_birth_year,
																								optionsCaption : 'Year'">
						
								</select>
							</div>
						</div>
	
	
	
	
	
	
	
					</div>
	
					<div class="col-md-4">
	
						<div class="col-md-6" style="text-align: center;">
							<label for="gender_male">Male</label>
							<input type="radio" class="radio-new" name="gender" id="gender_male" style="width: 25px;height: 25px;" value="1" data-role="none" data-bind="checked: customer_gender"/>
						</div>
	
						<div class="col-md-6" style="text-align: center;">
							<label for="gender_female">Female</label>
							<input type="radio" class="radio-new" name="gender" id="gender_female" style="width: 25px;height: 25px;" value="0" data-role="none" data-bind="checked: customer_gender" />
						</div>
					</div>
	
				</div>
	
				<div class="row">
					
					<div class="col-md-6">
						<p>Mobile Number: <span class="mandatoris">*</span> </p>				
						<input required type="text" data-role="none" class="uniform-input" data-bind="value: customer_mobile_phone">
					</div>
	
					<div class="col-md-6">
						<p>Landline Number:</p>				
						<input type="text" data-role="none" class="uniform-input" data-bind="value: customer_landline_phone">
					</div>
	
				</div>
	
				<div class="row">
					<div class="col-md-12">
						<p>Customer E-mail: <span class="mandatoris">*</span> </p>				
						<input required type="email" data-role="none" class="uniform-input" data-bind="value: customer_email">
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-12">
						<p>Company-mail:</p>				
						<input type="email" data-role="none" class="uniform-input" data-bind="value: $root.company().email">
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-12">
						<p>Company Address:</p>				
						<input type="text" data-role="none" class="uniform-input" data-bind="value: $root.company().address">
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-12">
	
						<p>Customer Country/State/City <span class="mandatoris">*</span> </p>
	
						<fieldset data-role="controlgroup" data-type="horizontal" class="">
						<select data-role="none" required name="customer_country" id="customer_country" data-bind="options: $root.countries,
																										value: customer_country,
																										optionsValue: 'locations_id',
																										optionsText: 'location_name',
																										optionsCaption: 'Country'">
						</select>
						<select data-role="none" required name="customer_state" id="customer_state" data-bind="options: $root.states.filter(state => state.parent_location_id == $data.customer_country()),
																									value: customer_state,
																									optionsValue: 'locations_id',
																									optionsText: 'location_name',
																									optionsCaption: 'State'">
						</select>
						<select data-role="none" required name="customer_city" id="customer_city" data-bind="options: $root.cities.filter(city => city.parent_location_id == $data.customer_state()),
																									value: customer_city,
																									optionsValue: 'locations_id',
																									optionsText: 'location_name',
																									optionsCaption: 'City'">
						</select>
						</fieldset>
					</div>
				</div>
	
				<div class="row">
	
					<div class="col-md-8">
						<p>Customer Suburb:</p>				
						<input type="text" data-role="none" class="uniform-input" data-bind="value: customer_address2">
					</div>
	
					<div class="col-md-4">
						<p>Customer Post Code:</p>				
						<input type="tel" maxlength="4" data-role="none" class="uniform-input" data-bind="value: customer_postal_code">
					</div>
	
				</div>
	
	
			</div>
		</form>


		<div class="col-md-4">



			<br style="clear: both">
			
			<input value="search for existing customer" placeholder="search for existing customer" class="cust-search" data-bind="value: $root.contactPersonStep.custSelectVM.customerAutocomplete, valueUpdate: 'keyup'" placeholder="search for existing customer"
                onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
                type="text">

            <button class="clear-search" data-bind="click: function() { $root.contactPersonStep.clearCustomer(); } ">Clear</button>

            <div class="search-result">
	            <ul class="alllistsview" data-role="listview" data-bind="foreach:  $root.contactPersonStep.custSelectVM.customersAutocompleteList">
		            <li data-bind="click: function() { $root.contactPersonStep.selectCustomerFromSearch($data) }">
		                <div class="grid_12 capitalme"> <span style="white-space: nowrap;" data-bind="text: customer_first_name + ' ' + customer_last_name + ' ' + customer_email + ' - ' + customer_display_state"></span> </div>
		            </li>
		        </ul>
		    </div>

		</div>


	</div>


	<!-- Inserts statistics HTML here -->
	<div class="statistics-pop-up" data-bind="visible: $root.isStatisticsVisible">
		<div data-bind="with: $root.statistics">
			<button class="close-uniform-statistics-pop-up-btn" data-bind="click: function() { $root.isStatisticsVisible(false); }">X</button>
			<div id="uniformStatisticsWrapper" data-bind="if:$root.isStatisticsVisible"></div>
		</div>
	</div>
	
	<script>
		/** Insert steps from different files */
		$('#uniformStatisticsWrapper').load('uniformStatistics.htm');
	</script>







</div>