<div class="video-step-ui order-step" data-bind="if: selectedStep().id == '5'">

    <style>
        .comments-wrapper {
            border: 1px solid black;
        }
        .remove-comment {
            background: red;
            color: white;
            padding: 10px;
            position: absolute;
            float: right;
            top: 0;
            right: 0;
        }
        .remove-video {
            background: red;
            color: white;
            padding: 10px;
            font-weight: 900;
            position: absolute;
            right: 0;
            top: 0;
        }
        .video-text-area {
            width: 100%;
        }
        .upload-video-btn {
            background: var(--grey-1);
            color: black;
            font-size: 18px;
            border: none;
            padding: 5px 15px 5px 15px;
            position: relative;
            text-align: center;
            width: 200px;
            border-radius: 17px;
        }
        .add-new-video-comments {
            float: right;
            background: var(--grey-2);
            color: white;
            padding: 10px;
            padding-right: 15px;
            padding-left: 15px;
            padding: 10p;
            padding: 10px;
        }

        .video-comment-p {
            font-size: 16px;
            width: 90%;
            padding: 0;
            margin: 0;
        }

    </style>

    <h1>Upload Video</h1>

    <div class="cust-tab-wrapper" data-bind="foreach: customers">

        <div class="cust-tab" data-bind="click: function() { $root.changeCustomer($data.customer_id) },
                                                     css : { 'selected-customer' : $root.selectedCustomer() == $data },
                                                     visible: $data.is_present">
            <div class="customer-gray-round">
                <span class="customer-counter-span" data-bind="visible: !$data.is_leader, text: '#'+(parseInt($index())+1)"></span>

                <div class="leader-pic-wrapper" data-bind="if: $data.is_leader">
                    <img class="leader-pic-img" data-bind="attr: { src: $root.leaderPic() }" onerror=this.src="https://cdn4.iconfinder.com/data/icons/media-24/32/camera-512.png">

                </div>
                <div class="customer-locked-wrapper" data-bind="visible:$data.is_locked">
                    <img class="customer-locked-img" src="img/order_process/lock.png">
                </div>
            </div>
            <span class="customer-name-p" data-bind="text:$data.full_name"></span>
            <div data-bind="if : !$data.is_present">
                <p style="color: red">Not Present!</p>
            </div>
        </div>

    </div>

    <br style="clear: both">

    <div class="upload-video-btn" style="left: 5px;" data-bind="click: function() { $root.selectedCustomer().uploadVideosStep.chooseVideoSource(); }">
        <span class="fvideo"></span>
        <span>Take Video</span>
    </div>

    <br><br>

    <div data-bind="foreach: { data: $root.selectedCustomer().uploadVideosStep.videos, as: 'video' }">

        <div class="row">

            <div class="col-md-6">
                <h2 style="font-weight: 800" data-bind="text: 'Video ' + ($index()+1)"></h2>

                <div style="position: relative;display: inline-block;">
                    <video width="400" controls="true">
                        <source data-bind="attr:{src: video.url}">
                    </video>
                    <span class="remove-video" data-bind="click: function() { $root.selectedCustomer().uploadVideosStep.removeVideo(video); }">X</span>
                </div>
                
            </div>

            <div class="col-md-6">
                <br>
                <h2><strong>Video Comments</strong></h2>

                <div class="comments-wrapper" data-bind="visible: video.comments().length > 0">
                    <div data-bind="foreach: video.comments">

                        <div style="position: relative;margin-bottom: 20px;">
                            <p class="video-comment-p" data-bind="text: ($index()+1) + '. ' + $data"></p>
                            <span class="remove-comment" data-bind="click: function() { $root.selectedCustomer().uploadVideosStep.removeComment(video, $data); }">X</span>
                        </div>

                    </div>
                </div>


                <hr style="width: 100%;height: 3px;color: black;border-color: beige;border-color: black;background: black;">

                <div>
                    <p>Add new Comment:</p>
                    <textarea class="video-text-area" style="height: 80px" data-bind="value: $root.selectedCustomer().uploadVideosStep.currentComment"></textarea><br>
                    <button class="add-new-video-comments" data-bind="click: function() { $root.selectedCustomer().uploadVideosStep.addComment(video); }">Add New</button>
                </div>

            </div>

        </div>

    </div>

    <div style="margin-top: 300px;"></div>

</div>