<!-- For each OPTION, we will define its behavior

	This will give us more control about the bahavior of each option
	We will have some repeatitive code, but this is necessary as we have a lot of edge cases

 -->

 <div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

		<!-- Fabric

			███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
			██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
			█████╗  ███████║██████╔╝██████╔╝██║██║
			██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║
			██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
			╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝

		-->
		<div data-bind="if: 0 && $data.id == '20' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Fabric-->
				<div data-bind="if: option.id == '71'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="text" data-bind="value: option.selectedValue">

				</div>

				<!-- notes -->
				<div data-bind="if: option.id == '72'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>


		<!-- 3: Fit

			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║
			██╔══╝  ██║   ██║
			██║     ██║   ██║
			╚═╝     ╚═╝   ╚═╝

						-->
		<div data-bind="if: $data.id == '21' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- fit-->
				<div data-bind="if: option.id == '73'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="fitOption grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																														css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Lapel Style
			██╗      █████╗ ██████╗ ███████╗██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗
			██║     ██╔══██╗██╔══██╗██╔════╝██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██║     ███████║██████╔╝█████╗  ██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗
			██║     ██╔══██║██╔═══╝ ██╔══╝  ██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
			███████╗██║  ██║██║     ███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗
			╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

		-->

		<div data-bind="if: category.id == '22' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Lapel Style -->
				<div data-bind="if: option.id == '74'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																									css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>


				<!-- Notes for Lapel Style -->
				<div data-bind="if: option.id == '75'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>

		<!-- Bottom Style

			██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝

		-->
		<div data-bind="if: $data.id == '23' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Notes For Jacket Bottom -->
				<div data-bind="if: option.id == '77'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



				<!-- Bottom Style -->
				<div data-bind="if: option.id == '76'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>


		<!-- Buttons

			██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗
			██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝
			██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗
			██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║
			██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║
			╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝

		-->
		<div data-bind="if: category.id == '24' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">


				<!-- Button Notes -->
				<div data-bind="if: option.id == '79'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>


				<!-- Button styles -->
				<div data-bind="if: option.id == '78'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 398px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																														css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example" style="max-width: 202px;">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!-- Pocket Style

			██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗
			██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
			██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗
			╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝


		-->
		<div data-bind="if: category.id == '25' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Pockets Notes -->
				<div data-bind="if: option.id == '81'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


				<!-- Pocket Style -->
				<div data-bind="if: option.id == '80'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4 vest-pocket-value" style="min-height: 258px;" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">Gar.</th>
										<!-- ko if: value.id != '1303' -->
										<th class='right'>Doub. B. <br> Pckt.</th>
										<th class='right'>Breast <br> Pckt.</th>
										<!-- /ko -->
										<th class="right">Sel.</th>

									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- DOUBLE Pocket Breast -->
										<!-- ko if: value.id != '1303' -->
										<td class='right' style="padding-right: 8px;">
											<input type="checkbox" class="labeled-checkbox" name="" id="doubleBreastCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='225'})[0].selectedValue">
											<label for="doubleBreastCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='225'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='225'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->

										<!-- Pocket Breast -->
										<!-- ko if: value.id != '1303' -->
										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" name="" id="breastPockCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='82'})[0].selectedValue">
											<label for="breastPockCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='82'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='82'})[0].selectedValue())}"></label>
										</td>
										<!-- /ko -->

										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>
									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

				<!-- Pocket Breast -->
				<!-- <div data-bind="if: option.id == '82'">
					<div class="order-option-boolean">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<input type="checkbox" class="labeled-checkbox" name="" id="breastPockCheckbox" data-bind="checked: option.selectedValue">
						<label for="breastPockCheckbox"></label>
					</div>

				</div> -->

				<!-- DOUBLE Pocket Breast -->
				<!-- <div data-bind="if: option.id == '225'">
					<div class="order-option-boolean">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
						<input type="checkbox" class="labeled-checkbox" name="" id="doubleBreastCheckbox" data-bind="checked: option.selectedValue">
						<label for="doubleBreastCheckbox"></label>
					</div>

				</div> -->

			</div>
		</div>


		<!-- Back Style

			██████╗  █████╗  ██████╗██╗  ██╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝███████║██║     █████╔╝     ███████╗   ██║    ╚████╔╝ ██║     █████╗
			██╔══██╗██╔══██║██║     ██╔═██╗     ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
			██████╔╝██║  ██║╚██████╗██║  ██╗    ███████║   ██║      ██║   ███████╗███████╗
			╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝


		-->
		<div data-bind="if: category.id == '26' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Back Notes -->
				<div data-bind="if: option.id == '84'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


				<!-- Back Style -->
				<div data-bind="if: option.id == '83'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setValueClicked(option, value); },
																																			css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class='right'>
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!-- Lining & Pipping

			██╗     ██╗███╗   ██╗██╗███╗   ██╗ ██████╗        ██╗       ██████╗ ██╗██████╗ ██████╗ ██╗███╗   ██╗ ██████╗
			██║     ██║████╗  ██║██║████╗  ██║██╔════╝        ██║       ██╔══██╗██║██╔══██╗██╔══██╗██║████╗  ██║██╔════╝
			██║     ██║██╔██╗ ██║██║██╔██╗ ██║██║  ███╗    ████████╗    ██████╔╝██║██████╔╝██████╔╝██║██╔██╗ ██║██║  ███╗
			██║     ██║██║╚██╗██║██║██║╚██╗██║██║   ██║    ██╔═██╔═╝    ██╔═══╝ ██║██╔═══╝ ██╔═══╝ ██║██║╚██╗██║██║   ██║
			███████╗██║██║ ╚████║██║██║ ╚████║╚██████╔╝    ██████║      ██║     ██║██║     ██║     ██║██║ ╚████║╚██████╔╝
			╚══════╝╚═╝╚═╝  ╚═══╝╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═════╝      ╚═╝     ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═══╝ ╚═════╝


		-->
		<div data-bind="if: category.id == '27' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Lining -->
				<div data-bind="if: option.id == '132'">
					<!-- button -->
					<div class="myboxesincheck" onclick="{changeVisibilityDiv('vest_linning_popup')}"> <span class="myboxesincheckname smallertag">Lining</span>
						<img name="vestLining" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>

					<!-- pop up -->
					<div name="vestLiningPopup" id="vest_linning_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4>Select Vest Lining</h4>
							<div class="inmyscroll option-wrapper2-popup">

								<!-- no extra costs linings -->
								<h2 style="color: white; display: inline-block">Without extra charge</h2>
								<div data-bind="foreach: { data: option.values.filter(el=>el.price == 'no'), as: 'value' }" style="width: 100%; min-height: 56px;">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value);
																									changeVisibilityDiv('vest_linning_popup') },
																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example lining-preview">
									</div>

								</div>
								<!-- extra costs linings -->
								<br class="clear: both">
								<h2 style="color: white">With extra charge</h2>
								<div data-bind="foreach: { data: option.values.filter(el=>el.price == 'yes'), as: 'value' }" style="width: 100%; min-height: 56px;">
									<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value);
																									changeVisibilityDiv('vest_linning_popup') },
																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
										<span class="new_main_option_title" data-bind="text:value.name"></span>
										<img data-bind="attr:{src: value.image}" class="example lining-preview">
									</div>

								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('vest_linning_popup')}">Save And Close</a>
						</div>
					</div>

				</div>


				<!-- Pipping -->
				<div data-bind="if: option.id == '133'">
					<!-- button -->
					<div class="myboxesincheck" onclick="{changeVisibilityDiv('vest_pipping_popup')}"> <span class="myboxesincheckname smallertag">Pipping</span>
						<img name="vestPiping" data-bind="attr:{src: option.selectedValue()  ? option.selectedValue().image : ''}">
						<span class="mydataboxesincheckname" data-bind="option.selectedValue()  ? option.selectedValue().name : ''"></span>
					</div>

					<!-- pop up -->
					<div id="vest_pipping_popup" class="white_content mynicepop" style="display: none;">
						<div class="inmynicepop inmynicepopthree">
							<h4>Select Vest Lining</h4>
							<div class="option-wrapper2-popup" data-bind="foreach: { data: option.values, as: 'value' }">
								<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value);
																									changeVisibilityDiv('vest_pipping_popup')},
																				css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
									<span class="new_main_option_title" data-bind="text:value.name"></span>
									<img data-bind="attr:{src: value.image}" class="example">
								</div>
							</div>
							<a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" onclick="{changeVisibilityDiv('vest_pipping_popup')}">Save And Close</a>
						</div>
					</div>
				</div>


				<!-- Pocket Color -->
				<div data-bind="if: option.id == '134'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1 option-wrapper2" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.garmentsDesignStep.setOptionValue(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>

				</div>

				<!-- Notes -->
				<div data-bind="if: option.id == '131'">
					<strong>
						<br>
						<br>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>

			<!-- monogram warning -->
			<div class="monogram-warning">
				<span>
					Monogram must be set during order section and NOT during master design creation.
				</span>
			</div>

		</div>

		<!-- General Notes

			 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
			██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
			██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
			██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
			╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝


		-->
		<div data-bind="if: category.id == '28' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '85'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>


		<!-- Custom Data

			 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗
			██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
			██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
			██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
			╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
			 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝


		-->
		<div data-bind="if: category.id == '67' ">
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				<!-- ko if: $root.garmentsDesignStep.hasCustomDesign().includes(option.id) -->
				<div class="row design-opt-el">
					<div class="col-md-3">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
					</div>

					<div class="col-md-3">
						<button class="custom-img-btn" data-bind="click: function() { $root.garmentsDesignStep.takeOptionCustomImage(option); }">Take Custom Image</button>
						<button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
											click: function() { $root.garmentsDesignStep.clearCustomOptionImage(option); }">Clear Image</button>
					</div>

					<div class="col-md-12 image-comment-wrapper" data-bind="foreach: option.selectedValue()">

						<div class="col-md-12" style="margin-bottom: 35px;">
							<div class="col-md-6">

								<!-- <img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }"> -->

								<div class="image-tag-wrapper" data-bind="attr:{id : 'image-tag-wrapper-'+option.id+'-'+$index()}">
									<!-- insert via es6 -->
								</div>

							</div>

							<div class="col-md-6">
								<div class="image-tags-comment-wrapper" data-bind="attr:{id : 'image-tags-comment-wrapper-'+option.id+'-'+$index()}">
									<!-- insert via es6 -->
								</div>

							</div>
						</div>


					</div>

				</div>
				<!-- /ko -->

			</div>

			<!-- ko if: !$root.garmentsDesignStep.hasCustomDesign().length > 0 -->
			<h2>No Custom Data</h2>
			<!-- /ko -->

		</div>





		<!-- Show selected category -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->



	</div>

</div>

<div id="popupNewTag-wrapper">
	<!-- insert via es6 -->
</div>

<!-- image 3d -->
<!--

	██╗███╗   ███╗ █████╗  ██████╗ ███████╗    ██████╗ ██████╗
	██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝    ╚════██╗██╔══██╗
	██║██╔████╔██║███████║██║  ███╗█████╗       █████╔╝██║  ██║
	██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝       ╚═══██╗██║  ██║
	██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗    ██████╔╝██████╔╝
	╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═════╝ ╚═════╝
	-->
<!-- import template -->
<div id="3dVestWrapper">
</div>

<!-- build from template -->
<!-- ko if: $root.garmentsDesignStep.selectedCategory() && $root.garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric' &&
	!$root.garmentsDesignStep.selectedCategory().name.toLowerCase().includes('custom') -->
<div data-bind="template: { name: 'vest3DTemplate', data: $root.garmentsDesignStep.selectedGarment }"></div>
<!-- /ko -->

<script>
	// import uniform template
	$('#3dVestWrapper').load('uniforms_designs/images_3d_teplates/vest3D.htm');
</script>