
/* 
███████╗██╗████████╗████████╗██╗███╗   ██╗ ██████╗ 
██╔════╝██║╚══██╔══╝╚══██╔══╝██║████╗  ██║██╔════╝ 
█████╗  ██║   ██║      ██║   ██║██╔██╗ ██║██║  ███╗
██╔══╝  ██║   ██║      ██║   ██║██║╚██╗██║██║   ██║
██║     ██║   ██║      ██║   ██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝   ╚═╝      ╚═╝   ╚═╝╚═╝  ╚═══╝ ╚═════╝
*/

#popup_box {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1030;
	/* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
}

div.planetmap div {
	display: block;
	position: absolute;
}

/* div.image_panel{
float:left;
width:480px;
position:relative;
}
div.image_panel img{
	left:0;top:-102px;
	max-width: 480px;
	overflow: hidden;
}*/

div.form_panel .row {
	clear: both;
	margin-top: 20px;
}

div.arrow {
	background: none repeat scroll 0 0 #FF0000;
	color: #FF0000;
	z-index: 500;
}

#popup_box input[type='button'] {
	background: none repeat scroll 0 0 #2769C4;
	border: 1px solid #CFCFCF;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
}

.img-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 999;
	border: solid;
	border-width: 1px;
	overflow-y: scroll;
}

.add-notes-btn {
	width: 50% !important;
	margin: 0 auto;
	font-size: 87%;
}

.save-notes-btn-hasNote {
	background-color: #94C01F !important;
	color: white !important;
}

.save-notes-btn {
	float: right;
	color: white;
	background-color: rgb(152, 180, 53);
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	right: 50px;
	bottom: 200px;
	border-radius: 5px;
	font-size: 25px;
	z-index: 45;
}

.save-meas-btn {
	color: white;
	background-color: rgb(152, 180, 53);
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	border-radius: 5px;
	font-size: 25px;
	border: none;
	right: 25px;
}

.save-meas-div {
	float: right;
}

.greenBackGround {
	background-color: #94C01F !important;
	color: white !important;
}


.fitting-clickable {
	display: inline-block;
	margin-right: 30px;
}

.fitting-num {
	float: left;
	padding: 8px;
	background: rgb(88, 88, 87);
	color: white;
	font-size: 31px;
	border-radius: 5px;
}

.fitting-data {
	float: right;
	background: rgb(234, 234, 234);
	border-radius: 5px;
	padding: 8px;
	color: rgb(62, 62, 61);
}

.meas-clickable {
	margin-right: 10px;
	margin-bottom: 5px;
	/*width: 15%;*/
	font-size: 12px;
}

.meas-num {
	float: left;
	padding: 5px;
	background: rgb(88, 88, 87);
	color: white;
	font-size: 31px;
	border-radius: 5px;
}

.meas-data {
	float: left;
	background: rgb(234, 234, 234);
	border-radius: 5px;
	padding: 8px;
	height: 33px;
	color: rgb(62, 62, 61);
}

.meas-input {
	width: 150px;
	font-size: 30px;
	font-weight: 700;
	color: rgb(86, 86, 86);
	background-color: rgb(231, 231, 231);
	border: none;
	border-radius: 5px;
}

.greenBack {
	background: rgb(160, 189, 55) !important;
	/*GREEN*/
	color: white;
}

.redBack {
	background: rgb(193, 8, 26) !important;
	/*RED*/
	color: white;
}


/* who can be pending ??
li.pending {
	background: rgba(135, 135, 135, 1) none repeat scroll 0 0;
} */

li.selected {
	background: rgba(215, 180, 106, 1) none repeat scroll 0 0 !important;
	border: 1px solid #444;
}

	.remake-dialog-wrapper {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 650px;
			height: 680px;
			background-color: white;
			z-index: 1000;
			padding: 10px;
			padding-bottom: none;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
		}

		.remake-dialog-wrapper td {
			text-align: center;
		}

		.remake-dialog-wrapper input[type=radio],
		input[type=checkbox] {
			width: 20px;
			height: 20px;
		}

		.remake-dialog-wrapper input[type=radio]:checked,
		input[type=checkbox]:checked {
			width: 20px;
			height: 20px;
			background-color: blue;
		}

		.remake-h {
			float: left;
			font-weight: 600;
		}

		.close-me {
			float: right;
			background-color: red;
			position: relative;
			bottom: 10px;
			left: 10px;
			padding: 10px;
			color: white;
			border-radius: 5px;
		}

		.remake-reason-textarea {
			width: 100%;
			background: white;
			border: solid 1px;
			border-radius: 5px;
		}

		.fabrics-meter-input {
			background: white;
			border: solid 1px;
			border-radius: 5px;
			font-size:20px;
		}

		div.image_panel {
			float: left;
			position: relative;
		}

		div.image_panel img {
			left: 0;
			top: -102px;
			overflow: hidden;
			width: 100%;
			border-radius: 24px;
		}

		div.form_panel .row {
			clear: both;
			margin-top: 20px;
		}

		.remake-btns-div {
			float: right;
			position: relative;
			bottom: 25px;
		}

		.remake-submit-btn {
			color: white;
			background: rgb(161, 190, 55);
			border-radius: 3px;
			border: none;
			padding: 10px;
		}

		.remake-cancel-btn {
			color: white;
			background: red;
			border-radius: 3px;
			border: none;
			padding: 10px;
		}

		.value-td {
			font-size: 22px;
			font-weight: 700;
		}

		.img-wrap .close-fitting,
		#popupBoxClose,
		.closeitx {
			background-color: #e20613;
			border-radius: 0 8px 0 3px;
			color: #ececec;
			cursor: pointer;
			font-size: 20px;
			height: 30px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 30px;
			z-index: 1;
		}

		.close-fitting {
			float: right;
			position: relative;
		}

		.line {
			border-top: 4px solid gray;
			width: 97% !important;
		}

		#remakeBtn {
			display: inline-block;
			position: relative;
			margin-top: -94px;
			color: white;
			height: 90px;
			width: 104px;
			border-radius: 20px;
			margin-right: 14px;
			background-image: url("../img/fitting icons/remake_.png");
			background-repeat: no-repeat;
			background-color: #f20005;
			background-size: 52px;
			background-position: center;
			background-position-y: 12px;
		}

		#measurmentsBtn {
			display: inline-block;
			position: relative;
			margin-top: -94px;
			color: white;
			height: 90px;
			width: 115px;
			border-radius: 20px;
			margin-right: 14px;
			background-image: url("../img/fitting icons/measurements_.png");
			background-repeat: no-repeat;
			background-color: #F29100;
			background-size: 52px;
			background-position: center;
			background-position-y: 12px;
		}
#errorBtn {
    display: inline-block;
    position: relative;
    margin-top: -94px;
    color: white;
    height: 90px;
    width: 104px;
    border-radius: 20px;
    margin-right: 14px;
    background-image: url("../img/fitting icons/errorbtn.png");
    background-repeat: no-repeat;
    background-color: #FFA500;
    background-size: 52px;
    background-position: center;
    background-position-y: 12px;
}

.NoImage {
			color: #e20613;
			size: 30px;
		}

		.Fitting_text_btn {
			margin-left: 70px;
			margin-top: -12px;
			margin-bottom: 6px;
			padding: 0px;
			text-align: left;
			font-size: 27px;
		}

		h1.FittingGarment {
			font-weight: bold;
		}

		span .garmentInfo {
			font-weight: bolder;
			font-size: 21px;
		}

		.loadvideos_fitting {
			background-color: #94c01f;
			text-indent: 10px;
		}

		#tagPopUp {
			width: 100%;
			height: 100%;
			position: fixed;
			background: white;
			z-index: 2;
		}

		img.imagePopUp {
			left: 2%;
			width: 300px;
			height: 400px;
			overflow: hidden;
			top: 22%;
			z-index: 0;
			position: relative;
		}

		.img-wrap.img-wrap-popup {
			top: 21%;
			left: 3%;
		}

		.fitting-info-pop-up {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 680px;
			background-color: white;
			z-index: 1000;
			padding: 10px;
			padding-bottom: none;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
			overflow-y: scroll;
		}

		.addNoteBtn {
			width: 50% !important;
			background-color: #868686 !important;
			color: white !important;
		}


		#measurements-history-pop-up {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 680px;
			background-color: white;
			z-index: 1001;
			padding: 10px;
			padding-bottom: none;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
			overflow-y: scroll;
		}

		.update-meas-btn {
			position: relative;
			top: 45px;
			background: rgb(161, 190, 55);
			color: white;
			padding: 10px;
			border: none;
			border-radius: 5px;
			font-weight: 700;
		}

		.meas-customer-info-wrapper {
			margin-bottom: 20px;
		}

		.meas-customer-info-wrapper .info-wrapper {
			display: inline-block;
			margin-right: 50px;
		}

		.meas-customer-info-wrapper .info-wrapper p {
			margin: 0;
		}


/* assign Tailor */
.garmentType {
	color: #3C3C3B;
	width: 150px;
	font-size: 148%;
	margin: 0;
	font-weight: bold;
}

.fitting-divider{
	border-top: 4px solid gray;
	margin-bottom: 40px;
	position: relative;
	left: 0%;
	width: 105% !important;
}

.noteForTailor {
	text-align: center;
	left: 2%;
	position: relative;
}

/* image note */
.image-note {
	left: 0;
	top: -102px;
	overflow: hidden;
	/*! width: 100%; */
	border-radius: 24px;
}


/* Image icons */
.fitting-icon-Pants, .fitting-icon-Pant\/S{
	width: 45%;
	position: relative;
	left: auto;
	right: auto;
	background-color: #E9E9EA;
	border-radius: 8px;
	
}
.fitting-icon-Shirt{
	width: 45%;
	position: relative;
	left: auto;
	right: auto;
	background-color: #E9E9EA;
	border-radius: 8px;
	
}
.fitting-icon-Jacket, .fitting-icon-Jacket\/S{
	width: 45%;
	position: relative;
	left: auto;
	right: auto;
	background-color: #E9E9EA;
	border-radius: 8px;
	
}
.fitting-icon-Vest{
	width: 45%;
	position: relative;
	left: auto;
	right: auto;
	background-color: #E9E9EA;
	border-radius: 8px;
	
}
.fitting-icon-Suit{
	width: 45%;
	position: relative;
	left: auto;
	right: auto;
	background-color: #E9E9EA;
	border-radius: 8px;
	
}

.add-comments-video-btn {
	display: inline-block;
	background: green;
	color: white !important;
	padding: 8px;
	border-radius: 5px;
	width: 30%;
	position: relative;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}
.meas-source {
	float: right;
	padding: 0px;
	text-align: center;
	vertical-align: baseline;
	font-size: 27px;
	font-weight: 900;
	margin-left: 7px;
	min-width: 22px; /* keeps the ui looking good on POS device */
}

.meas-date {
	float:left;
	font-size:10px;
	top: 6px;
	position: relative;
}

#cloneBtn {
	position: absolute;
	top: -100pc;
	right: 4%;
	height: 90px;
	width: 237px;
	border-radius: 20px;
	/*! background-repeat: no-repeat; */
	/*! background-size: 52px; */
	/*! background-position: center; */
	/*! background-position: 12px; */
	display: flex;
}

#cloneBtn img {
	width: 49px;
	position: relative;
	margin: 7px 0px 0 0px;
	height: 49px;
}

#cloneBtn span{
  	left: 2%;
	word-wrap: normal;
	width: 162px;
  	position: relative;
  	display: block;
  	top: 15%;
}





