/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #120d0d /*{a-bar-shadow-color}*/;
	background: -moz-linear-gradient(top,  rgba(34,45,74,0.45) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,45,74,0.45)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(34,45,74,0.45) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(34,45,74,0.45) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(34,45,74,0.45) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(34,45,74,0.45) 0%,rgba(0,0,0,0.45) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40222d4a', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */


}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}



.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}



.ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #949494 /*{a-body-border}*/;
	color: #1d1b16 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #b8b8b8 /*{a-body-shadow-color}*/;
	background: #e8e8e8 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e8e8e8 /*{a-body-background-start}*/), to( #e8e8e8 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e8e8e8 /*{a-body-background-start}*/, #e8e8e8 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e8e8e8 /*{a-body-background-start}*/, #e8e8e8 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e8e8e8 /*{a-body-background-start}*/, #e8e8e8 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e8e8e8 /*{a-body-background-start}*/, #e8e8e8 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e8e8e8 /*{a-body-background-start}*/, #e8e8e8 /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #1d1b16 /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #1d1b16 /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #1d1b16 /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #1d1b16 /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #1d1b16 /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #cccccc /*{a-bup-border}*/;
	background: #eeeeee /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eeeeee /*{a-bup-background-start}*/), to( #eeeeee /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #2f3e46 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #bbbbbb /*{a-bhover-border}*/;
	background: #dfdfdf /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{a-bhover-background-start}*/), to( #e0e0e0 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #2f3e46 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #bbbbbb /*{a-bdown-border}*/;
	background: #d6d6d6 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #ffffff /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{a-bdown-background-start}*/), to( #dfdfdf /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #2f3e46 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	   font-family: arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #5e5340 /*{b-bar-border}*/;
	background: #d1ae6c /*{b-bar-background-color}*/;
	color: #3e3e3e /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #c8c2b7 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d2ae6d /*{b-bar-background-start}*/), to( #9d804d /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d2ae6d /*{b-bar-background-start}*/, #9d804d /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d2ae6d /*{b-bar-background-start}*/, #9d804d /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d2ae6d /*{b-bar-background-start}*/, #9d804d /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d2ae6d /*{b-bar-background-start}*/, #9d804d /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d2ae6d /*{b-bar-background-start}*/, #9d804d /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
	color: #3e3e3e /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489ce /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
	color: #2489ce /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
	color: #2489ce /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #aaaaaa /*{b-body-border}*/;
	color: #f1efef /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #252222 /*{b-body-shadow-color}*/;
	background: #4f4f4f /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4f4f4f /*{b-body-background-start}*/), to( #4f4f4f /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4f4f4f /*{b-body-background-start}*/, #4f4f4f /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4f4f4f /*{b-body-background-start}*/, #4f4f4f /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4f4f4f /*{b-body-background-start}*/, #4f4f4f /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4f4f4f /*{b-body-background-start}*/, #4f4f4f /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4f4f4f /*{b-body-background-start}*/, #4f4f4f /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #f1efef /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #e1bb74 /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #e1bb74 /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
	color: #e4aa3f /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #e1bb74 /*{b-body-link-active}*/;
}

.ui-btn-up-b {
	border: 1px solid #cccccc /*{b-bup-border}*/;
	background: #eeeeee /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #ffffff /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{b-bup-background-start}*/), to( #f1f1f1 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #bbbbbb /*{b-bhover-border}*/;
	background: #dfdfdf /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #ffffff /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{b-bhover-background-start}*/), to( #e0e0e0 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #bbbbbb /*{b-bdown-border}*/;
	background: #d6d6d6 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #ffffff /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{b-bdown-background-start}*/), to( #dfdfdf /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	   font-family: arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #878787 /*{c-bar-border}*/;
	color: #5c5c5c /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #c7c7c7 /*{c-bar-shadow-color}*/;
}
.ui-bar-c .ui-link-inherit {
	color: #5c5c5c /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489ce /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
	color: #2489ce /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
	color: #2489ce /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #885f30 /*{c-body-border}*/;
	color: #f0f0f0 /*{c-body-color}*/;
	text-shadow:none;
}
.ui-overlay-c {
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
	color: #f0f0f0 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #f0f0f0 /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #f0f0f0 /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
	color: #f0f0f0 /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #f0f0f0 /*{c-body-link-active}*/;
}

.ui-btn-up-c {
	border: 1px solid #b6965d /*{c-bup-border}*/;
	background: #d2ae6d /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #d9d9d9 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #847252 /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ae8232 /*{c-bup-background-start}*/), to( #d2ae6d /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ae8232 /*{c-bup-background-start}*/, #d2ae6d /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ae8232 /*{c-bup-background-start}*/, #d2ae6d /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ae8232 /*{c-bup-background-start}*/, #d2ae6d /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ae8232 /*{c-bup-background-start}*/, #d2ae6d /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ae8232 /*{c-bup-background-start}*/, #d2ae6d /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #d9d9d9 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
	border: 1px solid #b6965d /*{c-bhover-border}*/;
	background: #dfdfdf /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #3a3b3b /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #918878 /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ae8232 /*{c-bhover-background-start}*/), to( #d2ae6d /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ae8232 /*{c-bhover-background-start}*/, #d2ae6d /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ae8232 /*{c-bhover-background-start}*/, #d2ae6d /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ae8232 /*{c-bhover-background-start}*/, #d2ae6d /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ae8232 /*{c-bhover-background-start}*/, #d2ae6d /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ae8232 /*{c-bhover-background-start}*/, #d2ae6d /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #3a3b3b /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #b6965d /*{c-bdown-border}*/;
	background: #d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #3a3b3b /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #918878 /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ae8232 /*{c-bdown-background-start}*/), to( #d2ae6d /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ae8232 /*{c-bdown-background-start}*/, #d2ae6d /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ae8232 /*{c-bdown-background-start}*/, #d2ae6d /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ae8232 /*{c-bdown-background-start}*/, #d2ae6d /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ae8232 /*{c-bdown-background-start}*/, #d2ae6d /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ae8232 /*{c-bdown-background-start}*/, #d2ae6d /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #3a3b3b /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	   font-family: arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
	border: 1px solid #5e5340 /*{d-bar-border}*/;
	background: #d9d9d9 /*{d-bar-background-color}*/;
	color: #3e3e3e /*{d-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #c8c2b7 /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d2ae6d /*{d-bar-background-start}*/), to( #9d804d /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d2ae6d /*{d-bar-background-start}*/, #9d804d /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d2ae6d /*{d-bar-background-start}*/, #9d804d /*{d-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d2ae6d /*{d-bar-background-start}*/, #9d804d /*{d-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d2ae6d /*{d-bar-background-start}*/, #9d804d /*{d-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d2ae6d /*{d-bar-background-start}*/, #9d804d /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
	color: #3e3e3e /*{d-bar-color}*/;
}

.ui-bar-d a.ui-link {
	color: #7cc4e7 /*{d-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-d a.ui-link:visited {
    color: #2489ce /*{d-bar-link-visited}*/;
}

.ui-bar-d a.ui-link:hover {
	color: #2489ce /*{d-bar-link-hover}*/;
}

.ui-bar-d a.ui-link:active {
	color: #2489ce /*{d-bar-link-active}*/;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
	border: 1px solid #949494 /*{d-body-border}*/;
	color: #1d1b16 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #b8b8b8 /*{d-body-shadow-color}*/;
	background: #e8e8e8 /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e8e8e8 /*{d-body-background-start}*/), to( #e8e8e8 /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e8e8e8 /*{d-body-background-start}*/, #e8e8e8 /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e8e8e8 /*{d-body-background-start}*/, #e8e8e8 /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e8e8e8 /*{d-body-background-start}*/, #e8e8e8 /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e8e8e8 /*{d-body-background-start}*/, #e8e8e8 /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e8e8e8 /*{d-body-background-start}*/, #e8e8e8 /*{d-body-background-end}*/);
}
.ui-overlay-d {
	background-image: none;
	border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
	color: #1d1b16 /*{d-body-color}*/;
}

.ui-body-d .ui-link {
	color: #1d1b16 /*{d-body-link-color}*/;
	font-weight: bold;
}

.ui-body-d .ui-link:visited {
    color: #1d1b16 /*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
	color: #1d1b16 /*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
	color: #1d1b16 /*{d-body-link-active}*/;
}

.ui-btn-up-d {
    background: #d7b56d none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px !important;
    color: #444;
    font-weight: normal;
    text-shadow: none;
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
	color: #d9d9d9 /*{d-bup-color}*/;
}
.ui-btn-hover-d {
    border: medium none;
    border-radius: 2px !important;
	background: #0581c1 /*{d-bhover-background-color}*/;
	font-weight: normal;
	color: #d9d9d9 /*{d-bhover-color}*/;
	text-shadow: none;
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
	color: #d9d9d9 /*{d-bhover-color}*/;
}
.ui-btn-down-d {
    background: #d7b56d none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px !important;
    color: #444;
    font-weight: normal;
    text-shadow: none;
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
	color: #d9d9d9 /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	   font-family: arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #757575 /*{global-active-border}*/;
	background: #9e998f /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #a1a1a1 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #a6a6a6 /*{global-active-background-start}*/), to( #3d3d3d /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #a6a6a6 /*{global-active-background-start}*/, #3d3d3d /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #a6a6a6 /*{global-active-background-start}*/, #3d3d3d /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #a6a6a6 /*{global-active-background-start}*/, #3d3d3d /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #a6a6a6 /*{global-active-background-start}*/, #3d3d3d /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #a6a6a6 /*{global-active-background-start}*/, #3d3d3d /*{global-active-background-end}*/);
	   font-family: arial,sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.9em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.9em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.9em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.9em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.9em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.9em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.9em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.9em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.9em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.9em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.9em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.9em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.29em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.29em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.29em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.29em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.29em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.29em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.29em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.29em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.29em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.29em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.29em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.29em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.29em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.29em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.29em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.29em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.29em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0 /*{global-radii-blocks}*/;
	-webkit-border-radius: 0 /*{global-radii-blocks}*/;
	border-radius: 0 /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .8;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #aa7208 /*{global-icon-color}*/;
	background: transparent /*{global-icon-disc}*/;
	background-image: url(images/icons-18-black.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #9e998f /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 0 /*{global-radii-buttons}*/;
	-webkit-border-radius: 0 /*{global-radii-buttons}*/;
	border-radius: 0 /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(255,255,255,0) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(255,255,255,0) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(255,255,255,0) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #9e998f /*{global-active-background-color}*/, 0px 0px 9px #9e998f /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #9e998f /*{global-active-background-color}*/, 0px 0px 9px #9e998f /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #9e998f /*{global-active-background-color}*/, 0px 0px 9px #9e998f /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #9e998f /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #9e998f /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #9e998f /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}
