#imagesDialog {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: block;
}