
<div class="design-cat-wrapper" data-bind="foreach: { data: $data.categories, as: 'category' }">
	

	<div class="design-cat-el" data-bind="css : { 'design-cat-selected' : category.selected() }">

		<!-- Fabric
				
			███████╗ █████╗ ██████╗ ██████╗ ██╗ ██████╗
			██╔════╝██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
			█████╗  ███████║██████╔╝██████╔╝██║██║     
			██╔══╝  ██╔══██║██╔══██╗██╔══██╗██║██║     
			██║     ██║  ██║██████╔╝██║  ██║██║╚██████╗
			╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝
													
		-->
		<div data-bind="if: 0 && $data.id == '12' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Fabric-->
				<div data-bind="if: option.id == '54'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="text" data-bind="value: option.selectedValue">

				</div>

				<!-- notes -->
				<div data-bind="if: option.id == '55'">

					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>

			</div>

		</div>

		<!-- Fit
							
			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║   
			██╔══╝  ██║   ██║   
			██║     ██║   ██║   
			╚═╝     ╚═╝   ╚═╝   
								
						-->
		<div data-bind="if: $data.id == '13' ">

			<h2 data-bind="text: $data.name"></h2>

			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- fit-->
				<div data-bind="if: option.id == '56'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<div class="option-wrapper1 option-wrapper-w" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="fitOption grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); },
																																			css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Pant Style
			
			██████╗  █████╗ ███╗   ██╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██╔══██╗████╗  ██║╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝███████║██╔██╗ ██║   ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██╔══██║██║╚██╗██║   ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ██║  ██║██║ ╚████║   ██║       ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                 
		-->

		<div data-bind="if: category.id == '14' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- pant Style -->
				<div data-bind="if: option.id == '57'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																																css: { 'selected-val' : value.selected(), 'clicked' : value.clicked()}">

							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">

							<!-- selection box !! -->
							<!--- ko if: value.clicked -->
							<div class='selection-box' data-bind="if: value.clicked">
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}"> </label>
										</td>

									</tr>
								</table>
							</div>
							<!--- /ko -->
					</div>
				</div>
				</div>


				<!-- Notes for pant Style -->
				<div data-bind="if: option.id == '58'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>


		<!-- Pleats Style
		
			██████╗ ██╗     ███████╗ █████╗ ████████╗███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
			██╔══██╗██║     ██╔════╝██╔══██╗╚══██╔══╝██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
			██████╔╝██║     █████╗  ███████║   ██║   ███████╗    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
			██╔═══╝ ██║     ██╔══╝  ██╔══██║   ██║   ╚════██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
			██║     ███████╗███████╗██║  ██║   ██║   ███████║    ███████║   ██║      ██║   ███████╗███████╗
			╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
			                                                                                               
		-->

		<div data-bind="if: category.id == '15' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Pleats Style -->
				<div data-bind="if: option.id == '59'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;"
							data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
									<table class="valueTable">
										<tr>
											<th class="left">garment</th>
											<th class="right">select</th>
										</tr>
										<tr>
											<td class="left">#1</td>
											<td class="right">
												<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
												<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
												</label>
											</td>

										</tr>
									</table>
								<!-- /ko -->
								</div>
						</div>
					</div>
				</div>


				<!-- Notes for Pleats Style -->
				<div data-bind="if: option.id == '60'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>



			</div>
		</div>

		<!-- Front pockets 		
			
			███████╗██████╗  ██████╗ ███╗   ██╗████████╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			█████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║       ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║       ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║       ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                                          
		-->

		<div data-bind="if: category.id == '16' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Front pockets -->
				<div data-bind="if: option.id == '61'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
									<table class="valueTable">
										<tr>
											<th class="left">garment</th>
											<th class="right">select</th>
										</tr>
										<tr>
											<td class="left">#1</td>
											<td class="right">
												<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
												<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
												</label>
											</td>
								
										</tr>
									</table>
								<!-- /ko -->
								</div>
						</div>
					</div>
				</div>


				<!-- Notes for Front pockets -->
				<div data-bind="if: option.id == '62'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- Back Pockets
			
			██████╗  █████╗  ██████╗██╗  ██╗    ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
			██╔══██╗██╔══██╗██╔════╝██║ ██╔╝    ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
			██████╔╝███████║██║     █████╔╝     ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
			██╔══██╗██╔══██║██║     ██╔═██╗     ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
			██████╔╝██║  ██║╚██████╗██║  ██╗    ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
			╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
			                                                                                              
		-->

		<div data-bind="if: category.id == '17' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Front pockets -->
				<div data-bind="if: option.id == '63'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4 pant-back-pocket-value" style="min-height: 256px;" data-bind="css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); }, attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<!-- ko if: value.id != '1272' -->
										<th class="right" style="right: 4px;position: relative; margin-left: 5px;">position</th>
										<!-- /ko -->
										<th class="right" style="padding-right: 2px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- back pockets position -->
										<!-- ko if: value.id != '1272' -->
										<td class="right">
											<select  class="mikrosss" style="margin-right: 6px;margin-left: 7px;" data-bind=
												"options: category.options.filter(function(el) {return el.id=='65'})[0].values,
												optionsText: 'name',
												value: category.options.filter(function(el) {return el.id=='65'})[0].selectedValue">
											</select>
										</td>
										<!-- /ko -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>
							
									</tr>
								</table>
								<!-- /ko -->
							</div>
					</div>
				</div>
				</div>

				<!-- Back pockets position: no more in here. Do it inside the stye selector  -->
				<!-- <div data-bind="if: option.id == '65'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); },
																										css: { 'selected-val' : value.selected() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
						</div>
					</div>
				</div> -->

				<!-- Notes for Front pockets -->
				<div data-bind="if: option.id == '64'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- Belt & Cuffs

			██████╗ ███████╗██╗  ████████╗       ██╗        ██████╗██╗   ██╗███████╗███████╗███████╗
			██╔══██╗██╔════╝██║  ╚══██╔══╝       ██║       ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
			██████╔╝█████╗  ██║     ██║       ████████╗    ██║     ██║   ██║█████╗  █████╗  ███████╗
			██╔══██╗██╔══╝  ██║     ██║       ██╔═██╔═╝    ██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
			██████╔╝███████╗███████╗██║       ██████║      ╚██████╗╚██████╔╝██║     ██║     ███████║
			╚═════╝ ╚══════╝╚══════╝╚═╝       ╚═════╝       ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝
			                                                                                        
		-->

		<div data-bind="if: category.id == '18' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Belt Loop -->
				<div data-bind="if: option.id == '66'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<div class="option-wrapper1" data-bind="foreach: { data: option.values, as: 'value' }">
						<div class="option-value1 grid_4" style="min-height: 311px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked(option, value); },
																										css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
							<span class="new_main_option_title" data-bind="text:value.name"></span>
							<img data-bind="attr:{src: value.image}" class="example">
							<!-- selection box !! -->
							<div class='selection-box'>
								<!-- ko if: value.clicked -->
								<table class="valueTable">
									<tr>
										<th class="left">garment</th>
										<th class="right">cuffs</th>
										<th class="right" style="padding-right: 6px;">braces</th>
										<th class="right" style="padding-right: 4px;">select</th>
									</tr>
									<tr>
										<td class="left">#1</td>
										<!-- belt checkbox -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="beltCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='68'})[0].selectedValue">
											<label for="beltCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='68'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='68'})[0].selectedValue())}"></label>
										</td>
										<!-- braces checkbox -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox"" name="" id="bracesCheckbox" data-bind="checked: category.options.filter(function(el) {return el.id=='69'})[0].selectedValue">
											<label for="bracesCheckbox" data-bind="click: function(){category.options.filter(function(el) {return el.id=='69'})[0].selectedValue(!category.options.filter(function(el) {return el.id=='69'})[0].selectedValue())}"></label>
										</td>
										<!-- select style -->
										<td class="right">
											<input type="checkbox" class="labeled-checkbox" data-bind="checked: value.selected(), attr:{id: value.name+'checkbox'}">
											<label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue(option, value); }, attr:{for: value.name+'checkbox'}">
											</label>
										</td>
									</tr>
								</table>
								<!-- /ko -->
							</div>
						</div>
					</div>
				</div>

				<!-- Belt Cufs no more in here. Do it in style selector-->
				<!-- <div data-bind="if: option.id == '68'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="checkbox" class="labeledCheckbox" name="" id="beltCheckbox" data-bind="checked: option.selectedValue">
					<label for="beltCheckbox"></label>
				</div> -->

				<!-- Braces no more in here. Do it in style selector-->
				<!-- <div data-bind="if: option.id == '69'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<input type="checkbox" class="labeledCheckbox" name="" id="bracesCheckbox" data-bind="checked: option.selectedValue">
					<label for="bracesCheckbox"></label>
				</div> -->

				<!-- Notes for belt & cuffs -->
				<div data-bind="if: option.id == '67'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>

					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>
				</div>

			</div>
		</div>

		<!-- General Notes
			
			 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
			██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
			██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
			██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
			╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
			 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
			                                                                                                           
			
		-->
		<div data-bind="if: category.id == '19' ">

			<h2 data-bind="text: $data.name"></h2>
			<div data-bind="foreach: { data: category.options, as: 'option' } ">

				<!-- Style -->
				<div data-bind="if: option.id == '70'">
					<strong>
						<p data-bind="text: option.name"></p>
					</strong>
					<textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: option.selectedValue"></textarea>

				</div>


			</div>
		</div>






		<!-- Custom Data
		
			 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ██████╗  █████╗ ████████╗ █████╗ 
			██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗
			██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ██║  ██║███████║   ██║   ███████║
			██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██║  ██║██╔══██║   ██║   ██╔══██║
			╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██████╔╝██║  ██║   ██║   ██║  ██║
			 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
		-->
		<div data-bind="if: category.id == '65'">
			<!-- ko if: $root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0 -->
			<br style="clear: both">
			<h2 data-bind="text: $data.name"></h2>
			
			<div data-bind="foreach: { data: category.options, as: 'option' } ">
				
				<div class="row">
					<div class="col-md-3">
						<strong>
							<p data-bind="text: option.name"></p>
						</strong>
					</div>
					
					<div class="col-md-3">
						<button class="custom-img-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.takeOptionCustomImage(option); }">Take Custom Image</button>
						<button class="clear-custom-img-btn" data-bind="visible: option.selectedValue(),
						click: function() { $root.selectedCustomer().garmentsDesignStep.clearCustomOptionImage(option); }">Clear Image</button>
					</div>
					
					<div class="col-md-6" data-bind="visible: option.selectedValue()">
						
						<img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">
						
					</div>
					
					
				</div>
				
			</div>
			<!-- /ko -->

			<!-- ko if: !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0 -->
			<h2>no custom data</h2>
			<!-- /ko -->


		</div>

		


		
		


		<!-- Show selected category -->
		<!-- <pre style="border: solid 6px;margin-top: 18%;" data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

	</div>

</div>
<div data-bind="if: $root.selectedCustomer().garmentsDesignStep.selectedCategory() && $root.selectedCustomer().garmentsDesignStep.selectedCategory().name.toLowerCase() != 'fabric'">


	<div id="image-3d" data-bind="with: orders.selectedCustomer().garmentsDesignStep.selectedGarment">
		<!-- front preview -->
		<div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp()}">

			<!-- default image:  -->
			<img src="http://shirt-tailor.net/thepos/appimg/pant/pant_bg.png">

			<!-- fit -->
			<img data-bind="attr:{src: $data.image3D.selectedPantStyle}">

			<!-- selected Pleats -->
			<img data-bind="attr:{src: $data.image3D.selectedPantPleatStyle}">

			<!-- selected front Pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedPantFrontPockets}">

			<!-- selected belt and cuffs -->
			<img data-bind="attr:{src: $data.image3D.selectedPantBeltAndCuffs}">


		</div>


		<!-- back preview -->
		<div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp()}">
			<!-- base -->
			<img src="gfx/order/image_3d/pant/back_bg.png">

			<!-- selected back pockets -->
			<img data-bind="attr:{src: $data.image3D.selectedPantBackPockets}">

		</div>

		<!-- change the view -->
		<div class="change-side">
			<span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front side</span>
			<span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back side</span>
		</div>
	</div>
</div>