<!-- 3d -->
<div data-bind="visible: $root.currentDesigingGarmentType().garmentType == 'shirt'"> 

    <!-- Tabs -->
    <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">

        <div data-bind="attr : { class : 'tabs-tab tabs-tab-Shirt3D-' + shirt.garment.unique_id + ' tab-3d' }, 
                        click: function() {
                                $root.currentGarmentInstance(shirt);
                            },
                        css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id }">
            <span data-bind="text: '#' + ($index()+1) + ' ' + shirt.customer.full_name"></span>
        </div>

    </div>


    <!-- content -->
    <div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">

        <div data-bind="attr : { class : 'tabs-content-Shirt3D tabs-content-Shirt3D-' + shirt.garment.unique_id },
                        visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id 
						&&
						($root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase().trim() != 'fabric')">
            <div id="image-3d" data-bind="attr: {name: 'image-3d-'+shirt.garment.unique_id}, with: shirt.garment">
                <!-- front preview -->
                <div data-bind="visible: $data.image3D.side() == 'front', click: function(){$data.image3D.togglePopUp('image-3d-'+shirt.garment.unique_id)}">
            
                    <!-- default image:  -->
                    <img src="gfx/order/image_3d/shirt/main_bg.png">
                    <img src="gfx/order/image_3d/shirt/collar/collar.png" alt="">
                    <img src="gfx/order/image_3d/shirt/collar/collar_bg.png" alt="">
            
                    <!-- Bottom -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtBottom}">
            
                    <!-- Front -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtFront}">
            
                    <!-- Seams -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtSeams}">
            
                    <!-- Sleeves -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtSleeve}">
                    <img data-bind="attr:{src: $data.image3D.selectedShirtEpaulette}">
            
                    <!-- Shirt Collar -->
                    <img data-bind="attr:{src: $data.image3D.shirtStandCollarContrast_bg}">
                    <img data-bind="attr:{src: $data.image3D.shirtInsideCollarContrast_bg}">
                    <img data-bind="attr:{src: $data.image3D.selectedShirtCollar}">
            
                    <!-- Pockets -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtPocketsLeft}">
                    <img data-bind="attr:{src: $data.image3D.selectedShirtPocketsRight}">
            
                    <!-- Contrasts  -->
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastBackOfCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsidePlacket}">
            
            
                    <img data-bind="attr: {src: $data.image3D.selectedShirtButtomCollor}">
            
                    <!-- monogram -->
                    <span class="chestname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1480'   , text: $data.image3D.shirtMonogram"></span>
                    <span class="collarnamein" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1481'   , text: $data.image3D.shirtMonogram"></span>
                    <span class="cuffname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1483'   , text: $data.image3D.shirtMonogram"></span>
                    <span class="cuffnameleftshort" data-bind="visible: $data.image3D.shirtMonogramPositionID() == 'shirt_short_cuff'   , text: $data.image3D.shirtMonogram"></span>
            
                </div>
            
            
                <!-- back preview -->
                <div data-bind="visible: $data.image3D.side() == 'back', click: function(){$data.image3D.togglePopUp('image-3d-'+shirt.garment.unique_id)}">
                    <!-- back default -->
                    <img src="gfx/order/image_3d/shirt/back/bg.png">
            
                    <!-- back style -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtBack}">
                    <img data-bind="attr: {src: $data.image3D.shirtBackCollar}">
                    <img data-bind="attr: {src: $data.image3D.shirtBackCuff}">
                    <img data-bind="attr: {src: $data.image3D.shirtDarts}">
            
                    <!-- monogram -->
                    <span class="collarname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1482'   , text: $data.image3D.shirtMonogram"></span>
            
                </div>
            
            
                <!-- constrast preview -->
                <div data-bind="visible: $data.image3D.side() == 'contrast', click: function(){$data.image3D.togglePopUp('image-3d-'+shirt.garment.unique_id)}">
                    <!-- default image:  -->
                    <img src="gfx/order/image_3d/shirt/main_bg.png">
            
                    <!-- Bottom -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtBottom}">
            
                    <!-- Front -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtFront}">
            
                    <!-- Seams -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtSeams}">
            
                    <!-- Sleeves -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtSleeve}">
                    <img data-bind="attr:{src: $data.image3D.selectedShirtEpaulette}">
            
                    <!-- Shirt Collar -->
                    <img src="gfx/order/image_3d/shirt/contrast_bg.png">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCollar}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCollar}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastCollarStand}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsideCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsideCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastBackOfCuff}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastInsidePlacket}">
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastOutsidePlacket}">
            
                    <!-- buttons -->
                    <img data-bind="attr: {src: $data.image3D.selectedShirtContrastButtomCollor}">
            
                    <!-- Pockets -->
                    <img data-bind="attr:{src: $data.image3D.selectedShirtPocketsLeft}">
                    <img data-bind="attr:{src: $data.image3D.selectedShirtPocketsRight}">
            
                    <!-- monogram -->
                    <span class="chestname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1480'   , text: $data.image3D.shirtMonogram"></span>
                    <span class="collarnamein" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1481'   , text: $data.image3D.shirtMonogram"></span>
                    <span class="cuffname" data-bind="visible: $data.image3D.shirtMonogramPositionID() == '1483'   , text: $data.image3D.shirtMonogram"></span>
            
                </div>
            
            
            
            
                <!-- change the view -->
                <div class="change-side">
                    <span data-bind="css: {'selected': $data.image3D.side() == 'front'},click: function(){ $data.image3D.side('front')}">Front
                        side
                    </span>
                    <span data-bind="css: {'selected': $data.image3D.side() == 'back'},click: function(){ $data.image3D.side('back')}">Back
                        side
                    </span>
                    <span data-bind="css: {'selected': $data.image3D.side() == 'contrast'},click: function(){ $data.image3D.side('contrast')}">Contrast</span>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="design-cat-wrapper" data-bind="with: $root.globalDesignCategories.shirt">

    <!-- Fit
							
			███████╗██╗████████╗
			██╔════╝██║╚══██╔══╝
			█████╗  ██║   ██║   
			██╔══╝  ██║   ██║   
			██║     ██║   ██║   
			╚═╝     ╚═╝   ╚═╝   
								
						-->
    <div data-bind="if: $data[30] && $root.currentDesignStep().id ==  '30'">
        <div data-bind="with: $data[30]">

            <h2 data-bind="text: $data.name"></h2>

            <!-- fit-->
            <div data-bind="with: $data.options_map[88]">

                <div class="option-wrapper1  option-wrapper-w" data-bind="foreach: { data: $data.values, as: 'value' }">

                    <div class="fitOption grid_4">

                        <div class="fitOptionTitle">
                            <span class="new_main_option_title" data-bind="text:value.name"></span>
                        </div>

                        <div class='selection-box'>

                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">

                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                    </tr>
                                </thead>


                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">

                                    <tr>
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <td class="right" data-bind="with: shirt.garment.categories_map[30].options_map[88]">

                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>

                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>





                </div>

            </div>


        </div>
    </div>
    
    <!-- Sleeves
                
    ███████╗██╗     ███████╗███████╗██╗   ██╗███████╗███████╗
    ██╔════╝██║     ██╔════╝██╔════╝██║   ██║██╔════╝██╔════╝
    ███████╗██║     █████╗  █████╗  ██║   ██║█████╗  ███████╗
    ╚════██║██║     ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ╚════██║
    ███████║███████╗███████╗███████╗ ╚████╔╝ ███████╗███████║
    ╚══════╝╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
                                                                
                        -->
    <div data-bind="if: $data[31] && $root.currentDesignStep().id ==  '31'">
        
        <div data-bind="with: $data[31]">
    
            <h2 data-bind="text: $data.name"></h2>
    
    
            <div data-bind="with: $data.options_map[89]">
    
    
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
    
    
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
    
    
                    <div class="option-value1 grid_4" style="min-height: 367px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
    
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
    
                        <div class='selection-box' data-bind="">
    
    
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
    
                                <thead>
                                    <tr>
                                        <th class="left">gar.</th>
                                        <!-- ko if: value.id == '1316' -->
                                        <th class="right" style="">Short<br>Cuffs</th>
                                        <!-- /ko -->
                                        <th class="right">Epaulette</th>
                                        <th class="right">Notes</th>
                                        <th class="right" style="margin-left: 3px;margin-right: 14px;">sel.</th>
                                    </tr>
                                </thead>
    
    
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
    
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[31].options_map[89].selectedValue() && shirt.garment.categories_map[31].options_map[89].selectedValue().id == value.id ),
                                                                    css : { 'opaque-row' : shirt.garment.categories_map[31].options_map[89].selectedValue() && shirt.garment.categories_map[31].options_map[89].selectedValue().id != value.id }">
    
                                        <!-- garment -->
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <!-- ko if: value.id == '1316' -->
                                        <!-- cuffs -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[31].options_map[250]">
                                            <input type="checkbox" class="labeled-checkbox"" name="" id=" shortCuffCheckbox" data-bind="checked: $data.selectedValue">
                                            <label for="shortCuffCheckbox" data-bind="click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}"></label>
                                        </td>
                                        <!-- /ko -->
                                        <!-- Epaulette -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[31].options_map[91]">
                                            <input type="checkbox" class="labeled-checkbox"" name="" id=" epauletteCheckbox" data-bind="checked: $data.selectedValue">
                                            <label for="epauletteCheckbox" data-bind="click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}"></label>
                                        </td>

                                        <!-- notes -->
                                        <td class="right">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-lapel-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
                                        <!-- select -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[31].options_map[89]">
    
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() {
                                                                                                        // select style
                                                                                                            $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt);

                                                                                                            // if selected option is Rolled or short, set cuff as false
                                                                                                            if (['1315','1316'].includes(value.id)){
                                                                                                                let cuff_style = shirt.garment.categories_map[32].options_map[92];
                                                                                                                $root.selectedCustomer().garmentsDesignStep.setOptionValue(cuff_style, false, garment = shirt);
                                                                                                            }
                                                                                                        },
                                                                                                attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
    
                                    </tr>
    
    
                                </tbody>
    
    
                            </table>
    
    
    
                        </div>
    
    
    
                    </div>
                </div>
    
            </div>
    
            <div data-bind="with: $data.options_map[90]">
    
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
                    <div data-bind="with: shirt.garment.categories_map[31].options_map[90]">
    
                        <div data-bind="attr: { id : 'notes-lapel-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
    
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-lapel-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>

    </div>
    
    <!-- Cuffs
                
        ██████╗██╗   ██╗███████╗███████╗███████╗
       ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝
       ██║     ██║   ██║█████╗  █████╗  ███████╗
       ██║     ██║   ██║██╔══╝  ██╔══╝  ╚════██║
       ╚██████╗╚██████╔╝██║     ██║     ███████║
        ╚═════╝ ╚═════╝ ╚═╝     ╚═╝     ╚══════╝
                                                
                        -->
    <div data-bind="if: $data[32] && $root.currentDesignStep().id ==  '32'">
        <div data-bind="with: $data[32]">
        
            <h2 data-bind="text: $data.name"></h2>
        
        
            <div data-bind="with: $data.options_map[92]">
        
        
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
        
        
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
        
        
                    <div class="option-value1 grid_4" style="min-height: 243px; min-width: unset;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
        
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example" style="width: 181px;">
        
                        <div class='selection-box' data-bind="">
        
        
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
        
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
        
        
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
                                    <!-- if sleeve is rolled (id = 1315), hide French Angle (id = 1317), French Round (id = 1318), French Square (id = 1319) -->
                                    <!-- if sleeve is short (id = 1316), hide all cuffs -->
                                    <!-- always show custom (id == 4567) -->
                                    <!-- ko if: 
                                        shirt.garment.categories_map[31].options_map[89].selectedValue() && 
                                        !(
                                            (shirt.garment.categories_map[31].options_map[89].selectedValue().id == '1315' && ['1317', '1318', '1319'].includes(value.id)) ||
                                            (shirt.garment.categories_map[31].options_map[89].selectedValue().id == '1316')
                                        )
                                        || value.id == '4567'
                                    -->
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[32].options_map[92].selectedValue() && shirt.garment.categories_map[32].options_map[92].selectedValue().id == value.id ),
                                                                    css : { 'opaque-row' : shirt.garment.categories_map[32].options_map[92].selectedValue() && shirt.garment.categories_map[32].options_map[92].selectedValue().id != value.id }">
        
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <td class="right" data-bind="with: shirt.garment.categories_map[32].options_map[92]">
        
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
                                        <td>
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-lapel-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
        
                                    </tr>
                                    <!-- /ko -->
        
        
                                </tbody>
        
        
                            </table>
        
        
        
                        </div>
        
        
        
                    </div>
                </div>
        
            </div>
        
            <div data-bind="with: $data.options_map[93]">
        
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
                    <div data-bind="with: shirt.garment.categories_map[32].options_map[93]">
        
                        <div data-bind="attr: { id : 'notes-lapel-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
        
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-lapel-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>
    </div>

    <!-- Shirt Collar
                
    ███████╗██╗  ██╗██╗██████╗ ████████╗     ██████╗ ██████╗ ██╗     ██╗      █████╗ ██████╗ 
    ██╔════╝██║  ██║██║██╔══██╗╚══██╔══╝    ██╔════╝██╔═══██╗██║     ██║     ██╔══██╗██╔══██╗
    ███████╗███████║██║██████╔╝   ██║       ██║     ██║   ██║██║     ██║     ███████║██████╔╝
    ╚════██║██╔══██║██║██╔══██╗   ██║       ██║     ██║   ██║██║     ██║     ██╔══██║██╔══██╗
    ███████║██║  ██║██║██║  ██║   ██║       ╚██████╗╚██████╔╝███████╗███████╗██║  ██║██║  ██║
    ╚══════╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝   ╚═╝        ╚═════╝ ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
                                                                                                
                        -->
    <div data-bind="if: $data[33] && $root.currentDesignStep().id ==  '33'">
        <div data-bind="with: $data[33]">
        
            <h2 data-bind="text: $data.name"></h2>
        
        
            <div data-bind="with: $data.options_map[94]">
        
        
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
        
        
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
        
        
                    <div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
        
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
        
                        <div class='selection-box' data-bind="">
        
        
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
        
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
        
        
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
        
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[33].options_map[94].selectedValue() && shirt.garment.categories_map[33].options_map[94].selectedValue().id == value.id ),
                                                                    css : { 'opaque-row' : shirt.garment.categories_map[33].options_map[94].selectedValue() && shirt.garment.categories_map[33].options_map[94].selectedValue().id != value.id }">
        
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <td class="right" data-bind="with: shirt.garment.categories_map[33].options_map[94]">
        
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
                                        <td>
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-lapel-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
        
                                    </tr>
        
        
                                </tbody>
        
        
                            </table>
        
        
        
                        </div>
        
        
        
                    </div>
                </div>
        
            </div>
        
            <div data-bind="with: $data.options_map[95]">
        
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
                    <div data-bind="with: shirt.garment.categories_map[33].options_map[95]">
        
                        <div data-bind="attr: { id : 'notes-lapel-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
        
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-lapel-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>
    </div>
   
    <!-- Front
                
        ███████╗██████╗  ██████╗ ███╗   ██╗████████╗
        ██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝
        █████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║   
        ██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║   
        ██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║   
        ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   
                                                    
                        -->
    <div data-bind="if: $data[34] && $root.currentDesignStep().id ==  '34'">
        <div data-bind="with: $data[34]">
        
            <h2 data-bind="text: $data.name"></h2>
        
            <div data-bind="with: $data.options_map[96]">
        
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
        
        
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
        
        
                    <div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
        
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
        
        
                        <div class='selection-box' data-bind="">
        
        
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
        
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">seams</th>
                                        <th class="right">Notes</th>
                                        <th class="right">Select</th>
                                    </tr>
                                </thead>
        
        
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
        
        
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[34].options_map[96].selectedValue() && shirt.garment.categories_map[34].options_map[96].selectedValue().id == value.id ),
                                                                    css : { 'opaque-row' : shirt.garment.categories_map[34].options_map[96].selectedValue() && shirt.garment.categories_map[34].options_map[96].selectedValue().id != value.id }">
        
        
                                        <!-- garment -->
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <!-- seams -->
                                        <td  class="right" data-bind="with: shirt.garment.categories_map[34].options_map[98]">
                                            <input type="checkbox" class="labeled-checkbox" name="" id="frontStyleSeams" data-bind="checked: $data.selectedValue">
                                            <label for="frontStyleSeams" data-bind="click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}"></label>
                                        </td>
                                        <!-- notes -->
                                        <td class="right">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
                                        <!-- select -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[34].options_map[96]">
        
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
        
                                    </tr>
        
        
                                </tbody>
        
        
                            </table>
                            <!-- /ko -->
        
        
                        </div>
        
        
        
                    </div>
                </div>
        
        
            </div>
        
        
            <div data-bind="with: $data.options_map[97]">
        
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
                    <div data-bind="with: shirt.garment.categories_map[34].options_map[97]">
        
                        <div data-bind="attr: { id : 'notes-bottom-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
        
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>

    </div>
   
    <!-- Bottom Style
                
        ██████╗  ██████╗ ████████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗██╗   ██╗██╗     ███████╗
        ██╔══██╗██╔═══██╗╚══██╔══╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
        ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔████╔██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
        ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
        ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║      ██║   ███████╗███████╗
        ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
                                                                                                                
                        -->
    <div data-bind="if: $data[35] && $root.currentDesignStep().id ==  '35'">
        <div data-bind="with: $data[35]">
        
            <h2 data-bind="text: $data.name"></h2>
        
            <div data-bind="with: $data.options_map[99]">
        
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
        
        
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
        
        
                    <div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
        
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
        
        
                        <div class='selection-box' data-bind="">
        
        
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
        
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <th class="right">Select</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
        
        
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
        
        
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[35].options_map[99].selectedValue() && shirt.garment.categories_map[35].options_map[99].selectedValue().id == value.id ),
                                                                                    css : { 'opaque-row' : shirt.garment.categories_map[35].options_map[99].selectedValue() && shirt.garment.categories_map[35].options_map[99].selectedValue().id != value.id }">
        
        
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <td class="right" data-bind="with: shirt.garment.categories_map[35].options_map[99]">
        
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
                                        <td>
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
        
                                    </tr>
        
        
                                </tbody>
        
        
                            </table>
                            <!-- /ko -->
        
        
                        </div>
        
        
        
                    </div>
                </div>
        
        
            </div>
        
        
            <div data-bind="with: $data.options_map[100]">
        
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
                    <div data-bind="with: shirt.garment.categories_map[35].options_map[100]">
        
                        <div data-bind="attr: { id : 'notes-bottom-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
        
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>
    
    
    </div>
    
    <!-- Back
                
        ██████╗  █████╗  ██████╗██╗  ██╗
        ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝
        ██████╔╝███████║██║     █████╔╝ 
        ██╔══██╗██╔══██║██║     ██╔═██╗ 
        ██████╔╝██║  ██║╚██████╗██║  ██╗
        ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
                                        
    -->
    <div data-bind="if: $data[36] && $root.currentDesignStep().id ==  '36'">
        <div data-bind="with: $data[36]">
    
            <h2 data-bind="text: $data.name"></h2>
    
            <div data-bind="with: $data.options_map[101]">
    
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
    
    
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
    
    
                    <div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
    
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
    
    
                        <div class='selection-box' data-bind="">
    
    
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
    
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <!-- ko if: value.id != '1355' -->
                                        <th class="right">Darts</th>
                                        <!-- /ko -->
                                        <th class="right">Notes</th>
                                        <th class="right">Select</th>
                                    </tr>
                                </thead>
    
    
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
    
    
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[36].options_map[101].selectedValue() && shirt.garment.categories_map[36].options_map[101].selectedValue().id == value.id ),
                                                                                            css : { 'opaque-row' : shirt.garment.categories_map[36].options_map[101].selectedValue() && shirt.garment.categories_map[36].options_map[101].selectedValue().id != value.id }">
    
                                        <!-- garment -->
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                        <!-- ko if: value.id != '1355' -->
                                        <!-- darts -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[36].options_map[248]">
                                            <input type="checkbox" class="labeled-checkbox" name="" id="dartsCheckbox" data-bind="checked: $data.selectedValue">
                                            <label for="dartsCheckbox" data-bind="click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}"></label>
                                        </td>
                                        <!-- /ko -->
                                        <!-- notes -->
                                        <td class="right">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
                                        <!-- select -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[36].options_map[101]">
    
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
    
                                        </td>
    
                                    </tr>
    
    
                                </tbody>
    
    
                            </table>
                            <!-- /ko -->
    
    
                        </div>
    
    
    
                    </div>
                </div>
    
    
            </div>
    
    
            <div data-bind="with: $data.options_map[102]">
    
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
                    <div data-bind="with: shirt.garment.categories_map[36].options_map[102]">
    
                        <div data-bind="attr: { id : 'notes-bottom-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
    
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
    
    
    </div>

    <!-- Pockets
        
        ██████╗  ██████╗  ██████╗██╗  ██╗███████╗████████╗███████╗
        ██╔══██╗██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚══██╔══╝██╔════╝
        ██████╔╝██║   ██║██║     █████╔╝ █████╗     ██║   ███████╗
        ██╔═══╝ ██║   ██║██║     ██╔═██╗ ██╔══╝     ██║   ╚════██║
        ██║     ╚██████╔╝╚██████╗██║  ██╗███████╗   ██║   ███████║
        ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
                                                                    
                        -->
    <div data-bind="if: $data[37] && $root.currentDesignStep().id ==  '37'">
        <div data-bind="with: $data[37]">
        
            <h2 data-bind="text: $data.name"></h2>
        
            <div data-bind="with: $data.options_map[103]">
        
                <strong>
                    <p data-bind="text: $data.name"></p>
                </strong>
        
        
                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
        
        
                    <div class="option-value1 grid_4" style="min-height: 243px;" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setValueClicked($parent, value); },
                                                                                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
        
                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                        <img data-bind="attr:{src: value.image}" class="example">
        
        
                        <div class='selection-box' data-bind="">
        
        
                            <table data-bind="css: { 'valueTable-selected' : value.clicked } " class="valueTable">
        
                                <thead>
                                    <tr>
                                        <th class="left">Garment</th>
                                        <!-- ko if: value.id != '1362' -->
										<th class="right">position</th>
										<!-- /ko -->
                                        <th class="right">Notes</th>
                                        <th class="right">Select</th>
                                    </tr>
                                </thead>
        
        
                                <tbody data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
        
        
                                    <tr data-bind="visible: value.clicked() || ( shirt.garment.categories_map[37].options_map[103].selectedValue() && shirt.garment.categories_map[37].options_map[103].selectedValue().id == value.id ),
                                                                                                            css : { 'opaque-row' : shirt.garment.categories_map[37].options_map[103].selectedValue() && shirt.garment.categories_map[37].options_map[103].selectedValue().id != value.id }">
        
                                        <!-- garment -->
                                        <td class="left"><span data-bind="text:  '#' +($index()+1) + ' ' + shirt.customer.customer_first_name"></span></td>
                                       
                                        <!-- ko if: value.id != '1362' -->
                                        <!-- position -->
                                        <td class="right" data-bind="with: shirt.garment.categories_map[37].options_map[105]">
                                            <select class="mikrosss mikrosss2" data-mini="true" data-bind="options: $data.values,
                                                                                            optionsText: 'name',
                                                                                            value: $data.selectedValue">
                                            </select>
                                            

                                        </td>
                                        <!-- /ko -->
                                        <!-- notes -->
                                        <td class="right">
                                            <div class="open_style_notes" data-bind="click: function() {  $('#notes-bottom-style-' + shirt.garment.unique_id).show(); }">SHOW</div>
                                        </td>
                                         <!-- select -->
                                         <td class="right" data-bind="with: shirt.garment.categories_map[37].options_map[103]">
        
                                            <input type="checkbox" class="labeled-checkbox" data-bind="checked: $data.values_map[value.id].selected(), attr:{ id: $data.values_map[value.id].name+'checkbox' }">
                                            <label class="select-garment-checkbox" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, $data.values_map[value.id], garment = shirt); }, attr:{for: value.name+'checkbox'}">
                                            </label>
        
                                        </td>
        
                                    </tr>
        
        
                                </tbody>
        
        
                            </table>
                            <!-- /ko -->
        
        
                        </div>
        
        
        
                    </div>
                </div>
        
        
            </div>
        
        
            <div data-bind="with: $data.options_map[104]">
        
                <div data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
        
                    <div data-bind="with: shirt.garment.categories_map[37].options_map[104]">
        
                        <div data-bind="attr: { id : 'notes-bottom-style-' + shirt.garment.unique_id }" class="notes-pop-up"
                            style="display: none">
        
                            <div class="notes-textarea-wrapper">
                                <p data-bind="text: shirt.customer.full_name"></p>
                                <textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                                <button class="notes-save-btn" data-bind="click: function() { $('#notes-bottom-style-' + shirt.garment.unique_id).hide(); } ">Save
                                    and Close</button>
                            </div>
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>
    
    </div>
    
    <!-- Contrasts
        
        ██████╗ ██████╗ ███╗   ██╗████████╗██████╗  █████╗ ███████╗████████╗███████╗
        ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝
        ██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝███████║███████╗   ██║   ███████╗
        ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██╔══██║╚════██║   ██║   ╚════██║
        ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║  ██║███████║   ██║   ███████║
            ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝
                                                                                        
        
        -->
    <div data-bind="if: $data[38] && $root.currentDesignStep().id ==  '38'">
        <div data-bind="with: $data[38]">
            <h2>Shirt Contrast Options</h2>
    
            <!-- tabs -->
            <!-- <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
                <div data-bind="attr : { class : 'tabs-tab tabs-tab-contrast-' + shirt.garment.unique_id }, 
                                click: function() {
                                        $root.currentGarmentInstance(shirt);
                                    },
                                css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id }">
                    <span data-bind="text: '#' + ($index()+1) + ' ' + shirt.customer.full_name"></span>
                </div>
    
            </div> -->
    
    
            <!-- tabs content -->
            <div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
                <div data-bind="attr : { class : 'tabs-content tabs-content-contrast tabs-content-contrast-' + shirt.garment.unique_id },
                                visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id">
    
                    <div class="scrollContent">
                        <div class="grid_16 tenmargbot" style="width: 108%;">
                            <!-- left: show garment -->
                            <div class="checkslabelleft">
                                <span>#1</span>
                            </div>
    
                            <!-- right: select options -->
                            <div class="checkcontainer" data-bind="with : shirt.garment.categories_map[38]">
                                <!-- line 1 (inside/outside collar and collar stand)-->
                                <div class="contrastman">
    
                                    <!-- Inside Collar -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[106]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
                                    <!-- Outside Collar -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[107]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
                                    <!-- Collar Stand -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[108]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
    
                                </div>
    
                                <!-- line 2 -->
                                <div class="contrastman">
                                    <!-- Inside cuff -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[109]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
                                    <!-- Outside cuff -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[110]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
                                    <!-- back of cuff -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[111]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
    
                                </div>
    
                                <!-- line 3 -->
                                <div class="contrastman">
                                    <!-- Inside placket -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[112]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
                                    <!-- Outside placket -->
                                    <div class="boxesincheck" data-bind="with: $data.options_map[113]">
                                        <span class="boxesincheckname" data-bind="text:  $data.name"></span>
                                        <div name="" class="left_position simpleclick" data-bind="css: { 'selecteds': $data.selectedValue }, click: function(){$root.selectedCustomer().garmentsDesignStep.setOptionValue($data, !$data.selectedValue(), garment = shirt);}">box
                                        </div>
                                    </div>
    
                                </div>
    
                                <!-- line 4 -->
                                <div class="contrastman">
                                    <!-- Buttom Colour -->
                                    <div data-bind="with: $data.options_map[114]">
                                        <div class="myboxesincheck" data-bind="click: function() {changeVisibilityDiv('shirt_button_collor_popup-'+shirt.garment.unique_id)}">
                                            <span class="myboxesincheckname smallertag" data-bind="text: $data.name"></span>
                                            <img name="ShirtThread" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
                                            <span class="mydataboxesincheckname" data-bind="$data.selectedValue()  ? $data.selectedValue().name : ''"></span>
                                        </div>
    
                                        <!-- pop up -->
                                        <div data-bind="attr : {id: 'shirt_button_collor_popup-'+shirt.garment.unique_id}" class="white_content mynicepop" style="display: none;">
                                            <div class="inmynicepop inmynicepopthree">
                                                <h4 data-bind="text: 'Select ' + $data.name"></h4>
                                                <div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
                                                    <div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value, garment = shirt); changeVisibilityDiv('shirt_button_collor_popup-'+shirt.garment.unique_id); },
                                                                                                                                                                                                            css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
                                                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                                                        <img data-bind="attr:{src: value.image}" class="example">
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0)" class="close_popups mynicepopclose ui-link"
                                                    data-bind="click: function() {changeVisibilityDiv('shirt_button_collor_popup-'+shirt.garment.unique_id)}">Save
                                                    And Close</a>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- Thread Colour -->
                                    <div data-bind="with: $data.options_map[115]">
                                        <!-- button -->
                                        <div class="myboxesincheck" data-bind="click: function() {changeVisibilityDiv('shirt_thread_popup-'+shirt.garment.unique_id)}">
                                            <span class="myboxesincheckname smallertag">Thread Colour</span>
                                            <img name="ShirtThread" data-bind="attr:{src: $data.selectedValue()  ? $data.selectedValue().image : ''}">
                                            <span class="mydataboxesincheckname" data-bind="$data.selectedValue()  ? $data.selectedValue().name : ''"></span>
                                        </div>
    
                                        <!-- pop up -->
                                        <div data-bind="attr : {id: 'shirt_thread_popup-'+shirt.garment.unique_id}" class="white_content mynicepop" style="display: none;">
                                            <div class="inmynicepop inmynicepopthree">
                                                <h4>Select Thread Colour</h4>
                                                <div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
                                                    <div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value, garment = shirt);
                                                                                                                                                changeVisibilityDiv('shirt_thread_popup-'+shirt.garment.unique_id);
                                                                                                                                            },
                                                                                                                                css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
                                                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                                                        <img data-bind="attr:{src: value.image}" class="example">
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0)" class="close_popups mynicepopclose ui-link"
                                                    data-bind="click: function() {changeVisibilityDiv('shirt_thread_popup-'+shirt.garment.unique_id)}">Save
                                                    And Close</a>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
    
    
    
                    <div data-bind="with: shirt.garment.categories_map[38] ">
                        <!-- Contrasts fabrics -->
                        <div data-bind="with: $data.options_map[116]">
                            <div class="grid_12" style="width: 100%">
                                <strong>
                                    <p data-bind="text: $data.name"></p>
                                </strong>
                                <input type="text" data-bind="value: $data.selectedValue">
                            </div>
                            <br>
                            <br>
                        </div>
                        <!-- Notes For contrasts -->
                        <div data-bind="with: $data.options_map[117]" style="width: 100%;">
                            <div>
                                <strong>
                                    <p data-bind="text: $data.name"></p>
                                </strong>
                                <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                            </div>
                        </div>
    
                        <!-- contrasts Style -->
                        <div data-bind="with: $data.options_map[103]">
                            <div class="grid_12" style="width: 100%">
                                <strong>
                                    <p data-bind="text: $data.name"></p>
                                </strong>
                                <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
                                    <div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($data, value, garment = shirt); },
                                                                                                                                                                                    css: { 'selected-val' : value.selected() }">
                                        <span class="new_main_option_title" data-bind="text:value.name"></span>
                                        <img data-bind="attr:{src: value.image}" class="example">
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
    
                </div>
            </div>
    
    
    
        </div>
    
    </div>


    <!-- Monogram
    ███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗  ██████╗ ██████╗  █████╗ ███╗   ███╗
    ████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
    ██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║██║  ███╗██████╔╝███████║██╔████╔██║
    ██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║██║   ██║██╔══██╗██╔══██║██║╚██╔╝██║
    ██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
    ╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
                                                                                
                        
                        -->
    <div data-bind="if: $data[39] && $root.currentDesignStep().id ==  '39'">
        <div data-bind="with: $data[39]">
            <h2>Shirt Monogram Options</h2>

            <!-- tabs -->
            <!-- <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">

                <div data-bind="attr : { class : 'tabs-tab tabs-tab-monogram-' + shirt.garment.unique_id }, 
                                click: function() {
                                        $root.currentGarmentInstance(shirt);
                                    },
                                css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id }">
                    <span data-bind="text: '#' + ($index()+1) + ' ' + shirt.customer.full_name"></span>
                </div>

            </div> -->


            <!-- tabs content -->
            <div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
                <div data-bind="attr : { class : 'tabs-content tabs-content-monogram tabs-content-monogram-' + shirt.garment.unique_id },
                                with : shirt.garment.categories_map[39],
                                visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id">
                
                    <!-- line 1 -->
                    <div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
                        <!-- identify line -->
                        <div class="grid_3 fivepaddingtop eighttopmargin">
                            <span>Monogram</span>
                        </div>
                        <!-- options wrapper -->
                        <div class="grid_13" style="float: right; display: flex; width: 47%;">
                            <!-- first line of the monogram -->
                            <div data-bind="with: $data.options_map[118]" style="width: 100%;">
                                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                                    <input name="ShirtCustomMonogramHeader" data-bind="value: $data.selectedValue, valueUpdate: 'afterkeydown'"
                                        placeholder="" type="text" style="background: white;">
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <!-- line 2 -->
                    <div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
                        <!-- identify line -->
                        <div class="grid_3 fivepaddingtop eighttopmargin">
                            <span>Position</span>
                        </div>
                        <!-- options wrapper -->
                        <div class="grid_13" style="float: right; display: flex;">
                            <!-- Select position of the monogram -->
                            <div data-bind="with: $data.options_map[119]">
                                <div data-bind="foreach: { data: $data.values, as: 'value' }" style="width: 100%;display: flex;">
                                    <div class="mycheck mychecknews" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value, garment = shirt); },
                                                                                                                            css: { 'selected-val' : value.selected() },
                                                                                                                            text: value.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <!-- line 3 -->
                    <div class="grid_16 garmentbreak fabricselect makeyellow fivepaddingall" style="width: 97%;">
                        <!-- identify line -->
                        <div class="grid_3 fivepaddingtop eighttopmargin">
                            <span>Monogram Options</span>
                        </div>
                        <!-- options wrapper -->
                        <div class="grid_13" style="float: right; display: flex;">
                            <!-- Stitching-->
                            <div data-bind="with: $data.options_map[120]">
                                <!-- button -->
                                <div class="left_position myboxesincheck" data-bind="click: function() {changeVisibilityDiv('shirt_stitching_popup-'+shirt.garment.unique_id)}">
                                    <span class="myboxesincheckname smallertag">Stitching</span>
                                    <!-- ko if: $data.selectedValue() -->
                                    <img name="ShirtMonogramStitchColour" data-bind="attr:{src: $data.selectedValue().image}">
                                    <span class="mydataboxesincheckname" name="ShirtMonogramStitchColourText" data-bind="text: $data.selectedValue().name"></span>
                                    <!-- /ko -->
                                </div>
                
                                <!-- pop up -->
                                <div data-bind="attr: {id: 'shirt_stitching_popup-'+shirt.garment.unique_id}" class="white_content mynicepop" style="display: none;">
                                    <div class="inmynicepop inmynicepopthree">
                                        <h4>Select stitch Colour</h4>
                                        <div class="option-wrapper2-popup" data-bind="foreach: { data: $data.values, as: 'value' }">
                                            <div class="option-value1 grid_4" data-bind="click: function() {
                                                                                                            changeVisibilityDiv('shirt_stitching_popup-'+shirt.garment.unique_id);
                                                                                                            $root.selectedCustomer().garmentsDesignStep.setOptionValue($parentContext.$data, value, garment = shirt);
                                                                                                            },
                                                                                        css: { 'selected-val' : value.selected(), 'clicked' : value.clicked() }">
                                                <span class="new_main_option_title" data-bind="text:value.name"></span>
                                                <img data-bind="attr:{src: value.image}" class="example">
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="close_popups mynicepopclose ui-link" data-bind="click: function() {changeVisibilityDiv('shirt_stitching_popup-'+shirt.garment.unique_id)}">Save
                                            And Close</a>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                
                    </div>
                
                
                
                
                    <div>
                
                        <!-- monogram notes -->
                        <div data-bind="with: $data.options_map[121]">
                            <strong>
                                <p data-bind="text: $data.name"></p>
                            </strong>
                            <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                
                        </div>
                
                        <!-- Font -->
                        <div data-bind="with: $data.options_map[122]">
                            <strong>
                                <p data-bind="text: $data.name"></p>
                            </strong>
                            <div class="option-wrapper1" data-bind="foreach: { data: $data.values, as: 'value' }">
                                <div class="option-value1 grid_4" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.setOptionValue($parent, value, garment = shirt); },
                                                                             css: { 'selected-val' : value.selected() }"
                                        style="min-width: 126px">
                                    <span class="new_main_option_title" data-bind="text:value.name"></span>
                                    <img data-bind="attr:{src: value.image}" class="example">
                                </div>
                            </div>
                
                        </div>
                
                    </div>
                
                
                </div>
            </div>



        </div>
    </div>
    
    

    <!-- General Notes
                
                    ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███╗   ██╗ ██████╗ ████████╗███████╗███████╗
                ██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
                ██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ██╔██╗ ██║██║   ██║   ██║   █████╗  ███████╗
                ██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ██║╚██╗██║██║   ██║   ██║   ██╔══╝  ╚════██║
                ╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ██║ ╚████║╚██████╔╝   ██║   ███████╗███████║
                    ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝
            -->
    <div data-bind="if: $data[40] && $root.currentDesignStep().id == 40">
    
        <div data-bind="with: $data[40]">
    
            <h2 data-bind="text: $data.name"></h2>
    
            <div data-bind="with: $data.options_map[123]">
    
                <!-- <div class="tabs-tabs-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
                    <div data-bind="attr : { class : 'tabs-tab tabs-tab-generalNotes-' + shirt.garment.unique_id }, 
                                    click: function() {
                                            $root.currentGarmentInstance(shirt);
                                        },
                                    css : {'selected' : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id }">
                        <span data-bind="text: '#' + ($index()+1) + ' ' + shirt.customer.full_name"></span>
                    </div>
    
                </div> -->
    
    
                <div class="tabs-content-wrapper" data-bind="foreach: { data: $root.globalGarments.shirt(), as : 'shirt' }">
    
                    <div data-bind="attr : { class : 'tabs-content tabs-content-generalNotes tabs-content-generalNotes-' + shirt.garment.unique_id },
                                    visible : $root.currentGarmentInstance() && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id">
                        <textarea class="comment" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>

    <!-- Custom Data category -->
    <div data-bind="if: $data[66] && $root.currentDesignStep().id == 66">
    
        <div data-bind="with: $data[66]">
    
            <h2 data-bind="text: $data.name"></h2>
    
            <div data-bind="foreach: {data: $root.globalGarments.shirt, as: 'shirt'}">
                <div data-bind="foreach: { data: shirt.garment.categories_map[66].options, as: 'option' }">
                    <!-- ko if: $root.selectedCustomer().garmentsDesignStep.hasCustomDesign().includes(option.id)
                                && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id -->
                    <div class="row">
                        <div class="col-md-3">
                            <strong>
                                <p data-bind="text: option.name"></p>
                            </strong>
                        </div>
    
                        <div class="col-md-3">
                            <button class="custom-img-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.takeOptionCustomImage(option); }">Take
                                Custom Image</button>
                            <button class="clear-custom-img-btn" ata-bind="visible: option.selectedValue(),
                                                                                                click: function() { $root.selectedCustomer().garmentsDesignStep.clearCustomOptionImage(option); }">Clear
                                Image</button>
                        </div>
    
                        <div class="col-md-6" data-bind="visible: option.selectedValue()">
    
                            <img class="custom-design-img" data-bind=" attr: { src : option.selectedValue() }">
    
                        </div>
    
    
                    </div>
                    <!-- /ko -->
                </div>
    
                <!-- ko if: !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign() || !$root.selectedCustomer().garmentsDesignStep.hasCustomDesign().length > 0 
                            && $root.currentGarmentInstance().garment.unique_id == shirt.garment.unique_id-->
                <h2>No Custom Data</h2>
                <!-- /ko -->
    
            </div>
        </div>
    </div>




</div>

