<div data-role="page" id="alterationReport" class="bgBody">
    <link rel="stylesheet" type="text/css" href="css/slick/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/slick/slick-themecss" media="all" />
    <h1>Alteration Report</h1>
    <!--div class="container_16">
        <div class="grid_4">
            <span class="myuppertitle">Customer</span>
        </div>
        <div class="grid_4">
            <span class="myuppertitle">Garment</span>
        </div>
        <div class="grid_2">
            <span class="myuppertitle">Order date</span>
        </div>
        <div class="grid_2">
            <span class="myuppertitle">Order id</span>
        </div>
        <div class="grid_4">
            <span class="myuppertitle">Tailor's Name</span>
        </div>
        <div class="clear"></div>
        <div class="grid_4">
            <span class="myuppertitle" data-bind="text:customerName"></span>
        </div>
        <div class="grid_4">
            <span class="myuppertitle" data-bind="text:garment"></span>
        </div>
        <div class="grid_2">
            <span class="myuppertitle" data-bind="text:orderDate"></span>
        </div>
        <div class="grid_2">
            <span class="myuppertitle" data-bind="text:orderID"></span>
        </div>
        <div class="grid_4">
            <span class="myuppertitle" data-bind="text:tailor_name"></span>
        </div>
    </div-->


    <div id="main" data-role="content" data-theme="a" style="background:none; border:none; padding-bottom:90px;">
        <h3>Detailed Panel</h3>
        <div class="content-wrapper ">
            <div class="sliding">
                <ul id="sliding" data-bind="foreach:PanelImages">
                    <li>
                        <div class="">
                            <img class="" data-bind="attr:{src:$data}" />
                            <div>
                                <a data-bind="click:function(){$('#main').hide();$('#PanelImage'+$index()).show();}">
                                    <h2>DRAW</h2>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="PanelMeasurements container_12">
                <div data-bind="foreach:measurements" class="grid_12">
                    <div class="grid_3">
                        <span data-bind="text:$data.label"></span><span data-bind="text:$data.name"></span><span data-bind="text:$data.position"></span>
                        <div data-bind="css:{}">
                            <input type="text" data-bind="css:{
									'greeninput': $root.measurementsValue[$index()]() > $root.measurementsDefault[$index()], 
									'redinput': $root.measurementsValue[$index()]() < $root.measurementsDefault[$index()]
								}, 
								value: $root.measurementsValue[$index()], valueUpdate:'keyup'" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" />
                            <a data-bind="click: function(){alert($root.measurementsValue[$index()]() > $root.measurementsDefault[$index()]);}"><span>+</span></a>
                        </div>

                        <div data-bind="attr:{id:('history'+$data.id)}" style="display:block;">
                            <div>
                                <ul data-bind="foreach: $root.measurementsHistory">
                                    <li data-bind="if: $data[$parentContext.$data.id]" class="historydiv">
                                        <div class="historydiv"><span data-bind="text:($index()+1)"></span><span> Fitting: </span><span data-bind="text:$data[$parentContext.$data.id]"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div style="padding:10px;float: left;border-color: black;border-style: double;">

                <h1>Alteration Description</h1>
                <hr style="border-color: black">
                <div>
                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend>Type<span class="mandatoris">*</span>:</legend>
                        <input type="radio" name="gender" id="gender_male" value="0" checked="checked" data-bind="checked: costType" />
                        <label for="gender_male">Cost</label>
                        <input type="radio" name="gender" id="gender_female" value="1" data-bind="checked: costType" />
                        <label for="gender_female">Hourly</label>
                    </fieldset>

                    <button style="display: inline-block;" class="add_more_alt_cost" data-bind="click: function(){$root.addCost();}">+</button>
                </div>

                <input id="AlterationReportCostImageFiles" type="file" accept="image/*" style="display:none" />
                <div id="aleteration_cost_wrapper">
                    <div data-bind="foreach: $root.cost">
                        <div style="float: left; width: 100%; margin-bottom:5px; border-bottom:1px dashed rgba(0,0,0,0.08); padding-bottom:3px;">
                            <div style="width: 30px; float: left;"> <span class="deletecost" data-bind="click: function(){ console.log($index()); $root.removeCost($index());}">x</span> </div>
                            <div style="width: 60%; float: left;" class="titlosextra">
                                <input type="text" data-bind="value: $data.description, valueUpdate:'keyup'" id="description" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" />
                                <label for="gender_male">Cost</label>
                            </div>
                            <div class="timiextra" data-bind="visible:$root.costType() === 1">
                                <input type="text" data-bind="value: $data.cost, valueUpdate:'keyup'" id="hours" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" />
                                <label for="hours">Hours</label>
                            </div>
                            <div data-bind="visible: $root.costType() === 0">
                                <div class="timiextra">
                                    <input type="text" data-bind="value: $data.cost, valueUpdate:'keyup'" id="cost" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" />
                                    <label for="cost">Cost</label>
                                </div>
                                <div>
                                    <div id="AlterationReportCostImageMediaBtn" data-role="button" class="imagebutton" data-bind="click:function(){$root.addInvoiceImage($index())}"><span class="imageuploading"></span><span class="nextomediaim">Invoice</span></div>
                                </div>
                                <div>
                                    <img id="imagemap" class="imageMap" height="240" width="240" data-bind="attr: {src: $data.image}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="j-footer container_12">
                <div class="half-em-around">
                    <!--div class="grid_2 suffix_8"><a data-bind="click: function(){function(){$root.backToLastStep()}}" class="new-btn icon-edit-customer new-btn-icon-left" data-role="button"><span class="btn-small-letter"></span><span class="btn-letter"> Details</span></a></div>
                    <div class="grid_2"><a data-bind="click: $parent.nextBigStep" class="new-btn icon-go-next new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed</span><span class="btn-letter"> To Garments</span></a></div-->
                    <div class="grid_2">
                        <a data-bind="click: function(){$root.backToLastStep()}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                            <span class="btn-small-letter">Back to</span><span class="btn-letter"> Alteration Report List</span>
                        </a>
                    </div>

                    <div class="grid_2 suffix_8">
                        <a data-bind="click: function(){ $root.submit(); }" class="new-btn icon-go-next new-btn-icon-right" data-role="button">
                            <span class="btn-small-letter">SAVE</span><span class="btn-letter">  Alteration Report</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div data-bind="foreach: PanelImages">
        <div class="content-wrapper ">
            <div data-bind="attr:{id:('PanelImage'+$index())}" style="display:none;">
                <div class="container_12">
                    <div class="buttons">
                        <div class="slider">
                            <div class="sliderItem">
                                <p>Select Pen width</p>
                                <div class="pen-width-wrapper">
                                    <div class="mycheck mychecknews enabled" data-bind="click: function(){$root.setWidth($index(), 1); }, css: {enabled: $root.width() === 1 }"> +</div>
                                    <div class="mycheck mychecknews enabled" data-bind="click: function(){$root.setWidth($index(), 2); }, css: {enabled: $root.width() === 2 }"> ++</div>
                                    <div class="mycheck mychecknews enabled" data-bind="click: function(){$root.setWidth($index(), 3); }, css: {enabled: $root.width() === 3 }"> +++</div>
                                    <div class="mycheck mychecknews enabled" data-bind="click: function(){$root.setWidth($index(), 4); }, css: {enabled: $root.width() === 4 }"> ++++</div>
                                </div>
                            </div>
                            <div class="sliderItem">
                                <p>Undo</p>
                                <div>
                                    <button id="undo" data-bind="click:function(){$root.undoDraw($index());}"> <- </button>
                                </div>
                            </div>
                            <div class="sliderItem">
                                <p>Redo</p>
                                <div>
                                    <button id="redo" data-bind="click:function(){$root.redoDraw($index());}"> -> </button>
                                </div>
                            </div>
                            <div class="sliderItem">
                                <p>Add Note</p>
                                <div>
                                    <div class="mycheck mychecknews enabled" data-bind="click: function(){ $('#note').val('');$root.tagEnabled(!$root.tagEnabled()); $root.sketchpads[$index()].editing(!$root.tagEnabled())}, css: {enabled: $root.tagEnabled() }"> Add Tag</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="outsideWrapper" height="462px" width="300px">
                            <div class="insideWrapper" height="462px" width="300px" data-bind="click: function(data,evt){if($root.tagEnabled()){$root.addTag($index(), evt);}}">
                                <div class="mapperWrapper" data-bind="foreach:$root.PanelTags[$index()]">
                                    <div class="mapper" data-bind="visible: $root.tagEnabled(), style: {left: $data.leftp, top: $data.topp}" style="display:block;">
                                        <span data-bind="text:($index()+1)"></span>
                                    </div>
                                </div>
                                <img class="coveredImage" data-bind="attr:{src:$data}" height="462px" width="300px" />
                                <div class="coveringCanvas" height="462px" width="300px">
                                    <div height="462px" width="300px" data-bind="attr:{id:('PanelDrawing'+$index()), name:('PanelDrawing'+$index())}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_6 myvideo-comments" data-bind="visible: $root.tagEnabled()">
                        <textarea data-bind="attr:{id:('note'+$index())}"></textarea>
                        <a class="mykoubakiss" data-bind="click: function(){$root.setLastComment($('#note'+$index()).val(), $index());$('#note').val('')}">Add Comment</a>
                        <div style="clear:both;"></div>
                        <ul data-bind="foreach: $root.PanelTags[$index()]" class="mycomentlist">
                            <li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="30"><span data-bind="html: $index() + 1"></span></td>
                                        <td><span data-bind="html: $data.text" class="commint"></span></td>
                                        <td width="35" valign="top" align="center"><a data-bind="click: function(){console.log($data);$root.removeTag($parentContext.$index(), $index());}" class="close">X</a></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                    <div class="j-footer container_12">
                        <div class="half-em-around">
                            <div class="grid_2 suffix_8">
                                <a data-bind="click: function(){$root.savePanelDrawing($index());$('#main').show();$('#PanelImage'+$index()).hide();}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                                    <span class="btn-small-letter">Back to</span><span class="btn-letter"> Alteration Report</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .slider {
            white-space: nowrap;
        }
        
        .sliderItem {
            display: inline-block;
            margin-right: 20px;
        }
        
        .greeninput {
            background-color: green;
        }
        
        .redinput {
            background-color: red;
        }
        
        .outsideWrapper {
            width: 300px;
            height: 524px;
        }
        
        .insideWrapper {
            width: 100%;
            height: 100%;
            position: relative;
        }
        
        .mapperWrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .mapper {
            width: 30px;
            height: 30px;
            position: absolute;
        }
        
        .coveredImage {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .coveringCanvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .coveringIcon {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 95%;
        }
        /* Add to docs */
        
        #scrolling {
            /*frame*/
            position: fixed;
            top: 58%;
            background: #FF8383;
            /*FF473D*/
            height: 38%;
            width: 30%;
            overflow: hidden;
        }
        
        .sliding a {
            position: relative;
            margin: 10px;
            padding: 0;
        }
        
        .sliding ul {
            /*Add if you want to disable the option of selecting the text while sliding*/
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin: 0;
            padding: 0;
            /*top:10%;*/
            margin-top: 4vh;
            height: 20%;
            list-style-type: none;
            align: center;
            vertical-align: center;
            -webkit-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        
        .sliding img {
            width: 100px;
            height: 256px;
        }
        
        .sliding li {
            float: left;
            color: #000;
            text-align: center;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -o-border-radius: 30px;
            -moz-border-radius: 30px;
            cursor: pointer;
            background: #FFF;
            -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
            -moz-transform: scale(0.95);
            transform: scale(0.95);
        }
        
        .itemslide-active {
            /*applied to current active item*/
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
        }
        
        input {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        
        .historydiv {
            background-color: #f1f1f1;
            margin: 2px 2;
            float: left;
        }
        
        #aleteration_cost_wrapper ul {
            margin: 0;
        }
    </style>
    <script>
        function appendItemAlterationReportImage(topost, basedata, whichImage) {
            console.log("appendItem AlterationReportImage " + whichImage);

            var whatImage = "AlterationReport" + whichImage + "Image";

            var endpoint = 'upload_image';
            var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
            var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
            var basedata2 = topost.replace("data:image/jpeg;base64,", "");
            request = $.ajax({
                type: 'POST',
                url: ServerEndPoint,
                dataType: 'json',
                async: true,
                data: {
                    salesman: JSON.stringify(eval("(" + salesmanString + ")")),
                    data: basedata2
                },
                success: function(dataS) {
                    var spinner = document.getElementById('loading_jp');
                    spinner.style.display = "none";
                    var data = dataS;
                    var image_id = data['id'];
                    var image = data['image'];
                    alterationReport.finishAddingInvoiceImage(image);
                }
            });
        }
        if (window.FileReader) {
            function handleFileSelectAlterationReportCostImage(evt) {
                var files = evt.target.files;
                var f = files[0];
                var reader = new FileReader();
                reader.onload = (function(theFile) {
                    return function(e) {
                        try {
                            //resizeMyImage(e.target.result, "Cost");
                            var t = orderItem.resizeMyImage(e.target.result, 120, 1536, "alterationReport.htm", "Cost");
                            t = null;
                            e = null;
                        } catch (e1) {
                            customAlert('An Error occured. Try again.');
                        }
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        } else {
            customAlert('This browser does not support FileReader');
        }
        document.getElementById('AlterationReportCostImageFiles').addEventListener('change', handleFileSelectAlterationReportCostImage, false);
    </script>
</div>