<div data-role="page" id="assignTailor" class="bgBody">
<div data-bind="template: { name: 'headerTemplate'}"></div>
<div data-role="content" data-theme="c" style="background:none !important; border:none;" >
  <div class="content-wrapper">
    <div class="container_12">
      <div class="grid_12">
        <div class="grid_5" data-bind="with: customersVMmirror">
        
			<div class="bigladeling evenbigger tenmargbot grid_12" >
          		<span class="orderim"></span> 
	            <span class="firstpart">Fitting 1</span> 
                <span class="bigpart" data-bind="with: selected_item"> 
                	<span data-bind="text: customer_first_name"></span> 
                    <span>&nbsp;</span> 
                    <span data-bind="text: customer_last_name"></span> 
				</span> 
	            <div data-bind="with: selected_ordergarment">
	    	    	<span class="thirdpart"><span data-bind="text: garment_name"></span><span>&nbsp; / &nbsp;</span> <span>Fabric:&nbsp;</span><span data-bind="text: fabrics[0].fabric_id"></span> </span> 
				</div>
			</div>
            
        </div>
        <ul class="grid_7 fittingmenu">
          <li class="fremake" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#orderRemake');}"><span>Remake</span></a></li>
          <li class="fhistory" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#fittingHistory');}"><span>Fitting History</span></a></li>
          <li class="fpanel" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#viewPanel');}"><span>View Panel</span></a></li>
          <li class="fmeasurement"><a href="#" data-bind="click: function(){posChangePage('#viewMeasurements');}"><span>View Measurements</span></a></li>
          <li class="ftailor active"><a href="#" data-bind="click: function(){posChangePage('#assignTailor');}"><span>Assign Tailor</span></a></li>
          <li class="fvideos"><a href="#" data-bind="click: function(){posChangePage('#fittingVideo');}"><span>Upload Video</span></a></li>
          <li class="fmedia"><a href="#" data-bind="click: function(){posChangePage('#fittingImages');}"><span>Upload Images</span></a></li>
        </ul>
        <div class="grid_12"  data-bind="with: FittingVM">
       
       		<ul class="extracostfields grid_8 fortymargintop">
            <div data-role="fieldcontain" >
              
			  <label for="tailor">Tailor's Name:</label>
              <select name="tailor" id="tailor" data-mini="true" data-bind="options: tailors, value: tailor, optionsText: function(item){return item.first_name + ' ' + item.last_name;}, optionsCaption: 'Select Tailor'">
              </select>
			<!--              
              <select id="fitlineselect" data-bind="value: indexJacket, options: fitlinesJacket, optionsValue: 'jacketId', optionsText: 'jacketName', optionsCaption: 'Select Fitline', selectedIndexJacket:indexJacket" data-mini="true">
              </select>
            -->  
            </div>
            <div data-role="fieldcontain" >
            	<!--
				<label for="errorcategory">Delivery Date:</label>
				<select class="mikrosss" name="errorcategory" id="errorcategory">
                	<option>Select Date</option>
              	</select>
                -->
                <label for="tailordatepick">Delivery Date:</label>
				<fieldset id="tailordatepick" data-role="controlgroup" data-type="horizontal" data-mini="true">
			   		<select name="tailor_day" id="tailor_day" data-bind="options: $parent.days, value: tailor_day, optionsCaption: 'Day'">
                    </select>
                    <select name="tailor_month" id="tailor_month" data-bind="options: $parent.months, optionsText: 'name', optionsValue: 'id' , value: tailor_month, optionsCaption: 'Month'">
                    </select>
				</fieldset>
            </div>
            <div data-role="fieldcontain" data-target-attr="tailornote">
              <label for="tailornote">Comments:</label>
             <!-- <input type="text" name="tailornote" id="tailornote" />-->
              <textarea name="tailornote" data-bind="value: tailornote, updateFormOnChange: tailornote, valueUpdate: 'afterkeydown'" style="min-height: 100px; max-height:100px; width:80%; color:#000" ></textarea>
            </div>
            <!--
            <div class="grid_4 prefix_3"><a href="#" data-role="button" data-mini="true" data-theme="c">Assign Tailor</a></div>
            -->
            
          </ul>
            <div class="clear"></div>
		</div>
      </div>
    </div>
    <div class="bigladeling left_position stepbigbuts">
      <a href="#" data-bind="click: function(){posChangePage('#orderInfo');}">
          <span class="prevstep"></span>
          <span class="firstpart">Back to</span>
          <span class="bigpart">Order</span>
      </a>
    </div>
    <div class="bigladeling right_position stepbigbuts" data-bind="with: FittingVM">
      <a data-bind="click: sync">
          <span class="nextstep"></span>
          <span class="firstpart">Submit your</span>
          <span class="bigpart">Fitting!</span>
      </a>
    </div>
    
	    
    
  </div>
  <!-- /content --> 
</div>
</div>
