<div data-role="page" id="customerOrders" class="bgBody">
<h1 data-bind="with: customersVMmirror"><span class="firstpart" data-bind="text: customer_first_name">Customer's Name</span> <span class="firstpart" data-bind="text: customer_last_name">Customer's Last Name</span></h1>


 
  <div data-role="content" data-bind="with: custOrdersVM" data-theme="a">
    <div class="content-wrapper">
      <div class="container_16">
        <div class="grid_16">
          <div class="grid_1"><span class="marginleftten">ID</span></div>
          <div class="grid_2"><span class="marginleftten">Order Date</span></div>
          <div class="grid_2"><span class="marginleftten">Ship Date</span></div>
          <div class="grid_7"><span>Garments</span></div>
          <div class="grid_2"><span>Total Amount</span></div>
          <div class="grid_2"><span>Balance Owing</span></div>
        </div>
        <div class="clear"></div>
        <ul data-role="listview" data-bind="foreach: orders">
          <li class="grid_16" data-bind="click: $parent.selectedOrder">
            <div class="grid_1"><span data-bind="text: order_id" class="marginleftten"></span></div>
            <div class="grid_2"><span data-bind="text: formatted_ordered_date"></span></div><!-- Make Date format dd / M / y -->
            <div class="grid_2"><span data-bind="text: shipping_date"></span></div><!-- Make Date format dd / M / y -->
            <div class="grid_7"><span data-bind="text: garments"></span></div><!-- List order Garments. ex. Shirt x 2, Jacket x1, Suit x1 -->
            <div class="grid_2"><span class="marginleftten"><span data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span> &nbsp;$</span></div><!-- Print the currency symbol -->
            <div class="grid_2"><span class="marginleftten"><span data-bind="text: balance"></span></span></div><!-- Print balance and currency symbol -->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="j-footer container_12">
  	<div class="half-em-around"> 
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#customerInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Customer's</span><span class="btn-letter"> Details</span></a></div>
            
            </div></div>
</div>