<div data-role="page" id="customerGarmentsFittingsList" class="bgBody">
	<!-- Customer identification -->
	<div class="j-header container_16" data-bind="with: customersVMmirror">
		<div class="leftfloat custupname">
			<span class="firstpart" data-bind="text: customer_first_name">Customer's Name</span>
			<span class="firstpart" data-bind="text: customer_last_name">Customer's Last Name</span>
		</div>
	</div>

	<!-- Summary -->
	<div class="above-j-header container_16">
		<div class="WithTailor">Assigned Fitting</div>
		<div class="FittingUnassigned">Unassigned Fitting</div>
		<div class="FittingStepSkipped">Incomplete Fitting</div>
		<div class="Completed">Completed Garment</div>
		<div class="AvaibleFitting">Available Garment</div>
	</div>

	<!-- Main content -->
	<div data-role="content" data-theme="d" style="background:none !important; border:none; padding-top:90px">
		<div class="content-wrapper">
			<div class="container_16">
				<div data-bind="with: OrdersGarmentsForFittingVM">
					<div class="grid_16" data-bind="foreach: ordersgarments">
						<div class="myfitinglist">
							<!-- Tittle1 -->
							<div class="grid_16" style="display:none;">
								<span class="myuppertitle">ORDER
									<span data-bind="text: order_id"></span> -
									<span data-bind="text: $parent.timestampToDate(ordered_date)"></span>
								</span>
							</div>
							<div class="clear"></div>
							<!-- Tittles2 -->
							<div class="grid_16">
								<div class="grid_3 prefix_1">
									<span class="myuppertitle">Garment / Fabric</span>
								</div>
								<div class="grid_9">
									<span class="myuppertitle" style="padding-left:5px !important;">FITTING HISTORY</span>
								</div>
								<div class="grid_3" style="text-align:right;">
									<span class="maketeamf avaible" style="margin:0px;">ORDER
										<span data-bind="text: order_id"></span> -
										<span data-bind="text: $parent.timestampToDate(ordered_date)"></span>
									</span>
								</div>
							</div>
							<div class="clear"></div>
							<!-- Product of each order -->
							<div data-bind="foreach: products" class="container_16">
								<div class="grid_16 stablelist" data-bind="css: {
														  'AvaibleFitting': ((fitting_status.status_ID > 0 && fitting_status.status_ID == '1')||(!fitting_status.status_ID && avaible == true)), 
														  'FittingUnassigned': ((fitting_status.status_ID > 0 && fitting_status.status_ID == '3')||(!fitting_status.status_ID && ready == true)), 
														  'WithTailor': ((fitting_status.status_ID > 0 && fitting_status.status_ID == '4')||(!fitting_status.status_ID && with_tailor == true)), 
														  'FittingStepSkipped': ((fitting_status.status_ID > 0 && fitting_status.status_ID == '2')||(!fitting_status.status_ID && skipStep == true)),  
														'Completed': ((fitting_status.status_ID > 0 && fitting_status.status_ID == '5')||(!fitting_status.status_ID && completed == '1'))}">
									<!-- Check Button -->
									<div class="grid_1">
										<div name="simpleclick" class="simpleclick"
										style="margin:3px 0 0 10px;"
										data-bind="css: { 'selecteds': checked === true },
										style: { visibility: ((completed == '1' && garment != 'Shirt') || completed != '1')   ? 'visible':'hidden'},
										click: function(){ checked = !checked; $parents[1].modifiedListOptionsFunction('simpleclick'); } ">box </div>
									</div>
									<div class="grid_3">
										<span data-bind="text: garment" class="spacingaroundf-t"></span>
										<span data-bind="text: fabric" class="spacingaroundf-t"></span>
									</div>
									<!-- Fittings history -->
									<div class="grid_12" data-bind="foreach: fittings">
										<div class="grid_alt" data-bind="style: { color: fitting.is_active == 0 ? 'gray' : 'green' }, 
													css: { 'pending': fitting.is_active == 1 && (fitting.front_image_notes_pending == 1 || fitting.side_image_notes_pending == 1 || fitting.back_image_notes_pending == 1 || fitting.video_pending == 1 || fitting.video_notes_pending == 1) },
													click: function(){ $parent.checked = true; $parents[2].loadSelectedGarmentsToFittingsAndGoToFittingsPage($parentContext.$parentContext.$index(), $parentContext.$index(), $index()); }">
											<span data-bind="text: fitting.fitting_title" class="spacingaroundf-t"></span>
											<span data-bind="visible:fitting.cloned > 0">Cloned</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Resume all shirt's fittings into a single procedure -->
					<div>
						<button style="position: relative;margin-bottom: 6%;" data-bind="click: function() {fittingAllShirt()}">Fitting all Shirt</button>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- footer's buttons -->
	<div class="j-footer container_16">
		<div class="half-em-around">
			<div class="grid_2 suffix_2">
				<a href="#" data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-small-letter">Return Back</span>
					<span class="btn-letter">To Main</span>
				</a>
			</div>
			<div class="grid_2 suffix_1">
				<a data-bind="click: function(){posChangePage('#fittingList');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-small-letter">Back to</span>
					<span class="btn-letter"> Fitting List</span>
				</a>
			</div>
			<div class="grid_2 suffix_1">
				<a data-bind="click: function(){posChangePage('#customerInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-small-letter">Back to</span>
					<span class="btn-letter"> Customer </span>
				</a>
			</div>
			<div class="grid_2 suffix_2" data-bind="with: OrdersGarmentsForFittingVM">
				<a data-bind="click: function(){ loadSelectedGarmentsToCompletionsAndGoToCompletionsPage(); }" class="new-btn icon-pictures-blue new-btn-icon-right"
				 data-role="button">
					<span class="btn-small-letter">Pictures &amp;</span>
					<span class="btn-letter"> Complete</span>
				</a>
			</div>
			<div class="grid_2 " data-bind="with: OrdersGarmentsForFittingVM">
				<a data-bind="click: function(){ loadSelectedGarmentsToFittingsAndGoToFittingsPage(-1, -1, -1); }" class="new-btn icon-go-next new-btn-icon-right"
				 data-role="button">
					<span class="btn-small-letter">New</span>
					<span class="btn-letter"> Fitting</span>
				</a>
			</div>
		</div>
	</div>
</div>