<div data-role="page" id="errorAdd" class="bgBody">
    <h1>Create a New Error</h1>
    <div data-role="content" data-theme="a" style="background:none !important; border:none;">
        <div class="content-wrapper" style="padding-bottom:80px;">
            <div class="container_12">
                <div class="grid_12 ">
                    <h2>Select Customer, Order &amp; Garment</h2>
                    <div class="grid_12">
                        <div class="grid_3">
                            <div class="rightfivepad">
                                <div data-bind="visible: !errorReportVM.customers.selectedCustomer().customer_first_name">
                                    <label for="error_link_customers" data-bind="visible: !errorReportVM.customers.selectedCustomer().customer_first_name">Search Customer :</label>
                                    <input type="text" name="error_link_customers" data-bind="visible: !errorReportVM.customers.selectedCustomer().customer_first_name, value: customers.customerAutocomplete, valueUpdate: 'keyup'" value="" placeholder="Search for your customer"  />
                                    <!--do something to the click here-->
                                    <ul class="grid_12" data-bind="visible: !errorReportVM.customers.selectedCustomer().customer_first_name, foreach: customers.customerAutocompleteList">
                                        <li class="lioffabric" data-bind="click: $parent.customers.selectedCustomer"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </li>
                                    </ul>
                                </div>
                                <div class="grid_12" data-bind="visible: errorReportVM.customers.selectedCustomer().customer_first_name">
                                    <label for="selected_customer">Selected Customer:</label>
                                    <div class="displaycustomerres"> <span data-bind="text: customers.selectedCustomer().customer_first_name"></span> <span data-bind="text: customers.selectedCustomer().customer_last_name"></span><span data-bind="click: customers.removeCustomer" class="deleteusers">X</span> </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind=" visible: customerOrder.orders().length > 0" class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_link_order">Order Select:</label>
                                <select name="error_cat3" id="error_cat3" data-bind="options: customerOrder.orders, value: customerOrder.selectedOrder , optionsText: 'order_string', optionsCaption: 'Customer&lsquo;s Orders'">
                                </select>
                            </div>
                        </div>
                        <div data-bind=" visible: orderGarments.garments().length > 0" class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_linked_garment">Garment Select:</label>
                                <select name="error_cat3" id="error_cat3" data-bind="options: orderGarments.garments, value: orderGarments.selectedGarment, optionsText: 'garment_text', optionsCaption: 'Order&lsquo;s Garment'">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <div class="grid_12" data-bind="visible: garmentMedia.hasMedia()">
                    <h2>Choose from the Garment's Photos</h2>
                    <div class="grid_12">
                        <ul class="grid_12 errorlis olesoilistes" data-bind="foreach: garmentMedia.images">
                            <li>
                                <div class="buttonsoptions" data-bind="click: function(){$parent.garmentMedia.selectMediaGroup(1,$index());}"><span data-bind="text:images.length"></span> images from <span data-bind="text:name"></span></div>
                            </li>
                        </ul>
                        <ul class="grid_12 errorlis olesoilistes" data-bind="foreach: garmentMedia.videos">
                            <li>
                                <div class="buttonsoptions" data-bind="click: function(){$parent.garmentMedia.selectMediaGroup(2,$index());}"><span data-bind="text:videos.length"></span> videos from <span data-bind="text:name"></span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid_12 itemstoupdate marginbottomthirty">
                        <div data-bind="visible:garmentMedia.selectedMediaGroup().length > 0">
                            <ul data-bind="foreach: garmentMedia.selectedMediaGroup" class="errrogal">
                                <li>
                                    <video controls data-bind="visible: $parent.garmentMedia.selectedMediaType() == 2">
                                        <source  data-bind="attr: {src: BUrl + path}" type="video/mp4">
                                        <source  data-bind="attr: {src: BUrl + path}" type="video/mov">
                                    </video>
                                    <img  data-bind="visible: $parent.garmentMedia.selectedMediaType() == 1, attr: {src: BUrl + path}">
                                    <input type="checkbox" data-bind="checked:checked" />
                                    
                                    <!--button type="button" data-bind="click: function(){$root.addGarmentMedia($parentContext.$index(),$index(), 1);}">Add Media</button--> 
                                </li>
                            </ul>
                            <button type="button" data-bind="click: function(){addImages();}">Adjust selected media in the error</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr>
                </div>
                <div class="grid_12">
                    <h2>Error's Photos &amp; Videos</h2>
                    <div class="grid_12 itemstoupdate marginbottomthirty">
                        <div class="grid_3 suffix_2 prefix_2">
                            <button data-bind="click: addImage">Add More Images</button>
                        </div>
                        <div class="grid_3">
                            <button data-bind="click: addVideo">Add More Videos</button>
                        </div>
                        <output id="ErrorAddMedia" data-bind="foreach: errorImagesAdd.getMediaPreview()">
                            <div class="img-wrap" data-bind="attr:{id: $index()}"> <span class="close" data-bind="click: function(){$parent.errorImagesAdd.removeMedia($index());}" >X</span>
                                <div class="image_panel"> <img id="imagemap" class="imageMap"  data-bind="attr: {src: $data}, click:function(data,evt){$parent.dialog($parent.errorImagesAdd,evt, $index(), $index());}" style="width:600px;"></img>
                                    <div class="mapper" data-bind="attr:{id: $parentContext.$data.errorImagesAdd.mapperID($index())}"> </div>
                                    <div id="planetmap" class="planetmap" data-bind="foreach: $parentContext.$data.errorImagesAdd.getTags($index())">
                                        <div class="arrow" data-bind="style:{width: $root.errorImagesAdd.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $root.errorImagesAdd.getTagAttrib('left%', $parentContext.$index(), $index()), top: $root.errorImagesAdd.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
                                        <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.errorImagesAdd.getTagAttrib('top%', $parentContext.$index(), $index())}">
                                            <div class="tagged_title" style="display:block;"> <span data-bind="text: $root.errorImagesAdd.getTagAttrib('text', $parentContext.$index(), $index())"></span> </div>
                                            <div class="tagged_box" style="width:35;height:35;top:-20;display:block;"> <img class="openDialog" data-bind="click: function(){$root.errorImagesAdd.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </output>
                        <output style="width:100%" data-bind="foreach: errorVideosAdd.getMediaPreview()">
                            <div class="grid_12">
            	<div class="grid_6 myvideo-warp">
                <video width="600" controls  class="myvideos">
                                <source data-bind="attr: {src: $data}" type="video/mp4">
                                <source data-bind="attr: {src: $data}" type="video/ogg">
                                Your browser does not support HTML5 video. </video>
                            <span data-bind="click:function(){$parent.errorVideosAdd.removeMedia($index());}" class="close" data-role="button">X</span>
                            	</div>
                <div class="grid_6 myvideo-comments">
                
                            <textarea  data-bind="attr: {id:'note'+$index()}" style="box-shadow: none; border: medium none; width:80%; min-height:60px; float:left;" ></textarea>
                            <a data-bind="click: function(){$parent.errorVideosAdd.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');}" class="mykoubakiss">Add Comment</a>
                            <div style="clear:both;"></div>
                            <ul data-bind="foreach: $parent.errorVideosAdd.getTags($index())" class="mycomentlist">
                                <li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span data-bind="html: $data" class="commint"></span></td>
                                            <td width="35"><a data-bind="click: function(){$parentContext.$parent.errorVideosAdd.removeTag($parentContext.$index(), $index());}" class="kleisemee">x</a></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                            </div>
                            </div>
                        </output>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <div class="grid_12 ">
                    <h2>Select Error's Category</h2>
                    <div class="grid_12  marginbottomthirty">
                        <div class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_cat" >Error Category<span class="mandatoris">*</span>:</label>
                                <select name="error_cat" id="error_cat" data-bind="options: errorCatgory.optionsSelect1, value: errorCatgory.categorie1, optionsText: 'category_name', optionsCaption: 'Select Category'">
                                </select>
                            </div>
                        </div>
                        <div data-bind=" visible: errorCatgory.willCat2Appear" class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_cat1" >Error Sub Category<span class="mandatoris">*</span>:</label>
                                <select name="error_cat1" id="error_cat1" data-bind="options: errorCatgory.optionsSelect2, value: errorCatgory.categorie2, optionsText: 'category_name', optionsCaption: 'Select Category'">
                                </select>
                            </div>
                        </div>
                        <div data-bind=" visible: errorCatgory.willCat3Appear" class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_cat2" >Error Sub Category<span class="mandatoris">*</span>:</label>
                                <select name="error_cat2" id="error_cat2" data-bind="options: errorCatgory.optionsSelect3, value: errorCatgory.categorie3, optionsText: 'category_name', optionsCaption: 'Select Category', visible: errorCatgory.willCat3Appear">
                                </select>
                            </div>
                        </div>
                        <div data-bind=" visible: errorCatgory.willCat4Appear" class="grid_3">
                            <div class="rightfivepad">
                                <label for="error_cat3" >Error Sub Category<span class="mandatoris">*</span>:</label>
                                <select name="error_cat3" id="error_cat3" data-bind="options: errorCatgory.optionsSelect4, value: errorCatgory.categorie4, optionsText: 'category_name', optionsCaption: 'Select Category', visible: errorCatgory.willCat4Appear">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <div class="grid_12 ">
                    <h2>Error Info</h2>
                    <div class="grid_12">
                        <div class="grid_12">
                            <label for="error_title" >Title<span class="mandatoris">*</span>:</label>
                            <input type="text" name="error_title" data-bind="value: error_title" value="" placeholder="Give a title to your error"  />
                        </div>
                        <div class="grid_12">
                            <label for="error_desc" >Description<span class="mandatoris">*</span>:</label>
                            <textarea name="error_desc" id="error_desc" data-bind="value: error_desc" value="" placeholder="Descride the error as detailed possible"  class="myordernote"></textarea>
                        </div>
                        <div class="grid_12">
                            <div class="grid_3">
                                <div class="rightfivepad">
                                    <div>
                                        <label for="error_link_users" >Link Users :</label>
                                        <input type="text" name="error_link_users" data-bind="value: users.userAutocomplete,  valueUpdate: 'keyup'" value="" style="padding: 9px 8px 10px;"  />
                                        <ul class="grid_12" data-bind="foreach: users.usersAutocompleteList">
                                            <li class="lioffabric" data-bind="click: $parent.users.selectedUser"> <span data-bind="text: first_name"></span> <span data-bind="text: last_name"></span> </li>
                                        </ul>
                                    </div>
                                    <div class="grid_4 dwseg" data-bind="visible:users.selectedUsers().length > 0"><span>Selected  Users: </span> 
										<ul data-bind="visible:users.selectedUsers().length > 0, foreach: users.selectedUsers">
											<li><span data-bind="text: first_name"></span> <span data-bind="text: last_name"></span><span class="deleteusers" data-bind="click:function(){$parent.users.selectedUsers.splice($index(),1)}">X</span></li>
										</ul>
									</div>
                                </div>
                                
                            </div>
                            <div class="grid_3">
                                <div class="rightfivepad">
                                    <label for="error_priority" >Priority:</label>
                                    <select name="error_priority" id="error_priority" data-bind="options: priority, value: error_priority, optionsValue: 'priority_text', optionsText: 'priority_text', optionsCaption: 'Priority'">
                                    </select>
                                </div>
                            </div>
                            <div class="grid_3">
                                <div class="rightfivepad">
                                    <div name="error_add_deduction" id="error_add_deduction" class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="visible: authCtrl.userInfo.user_id == 1 || authCtrl.userInfo.user_id == 13 || authCtrl.userInfo.user_id == 24, css: { 'enabled': addDeductionList() == true }, click: function(){addDeductionList(!addDeductionList());if(addDeductionList()){deductionAmount('');}} " >Add To deduction List </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr style="margin-bottom:120px !important;">
                
                
                <!------------------------------------------------------------------------------------------------------------->
                <div id="popup_box" style="width: 100%;">
                    <div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" data-bind="click:function(){$root.closeDialog();}">Close</a>
                        <p class="media_pops"> <span>Add your comments</span>
                            <textarea class="title"></textarea>
                            <input type="button" value="Add Comment" data-mini="true" data-bind="click:function(){$root.addTag();}" />
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2"><a data-bind="click: cancelAdd" class="new-btn icon-exit-design new-btn-icon-left" data-role="button"><span class="btn-small-letter">Cancel and</span><span class="btn-letter"> Go Back</span></a></div>
                <div class="grid_2 prefix_8"><a data-bind="click: addError" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit </span><span class="btn-letter"> New Error</span></a></div>
            </div>
        </div>
    </div>
    <style>
	h2 { margin:0.8em 0 0.3em -2px !important;}
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:600px;
                        position:relative;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
	.rightfivepad { padding-right:0.3em}
	.displaycustomerres {
    background: #ececec none repeat scroll 0 0;
    border-radius: 0.3125em;
    color: #333;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 11px 10px;
	position: relative;
	}
	.deleteusers {
		background: red none repeat scroll 0 0;
		border-radius: 0.3125em;
		color: #fefefe;
		font-weight: 700;
		padding: 4px 3px;
		position: absolute;
		right: 10px;
		text-align: center;
		text-shadow: none;
		top: 7px;
		width: 30px;
	}
	.errrogal li { position:relative;}
	.errrogal img {
    width: 236px;
}
.errrogal .ui-checkbox > input {
    height: 40px;
    left: auto;
    margin: 0 !important;
    position: relative !important;
    top: auto;
    width: 40px;
}
.errrogal .ui-checkbox {
    margin: 0 !important;
    position: absolute;
    right: 2px;
    top: 2px;
}
.errrogal li {
    position: relative;
}
</style>
</div>
