<div data-role="page" id="errorList" class="bgBody">
	<h1>Error List</h1>
  <div data-role="content" data-theme="a" class="panwapola">
    
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_12">
          <div class="grid_3 prefix_9"><a href="#" data-role="button" data-bind="click: addNewError" class="gre_butt">Create a New Error</a> </div>
        </div>
		<div class="grid_12">
          <div class="grid_3 ">Filters</div>
        </div>
		
		<div class="clear"></div>
		<div class="grid_12">
          <div class="grid_2"><span class="myuppertitle centermy">Garment</span></div>
          <div class="grid_2 prefix_4">
			<div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="css: { 'enabled': selectedGarment() == 4 }, click: function(){if(selectedGarment() == 4){selectedGarment(null)}else{selectedGarment(4)}} " >Jacket </div>
		  </div>
          <div class="grid_2 prefix_6">
		    <div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="css: { 'enabled': selectedGarment() == 1 }, click: function(){if(selectedGarment() == 1){selectedGarment(null)}else{selectedGarment(1)}} " >Pants </div>
		  </div>
          <div class="grid_2 prefix_8" >
			<div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="css: { 'enabled': selectedGarment() == 3 }, click: function(){if(selectedGarment() == 3){selectedGarment(null)}else{selectedGarment(3)}} " >Vest </div>
		  </div>
          <div class="grid_2 prefix_10">
		    <div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="css: { 'enabled': selectedGarment() == 2 }, click: function(){if(selectedGarment() == 2){selectedGarment(null)}else{selectedGarment(2)}} " >Shirt </div>
		  </div>
          <!--<div class="grid_5"><span class="myuppertitle centermy">Description</span></div>--> 
        </div>
		<div class="grid_12">
          <div class="grid_2"><span class="myuppertitle">Category</span></div>
          <div class="grid_4 prefix_4">
				<div class="grid_12  marginbottomthirty">
					<div class="grid_3">
						<div class="rightfivepad">
							<label for="error_cat" >Error Category<span class="mandatoris">*</span>:</label>
							<select name="error_cat" id="error_cat" data-bind="options: errorCatgory.optionsSelect1, value: errorCatgory.categorie1, optionsText: 'category_name', optionsCaption: 'Select Category'">
							</select>
						</div>
					</div>
					<div data-bind=" visible: errorCatgory.willCat2Appear" class="grid_3">
						<div class="rightfivepad">
							<label for="error_cat1" >Error Sub Category<span class="mandatoris">*</span>:</label>
							<select name="error_cat1" id="error_cat1" data-bind="options: errorCatgory.optionsSelect2, value: errorCatgory.categorie2, optionsText: 'category_name', optionsCaption: 'Select Category'">
							</select>
						</div>
					</div>
					<div data-bind=" visible: errorCatgory.willCat3Appear" class="grid_3">
						<div class="rightfivepad">
							<label for="error_cat2" >Error Sub Category<span class="mandatoris">*</span>:</label>
							<select name="error_cat2" id="error_cat2" data-bind="options: errorCatgory.optionsSelect3, value: errorCatgory.categorie3, optionsText: 'category_name', optionsCaption: 'Select Category', visible: errorCatgory.willCat3Appear">
							</select>
						</div>
					</div>
					<div data-bind=" visible: errorCatgory.willCat4Appear" class="grid_3">
						<div class="rightfivepad">
							<label for="error_cat3" >Error Sub Category<span class="mandatoris">*</span>:</label>
							<select name="error_cat3" id="error_cat3" data-bind="options: errorCatgory.optionsSelect4, value: errorCatgory.categorie4, optionsText: 'category_name', optionsCaption: 'Select Category', visible: errorCatgory.willCat4Appear">
							</select>
						</div>
					</div>
				</div>
		  </div>
		  <div class="grid_3 prefix_9"><a href="#" data-role="button" data-bind="click: function(){applyFilter();}" class="gre_butt">ApplyFilters</a> </div>
		</div>
		
        <div class="grid_12">
          <div class="grid_1"><span class="myuppertitle">ID</span></div>
          <div class="grid_4"><span class="myuppertitle">Title</span></div>
          <div class="grid_2"><span class="myuppertitle">Date</span></div>
          <div class="grid_3"><span class="myuppertitle centermy">Category</span></div>
          <div class="grid_3"><span class="myuppertitle centermy">Customer</span></div>
          <div class="grid_2"><span class="myuppertitle">Status</span></div>
          <!--<div class="grid_5"><span class="myuppertitle centermy">Description</span></div>--> 
        </div>
        <div class="clear"></div>
        <div data-bind="foreach: ErrorVisible">
          <div class="grid_12 stablelist" data-bind="click: loadSpecificError">
            <div class="grid_1"><span data-bind="text: error_id" class="spacingaroundf-t"></span></div>
            <div class="grid_4"><span data-bind="text: error_title" class="spacingaroundf-t"></span></div>
            <div class="grid_2"><span data-bind="text: error_date" class="spacingaroundf-t"></span> </div>
            <div class="grid_3"><span data-bind="text: category_name" class="spacingaroundf-t"></span> </div>
            <div class="grid_3"><span data-bind="text: customer_first_name" class="spacingaroundf-t"></span><span class="spacingaroundf-t"> </span><span data-bind="text: customer_last_name" class="spacingaroundf-t"></span> </div>
            <div class="grid_2"><span data-bind="text: error_status" class="spacingaroundf-t"></span> </div>
            <!--<div class="grid_5"><span data-bind="text: error_desc" class="spacingaroundf-t"></span></div>--> 
          </div>
        </div>
		<div class="grid_3" > <a href="#" data-role="button" data-bind="click: LoadCategoryImages">Show Category Images</a> </div>
        <div class="grid_3" > <a href="#" data-role="button" data-bind="click: changeList, visible: active">Show Error History</a> </div>
        <div class="grid_3"> <a href="#" data-role="button" data-bind="click: changeList, visible: notActive">Show Active Errors</a> </div>
        <div class="grid_2 suffix_5 prefix_2 myerrorcon">
          <div class="grid_3"><a href="#" data-role="button" data-bind="click: firstPage">&lt;&lt;</a></div>
          <div class="grid_3"><a href="#" data-role="button" data-bind="click: previousPage, enable: hasPreviousPage">&lt;</a></div>
          <div class="grid_3"><a href="#" data-role="button" data-bind="click: nextPage, enable: hasNextPage">&gt;</a></div>
          <div class="grid_3"><a href="#" data-role="button" data-bind="click: lastPage">&gt;&gt;</a></div>
        </div>
      </div>
      <!--<div class="bigladeling left_position stepbigbuts"><a href="#main"><span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Main</span> </a> </div>-->
    </div>
  </div>
  <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_10"><a href="#" data-bind="click: function(){posChangePage('#error_categories');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Return Back</span><span class="btn-letter">To Main</span></a></div>
        </div>
    </div>
</div>
