<div data-role="page" id="errorReply" class="bgBody">
	<div data-bind="template: { name: 'headerTemplate'}"></div>
	<div data-bind="template: { name: 'userInfo'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
		
		<span>Message</span><br/>
		<textarea name="replyMessage" id="replyMessage" data-bind="value: ErrorReplyVM.message" value="" placeholder="Write your message here"  class="myordernote"></textarea><br/>
		
		<hr/>
			
		<h3>Medias</h3>
		<button data-bind="click: mediaUpload.choosePhoto"> Choose Photo Source  </button>
		<button data-bind="click: mediaUpload.chooseVideo"> Choose Video Source </button>
		<ul class="grid_10 suffix_1 prefix_1 olesoilistes" data-bind="foreach: mediaUpload.medias">
			<li data-bind="visible: media_type == '1'">
				<video width="320" height="240" controls>
				  <source src="media_path" type="video/mp4">
				  <source src="media_path" type="video/mov">
				</video>
			</li>
			<li data-bind="visible: media_type == '2'">
				<img height="250" width="250" data-bind="attr: {src: media_path}">
			</li>
		</ul>
		
		<div class="bigladeling left_position stepbigbuts"> <a data-bind="click: cancelEdit"> <span class="prevstep"></span> <span class="firstpart">Cancel and</span> <span class="bigpart">Back</span> </a> </div>
		<div class="bigladeling right_position stepbigbuts"> <a data-bind="click: addReply"> <span class="nextstep"></span> <span class="firstpart">Submit</span> <span class="bigpart">Reply</span> </a> </div>
		
		</div>
	</div>
</div>