<div data-role="page" id="fittings" class="bgBody">
    <div data-role="content" data-theme="a" class="panwapola">
        <div class="content-wrapper">
            <div class="container_12 myfitting" id="Test">
                <div>
                    <div id="imagesDialog" style="background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9999999; display:none;">
                        <div style="background:#FFF; width:30%; margin:10% auto; position:relative; border-radius:3px; padding:0px 10px 15px;">
                            <a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false); }" style="position: absolute; top: 0px; right: 0px; background: red none repeat scroll 0% 0%; color: white; text-align: center; border-radius: 0px 3px 0px 0px; height: 30px; width: 34px; line-height: 29px;">X</a>
                            <div style="margin:1%;padding:10px 0px;">
                                <span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">Do you want to select an image from:</span>
                            </div>
                            <div class="apanwsteps container_12">
                                <div class="grid_3 suffix_6 stepsmenud">
                                    <a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);orderItem.MediaUploadVM.choosePhoto2() }" class="ui-link">Camera</a>
                                </div>
                                <div class="grid_3 stepsmenud">
                                    <a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);$('#files').click(); }" class="ui-link">Gallery</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid_7 prefix_5" style="display:none;">
                        <input id="files" type="file" accept="image/*" style="display:none" />
                        <div id="filesBtn" data-role="button">Upload media</div>
                    </div>
                    <!-- DIALOG -->
                    <div id='mediaSize' data-bind="visible: false">
                        <img id="imagesize" onhashchange="imageChange()" />
                    </div>
                    <div id="fittingsDialog123" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
                        <div style=" background:#FFF; z-index:1022; width:30%; margin:15% 35%; border-radius:3px; padding:0px 10px 15px;">
                            <div style="margin:1%;padding:10px 0px;">
                                <span id="fittingsDialogText123" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;"></span>
                            </div>
                            <div class="apanwsteps container_12">
                                <div class="grid_2 suffix_8 stepsmenud">
                                    <a data-bind="click: function(){ buttonNoAccept(); }">NO</a>
                                </div>
                                <div class="grid_2 stepsmenud">
                                    <a data-bind="click: function(){ buttonYesAccept(); }">YES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF DIALOG -->
                    <div class="grid_12 marginbottwent">
                        <ul data-bind="foreach: workflow" class="fittingmenus">
                            <li data-bind="click: $parent.currentStep, css: { 'selected': $parent.currentStep().id === $data.id, 'completed': $data.completed === 'true', 'pending': $data.completed === 'pending'}">
                                <span data-bind="css: myclass"></span>
                                <div data-bind="text: title"></div>
                            </li>
                        </ul>
                        <div style="display:block;" class="fittingname grid_8">
                            <span class="firstpart">
                                <span data-bind="text: FittingCustomer().customer_first_name"></span>
                                <span>&nbsp;</span>
                                <span data-bind="text: FittingCustomer().customer_last_name"></span>
                            </span>
                            <span class="bigpart">
                                <span data-bind="text: FittingGarment"></span>
                                <span>&nbsp; / &nbsp;</span>
                                <span>Fabric:&nbsp;</span>
                                <span data-bind="text: FittingGarmentFabric"></span>

                                <span>Barcode:&nbsp;</span>
                                <span data-bind="text: FittingGarmentBarcode"></span>
                            </span>
                        </div>
                        <div class="grid_7">
                            <div class="grid_12 fittingselect" data-bind="visible: variantNameFitting().length > 1">
                                <ul data-bind="foreach: variantNameFitting">
                                    <li data-bind="css: { 'active': $parent.selectedVariantFitting() === $data, 'completedfitting': $data.completed()}, click: $parent.selectedVariantFitting">
                                        <a>
                                            <span data-bind="text: title"></span>&nbsp;&nbsp;
                                            <span data-bind="text: $parent.FittingData[$index()].FittingGarmentFabric"></span>
                                        </a>
                                    </li>
                                    <!-- function(){console.log($parent.selectedVariantFitting());}	-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 0" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <div class="grid_6 centerme">
                                <output id="FittingFrontImageMedia" data-bind="visible:frontImage.getMediaPreview()() === ''">
                                    <img src="gfx/fittings/take-image-front.png">
                                </output>
                                <output id="FittingFrontImageMedia" data-bind="visible:frontImage.getMediaPreview()() !== ''">
                                    <div class="img-wrap" data-bind="visible:frontImage.getMediaPreview()() !== ''">
                                        <span class="close" data-bind="visible: isCompleted() == false && isActive() == true, click: function(){frontImage.removeMedia()}">X</span>
                                        <div class="image_panel">
                                            <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: frontImage.getMediaPreview()()}"> </div>
                                    </div>
                                </output>
                            </div>
                            <div class="grid_6 imaggo" data-bind="visible: isCompleted() == false && isActive() == true">
                                <h3 class="title_step">Front Image</h3>
                                <h4 class="title_step">
                                    <span class="bigpart">
                                        <span data-bind="text: FittingGarment"></span>
                                        <span>&nbsp; / &nbsp;</span>
                                        <span>Fabric:&nbsp;</span>
                                        <span data-bind="text: FittingGarmentFabric"></span>
                                        <img height="80" width="80" data-bind="attr: {src: FittingGarmentFabricImage}" style="background-color: rgb(254, 254, 254); display: block; margin: 0px auto;">
                                    </span>
                                </h4>
                                <h4 class="title_step">Please upload a front image </h4>
                                <div class="grid_7 prefix_5">
                                    <input id="FittingFrontImageFiles" type="file" accept="image/*" style="display:none" />
                                    <div id="FittingFrontImageMediaBtn" data-role="button">Upload media</div>
                                </div>
                                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="FittingFrontImage">
                                    <input id="FittingFrontImage" name="FittingFrontImage" type="text" data-bind="visible: false, value: FittingFrontImage" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 1" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <div class="grid_6 centerme">
                                <output id="FittingSideImageMedia" data-bind="visible:sideImage.getMediaPreview()() === ''">
                                    <img src="gfx/fittings/take-image-side.png">
                                </output>
                                <output id="FittingSideImageMedia" data-bind="visible:sideImage.getMediaPreview()() !== ''">
                                    <div class="img-wrap" data-bind="visible:sideImage.getMediaPreview()() !== ''">
                                        <span class="close" data-bind="visible: isCompleted() == false && isActive() == true, click: function(){sideImage.removeMedia()}">X</span>
                                        <div class="image_panel">
                                            <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: sideImage.getMediaPreview()()}"> </div>
                                    </div>
                                </output>
                            </div>
                            <div class="grid_6 imaggo" data-bind="visible: isCompleted() == false && isActive() == true">
                                <h3 class="title_step">Side Image</h3>
                                <h4 class="title_step">
                                    <span class="bigpart">
                                        <span data-bind="text: FittingGarment"></span>
                                        <span>&nbsp; / &nbsp;</span>
                                        <span>Fabric:&nbsp;</span>
                                        <span data-bind="text: FittingGarmentFabric"></span>
                                        <img height="80" width="80" data-bind="attr: {src: FittingGarmentFabricImage}" style="background-color: rgb(254, 254, 254); display: block; margin: 0px auto;">
                                    </span>
                                </h4>
                                <h4 class="title_step">Please upload a side image</h4>
                                <div class="grid_7 prefix_5">
                                    <input id="FittingSideImageFiles" type="file" accept="image/*" style="display:none" />
                                    <div id="FittingSideImageMediaBtn" data-role="button">Upload media</div>
                                </div>
                                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="FittingSideImage">
                                    <input id="FittingSideImage" name="FittingSideImage" type="text" data-bind="visible: false, value: FittingSideImage" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 2" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <div class="grid_6 centerme">
                                <output id="FittingBackImageMedia" data-bind="visible:backImage.getMediaPreview()() === ''">
                                    <img src="gfx/fittings/take-image-back.png">
                                </output>
                                <output id="FittingBackImageMedia" data-bind="visible:backImage.getMediaPreview()() !== ''">
                                    <div class="img-wrap" data-bind="visible:backImage.getMediaPreview()() !== ''">
                                        <span class="close" data-bind="visible: isCompleted() == false && isActive() == true, click: function(){backImage.removeMedia()}">X</span>
                                        <div class="image_panel">
                                            <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: backImage.getMediaPreview()()}"> </div>
                                    </div>
                                </output>
                            </div>
                            <div class="grid_6 imaggo" data-bind="visible: isCompleted() == false && isActive() == true">
                                <h3 class="title_step">Back Image</h3>
                                <h4 class="title_step">
                                    <span class="bigpart">
                                        <span data-bind="text: FittingGarment"></span>
                                        <span>&nbsp; / &nbsp;</span>
                                        <span>Fabric:&nbsp;</span>
                                        <span data-bind="text: FittingGarmentFabric"></span>
                                        <img height="80" width="80" data-bind="attr: {src: FittingGarmentFabricImage}" style="background-color: rgb(254, 254, 254); display: block; margin: 0px auto;">
                                    </span>
                                </h4>
                                <h4 class="title_step">Please upload a back image</h4>
                                <div class="grid_7 prefix_5">
                                    <input id="FittingBackImageFiles" type="file" accept="image/*" style="display:none" />
                                    <div id="FittingBackImageMediaBtn" data-role="button">Upload media</div>
                                </div>
                                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="FittingBackImage">
                                    <input id="FittingBackImage" name="FittingBackImage" type="text" data-bind="visible: false, value: FittingBackImage" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 3" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <div class="grid_6 centerme">
                                <output id="FittingCustomImageMedia" data-bind="visible: customImages.getMediaPreview()().length === 0">
                                    <img src="gfx/fittings/additional.png" width="283" height="420">
                                </output>
                                <output id="FittingFrontImageMedia" data-bind="visible: customImages.getMediaPreview()().length > 0, foreach: customImages.getMediaPreview()">
                                    <div class="img-wrap" data-bind="attr:{id: $index()}">
                                        <!--span class="close" data-bind="click: function$parent.customImages.removeMedia()" ></span-->
                                        <span class="close" data-bind="visible: $root.isCompleted() == false && $root.isActive() == true, click: function(){$parent.customImages.removeMedia($index());}">X</span>
                                        <div class="image_panel">
                                            <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: $data}, click:function(data,evt){$parent.dialog($parent.customImages,evt, $index(), $index());}"></img>
                                            <div class="mapper" data-bind="attr:{id: $parent.mapperID($index())}"> </div>
                                            <div id="planetmap" class="planetmap" data-bind="foreach: $parent.customImages.getTags($index())">
                                                <div class="arrow" data-bind="style:{width: $root.customImages.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $root.customImages.getTagAttrib('left%', $parentContext.$index(), $index()), top: $root.customImages.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
                                                <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.customImages.getTagAttrib('top%', $parentContext.$index(), $index())}">
                                                    <div class="tagged_title" style="display:block;">
                                                        <span data-bind="text: $root.customImages.getTagAttrib('text', $parentContext.$index(), $index())"></span>
                                                    </div>
                                                    <div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
                                                        <img class="openDialog" data-bind="click: function(){$root.customImages.removeTag($parentContext.$index(), $index());}" value="Delete"
                                                            src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </output>
                            </div>
                            <div class="grid_6 imaggo" data-bind="visible: isCompleted() == false && isActive() == true">
                                <h3 class="title_step">Additional Images</h3>
                                <h4 class="title_step">
                                    <span class="bigpart">
                                        <span data-bind="text: FittingGarment"></span>
                                        <span>&nbsp; / &nbsp;</span>
                                        <span>Fabric:&nbsp;</span>
                                        <span data-bind="text: FittingGarmentFabric"></span>
                                        <img height="80" width="80" data-bind="attr: {src: FittingGarmentFabricImage}" style="background-color: rgb(254, 254, 254); display: block; margin: 0px auto;">
                                    </span>
                                </h4>
                                <h4 class="title_step">Upload additional images (optional)</h4>
                                <div class="grid_7 prefix_5">
                                    <input id="FittingCustomImageFiles" type="file" accept="image/*" style="display:none" />
                                    <div id="FittingCustomImageMediaBtn" data-role="button">Upload media</div>
                                </div>
                                <div class="grid_6 prefix_4 suffix_5 selectlist" data-target-attr="FittingCustomImage">
                                    <input id="FittingCustomImage" name="FittingCustomImage" type="text" data-bind="visible: false, value: FittingCustomImage"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 4" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <h3 class="title_step">Notes Front Image for </h3>
                            <h4 class="title_step">
                                <span class="bigpart">
                                    <span data-bind="text: FittingGarment"></span>
                                    <span>&nbsp; / &nbsp;</span>
                                    <span>Fabric:&nbsp;</span>
                                    <span data-bind="text: FittingGarmentFabric"></span>
                                </span>
                            </h4>
                            <h4 class="title_step">Please add your notes on the image</h4>
                            <output id="FittingFrontImageMedia2" data-bind="visible:$root.frontImage.getMediaPreview()() === ''">
                                <div id="NoFittingFrontImageMedia2">Please Upload an image</div>
                            </output>
                            <output id="FittingFrontImageMedia" data-bind="visible:$root.frontImage.getMediaPreview()() !== ''">
                                <div class="img-wrap" data-bind="visible:$root.frontImage.getMediaPreview()() !== ''">
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: $root.frontImage.getMediaPreview()()}, click:function(data,evt){dialog(frontImage,evt, 0);}">
                                        <div id="mapper" class="mapper"> </div>
                                        <div id="planetmap" class="planetmap" data-bind="foreach: $root.frontImage.getTags()">
                                            <div class="arrow" data-bind="style:{width:$root.frontImage.getTagAttrib('width%', 0, $index()), height:'2px', left: $root.frontImage.getTagAttrib('left%', 0, $index()), top: $root.frontImage.getTagAttrib('top%', 0, $index()) }"></div>
                                            <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.frontImage.getTagAttrib('top%', 0, $index())}">
                                                <div class="tagged_title" style="display:block;">
                                                    <span data-bind="text: $parent.frontImage.getTagAttrib('text', 0, $index())"></span>
                                                </div>
                                                <div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
                                                    <img class="openDialog" data-bind="click: function(){$root.frontImage.removeTag(0, $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png"
                                                        style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </output>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 5" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <h3 class="title_step">Notes Side Image for </h3>
                            <h4 class="title_step">
                                <span class="bigpart">
                                    <span data-bind="text: FittingGarment"></span>
                                    <span>&nbsp; / &nbsp;</span>
                                    <span>Fabric:&nbsp;</span>
                                    <span data-bind="text: FittingGarmentFabric"></span>
                                </span>
                            </h4>
                            <h4 class="title_step">Please add your notes on the side image</h4>
                            <output id="FittingSideImageMedia2" data-bind="visible:sideImage.getMediaPreview()() === ''">
                                <div id="NoFittingSideImageMedia2">Please Upload an image</div>
                            </output>
                            <output id="FittingSideImageMedia" data-bind="visible:sideImage.getMediaPreview()() !== ''">
                                <div class="img-wrap" data-bind="visible:sideImage.getMediaPreview()() !== ''">
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: sideImage.getMediaPreview()()}, click:function(data,evt){dialog(sideImage,evt, 0);}">
                                        <div id="mapper" class="mapper"> </div>
                                        <div id="planetmap" class="planetmap" data-bind="foreach: sideImage.getTags()">
                                            <div class="arrow" data-bind="style:{width:$parent.sideImage.getTagAttrib('width%', 0, $index()), height:'2px', left: $parent.sideImage.getTagAttrib('left%', 0, $index()), top: $parent.sideImage.getTagAttrib('top%', 0, $index()) }"></div>
                                            <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $parent.sideImage.getTagAttrib('top%', 0, $index())}">
                                                <div class="tagged_title" style="display:block;">
                                                    <span data-bind="text: $parent.sideImage.getTagAttrib('text', 0, $index())"></span>
                                                </div>
                                                <div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
                                                    <img class="openDialog" data-bind="click: function(){$root.sideImage.removeTag(0, $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png"
                                                        style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </output>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!---------------------------->
                    <div data-bind="visible: currentStep().id === 6" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <h3 class="title_step">Notes Back Image for </h3>
                            <h4 class="title_step">
                                <span class="bigpart">
                                    <span data-bind="text: FittingGarment"></span>
                                    <span>&nbsp; / &nbsp;</span>
                                    <span>Fabric:&nbsp;</span>
                                    <span data-bind="text: FittingGarmentFabric"></span>
                                </span>
                            </h4>
                            <h4 class="title_step">Please add your notes on the back image</h4>
                            <output id="FittingBackImageMedia2" data-bind="visible:backImage.getMediaPreview()() === ''">
                                <div id="NoFittingBackImageMedia2">Please Upload an image</div>
                            </output>
                            <output id="FittingBackImageMedia" data-bind="visible:backImage.getMediaPreview()() !== ''">
                                <div class="img-wrap" data-bind="visible:backImage.getMediaPreview()() !== ''">
                                    <div class="image_panel">
                                        <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: backImage.getMediaPreview()()}, click:function(data,evt){dialog(backImage,evt, 0);}">
                                        <div id="mapper" class="mapper"> </div>
                                        <div id="planetmap" class="planetmap" data-bind="foreach: backImage.getTags()">
                                            <div class="arrow" data-bind="style:{width:$parent.backImage.getTagAttrib('width%', 0, $index()), height:'2px', left: $parent.backImage.getTagAttrib('left%', 0, $index()), top: $parent.backImage.getTagAttrib('top%', 0, $index()) }"></div>
                                            <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $parent.backImage.getTagAttrib('top%', 0, $index())}">
                                                <div class="tagged_title" style="display:block;">
                                                    <span data-bind="text: $parent.backImage.getTagAttrib('text', 0, $index())"></span>
                                                </div>
                                                <div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
                                                    <img class="openDialog" data-bind="click: function(){$root.backImage.removeTag(0, $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png"
                                                        style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </output>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!------------------------>
                    <div data-bind="visible: currentStep().id === 7" class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <h4 class="title_step">Upload Fitting Video</h4>
                            <div class="grid_2 suffix_10" style="margin-bottom:20px;">
                                <div data-role="button" data-bind="click: recordVideo" class="loadvideos">Upload Video</div>
                                <span class="underbuttons">Upload Video</span>
                            </div>
                            <output data-bind="foreach: FittingVideo.getMediaPreview()">
                                <div class="grid_12">
                                    <div class="grid_6 myvideo-warp">
                                        <video controls class="myvideos">
                                            <source data-bind="attr: {src: $data}" type="video/mp4">
                                            <source data-bind="attr: {src: $data}" type="video/ogg"> Your browser does not support HTML5 video.
                                        </video>
                                        <span class="close" data-bind="click:function(){$parent.FittingVideo.removeMedia($index());$parent.updateSkipButtons();}">X</span>
                                    </div>
                                    <div class="grid_6 myvideo-comments">
                                        <textarea data-bind="attr: {id:'note'+$index()}"></textarea>
                                        <a class="mykoubakiss" data-bind="click: function(){$parent.FittingVideo.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');$parent.updateSkipButtons();}">Add Comment</a>
                                        <div style="clear:both;"></div>
                                        <ul data-bind="foreach: $parent.FittingVideo.getTags($index())" class="mycomentlist">
                                            <li>
                                                <span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            <span data-bind="html: $data" class="commint"></span>
                                                        </td>
                                                        <td width="35" valign="top" align="center">
                                                            <a data-bind="click: function(){$parentContext.$parent.FittingVideo.removeTag($parentContext.$index(), $index());$parentContext.$parent.updateSkipButtons();}"
                                                                class="close">X</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </output>


                            <div class="clear"></div>
                        </div>
                    </div>


                    <!---------------------->
                    <div data-bind="visible: currentStep().id === 8" class="inpickme">
                        <div class="grid_10 prefix_1 littleing biggerdown littleing biggerdown">
                            <h3 class="title_step">Assign Tailor</h3>
                            <h4 class="title_step">Please select your tailor, your required delivered date and add any extra notes</h4>
                            <!--Select tailor and add your comments-->
                            <div class="grid_7">
                                <div data-role="fieldcontain" class="mytailors">
                                    <span class="finallabeling">Tailor's Name:</span>
                                    <!--<select name="FittingTailor" id="tailor" class="ui-enabled" data-mini="true" data-bind="options: FittingTailors, value: FittingTailor, optionsText: 'last_name', optionsCaption: 'Select Tailor', enable: isCompleted() == false && isActive() == true">
                  </select>-->

                                    <select name="FittingTailor" id="tailor" class="ui-enabled" data-shadow="false" data-iconshadow="false" data-mini="false"
                                        data-bind="options: FittingTailors, value: FittingTailor, optionsText: function(item){return item.first_name + ' ' + item.last_name;}, optionsCaption: 'Select Tailor', enable: isCompleted() == false && isActive() == true">
                                    </select>
                                </div>
                                <div data-role="fieldcontain" data-target-attr="FittingTailorNotes">
                                    <span class="finallabeling">Any specific notes for the tailor:</span>
                                    <textarea name="FittingTailorNotes" data-bind="value: FittingTailorNotes, updateFormOnChange: FittingTailorNotes, valueUpdate: 'afterkeydown', enable: isCompleted() == false && isActive() == true"
                                        style="box-shadow: none; border: medium none; width:100%; min-height:120px;"></textarea>
                                </div>
                            </div>
                            <!--Select alteration date-->
                            <div class="grid_5">
                                <div data-role="fieldcontain" style="margin-left:24px;">
                                    <span class="finallabeling">Select date imperative for delivery</span>
                                    <div data-bind="datepicker: {dateFormat: 'dd/mm/yy', value: FittingDeliveryDate, minDate: CalendarDate}"></div>
                                </div>
                            </div>
                            <!--<div id="roundup" class="grid_12" data-bind="html: assignTailorText()"> </div> we will not show this info until the cords are printed on each image-->
                            <div id="roundup" class="grid_12" data-bind="html: assignTailorText(), visible: false"> </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="popup_box" style="width: 100%;">
                        <div class="form_panel" id="form_panel" name="form_panel">
                            <a id="popupBoxClose" class="close_popups" onclick="javascript:closeDialog();">Close</a>
                            <p class="media_pops">
                                <span>Add your comments</span>
                                <textarea class="title" id="title_comment_holder" data-bind="value: tagText"></textarea>
                                <input type="button" value="Add Comment" data-mini="true" data-bind="click: addTag" />
                            </p>
                            <div class="clear"></div>
                            <div class="grid_12">
                                <ul class="myfitcomm grid_12" data-bind="visible: FittingGarment() == 'jacket' || FittingGarment() == 'Jacket' || FittingGarment() == 'Suit/J' || FittingGarment() == 'Jacket/S', foreach: orderItem.garment_comments_jacket"
                                    id="garment_comments_table">
                                    <li>
                                        <span data-bind="text : $data, click : function(){$parent.setText($data, $parent.tagText);}">
                                        </span>
                                    </li>
                                </ul>
                                <ul class="myfitcomm grid_12" data-bind="visible: FittingGarment() == 'vest' || FittingGarment() == 'Vest',foreach: orderItem.garment_comments_vest"
                                    id="garment_comments_table">
                                    <li>
                                        <span data-bind="text : $data, click : function(){$parent.setText($data, $parent.tagText);}">
                                        </span>
                                    </li>
                                </ul>
                                <ul class="myfitcomm grid_12" data-bind="visible: FittingGarment() == 'pant' || FittingGarment() == 'Pant' || FittingGarment() == 'pants' || FittingGarment() == 'Pants' || FittingGarment() == 'Suit/P' || FittingGarment() == 'Pant/S', foreach: orderItem.garment_comments_pants"
                                    id="garment_comments_table">
                                    <li>
                                        <span data-bind="text : $data, click : function(){$parent.setText($data, $parent.tagText);}">
                                        </span>
                                    </li>
                                </ul>
                                <ul class="myfitcomm grid_12" data-bind="visible: FittingGarment() == 'shirt' || FittingGarment() == 'Shirt', foreach: orderItem.garment_comments_shirt"
                                    id="garment_comments_table">
                                    <li>
                                        <span data-bind="text : $data, click : function(){$parent.setText($data, $parent.tagText);}">
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- BACK DIALOG -->
                        <div id="BoxBack" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
                            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:2px; padding:1px 10px 10px;">
                                <div>
                                    <h3 style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Back to garments list</h3>
                                    <div class="clear"></div>
                                    <span style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px; text-align:center; margin:4px; display:block;">Are you sure you want to go back to fitting list?
                                        <br/> All data will be lost</span>
                                </div>
                                <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                                    <div class="grid_3 suffix_6 stepsmenud">
                                        <a data-bind="click: function(){ document.getElementById('BoxBack').style.display = 'none'; }">Cancel</a>
                                    </div>
                                    <div class="grid_3 stepsmenud">
                                        <a href="#" data-bind="click: function(){posChangePage('#customerGarmentsFittingsList');}">Proceed</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF DIALOG -->

                        <!---------------------->

                    </div>
                </div>
            </div>

            <div class="j-footer container_12">
                <div class="half-em-around">
                    <div class="grid_4">
                        <div class="grid_6" data-bind="visible: isActive()">
                            <a data-bind="click: function(){ document.getElementById('BoxBack').style.display = 'block'; }" class="new-btn icon-goto-main new-btn-icon-left"
                                data-role="button">
                                <span class="btn-small-letter">Customer</span>
                                <span class="btn-letter"> Fittings</span>
                            </a>
                        </div>
                        <div class="grid_6" data-bind="visible: !isActive()">
                            <a data-bind="visible: !isActive(), click: function(){posChangePage('#customerGarmentsFittingsList');}" class="new-btn icon-goto-main new-btn-icon-left"
                                data-role="button">
                                <span class="btn-small-letter">Customer</span>
                                <span class="btn-letter"> Fittings</span>
                            </a>
                        </div>
                        <div class="grid_6" data-bind="visible: FittingId() != ''">
                            <a data-bind="click: function(){openError();}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                                <span class="btn-small-letter">Open a</span>
                                <span class="btn-letter"> New Error</span>
                            </a>
                        </div>
                    </div>
                    <div class="grid_8" data-bind="visible: isCompleted() == false && isActive() == true">
                        <div class="grid_3" data-bind="visible: currentStep().id != 8" style="float:right !important;">
                            <a data-bind="click: nextStep" class="new-btn icon-go-next new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Submit and</span>
                                <span class="btn-letter"> Next Step</span>
                            </a>
                        </div>

                        <div class="grid_3" data-bind="visible: skipAppear() == true && (currentStep().id === 4 || currentStep().id === 5 || currentStep().id === 6)"
                            style="float:right !important; margin-right:6px;">
                            <a data-bind="click: skipStep" class="new-btn icon-skip-notes new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Skip Notes</span>
                                <span class="btn-letter"> For Later</span>
                            </a>
                        </div>
                        <div class="grid_3" data-bind="visible: FittingId() == '' && skipAppearVideoNotes() && (currentStep().id === 7)" style="float:right !important; margin-right:6px;">
                            <a data-bind="click: skipVideoComments" class="new-btn icon-goto-main new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Skip Video Notes</span>
                                <span class="btn-letter"> For Later</span>
                            </a>
                        </div>

                        <div class="grid_3" data-bind="visible: FittingId() == '' && skipAppearVideo() && (currentStep().id === 7)" style="float:right !important; margin-right:6px;">
                            <a data-bind="click: skipStep" class="new-btn icon-goto-main new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Skip Video</span>
                                <span class="btn-letter"> For Later</span>
                            </a>
                        </div>


                        <div class="grid_3" data-bind="visible: currentStep().id === 8 && FittingId() == ''" style="float:right !important;">
                            <a data-bind="click: sync" class="new-btn icon-go-next new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Submit your</span>
                                <span class="btn-letter"> Fitting</span>
                            </a>
                        </div>
                        <div class="grid_3" data-bind="visible: FittingId() != '' && isActive() == true && currentStep().id === 8" style="float:right !important;">
                            <a data-bind="click: sync_edit" class="new-btn icon-go-next new-btn-icon-right" data-role="button">
                                <span class="btn-small-letter">Submit your</span>
                                <span class="btn-letter"> Edited Fitting</span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /content -->


    <style type="text/css">
        #popup_box {
            left: 0;
            position: fixed;
            top: 0;
            z-index: 999;
            _position: absolute;
            /* hack for internet explorer 6 */
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }

        div.planetmap div {
            display: block;
            position: absolute;
        }

        div.image_panel {
            float: left;
            width: 480px;
            position: relative;
        }

        div.image_panel img {
            left: 0;
            top: -102px;
            max-width: 480px;
            overflow: hidden;
        }

        div.form_panel .row {
            clear: both;
            margin-top: 20px;
        }

        div.arrow {
            background: none repeat scroll 0 0 #FF0000;
            color: #FF0000;
            z-index: 500;
        }
    </style>
    <script>
        /*
                    $(".tagged").live("click",function(e){
        console.log("dafuq");
                        $(this).find(".tagged_box").html("<img style='width: 35px; height:35px; margin-top: -3px; margin-left: 450px; padding: 0px;' src='gfx/del.png' class='openDialog' value='Delete' onclick='javascript: deleteImageTag(this, " + myglobal + ", " + myglobal + ");' />");
                        var img_scope_top = $("img.imageMap").offset().top + $("img.imageMap").height() - $(this).find(".tagged_box").height();
                        var img_scope_left = $("img.imageMap").offset().left + $("img.imageMap").width() - $(this).find(".tagged_box").width();
                    });
        			*/
        var closeDialog = function () {
            $("div.mapper").hide();
            $("textarea.title").val('');
            $("div.form_panel").hide();
        };

        var addTag = function () {
            console.log("addtag" + orderItem.fittingsVM.currentStep().id);
            var whatImage = "";
            if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                whatImage = "FittingFrontImage";
            } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                whatImage = "FittingSideImage";
            } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                whatImage = "FittingBackImage";
            } else if (orderItem.fittingsVM.currentStep().id == 3) {
                whatImage = "FittingCustomImage"
            }
            var whichGarment = orderItem.fittingsVM.selectedVariantFitting().id;

            var text = $("textarea.title").val();
            if (text.length > 0) {
                var pos_width = $(myglobal2).width();
                var pos_height = $(myglobal2).height();
                var relative_width = global_relative_left;
                var relative_height = global_relative_top;
                var fromleft = 100 + relative_width;
                var arrowwidth = 105 - relative_width;

                $('#planetmap_' + myglobal).append('<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' + relative_width + '%;top:' + relative_height + '%;"></div><div class="tagged"  style="width:' + pos_width + ';height:' +
                    pos_height + ';left:105%;top:' + relative_height + '%;" ><div class="tagged_title" style="display:block;" >' +
                    $("textarea.title").val() + '</div><div class="tagged_box" style="width:' + pos_width + ';height:' +
                    pos_height + ';top:' + (pos_height - 55) + ';display:block;" ><img style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-left: 450px; margin-top: -3px; padding: 0px;" src="http://shirt-tailor.net/thepos/appimg/del.png" class="openDialog" value="Delete" onclick="javascript: deleteImageTag(this, ' + relative_width + ', ' + relative_height + ');" /></div></div>');

                tmp = localStorage.getItem(whatImage + 'Tags' + whichGarment);
                try {
                    tmp = (tmp == null || !tmp) ? [] : JSON.parse(tmp);
                    tmp.push({
                        image_id: myglobal,
                        left: relative_width,
                        top: relative_height,
                        text: text
                    });
                } catch (e) {
                    tmp = [];
                    tmp.push({
                        image_id: myglobal,
                        left: relative_width,
                        top: relative_height,
                        text: text
                    });
                }
                localStorage.setItem(whatImage + 'Tags' + whichGarment, JSON.stringify(tmp));
                console.log("tag added");
                orderItem.fittingsVM.skipAppear(false);

                if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                    orderItem.fittingsVM.NoFrontTags(false);
                    orderItem.fittingsVM.SkippedFrontTags(false);
                } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                    orderItem.fittingsVM.NoSideTags(false);
                    orderItem.fittingsVM.SkippedSideTags(false);
                } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                    orderItem.fittingsVM.NoBackTags(false);
                    orderItem.fittingsVM.SkippedBackTags(false);
                }

                $("div.mapper").hide();
                $("textarea.title").val('');
                $("div.form_panel").hide();
            }
            orderItem.fittingsVM.assignTailorText(); // used to fire the change event
        };

        /*
            var openDialog = function(){
                $("div.form_panel").fadeIn("slow");
            };*/

        var deleteImageTag = function (obj, left, top) {
            var c = confirm("Do you want to delete this tag?");
            if (c == true) {
                var whatImage = "";
                if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                    whatImage = "FittingFrontImage";
                } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                    whatImage = "FittingSideImage";
                } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                    whatImage = "FittingBackImage";
                } else if (orderItem.fittingsVM.currentStep().id == 3) {
                    whatImage = "FittingCustomImage"
                }
                var whichGarment = orderItem.fittingsVM.selectedVariantFitting().id;
                $(obj).parent().parent().prev().remove();
                $(obj).parent().parent().remove();
                // REFRESHING LOCALSTORAGE TAGS						
                thetags = localStorage.getItem(whatImage + 'Tags' + whichGarment);
                thetags = (thetags === null) ? [] : JSON.parse(thetags);
                for (var b = thetags.length - 1; b >= 0; b--) {
                    if (thetags[b].left == left && thetags[b].top == top) {
                        thetags.splice(b, 1);
                    }
                }
                // SAVING LOCALSTORAGE TAGS
                tmp = [];
                for (var x = 0; x < thetags.length; x++) {
                    //if(thetags[x].left != left && thetags[x].top != top){
                    //	console.log("kept " + x);
                    tmp.push({
                        image_id: thetags[x].image_id,
                        left: thetags[x].left,
                        top: thetags[x].top,
                        text: thetags[x].text
                    });
                    //}
                }
                localStorage.removeItem(whatImage + 'Tags' + whichGarment);
                localStorage.setItem(whatImage + 'Tags' + whichGarment, JSON.stringify(tmp));
            }
            //	}else{					
            //		;
            //	}
            orderItem.fittingsVM.assignTailorText(); // used to fire the change event
        };
    </script>
    <script>
        function removepic(div_id) {
            setTimeout(function () {
                if (confirm('Do you want to delete this image?')) {
                    var whatImage = "";
                    if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                        whatImage = "FittingFrontImage";
                    } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                        whatImage = "FittingSideImage";
                    } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                        whatImage = "FittingBackImage";
                    } else if (orderItem.fittingsVM.currentStep().id == 3) {
                        whatImage = "FittingCustomImage"
                    } else {
                        //SHOULD NEVER COME HERE
                        whatImage = "ERROR";
                    }
                    var whichGarment = orderItem.fittingsVM.selectedVariantFitting().id;

                    document.getElementById(div_id).remove();
                    // REFRESHING LOCALSTORAGE PHOTOS						
                    var thephotos = localStorage.getItem(whatImage + 'Photo' + whichGarment);
                    thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
                    for (var a = thephotos.length - 1; a >= 0; a--) {
                        if (thephotos[a].image_id == div_id) {
                            thephotos.splice(a, 1);
                        }
                    }
                    // REFRESHING LOCALSTORAGE TAGS						
                    var thetags = localStorage.getItem(whatImage + 'Tags' + whichGarment);
                    thetags = (thetags === null) ? [] : JSON.parse(thetags);
                    for (var b = thetags.length - 1; b >= 0; b--) {
                        if (thetags[b].image_id == div_id) {
                            thetags.splice(b, 1);
                        }
                    }
                    // SAVING LOCALSTORAGE PHOTOS
                    var tmp = [];
                    for (var x = 0; x < thephotos.length; x++) {
                        tmp.push({
                            customer_id: thephotos[x].customer_id,
                            image_id: thephotos[x].image_id,
                            picture: thephotos[x].picture,
                            thumbnail: thephotos[x].thumbnail
                        });
                    }
                    localStorage.removeItem(whatImage + 'Photo' + whichGarment);
                    localStorage.setItem(whatImage + 'Photo' + whichGarment, JSON.stringify(tmp));
                    // SAVING LOCALSTORAGE TAGS
                    tmp = [];
                    for (var x = 0; x < thetags.length; x++) {
                        tmp.push({
                            image_id: thetags[x].image_id,
                            left: thetags[x].left,
                            top: thetags[x].top,
                            text: thetags[x].text
                        });
                    }
                    localStorage.removeItem(whatImage + 'Tags' + whichGarment);
                    localStorage.setItem(whatImage + 'Tags' + whichGarment, JSON.stringify(tmp));

                    if (orderItem.fittingsVM.currentStep().id == 3) {
                        console.log("test1");
                        tmp = [];
                        tmp = localStorage.getItem('FittingCustomImagePhoto' + whichGarment);
                        tmp = (tmp === null) ? [] : JSON.parse(tmp);
                        if (tmp.length == 0) {
                            console.log("test2");
                            document.getElementById('FittingCustomImageMedia').innerHTML = ['<img src="gfx/fittings/additional.png"/>'].join('');
                        } else {
                            console.log("test2b: " + tmp.length);
                        }
                    }
                }
            }, 0);
        }

        function appendItemFittingsImage(topost, basedata) {
            console.log("appendItem FittingImage");
            //console.log("currentStep().id: " + orderItem.fittingsVM.currentStep().id);
            //console.log( "orderItem.fittingsVM.selectedVariantFitting().id: " + orderItem.fittingsVM.selectedVariantFitting().id);
            var whatImage = "";
            if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                whatImage = "FittingFrontImage";
            } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                whatImage = "FittingSideImage";
            } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                whatImage = "FittingBackImage";
            } else if (orderItem.fittingsVM.currentStep().id == 3) {
                whatImage = "FittingCustomImage"
            } else {
                //SHOULD NEVER COME HERE
                whatImage = "ERROR";
            }
            //console.log(whatImage);
            var whichGarment = orderItem.fittingsVM.selectedVariantFitting().id;
            var endpoint = 'upload_image';
            var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
            var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
            var basedata2 = topost.replace("data:image/jpeg;base64,", "");
            topost = "";
            request = $.ajax({
                type: 'POST',
                url: ServerEndPoint,
                dataType: 'json',
                async: true,
                data: {
                    salesman: JSON.stringify(eval("(" + salesmanString + ")")),
                    data: basedata2
                },
                success: function (dataS) {
                    console.log("image upload success");
                    var spinner = document.getElementById('loading_jp');
                    spinner.style.display = "none";
                    var data = dataS;
                    var image_id = data['id'];
                    var image = data['image'];
                    if (orderItem.fittingsVM.currentStep().id == 0 || orderItem.fittingsVM.currentStep().id == 4) {
                        console.log(orderItem.fittingsVM.frontImage);
                        orderItem.fittingsVM.frontImage.addMedia(data['image'], data['image'], false);
                        console.log(orderItem.fittingsVM.frontImage);
                    } else if (orderItem.fittingsVM.currentStep().id == 1 || orderItem.fittingsVM.currentStep().id == 5) {
                        orderItem.fittingsVM.sideImage.addMedia(data['image'], data['image'], false);
                    } else if (orderItem.fittingsVM.currentStep().id == 2 || orderItem.fittingsVM.currentStep().id == 6) {
                        orderItem.fittingsVM.backImage.addMedia(data['image'], data['image'], false);
                    } else if (orderItem.fittingsVM.currentStep().id == 3) {
                        orderItem.fittingsVM.customImages.addMedia(data['image'], data['image'], false);
                    } else if (orderItem.fittingsVM.currentStep().id == 7) {
                        orderItem.fittingsVM.FittingVideo.addMedia(data['image'], data['image'], false);
                    }
                    return;
                    orderItem.MediaUploadVM.imagPath = data['image'];
                    orderItem.MediaUploadVM.upPath = data['image'];
                    orderItem.MediaUploadVM.media(data['image']);
                    return;
                    basedata2 = "";
                    var spinner = document.getElementById('loading_jp');
                    spinner.style.display = "none";
                    var data = dataS;
                    var image_id = data['id'];
                    var image = data['image'];
                    var tmp = [];
                    if (orderItem.fittingsVM.currentStep().id == 3) {
                        var tmp = localStorage.getItem(whatImage + 'Photo' + whichGarment);
                        tmp = (tmp === null) ? [] : JSON.parse(tmp);
                    } else {
                        localStorage.removeItem(whatImage + 'Photo' + whichGarment);
                    }
                    var customer_id = orderItem.custSelectVM.selectedCustomer().id;
                    tmp.push({
                        customer_id: customer_id,
                        image_id: image_id,
                        picture: image,
                        thumbnail: basedata
                    });
                    localStorage.setItem(whatImage + 'Photo' + whichGarment, JSON.stringify(tmp));
                    var thumb = $('<img/>');
                    thumb.attr('src', image);
                    thumb.attr('width', 50);

                    if (orderItem.fittingsVM.currentStep().id == 3) {
                        if (tmp.length == 1) {
                            document.getElementById(whatImage + 'Media').innerHTML = '';
                        }
                        document.getElementById(whatImage + 'Media').innerHTML = ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id, '"><span class="close" onclick="javascript: removepic(', image_id, ');"></span><div class="image_panel"><img src="', basedata, '" width="480" height="1000" class="imageMap" id="imagemap_', image_id, '"/><div class="mapper" id="mapper_', image_id, '"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id, '"/></div><div class="planetmap" id="planetmap_', image_id, '"></div></div></div>'].join('') + document.getElementById(whatImage + 'Media').innerHTML;
                    } else {
                        $("#imagesize").attr("src", basedata);
                        document.getElementById(whatImage + 'Media').innerHTML = ['<div class="img-wrap" id="', image_id, '"><span class="close" onclick="javascript: removepic(', image_id, ');"></span><img src="', basedata, '" width="480"/></div>'].join('');
                        document.getElementById(whatImage + 'Media2').innerHTML = ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id, '"><div class="image_panel"><img src="', basedata, '" width="480" height="1000" class="imageMap" id="imagemap_', image_id, '"/><div class="mapper" id="mapper_', image_id, '"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id, '"/></div><div class="planetmap" id="planetmap_', image_id, '"></div></div></div>'].join('');
                    }
                    basedata = "";
                    document.getElementsByName(whatImage)[0].value = JSON.stringify(data);
                    if ("createEvent" in document) {
                        var evt = document.createEvent("Event");
                        evt.initEvent("change", false, false);
                        document.getElementsByName(whatImage)[0].dispatchEvent(evt);
                    } else {
                        document.getElementsByName(whatImage)[0].fireEvent("onchange");
                    }
                }
            });
            // that.assignTailorText();
            orderItem.fittingsVM.assignTailorText();
        }
        if (window.FileReader) {
            function handleFileSelectFittingImage(evt) {
                var files = evt.target.files;
                var f = files[0];
                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        document.getElementById("canvas_container").innerHTML = ['<canvas id="canvas-0"></canvas><canvas id="canvas-1"></canvas><canvas id="canvas-2"></canvas><canvas id="canvas-squash"></canvas>'].join('');
                        console.log("before resize");
                        try {
                            //	 var t = resizeMyImage(e.target.result);
                            var t = orderItem.resizeMyImage(e.target.result, 480, 1536, "fittings.htm", "");
                            t = null;
                            e = null;
                        } catch (e1) {
                            customAlert('An Error occured. Try again.');
                        }
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        } else {
            customAlert('This browser does not support FileReader');
        }
        document.getElementById('FittingFrontImageFiles').addEventListener('change', handleFileSelectFittingImage, false);
        document.getElementById('FittingSideImageFiles').addEventListener('change', handleFileSelectFittingImage, false);
        document.getElementById('FittingBackImageFiles').addEventListener('change', handleFileSelectFittingImage, false);
        document.getElementById('FittingCustomImageFiles').addEventListener('change', handleFileSelectFittingImage, false);
        document.getElementById('files').addEventListener('change', handleFileSelectFittingImage, false);
    </script>
</div>