<style>
    
    .fitline-select-wrapper {
        right: 40px;
        position: absolute;
        top: 80px;
    }

    .meas-history-wrapper {
        float: right;
        text-align: right;
    }
    .meas-history-row {
        border-radius: 50%;
        border: 1px solid black;
        font-size: 16px;
        padding: 10px;
        width: 80px;
        height: 80px;
        text-align: center;
        text-shadow: none;
        margin-right: 15px;
        font-weight: 900;
    }

    .meas-hist-el-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .meas-history-row:not(.selected-meas-hist) .date-div-el:nth-child(2)  {
        color: red;
    }

    .date-div-el {
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }

    .date-div-el:nth-child(1)  {
        max-width: 5ch;
    }

    .selected-meas-hist {
        border: none;
        background-color: var(--grey-4);
        color: white;
    }

    .positive-meas-hist {
        color: green;
    }

    .negative-meas-hist {
        color: red;
    }

    .hist-cust-meas-p {
        color: var(--grey-4);
        font-size: 16px;
        font-weight: 900;
    }

    .garment-name-p {
        font-size: 35px;
        font-weight: 200;
    }

    .garment-name-span {
        font-weight: 900
    }

    .garment-meas-input {
        height: 40px;
        border: none;
        font-size: 20px;
        text-align: center;
        width: 100%;
        font-weight: 900;
        border-radius: 5px;
    }

    .meas-fitline-value-wrapper {
        text-align: center;
        font-size: 15px;
        color: white;
        background: rgb(127, 120, 96);
    }

    .meas-hist-value-wrapper {
        text-align: center;
        font-size: 15px;
    }

    .positive-meas-hist {
        color: rgb(158, 197, 77);
    }

    .negative-meas-hist {
        color: rgb(202, 35, 41);
    }

    .zero-value-meas {
        background-color: var(--grey-4);
        color: white;
    }

    .garment-meas-textarea {
        height: 100px;
        width: 100%;
        font-size: 20px;
        border:none;
    }

    .meas-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .garment-meas-el-wrapper {
        display: flex;
        flex-direction: column;
    }

    .garment-type-meas-img {
        width: 80px;
    }

    .garment-type-meas-span {
        display: block;
        text-transform: capitalize;
        font-size: 20px;
    }
    .garment-meas-tab {
        padding: 10px;
        border: 4px solid black;
        display: block;
        text-align: center;
        border-radius: 50%;
        margin-right: 20px;
        height: 110px;
        width: 110px;
        background: var(--grey-1);
    }

    .all-measurments-inputed {
        background-color: rgb(158, 197, 77);
        border: none;
    }

    .selected-garment-measurments {
        background-color: rgb(147, 140, 116) !important;
        border: 4px solid black !important;
    }

    .complete-measurement {
        float: right;
    }
 
    .complete-measurement.client {
        position: absolute;
        left: 0;
    }

</style>


<!--  Start Measurements step -->
<div class="measurements-selection-ui order-step" data-bind="if: selectedStep().id == '2'">

    <div style="display: flex;">
        <div class="cust-tab-wrapper" data-bind="foreach: {'data':customers, 'as':'customer'}">
        
            <div class="cust-tab" data-bind="click: function() { $root.changeCustomer($data.customer_id) },
                                            css : { 'selected-customer' : $root.selectedCustomer() == $data },
                                            visible: customer.is_present">
                <div class="customer-gray-round">
                    <span class="customer-counter-span" data-bind="visible: !$data.is_leader, text: '#'+(parseInt($index())+1)"></span>
                    
                    <img class="complete-measurement client" data-bind="visible: customer.measurementsStep.isAllGarmentTypeMeasurementComplete(customer)" src="img/order_process/checkButom2.png"/>
                    <div class="leader-pic-wrapper" data-bind="if: $data.is_leader">
                        <img class="leader-pic-img" data-bind="attr: { src: $root.leaderPic() }">
                    </div>

                    <div class="customer-locked-wrapper" data-bind="visible:$data.is_locked">
                        <img class="customer-locked-img" src="img/order_process/lock.png">
                    </div>
                </div>
                <span class="customer-name-p" data-bind="text:$data.full_name"></span>
                
                <div data-bind="if : !$data.is_present">
                    <p style="color: red">Not Present!</p>
                </div>
            </div>
        
        </div>

        <div class="fitline-select-wrapper" data-bind="if: $root.selectedCustomer().measurementsStep.selectedGarment() == 'jacket' ">
                
            <p style="font-size: 20px;font-weight: 300;margin: 0">Select Fitline</p>
            <select data-bind="options: $root.selectedCustomer().measurementsStep.fitlines,
                           optionsText: 'jacket_fitline_name',
                           value:  $root.selectedCustomer().measurementsStep.selectedFitline
                        " style="height: 40px;"></select>

        </div>
    </div>

  
    <br style="clear: both"> 
    <!-- Lists each garment IF there is count > 0 -->
    <p style="color: var(--grey-4);font-weight: 800;font-size: 18px;margin: 0;">SELECT GARMENT TYPE TO MEASURE</p>
    <br>
    <div class="garments-step-counter-wrapper">


         <!-- In case of suit => show options for Jacket and Pants measurements -->
            
        <!-- ko if: ($root.selectedCustomer().measurementsStep.shouldShowSuitJacketMeas() || $root.selectedCustomer().measurementsStep.shouldShowSuitPantsMeas()) -->
            
            <!-- Jacket one -->
            <div class="garment-meas-tab" data-bind="visible: $root.selectedCustomer().measurementsStep.shouldShowSuitJacketMeas(),
                                                     click: function() { $root.selectedCustomer().measurementsStep.selectGarment({ 'name': 'jacket' }); },
                                                     css: {
                                                         'selected-garment-measurments' : 'jacket' == $root.selectedCustomer().measurementsStep.selectedGarment(),
                                                         'all-measurments-inputed'      : $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete('jacket')
                                                        } ">

                <img class="garment-type-meas-img" data-bind="attr:{src: selectedCustomer().garmentsStep.garments().filter(function(el) {return el.id == '4'} )[0].image}" />
                <img class="complete-measurement" data-bind="visible: $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete('jacket')" src="img/order_process/checkButom2.png"/>
            </div>

            <!-- Pants one -->
            <div class="garment-meas-tab" data-bind="visible: $root.selectedCustomer().measurementsStep.shouldShowSuitPantsMeas(),
                                                     click: function() { $root.selectedCustomer().measurementsStep.selectGarment({ 'name': 'pants' }); },
                                                     css: {
                                                        'selected-garment-measurments' : 'pants' == $root.selectedCustomer().measurementsStep.selectedGarment(),
                                                        'all-measurments-inputed'      : $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete('pants')
                                                     } ">

                <img class="garment-type-meas-img" data-bind="attr:{src: selectedCustomer().garmentsStep.garments().filter(function(el) {return el.id == '1'} )[0].image}" />
                <img class="complete-measurement" data-bind="visible: $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete('pants')" src="img/order_process/checkButom2.png"/>
            </div>

        <!-- /ko -->


        <!-- For each NOT suit garments -->
        <!-- ko foreach: selectedCustomer().garmentsStep.garments() -->
        
            <div class="garment-meas-tab" data-bind="visible: $data.name.toLowerCase().trim() != 'suit' && $data.garments().length > 0, 
                                                     click: function() { $root.selectedCustomer().measurementsStep.selectGarment($data); },
                                                     css: { 
                                                            'selected-garment-measurments' : $data.name == $root.selectedCustomer().measurementsStep.selectedGarment(),
                                                            'all-measurments-inputed' : $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete($data.name)
                                                        } ">

                <img  class="garment-type-meas-img" data-bind="attr:{ src: $data.image }" />
                <!-- <span class="garment-type-meas-span" data-bind="text:$data.name"></span> -->
                <img class="complete-measurement" data-bind="visible: $root.selectedCustomer().measurementsStep.isGarmentTypeMeasurementComplete($data.name)" src="img/order_process/checkButom2.png"/>
            </div>

        <!-- /ko -->
    </div>


    <!-- Only show the SELECTED garment  -->
    <div style="min-height: 600px;" data-bind="foreach: { data: $root.selectedCustomer().measurementsStep.garments, as: 'garment' }">

        <div class="col-md-12" data-bind="if: $root.selectedCustomer().measurementsStep.selectedGarment() == garment.name()">

            <!-- Meas history -->
            <div class="row">

                <div class="col-md-5">
                    <p class="garment-name-p">Measurments <span class="garment-name-span" data-bind="text: '/ ' + garment.name()"></span> </p>
                </div>


                <div class="col-md-7 meas-history-wrapper">
                    <div data-bind="foreach: $root.selectedCustomer().measurementsStep.measurementsHistory()">
                    
                        <div data-bind="if: $data.name == garment.name()">    

                            <p class="hist-cust-meas-p" data-bind="visible: $data.measurements.length">CUSTOMER MEASURMENTS HISTORY</p>

                            <div class="meas-hist-el-wrapper" data-bind="foreach: $data.measurements">
                                <div class="meas-history-row" data-bind="click: function() { $root.selectedCustomer().measurementsStep.selectMeasurmentHistory($data) },
                                                                         css: { 'selected-meas-hist' : $root.selectedCustomer().measurementsStep.selectedMeasurmentHistory() == $data },
                                                                         html: $data.formatted_date.split(' ').map( e => { return `<div class='date-div-el'>${e}</div>`; }).join('') ">
                                    
                                </div> 
                            </div>
                        </div>

                    </div>
                </div>


            </div>


            <br style="clear: both">
            <br>

            <div class="meas-wrapper" data-bind="foreach: garment.measurements()">

                <!-- ko if: $data.title().trim() != 'Notes' && $data.title().trim() != 'date' -->
                    <div class="col-md-2 garment-meas-el-wrapper">
                        
                        <p style="margin: 0; display: flex;">
                            <span data-bind="text:$data.title()"></span>
                            <span data-bind="visible: $data.mandatory" class="mandatoris">*</span>
                        </p>
                        <span data-bind="if: $data.key() != 'pants_measurements_angled_hems' ">
                            
                            <!--  pants_measurements_angled_hems is boolean type-->

                            <input type="tel" min="0" step="0.25" class="garment-meas-input"
                                        data-bind="value: $data.value,
                                                   css : { 'zero-value-meas' : parseFloat($data.value()) == 0 },
                                                   event : {
                                                        'change' : function(){
                                                                orders.selectedCustomer().measurementsStep.copyMeasurement($data);
                                                                orders.selectedCustomer().measurementsStep.toggleStepComplete();
                                                            }
                                                    }"
                                        onblur="orders.selectedCustomer().measurementsStep.toggleStepComplete()"/>
                        
                        </span>


                        <span data-bind="if: $data.key() == 'pants_measurements_angled_hems' ">
                            
                            <!--  pants_measurements_angled_hems is boolean type -->
                            <input type="checkbox" data-bind="checked: $data.value" style="width: 40px;height: 40px;" />

                        </span>




                        <!-- Fitline -- Only jacket -->
                        <div class="meas-fitline-value-wrapper" data-bind="if: $root.selectedCustomer().measurementsStep.getFitline($data)">

                            <span  data-bind="text: $root.selectedCustomer().measurementsStep.getFitline($data)"></span>

                        </div>

                        <div class="meas-hist-value-wrapper" data-bind="if: $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data)">
                            
                            <span data-bind="text: $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data),
                                             css : { 
                                                    'positive-meas-hist' : $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data) > parseFloat($data.value()),
                                                    'negative-meas-hist' : $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data) < parseFloat($data.value())
                                                   }"></span>

                        </div>

                    </div>
                <!-- /ko -->


            </div>


            <br style="clear: both"> 
            <br style="clear: both"> 

            <!-- Div only for the notes -->
            <div class="meas-wrapper-notes" data-bind="foreach: garment.measurements()">


                <!-- ko if: $data.title().toLowerCase().trim() == 'notes' -->
                    <div class="col-md-12">
                        
                        <p style="margin: 0;font-size: 30px" data-bind="text:$data.title()"></p>

                        <textarea type="text" class="garment-meas-textarea" data-bind="value: $data.value" ></textarea>


                        <div class="meas-hist-value-wrapper" data-bind="if: $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data)">
                            
                            <span data-bind="text: $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data),
                                             css : { 
                                                    'positive-meas-hist' : $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data) > parseFloat($data.value()),
                                                    'negative-meas-hist' : $root.selectedCustomer().measurementsStep.getMeasHistoryValue($data) < parseFloat($data.value())
                                                   }"></span>

                        </div>

                    </div>
                <!-- /ko -->






            </div>


        </div>

    </div>


</div>
<!-- End measurments step -->
