<div data-role="page" id="mediaTagController" class="bgBody">
    <div data-role="content" data-theme="d" style="background:none !important; border:none;">
        <div class="content-wrapper">
            <div data-bind="visible: current().media_type == '2'">
                <video width="320" height="240" controls>
                    <source data-bind="attr: {src: current().media_path}">
                </video>
            </div>
            <div data-bind="visible: current().media_type == '1'">
                <div class="img-wrap">
                    <div class="image_panel"> <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: current().media_path}">
                        <div id="mapper" class="mapper"> <img id="dialog" src="http://shirt-tailor.net/thepos/appimg/save.png" style="width: 35px; height:35px;"> </div>
                        <div id="planetmap" class="planetmap"></div>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css" >
	#popup_box {
		left: 0;
		position: fixed;
		top: 0;
		z-index: 999; 
		_position:absolute; /* hack for internet explorer 6 */  
	}	
		
	a{  
		cursor: pointer;  
		text-decoration:none;  
	}
	div.planetmap div{
		display:block;
		position:absolute;
	}
	div.image_panel{
		float:left;
		width:480px;
		position:relative;
	}
	div.image_panel img{
		left:0;top:-102px;
		max-width: 480px;
		overflow: hidden;
	}
	div.form_panel .row{
		clear:both;
		margin-top:20px;
	}
	div.arrow{
		background: none repeat scroll 0 0 #FF0000;
		color: #FF0000;
		z-index:500;
	}					
	input[type='button']{
		background: none repeat scroll 0 0 #2769C4;
		border: 1px solid #CFCFCF;
		color: #FFFFFF;
		font-weight: bold;
		height: 30px;
		padding: 5px;
	}
</style>
        <script>

	
	var closeDialog = function(){
		$("div.mapper").hide();
		$("textarea.title").val('');
		$("div.form_panel").hide();
	};

	var addTag = function(){
		var text = $("textarea.title").val();
		if(text.length > 0){
			var pos_width = $("#mapper").width();			
			var pos_height = $("#mapper").height();
			var relative_width = global_relative_left;
			var relative_height = global_relative_top;
			var fromleft = 100 + relative_width;
			var arrowwidth = 105 - relative_width;
			$("div.mapper").hide();
			$("textarea.title").val('');
			$("div.form_panel").hide();
			orderItem.MediaTagManagerVM.current().tag().push({left:relative_width,top:relative_height,text:text});
			renderTags();
		}
	};
	
	var renderTags = function(){
		$('#planetmap').empty();
		var thetags = orderItem.MediaTagManagerVM.current().tag();
		console.log(thetags);
		for(a in thetags){
			var fromleft = 100 + thetags[a].left;
			var arrowwidth = 105 - thetags[a].left;
			var taghtml = "";
			taghtml += '<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  thetags[a].left + '%;top:' + thetags[a].top + '%;"></div><div class="tagged" style="width:35;height:35;left:105%;top:' + thetags[a].top + '%;"><div class="tagged_title" style="display:block;">' + thetags[a].text + '</div><div class="tagged_box" style="width:35;height:35;top:-20;display:block;">';
			taghtml += '</div></div>';
			$('#planetmap').append(taghtml);
		}
		
	};

	var deleteImageTag = function(obj, left, top){
			var thetags = orderItem.MediaTagManagerVM.current().tag();
			for(x in thetags){
				if(thetags[x].left === left && thetags[x].top === top){
					thetags.splice(x, 1);
					break;
				}
			}
			renderTags();
	};
	renderTags();
</script>
        <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 suffix_8"><a data-bind="click: goBack" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Error Details</span></a></div>
            </div>
        </div>
    </div>
</div>
