<div data-role="page" id="mediaManager" class="bgBody">
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
		
		<h3>Media Manager</h3>
		<span data-bind="text: media().media_id"></span>
		<span data-bind="text: media().media_type"></span>
		<span data-bind="text: media().customer"></span>
		<span data-bind="text: media().date"></span>
		
		<div data-bind="visible:show() == true">
			<div data-bind="visible: error() == true">
				<span>File not found</span>
			</div>
			<div data-bind="visible: error() == false">
				<div data-bind="visible:media().media_type == 'Video'">
					<video width="320" height="240" controls>
					  <source data-bind="attr: {src: imgPath}">
					</video>
				</div>
				<div data-bind="visible:media().media_type == 'Image'">
					
					<img height="250" data-bind="attr: {src: imgPath}">
				</div>
			</div>
		</div>
		
		
		<div data-bind="visible:mu.mediaType() == '1'">
			<video width="320" height="240" controls>
			  <source data-bind="attr: {src: mu.preview}">
			</video>
		</div>
		<div data-bind="visible:mu.mediaType() == '2'">
			
			<img height="250" data-bind="attr: {src: mu.preview()}">
		</div>
		<br/>
		<br/>
		<br/>
		<div class="grid_8 suffix_2 prefix_2" style="margin-top:30px;" data-bind="visible: media().media_type == 'Image'"> <a href="#" data-role="button" data-bind="click: mu.choosePhoto">Change Photo</a> </div>
		<div class="grid_8 suffix_2 prefix_2" style="margin-top:30px;" data-bind="visible: media().media_type == 'Video'"> <a href="#" data-role="button" data-bind="click: mu.chooseVideo">Change Video</a> </div>
		<div class="grid_8 suffix_2 prefix_2" style="margin-top:30px;" data-bind="visible: show() == false"> <a href="#" data-role="button" data-bind="click: changeMedia">Confirm</a> </div>
		<div class="grid_8 suffix_2 prefix_2" style="margin-top:30px;" > <a href="#" data-role="button" data-bind="click: deleteMedia">Delete Media</a> </div>
		<div class="grid_8 suffix_2 prefix_2" style="margin-top:30px;" > <a href="#" data-role="button" data-bind="click: cancelChanges">Cancel and go back</a> </div>
		
	</div>
</div>