<div data-role="page" id="garmentsSuitFabric" class="bgBody">
		<div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false">
			<div data-role="fieldcontain" style="margin:3px auto; width:270px; border-bottom:none;" >
				<input type="search" name="search-mini" id="search-mini" placeholder="Search" data-theme="c" data-mini="true" />           
			</div>
				<div data-role="controlgroup" class="ui-btn-right" data-type="horizontal" >
					<a data-bind="click: function(){posChangePage('#index');}" data-role="button" data-icon="home" data-iconpos="notext">Home</a> 
					<a data-bind="click: function(){posChangePage('#customers');}" data-role="button" data-icon="view-customers" data-iconpos="notext">Customers</a> 
					<a data-bind="click: function(){posChangePage('#add_order');}" data-role="button" data-icon="add-order" data-iconpos="notext">Add Order</a> 
					<a data-bind="click: function(){posChangePage('#calendar');}" data-role="button" data-icon="delete" data-iconpos="notext">Calendar</a> 
					<a data-bind="click: function(){posChangePage('#notifications');}" data-role="button" data-icon="delete" data-iconpos="notext">Notifications</a> 
					<a data-bind="click: function(){posChangePage('#settings');}" data-rel="dialog" data-transition="pop" data-role="button" data-icon="gear" data-iconpos="notext">Settings</a> 
				</div><!-- /navbar -->
		</div><!-- /header -->

		<div data-role="content" data-theme="a" style="background:none !important; border:none;">
			<img class="menuTrigger" src="http://shirt-tailor.net/thepos/appimg/germanicosBtnRight.png">
			
			<div class="content-wrapper">
				<div data-bind="with: garmentsSuitVM">
					<div class="container_12"> 
						<div class="grid_12">
							
							<div class="stepCaption"> 
								<h1> Suit Design </h1>
								<h2> Fabric selection </h2>
							</div>
							
							<div class="customerCaption"> 
								<h1>Selected Customer</h1>
								<h2 data-bind="text: $parent.selectedCustomer"></h2>
							</div>
							
						</div>
						<div class="clear"></div>	
						<div class="grid_12">
							<div class="variantSelector suit">
								<ul data-bind="foreach: variantNameSuit">
									<li data-bind="text: title, click: $parent.selectedVariantSuit, css: { 'selected': $parent.selectedVariantSuit() === $data }"></li>
								</ul>
								<a href="#" data-bind="click: addVariantSuit" data-role="button" data-icon="plus"></a>
							</div>
						</div>
						<div class="clear"></div>

						<div class="container_12">
							<div class="box">
								<span data-bind="click: pantFabricSelect,text: pantFabric().title"></span>
							</div>
						</div>
												
						
						
					</div>
					<div class="clear"></div>
					<div class="container_12">
						<div class="grid_2">
							<a data-role="button" data-icon="arrow-l" data-bind="click: previousStep"></a>
						</div>
						<div class="grid_8 garmentsStepSelector">
								<h1>Previous step:</h1>
								<h2 data-bind="text: previousStepCaption"></h2>
								<h1>Next step:</h1>
								<h2 data-bind="text: nextStepCaption"></h2>
						</div>

						<div class="grid_2">
							<a data-role="button" data-icon="arrow-r" data-bind="click: nextStep"></a>
						</div>
					</div>
				</div>

			</div>
			<div class="bigStepsSidebar">
				<ul data-bind="foreach: bigSteps">  
					<li data-bind="click: $parent.currentBigStep, css: { 'selected': $parent.currentBigStep().id === $data.id }">
						<div data-bind="text: title"></div>
					</li>
				</ul>
			</div>
		</div><!-- /content -->
</div>



