<div data-role="page" id="orders" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<!-- Testing this for now -->
	<!-- <link rel="stylesheet" type="text/css" href="css/pressableBTNS.css" media="all" /> -->
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, maximum-scale=1, user-scalable=no, height=device-height, width=device-width">

	<style>


		* {
			text-shadow: none;
		}
	/*Definition of main colors here to be reused*/
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
			
			
			--selected:#988e73;
		}
		.cust-tab {
			padding: 5px;
			margin-right: 25px;
		}

		.cust-tab-wrapper {
			display: flex;
		}

		.steps-tab-wrapper {
			display: flex;
		}

		.step-tab {
			text-transform: uppercase;
			padding: 5px;
		    background: var(--grey-2);
		    color: white;
		    text-shadow: none;
		    border-radius: 5px;
		    margin-right: 10px;
		    padding: 8px;
		    padding-right: 12px;
		    padding-left: 12px;
		    text-align: center;
		    font-size: 12px;
		}
		

		.order-step {}

		.order-step-wrapper {
			margin-bottom: 8%;
		}

		#orders {
			padding: 5px;
		}

		.selected-step {
			background: rgb(147, 140, 116) !important;
			background-color: #988e73 !important;	
		}

		.selected-customer {
			font-weight: 900;
		}

		.selected-customer .customer-gray-round {
			border: 8px solid red;
		}

		.customer-gray-round {
			background-color: var(--grey-1);
			color: var(--grey-3);
			border-radius: 50%;
			width: 120px;
			height: 120px;
			text-align: center;
			display: table;
			position: relative;
		}
		
		.cancel-order-wrapper {
			float: right;
			background: #e20613;
			border-radius: 5px;
			display: flex;
			align-items: center;
		}
		.cancel-order-btn {
			color: #fefefe;
			display: inline-block;
			font-size: 10px;
			font-weight: 400;
			min-width: 60px;
			padding: 10px 15px 10px 5px;
			position: relative;
			text-align: left;
			text-decoration: none;
			text-shadow: none !important;
			text-transform: uppercase;
		}
		.steps-wrapper-wrapper {
			display: inline-block;
		}
		.cancel-order-x {
			color: red;
			background: white;
			padding: 5px;
			border-radius: 5px;
			float: right;
			display: inline-block;
			font-size: 12px;
			font-weight: 900;
			margin-right: 5px;
		}
		.exit-order-span {
			color: white;
			font-color: 10px;
			font-weight: 400;
			text-decoration: none;
		}

		.orders-container {
			min-height: 1000px !important;
		}

		.customer-name-p {
			font-size: 20px;
			color: var(--grey-4);
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;
			display: inline-block;
		}

		.leader-pic-img {
			width: 120px;
		    border-radius: 100%;
		    height: 120px;
		}

		.step-completed {
			background-color: #93C03E;
			color: white;
		}

		.order-checkbox {
			width: 30px;
			height: 30px;
			display: inline-block;
			vertical-align: inherit;
		}

		.customer-locked-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			background: var(--grey-4);
			border-radius: 50%;
			padding: 5px;
		}
		.customer-locked-img {
			border-radius: 50%;
			width: 20px;
			height: 20px;
		}

		.leader-pic-wrapper {
			position: relative;
		}
		
	</style>

	<div class="orders-container" >

		<div class="steps-wrapper-wrapper">
			<div class="steps-tab-wrapper" data-bind="foreach: $root.steps">
				<!-- set as completed -->
				<div class="step-tab" data-bind="click: function() { $root.changeStep($data.id) },
						css : { 'selected-step' : $root.selectedStep().id == $data.id , 'step-completed':$data.complete == true} ">
					<span data-bind="text:$data.name"></span>
				</div>

			</div>

		</div>

		<div class="cancel-order-wrapper" data-bind="click: $root.cancelOrder">

			<a class="cancel-order-btn"> 
				<span class="exit-order-span">Exit Order</span>
			</a>

			<span class="cancel-order-x">X</span>

		</div>
		

		

		<!-- We need to find a way of including each step in a separate HTML file

		If we keep including in the same file, we will get a huge file.
	 -->
		<div class="order-step-wrapper">
			<div id="garmentSection"></div>
			<div id="measurementSection"></div>
			<div id="BodyShapesSection"></div>
			<div id="uploadImageSection"></div>
			<div id="uploadVideoSection"></div>
			<div id="garmentsDesignSection"></div>
			<div id="paymentsSection"></div>
		</div>

		<div style="margin-bottom: 300px;"></div>


		<script>
			/** Insert steps from different files */
			$('#garmentSection').load('garmentsStep.htm');
			$('#measurementSection').load('measurementsStep.htm');
			$('#BodyShapesSection').load('bodyShapesStep.htm');
			$('#uploadImageSection').load('uploadImagesStep.htm');
			$('#uploadVideoSection').load('uploadVideosStep.htm');
			
			// this section is slowing the system
			$('#garmentsDesignSection').load('garmentsDesignSection.htm');
			$('#paymentsSection').load('paymentsSection.htm');

		</script>

		<div style="margin-top: 300px;"></div>


		<div class="j-footer container_12">


			<div class="half-em-around" data-bind="if: $root.selectedStep().id == '1' ">
				
				<div class="grid_2">
					<a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-bind="click: function() {posChangePage('#preOrders');}" data-role="button">
						<span class="btn-letter">Back To</span>
						<span class="btn-small-letter">Previous step</span>
					</a>
				</div>

			</div>
			<div class="half-em-around" data-bind="if: $root.selectedStep().id != '1' ">
				
				<div class="grid_2">
					<a href="#" class="new-btn icon-goto-main new-btn-icon-left" data-bind="click: $root.stepBack" data-role="button">
						<span class="btn-letter">Back To</span>
						<span class="btn-small-letter">Previous step</span>
					</a>
				</div>

			</div>

			<!-- If is not the last step -->
			<div data-bind="if: $root.selectedStep().id != '7' || !$root.allClientsPaymentComplete(false)">

				<div style="float: right;" data-bind="click: $root.nextStep">
					<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
					 style="position: relative;right: 40px;min-width: 145px;">
						<span class="btn-small-letter">Next</span>
						<span class="btn-letter">STEP</span>
					</a>
				</div>

			</div>

			<!-- If is last step -->
			<div data-bind="if: $root.selectedStep().id == '7' && $root.allClientsPaymentComplete(false)">

				<div style="float: right;" data-bind="click: $root.submitOrder">
					<a class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"
					 style="position: relative;right: 40px;min-width: 145px;">
						<span class="btn-small-letter">SUBMIT </span>
						<span class="btn-letter">ORDER</span>
					</a>
				</div>

			</div>

		</div>

	</div> <!-- end orders container-->

	<script>
			
		$(document).off("focus", ".garment-meas-input").on("focus", ".garment-meas-input", function () {
			
			// on focus => clear the value if is zero
			if( parseFloat($(this).val()) == 0.0 )
			{
				$(this).val("");
			}

		});


		// Code to try to fix the problem with the `PUSHING ELEMENT KEYBOARD`
		

		$(document).on('focus', 'input, textarea', function() 
		{
			$(".j-footer").hide();
		});

		$(document).on('blur', 'input, textarea', function() 
		{
			$(".j-footer").show();
		}); 
		






	</script>


</div>


