<div data-role="page" id="orderInfo" class="bgBody">
    <h1 data-bind="with: customersVMmirror"><span class="firstpart" data-bind="text: customer_first_name">Customer's Name</span> <span class="firstpart" data-bind="text: customer_last_name">Customer's Last Name</span> <span>Order Information</span></h1>
    <div data-role="content" data-bind="with: customersVMmirror" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="grid_12" data-bind="with: selected_order">
                    <div class="grid_7">
                        <ul  class="custdisplay">
                            <li> <span class="firstpart">Order ID:</span> <span class="secondpart" data-bind="text: order_id"></span> </li>
                            <li> <span class="firstpart">Order date:</span> <span class="secondpart" data-bind="text: orderItem.custOrdersVM.transmuteDate(ordered_date)"></span> </li>
                            <li> <span class="firstpart">Ship date:</span> <span class="secondpart" data-bind="text: shipping_date"></span> </li>
                            <li> <span class="firstpart">Fitting city:</span> <span class="secondpart" data-bind="text: fitting"></span> </li>
                            <li> <span class="firstpart">Total cost:</span> <span class="secondpart" data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span> </li>
                            <li style="display:none;"> <span class="firstpart">Balance owing:</span> <span class="secondpart" data-bind="text: balance.toFixed(2)"></span> </li>
                        </ul>
                    </div>
                    <div class="grid_4">
                        <ul class="grid_11 prefix_1" data-role="listview" >
                            <li>
                                <div class="grid_8"><a data-bind="click: function(){posChangePage('#paymentsHistory');}" class="new-btn icon-cancel-andback new-btn-icon-left" data-role="button"><span class="btn-small-letter">Order's</span><span class="btn-letter"> Payments</span></a></div>
                            </li>
                            <li>
                                <div class="grid_8"><a data-bind="click: function(){posChangePage('#customerGarmentsFittingsList');}" class="new-btn icon-cancel-andback new-btn-icon-left" data-role="button"><span class="btn-small-letter">Order's</span><span class="btn-letter"> Fittings</span></a></div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- <ul class="orderoptions grid_3" data-bind="with: selected_order">
              <li> <a href="#" ><span class="paymentim"></span><span class="firstpart">Order's Payments</span></a> </li>
              <li> <a href="#" data-bind="click: function(){posChangePage('#customerGarmentsFittingsList');}"><span class="alterim"></span><span class="firstpart">Fittings</span></a> </li>
              <li style="display:none;"> <a href="#"><span class="custimim"></span><span class="firstpart">Customer's Images</span></a> </li>
              <li> <a href="#" data-bind="click: function(){posChangePage('#errorList');}"><span class="errorim"></span><span class="firstpart">Errors</span></a> </li>
              <li style="display:none;"> <a href="#"><span class="shippingim"></span><span class="firstpart">Shipping</span></a> </li>
            </ul>--> 
                    
                </div>
            </div>
            <!-- End of data-bind with customersVMmirror --> 
        </div>
    </div>
    <!-- /content -->
    
    <div data-role="content" data-bind="with: custOrderVM" data-theme="a" style="background:none !important; border:none;">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="grid_12 marthirty">
                    <div class="grid_12">
                        <h2>Garments</h2>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#444; ">
                            <tr>
                                <th width="14%">Garment</th>
                                <th width="14%">Fabric</th>
                                <th width="14%">Status</th>
                                <th>Options</th>
                            </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="garmentlistord" data-bind="foreach: ordergarments">
                            <tr>
                                <td width="14%" style="color:#444;"><span data-bind="text: garment_name"></span></td>
                                <td width="14%" style="color:#444;"><span data-bind="text: fabrics[0].fabric_name"></span></td>
                                <td width="14%" style="color:#444;"> - </td>
                                <!--	<span data-bind="text: status"></span>	-->
                                <td data-bind="click: $parent.selectedOrderGarment" style="color:#444;"><div data-bind="with: $parents[1].FittingsVM" style="display:none;">
                                        <div data-bind="foreach: fittings">
                                            <div data-bind="visible: fitting.garment_id == $parents[1].orders_products_id, click: function(){$parent.loadFittingAndChangePage($data);}"> <span>Fitting #<span data-bind="text: $index() + 1"></span> <span data-bind="text: $parent.transmuteDate(fitting.fitting_date)"></span></span> </div>
                                        </div>
                                    </div>
                                    <a href="#"  data-bind="click: function(){posChangePage('#fittingImages');}" data-role="button" data-mini="true" data-theme="c" style="color:#FFF; display:none;">NEW FITTING</a></td>
                            </tr>
                        </table>
                    </div>
                    <!--
                    <div class="grid_4"> 
                        <h2 class="custtiles">Notes</h2>                   
                        <span class="secondpart" data-bind="text: ordernotes"></span>
					</div>
					--> 
                </div>
            </div>
        </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 "><a data-bind="click: function(){posChangePage('#customerOrders');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Customer's</span><span class="btn-letter"> Orders</span></a></div>
            <div class="prefix_1 grid_2"><a data-bind="click: function(){posChangePage('#customerInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Customer's</span><span class="btn-letter"> Details</span></a></div>
        </div>
    </div>
</div>
