<div data-role="page" id="pendingGroupOrders" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<style>
	

		* {
			text-shadow: none;
		}

		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
		}

		.pending-orders-wrapper {
			padding: 10px;

		}	

		.orders-wrapper {
		    display: flex;
		    flex: 1;
		    text-align: center;
			overflow: auto;
		}	

		.leader-img-wrapper {
			margin-right: 10px;
			border-radius: 10px;
		}

		.leader-img {
			width: 170px;
			min-height: 234px;
			border-radius: 20px;
		}

		
		.seccond-step-leader-pic {
			width: 100% !important;
			margin: 0 auto;
		}

		.number-people-div {
			width: 200px;
			display: flex;
			margin: 0 auto;
			align-items: center;
    		justify-content: center;
		}

		.number-people-btn {
			font-weight: 900 !important;
			font-size: 50px;
			padding: 0px !important;
			width: 40px !important;
		}
		.number-people-value {
			font-size: 38px;
			padding: 10px;
			margin: 10px;
		}

		.radio-new, .radio-new:hover {
			background-color: none !important;
		}

		.cust-tabs {
			display: flex;
		}
		.cust-tab {
			text-transform: uppercase;
		    padding: 5px;
		    background: var(--grey-2);
		    color: white;
		    text-shadow: none;
		    border-radius: 5px;
		    margin-right: 10px;
		    padding: 8px;
		        padding-right: 8px;
		        padding-left: 8px;
		    padding-right: 12px;
		    padding-left: 12px;
		    text-align: center;
		    font-size: 12px;
		}
		

		.detailed-cust-table {
			table-layout: fixed;
		}
		.detailed-cust-table th {
			text-align: center;
		}
		.detailed-cust-table td {
			text-align: center;
			padding-bottom: 2em;
		}

		.group-name-span {
			font-size: 40px;
			font-weight: 400;
		}
		.step {
			margin-right: 50px;
		}

		.selected-cust-tab {
			background: rgb(147, 140, 116);
    		background-color: rgb(147, 140, 116);
			background-color: #988e73;
		}
		.make-leader-checkbox {
			height: 30px;
			width: 30px;
			position: relative;
			top: 5px;
		}
		.leader-star {
			font-size: 30px;
		}
		.customer-list-th-txt {
			background: var(--grey-1);
			color: black;
			text-shadow: none;
			font-size: 19px;
			border-radius: 5px;
			margin-right: 5px;
			min-width: 100px;
			display: inline-block;
		}
		.preorder-checkbox {
			width: 30px;
			height: 30px;
		}
		.preorder-text-input {
			text-align: center;
			width: 95%;
			margin: 0 auto;
			background: none;
			border: none;
			border-bottom: 1px solid black;
		}
		.leader-name-p {
			font-size: 30px;
			font-weight: 400;
		}

		.preorder-info-p {
			margin-bottom: 0;
		}
		.radio-new {
			width: 30px;
			height: 30px;
		}
		.preorder-select {
			width: 100%;
			height: 30px;
		}

		tr.disabled {
		    color: var(--grey-2) !important;
		}

		.absent-customer {
			color: black !important;
			background-color: var(--grey-2)
		}
	</style>


	<div class="pending-orders-wrapper">
		
		<!-- 
		//......................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP............................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP...................11111..
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.................111111..
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP................111111..
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP...........1111111111..
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP..........11111111111..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP..........11111111111..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP..........11111111111..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP..........11111111111..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP...............111111..
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP...............111111..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP...............111111..
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................111111..
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................111111..
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP..................111111..
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP....................111111..
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP...........................111111..
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP...........................111111..
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//.......SSSSSSSSS......................................................................................
		//......................................................................................................
		-->
		<div class="step-1 pending-orders-step" data-bind="visible: currentStep().id == 1">
			
			<h1>Pending Group Orders</h1>

			<div data-bind="if: orders().length">
				<h2><strong>Group Names</strong></h2>
				
				<div class="orders-wrapper" data-bind="foreach: { data: orders, as: 'order' } ">
					
					<div class="order-el" data-bind="click: function() { $root.selectOrder(order) }">
						
						<div class="leader-img-wrapper">
							<img class="leader-img" data-bind="attr: { src: order.leader.image()}">
						</div>

						<div class="group-meta">
							<strong><p data-bind="text: order.group_name "></p></strong>
						</div>

						<div class="res-customers" data-bind="foreach: { data: order.customers, as: 'customer' } ">
							
							<div data-bind="if: !customer.is_present()">
								<p data-bind="text: customer.full_name() + ' - ' + customer.order_id()"></p>
							</div>

						</div>

						<div>
							<p data-bind="text: order.customers.filter(e => !e.is_present() ).length + ' of ' + order.customers.length "></p>
						</div>

					</div>
				</div>

			</div>


			<div data-bind="if: orders().length == 0">
				<h2 style="color: red">No Pending Group Orders</h2>
			</div>

		</div>



		<!-- 
		//..........................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP................................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP................22222222......
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.............222222222222....
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP...........22222222222222...
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP..........22222222222222...
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.........2222222222222222..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP.........2222222..2222222..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........222222....222222..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........222222....222222..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP..........22222....222222..
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP..................2222222..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.................22222222..
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................222222222...
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............222222222....
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP................222222222.....
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP.................222222222......
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.......................22222222........
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP......................22222222.........
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................222222222222222..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//.......SSSSSSSSS..........................................................................................
		//.......................................................................................................

		-->
		<div class="step-1 pending-orders-step" data-bind="visible: currentStep().id == 2, ">
			
			<div data-bind="with: currentOrder">
				<div>
					<h1 style="font-size: 50px">Group Order  <span class="group-name-span" data-bind="text: group_name"></span> </h1> 
				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>BASIC DETAILS</h2>

						<div class="row">
							<div class="col-md-5">
								<img class="	leader-img" data-bind="attr: { src: leader.image() }">
							</div>

							<div data-bind="" class="col-md-7">
								<p class="leader-name-p" data-bind="text: leader.full_name() "></p>
							</div>
						</div>
					</div>

				</div>

				<br style="clear: both;">

				<div class="customer-table-wrapper">
					
					<table data-role="none" class="detailed-cust-table">
						<thead>
							<tr>
								<th><span class="customer-list-th-txt">Leader</span> </th>
								<th><span class="customer-list-th-txt">Last Name</span> </th>
								<th><span class="customer-list-th-txt">First Name</span> </th>
								<th><span class="customer-list-th-txt">Mobile</span> </th>
								<th><span class="customer-list-th-txt" style="width: 200px;">Email</span> </th>
								<th><span class="customer-list-th-txt">Present</span> </th>
								<th><span class="customer-list-th-txt">Will Pay ?</span> </th>
							</tr>
						</thead>

						<tbody data-bind="foreach: customers">
							
							<tr data-bind="css: { 'disabled' : !$data.is_present() } ">
								<td>
									<span data-bind="visible: !$data.is_leader"><input class="make-leader-checkbox" data-role="none" type="checkbox" name=""></span>
									<span data-bind="visible: $data.is_leader" class="leader-star">&#9733;</span>
								</td>
								<td><input type="text" data-role="none" class="preorder-text-input" data-bind="disable: !$data.is_present(), value: $data.customer_last_name"></td>
								<td><input type="text" data-role="none" class="preorder-text-input" data-bind="disable: !$data.is_present(), value: $data.customer_first_name"></td>
								<td><input type="text" data-role="none" class="preorder-text-input" data-bind="disable: !$data.is_present(), value: $data.customer_mobile_phone"></td>
								<td><input type="text" data-role="none" class="preorder-text-input" data-bind="disable: !$data.is_present(), value: $data.customer_email"></td>
								<td><input type="checkbox" class="preorder-checkbox" data-role="none" data-bind="checked: $data.is_present"></span></td>

								<!-- This should be predefined during the first order process => thus we disabled it here -->
								<td><input type="checkbox" class="preorder-checkbox" data-role="none" data-bind="disable: true, checked: $data.is_paying"> </td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>



		</div>


		<!-- 
		//..........................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP................................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP...............333333333......
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.............333333333333....
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP...........33333333333333...
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP..........33333333333333...
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.........333333333333333...
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP.........333333...3333333..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........333333...3333333..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........333333...3333333..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP.................3333333...
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP..............3333333333...
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP..............333333333....
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............3333333333...
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............33333333333..
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP.....................3333333..
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP..............33333.....333333..
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.....................333333....333333..
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.....................333333....333333..
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................3333333..3333333..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................3333333333333333..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................33333333333333...
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................3333333333333....
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.......................33333333333.....
		//.......SSSSSSSSS............................................................................33333333......
		//..........................................................................................................

		 -->

		<div class="step-1 pending-orders-step" data-bind="visible: currentStep().id == 3">
			
			
			<div data-bind="with: currentOrder">

				<h1 style="font-size: 50px">Group Order  <span class="group-name-span" data-bind="text: group_name"></span> </h1> 
				<span data-bind="text: group_name"></span>

				<div>
					<p class="leader-name-p" data-bind="text: 'LEADER  ' + leader.full_name() "></p>
				</div>

				<!-- Tabs -->
				<div class="cust-tabs" data-bind="foreach: customers">
					
					<div class="cust-tab" data-bind="click: function() { $root.selectDetailInfoStepCurrentCustomer($data); },
													 css: { 'selected-cust-tab' : $data === $root.currentCustomer(),
													 		'absent-customer' : !$data.is_present()
													 		 }">
						<span data-bind="text: $data.full_name()"></span>
					</div>
				</div>


				<!-- Content -->
				<div class="cust-content" data-bind="with: $root.currentCustomer">
				
					<span>Personal Information</span>

					<div class="row">
						
						<!-- Left div -->
						<div class="col-md-6">
							
							<div>
								<p class="preorder-info-p">First Name</p>	
								<input class="detail-info-input" data-bind="value: customer_first_name">
							</div>

							<div>
								<p class="preorder-info-p">Last Name</p>	
								<input class="detail-info-input" data-bind="value: customer_last_name">
							</div>

							<div>
								<p class="preorder-info-p">Occupation</p>	
								<input class="detail-info-input" data-bind="value: customer_occupation">
							</div>

							<div>
								<p class="preorder-info-p">Company Name</p>	
								<input class="detail-info-input" data-bind="value: customer_company_name">
							</div>

							<div>
								<p class="preorder-info-p">Date of Birth</p>	
								<input type="text" placeholder="Date Required" class="datepicker garmentDataInput" data-bind="value: customer_DOB">
							</div>

							<div class="row">

								<div class="col-md-6">
									<p class="preorder-info-p">Gender</p>	
	            				</div>

	            				<div class="col-md-3">
		            				<label for="gender_male">Male</label>
		            				<input type="radio" class="radio-new" name="gender" id="gender_male" value="1" data-role="none" data-bind="checked: customer_gender"/>
						        </div>

						        <div class="col-md-3">
					            	<label for="gender_female">Female</label>
					            	<input type="radio" class="radio-new" name="gender" id="gender_female" value="0" data-role="none" data-bind="checked: customer_gender" />
					            </div>
							</div>

						</div>




						<!-- Right div -->
						<div class="col-md-6">
							
							<div>
					
								<fieldset data-role="controlgroup" data-type="horizontal" class="">
						            <legend>Location<span class="mandatoris">*</span>:</legend>
						            <label for="customer_country">Country</label>
						            <select data-role="none" name="customer_country" id="customer_country" data-bind="options: $root.countries, value: customer_country, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'Country'">
						            </select>
						            <label for="customer_state">State</label>
						            <select data-role="none" name="customer_state" id="customer_state" data-bind="options: $root.states, value: customer_state, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'State'">
						            </select>
						            <label for="customer_city">City</label>
						            <select data-role="none" name="customer_city" id="customer_city" data-bind="options: $root.cities, value: customer_city, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'City'">
						            </select>
						          </fieldset>

							</div>

							<div>
								<p class="preorder-info-p" >Street Address</p>	
								<input type="text" name="customer_address1" data-bind="value: customer_address1" value=""  />
							</div>

							<div>
								<p class="preorder-info-p" >Suburb</p>	
								<input type="text" name="customer_address2" data-bind="value: customer_address2" value=""  />
							</div>

							<div>
								<p class="preorder-info-p" >Post Code</p>	
								<input type="tel" name="customer_postal_code" data-bind="value: customer_postal_code" value=""  />
							</div>

							<div class="row">

								<div class="col-md-6">
									<p class="preorder-info-p" >Mobile Number</p>	
									<!-- Check for regex onchange mobile number -->
									<input type="tel" name="customer_mobile_phone" maxlength="12" data-bind="value: customer_mobile_phone" value="" />
								</div>

								<div class="col-md-6">
									<p class="preorder-info-p" >LandLine Number</p>	
									<input type="tel" name="customer_landline_phone" maxlength="10" data-bind="value: customer_landline_phone" value=""  />
								</div>

							</div>

							<div>
								<p class="preorder-info-p" >Email</p>	
								<input type="email" name="customer_email" data-bind="value: customer_email" value=""  />
							</div>

							<div>
								<div class="col-md-8">
									<p class="preorder-info-p" >Subscribe to our newsletter:</p>	
								</div>
								<div class="col-md-4">
									<input type="checkbox" class="preorder-checkbox"  data-bind="checked: customer_email_subscription"/>
								</div>
							</div>
							<br style="clear: both">
							<div>

								<div class="col-md-12" style="padding: 0">
									<p class="preorder-info-p" >Referral Method</p>
									<select data-role="none" class="preorder-select" data-bind="options: $root.referal_methods_list, optionsText: 'name', optionsValue: 'id' , value: customer_referal_method, optionsCaption: 'Referral method...'">
						        </div>
								<br style="clear: both">
						        </select>
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='7'}">
						            <label for="customer_refered_by"  >Who referred you? <span class="smalakis">(First  &amp; Last Name, State)</span><span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" />
						          </div>
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='6'}">
						            <label for="customer_other_way" >Please specify<span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_other_way" data-bind="value: customer_other_way" value="" />
						          </div>
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='1' && customer_referal_method()!=='8' && customer_referal_method()!=='9'}">
						            <label for="customer_referal_moreinfo" >What did you type<span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_referal_moreinfo" data-bind="value: customer_referal_moreinfo" value="" />
						          </div>
						        </div>
						        <div class="clear"></div>

							</div>
							




						</div>


					</div>



				</div>


			</div>



















		</div>

	</div>


























	<div style="margin-top: 300px;"></div>
	<div class="j-footer container_12">
		

		<div class="half-em-around">
			<div class="grid_2" data-bind="if: $root.currentStep().id == 1">
				<a href="#" data-bind="click: function(){ posChangePage('#main'); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-small-letter">Return Back</span>
					<span class="btn-letter">To Main</span>
				</a>
			</div>

			<div class="grid_2 col-md-offset-1" data-bind="if: $root.currentStep().id != 1">
				<a href="#" data-bind="click: lastStep" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
					<span class="btn-letter">Back To</span>
					<span class="btn-small-letter">Previous step</span>
				</a>
			</div>

		</div>

		<div style="float: right;" data-bind="if: $root.currentStep().id == 2">
			<a data-bind="click: nextStep" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
				<span class="btn-small-letter">Next</span>
				<span class="btn-letter">STEP</span>
			</a>
		</div>

		<div style="float: right;" data-bind="if: $root.currentStep().id == 3, click: $root.proceedToOrder">
			<a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
				<span class="btn-small-letter">Proceed to</span>
				<span class="btn-letter">ORDER</span>
			</a>
		</div>



	</div>




</div>