<div data-role="page" id="preOrders" style="background: white;">

	<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.min.css" media="all" />

	<style>
		
		* {
			text-shadow: none;
		}
		:root {
			/*From the most white to the most black*/
		    --grey-1:rgb(235,235,235); /*Very clear*/
		    --grey-2:rgb(132,132,132);
		    --grey-3:rgb(88,88,88);
		    --grey-4:rgb(63,63,63); /*Very dark*/
		    
		}
		.group-name-step {
			text-align: center;
		}

		.leader-pic-img {
			width: 100%;
			margin: 0 auto;
		}

		.seccond-step-leader-pic {
			width: 100% !important;
			margin: 0 auto;
		}

		.number-people-div {
			width: 200px;
			display: flex;
			margin: 0 auto;
			align-items: center;
    		justify-content: center;
		}

		.number-people-btn {
			font-weight: 900 !important;
			font-size: 50px;
			padding: 0px !important;
			width: 40px !important;
		}
		.number-people-value {
			font-size: 38px;
			padding: 10px;
			margin: 10px;
		}

		.radio-new, .radio-new:hover {
			background-color: none !important;
		}

		.cust-tabs {
			display: flex;
		}
		.cust-tab {
			text-transform: uppercase;
		    padding: 5px;
		    background: var(--grey-2);
		    color: white;
		    text-shadow: none;
		    border-radius: 5px;
		    margin-right: 10px;
		    padding: 8px;
		        padding-right: 8px;
		        padding-left: 8px;
		    padding-right: 12px;
		    padding-left: 12px;
		    text-align: center;
		    font-size: 12px;
		}
		

		.detailed-cust-table {
			table-layout: fixed;
		}
		.detailed-cust-table th {
			text-align: center;
		}
		.detailed-cust-table td {
			text-align: center;
			padding-bottom: 2em;
		}

		.group-name-span {
			font-size: 40px;
			font-weight: 400;
		}
		.step {
			margin-right: 50px;
		}

		.selected-cust-tab {
			background: rgb(147, 140, 116);
    		background-color: rgb(147, 140, 116);
			background-color: #988e73;
		}
		.make-leader-checkbox {
			height: 30px;
			width: 30px;
			position: relative;
			top: 5px;
		}
		.leader-star {
			font-size: 30px;
		}
		.customer-list-th-txt {
			background: var(--grey-1);
			color: black;
			text-shadow: none;
			font-size: 19px;
			border-radius: 5px;
			margin-right: 5px;
			min-width: 100px;
			display: inline-block;
		}
		.preorder-checkbox {
			width: 30px;
			height: 30px;
			display: none;
		}

		input[type="checkbox"].preorder-checkbox + label{
			width: 30px;
			height: 30px;
			background-size: 97%;
			margin-left: 34px;
			margin-top: 3px;
		}
		input[type="checkbox"].preorder-checkbox + label.present{
			background-image: url("img/order_process/checkButom1_no.png");
		}
		input[type="checkbox"].preorder-checkbox:checked + label.present{
			background-image: url("img/order_process/checkButom1.png");
		}
		input[type="checkbox"].preorder-checkbox + label.will_pay{
			background-image: url("img/order_process/checkButom1_no.png");
		}
		input[type="checkbox"].preorder-checkbox:checked + label.will_pay{
			background-image: url("img/order_process/checkButom2.png");
		}

		.preorder-text-input {
			text-align: center;
			width: 95%;
			margin: 0 auto;
			background: none;
			border: none;
			border-bottom: 1px solid black;
		}
		.leader-name-p {
			font-size: 30px;
			font-weight: 400;
		}

		.preorder-info-p {
			margin-bottom: 0;
		}
		.radio-new {
			width: 30px;
			height: 30px;
		}
		.preorder-select {
			width: 100%;
			height: 30px;
		}

		.pre-order-container {
			margin: 20px;
		}
		.remove-cust-btn {
			background: red;
			color: white;
			border: none;
			padding: 5px;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 14px;
			border-radius: 5px;
		}
	</style>

	<div class="pre-order-container">

		<!-- <pre data-bind="text:ko.toJSON(preOrders)"></pre> -->

		<!-- <div data-bind="text: $root.currentStep().id "></div> -->

		<button data-role="none" data-bind="click: function() { ($root.clearPreOrder()) }" class="remove-cust-btn" style="position: absolute; right: 20px ;">Clear Pre order</button>

		<!-- 
		//......................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP............................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP...................11111..
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.................111111..
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP................111111..
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP...........1111111111..
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP..........11111111111..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP..........11111111111..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP..........11111111111..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP..........11111111111..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP...............111111..
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP...............111111..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP...............111111..
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................111111..
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................111111..
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP..................111111..
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP....................111111..
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP...........................111111..
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP...........................111111..
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP...........................111111..
		//.......SSSSSSSSS......................................................................................
		//......................................................................................................
		-->
		<div class="step pre-order-step group-name-step" data-bind="if: currentStep().id == 1">
			<h1>Group Order</h1>

			<div>
				<div class="col-md-4 col-md-offset-4">
					<h2>Group Name</h2>
					<input type="" style="text-align: center;" placeholder="Type the Group Name" data-bind="value: $root.groupName" />
				</div>

				<br style="clear: both">
				<div class="col-md-4 col-md-offset-4">
					
					<p>Upload Photo of the Leader</p>
					
					<div>
						<img class="leader-pic-img" data-bind="attr: { src: leaderPic() }">
					</div>

					<button class="" data-bind="click:takePic">Take Pic</button>

				</div>

				<br style="clear: both">
				<div class="number-people-wrapper" class="col-md-4 col-md-offset-4">
					
					<h4>How many people are in the group ?</h4> 
					<p style="text-align: center;font-size: 10px;"><strong>*including the leader</strong></p>
					
					<div class="number-people-div">
						<button class="number-people-btn" data-bind="click: function() { $root.changeGroupNumberPeople('-') }">-</button>
						<span class="number-people-value" data-bind="text:groupNumberPeople()"></span>
						<button class="number-people-btn" data-bind="click: function() { $root.changeGroupNumberPeople('+') }">+</button>
					</div>
				</div>

			</div>
		</div>

		<!-- 
		//..........................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP................................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP................22222222......
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.............222222222222....
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP...........22222222222222...
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP..........22222222222222...
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.........2222222222222222..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP.........2222222..2222222..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........222222....222222..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........222222....222222..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP..........22222....222222..
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP..................2222222..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.................22222222..
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP................222222222...
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............222222222....
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP................222222222.....
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP.................222222222......
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.......................22222222........
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP......................22222222.........
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................222222222222222..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................2222222222222222..
		//.......SSSSSSSSS..........................................................................................
		//.......................................................................................................

		-->
		<div class="step pre-order-step customer-basic-info-step" data-bind="if: currentStep().id == 2">
			
			<div>
				<h1 style="font-size: 50px">Group Order  <span class="group-name-span" data-bind="text: $root.groupName()"></span> </h1> 
			</div>

			<div class="row">
				<div class="col-md-6">
					<h2>BASIC DETAILS</h2>

					<div class="row">
						<div class="col-md-5">
							<img class="seccond-step-leader-pic" data-bind="attr: { src: leaderPic() }">
						</div>

						<div data-bind="if: $root.getLeader() != false" class="col-md-7">
							<p class="leader-name-p" data-bind="text: $root.getLeaderName() "></p>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					
					<input value="search for existing customer" id="pre-order-cust-search" data-bind="value: $root.custSelectVM.customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer"
	                    onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';"
	                    type="text">

	                 <ul class="alllistsview" data-role="listview" data-bind="foreach:  $root.custSelectVM.customersAutocompleteList" style="position: absolute;background: white;">
			            <li data-bind="click: function() { $root.addCustomerFromSearchBar($data) }">
			                <div class="grid_12 capitalme"> <span data-bind="text: customer_first_name + ' ' + customer_last_name + ' ' + customer_email + ' - ' + customer_display_state"></span> </div>
			            </li>
			        </ul>

				</div>
			</div>

			<br style="clear: both;">

			<div class="customer-table-wrapper">
				
				<table data-role="none" class="detailed-cust-table">
					<thead>
						<tr>
							<th><span class="customer-list-th-txt">Leader</span> </th>
							<th><span class="customer-list-th-txt">Last Name</span> </th>
							<th><span class="customer-list-th-txt">First Name</span> </th>
							<th><span class="customer-list-th-txt">Mobile</span> </th>
							<th><span class="customer-list-th-txt" style="width: 200px;">Email</span> </th>
							<th><span class="customer-list-th-txt">Present</span> </th>
							<th><span class="customer-list-th-txt">Will Pay ?</span> </th>
							<th><span class="customer-list-th-txt">Remove</span> </th>
						</tr>
					</thead>

					<tbody data-bind="foreach: customers">
						
						<tr>
							<td>
								<span data-bind="visible: !$data.is_leader(), click: function() { $root.makeLeader($data); }"><input class="make-leader-checkbox" data-role="none" type="checkbox" name=""></span>
								<span data-bind="visible: $data.is_leader" class="leader-star">&#9733;</span>
							</td>
							<td><input type="text" data-role="none" class="preorder-text-input" data-bind="value: $data.customer_last_name"></td>
							<td><input type="text" data-role="none" class="preorder-text-input" data-bind="value: $data.customer_first_name"></td>
							<td><input type="text" data-role="none" class="preorder-text-input" data-bind="value: $data.customer_mobile_phone"></td>
							<td><input type="text" data-role="none" class="preorder-text-input" data-bind="value: $data.customer_email"></td>
							<td>
								<input type="checkbox" class="preorder-checkbox" data-role="none" data-bind="checked: $data.is_present, attr: {id:'check-present'+$index()}"></span>
								<label data-bind="attr:{for: 'check-present'+$index()}" class="present"></label>
							</td>
							<td>
								<input type="checkbox" class="preorder-checkbox" data-role="none" data-bind="checked: $data.is_paying, attr: {id:'check-will-pay'+$index()}"> 
								<label data-bind="attr:{for: 'check-will-pay'+$index()}" class="will_pay"></label>
							</td>
							<td>
								<button data-role="none" data-bind="click: function() { $root.removeCustomer($data) }" class="remove-cust-btn">REMOVE</button>
								<div data-bind="visible:$index()+1 == $root.customers().length && $root.customers().length < $root.groupNumberPeople()" style="display: inline-block !important;">
									<button data-role="none" class="ui-mini" data-bind="click: function() { $root.addCustomer() }">ADD NEW ROW</button>
								</div>
							</td>
						</tr>

					</tbody>
				</table>

			</div>


			<p style="text-align:center;color: red;font-size: 16;font-weight: 300"> Please, carrefully assign if the customers are <span style="font-weight: 900">PRESENT</span> at this moment, and if he/she <span style="font-weight: 900">WILL PAY</span> for his garments </p>



		</div>

		<!-- 
		//..........................................................................................................
		//......SSSSSSSSS......TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPP................................
		//....SSSSSSSSSSSSS...STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPP...............333333333......
		//...SSSSSSSSSSSSSSS..STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPP.............333333333333....
		//...SSSSSSSSSSSSSSSS.STTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPP...........33333333333333...
		//..SSSSSSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEEE..PPPPPPPPPPPPPPPPPP..........33333333333333...
		//..SSSSSSS....SSSSSSS.TTTTTTTTTTTTTTTTTTT.EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP.........333333333333333...
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP.....PPPPPPP.........333333...3333333..
		//..SSSSSS......SSSSSS.......TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........333333...3333333..
		//..SSSSSSSS.................TTTTTTT.......EEEEEE..............PPPPPP......PPPPPP.........333333...3333333..
		//..SSSSSSSSSSSS.............TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.....PPPPPPP.................3333333...
		//..SSSSSSSSSSSSSSS..........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPP.PPPPPPPPPPP..............3333333333...
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPPP..............333333333....
		//....SSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............3333333333...
		//......SSSSSSSSSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEE...PPPPPPPPPPPPPPPPP...............33333333333..
		//..........SSSSSSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPPPP.....................3333333..
		//..SSSSS.......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPPPPPPPPP..............33333.....333333..
		//.SSSSSSS.......SSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.....................333333....333333..
		//.SSSSSSS......SSSSSSS......TTTTTTT.......EEEEEE..............PPPPPP.....................333333....333333.. 
		//.SSSSSSSS....SSSSSSSS......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................3333333..3333333..
		//..SSSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.....................3333333333333333..
		//...SSSSSSSSSSSSSSSSS.......TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................33333333333333...
		//...SSSSSSSSSSSSSSSS........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP......................3333333333333....
		//.....SSSSSSSSSSSSS.........TTTTTTT.......EEEEEEEEEEEEEEEEEE..PPPPPP.......................33333333333.....
		//.......SSSSSSSSS............................................................................33333333......
		//..........................................................................................................

		 -->
		<div class="step pre-order-step" data-bind="visible: currentStep().id == 3">
			
			<div>
				<h1 style="font-size: 50px">Group Order : <span class="group-name-span" data-bind="text: $root.groupName()"></span> </h1> 

				<div data-bind="if: $root.getLeader() != false">
					<p class="leader-name-p" data-bind="text: 'LEADER  ' + $root.getLeaderName() "></p>
				</div>

				<!-- Tabs -->
				<div class="cust-tabs" data-bind="foreach: customers">
					
					<div class="cust-tab" data-bind="click: function() { $root.selectDetailInfoStepCurrentCustomer($data); },
													 css: { 'selected-cust-tab' : $data === $root.selectedDetailInfoCustomer() }">
						<span data-bind="text: $data.customer_first_name() + ' ' + $data.customer_last_name()"></span>
					</div>
				</div>


				<!-- Content -->
				<div class="cust-content" data-bind="with: selectedDetailInfoCustomer">
				
					<span>Personal Information</span>

					<div class="row">
						
						<!-- Left div -->
						<div class="col-md-6">
							
							<div>
								<p class="preorder-info-p">First Name <span class="mandatoris">*</span> </p>
								<input class="detail-info-input" data-bind="value: customer_first_name, css:{'required-empty' : !customer_first_name() } " >
							</div>

							<div>
								<p class="preorder-info-p">Last Name <span class="mandatoris">*</span> </p>
								<input class="detail-info-input" data-bind="value: customer_last_name, css:{'required-empty' : !customer_last_name() }" >
							</div>

							<div>
								<p class="preorder-info-p">Occupation</p>	
								<input class="detail-info-input" data-bind="value: customer_occupation" >
							</div>

							<div>
								<p class="preorder-info-p">Company Name</p>	
								<input class="detail-info-input" data-bind="value: customer_company_name">
							</div>

							<div>
								<p class="preorder-info-p">Date of Birth <span class="mandatoris">*</span> </p>
								<!-- <input type="text" placeholder="Date Required" class="datepicker garmentDataInput" data-bind="value: customer_DOB"> -->
								<div style="display: flex;">

									<div>
										<select data-role="none" name="DOB_day" id="DOB_day" data-bind="options        : $root.days,
																										value          : $data.customer_birth_day,
																										optionsCaption : 'Day'" >

										</select>
									</div>
									<div>
										<select data-role="none" name="DOB_month" id="DOB_month" data-bind="options        : $root.months,
																											optionsText    : 'name',
																											optionsValue   : 'id' ,
																											value          : $data.customer_birth_month,
																											optionsCaption : 'Month'" >
										</select>
									</div>
									<div>
										<select data-role="none" name="DOB_year" id="DOB_year" data-bind="options        : $root.years,
																										  value          : $data.customer_birth_year,
																										  optionsCaption : 'Year'" >
							
										</select>
									</div>
								</div>
							</div>

							<div class="row">

								<div class="col-md-6">
									<p class="preorder-info-p">Gender <span class="mandatoris">*</span> </p>
	            				</div>

	            				<div class="col-md-3">
		            				<label for="gender_male">Male</label>
		            				<input type="radio" class="radio-new" name="gender" id="gender_male" value="1" data-role="none" data-bind="checked: customer_gender"/>
						        </div>

						        <div class="col-md-3">
					            	<label for="gender_female">Female</label>
					            	<input type="radio" class="radio-new" name="gender" id="gender_female" value="0" data-role="none" data-bind="checked: customer_gender" />
					            </div>
							</div>

						</div>




						<!-- Right div -->
						<div class="col-md-6">
							
							<div>
					
								<fieldset data-role="controlgroup" data-type="horizontal" class="">
						            <legend>Location<span class="mandatoris">*</span>:</legend>
						            <label for="customer_country">Country</label>
												<select data-role="none" name="customer_country" id="customer_country" data-bind="options: $root.countries,
																																																					value: customer_country,
																																																					optionsValue: 'locations_id',
																																																					optionsText: 'location_name',
																																																					optionsCaption: 'Country'" >
						            </select>
						            <label for="customer_state">State</label>
												<select data-role="none" name="customer_state" id="customer_state" data-bind="options: $root.states.filter(state => state.parent_location_id == customer_country()),
																																																					value: customer_state,
																																																					optionsValue: 'locations_id',
																																																					optionsText: 'location_name',
																																																					optionsCaption: 'State'"> 
						            </select>
						            <label for="customer_city">City</label>
												<select data-role="none" name="customer_city" id="customer_city" data-bind="options: $root.cities.filter(city => city.parent_location_id == customer_state()),
																																																					value: customer_city,
																																																					optionsValue: 'locations_id',
																																																					optionsText: 'location_name',
																																																					optionsCaption: 'City'" >
						            </select>
						          </fieldset>

							</div>

							<div>
								<p class="preorder-info-p" >Street Address <span class="mandatoris">*</span> </p>
								<input type="text" name="customer_address1" data-bind="value: customer_address1, css:{'required-empty' : !customer_address1() }" value=""   />
							</div>

							<div>
								<p class="preorder-info-p" >Suburb <span class="mandatoris">*</span> </p>
								<input type="text" name="customer_address2" data-bind="value: customer_address2, css:{'required-empty' : !customer_address2() }" value=""   />
							</div>

							<div>
								<p class="preorder-info-p" >Post Code <span class="mandatoris">*</span> </p>
								<input type="tel" name="customer_postal_code" data-bind="value: customer_postal_code, css:{'required-empty' : !customer_postal_code() }" value=""   />
							</div>

							<div class="row">

								<div class="col-md-6">
									<p class="preorder-info-p" >Mobile Number <span class="mandatoris">*</span> </p>
									<!-- Check for regex onchange mobile number -->
									<input type="tel" name="customer_mobile_phone" maxlength="12" data-bind="value: customer_mobile_phone, css:{'required-empty' : !customer_mobile_phone() }" value=""   />
								</div>

								<div class="col-md-6">
									<p class="preorder-info-p" >LandLine Number</p>	
									<input type="tel" name="customer_landline_phone" maxlength="10" data-bind="value: customer_landline_phone" value=""   />
								</div>

							</div>

							<div>
								<p class="preorder-info-p" >Email <span class="mandatoris">*</span> </p>
								<input type="email" name="customer_email" data-bind="value: customer_email, css:{'required-empty' : !customer_email() }" value=""   />
							</div>

							<div>
								<div class="col-md-8">
									<p class="preorder-info-p">Subscribe to our newsletter:</p>	
								</div>
								<div class="col-md-4">
									<input type="checkbox" class="preorder-checkbox"  data-bind="checked: customer_email_subscription" style="display: block;position: relative;top: 10px" />
								</div>
							</div>
							<br style="clear: both">
							<div>

								<div class="col-md-12" style="padding: 0">
									<p class="preorder-info-p">Referral Method<span class="mandatoris">*</p>
									<select data-role="none" class="preorder-select" data-bind="options: $root.referal_methods_list, optionsText: 'name', optionsValue: 'id' , value: customer_referal_method, optionsCaption: 'Referral method...'"></select>
						        </div>
								<br style="clear: both">
						        
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='7'}">
						            <label for="customer_refered_by"  >Who referred you?<span class="smalakis">(First  &amp; Last Name, State)</span><span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" />
						          </div>
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='6'}">
						            <label for="customer_other_way" >Please specify<span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_other_way" data-bind="value: customer_other_way" value="" />
						          </div>
						          <div data-bind="css: { 'hidden': customer_referal_method()!=='1' && customer_referal_method()!=='8' && customer_referal_method()!=='9'}">
						            <label for="customer_referal_moreinfo" >What did you type<span class="mandatoris">*</span>:</label>
						            <input type="text" name="customer_referal_moreinfo" data-bind="value: customer_referal_moreinfo" value="" />
						          </div>
						        </div>
						        <div class="clear"></div>

							</div>
							




						</div>


					</div>



				</div>


			</div>
		</div>




		<div style="margin-top: 300px;"></div>
		<div class="j-footer container_12">
			<div class="half-em-around">
				<div class="grid_2">
					<a href="#" data-bind="visible: $root.currentStep().id == 1, click: function(){ posChangePage('#main'); }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
						<span class="btn-small-letter">Return Back</span>
						<span class="btn-letter">To Main</span>
					</a>
				</div>

				<div class="grid_2 col-md-offset-1">
					<a href="#" data-bind="visible: $root.currentStep().id != 1,click: lastStep" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
						<span class="btn-letter">Back To</span>
						<span class="btn-small-letter">Previous step</span>
					</a>
				</div>


			</div>

			<div style="float: right;" data-bind="if: $root.currentStep().id != 3">
				<a data-bind="click: nextStep" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">Next</span>
					<span class="btn-letter">STEP</span>
				</a>
			</div>

			<div style="float: right;" data-bind="if: $root.currentStep().id == 3 && $root.selectedDetailInfoCustomer() != $root.customers()[$root.customers().length - 1], click: function() { $root.nextCustomer(); }">
				<a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">Next</span>
					<span class="btn-letter">Customer</span>
				</a>
			</div>


			<div style="float: right;" data-bind="if: $root.currentStep().id == 3 && $root.selectedDetailInfoCustomer() == $root.customers()[$root.customers().length - 1] , click: $root.proceedToOrder">
				<a data-bind="" class="new-btn icon-go-next new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="position: relative;right: 40px;min-width: 150px;">
					<span class="btn-small-letter">Proceed to</span>
					<span class="btn-letter">ORDER</span>
				</a>
			</div>


		</div>
	</div> <!-- End pre order container -->

	


</div>