<div data-role="page" id="requestRefund" class="bgBody">
  <div data-bind="template: { name: 'headerTemplate'}"></div>
  <div data-role="content" data-bind="with: customersVMmirror" data-theme="c" style="background:none !important; border:none;">
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_12">
          <div class="bigladeling evenbigger tenmargbot"  data-bind="with: selected_item"> <span class="orderim"></span> <span class="firstpart">Customer</span> <span class="bigpart"> <span>John</span> <span>&nbsp;</span> <span>Papadakis</span> </span> </div>
        </div>
        <div class="grid_12 marthirty">
          <h2 class="custtiles"><span class="refundstep"></span>Request Refund</h2>
          <ul class="grid_12 listcustnew orderlist marthirty" >
					<li class="grid_5 makewhitelist">
						<div class="grid_5 marginleftthirty">
							<span>Total Amount:</span>
						</div>                    
						<div class="grid_6">
							<span>$ 3445.50</span>
						</div>
						                        			
					</li>
				</ul>
                <ul class="grid_12 listcustnew orderlist fieldsMeasurements" >
					<li class="grid_5 makewhitelist">
						<div class="grid_5 marginleftthirty">
							<span>Balance owing:</span>
						</div>                    
						<div class="grid_6">
							<span>$ 6345.50</span>
						</div>
						                        			
					</li>
				</ul>
          <ul class="extracostfields grid_8" data-bind="with: selected_order">
            <div data-role="fieldcontain" data-target-attr="extracost">
              <label for="extracost">Date:</label>
              <input type="text" name="extracost" id="extracost" data-bind="value: extracost, updateFormOnChange: extracost, valueUpdate: 'afterkeydown'"/>
            </div>
            <div data-role="fieldcontain" data-target-attr="extracost">
              <label for="extracost">Amount:</label>
              <input type="text" name="extracost" id="extracost" data-bind="value: extracost, updateFormOnChange: extracost, valueUpdate: 'afterkeydown'"/>
            </div>
            <div data-role="fieldcontain" >
              <label for="errorcategory">Error:</label>
              <select  class="mikrosss" name="errorcategory" id="errorcategory">
                <option>Select Category</option>
                <option value="category 1">Category 1</option>
                <option value="category 2">Category 2</option>
                <option value="category 3">Category 3</option>
                <option value="category 4">Category 4</option>
                <option value="Other">Other Category</option>
              </select>
            </div>
            <div data-role="fieldcontain" data-target-attr="youtubeurl">
              <label for="youtubeurl">Description:</label>
              <input type="text" name="youtubeurl" id="youtubeurl" />
            </div>
            <div class="grid_4 prefix_3"><a href="#" data-role="button" data-mini="true" data-theme="c">SUBMIT REQUEST</a></div>
          </ul>
          <div class="grid_3">
            <div class="grid_10">
              <input id="files" type="file" accept="image/*" />
              <div id="custMediaBtn" data-role="button">Upload media</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bigladeling right_position marginonbottomlabels bottomfixed"> <a href="#" data-bind="click: function(){posChangePage('#paymentsHistory');}"> <span class="prevstep"></span> <span class="firstpart">Back to </span> <span class="bigpart">Payments</span> </a> </div>
  </div>
  <!-- /content --> 
</div>
