<style>
.ftiaxto .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow {
    background: #fefefe none repeat scroll 0 0;
    border: medium none !important;
    box-shadow: none !important;
}</style>
<div data-role="page" id="shipping_box" class="bgBody"> 
    <!--	<div data-bind="template: { name: 'headerTemplate'}"></div>	-->
    
    <div data-role="content" data-theme="none">
        <div class="content-wrapper" style="margin-bottom:160px;">
            <div data-type="horizontal" class="container_12">
                <h1 data-bind="text: Title"></h1>
                <div class="grid_12">
                    <div class="grid_4">
                        <div class="boxlistitem ftiaxto" data-bind="visible:!sent()">
                            <h3 style="margin:0px 0px 4px 0px;">Box Details</h3>
                            <!-- View to create new box -->
							<div data-bind="visible:!SenderLocation() && !sent()">
								<label for="ShippingBoxDestination" >SenderLocation<span class="mandatoris">*</span>:</label>
								<select name="ShippingBoxDestination" id="ShippingBoxDestination" data-mini="true" data-bind="visible:!sent(), options: userLocations, value: SenderLocation, optionsText: 'stock_location_name', optionsCaption: 'Select Sender Location' "></select>
							</div>
							<div class="grid_12" data-bind="if: SenderLocation()">
								<label for="selected_destination">Sender Location:</label>
								<div class="displaycustomerres"> <span data-bind="text: SenderLocation().stock_location_name"></span><span data-bind="click: function(){SenderLocation(null);}" class="deleteusers">X</span> </div>
								
							</div>
							
                            <div data-bind="visible:!Destination()">
								<label for="ShippingBoxDestination" >Destination<span class="mandatoris">*</span>:</label>
								<select name="ShippingBoxDestination" id="ShippingBoxDestination" data-mini="true" data-bind="visible:!sent(), options: stockLocations, value: Destination, optionsText: 'stock_location_name', optionsCaption: 'Select Destination' ">
								</select>
							
								<div class="grid_2" data-bind="click: function(){ document.getElementById('NewDestinationDialog').style.display = 'block';}">
									<span class="makegreen"> Add New Destination </span>
								</div> 
							</div>
							<div class="grid_12" data-bind="visible: Destination()">
								<label for="selected_destination">Destination:</label>
								<div class="displaycustomerres"> <span data-bind="text: LocationName"></span><span data-bind="click: function(){Destination(null);}" class="deleteusers">X</span> </div>
							</div>
							
                            <label for="ShippingDate" >Shipping Date<span class="mandatoris">*</span>:</label>
                            <input type="text" name="ShippingDate" id="ShippingDate" data-bind="visible:!sent(),datepicker: {dateFormat: 'dd/mm/yy'}, value: ShippingDate" />
                            <label for="ExpectedDate" >Expected Date:</label>
                            <input type="text" id="ExpectedDate" name="ExpectedDate" data-bind="visible:!sent(), datepicker: {dateFormat: 'dd/mm/yy', minDate: ShippingDate()}, value: ExpectedDate" />
                            <div data-bind="visible:!ShippingMethod()">
								<label for="ShippingBoxMethod" >Shipping Method<span class="mandatoris">*</span>:</label>
								<select name="ShippingBoxMethod" id="ShippingBoxMethod" class="ui-enabled" data-mini="true" data-bind="options: shippingMethods, value: ShippingMethod, optionsText: 'shipping_method_name', optionsCaption: 'Select Method' ">
								</select>
							</div>
							<div class="grid_12" data-bind="visible: ShippingMethod()">
								<label for="selected_method">Shipping Method:</label>
								<div class="displaycustomerres"> <span data-bind="text: MethodName"></span><span data-bind="click: function(){ShippingMethod(null);}" class="deleteusers">X</span> </div>
							</div>
                            <label for="ShippingCost" >Shipping Cost:</label>
                            <input type="text" name="ShippingCost" id="ShippingCost" data-bind="visible:!sent(), value: Cost, updateFormOnChange: Cost, valueUpdate: 'afterkeydown'" data-theme="a"/>
                            <label for="ShippingBoxTrackingCode" >Tracking Code:</label>
                            <input type="text" name="ShippingBoxTrackingCode" id="ShippingBoxTrackingCode" data-bind="visible:!sent(), value: TrackingCode, updateFormOnChange: TrackingCode, valueUpdate: 'afterkeydown'" data-theme="a"/>
                            <label for="ShippingBoxComments" >Shipping Comments:</label>
                            <textarea type="text" name="ShippingBoxComments" id="ShippingBoxComments" data-bind="visible:!sent(), value: shippingComments, updateFormOnChange: shippingComments, valueUpdate: 'afterkeydown'" data-theme="a" style="height: 45px; box-shadow: none; border-radius: 0.351em; background-color: rgb(255, 255, 255);"></textarea>
                            <input id="BoxSendImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
                            <div class="grid_3 suffix_3">
					<div data-role="button" class="loadimages" style="margin:0px auto !important;" id="BoxSendMediaBtn" name="BoxSendMediaBtn" data-bind="visible:!sent() && !ShippingReceipt().ID">Upload Image</div>
					<span class="underbuttons" style="text-align:center !important;">Courier Receipt</span>
					</div>
                    
                    
                            
                            <div data-bind="visible:ShippingReceipt().Image"><img width="250px" data-bind="attr:{src:BUrl + ShippingReceipt().Image}"></img><span data-bind="click:function(){ShippingReceipt({});}">X</span></div>
                            <div style="clear:both;"></div>
                        </div>
                        <!-- End of Creationg List items -->
                        <div class="boxlistitem"  data-bind="visible:sent()">
                            <h3 style="margin:0px 0px 4px 0px;">Box Details</h3>
                            <div><span class="firstpart">Sender:</span><span class="secondpart capitalme" name="ShippingBoxDestination" id="ShippingBoxDestination" data-bind="visible:sent(), text: SenderString"></span></div>
                            <div><span class="firstpart">Sent to:</span><span name="ShippingBoxDestination" id="ShippingBoxDestination" data-bind="visible:sent(), text: DestinationString"></span></div>
                            <div><span class="firstpart">Shipping @:</span><span name="shippingdatepick" data-bind="visible:sent(), text: ShippingDate" class="secondpart capitalme"></span> </div>
                            <div><span class="firstpart">Expected @:</span><span data-bind="visible:sent(), text: ExpectedDate" class="secondpart capitalme"></span> </div>
                            <div><span class="firstpart">Received @:</span><span data-bind="visible:received(), text: ReceivedDate" class="secondpart capitalme"></span> </div>
                            <div><span class="firstpart">Cost:</span><span name="ShippingCost" id="ShippingCost" data-bind="visible:sent(), text: Cost"  class="secondpart capitalme"></span></div>
                            <div><span class="firstpart">Tr. Code:</span><span name="ShippingBoxTrackingCode" id="ShippingBoxTrackingCode" data-bind="visible:sent(), text: TrackingCode"></span></div>
                            <div><span class="firstpart">Sent with:</span><span name="ShippingBoxMethod" id="ShippingBoxMethod" data-bind="visible:sent(), text: MethodString"></span></div>
                            <div><span class="firstpart">Comments:</span><span name="ShippingBoxComments" id="ShippingBoxComments" data-bind="visible:sent(), text: shippingComments"></span></div>
                        </div>
                        <!-- End of Printing Box Info --> 
                        
                        <!-- Options Buttons -->
                        
                        
                        
                        
                        <div class="grid_12" data-bind="visible:sent() && receiving()">
                            <label for="BarcodeScanner">Barcode Scanner Input:</label>
                            <input type="text" name="BarcodeScanner" id="BarcodeScanner" data-bind="value: barcodeScanner, updateFormOnChange: barcodeScanner, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"/>
                        </div>
						<div data-bind="visible:!SenderLocation() && receiving()">
							<label for="ShippingBoxDestination" >User Location<span class="mandatoris">*</span>:</label>
							<select name="ShippingBoxDestination" id="ShippingBoxDestination" data-mini="true" data-bind="options: userLocations, value: SenderLocation, optionsText: 'stock_location_name', optionsCaption: 'Select Sender Location' "></select>
						</div>
						<div class="grid_12" data-bind="if: SenderLocation() && receiving()">
							<label for="selected_destination">User Location:</label>
							<div class="displaycustomerres"> <span data-bind="text: SenderLocation().stock_location_name"></span><span data-bind="click: function(){SenderLocation(null);}" class="deleteusers">X</span> </div>
							
						</div>
                        <div class="grid_12" data-bind="visible:sent() && receiving() && ReceivingProblems()">
                            <label for="ShippingReceivingIssue">Shipping Issue Report:</label>
                            <textarea type="text" name="ShippingBoxComments" id="ShippingBoxComments" data-bind="value: shippingReceivingIssue, updateFormOnChange: shippingReceivingIssue, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        </div>
                        
                       
                       
                    </div>
                    <div class="grid_8" style="margin-top:8px !important;">
                       
                            <ul class="itemlist" data-bind="foreach: items">
                                <!--<div class="white_content mynicepop" data-bind="attr:{id:'ContactInfoPopup'+$index()}">
                                    <div class="inmynicepop">
                                        <p>Customer Contact Info</p>
                                        <div class="custinfos">
                                            <ul>
                                                <li> <span class="firstpart">Customer Name:</span> <span class="secondpart"> <span data-bind="text:Item.Customer.customer_first_name"></span> <span data-bind="text:Item.Customer.customer_last_name"></span> </span> </li>
                                                <li> <span class="firstpart">State - City :</span> <span class="secondpart"> <span data-bind="text:Item.Customer.customer_state"></span> <span>&nbsp; &ndash; &nbsp;</span> <span data-bind="text:Item.Customer.customer_city"></span> <span data-bind="text:Item.Customer.customer_country" style="display:none;"></span> </span> </li>
                                                <li> <span class="firstpart">Street Address:</span> <span class="secondpart"><span data-bind="text:Item.Customer.customer_address1"></span>, <span data-bind="text:Item.Customer.customer_address2"></span>, <span  data-bind="text:Item.Customer.customer_postal_code"></span></span></li>
                                                <li> <span class="firstpart">Mobile #:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_mobile_phone"></span> </li>
                                                <li style="display:none;"> <span class="firstpart">Landline #:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_landline_phone"></span> </li>
                                                <li> <span class="firstpart">E-mail:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_email"></span> </li>
                                            </ul>
                                        </div>
                                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('ContactInfoPopup'+$index()).style.display = 'none'; }">Close</a> </div>
                                </div>-->
                                <!-- CONTACT INFO POPUP	-->
                                <li class="grid_list">
                                <span data-bind="visible:Item.Missing" class="missingitem"></span>
                                <div class="checkmytab" data-bind="visible:$parent.receiving()">
                                        <input type="checkbox" data-bind="visible:$parent.receiving(), checked:checked"/>
                                    </div>
                                    <span class="closeitx" data-bind="visible:!$parent.sent(), click: function(){ if(confirm('Do you wish really wish to delete the item?')){$parent.items.splice($index(),1);}}">X</span>
                                <h5><span class="marginleftten" data-bind="text: Item.ItemType"></span> <span data-bind="visible: Item.Customer.customer_first_name" style="font-weight: normal; text-transform: none;">for </span> <span data-bind="text: Item.Customer.customer_first_name"></span> <span data-bind="text: Item.Customer.customer_last_name"></span></h5>
                                <h5 data-bind="visible: $parent.Headers.includes('Type')" style="margin-top: 4px; margin-bottom: 4px;"><span class="marginleftten" data-bind="text: Item.details.type"></span> <span data-bind="visible: Item.details.fabric"> &#8722; </span> <span data-bind="visible: $parent.Headers.includes('Fabric Code'), text: Item.details.fabric"></span></h5>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.barcode"><span class="marginleftten">Barcode: </span><span data-bind="text: Item.barcode, visible: Item.barcode"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.order_id"><span class="marginleftten" >Order: </span><span data-bind="text: Item.details.order_id"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.fitting_date"><span class="marginleftten" >Fitting Date: </span><span data-bind="text: Item.details.fitting_date"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.code"><span class="marginleftten" >Trimming Type: </span><span data-bind="text: Item.details.code"></span></div>
                                
                                
                                   <!-- <div class="grid_12"> <span class="marginleftten"> <span data-bind="text: Item.Customer.customer_first_name"></span><span>&nbsp;</span><span data-bind="text: Item.Customer.customer_last_name"></span> </span></div>
                                    <div class="grid_5"><span class="marginleftten" data-bind="text: Item.ItemType"></span></div>
                                    <div class="grid_7"><span class="marginleftten" data-bind="text: Item.barcode, visible: Item.barcode"></span></div>
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Type')"><span class="marginleftten" data-bind="text: Item.details.type"></span></div>
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Order ID')"><span class="marginleftten" data-bind="text: Item.details.order_id"></span></div>
                                   
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Fabric Code')"><span class="marginleftten" data-bind="text: Item.details.fabric"></span></div>
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Fitting Date')"><span class="marginleftten" data-bind="text: Item.details.fitting_date"></span></div>
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Trimming Code')"><span class="marginleftten" data-bind="text: Item.details.code"></span></div>
                                    <div class="grid_2">
                                        <input type="checkbox" data-bind="visible:$parent.receiving(), checked:checked"/>
                                    </div>-->
                                    
                                </li>
                            </ul>
                        
                    </div>
                </div>
                <div>
                    <div class="clear"></div>
                    <div class="grid_16" style="display:none;" >
                        <input id="BoxSendImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
                        <div id="BoxSendMediaBtn" name="BoxSendMediaBtn" class="grid_2 receiptupload" data-role="button" data-bind="visible:!sent() && !ShippingReceipt().ID">Upload Image</div>
                        <div data-bind="visible:ShippingReceipt().Image"><img data-bind="attr:{src:BUrl + ShippingReceipt().Image}"></img><span data-bind="click:function(){ShippingReceipt({});}">X</span></div>
                    </div>
                </div>
                <div class="clear"></div>
                <!--<div class="grid_16 newlisttitles">
                        <div class="grid_1" style="width:28px"><span> </span></div>
                        <div class="grid_3"><span class="marginleftten">Type of Content</span></div>
                        <div class="grid_2"><span class="marginleftten">Barcode</span></div>
                        <div class="grid_4"><span class="marginleftten">Customer Name</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Type')">Type</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Order ID')">Order ID</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Order Date')">Order Date</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Fabric Code')">Fabric Code</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Fitting Date')">Fitting Date</span></div>
                        <div class="grid_2"><span class="marginleftten" data-bind="visible: Headers.includes('Trimming Code')">Trimming Code</span></div>
                        <div class="grid_2"><span class="marginleftten"> </span></div>
                    </div>--> 
                
                <!-- NEW SHIPPING METHOD DIALOG --> 
                <!--div id="NewShippingMethodBox" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
              <div style="margin:1%;padding:10px 0px;"> 
                <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Enter the new shipping method </span> 
                <input type="text" name="ShippingBoxVariousInput" data-bind="value: ShippingBoxVariousInput, updateFormOnChange: ShippingBoxVariousInput, valueUpdate: 'afterkeydown'" data-theme="a"/>
              </div>
              <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('NewShippingMethodBox').style.display = 'none'; }">Cancel</a> </div>
                <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ save_new_shipping_method(); }">Create</a> </div>
              </div>
            </div>
          </div--> 
                <!-- END OF SECOND DIALOG --> 
                
                <!-- NEW DESTINATION DIALOG	-->
                <div name="NewDestinationDialog" id="NewDestinationDialog" class="white_content mynicepop" style="display:none; z-index:100;">
                    <div class="inmynicepop">
                        <p>New Destination</p>
                        <div class="custinfos">
                            <ul>
								<li>
									<div class="mycheck mychecknews enabled"  data-bind="click: function(){ SaveNewLocation(!SaveNewLocation());  }, css: {enabled: SaveNewLocation() }">Save the new location on the shortlist</div>
								</li>
								<li">
									<div data-bind="visible: !customers.selectedCustomer().customer_first_name">
										<label for="error_link_customers" data-bind="visible: !customers.selectedCustomer().customer_first_name">Search Customer :</label>
										<input type="text" name="error_link_customers" data-bind="visible: !customers.selectedCustomer().customer_first_name, value: customers.customerAutocomplete, valueUpdate: 'keyup'" value="" placeholder="Search for your customer"  />
										<!--do something to the click here-->
										<ul class="grid_12" data-bind="visible: !customers.selectedCustomer().customer_first_name, foreach: customers.customerAutocompleteList">
											<li class="lioffabric"  data-bind="click: $parent.customers.selectedCustomer"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </li>
										</ul>
									</div>
									<div class="grid_12" data-bind="visible: customers.selectedCustomer().customer_first_name">
										<label for="selected_customer">Selected Customer:</label>
										<div class="displaycustomerres"> <span data-bind="text: customers.selectedCustomer().customer_first_name"></span> <span data-bind="text: customers.selectedCustomer().customer_last_name"></span><span data-bind="click: customers.removeCustomer" class="deleteusers">X</span> </div>
									</div>
								</li>
                                <li data-bind="visible:SaveNewLocation() && !customers.selectedCustomer().customer_first_name"> <span class="firstpart">Destination title:</span>
                                    <input id="stock_location_name" data-bind="value: TitleNewLocation"/>
                                </li>
                                <li> <span class="firstpart">Address:</span>
                                    <input id="stock_location_address" data-bind="value:AddressNewLocation"/>
                                </li>
                                <li> <span class="firstpart">Postal Code:</span>
                                    <input id="stock_location_postal" data-bind="value:PostCodeNewLocation"/>
                                </li>
                                <li> <span class="firstpart">Suburb:</span>
                                    <input id="stock_location_suburb" data-bind="value:SuburbNewLocation"/>
                                </li>
                                <li> <span class="firstpart">City:</span>
                                    <select  id="stock_location_city" data-bind="value: CityNewLocation,options: orderItem.cities_display, optionsValue: $data, optionsText: 'location_name', optionsCaption: 'City'">
                                    </select>
                                </li>
                                <li> <span class="firstpart">Country:</span>
                                    <select id="location_name" data-bind="value: CountryNewLocation, options: customersVM.countries, optionsValue: $data, optionsText: 'location_name', optionsCaption: 'Country'">
                                    </select>
                                </li>
								
                                <!--li> <span class="firstpart">Recipient:</span>
                                    <select id="user" data-bind="options: userList, optionsValue: 'user_id', optionsText: function(item){return item.first_name + ' ' + item.last_name;}, optionsCaption: 'Recipient'">
                                    </select>
                                </li-->
                            </ul>
                        </div>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('NewDestinationDialog').style.display = 'none'; }">Close</a> <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ SaveLocation(); document.getElementById('NewDestinationDialog').style.display = 'none';}">Create</a> </div>
                </div>
                <!-- CONTACT INFO POPUP	-->
                
                <div id="SavePrompt" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
                    <div style=" background:#FFF; z-index:1022; width:30%; margin:15% 35%; border-radius:3px; padding:0px 10px 15px;">
                        <div style="margin:1%;padding:10px 0px;"><span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">You need to save the changes before you add items? Do you want to save?</span> </div>
                        <div class="apanwsteps container_12">
                            <div class="grid_3 suffix_10 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('SavePrompt', false);saveBox(false); }" class="ui-link">Save</a></div>
                            <div class="grid_3 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('SavePrompt', false); }" class="ui-link">Cancel and go back</a></div>
                        </div>
                    </div>
                </div>
                <!-- SEND BOX DIALOG -->
                <div id="BoxConfirm" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
                    <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
                        <div style="margin:1%;padding:10px 0px;"> <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">SEND BOX</span>
                            <div class="clear"></div>
                            <span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;"></span> </div>
                        <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                            <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('BoxConfirm').style.display = 'none'; }">Cancel</a> </div>
                            <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ sendBox(); }">Confirm</a> </div>
                        </div>
                    </div>
                </div>
                <!-- END OF DIALOG --> 
                
                <!--  SUBMIT & BACK BUTTONS	-->
                <div class="clear"></div>
				<div id="PrintLabelsEmailDialog" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
					<div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
						<div style="margin:1%;padding:10px 0px;"> <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Enter the email address where the labels PDF will be sent to </span>
							<input type="text" id="ShippingBoxVariousInput" name="ShippingBoxVariousInput"  data-theme="a"/>
						</div>
						<div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
							<div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('PrintLabelsEmailDialog').style.display = 'none'; }">Cancel</a> </div>
							<div class="grid_2 stepsmenud"> <a data-bind="click: function(){ printLabels(); document.getElementById('PrintLabelsEmailDialog').style.display = 'none';}">Confirm</a> </div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 "><a data-bind="click: function(){if(((!modified && !sent()) || (sent() && !receiving())  || confirm('Do you wish to discard the changes and go back?'))){posChangePage(BackPage());}}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter" data-bind="text:BackMessage"></span></a></div>
            <!-- Incoming Boxes, -->
            <div class="grid_2 prefix_3" data-bind="visible:sent() && !received() && receiving()"><a data-bind="click: function(){ finishReceive(); }" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Confirm Received</span><span class="btn-letter"> Selected ITEMS</span></a></div>
            <div class="grid_2 prefix_8" data-bind="visible:sent() && !received() && !receiving()"><a data-bind="click: function(){ receiveBox(); }" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Recieve Items</span><span class="btn-letter"> And BOX</span></a></div>
            <div class="grid_2 prefix_3" data-bind="visible:sent() && receiving()"><a data-bind="click: function(){ selectAllItems(); }" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Select All</span><span class="btn-letter"> Items</span></a></div>
         	<!-- Stand By Boxes -->
                       
                       <div class="grid_2 prefix_22 " data-bind="click: function(){ $('#ShippingBoxVariousInput').val(authCtrl.userInfo.email);document.getElementById('PrintLabelsEmailDialog').style.display = 'block'; }"><a data-bind="visible:!sent()" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Print </span><span class="btn-letter"> Labels </span></a></div>
                        <div class="grid_2 prefix_22 " data-bind="click: function(){ if(modified && ID()){document.getElementById('SavePrompt').style.display = 'block';}else{addPendingItems();} }"><a data-bind="visible:!sent()" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Add More Items</span><span class="btn-letter">  in this BOX</span></a></div>
                        <div class="grid_2 prefix_22 " data-bind="visible:!sent()"><a data-bind="click: function(){ saveBox(); }" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">SAVE</span><span class="btn-letter">  BOX</span></a></div>
                         <div class="grid_2 prefix_22" data-bind="visible:!sent()"><a data-bind="click: function(){  document.getElementById('BoxConfirm').style.display = 'block'; }" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Send</span><span class="btn-letter">  BOX</span></a></div>










        </div>
    </div>
</div>
<script>
		 
			    
					function appendItemBoxSend(topost, basedata) {
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
									customer_id: orderItem.custSelectVM.selectedCustomer().server_id,									
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];									
									ShippingBoxVM.ShippingReceipt({ID:data['id'], Image: data['image']});
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
							
			    
					if (window.FileReader) {
				    	function handleFileSelectBoxSend(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageBoxSend(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 100, 1536, "shipping_box_send.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		//	appendItemBoxSend(e.target.result);
				             		//	document.getElementById('BoxSendImageMedia').innerHTML = ['<img src="', e.target.result, '" width="180"/>'].join('');	
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      

				    document.getElementById('BoxSendImageFiles').addEventListener('change', handleFileSelectBoxSend, false);
</script>
</div>
