<div data-role="page" id="shipping_incoming_box" class="bgBody"> 
  <!--	<div data-bind="template: { name: 'headerTemplate'}"></div>	-->
  <div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false" class="mainpagesheader container_12">
    <ul class="grid_5 prefix_7 topmenu">
      <!-- <li><a href="#settings" class="settingsli">Setting</a></li> -->
      <li><a href="#" data-bind="click: function(){posChangePage('#stats');}" class="statsli">Stats</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#notification');}" class="mesagli">Notifications</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#calendar');}" class="calenli">Calendar</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#orderItemSelectCustomer');}" class="newordli">Add Order</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#listCustomer');}" class="newcustli">Customers</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#main');}" class="mainli">Home</a></li>
	  
    </ul>
    <!-- /navbar --> 
  </div>
  <div data-role="content" data-theme="none">
    <div class="content-wrapper">
      <div data-type="horizontal" class="container_16">
        <div class="grid_16">
          <div class="mylabels"><span class="mylabels-icon"></span><span class="mylabels-title">Incoming Box Details</span></div>
        </div>
        <div class="grid_16">
          <div class="grid_16 newlisttitles">
            <div class="grid_4"><span class="marginleftten">Item Type</span></div>
            <div class="grid_5"><span class="marginleftten">Customer Name &amp; Info</span></div>
            <div class="grid_3"><span class="marginleftten">Telephone</span></div>
            <div class="grid_3 suffix_1"><span class="marginleftten">Details</span></div>
          </div>
          <ul class="grid_16 listcustnew orderlist">
            <li class="grid_16">
              <div class="grid_4"><a href="#12345" class="item-info-link">OTHER</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Pat Panneta</span></div>
              <div class="grid_3"><span class="marginleftten">0432234456</span></div>
              <div class="grid_3"><span class="marginleftten">ED56754321123</span></div>
            </li>
            <li class="grid_16">
              <div class="grid_4"><a href="#12345" class="item-info-link">Customer Garment</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Josh Andrew</span></div>
              <div class="grid_3"><span class="marginleftten">0412202992</span></div>
              <div class="grid_3"><span class="marginleftten">HG1231231222</span></div>
            </li>
            <li class="grid_16 urgent-item">
              <div class="grid_1 urgent-item-flag">URGENT</div>
              <div class="grid_4"><a href="#12345" class="item-info-link">Customer Garment</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Josh Andrew</span></div>
              <div class="grid_3"><span class="marginleftten">0412202992</span></div>
              <div class="grid_3"><span class="marginleftten">HG1231231222</span></div>
            </li>
            <li class="grid_16">
              <div class="grid_4"><a href="#12345" class="item-info-link">Customer Garment</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Josh Andrew</span></div>
              <div class="grid_3"><span class="marginleftten">0412202992</span></div>
              <div class="grid_3"><span class="marginleftten">HG1231231222</span></div>
            </li>
            <li class="grid_16">
              <div class="grid_4"><a href="#12345" class="item-info-link">Customer Garment</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Josh Andrew</span></div>
              <div class="grid_3"><span class="marginleftten">0412202992</span></div>
              <div class="grid_3"><span class="marginleftten">HG1231231222</span></div>
            </li>
            <li class="grid_16">
              <div class="grid_4"><a href="#12345" class="item-info-link">Customer Garment</a></div>
              <div class="grid_5"><a href="#12345" class="customer-info-link" data-bind="click: function(){ $parents[1].showContactInfo( $parentContext.$index() ); }">i</a><span class="marginleftten">Josh Andrew</span></div>
              <div class="grid_3"><span class="marginleftten">0412202992</span></div>
              <div class="grid_3"><span class="marginleftten">HG1231231222</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bigladeling left_position stepbigbuts"> <a href="#" data-bind="click: function(){posChangePage('#shipping_incoming');}" data-transition="fade" data-corners="false" data-shadow="false"> <span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Incoming</span> </a> </div>
  </div>
</div>
<!-- CONTACT INFO POPUP	-->
<div name="ContactInfoPopup" id="ContactInfoPopup" class="white_content mynicepop">
  <div class="inmynicepop">
    <p>Customer Contact Info</p>
    <div class="custinfos">
      <ul>
        <li> <span class="firstpart">Customer Name:</span> <span class="secondpart"> <span id="customer_first_name"></span> <span id="customer_last_name"></span> </span> </li>
        <li> <span class="firstpart">State - City :</span> <span class="secondpart"> <span id="customer_state"></span> <span>&nbsp; &ndash; &nbsp;</span> <span id="customer_city"></span> <span id="customer_country" style="display:none;"></span> </span> </li>
        <li> <span class="firstpart">Street Address:</span> <span class="secondpart"><span id="customer_address1"></span>, <span id="customer_address2"></span>, <span  id="customer_postal_code"></span></span></li>
        <li> <span class="firstpart">Mobile #:</span> <span class="secondpart" id="customer_mobile_phone"></span> </li>
        <li style="display:none;"> <span class="firstpart">Landline #:</span> <span class="secondpart" id="customer_landline_phone"></span> </li>
        <li> <span class="firstpart">E-mail:</span> <span class="secondpart" id="customer_email"></span> </li>
      </ul>
    </div>
    <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('ContactInfoPopup').style.display = 'none'; }">Close</a> </div>
</div>
<!-- CONTACT INFO POPUP	--> 