<div class="video-step-ui order-step" data-bind="if: selectedStep().id == '6'">
        
    <style>
        .comments-wrapper {
            border: 1px solid black;
        }
        .remove-comment {
            background: red;
            color: white;
            padding: 10px;
            position: absolute;
            float: right;
            top: 0;
            right: 0;
        }
        .remove-video {
            background: red;
            color: white;
            padding: 10px;
            right: 92px;
            font-weight: 900;
            position: relative;
            float: right;
        }
        .video-text-area {
            width: 100%;
        }
        .upload-video-btn {
            background: var(--grey-1);
            color: black;
            font-size: 18px;
            border: none;
            padding: 5px 15px 5px 15px;
            position: relative;
        }
        .add-new-video-comments {
            float: right;
            background: var(--grey-2);
            color: white;
            padding: 10px;
            padding-right: 15px;
            padding-left: 15px;
            padding: 10p;
            padding: 10px;
        }

        .video-comment-p {
            font-size: 16px;
            width: 90%;
            padding: 0;
            margin: 0;
        }

    </style>

    <h1>Upload Video</h1>


    <br style="clear: both">
    
    <button class="upload-video-btn" style="left: 10%" data-bind="click: function() { $root.uploadVideosStep.chooseVideoSource(); }">Take Video</button>

    <br><br>

    <div data-bind="foreach: { data: $root.uploadVideosStep.videos, as: 'video' }">
        
        <div class="row">

            <div class="col-md-6">
                <h2 style="font-weight: 800" data-bind="text: 'Video ' + ($index()+1)"></h2>
                <video width="400" controls="true">
                    <source data-bind="attr:{src: video.url}">
                </video>
                <span class="remove-video" data-bind="click: function() { $root.uploadVideosStep.removeVideo(video); }">X</span>
            </div>

            <div class="col-md-6">
                <br>
                <h2><strong>Video Comments</strong></h2>

                <div class="comments-wrapper" data-bind="visible: video.comments().length > 0">
                    <div data-bind="foreach: video.comments">

                        <div style="position: relative;margin-bottom: 20px;">
                            <p class="video-comment-p" data-bind="text: ($index()+1) + '. ' + $data"></p>
                            <span class="remove-comment" data-bind="click: function() { $root.uploadVideosStep.removeComment(video, $data); }">X</span>
                        </div>

                    </div>
                </div>  


                <hr style="width: 100%;height: 3px;color: black;border-color: beige;border-color: black;background: black;">

                <div>
                    <p>Add new Comment:</p>
                    <textarea class="video-text-area" style="height: 80px" data-bind="value: $root.uploadVideosStep.currentComment"></textarea><br>
                    <button class="add-new-video-comments" data-bind="click: function() { $root.uploadVideosStep.addComment(video); }">Add New</button>
                </div>
                
            </div>

        </div>

    </div>

    <div style="margin-top: 300px;"></div>
    
</div>