
<!-- This view file should be binded to the viewmodel: UniformStatistics
	
	Its best to bind the values in the ouside html code using for example:

		<div data-bind="with: $root.statistics">
		</div>

	Note:
		$root.statistics is an instance of UniformStatistics Viewmodel

	Therefore, we can use this view in several places, using the same viewmodel
 -->

 <style>
 	
	 .gatment-split-el {
	 	width: 300px;
	 	display: inline-block;
	 }
	 .count-wrapper {
	 	font-size: 90px;
	 }
	 .total-sales-wrapper {
	 	font-size: 70px;
	 }
	 .order-history-table {
	 	width: 100%;
	 	text-align: center;
	 }

 </style>


<div id="uniformStatistics">
	
	<div data-bind="if: finishedLoading" style="padding: 20px;">
		
		<div class="garment-split-wrapper">

			<h2><strong>GARMENTS</strong></h2>
			<div data-bind="foreach: garments_split">
				
				<div class="gatment-split-el">	
					
					<div class="row">
						<div class="img-wrapper col-md-6">
							<img style="width: 100%" data-bind="attr: { src : $data.img }">
						</div>

						<div class="count-wrapper col-md-6">
							<span data-bind="text: $data.qty"></span>
						</div>
					</div>

				</div>
			</div>

		</div>



		<div class="row">
			
			<div class="col-md-6">
				
				<h2><strong>CITY TOTAL SALES</strong></h2>
				
				<!-- Pie chart -->
				<canvas id="CitySalesChart" data-bind="click: buildPieChart()"></canvas>

			</div>


			<div class="col-md-6">
				
				<div>
					<h2><strong>SALESMAN STATISTICS</strong></h2>

					<table style="width: 100%">
						<tbody>
							<!-- ko foreach: salesman_split -->
								
								<tr>
									<td><span data-bind="text: $data.salesman_name"></span></td>
									<td><span data-bind="text: $data.sales"></span></td>
									<td></td>
								</tr>

							<!-- /ko -->
						</tbody>
					</table>
				</div>

				<div>
					<h2><strong>TOTAL SALES FOR GERMANICOS</strong></h2>
					<div class="total-sales-wrapper"><span data-bind="text: '$' + total_sales_amount().toFixed(2)"></span></div>


				</div>

			</div>

		</div>



		<div class="row">
			
			<!-- Bar chart -->
			<canvas id="salesChart" data-bind="click: buildBarChart()"></canvas>

		</div>


		<div class="row">
			
			<h2><strong>COMPANY ORDER HISTORY</strong></h2>

			<table class="order-history-table">

				<thead>
					<tr>
						<th><span>NAME</span></th>
						<th><span>MOBILE</span></th>
						<th><span>EMAIL</span></th>
						<th><span>GARMENTS ORDERED</span></th>
						<th><span>ORDER VALUE</span></th>
						<th><span>ORDER DATE</span></th>
						<th><span>ORDER CITY</span></th>
					</tr>
				</thead>

				<tbody>
					<!-- ko foreach: order_history -->
						
						<tr>
							<td><span data-bind="text: $data.customer_name"></span></td>
							<td><span data-bind="text: $data.customer_mobile"></span></td>
							<td><span data-bind="text: $data.customer_email"></span></td>
							<td><span data-bind="text: $data.garmentsHTML"></span></td>
							<td><span data-bind="text: $data.order_total_amount"></span></td>
							<td><span data-bind="text: $data.order_date"></span></td>
							<td><span data-bind="text: $data.order_city"></span></td>
						</tr>

					<!-- /ko -->
				</tbody>
			</table>



		</div>

		<div style="min-height: 200px;"></div>

	</div>
</div>














