<div data-role="page" id="updateCustomer" class="bgBody">
	<!--<div data-bind="template: { name: 'stepstemplate'}"></div>-->
	<div data-bind="template: {name: 'stepstemplate'}"></div>
	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		
		<div class="content-wrapper">
			<div class="container_12"> 
				

				<div class="grid_6 prefix_3 suffix_3 itemstoupdate" data-bind="with: selected_item"> 
					<h1>PERSONAL INFORMATION</h1>
                    <label for="customer_first_name" class="apostasi">First Name:</label>
					<input type="text" name="customer_first_name" data-bind="value: customer_first_name" value=""  />
					<label for="customer_last_name" class="apostasi">Last Name:</label>
					<input type="text" name="customer_last_name" data-bind="value: customer_last_name" value=""  />
					<label for="customer_occupation" class="apostasi">Occupation:</label>
					<input type="text" name="customer_occupation" data-bind="value: customer_occupation" value=""  />
					<label for="customer_company_name" class="apostasi">Company Name:</label>
					<input type="text" name="customer_company_name" data-bind="value: customer_company_name" value=""  />
					<fieldset data-role="controlgroup" data-type="horizontal">
							<legend>Date of Birth:</legend>
							<label for="DOB_day">Day</label>
							<select name="DOB_day" id="DOB_day" data-bind="options: $parent.days, value: DOB_day, optionsCaption: 'Day'">
							</select>
							<label for="DOB_month">Month</label>
							<select name="DOB_month" id="DOB_month" data-bind="options: $parent.months, optionsText: 'name', optionsValue: 'id' , value: DOB_month, optionsCaption: 'Month'">
							</select>
							<label for="DOB_year">Year</label>
							<select name="DOB_year" id="DOB_year" data-bind="options: $parent.years, value: DOB_year, optionsCaption: 'Year'">
							</select>                                                        
					</fieldset>
					<fieldset data-role="controlgroup" data-type="horizontal">
						<legend>Gender:</legend>
				      <input type="radio" name="gender_male" id="gender_male" value="1" checked="checked" data-bind="checked: customer_gender"/>
			        <label for="gender_male">Male</label>
						<input type="radio" name="gender_female" id="gender_female" value="0" data-bind="checked: customer_gender" />
						<label for="gender_female">Female</label>
					</fieldset>
					<h1>CONTACT DETAILS</h1>
					<fieldset data-role="controlgroup" data-type="horizontal">
						<legend>Location</legend>
						<label for="customer_country">Country</label>
						<select name="customer_country" id="customer_country" data-bind="options: $parent.countries, value: customer_country, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'Country'">
						</select>
						<label for="customer_state">State</label>
						<select name="customer_state" id="customer_state" data-bind="options: $parent.states, value: customer_state, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'State'">
						</select>   
						<label for="customer_city">City</label>
						<select name="customer_city" id="customer_city" data-bind="options: $parent.cities, value: customer_city, optionsValue: 'locations_id', optionsText: 'location_name', optionsCaption: 'City'">
						</select>   
					</fieldset>
					<label for="customer_address1" class="apostasi">Address Line 1:</label>
					<input type="text" name="customer_address1" data-bind="value: customer_address1" value=""  />
					<label for="customer_address2" class="apostasi">Address Line 2:</label>
					<input type="text" name="customer_address2" data-bind="value: customer_address2" value=""  />
					<label for="customer_postal_code" class="apostasi">Post Code:</label>
					<input type="text" name="customer_postal_code" data-bind="value: customer_postal_code" value=""  />
					<label for="customer_mobile_phone" class="apostasi">Mobile Phone Number:</label>
					<input type="text" name="customer_mobile_phone" data-bind="value: customer_mobile_phone" value=""  />
					<label for="customer_landline_phone" class="apostasi">Landline Number:</label>
					<input type="text" name="customer_landline_phone" data-bind="value: customer_landline_phone" value=""  />
					<label for="customer_email" class="apostasi">E-mail:</label>
					<input type="text" name="customer_email" data-bind="value: customer_email" value=""  />                  
					<fieldset data-role="controlgroup">
						<legend>Subscribe to our newsletter:</legend>
						<input type="checkbox" name="subscribe" id="subscribe" class="custom" data-bind="checked: customer_email_subscription"/>
						<label for="subscribe">I agree</label>
					</fieldset>                        
                    <h1>REFERRAL</h1>
    	               <label for="referal_methods" class="apostasi" style="float:none !important;">How did you hear about Germanicos?</label>
        	           <select name="referal_methods" id="referal_methods" data-bind="options: $parent.referal_methods_list, value: $parent.customer_referal_method, ptionsCaption: 'Referral method...'">
            	       </select>
                   <div data-bind="css: { 'hidden': $parent.customer_referal_method()!=='Referral'}">                
						<label for="customer_refered_by" class="apostasi" style="float:none !important;">Who referred you?</label>
						<input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" />
					</div>
                    <div data-bind="css: { 'hidden': customer_referal_method()!=='6'}">                
						<label for="customer_other_way" class="apostasi" style="float:none !important;">Please specify:</label>
						<input type="text" name="customer_other_way" data-bind="value: customer_other_way" value="" />
					</div>
					<div data-bind="css: { 'hidden': customer_referal_method()!=='1' && customer_referal_method()!=='8' && customer_referal_method()!=='9'}">                
						<label for="customer_referal_moreinfo" class="apostasi">What did you type<span class="mandatoris">*</span>:</label>
						<input type="text" name="customer_referal_moreinfo" data-bind="value: customer_referal_moreinfo" value="" />
					</div>                      
                    <div class="clear"></div>
				</div> 
                <div class="grid_12">
					<div class="grid_2 suffix_1 prefix_2">
						<a href="#" data-role="button" data-bind="click: updateCustomer" data-icon="delete">Update</a>
					</div>
					<div class="grid_2 suffix_1">
						<a href="#" data-role="button" data-bind="click: removeCustomer, visible: componentMode() === false" data-icon="delete">Delete</a>
					</div> 
                    <div class=" grid_2 suffix_2">
                    <a data-role="button" href="#" data-bind="click: function(){posChangePage('#measurements');}">Measurements</a>
                    </div>
					
				</div>
			</div>
		</div>		
	</div><!-- /content -->
</div>
