@charset "utf-8";
/* Design Garments */
/*Top Menu steps */
div.designbuttons {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.designbuttons ul {
    display: table;
    width: 100%;
}
.designbuttons li {
    background: rgba(135, 135, 135, 1) none repeat scroll 0 0;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    display: table-cell;
}
.designbuttons li.selected {
    background: rgba(215, 180, 106, 1) none repeat scroll 0 0;
}
.designbuttons li.completed {
    background: rgba(175, 202, 5, 1) none repeat scroll 0 0;
}
.designbuttons li > div {
    color: #444;
    display: block;
    font-size: 13px;
    padding: 12px 0;
    text-align: center;
    text-shadow: none;
}
.designbuttons li.selected > div {
    color: #000;
}

/* Right Preview on Design */
.imagefixedpreview {
    position: fixed;
    right: 0;
    top: 40px;
	width:33.5% !important;
	height:100%;
}
.imagepreviewtabs {
    display: table;
    width: 100%;
}
.imagepreviewtabs li {
    background: #444 none repeat scroll 0 0;
    border-right: 1px solid #000;
    display: table-cell;
	text-align:center;
}
.imagepreviewtabs li.active {
    background: rgba(215, 180, 106, 1) none repeat scroll 0 0;
}
.imagepreviewtabs li.active a > span {
    color: #444;
}
.imagepreviewtabs li:last-child {
    border-right: medium none;
}
.imagepreviewtabs li a > span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0;
    text-shadow: none;
}
.imagefixedpreview .garmentPreview {
    background: rgba(215, 180, 106, 1) none repeat scroll 0 0;
    float: left;
    height: 450px;
    padding-left: 10px;
    position: relative;
    text-align: center;
    width: 330px;
	border-radius:0 0 30px ;
}
.imagefixedpreview .fabric_on_grid {
    color: #333;
    float: left;
    font-size: 13px;
    padding: 10px 0 0;
    position: absolute;
    text-shadow: none;
    top: 0;
    width: 300px;
    z-index: 1020;
    border-radius: 0px;
    background: transparent;
    border: none;
}
.imagefixedpreview .garmentPreview.jacketpreview img {
    left: 10px;
    top: 20px;
}
.imagefixedpreview .garmentPreview .specialy {
    top: 232px;
	left:101px;
}
.imagefixedpreview .garmentPreview .thirdname {
    top: 253px !important;
	left:120px; 
}
.imagefixedpreview .garmentPreview .thisname {
    top: 242px !important;
	left:113px; 
}

/*End Of Top Menu inside Design Steps */

/* Right Panel */
.mysliding {
    background-color: #dcb469;
    background-image: url("http://shirt-tailor.net/thepos/appimg/template/topmenu/right-menu-set.png");
    background-position: 15px 5px;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 2px 0 0 2px !important;
    box-shadow: none !important;
    height: 45px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 330px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(220, 180, 105, 1) none repeat scroll 0 0;
    margin: -1px 0;
	min-height:767px;
}
#popupPanel .ui-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 ;
    border-bottom: 1px solid #434343;
    border-image: none ;
    border-left: medium none ;
    border-radius: 0 ;
    border-right: medium none ;
    border-top: medium none ;
    box-shadow: none ;
    font-size: 20px;
    line-height: 16px;
    margin: 10px auto 5px ;
    text-shadow: none ;
}
.topheadofmen {
    background: #bf9c5b none repeat scroll 0 0;
    border-bottom: 1px solid #a2854d;
    color: #3a3a39;
    margin: 0 !important;
    padding: 20px 15px;
    text-align: center;
	font-family:"Open Sans";
}
.aftertopheadmen {
    border-bottom: 1px solid #a2854d;
    color: #3a3a39;
    float: left;
    font-family: "Open Sans";
    margin: 0 !important;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.halfbutmain {
    color: #3a3a39 !important;
    float: left;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 50%;
}
.mainrightmenu {
    background-image:url("http://shirt-tailor.net/thepos/appimg/template/topmenu/right-menu-set.png");
	background-repeat:no-repeat;
	background-color:transparent;
    display: block;
    height: 32px;
    margin: 0 auto;
    position: relative;
    width: 32px;
}
.mainmessages-icon {
	background-position:0px -36px;
}
.mainnotify-icon {
	background-position:-0px -72px;
}
.mainsettings-icon {
	background-position:-0px -105px;
}
.mainusers-icon {
	background-position:-0px -139px;
}
.mymainnotify {
    background:  red none repeat scroll 0 0;
    border-radius: 3px;
    color: #fefefe;
    font-size: 10px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    padding: 1px 5px;
    position: absolute;
    right: 60px;
    top: 0px;
    width: auto;
}
.topheadofmen h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.topheadofmen h1 {
    font-size: 26px;
    margin: 10px 0;
}
.mainmenulinks {
    border-bottom: 1px solid #d5ae66;
    color: #3a3a39 !important;
    display: block;
    font-size: 20px;
    font-weight: normal !important;
    line-height: 19px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}
/* End or Right Panel */




/* Start of Help Tags */
.leftfloat { float:left;}
.rightfloat { float:right;}
.noborders { border:none !important;}

/* End of Help Tags */


/* start order styles */
.ui-link-order {
	background-color: #998d73;
	border-radius: 15px;
	height: 98px;
}

.ui-link-order.pending-order{
    background-color: #ED1D24 !important; 
}

.mainmenu.menu-order {
	display: flex;
	position: relative;
	left: 16%;
}


/* to make forms */

.required-empty {
	background-color: var(--grey-4) !important;
	color: white !important;
}

:root {
	--grey-1: rgb(235,235,235);
	--grey-2: rgb(132,132,132);
	--grey-3: rgb(88,88,88);
	--grey-4: rgb(63,63,63);
	--selected: #988e73;
}


