* {
	text-shadow: none !important;
}
table.items_table thead th {
	background-color: #988E73;
	color: white;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.items_table tbody tr td {
	background-color: #ECECEC;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.items_table {
	width: 95%;
	margin: 10px;
}

tr.item td {
	background-color: white !important;
	text-align: justify !important;
}

tr.item td table {
	width: 100%;
	border: 1px solid;
}

.send_chat_button {
	background-color: #94C01F;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.show_chat_button{
	background-color: #F19000;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}


#history-popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 298px;
	background-color: white;
	z-index: 1;
	padding: 10px;
	padding-bottom: none;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	overflow-y: scroll;
}

#history-popUp h1{
	font-size: 19px;
	font-weight: bold;
}

#history-popUp .close-buttom {
	display: block;
	position: absolute;
	top: 12px;
	left: 906px;
	background-color: red;
	color: white;
	border-radius: 6px;
	padding: 2px 8px 5px;
	width: 9px;
}

.calendar_filter {
	float: right;
	width: 29%;
}

.calendar_filter .ui-input-text{
	width: 40%;
	display: inline-block;
}

.calendar_filter input{
	font-size: 12px;
	padding: 0;
	height: 35px;
	width: 100px;
}


.calendar_filter .ui-btn{
	width: 29%;
	display: inline-block;
	color: #ECECEC;
	
	font-size: 11px;
} 

.calendar_filter .ui-btn.apply{
	background-color: #94C01F;
	margin-left: 4%;
}
.calendar_filter .ui-btn.clear{
	background-color: red;
	margin-left: 6%;
}