/* 
Not used
.garment-wrapper {
	background-color: rgb(230, 230, 226);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
} */

/* .garment-wrapper:hover {
	background-color: #988e73;
	color: white !important;
	text-shadow: 0 1px 1px #a1a1a1;
	text-decoration: none;
} */

/* 
li.horizontal {
	display: inline;
	margin-bottom: 0;
	padding: 8px !important;
} */

.list-item {
    color: rgb(83, 84, 82);
}

.left-div {
    float: left;
    width: 48%;
    min-height: 500px;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-width: 2px;
    margin-bottom: 20%;
    margin-right: 5px;
}

.right-div {
    float:  right;
    width: 48%;
    /*! padding-left: 30px; */
    /*! padding-right: -3px; */
    left: -25px;
    margin-bottom: 20%;
}

/* li.horizontal {
	display: inline;
} */

.orders-list>li {
    width: 20%;
    float: left;
    padding: 20px;
}

.order-wrapper {
	background-color: rgb(230, 230, 226);
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
	float: left;
}

.alt-data-a {
    display: inline;
}

/* selected client */

.active {
    background-color: #988e73;
    color: white !important;
    text-shadow: 0 1px 1px #a1a1a1;
    text-decoration: none;
}

.active a {
    background-color: #988e73;
    color: white !important;
    text-shadow: 0 1px 1px #a1a1a1;
    text-decoration: none;
}

.factoryImage {
    width: 68%;
    left: 13%;
    position: relative;
}

.australianMap {
    width: 62%;
    left: -3% !important;
    position: relative;
    margin-bottom: 2%;
}




.australia-wrap{
    width: 86%;
    height: 333px;
    left: 50px;
}

.city{
    font-size: 16px;
    /* position: absolute; */
    top: 53%;
    left: 13%;
    z-index: 10045;
}

.city.city_tag {
	margin-left: 15px;
	background-color: red;
	border-radius: 18px;
	color: white;
	padding-left: 3px;
	padding-right: 3px;
}

.customerName {
	font-weight: bold;
    font-size: 21px;
}

.totalActiveAlterations {
    left: 50%;
    position: relative;
    font-size: 257%;
    background: #76D800;
    /*! width: 4%; */
    padding: 2%;
    border-radius: 20px;
    margin-top: 22px;
    margin-bottom: 153px;
}

.delay {
	color:red;
}
.AlterationCity {
	font-weight: bold;
	font-size: 31px;

}