:root {
	--custom_cat : brown
}

textarea.comment {
	width: 80%;
	height: 106px;
	border-radius: 0.351em;
	border: 0;
}

.garment-element-wrapper {
	display: flex;
}

.garment-element-tab {
	padding: 10px;
	font-size: 15px;
}

.garment-type-design-tab {
	border: 1px solid black;
	display: inline-block;
	border-radius: 0.211em;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

.design-cat-tab-wrapper {
	display: inline-block;
	width: 65%;
}

.design-cat-tab-el {
	padding: 5px;
	background-color: #868686;
	border-radius: 0.211em;
	float: left;
	margin: 6px 1px 0;
	position: relative;
	text-align: center;
	color: white;
	text-shadow: none;
}

.design-opt-wrapper {}

.design-cat-el {
	display: none;
	width: 98%;
}

.myboxesincheck {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.design-cat-selected {
	display: block;
}

.garment-element-el {
	display: none;
}

.garment-selected-el {
	display: block;
	width: 100%;
}

.garment-selected-tab {
	/*! border: 1px solid orange; */
	background-color: #93C03E;
	color: white;
}

.selected-cat-el {
	background-color: var(--selected);
}

.complete-cat-el {
	background-color: #93C03E;
}

.custom-cat-el {
	background-color: var(--custom_cat);
}

.option-wrapper1 {
	display: flex;
	flex-wrap: wrap;
}
.option-wrapper-w {
	width: 100%;
}

.boxesincheck {
	background: none repeat scroll 0 0 #868686 !important;
}

.boxesincheckname {
	color: white;
}

.option-wrapper2 {
	max-height: 262px;
}

.option-wrapper2-popup {
	background: rgba(255, 255, 255, 0.55) none repeat scroll 0 0;
	border-radius: 2px;
	height: 500px;
	margin: 0 0 10px;
	overflow: auto !important;
	padding: 10px 0 10px 9px;
	width: auto;
}

.option-wrapper2-popup img.example {
	width: 36px;
}

.close_popups.mynicepopclose {
	height: 52px !important;
}

.option-value1 {
	/* padding: 6px; */
	border: solid 1px;
	margin: 14px 7px;
	border-radius: 4px;
	min-width: 28px;
	text-align: center;
}

.option-wrapper1 .option-value1 {
	min-width: 200px;
	text-align: center;
}




.option-value1 img.example {
	position: relative;
	top: 0;
}

.fitOption {
	background-color: #868686;
	border-radius: 0.211em;
	float: left;
	margin: 6px 0.8%;
	position: relative;
	text-align: center;
	color: white;
	text-shadow: none;
}
.fitOptionTitle {
	padding: 0 44px;
}

.option-wrapper2-popup .option-value1 {
	margin: 5px;
}

.inmynicepop h4 {
	color: white;
}

.clicked {
	/* margin-bottom: -1px !important; */
	background-color: var(--grey-2);
}

.selected-val {
	/* color: yellow; */
	background-color: var(--selected);
}

.design-cat-wrapper {
	width: 66%;
}

.pant-back-pocket-value {
	min-width: 200px;
}

.vest-pocket-value {
	/* min-width: 210px; */
}

span.width_span {
	color: white;
	left: 15px;
	margin-left: 17px;
}

/* order checkboxes */
.checkcontainer2 {
	border-radius: 0 3px 3px;
	float: right;
	margin: 0 0 0 -10px;
	padding: 4px;
	width: 81%;
	z-index: 2;
}

.order-option-boolean {
	display: flex;
	/* width: 28%; */
	background: var(--grey-1);
	margin: 3px -4px;
	padding: 0px 6px 0 7px;
	border-radius: 2px;
	max-width: 80%;
}

input[type=checkbox].labeled-checkbox {
	display: none;
}

.order-option-boolean input[type=checkbox]+label {
	margin: 8px 0 0 10px;
}

input[type=checkbox]+label {
	/* background-color: #ececec; */
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 0 0 0 0px;
	background-image: url(../img/complete_set.png);
	/* background-position: -472px -270px; */
	background-position: -504px -31px !important;
}

input[type=checkbox]:checked+label {
	/* background-color: #ececec; */
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 0 0 0 0px;
	/* background-position: -473px -241px !important; */
	background-position: -505px 0px !important;
}

input[type=checkbox]+label.select-garment-checkbox {
	background-position: -472.8px -270px !important;
}

input[type=checkbox]:checked+label.select-garment-checkbox {
	background-position: -473.9px -242px !important;
}

/* order images */

img.example {
	margin: 0 auto;
	max-width: 234px;
}

img.example.lining-preview {
	max-width: 50px;
	max-height: 36px;
}

#image-3d {
	display: block;
	position: fixed;
	/* position: relative; */
	float: right;
	border: solid 1px;
	padding: 110px 85px;
	right: 4%;
	top: 101px;
	background: #ececec none repeat scroll 0 0;
	height: 450px;
	text-align: center;
	width: 310px;
}

#image-3d img {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 420px !important;
}

#image-3d.bigger {
	right: 22%;
	top: 10px;
	width: 432px;
	height: 694px;
	z-index: 1500;
}

#image-3d.bigger img {
	height: 611px !important;
}

#image-3d.bigger div.change-side {
	top: 540px;
}

div.change-side {
	position: relative;
	bottom: -151%;
	width: 226%;
	left: -60%;
	height: 30px;
}

div.change-side span {
	border: solid 1px;
	padding: 4px;
	margin: 0 auto;
}

div.change-side span.selected {
	background-color: var(--selected);
	color: white;
}

span.width-span {
	color: white;
	font-size: 21px;
	position: absolute;
	margin-left: -53px;
	margin-top: 6px;
}

.garment-count-btn.inline-div.btn.btn-small.submit.minus-btn {
	margin: 4px 74px 9px 0;
}


/*  */

.new_main_option_title {
	background: #868686;
	border-radius: 3px 3px 0 0;
	color: #fefefe;
	display: block;
	font-size: 12px !important;
	text-shadow: 0 1px 1px #444;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 7px 0;
}

.selected-val>.new_main_option_title {
	/* background: #988e73 !important; */
	background: var(--selected);
	color: #fefefe !important;
}

.selection-box {
	position: relative;
	
}

.opaque-row {
	opacity: 0.44;
}

.opaque-row > .right, .opaque-row .td-option {
	visibility: hidden;
}

.opaque-row > .right > input + label.select-garment-checkbox {
	visibility: visible !important;
}
.valueTable {
	width: 100%;
	background: gray;
	color: white !important;
}

.valueTable-selected {
	position: absolute;
	z-index: 1000;
}

.mikrosss2 {
	color: black;
}

.valueTable thead tr {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}


table.valueTable tbody tr {
	text-align: center;
}

table.valueTable tr th {
	font-size: 0.7em;
	text-transform: capitalize;
}

table.valueTable .left {
	float: left;
	margin-left: 2%;
}
table.valueTable tbody td {
	max-width: 70px;
	text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 11px;
}


table.valueTable .right {
	float: right;
	margin-right: 7px;
}

.rightDivs {
	width: 20%;
	float: right;
}

.myboxesincheck.kissing-working-boxes {
	top: 10px;
	position: relative;
}

.jacket-sleeve-number-wrapper {
	display: grid;
	margin-bottom: 43px;
}

.option-value1.jacket-number-value {
	margin-bottom: 0px;
}

#image-3d .specialy, #image-3d .thisname, #image-3d .thirdname {
	color: #e7e7e7;
	font-family: cursive;
	font-size: 0.58em;
	left: 111px;
	line-height: 12px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 226px;
	width: 150px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	/* IE 9 */
	-webkit-transform: rotate(-12deg);
	/* Safari and Chrome */
	;
}

#image-3d .specialy {
	top: 212px;
}

#image-3d .thirdname {
	top: 239px !important;
}

#image-3d .chestname {
	color: #444444;
	font-family: cursive;
	font-size: 0.75em;
	left: 160px;
	position: absolute;
	text-shadow: none;
	top: 143px;
	transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	/* IE 9 */
	-webkit-transform: rotate(6deg);
	/* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

.bigger#image-3d .chestname {
	left: 245px;
	top: 177px;
}

#image-3d .collarname {
	font-family: cursive;
	font-size: 0.71em;
	position: absolute;
	right: 166px;
	top: 17px;
	transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	/* IE 9 */
	-webkit-transform: rotate(1deg);
	/* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

#image-3d.bigger .collarname {
	right: 222px;
	top: 29px;
}

#image-3d .collarnamein {
	font-family: cursive;
	font-size: 0.67em;
	position: absolute;
	right: 156px;
	top: 15px;
	transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	/* IE 9 */
	-webkit-transform: rotate(1deg);
	/* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

#image-3d.bigger .collarnamein {
	right: 213px;
	top: 20px;
}



#image-3d .cuffname {
	color: #444444;
	font-family: cursive;
	font-size: 0.51em;
	left: 178px;
	position: absolute;
	/* text-shadow: none; */
	top: 275px;
	transform: rotate(61deg);
	-ms-transform: rotate(61deg);
	-webkit-transform: rotate(61deg);
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

#image-3d .cuffnameleftshort {
	color: #444444;
	font-family: cursive;
	font-size: 0.61em;
	left: 259px;
	position: absolute;
	text-shadow: none;
	top: 171px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

#image-3d.bigger .cuffnameleftshort {
	right: -82px;
	top: 250px;
}

#image-3d.bigger .cuffname {
	right: 80px;
	top: 402px;
}

#shirtDesignWrapper {
	width: 89%;
	display: inline-block;
}

.fabric-customer-block {
	padding: 0.5em;
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

.fabric-customer-wrapper {
	display: flex;
	flex-wrap: wrap;
	clear: both;
	padding-top: 50px;
}

.fabric-list-wrapper {
	position: absolute;
	overflow: scroll;
	width: 242px;
	padding: 0px 0px 0px 1px;
	height: 150px;
	z-index: 999;
	right: -150px;
}

.fabric-search-input {
	border: none;
	height: 40px;
	width: 80%;
	border-radius: 5px;
	font-size: 100%;
	text-align: center;
	text-transform: uppercase;
}

.selected-fabric-input {
	background: rgb(153, 193, 50);
	color: white;
}

.stock-level-div {
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

.in-stock-fabric {
	background-color: rgb(160, 191, 75);
}

.out-stock-fabric {
	background-color: rgb(203, 35, 41);
}

.fabric-stock-level-div {
	display: inline-block;
}

.no-padding {
	padding: 0;
	vertical-align: middle;
}

.customer-fabric-img {
	width: 80px;
}

.garment-regular-fabric-img {
	width: 80px;
}

.cust-tab {
	max-width: 170px;
}

.copy-design-pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 70%;
	background-color: white;
	z-index: 1250;
	border: solid;
	border-width: 1px;
}

.close-copy-design-pop-up {
	float: right;
	background-color: red;
	position: relative;
	padding: 10px;
	color: white;
}

.garment-copy-el {
	font-size: 24px;
	color: white;
	background: rgb(147, 140, 116);
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 10px;
	display: inline-block;
}

.custom-design-img {
	width: 200px;
}

.copy-design-btn-wrapper {
	display: inline-block;
}

.copy-design-btn {
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background: rgb(224, 147, 46);
	border: none;
	color: var(--grey-1);
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	top: 6px;
	position: relative;
}

.custom-img-btn {
	border: none;
	border-radius: 5px;
	background: var(--grey-1);
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

.clear-custom-img-btn {
	border: none;
	border-radius: 5px;
	background: var(--grey-4);
	color: white;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}

.garment-required-date-input {
	width: 100%;
	border: none;
	font-size: 20px;
	border-radius: 5px;
}

.designTables {
	width: 96%;
	margin: 0 auto;
}

.designTables td, .designTables th {
	padding: 9px 5px;
	border-bottom: solid 1px;
	text-align: center;
}

.designTables tr:hover {
	background-color: gainsboro;
}

.complete-design.client {
	position: absolute;
	left: 0;
}

.complete-design.category {
	position: absolute;
	left: 2px;
	width: 20px;
	top: 23px;
	z-index: 1;
}

.complete-design.garment {
	position: absolute;
	left: 2px;
	top: 23px;
	z-index: 1;
}

.complete-design.garment {
	position: absolute;
	left: 48px;
	top: -16px;
	z-index: 1;
	width: 22px;
}

.garment-type-name-span {
	text-transform: capitalize;
}

.notes-pop-up {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
	z-index: 999999999;
	text-align: center;
}
.notes-textarea-wrapper {
	width: 600px;
	height: 120px;
	margin: 0 auto;
	text-align: left;
	color: white;
	font-size: 20px;
	position: relative;
	top: 120px;
}
.notes-save-btn {
	color: white;
	background: green;
	border: none;
	border-radius: 5px;
	padding: 8px;
}
.notes-textarea {
	color: black;
	font-size: 16px;
}
.open_style_notes {
	margin: 0 auto;
}

.tabs-tab {
	display: inline-block;
	background: #f7f7f7 none repeat scroll 0 0;
	border-radius: 6px 6px 0 0;
	padding: 6px;
}

.tabs-tab.selected {
	background: #ececec none repeat scroll 0 0;
}

.tabs-tabs-wrapper {

}

.tab-3d {
	background: var(--grey-1);
	padding: 7px;
	border: 1px black;
	margin-top: 10px;
}

.tab-3d.selected {
	color: white;
	background: #988e73 !important;
}

.notesi.extra_cost{
	width: 98%;
}