@charset "utf-8";
/* CSS Document */
img {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/copy in UIWebView */
}
.clr {
	clear: both;
}
.content-wrapper .container_12 {

}

.main-requests-loader {
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	right: 10px;
	top: 10px;
}

.grid_2 > img {
	width: 90%;
}
.topos {
	width: 130px;
	float: left;
	border: none;
	margin: 0px 0px 0px 13px !important;
}
.panwtitlosh {
	border-bottom: 4px double #d7b56d;
	color: #d7b56d !important;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.023em;
	margin: 0 0 22px;
	padding: 0 0 5px;
	text-shadow: none;
}
.panwtitloshs {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px 10px 10px 10px;
	color: #FEFEFE !important;
	display: block;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: normal;
	margin: 10px 10px 30px !important;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 0 3px #333333;
	border: 1px solid #444;
}
.stepsmenud span.ui-btn-inner.ui-btn-corner-all {
	padding: 6px !important;
}
.editinfo img {
	position: absolute;
	right: 15px;
	opacity: 0.8;
}
.editinfo {
	float: right;
	position: relative;
}
/* Applying news css for the new design */



/* New Measurements Styles*/
.order_measurements_images li {
	float: left;
	height: 101px;
	margin: 5px 10px 0px 0px;
	width: 101px;
}
.order_measurements_images li:first-child {
	margin: 5px 10px 0 3px;
}
.order_measurements_images div {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: left top;
	border-radius: 6px 0;
	float: left;
	height: 101px;
	position: relative;
	text-align: center;
	width: 100px;
}
.order_measurements_images div.jacket_measurement {
	background-position: left top;
}
.order_measurements_images div.pant_measurement {
	background-position: -124px top;
}
.order_measurements_images div.shirt_measurement {
	background-position: -247px top;
}
.order_measurements_images div.vest_measurement {
	background-position: -370px top;
}
.order_measurements_images li.selected div.jacket_measurement {
	background-position: left -101px;
}
.order_measurements_images li.selected div.pant_measurement {
	background-position: -124px -101px;
}
.order_measurements_images li.selected div.shirt_measurement {
	background-position: -247px -101px;
}
.order_measurements_images li.selected div.vest_measurement {
	background-position: -370px -101px;
}
.order_measurements_images li.completed div.jacket_measurement {
	background-position: left -203px;
}
.order_measurements_images li.completed div.pant_measurement {
	background-position: -124px -203px;
}
.order_measurements_images li.completed div.shirt_measurement {
	background-position: -247px -203px;
}
.order_measurements_images li.completed div.vest_measurement {
	background-position: -370px -203px;
}
.order_measurements_images li.completed.selected div.jacket_measurement {
	background-position: left -304px;
}
.order_measurements_images li.completed.selected div.pant_measurement {
	background-position: -124px -304px;
}
.order_measurements_images li.completed.selected div.shirt_measurement {
	background-position: -247px -304px;
}
.order_measurements_images li.completed.selected div.vest_measurement {
	background-position: -370px -304px;
}
.order_measurements_images span {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	border-radius: 0 0 15px 15px;
	color: #fefefe;
	display: block;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: bold;
	padding: 3px 0 5px;
	position: relative;
	text-shadow: 1px 1px 2px #333333;
	top: 74px;
}
.fitlinesbuttons div {
	background: none repeat scroll 0 0 #dcb469 !important;
	border: medium none !important;
	border-radius: 15px !important;
	box-shadow: none !important;
	height: 40px !important;
	margin: 0 0 10px !important;
	padding: 0 !important;
	width: 100% !important;
}
.fitlinesbuttons .mycheck.mychecknews.enabled {
	margin: 0 !important;
}
.fitlinesbuttons span.ui-btn-inner.ui-btn-corner-all, .mycheck.mychecknews.enabled span {
	color: #202a3e;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 11px;
	padding-top: 10px !important;
	text-shadow: none;
}
.fitlinesbuttons .ui-icon.ui-icon-arrow-d.ui-icon-shadow {
	right: 16px;
}
.fitlinesbuttons .ui-select .ui-mini.ui-btn-icon-right .ui-btn-inner {
	padding-right: 11px;
}
div.measurementtitle {
	padding: 0 0 0 5px;
}
.measurementtitle h3 {
	color: #dcb469;
	font-size: 24px;
	margin: 5px 0;
	font-family: "Open Sans";
}
.measurementtitle h6 {
	font-family: "Open Sans";
	font-size: 14px;
	margin: 0 0 15px;
	font-weight: normal;
}
.measurementtitle span {
	margin: 0 0 0 10px;
}
.measurementnotestitle h3 {
	color: #dcb469;
	font-family: "Open Sans";
	font-size: 18px;
	margin: 75px 0 0;
}
.measurementnotestitle textarea {
	border: medium none;
	border-radius: 10px;
	box-shadow: none;
	color: #424242;
	font-family: "Open Sans";
	font-size: 12px;
	margin: 10px 0 0;
	min-height: 225px;
	padding: 10px;
}
.allmeasures .ui-field-contain, .allmeasures .ui-field-contain.vest {
	float: left;
	margin: 0 2px 15px 0;
	max-height: 60px;
	position: relative;
	width: 24%;
	min-height: 45px;
}
.allmeasures .ui-field-contain label {
	font-family: "Open Sans";
	font-size: 15px;
	margin: 9px 0 0;
	text-align: right;
	text-shadow: none;
	width: 66%;
}
.allmeasures .ui-field-contain.vest label {
	margin: 0;
}
.allmeasures .ui-field-contain input {
	background-color: #dcb469;
	border: medium none;
	border-radius: 2px;
	color: #424242;
	font-weight: normal;
	height: 40px;
	padding: 10px 0 9px;
	text-align: center;
	text-shadow: none;
	width: 55px;
}
.readonlyinput .ui-input-text {
	background-color: rgba(0, 158, 227, 0.6) !important;
	border: medium none;
	border-radius: 0 0 4px 4px !important;
	color: rgba(255, 255, 255, 0.75) !important;
	float: right;
	font-weight: normal !important;
	margin-right: 3px !important;
	padding: 18px 0 0 !important;
	text-shadow: none !important;
}
.readonlyinput {
	position: relative;
	right: 0;
	top: -17px;
	z-index: -2;
}
.readonlyinput label {
	display: none !important;
}
/* END OF New Measurements Styles */



/* Garment Preview IN DESIGNER */
.fixedpreview {
	position: fixed;
	right: 0;
	top: 80px;
}
.bottomfixed {
	bottom: 3px;
	position: absolute;
	right: 3px;
	margin: 0px !important;
}
.left_position.bottomfixed {
	left: 0;
}
/* END OF Garment Preview IN DESIGNER */


/* Distance Help */
.tenmarg {
	margin: 10px !important;
}

.bottomthreemarg {
	margin-bottom: 3px !important;
}
.tenmargins {
	margin: 20px auto !important;
}
.tenmargbot {
	margin-bottom: 10px !important;
}
.fivemargupleft {
	margin: 5px 0px 0px 5px !important;
}
.fivemargupleftbottom {
	margin: 5px 0px 5px 5px !important;
}
.marthirty {
	margin-top: 30px !important;
}
.tenmargtop {
	margin-top: 10px !important;
}
.fieldsMeasurements, .marginbottomthirty {
	margin-bottom: 30px !important;
}
.fieldsMeasurements .ui-field-contain.ui-body.ui-br {
	margin: 0;
}
.grid_1.measurementul, .fortymargintop {
	margin-top: 45px !important;
}
.right_position {
	float: right !important;
}
.left_position {
	float: left !important;
}
.text_right {
	text-align: right;
}
.threemargtop {
	margin-top: 3px !important;
}
.marginleftten {
	margin-left: 10px !important;
}
.minuthreemarg {
	margin-top: -5px;
}
.marginleftfive {
	margin-left: 5px !important;
}
.margtwetoptenleftright {
	margin: 20px 10px 0;
}
.marginfiverighttopbottom { margin-top:5px; margin-right:5px; margin-bottom:5px;}
.clear {
	clear: both;
}
.fivetopmargin {
	margin: 5px 0px 0px 0px !important;
}
.fiverightmar {
	margin: 0px 5px 0px 0px !important;
}
.fivepadding {
	padding: 5px 5px 0px !important;
}
.fivepaddingall {
	padding: 5px !important;
}
.fivepaddingtop {
	padding-top: 5px !important;
}
.marginleftthirty {
	margin-left: 30px !important;
}
.center_text {
	text-align: center;
}
.marginrightten {
	margin-right: 10px !important;
}
.marginrightninenty {
	margin-right: 90px !important;
}
.marginrightfifty {
	margin-right: 50px !important;
}
.marginrighttwenty {
	margin-right: 20px !important;
}
.right_border {
	box-shadow: -1px 0 0 #fefefe inset;
}
.hundredfiftybottompad {
	padding-bottom: 150px !important;
}
.eighttopmargin {
	margin-top: 8px !important;
}
.fullwidth {
	width: 100% !important;
}
.indesigns {
	margin: 5px 10px 0 0 !important;
	width: 230px !important;
}
.noshow {
	display: none;
}
.nopadding { padding:0px !important;}
.grid_font {
	width: 79.5% !important;
} 
.marginbottwent { margin-bottom:20px !important;}
/* END of Distance Help */


/* Start of Basic Stracture parts */
.container_16.ui-footer {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.selectcamera {
	background: url("http://shirt-tailor.net/thepos/appimg/complete_set.png") repeat scroll -779px -167px rgba(0, 0, 0, 0);
	height: 59px;
	text-indent: -99999px;
	width: 53px !important;
	float: left;
	margin: 0px 40px 0px 30px;
	opacity:0.3;
}
.selectvideo {
	background: url("http://shirt-tailor.net/thepos/appimg/complete_set.png") repeat scroll -779px -231px rgba(0, 0, 0, 0);
	height: 59px;
	text-indent: -99999px;
	width: 53px !important;
	float: left;
	margin: 0px 40px;
	opacity:0.3;
}
.selectcamera.activated {
	opacity: 1;
}
.selectvideo.activated {
	opacity: 1;
}
/* END of Basic Stracture parts */


/* Start Media Images Upload template */

.fittingname {
	text-shadow: none;
}
.fittingname .firstpart, .fittingname .bigpart {
	background: rgba(215, 180, 106, 1) none repeat scroll 0 0;
	float: left;
	margin-top: 2px;
	padding: 8px 10px 6px;
}
.fittingname .firstpart {
	margin-left: 1px;
}
.fittingselect li {
	background: #ececec none repeat scroll 0 0;
	float: left;
	font-size: 15px;
	margin: 2px 1px 0;
	opacity: 0.3;
	padding: 8px 10px;
	text-shadow: none;
	width: 20%;
	border-radius: 10px;

}
.fittingselect li.active {
	background:rgba(215, 180, 106, 1) none repeat scroll  0 0 !important;
	opacity:1;
}
.fittingselect li.completedfitting {
   background: #2a951b none repeat scroll 0 0 ;
   opacity:1; 
}

#fitlineslist img {
	width: 510px;
}


.bubble {
	background: url("http://shirt-tailor.net/thepos/appimg/complete_set.png") repeat scroll -471px -203px rgba(0, 0, 0, 0);
}
div.form_panel {
background: #dcb469; 
	border-radius: 3px;
	display: none;
	margin: 3% auto 0;
	padding: 20px;
	position: relative;
	width: 800px;
	z-index: 999;
}
#popup_box .title {
	border: medium none;
	border-radius: 2px;
	box-shadow: none;
	font-size: 15px;
	line-height: 23px;
	min-height: 97px;
	padding: 10px 15px;
	text-shadow: none;
	width:75%;
	float:left;
	display: inline;
}
.media_pops > span {
	display: block;
}

.myfitcomm {
	margin: 10px 0 0;
}
.myfitcomm li {
	float: left;
	margin: 10px 10px 0 0;
}
.myfitcomm li > span {
	background: #9b9c9c none repeat scroll 0 0;
	border: 1px solid #3a3a39;
	border-radius: 4px;
	font-size: 14px;
	padding: 6px 10px;
	text-shadow: none;
	text-transform: capitalize;
	display:block;
}
div.mapper {
	border: 3px solid #fefefe;
	border-radius: 30px;
	box-shadow: 0 0 3px #333;
	display: none;
	height: 35px;
	margin: -28px 0 0 -20px;
	min-height: 35px;
	min-width: 35px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 35px;
	z-index: 998;
}

/* END of Media Images Upload template */


/* START of REVIEW PAGE */

.reviewpage_temp {
	color: #ffffff;
	font-family: "Open Sans";
}


.breakcost {
	background-color: #dcb469;
	border-radius: 17px;
	color: #444;
	font-family: arial;
	font-size: 15px;
}
.myordernote {
	border: medium none !important;
	border-radius: 9px !important;
	box-shadow: none;
	color: #444 !important;
	font-size: 14px !important;
	line-height: 20px !important;
	margin: 5px 0 !important;
	min-height: 93px !important;
	padding: 0.4em 0.6em !important;
	background:#ececec !important;
}

.extracostfields input {
	background-color: #dcb469;
	border: medium none;
	border-radius: 9px;
	color: #444;
	font-size: 15px;
	padding: 7px 10px 4px 15px;
	width: 55% !important;
}
.extracostfields .ui-field-contain .ui-select {
	width: 54%;
}
.extracostbut {
	background: none repeat scroll 0 0 #429d0b;
	border-radius: 6px;
	float: left;
	font-size: 15px;
	padding: 6px 12px 4px;
	text-shadow: none;
	margin:3px 0px 0px;
	color:#baef9a;
}
.inputsdeposit label {
	font-family: "Open Sans";
	font-size: 15px !important;
	width: 34% !important;
	float:left;
	margin-top:1.6% !important;
}
.inputsdeposit .deposithelp {
	margin: 5px 0 15px;
}
.inputsdeposit input {
	border: medium none !important;
	border-radius: 9px;
	box-shadow: none !important;
	color: #444;
	font-size: 15px;
	padding: 10px 10px 6px 10px !important;
	width: 62% !important;
	font-family:"Open Sans";
}
.grid_11.errornotice:last-child {
	margin: 10px 0 90px 30px;
}
.grid_11.errornotice {
	background: #fefefe;
	border-radius: 11px;
	margin: 10px 0 10px 40px;
}
.msger {
	background: #FF3737;
	border-radius: 10px 0 0 10px;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px;
}
.notifymsg {
	color: #444;
	float: left;
	padding: 10px 0;
}
#acceptTerms.mycheck.mychecknews.ioss {
	background: none repeat scroll 0 0 #fefefe;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 9px;
	font-size: 16px;
	text-shadow: 0 0 1px #333;
	color:#333;
}
#acceptTerms.mycheck.mychecknews.ioss.enabled {
	background: none repeat scroll 0 0 #529d31;
	color: #fefefe;
	text-shadow: 1px 1px 0 #000;
}
.inputsdeposit div.ui-select {
	width: 60%;
}
.extracostfields.extrapant label.ui-select {
	text-align: right;
	width: 30% !important;
}
.extracostfields.extrapant div.ui-select {
	width: 50%;
	float:left;
}
.grid_6.extracostfields.paymentcomment div.ui-select {
	float: right !important;
	width: 60%;
}
.extracostfields.extrapant.grid_3 label.ui-select {
	width: 75% !important;
}
.extracostfields.extrapant {
	margin: 5px 0;
}
.wraextra
{
	padding:0px 0px 0px 20px;
	text-align: right;
	width: 13.5%;
	float:left;
}
.timiextra {
	float: left;
	padding: 0 11px 0 0;
	text-align: right;
	width: 13.5%;
}
.timiextra input,.wraextra input{
	display: inline;
	margin: 0 !important;
	padding: 5px 4px 4px 0 !important;
	text-align: right;
	width: 81%;
}
.tokostosmou input {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	box-shadow: none;
	color: #333 !important;
	font-family: "Open Sans";
	font-size: 14px;
	margin: 0 3px 0 0;
	padding: 5px 0 4px 8px;
}
.ekptwsi input {
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 9px;
	box-shadow: none;
	color: #444 !important;
	font-size: 14px;
	padding: 5px 0 5px 10px;
	text-shadow: none;
	width: 35% !important;
}
.ekptwsi label {
	font-size: 15px;
	margin: 5px 0 !important;
	padding: 0 0 0 3px;
	width: 25% !important;
}
.titlosextra input {
	width: 80% !important;
}
.blacktitle {
	background-color: #0b689d;
	border-radius: 15px 15px 0 0;
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 21px;
	padding: 8px 16px;
}
.submityourorder {
	background: none repeat scroll 0 0 #429d0b;
	border-radius: 9px;
	cursor: pointer;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: normal;
	margin: 50px auto;
	text-align: center;
}
.submityourorder a {
	display: block;
	padding: 10px 0;
}
.notescontainer {
	margin: 15px 0 25px;
}
.orderrequestsfields div.ui-select {
	float: right;
	width: 56%;
}
.receiptupload {
	float: left;
	height: 38px;
	margin: -4px 0 0 10px;
	width: 59.5%;
}
.receiptme label {
	margin: 2px 0px 0px 0px !important;
}
.receiptupload .ui-btn-inner.ui-btn-corner-all {
	font-size: 15px !important;
	padding: 9px 10px !important;
}
.orderrequestsfields label {
	float: left;
}
.orderrequestsfields > div {
	margin: 0 0 10px !important;
}
.notescontainer {
	text-align: center;
	margin: 30px 0 10px;
}
.notescontainer label {
	width: 100% !important;
}
div.breakcost {
	margin: 0 0 15px;
	min-height: 173px;
	padding:0 0 15px;
}
.extracostfields.paymentcomment > div {
	margin: 0 0 15px;
}
.extracostfields.paymentcomment input {
	width: 72% !important;
	float: right;
	
}
.makewhite { background-color:#fff;}
#creditCardImageMedia > img {
	margin: 20px 0 0 11px;
	width: 275px;
}
.companys label {
	float: left;
	font-family: "Open Sans";
	font-size: 15px;
	margin: 11px 0 0;
	width: 180px;
}
.extracostfields .ui-btn-corner-all {
	border-radius: 2px;
}
.extracostfields .ui-btn-inner.ui-btn-corner-all {
	padding: 10px 45px;
}
div.breakcostin {
	padding: 15px 15px 0px;
}
.breakcostin {
	font-size: 17px !important;
}
.breakcost li {
	border-bottom: 1px dashed rgba(0,0,0,0.08);
	float: left;
	width: 100%;
	margin:0px 0px 5px;
}
.deletecost {
	display: block;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	width: 30px;
}
.breakcostin ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.breakcostin li > div.price_type {
	padding: 3px 0 3px 33px !important;
}
.price_ana_total {
	background: none repeat scroll 0 0 #444;
	float: left;
	height: 2px;
	margin: 10px 0 5px;
	width: 100%;
}
.price_type {
	padding: 3px 0 3px 13px !important
}
.price_itself {
	text-align: right;
	float: right !important;
	padding: 3px 13px 3px 0px !important;
}
.extra_cost_list {
	width: 46.5% !important;
}
/* END of Review Page */

/* Style Options */

.truefalseclicks {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -504px -31px;
	background-repeat: no-repeat;
	height: 30px !important;
	text-indent: -99999px;
	width: 30px !important;
}
.truefalseclicks.selecteds {
	background-position: -504px -0px !important;
}
.simpleclick.selecteds {
	background-position: -471px -241px !important;
}

.bhimage {
	position: relative;
	text-align: center;
}
.bhtext {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 5px;
	font-size: 7px;
	left: 0;
	padding: 0;
	position: absolute;
	width: 30px;
}
.bhimage > img {
	width: 30px !important;
}
.open_style_notes {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -472px -301px;
	background-repeat: no-repeat;
	height: 30px !important;
	text-indent: -99999px !important;
	width: 30px !important
}
.thirty_optioncell {
	border: 0 none;
	display: block;
	margin: 0 3px 0 0;
	padding: 0;
	width: 30px;
}
.frorty_optioncell {
	display: block ;
	font-size: 13px;
	width: 42px;
}

.ui-link.gallerys {
	display: block;
	height: 19px;
	padding: 9px 4px 6px;
	position: absolute;
	right: 2px;
	top: 0;
}
.main_option_title span {
	display: block;
	padding: 9px 0 0 !important;
}
div.help_titles {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
	margin: 0 0 3px;
}


.buttonholeposition {
	margin: 21px 0 0 26px !important;
	max-height: 300px !important;
	transform:rotate(-5deg);-ms-transform:rotate(-5deg); /* IE 9 */-webkit-transform:rotate(-5deg);
	width: 260px;
}
.garmentPreviewAtSelect .buttonholeposition {
	margin: 7px 0 0 18px !important;
	max-height: 240px !important;
	width: 170px !important;
}
.comments_popup {
	background: #727272;
}



#customalert.white_content.mynicepop {
	z-index: 1095 !important;
}
.scrollablebox { overflow:auto !important; position:absolute !important;}
.lapel_content {
	background-color: #dcb469;
	border-radius: 15px;
	box-shadow: 0 0 10px #444;
	display: none;
	left: 25%;
	min-height: 85px;
	overflow: auto;
	padding: 10px 20px;
	position: fixed;
	top: 25%;
	width: 156px;
	z-index: 1002;
	overflow: hidden;
}
.lapel_content > div {
	padding: 10px 0;
	text-align: center;
}
.lapel_content .close_popups {
	margin-top: -12px;
}
.lapel_content .topos.topmenu {
	margin: 0 0 0 3px !important;
	width: auto;
}
.lapel_content .plusorminus > span {
	display: block;
	font-size: 20px;
	padding: 6px 0 0;
	text-align: center;
	width: 45px !important;
}
.lapel_content li.plusorminus {
	padding: 0 4px !important;
}
.white_content.bigger_box {
	width: 100%;
}
.white_content h4 {
	font-size: 18px;
	margin: 10px 0 7px 8px;
}
.space_pops {
	color: #202a3e !important;
	font-size: 16px;
	font-weight: bold;
	margin: 17px 0 0;
	text-align: left;
	text-indent: 10px;
	text-shadow: none;
}
.media_pops {
	color: #202a3e !important;
	font-size: 16px;
	font-weight: bold;
	margin: 17px 0 0;
	text-align: left;
	text-shadow: none;
}
.media_pops div.ui-btn {
	background: #5aaf10 none repeat scroll 0 0 !important;
	border: medium none !important;
	border-radius: 4px !important;
	box-shadow: none !important;
	color: #fefefe;
	display: inline;
	float: left;
	margin: 5px 0 0 15px;
	padding: 37px 10px;
	text-shadow: none !important;
	width: 20%;
}
.media_pops .title {
	height: 40px !important;
	margin: 5px auto 10px;
	width: 50%;
}
textarea.title {
	background: #fff none repeat scroll 0 0;
}
.space_pops input {
	margin: 10px auto 0px !important;
	width: 90%;
}
.media_pops span.ui-btn-inner {
	font-family: "Open Sans";
	font-size: 17px;
	padding: 0 !important;
}
.close_popups {
	background-color: #8f2727 !important;
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png") !important;
	background-position: -521px -317px !important;
	display: block;
	height: 40px !important;
	position: absolute !important;
	right: 0 !important;
	text-indent: -999999px !important;
	top: 0 !important;
	width: 40px !important;
}

.activated .triggerr, .triggerr.showtrigger {
	display: block;
}
.triggerr {
	display: none;
}
.details_box {
	display: none;
	position: absolute;
	width: 100%;
}
.triggerr.offtrigger {
	opacity: 0.44;
	color: #444;
}
.pusherr img {
	padding-top: 34px;
}
.checkslabelleft {
	background: #ececec none repeat scroll 0 0;
	border-radius: 3px 0 3px 3px;
	color: #444;
	float: left;
	font-size: 13px;
	padding: 8px 0 8px 5px;
	text-shadow: none;
	width: 18%;
	z-index: 1;
}
.checkcontainer {
	background: #ececec none repeat scroll 0 0;
	border-radius: 0 3px 3px;
	float: right;
	margin: 0 0 0 -10px;
	padding: 4px;
	width: 81%;
	z-index: 2;
}
.boxesincheck {
	background: none repeat scroll 0 0 #868686;
	border-radius: 3px;
	float: left;
	margin: 5px 0 5px 5px;
	min-height: 30px;
	padding: 2px 0;
	width: 24%;
}

.myboxesincheckname {
	float: left;
	font-size: 11px;
	margin: 7px 2px 0 0 !important;
	padding: 0 !important;
	text-align: right;
}
.mydataboxesincheckname {
	float: left;
	font-size: 11px;
	margin: 7px 2px 0 0 !important;
	padding: 0 !important;
	text-align: left;
}
.databoxesincheck {
	background: none repeat scroll 0 0 #c29641;
	border-radius: 7px;
	float: left;
	margin: 5px 0 5px 5px;
	min-height: 30px;
	padding: 2px 0;
	width: 35%;
}
.boxesincheckname.smallertag {
	min-width: 30%;
}
.boxesincheck > img, .databoxesincheck > img, .myboxesincheck > img {
	margin: 5px 5px 0px 3px;
	width: 21px;
	float: left;
}
.boxesincheck .megalwse > img {
	float: left;
	margin-left: 4px !important;
	margin-right: 0 !important;
	margin-top: 3px;
}
.boxesincheckname {
	float: left;
	font-size: 11px;
	margin: 7px 2px 0 0 !important;
	min-width: 71%;
	padding: 0 !important;
	text-align: right;
}
.databoxesincheckname {
	float: left;
	font-size: 11px;
	margin: 7px 2px 0 0 !important;
	padding: 0 !important;
	text-align: left;
}
.databoxesincheck .boxesincheckname {
	min-width: 40% !important;
}

.grid_44.activate, .grid_55.activate {
	background: none repeat scroll 0 0 rgba(137, 137, 137, 0.8);
	border-radius: 7px 7px 0 0;
}
.grid_55.activate .details_box .showtrigger {
	width: 270px;
}
.grid_134, .grid_135 {
	border:  transparent;
	float: left;
	height: 40px;
	margin: 2px;
	padding: 5px;
	text-align: center;
	width: 40px !important;
	position: relative;
}


.notesi {
}
.notesi > span {
	background: none repeat scroll 0 0 #444;
	border-radius: 0 0 6px 6px;
	font-size:12px;
	display:block;
	color:#fefefe; 
}



.grid_134 > img {
	width: 40px;
}
.grid_135 > img {
	height: 39px;
	width: 30px;
}
.grid_135 {
	height: 40px !important;
	margin: 0 7px 0 0;
	width: 30px !important;
}
div.selected.grid_134, div.selected.grid_135 {
	background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 71%, #005700 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(71%,#008a00), color-stop(100%,#005700)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 71%,#005700 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 71%,#005700 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 71%,#005700 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 71%,#005700 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#005700',GradientType=0 ); /* IE6-9 */
	border-radius:0px ;
}
.grid_134 > div {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	bottom: 5px;
	color: #000;
	font-size: 9px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 1px #cecece;
	width: 40px;
}
.grid_134.tagging > div {
	bottom: auto;
	display: block;
	font-size: 8px !important;
	top: 46px;
}
.grid_135 > div {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	bottom: 0;
	color: #000;
	font-size: 9px;
	left: -1px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 1px #cecece;
	width: 42px;
}
.previewimages li {
	background: #f7f7f7 none repeat scroll 0 0;
	border-radius: 6px 6px 0 0;
	display: block;
	float: left;
	font-size: 12px;
	margin: 0 6px 0 0;
	padding: 10px 13px;
	position: relative;
	text-shadow: none;
	color:#868686;
}
.previewimages li:last-child {
	margin: 0;
}
.previewimages .ui-link > span {
	color: #868686;
	text-shadow: none !important;
	font-weight:500;
}
.previewimages li.active .ui-link > span {
	color: #444;
}
.previewimages li.active {
	background: #ececec; /* IE6-9 */
	opacity:1;
}
.inpickme .previewimages.greyish li.active {
	background: #ececec none repeat scroll 0 0;
}
.inpickme .previewimages li.active {
	background: #ececec none repeat scroll 0 0;
}

.myfitting .previewimages li, #completions .previewimages li {
	border-radius: 4px !important;
	font-size: 17px;
	text-shadow: none !important;
}
.myfitting .previewimages li.completedfitting {
	background:#2f8f27 !important;
}
.grid_15.garmentbreak, .grid_16.garmentbreak, .grid_10.garmentbreak {
	margin: 0px 0px 5px 5px;
}
.garmenttype {
	float: left;
	font-size: 13px;
	margin-top: 5px;
}
.garment_options_two {
	float: right;
	margin-right: 4px;
}
.garment_options {
	float: left;
	margin-left: 4px;
}
.shirtmonogram .grid_4 {
	font-size: 14px;
}
.garment_help_titles .grid_2 {
	width: 12% !important;
}
.garment_help_titles .prefix_4 {
	padding-left: 29% !important;
}
.grid_15.garment_help_titles, .grid_16.garment_help_titles, .grid_10.garment_help_titles {
	color: #fefefe;
	font-size: 11px;
	text-shadow: 1px 0 1px #444;
}
.grid_2.prefix_0 {
	padding-left: 2.3% !important;
}

.makewhitelist {
	background-color: #fefefe !important;
}
.fabricselect.garmentbreak > .grid_16 {
	background: none repeat scroll 0 0 #868686;
	border-radius: 3px;
}
.fabricinfo span {
	display: inline;
	float: left;
	font-size: 12px;
	padding: 5px 5px 0;
	text-align: center;
	color: red;
}
.fabricinfodivs {
	background: #ececec none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 13px;
	margin: 0 0 5px;
	padding: 6px 6px 1px;
	color:#444;
}
.fabricbreak {
	margin: 0 0 5px 2px;
}
.red {
	color: #e20613;
	font-size: 13px;
	text-shadow: none;
}
.searchfabric {
	border: medium none !important;
	border-radius: 3px;
	box-shadow: none !important;
	float: left;
	margin: 0 0 10px !important;
	padding: 9px 10px !important;
	width: 235px !important;
	text-transform: uppercase;
}
.fbSelectBtn.mycheck.mychecknews.enabled.grid_5 {
	background: #94c01f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0 0 0 5px !important;
	padding: 9px 0 10px !important;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 80px;
}
.littleing .mychecknews {
	margin: 0 10px 0 0 !important;
}
.kissingposition {
	margin: 3px 0 0 45px !important;
}
.contrastlist {
	margin: 3px 0 0 25px !important;
}
.workingposition {
	margin: 3px 0 0 69px !important;
}
.selectlist div.ui-btn {
	margin: 1px 0 0;
}
.titlosboithos {
	display: block;
	text-align: center;
	width: 77px;
}

.buttonslist img {
	float: left;
	margin: 2px 8px 0 0;
	width: 29px;
}
.buttonslist span {
	float: left;
	font-size: 11px !important;
	margin: 8px 0 0;
}
.sleevetitles {
	float: left;
	height: 34px;
	margin-left: 35px;
	width: 115px;
}
.liningpiping {
	float: right;
	height: 34px;
	width: 95px;
}
.sleevetitlesclear {
	float: left;
	height: 34px;
	width: 115px;
}
.contrastman {
	float: left;
	width: 100%;
}
.contrastman .boxesincheck {
	width: 32.3% !important;
}
.shirtmonogram input {
	margin: 0;
	padding: 3px 10px;
	background:#f7f7f7 none repeat scroll 0 0;
}
.title_step.garmenttopbreak {
	margin: 50px 0 5px 10px !important;
}
.title_step.garmenttopbreakfirst {
	margin: 30px 0 5px 10px !important;
}
.upperlapel {
	margin: 3px 0 0 70px !important;
}
.lowerlapel {
	margin: 3px 0 0 45px !important;
}
.trimmingt .grid_2.prefix_5 {
	padding-left: 36.3% !important;
}
.truefalseclicks.invisible {
	opacity: 0.5;
}
.epaulettes {
	background-position: -501px -31px;
	width: 40px !important;
}
.epaulettes.selecteds {
	background-position: -501px 0px !important;
}
.positiona .ui-btn {
	border: medium none;
	box-shadow: none !important;
	height: 27px;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 1px;
	width: 30px;
}
.grid_4 .label_style {
	padding: 5px 0 0 6px;
}
.shirtmonogram .mycheck.mychecknews {
	margin: 0 5px !important;
	padding: 3px !important;
}
.mycheck.mychecknews.monogramshow {
	text-decoration: line-through;
	margin: 0px !important;
}
.mycheck.mychecknews.monogramshow.enabled {
	text-decoration: none;
	margin: 0px !important;
}
.positiona {
	margin-right: 8px !important;
}
#scrollWrapper {
	width: 65.7%;
	padding: 50px 0px 220px;
	overflow: visible !important;
}
#scrollWrapperforcust {
	width: 98.7%;
	padding: 50px 0px 220px;
	overflow: visible !important;
}
.grid_6.fixedpreview {
	width: 33% !important;
}

.clonesmall span {
	padding: 5px 10px !important;
}
.clonesmall {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	box-shadow: none !important;
	margin: 0 0 0 10px;
	padding: 0 !important;
}
.tomakegreen.makegreen {
	background: none repeat scroll 0 0 #94c01f !important;
}
.tomakegreen.makegreen .fabricinfo span {
	color: #fefefe !important;
	font-size: 16px !important;
	padding: 3px 5px 0 !important;
}
.monogramtitl {
	font-size: 14px;
	padding: 4px 0 0 10px !important;
}

.smallerlet {
	font-size: 9px;
}
/* Start Customers Section */
.custheaders {
	color: #fefefe;
	float: left;
	font-family: "Open Sans";
	font-weight: normal;
	text-shadow: 1px 0 1px #333;
	width: 100%;
}
.custheaders .titlosc {
	font-size: 21px;
	text-transform: uppercase;
}
.custpage {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: -2px -378px;
	float: left;
	height: 30px;
	margin: 0 5px 5px 0;
	width: 30px;
}
.bigladeling {
	border: 0 none;
	float: left;
	padding: 0;
	width: 22%;
	font-family: "Open Sans";
}
.bigladeling a {
	display: block;
	float: left;
}
.stepbigbuts {
	bottom: 2%;
	display: block;
	position: fixed;
	right: 15px;
}
.stepbigbuts.right_position {
	margin-right: 2%;
}
.left_position.stepbigbuts {
	left: 15px !important;
	margin-left:0px;
}
.marginonbottomlabels {
	margin: 50px 3% 30px 0;
}
.bigladeling:last-child {
	margin-right: 0;
}
.bigladeling.right_position:last-child {
	margin-right: 2%;
}
.bigladeling span {
	display: block;
	float: left;
}
.custinfoim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: 0 -194px;
	float: left;
	height: 44px;
	margin: 0 5px 5px 0;
	width: 44px;
}
.measureim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: 0 -240px;
	float: left;
	height: 44px;
	margin: 0 5px 5px 0;
	width: 44px;
}
.orderim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: 0 -286px;
	float: left;
	height: 44px;
	margin: 0 5px 5px 0;
	width: 44px;
}
.notesim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: 0 -332px;
	float: left;
	height: 44px;
	margin: 0 5px 5px 0;
	width: 44px;
}
.nextstep {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -469px -355px;
	height: 44px;
	margin: 0 0 5px 5px;
	width: 44px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.prevstep {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -469px -355px;
	height: 44px;
	margin: 0 0 5px 5px;
	width: 44px;
}
.refundstep {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-position: -34px -377px;
	height: 30px;
	margin: 0 0 5px 5px;
	width: 32px;
	float: left;
}
.right_position.bigladeling span {
	float: right;
}
.right_position .bigpart {
	text-align: right;
}
.right_position .firstpart {
	text-align: right;
}
.bigladeling .firstpart {
	color: #dcb469;
	font-size: 14px;
	line-height: 0.9em;
	margin: 4px 0 0;
	text-shadow: 1px 0 1px #333;
	text-transform: uppercase;
	width: 160px;
}
.bigladeling .bigpart {
	font-size: 20px;
	line-height: 0.91em;
	margin: 6px 0px 0px 0px;
	padding: 0;
	text-shadow: 1px 0 1px #333;
	text-transform: uppercase;
	width: 160px;
	color: #fefefe;
}
.bigladeling .thirdpart {
	clear: both;
	color: #fefefe;
	font-size: 18px;
	line-height: 0.9em;
	text-shadow: 1px 0 1px #333;
	width: 60%;
}
.evenbigger .bigpart {
	width: 60%;
}
.evenbigger .firstpart {
	width: 60%;
}
.bigladeling.evenbigger {
	width: 50%;
}
#completions .bigladeling.evenbigger {
	width: 100% !important;
	margin:10px 0px 0px !important;
}
#completions .evenbigger .firstpart {
	width: 80% !important;
}
#completions .evenbigger .bigpart {
	width: 84% !important;
}
.myfitting .bigladeling.evenbigger {
	margin-bottom: 2px !important;
	margin-left: 10px;
	width: 100%;
}
.myfitting .evenbigger .bigpart {
	font-size: 18px;
	width: 80%;
}
.custtiles {
	color: #dcb469;
	font-family: "Open Sans";
	margin: 10px 0 5px;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 21px;
}
.custinfos li {
	font-family: "Open Sans";
	font-size: 18px;
	padding: 5px 0px;
}
.custinfos .firstpart {
	color: #fefefe;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 0.012em;
	text-align: right;
	width: 17%;
}
.custinfos .secondpart {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	color: #3a3a39;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 0.012em;
	padding: 5px 10px;
	text-shadow: none !important;
	width: 73%;
}

.finallabeling {
	display: block;
	margin: 5px 0 2px;
	text-shadow: none;
}
.mytailors .ui-select {
	width: 100%;
}
.mykoubakiss {
	background: #5aaf10;
	float: left;
	margin: 8px 0 0 1%;
	padding: 8px 0;
	text-align: center;
	text-shadow: none;
	width: 18%;
}

.commint {
	background: #dedede none repeat scroll 0 0;
	color: #444;
	display: block;
	font-size: 14px;
	padding: 5px 7px;
	text-shadow: none;
	width: 96.5%;
}
.kleisemee {
	background: red none repeat scroll 0 0;
	display: block;
	height: 100%;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 0;
	width: 35px;
}
.paymentim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -471px 0;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 10px;
	width: 30px;
}
.shippingim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -471px -136px;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 10px;
	width: 30px;
}
.errorim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -471px -102px;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 10px;
	width: 30px;
}
.custimim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -471px -69px;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 10px;
	width: 30px;
}
.alterim {
	background-image: url("http://shirt-tailor.net/thepos/appimg/complete_set.png");
	background-position: -471px -36px;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 10px;
	width: 30px;
}
.orderoptions li {
	float: left;
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 18px;
	padding: 3px 0;
	text-shadow: 1px 0 2px #1a1918;
	width: 100%;
}
.orderoptions li a {
	display: block;
	font-weight: normal !important;
	height: 33px;
	text-decoration: none;
	width: 100%;
}
.orderoptions span.firstpart {
	display: inline;
	float: left;
	padding: 5px 0 0 !important;
}
.garmentlistord th, .garmentlistord td {
	box-shadow: -1px 0 0 #fefefe inset;
	color: #fefefe;
	font-family: "Open Sans";
	font-weight: normal;
	padding: 3px 4px;
	text-shadow: none;
	text-align: center;
	font-size: 16px;
}
.garmentlistord th {
	color: #fefefe;
	text-transform: uppercase;
	font-size: 18px;
}
td.garmentnameli {
	color: #dcb469;
	text-transform: uppercase;
	text-align: left;
}
.garmentlistord th:last-child, .garmentlistord td:last-child {
	box-shadow: none;
}
.garmentlistord a.ui-btn {
	border: medium none;
	border-radius: 13px;
	color: #444;
	float: left;
	margin: 0 4px;
	text-shadow: none !important;
	width: 85px;
}
.custmenu li a {
	background: #dcb469 none repeat scroll 0 0;
	border-radius: 2px;
	display: inline-block;
	font-weight: normal !important;
	min-width: 100%;
	text-decoration: none;
}
.custmenu li {
	padding: 5px 0;
	text-decoration: none !important;
	text-shadow: none !important;
	width: 100%;
}
.custmenu a .bigpart {
	letter-spacing: 0.032em;
	padding: 4px 15px 9px;
	text-transform: uppercase;
}
.custmenu a span {
	color: #3a3a39;
	display: inline-block;
	font-size: 20px;
	padding: 12px 15px 0;
}

i {
	background: #fefefe none repeat scroll 0 0;
	border-radius: 2px 0 0 2px;
	display: inline-block;
	float: left;
	height: 74px;
	overflow: hidden;
	width: 50px;
}
/* End of Customers Section */

/* Start of Fitting Section */
.fittingmenu li {
	background-image: url("http://shirt-tailor.net/thepos/appimg/customers_set.png");
	background-repeat: no-repeat;
	display: inline-table;
	border-radius: 15px;
	width: 104px;
	margin-left: 10px;
}
.fittingmenu a {
	display: block;
	height: 72px;
	width: 49px;
	position: relative;
}
.fittingmenu li:first-child {
	margin: 0 0 0 10px;
}
li.fmedia.active {
	background-position: 0px -48px;
}
li.fmedia {
	background-position: 0px 1px;
}
li.fvideos.active {
	background-position: -49px -48px;
}
li.fvideos {
	background-position: -49px 1px;
}
li.ftailor.active {
	background-position: -98px -48px;
}
li.ftailor {
	background-position: -98px 1px;
}
li.fmeasurement.active {
	background-position: -147px -48px;
}
li.fmeasurement {
	background-position: -147px 1px;
}
li.fpanel.active {
	background-position: -196px -48px;
}
li.fpanel {
	background-position: -196px 1px;
}
li.fhistory.active {
	background-position: -246px -48px;
}
li.fhistory {
	background-position: -246px 1px;
}
li.fremake {
	background-position: -295px 1px;
}
li.fremake.active {
	background-position: -295px -48px;
}
.fmedia span, .fremake span, .fhistory span, .fpanel span, .ftailor span, .fvideos span {
	color: #fefefe;
	display: block;
	font-size: 10px;
	line-height: 11px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 48px;
	width: 50px;
}

.fmeasurement span {
	display: block;
	font-size: 9px;
	margin: 0 10px 0 -5px;
	position: absolute;
	text-align: center;
	top: 49px;
	width: 60px;
}
.fitmeasures li {
	background: none repeat scroll 0 0 #dcb469;
	border-radius: 10px;
	color: #444;
	float: left;
	font-size: 14px;
	margin: 0 10px 10px 0;
	padding: 6px 15px 4px;
	text-shadow: none;
	width: 41%;
}
.fitmeasures li > span:last-child {
	float: right;
}
.fitmeasures li > span {
	float: left;
}
#FittingVideoBtn {
	background: rgba(0, 0, 0, 0) url("http://shirt-tailor.net/thepos/appimg/fitting/take-video.png") no-repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	height: 140px;
	text-indent: -999999px;
	width: 150px;
}
#FittingFrontImageMediaBtn, #FittingSideImageMediaBtn, #FittingBackImageMediaBtn, #FittingCustomImageMediaBtn {
	background: rgba(0, 0, 0, 0) url("../img/Upload_Image_icon.png") no-repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	height: 140px;
	z-index:0;
}
.fittingmenus {
	margin: 2px 0px 0px !important;
	display:table;
	border-top: 5px solid gray !important;
	padding-top: 6px !important;
}
.fittingmenus ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
	position: relative;
}
.fittingmenus li {
	background: rgba(135, 135, 135, 1) none repeat scroll 0 0;
	color: #444;
	font-size: 11px;
	height: 90px;
	position: relative;
	text-align: center;
	text-shadow: none !important;
	display: inline-table;
	border-radius: 15px;
	width: 104px;
	margin-left: 10px;
	
}
li.pending {
	background: rgba(227, 0, 15, 1) none repeat scroll 0 0;
}
li.completed {
	background: rgba(175, 202, 5, 1) none repeat scroll 0 0;
}
li.selected {
	background: rgba(215, 180, 106, 1) none repeat scroll 0 0;
	border: 1px solid  #444;
}

.fimage {
	background: rgba(0, 0, 0, 0) url("../img/fitting icons/uploadimage_.png") no-repeat;
	display: block;
	height: 38px;
	margin: 11px auto 4px;
	width: 47px;
	background-size: 47px;
}
.fnote {
	background: rgba(0, 0, 0, 0) url("../img/fitting icons/addnotes_.png") no-repeat scroll;
	display: block;
	height: 48px;
	margin: 6px 32% -2px;
	width: 44px;
	background-size: 43px;
}

.fvideo  {
	background: rgba(0, 0, 0, 0) url("../img/fitting icons/uploadvideo_.png") no-repeat scroll;
	display: block;
	height: 59px;
	margin: -2px auto -4px auto;
	width: 57px;
	background-size: 49px;
	background-position-y: 98%;
	background-position-x: 62%;
}
.fmeasure {
	background: rgba(0, 0, 0, 0) url("../img/fitting icons/icons.png") no-repeat scroll -2px 0;
	display: block;
	height: 31px;
	margin: 14px auto 5px;
	width: 31px;
}

.ftailor {
	background: rgba(0, 0, 0, 0) url("../img/fitting icons/asigntailor_.png") no-repeat scroll;
	display: block;
	height: 52px;
	margin: 6px auto -7px;
	width: 52px;
	background-size: 99%;
}

.fittingmenus div, .fittingmenus a {
	display: block;
	height: 15px;
	padding: 6px 0 0;
	text-align: center;
}
#fittings h3.title_step {
	color: #d9b46d;
	font-size: 26px;
	font-weight: bold;
	margin: 10px 0 0;
}
#fittings h4.title_step {
	font-size: 20px;
	margin: 0 0 20px;
}
#fittings .imaggo h4.title_step ,#fittings .imaggo h3.title_step { text-align:center;}
li.myfitinglist {
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	border-radius: 2px;
}
.bigladeling.right_position.mytooppi {
	background: #8f2727 none repeat scroll 0 0;
	border-radius: 2px;
	padding: 6px 5px 0;
	position: fixed;
	right: 270px;
	bottom: 2%;
	width: 215px;
	z-index:99;
}
.bigladeling.myalterrop {
	background: #8f2727 none repeat scroll 0 0 !important;
	border-radius: 2px;
	bottom: 2%;
	left: 270px !important;
	padding: 6px 5px 0 !important;
	position: fixed;
	width: 215px;
	z-index: 99;
}
.bigladeling.right_position.stepbigbuts {
	background: #2f8f27 none repeat scroll 0 0;
	border-radius: 2px;
	padding: 6px 5px 0;
	width: 215px;
}
.bigladeling.left_position.stepbigbuts {
	background: #9d9e9e none repeat scroll 0 0;
	border-radius: 2px;
	padding: 6px 0 0 5px;
	width: 215px;
}
.myfitting .prevstep {
	margin: 0 4px 5px 5px;
}
.mymer .myuppertitle {
	float: left;
	font-size: 14px;
	padding: 5px 3px 0 0;
	text-transform: none !important;
}
.mymer ul.topos.topmenu {
	border-right: 1px solid #fefefe;
	float: right;
	margin:0 10px 0 0 !important;
	padding-right: 10px;
	width: 104px;
}
.myuppertitle.stedi {
	width: 155px;
}
.grid_4 > .myuppertitle.whiteme {
	text-align: right !important;
	width: 50px !important;
}
.mymer .boxclick {
	height: 30px;
	width: 30px;
}
.mymer img.boxclick {
	border-radius: 1px;
}
.mymer .plusorminus > span {
  color: #444 ;
	display: block;
	height: 24px;
	min-width: 32px;
	padding: 5px 5px 0;
	text-shadow:none;
	font-size:14px;
	text-align:center;
}
.mymer textarea {
	border: medium none;
	border-radius: 1px !important;
	box-shadow: none !important;
	min-height: 65px;
}
.biggerdown .extracostfields .ui-field-contain .ui-select {
	width: 50%;
}
.whiteme {
	color: #fefefe !important;
	font-weight: bold;
}
/* End of Fitting Section */


/* POPUPS */
.white_content.mynicepop {
	background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
	box-shadow: none;
	height: 100%;
	width: 100%;
}
.inmynicepop {
	margin: 10% auto 0;
	width: 600px;
}
.inmynicepoptwo {
	width: 980px !important;
	margin: 3% auto 0 !important;
}
.inmynicepopthree {
	width: 980px !important;
	margin: 3% auto 0 !important;
	height:400px;
}
.inmyscroll {
	background: rgba(255, 255, 255, 0.55) none repeat scroll 0 0;
	border-radius: 2px;
	height: 300px;
	margin: 0 0 10px;
	overflow: auto !important;
	padding: 10px 0 10px 9px;
	width: auto;
}
.close_popups.mynicepopclose {
	background: #5aaf10 none repeat scroll 0 0 !important;
	border-radius: 2px;
	font-size: 12px;
	margin: 0;
	padding: 8px 10px 7px;
	position: relative !important;
	text-decoration: none;
	text-indent: -1px !important;
	text-shadow: none;
	text-transform: uppercase;
	width:110px !important;
	height:16px !important;
	text-align:center !important;
	color:#fefefe !important;
}
.alert-close { margin:10px auto 0px !important; padding:10px 35px 16px !important; font-family:"Open Sans"; font-size:18px !important; color:#fefefe; font-weight:bold;}
.inmynicepop textarea,.inmynicepop input {
	border: medium none;
	border-radius: 2px;
	box-shadow: none;
	font-size: 15px;
	font-weight: normal;
	text-shadow: none;
	color:#444;
}
.inmynicepop textarea { width:100% !important;}
.bgmynicepop {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	border-radius: 2px;
	display: block;
	float: left;
	margin: 5px 0 10px;
	padding: 10px;
}
.inmynicepop > p {
	font-family: Trebuchet MS;
	font-size: 24px;
	margin: 0;
	color:#fefefe !important;
}
.mynicepop .inmynicepop .grid_134.tagging {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border-radius: 2px;
	height: 55px;
	margin: 6px 5px 5px;
	width: 44px !important;
}
.mynicepop .inmynicepop .grid_134.tagging.selected {
	background: rgba(255, 255, 255, 0.83) none repeat scroll 0 0 !important;
}
.mynicepop .inmynicepop .grid_134.tagging > div {
	border-radius: 0 0 4px 4px;
	bottom: 0;
	display: block;
	font-size: 8px !important;
	line-height: 9px;
	margin: 0 0 0 -5px;
	padding: 1px 0 2px;
	width: 100%;
}
.mynicepop .inmynicepop .grid_138.tagging {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border-radius: 4px;
	float: left;
	height: 52px;
	margin: 3px 4px 5px;
	padding: 4px;
	position: relative;
	text-align: center;
	width: 44px !important;
}
.mynicepop .inmynicepop .grid_138.tagging.selected {
	background: rgba(255, 255, 255, 0.83) none repeat scroll 0 0 !important;
	color:#444;
	text-shadow:0px 0px 0px #fefefe;
}
.mynicepop .inmynicepop .grid_138.tagging > div {
	border-radius: 0 0 4px 4px;
	bottom: 0;
	display: block;
	font-size: 9px !important;
	line-height: 9px;
	margin: 0 0 0 -4px;
	padding: 1px 0 3px;
	position: absolute;
	width: 100%;
	color:#fefefe; 
}

.grid_138.tagging > img {
	text-align: center;
	width: 42px;
}

/* END OF POPUPS */

ul.shipping-mainmenu {
	margin: 10% auto !important;
	width: 75% !important;
list-style-type: none;
text-align: center;
}
.shipping-mainmenu li {
	display: inline-block;
}
.shipping-mainmenu li a {
	display: block;
	margin: 20px;
}


/* HELPFULL */
.centermy { text-align:center;}
.mybottomfixed {
	bottom: 0;
	height: 61px;
	left: 0;
	position: fixed;
	width: 100%;
}
.makegreen { background:#b0ca05;}
.makered { background:#e31e25;}
.makegold { background:#dcb469;}
.paddingfifteen { padding:15px !important;}
.paddingfive { padding:5px;}
/* HELPFULL */


/* ALTERATION PAGE */
h3.myallbigtitles {
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 32px;
	margin: 0 0 15px;
	text-shadow: none;
}
.myuppertitle {
	color: #dcb469;
	display: inline-block;
	padding: 0 0 5px 10px;
	text-shadow: none;
	font-family: "Open Sans";
	text-transform:uppercase;
}
.myerrorti {
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 15px;
	text-shadow: none;
}
.myuppertitle.centermy {
	display: block !important;
}
.unassigned {
	background: rgba(164, 0, 0, 0.6) none repeat scroll 0 0;
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 15px;
	text-shadow: none;
	border-bottom:1px solid #fefefe !important;
	padding:4px 0px !important;
}
.assigned {
	background: rgba(0, 158, 227, 0.6) none repeat scroll 0 0;
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 15px;
	text-shadow: none;
	border-bottom:1px solid #fefefe !important;
}
.grid_alt > .spacingaroundf-t {
	background: rgba(58, 58, 57, 0.4) none repeat scroll 0 0;
	border-radius: 2px;
	color: #9b9c9c;
	font-size: 13px;
	margin: 3px;
	padding: 6px 5px;
}
.grid_alt:last-child > span.spacingaroundf-t {
	background: #fefefe none repeat scroll 0 0;
	color:#98b003;
}
.pending > .spacingaroundf-t {
	background: #ffeb00 none repeat scroll 0 0 !important;
	color: #444 !important;
}
.stablelist {
	background: rgba(187, 189, 192, 0.9) none repeat scroll 0 0;
	color: #444;
	font-family: "Open Sans";
	font-size: 15px;
	margin: 0 0 5px !important;
	text-shadow: none;
}
.gre_butt {
	background: #afca04 none repeat scroll 0 0 !important;
	border: medium none !important;
	border-radius: 2px !important;
	box-shadow: none !important;
	color: #444;
	font-weight: bold;
	text-shadow: none !important;
	text-transform: uppercase;
}
.spacingaroundf-t {
	text-transform:capitalize;
	display: inline-flex;
	float: left;
	padding: 8px 5px 6px 10px;
}
.stablelist .spacingaroundf-t {
	padding: 8px 7px 7px 5px;
}
.grid_alt {
	border: 0 none;
	border-radius: 4px;
	float: left;
	margin: 0;
	padding: 0 ;
}

div.grid_alt.pending {
	background-color: #ffeb00;
	background-image: url("http://shirt-tailor.net/thepos/appimg/template/missing.png");
	background-position: 93% 46%;
	background-repeat: no-repeat;
	border: 0 none;
	border-radius: 2px;
	float: left;
	margin: 0;
	padding: 0 10px 0 0;
}
.exportbutton {
	background: #fefefe none repeat scroll 0 0;
	border-radius: 2px;
	color: #a40000;
	display: inline-block;
	margin: 6px 0 0 35px;
	padding: 3px 10px;
	text-align: center;
}
.smallexportbutton {
	background: #fefefe none repeat scroll 0 0;
	border-radius: 2px;
	color: #a40000;
	display: inline-block;
	margin: 6px 0 0 5px;
	padding: 3px 10px;
	text-align: center;
}
.reportrtbutton {
	background: #fefefe none repeat scroll 0 0;
	border-radius: 2px;
	color: #708117;
	display: inline-block;
	margin: 6px 0 0 22px;
	padding: 3px 10px;
	text-align: center;
}

.myaltersel {
	padding: 8px 0 0;
}
.myaltersel select {
	font-family: "Open Sans";
	font-size: 13px;
}
.savestauts {
	width: 200px;
	margin: 20px auto 90px;
	text-align: center;
}
.savestauts span { background: #dcb469 none repeat scroll 0 0;
	border-radius: 2px;
	color: #000;
	display: block;
	font-family: "Open Sans";
	font-size: 18px;
	padding:5px;
	}
.fittingbuttons {
	
	margin: 20px auto;
	text-align: center;
}
.fittingbuttons span { 
	border-radius: 2px;
	color: #000;
	display: block;
	font-family: "Open Sans";
	font-size: 18px;
	padding:5px;
	text-shadow:none;
	font-weight:bold;
	}
.mybottomfixed .fittingbuttons {
	margin: 0 !important;
}
#ContactInfoPopup .custinfos {
	background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
	border-radius: 2px;
	margin: 0 0 10px;
	padding: 10px 0px 5px 10px;
}
#ContactInfoPopup .inmynicepop {
	margin: 10% auto 0;
	width: 600px;
}
#ContactInfoPopup .custinfos .firstpart {
	width: 23% !important;
	font-size:16px;
	text-align:right;
	padding-right:5px;
}
#ContactInfoPopup .custinfos .secondpart {
	width: 70.5%;
}
.imagebutton {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
.imagebutton > span {
	padding: 0;
}
.imageuploading {
	background: rgba(0, 0, 0, 0) url("http://shirt-tailor.net/thepos/appimg/complete_set.png") no-repeat scroll -778px -167px;
	border: medium none;
	float: left;
	height: 44px;
	margin: 2px 0 0 10px;
	text-indent: -999999px;
	width: 52px;
}
.nextomediaim {
	float: left;
	font-weight: bold;
	margin: 15px 0 0;
	text-shadow: none;
	width: 150px;
}
.tokostosmou > span {
	float: left;
	margin: 4px 0 0;
}
.moveupA {
	margin: -37px 0 0 10px;
}
.makemybgwhity {
	background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	border-radius: 2px;
	margin-bottom: 40px !important;
	padding-top:15px !important;
}
.mygarmentname {
	border-bottom: 1px dashed;
	font-size: 20px;
	margin: 0 0 20px;
	padding: 0 0 0 25px;
}
.biggerdown { margin-bottom:120px !important;}
.grid_4.littleing .grid_12 > output {
	display: block;
	height: 100%;
	margin: auto;
	text-align: center;
	width: 100%;
}
.imaggo h3.myallbigtitles {
	text-align: center;
	margin:0px 0px 5px ;
}
h4.myallbigtitles {
	color: #444;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	text-align: center;
	text-shadow: none;
}
h4.myallbigtitles span {
	color: #dcb469;
	font-size: 15px;
}
.imageholdingt > div#CompletionFrontImageMediaBtn,.imageholdingt > div#CompletionSideImageMediaBtn,.imageholdingt > div#CompletionBackImageMediaBtn, #CompletionCustomImageMediaBtn {
	background: rgba(0, 0, 0, 0) url("http://shirt-tailor.net/thepos/appimg/fitting/upload-image.png") no-repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	height: 80px;
	margin: 0 auto;
	text-indent: -99999px;
	width: 180px;
}

.myanav {
display: table;
width: 100%;
border-collapse: collapse;
border: none;
}
.myanav ul {
display: table-row;
}
.myanav li {
display: table-cell;
margin: 0;
opacity:1;
}
/* ALTERATION PAGE */



/* ERROR PAGES */



.smallerhi {
	font-size: 12px;
	line-height: 16px;
}

.myreplytn {
	font-size: 15px;
	font-weight: bold;
	margin: 0 5px;
	text-shadow: none;
	text-transform: uppercase;
}

.myerrorcon div > a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	border: medium none;
	box-shadow: none !important;
}
.myerrorcon a > span {
	background: #d7b56d none repeat scroll 0 0;
	color: #fefefe;
	margin: 0 3px 0 0;
	padding: 12px 0px;
	color:#000;
	text-align: center !important;
	border-radius: 2px !important;
	font-size:13px !important;
}
.fittings {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	border-radius: 12px;
	color: #444;
	display: inline-block;
	font-size: 11px;
	padding: 1px 8px;
	text-align: center;
}
.maketeamf {
	background: #dcb469 none repeat scroll 0 0;
	color: #fefefe;
	display: inline-block;
	font-family: "Open Sans";
	font-size: 13px;
	margin: 0 2px 0 0;
	padding: 9px 4px 8px 4px;
	text-shadow: none !important;
}
.myfitinglist .maketeamf {
	color: #444;
	padding: 8px 10px 7px;
}
.myfitinglist .myuppertitle {
	font-size: 15px;
	padding: 12px 0 0 3px !important;
}
.AvaibleFitting {
	background: rgba(220, 180, 105, 0.7) none repeat scroll 0 0;
}
.maketeamf.finished {
	background: rgba(175, 202, 4, 0.5) none repeat scroll 0 0;
}
.maketeamf.ready , .WithTailor {
	background: rgba(0, 158, 227, 0.6) none repeat scroll 0 0;
}
.maketeamf.tailor {
	background: rgba(227, 0, 14, 0.5) none repeat scroll 0 0;
}
.FittingStepSkipped {
	background: rgba(227, 0, 14, 0.4) none repeat scroll 0 0 !important;
}
.FittingUnassigned {
	background: rgba(160, 217, 247, 0.7) none repeat scroll 0 0;
}
.Completed {
	background:rgba(175, 202, 4, 0.4) none repeat scroll 0 0;
}
.myfitinglist {
	padding-bottom: 30px;
}
.myfitinglist:last-child {
	padding-bottom: 100px;
}
.tagged_box { z-index:66; }

.makegrey {
	background: rgba(134, 134, 134, 0.4) none repeat scroll 0 0;
}
.makegrey .uphinttitle {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	font-size: 24px;
	margin: 0;
	padding: 15px;
}
.makegrey .itemstoupdate label.apostasi {
	padding: 3px 0 0 15px;
	text-align: left;
	width: 20% !important;
}
.makegrey .itemstoupdate input, .makegrey .itemstoupdate textarea {
	border-radius: 2px !important;
	box-shadow: none !important;
	text-shadow: none !important;
	width: 75% !important;
}
.makegrey .itemstoupdate div.ui-select div.ui-btn {
	border-radius: 2px !important;
	box-shadow: none !important;
	text-shadow: none !important;
	text-transform: capitalize;
	width: 75%;
}
.dwseg {
	background: #fff none repeat scroll 0 0;
	border-radius: 2px;
	color: #444;
	margin: 5px 0 0 22.5% !important;
	padding: 10px !important;
	width: 50% !important;
}

/* Right Panel */
.mysliding {
	background-color: #dcb469;
	background-image: url("http://shirt-tailor.net/thepos/appimg/template/topmenu/right-menu-set.png");
	background-position: 15px 5px;
	background-repeat: no-repeat;
	border: medium none;
	border-radius: 2px 0 0 2px !important;
	box-shadow: none !important;
	height: 45px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
}

#popupPanel-popup {
	right: 0 !important;
	left: auto !important;
}
#popupPanel {
	width: 330px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(220, 180, 105, 1) none repeat scroll 0 0;
	margin: -1px 0;
	min-height:767px;
}
#popupPanel .ui-btn {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 ;
	border-bottom: 1px solid #434343;
	border-image: none ;
	border-left: medium none ;
	border-radius: 0 ;
	border-right: medium none ;
	border-top: medium none ;
	box-shadow: none ;
	font-size: 20px;
	line-height: 16px;
	margin: 10px auto 5px ;
	text-shadow: none ;
}
.topheadofmen {
	background: #bf9c5b none repeat scroll 0 0;
	border-bottom: 1px solid #a2854d;
	color: #3a3a39;
	margin: 0 !important;
	padding: 20px 15px;
	text-align: center;
	font-family:"Open Sans";
}
.aftertopheadmen {
	border-bottom: 1px solid #a2854d;
	color: #3a3a39;
	float: left;
	font-family: "Open Sans";
	margin: 0 !important;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.halfbutmain {
	color: #3a3a39 !important;
	float: left;
	font-size: 16px;
	font-weight: normal !important;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	width: 50%;
}
.mainrightmenu {
	background-image:url("http://shirt-tailor.net/thepos/appimg/template/topmenu/right-menu-set.png");
	background-repeat:no-repeat;
	background-color:transparent;
	display: block;
	height: 32px;
	margin: 0 auto;
	position: relative;
	width: 32px;
}
.mainmessages-icon {
	background-position:0px -36px;
}
.mainnotify-icon {
	background-position:-0px -72px;
}
.mainsettings-icon {
	background-position:-0px -105px;
}
.mainusers-icon {
	background-position:-0px -139px;
}
.mymainnotify {
	background:  red none repeat scroll 0 0;
	border-radius: 3px;
	color: #fefefe;
	font-size: 10px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	padding: 1px 5px;
	position: absolute;
	right: 60px;
	top: 0px;
	width: auto;
}
.topheadofmen h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
.topheadofmen h1 {
	font-size: 26px;
	margin: 10px 0;
}
.mainmenulinks {
	border-bottom: 1px solid #d5ae66;
	color: #3a3a39 !important;
	display: block;
	font-size: 20px;
	font-weight: normal !important;
	line-height: 19px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
}
/* End or Right Panel */




/* Start of new Header */


.u-header {
	background: rgba(187, 189, 192, 0.3) none repeat scroll 0 0;
	box-shadow: none;
	font-family: "Open Sans";
	height: 45px;
	text-shadow: none !important;
	width: 100%;
}
.above-j-header {
	box-shadow: none;
	font-family: "Open Sans";
	height: 30px;
	left: 0;
	position: fixed;
	text-shadow: none !important;
	top: 46px;
	width: 100%;
}
.above-j-header > div {
	float: right;
	font-size: 12px;
	padding: 7px 10px 6px;
	margin:0 0 0 1px;
}
.j-header .custupname .firstpart,.u-header .firstpart {
	display: inline-block;
	font-size: 24px;
	overflow: hidden;
	padding: 4px 0 0 10px;
	line-height:35px;
	text-transform:capitalize;
}
.j-header .editmyinfo,.u-header .editmyinfo {
	background: rgba(0, 0, 0, 0) url("http://shirt-tailor.net/thepos/appimg/complete_set.png") no-repeat scroll -574px -355px;
	border-radius: 2px;
	display: inline-block;
	height: 38px;
	margin: 0 0 0 10px;
	width: 38px;
}
/* End of new Header */

/* Start of Help Tags */
.leftfloat { float:left;}
.rightfloat { float:right;}
.noborders { border:none !important;}

/* End of Help Tags */

#MyJacketLapelWidthPopup {
	position: absolute;
}

#MyJacketLapelWidthPopup .inmynicepop {
	top: 255px;
	position: relative;
}

#MyJacketLapelWidthPopup .inmynicepop input {
	font-size: 34px;
}








