* {
	text-shadow: none;
}

.incomingBox {
	border: 1px solid;
	margin: 13px 16px 16px;
	padding: 5.4px 5px 6px 5px;
	border-collapse: collapse;
	border-radius: 14px !important;
	width: 80%;
}

.incomingBox .boxheader {
	border: 1px solid;
	border-collapse: collapse;
	margin: -6px -6px -6px -6px;
	background-color: #ECECEC;
	border-radius: 11px 14px 0px 0px;
	padding-left: 13px;
}

.incomingBox table {
	margin-top: 13px;
}

.incomingBox td, th {
	padding: 5px 12px;
}

.trackingNumber {
	position: relative;
	background-color: #BE1E2D;
	color: white;
	border-radius: 12px;
	display: block;
	left: -62.6px;
	top: -52.9px;
	width: 158px;
	float: right;
}

.trackingNumber span {
	margin-left: 14%;
	margin-right: auto;
	position: relative;
}

.box_received_icon {
	/* float: inline-end; */
	/* top: -106.2px; */
	/* display: -moz-deck; */
	width: 159px;
	position: relative;
	top: 7px;
	left: -9px;
}


div.box_received a.icon-arrow-right::after {
	background-color: #94c01f;
	background-position: -196.8px -4px;
}

div.box_not_received a.icon-arrow-right::after {
	background-color: #868686;
	background-position: -196.8px -4px;
}

.send_chat_button {
	background-color: #94C01F;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.show_chat_button{
	background-color: #F19000;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

#history-popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 298px;
	background-color: white;
	z-index: 1;
	padding: 10px;
	padding-bottom: none;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	overflow-y: scroll;
}

#history-popUp h1{
	font-size: 19px;
	font-weight: bold;
}

#history-popUp .close-buttom {
	display: block;
	position: absolute;
	top: 8px;
	left: 908px;
	background-color: red;
	color: white;
	border-radius: 6px;
	padding: 2px 8px 5px;
	width: 9px;
}