* {
	text-shadow: none;
}

table.items_table thead th {
	background-color: #988E73;
	color: white;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.items_table tbody tr td {
	background-color: #ECECEC;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.items_table {
	width: 95%;
	margin: 10px;
}

table.items_table .ui-btn {
	height: 31px;
	padding: 0;
	margin: 0 0px;
	position: relative;
	display: block;
	text-align: center;
	font-size: 84%;
	background-color: #94C01F;
	color: white;
	padding: 0 4px;
}

tr.item td {
	background-color: white !important;
	text-align: justify !important;
}

tr.item td table {
	width: 100%;
	border: 1px solid;
}

td input {
	border: 0;
	width: 72px;
}

.cam-icon{
    width: 27px;
}
.eye-icon{
    width: 24px;
}

#history-popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 298px;
	background-color: white;
	z-index: 1;
	padding: 10px;
	padding-bottom: none;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	overflow-y: scroll;
}

#history-popUp h1{
	font-size: 19px;
	font-weight: bold;
}

#history-popUp .close-buttom {
	display: block;
	position: absolute;
	top: 2px;
	left: 912px;
	background-color: red;
	color: white;
	border-radius: 6px;
	padding: 2px 8px 5px;
	width: 9px;
}

.send_chat_button {
	background-color: #94C01F;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.show_chat_button{
	background-color: #F19000;
	border-radius: 5px;
	padding: 2px 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.update_button {
	position: fixed;
	bottom: 1%;
	right: 3%;
}

div.update_button a.icon-arrow-right::after {
	background-color: #94c01f;
	background-position: -196.8px -4px;
}

.calendar_filter {
	position: relative;
	float: right;
	width: 25%;
}

.calendar_filter h2 {
	font-size: 122%;
	font-weight: bold;
}

.calendar_filter .ui-input-text{
	width: 40%;
	display: inline-block;
}

.calendar_filter input{
	font-size: 12px;
	padding: 0;
	height: 35px;
	width: 100px;
}


.calendar_filter .ui-btn{
	width: 40%;
	display: inline-block;
	color: #ECECEC;
	
	font-size: 11px;
} 

.calendar_filter .ui-btn.apply{
	background-color: #94C01F;
}
.calendar_filter .ui-btn.clear{
	background-color: red;
	float: right;
	margin-right: 27px;
}