<div data-role="page" id="customerEditBodyshape" class="bgBody">
		<div data-role="content" data-theme="b" style="background:none !important; border:none;">
			<div class="content-wrapper">				
				<div class="container_12">
					<div class="grid_10 prefix_1 suffix_1 bodyshapelis" data-bind="with: bodyshapeVM">
						<h1 class="grid_12" style="margin-top:10px !important;">Shoulders</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeShouldersList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList"  data-bind="css: { 'selected': $parent.bodyshapeShoulders().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeShoulders,  css: { 'selected': $parent.bodyshapeShoulders().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Neck Height</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeNeckHeightList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeNeckHeight().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeNeckHeight,  css: { 'selected': $parent.bodyshapeNeckHeight().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Standing stance</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeStandingList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeStanding().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeStanding,  css: { 'selected': $parent.bodyshapeStanding().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Leg stance</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeLegList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeLeg().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeLeg,  css: { 'selected': $parent.bodyshapeLeg().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Thigh stance</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeThighList"> 
							<div data-bind="visible: id != 0" class="grid_3">	
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeThigh().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeThigh,  css: { 'selected': $parent.bodyshapeThigh().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Arms silhouette</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeArmsList"> 
							<div data-bind="visible: id != 0" class="grid_3">
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeArms().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeArms,  css: { 'selected': $parent.bodyshapeArms().id === $data.id }" /> 
                                    <div data-bind="text: title"></div> 
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Front chest silhouette</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeFrontList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeFront().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeFront,  css: { 'selected': $parent.bodyshapeFront().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Stomach silhouette</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeStomachList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeStomach().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeStomach,  css: { 'selected': $parent.bodyshapeStomach().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<h1 class="grid_12">Back silhouette</h1>
						<div class="grid_12" data-bind="foreach: bodyshapeBackList"> 
							<div data-bind="visible: id != 0" class="grid_3">							
								<div class="imageList" data-bind="css: { 'selected': $parent.bodyshapeBack().id === $data.id }">
									<img  data-bind="attr:{src: bodyshapeImage}, click: $parent.bodyshapeBack,  css: { 'selected': $parent.bodyshapeBack().id === $data.id }" />  
									<div data-bind="text: title"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>			
				</div>
		</div><!-- /content -->
</div>
