<div data-role="page" id="customerFittingSearch" class="bgBody">
    <h1>Search Customer's Fittings</h1>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="grid_12 listcustnew" data-bind="with: custSelectVM">
                    <div class="grid_8 suffix_4">
                        <h3>Search for customers to view his available fittings</h3>
                        <input type="text" value="search for existing customer" data-bind="value: customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer" onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';" />
                        <span style="font-size:11px; display:block; margin-top:-6px;">Type at least three letters to view results</span> </div>
                    <div class="cb"></div>
                    <ul class="alllistsview" data-role="listview" data-bind="foreach: customersAutocompleteList" style="padding-bottom:90px">
                        <li data-bind="click: $parent.selectedCustomer">
                            <div class="grid_4 capitalme"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
                            <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
                            <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
                            <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_1"><a data-bind="click: function(){posChangePage('#fittingList');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Fitting List</span></a></div>
        </div>
    </div>
</div>
