<div data-role="page" id="editCustomer" class="bgBody">
		<div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false">
			<div data-role="fieldcontain" style="margin:3px auto; width:270px; border-bottom:none;" >
				<input type="search" name="search-mini" id="search-mini" placeholder="Search" data-theme="c" data-mini="true" />           
			</div>
				<div data-role="controlgroup" class="ui-btn-right" data-type="horizontal" >
					<a href="" data-bind="click: function(){posChangePage('#index');}" data-role="button" data-icon="home" data-iconpos="notext">Home</a> 
					<a href="" data-bind="click: function(){posChangePage('#customers');}" data-role="button" data-icon="view-customers" data-iconpos="notext">Customers</a> 
					<a href="" data-bind="click: function(){posChangePage('#add_order');}" data-role="button" data-icon="add-order" data-iconpos="notext">Add Order</a> 
					<a href="" data-bind="click: function(){posChangePage('#calendar');}" data-role="button" data-icon="delete" data-iconpos="notext">Calendar</a> 
					<a href="" data-bind="click: function(){posChangePage('#notifications');}" data-role="button" data-icon="delete" data-iconpos="notext">Notifications</a> 
					<a href="" data-bind="click: function(){posChangePage('#settings');}" data-rel="dialog" data-transition="pop" data-role="button" data-icon="gear" data-iconpos="notext">Settings</a> 
				</div><!-- /navbar -->
		</div><!-- /header -->

		<div data-role="content" data-theme="a" style="background:none !important; border:none;">
			<img class="menuTrigger" src="http://shirt-tailor.net/thepos/appimg/germanicosBtnRight.png">
			
			<div class="content-wrapper">
				<div class="container_12"> 
					
					<div class="grid_12">
						<a href="#" data-role="button" data-bind="click: updateCustomer" data-icon="delete">Update</a>
						<a href="#" data-role="button" data-bind="click: cancelCustomer" data-icon="delete">Delete</a>
					</div>
					sdfdsfsdfsdf
					<div class="clear"></div>
					<div data-bind="with: selected_item">
						<div class="grid_12"> 
							<label for="customer_first_name">First Name:</label>
							<input type="text" name="customer_first_name" data-bind="value: customer_first_name" value=""  />
							<label for="customer_last_name">Last Name:</label>
							<input type="text" name="customer_last_name" data-bind="value: customer_last_name" value=""  />
							<label for="customer_occupation">Occupation:</label>
							<input type="text" name="customer_occupation" data-bind="value: customer_occupation" value=""  />
							<label for="customer_company_name">Company Name:</label>
							<input type="text" name="customer_company_name" data-bind="value: customer_company_name" value=""  />
	                                                
							<fieldset data-role="controlgroup" data-type="horizontal">
									<legend>Date of Birth:</legend>

									<label for="DOB_day">Day</label>
									<select name="DOB_day" id="DOB_day" data-bind="options: $parent.days, value: DOB_day, optionsCaption: 'Day'">
									</select>
									
									<label for="DOB_month">Month</label>
									<select name="DOB_month" id="DOB_month" data-bind="options: $parent.months, optionsText: 'name', optionsValue: 'id' , value: DOB_month, optionsCaption: 'Month'">
									</select>

									<label for="DOB_year">Year</label>
									<select name="DOB_year" id="DOB_year" data-bind="options: $parent.years, value: DOB_year, optionsCaption: 'Year'">
									</select>                                                        
							</fieldset>
							
							<fieldset data-role="controlgroup" data-type="horizontal">
								<legend>Gender:</legend>
								<input type="radio" name="gender_male" id="gender_male" value="0" checked="checked" data-bind="checked: customer_gender"/>
								<label for="gender_male">Male</label>

								<input type="radio" name="gender_female" id="gender_female" value="1" data-bind="checked: customer_gender" />
								<label for="gender_female">Female</label>
							</fieldset>
							
							<br/>
							<div class="clear"><strong>CONTACT DETAILS</strong></div>
							<br/>
							
							<fieldset data-role="controlgroup" data-type="horizontal">
								<legend>Location</legend>
								<label for="customer_country">Country</label>
								<select name="customer_country" id="customer_country" data-bind="options         : $parent.countries,
								                                                                 value           : customer_country,
								                                                                 optionsValue    : 'locations_id',
								                                                                 optionsText     : 'location_name',
								                                                                 optionsCaption  : 'Country'">
								</select>
								
								<label for="customer_state">State</label>
								<select name="customer_state" id="customer_state" data-bind="options         : $parent.states().filter(el=>el.parent_location_id == customer_country()),
								                                                             value           : customer_state,
								                                                             optionsValue    : 'locations_id',
								                                                             optionsText     : 'location_name',
								                                                             optionsCaption  : 'State'">
								</select>   
								
								<label for="customer_city">City</label>
								<select name="customer_city" id="customer_city" data-bind="options         : $parent.cities().filter(el=>el.parent_location_id == customer_state()),
								                                                           value           : customer_city,
								                                                           optionsValue    : 'locations_id',
								                                                           optionsText     : 'location_name',
								                                                           optionsCaption  : 'City'">
								</select>   
							</fieldset>
	                                                
							<label for="customer_address1">Address Line 1:</label>
							<input type="text" name="customer_address1" data-bind="value: customer_address1" value=""  />
							<label for="customer_address2">Address Line 2:</label>
							<input type="text" name="customer_address2" data-bind="value: customer_address2" value=""  />
							<label for="customer_postal_code">Post Code:</label>
							<input type="text" name="customer_postal_code" data-bind="value: customer_postal_code" value=""  />
							<label for="customer_mobile_phone">Mobile Phone Number:</label>
							<input type="text" name="customer_mobile_phone" data-bind="value: customer_mobile_phone" value=""  />
							<label for="customer_landline_phone">Landline Number:</label>
							<input type="text" name="customer_landline_phone" data-bind="value: customer_landline_phone" value=""  />
							<label for="customer_email">E-mail:</label>
							<input type="text" name="customer_email" data-bind="value: customer_email" value=""  />
	                                                
							<fieldset data-role="controlgroup">
									<legend>Subscribe to our newsletter:</legend>
									<input type="checkbox" name="subscribe" id="subscribe" class="custom" data-bind="checked: customer_email_subscription"/>
									<label for="subscribe">I agree</label>
							 </fieldset>
							
							<br/>
								<div class="clear"><strong>REFERRAL</strong></div>
							<br/>
	                                                
							<label for="customer_refered_by">How did you hear about Germanicos?</label>
							<input type="text" name="customer_refered_by" data-bind="value: customer_refered_by" value="" />
						</div> 
					</div>
			
				</div>
			</div>
			
		</div><!-- /content -->
	</div>
