<div data-role="page" id="errorReport" class="bgBody">
    <h1 data-bind="text: error_title"></h1>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12">
				<div id="PrintLabelsEmailDialog" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
					<div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
						<div style="margin:1%;padding:10px 0px;"> 
							<span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Enter the email address where the labels PDF will be sent to </span> 
							<input type="text" id="ErrorEmail" name="ErrorEmail"  data-theme="a"/>
						</div>
						<div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
							<div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('PrintLabelsEmailDialog').style.display = 'none'; }">Cancel</a> </div>
							<div class="grid_2 stepsmenud"> <a data-bind="click: function(){ sendReport(); document.getElementById('PrintLabelsEmailDialog').style.display = 'none';}">Confirm</a> </div>
						</div>
					</div>
				</div>
                <div class="grid_12">
                    <div class="grid_4">
                        <ul class="custdisplay">
                            <li><span class="firstpart">Category: </span><span data-bind="text: errorCatgory.categorieName"></span></li>
                            <li><span class="firstpart">Creation Date: </span><span data-bind="text: error_date"></span></li>
                            <li data-bind="visible: error_priority"><span class="firstpart">Priority: </span><span data-bind="text: error_priority"></span></li>
                            <li data-bind="visible: users.selectedUsers().length > 0"><span class="firstpart">Linked Users: </span><span data-bind="foreach: users.selectedUsers" class="namesp"><span data-bind="text: first_name"></span><span data-bind="text: last_name"></span></span></li>
                            <li data-bind="visible: customers.selectedCustomer().customer_first_name"><span class="firstpart">Customer: </span><span data-bind="text: customers.selectedCustomer().customer_first_name"></span> <span data-bind="text: customers.selectedCustomer().customer_last_name"></span></li>
                            <li data-bind="visible: error_link_order"><span class="firstpart">Order: </span><span data-bind="text: order_text"><span data-bind="text: ordered_date"></span></span></li>
                            <li data-bind="visible: error_linked_garment"><span class="firstpart">Garment: </span><span data-bind="text:garment_text"></span></li>
                            <li data-bind="visible: addDeductionList"><span class="firstpart">Deduction: Yes</span><span>Amount: </span><span data-bind="text:deductionAmount"></span></li>
                            <li><span class="firstpart">Created by: </span><span data-bind="text: error_report_by"></span></li>
                            <li>
								<div><span class="firstpart">Status: </span><span data-bind="text: error_status"></span><a data-bind="click:function(){isChangingStatus(true);}, visible:!isChangingStatus()">Change Status</a></div>
								<div data-bind="visible:isChangingStatus()"><select name="ErrorStatus" id="ErrorStatus" data-mini="true" data-bind="visible:isChangingStatus(), options: status, value: newStatus, optionsText: 'status_text', optionsCaption: 'Select New Status' "></select></div>
								<a data-bind="click:function(){changeStatus()}, visible:isChangingStatus()">Confirm</a>
							</li>
							<div class="grid_12">
								<div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="visible: showDeduction() && (authCtrl.userInfo.user_id == 1 || authCtrl.userInfo.user_id == 13 || authCtrl.userInfo.user_id == 24), css: { 'enabled': addDeductionList() == true }, click: function(){addDeductionList(!addDeductionList());} " >Add To deduction List </div>
							</div>
							<div class="grid_12">
								<div class="mycheck mychecknews" style="margin:3px 0 0 10px;" data-bind="visible: showQC() && (authCtrl.userInfo.user_id == 1 || authCtrl.userInfo.user_id == 13 || authCtrl.userInfo.user_id == 24), css: { 'enabled': QV() == true }, click: function(){QV(!QV());} " >Add To QV List </div>
							</div>
							<div class="grid_12">
								<div data-role="button" style="margin:3px 0 0 10px;" data-bind="click: function(){$('#ErrorEmail').val(authCtrl.userInfo.email);document.getElementById('PrintLabelsEmailDialog').style.display = 'block';} " >Send Report </div>
							</div>
                        </ul>
                    </div>
                    <div class="grid_8">
                        <p data-bind="html: error_desc" style="margin: 0px; padding: 3px 10px 10px; line-height: 20px; letter-spacing: 0.023em; font-size: 15px;"></p>
                    </div>
                </div>
                
                <div class="clear"></div>
                <ul data-bind="foreach: media" class="errrogal">
                    <li data-bind="visible: media_type == '1' && error_reply_id == '0'"> <!--<a href="#popupBasicos" data-rel="popup">--> 
                        <img data-bind="attr: {src: media_path}, click: function(){ErrorSlideShow.selectImageByPath(media_path);posChangePage('#errorSlideShow');}"><!--</a>--> 
						<span data-bind="visible:$data.tag().length > 0">Tags</span>
                    </li>
                    <li data-bind="visible: media_type == '2' && error_reply_id == '0'">
                        <video width="250" controls>
                            <source data-bind="attr: {src: media_path}" type="video/mp4">
                            <source data-bind="attr: {src: media_path}" type="video/ogg">
                            Your browser does not support HTML5 video. </video>
						<span data-bind="visible:$data.tag().length > 0, click: function(){ErrorSlideShow.selectVideoByPath(media_path);posChangePage('#errorSlideShow');}">Tags</span>
                    </li>
                </ul>
                <div class="clear"></div>
                <hr>
                <h2 data-bind="visible: replies.length > 0">Replies <span class="smallerhi">(latest reply on bottom)</span></h2>
                <ul data-bind="foreach: replies">
                    <li class="myreplyt"><span>Reply by: <span data-bind="text: user_first_name" class="myreplytn"></span><span data-bind="text: user_last_name" class="myreplytn"></span> on: <span data-bind="text: reply_date" class="myreplytn"></span></span>
                        <p data-bind="html: message"></p>
                        <ul data-bind="foreach: medias" class="errrogal">
                            <li data-bind="visible: media_type == '1'"> <!--<a href="#popupBasicos" data-rel="popup">--> 
                                <img width="250" data-bind="attr: {src: media_path}, click: function(){ErrorSlideShow.selectImageByPath(media_path);posChangePage('#errorSlideShow');}"><!--</a>--> 
								<span data-bind="visible:$data.tag().length > 0">Tags</span>
                            </li>
                            <li data-bind="visible: media_type == '2'">
                                <video width="250" controls>
                                    <source data-bind="attr: {src: media_path}" type="video/mp4">
                                    <source data-bind="attr: {src: media_path}" type="video/ogg">
                                    Your browser does not support HTML5 video. </video>
								<span data-bind="text:$data.tag().length > 0, click: function(){ErrorSlideShow.selectVideoByPath(media_path);posChangePage('#errorSlideShow');}">Tags</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </li>
                </ul>
                <h2>Add Your Reply</h2>
                <div class="grid_12" style="margin:0px 0px 180px">
                    <div class="grid_12">
                        <label for="replyMessage" style="width:10% !important; display:none;">Reply<span class="mandatoris">*</span>:</label>
                        <textarea name="replyMessage" id="replyMessage" data-bind="value: ErrorReplyVM.message" value="" placeholder="Write your message here"  class="myordernote" style="width:100% !important; background-color:#ececec; min-height:120px; margin:0px auto;"></textarea>
                    </div>
                    
                    <!--<span>Message</span><br/>
        <textarea name="replyMessage" id="replyMessage" data-bind="value: ErrorReplyVM.message" value="" placeholder="Write your message here"  class="myordernote"></textarea>-->
                    <div class="grid_3 suffix_2 prefix_2">
                        <button data-bind="click: addImage">Add an Image</button>
                    </div>
                    <div class="grid_3">
                        <button data-bind="click: addVideo">Add a Video</button>
                    </div>
                    <output id="ErrorAddMedia" data-bind="foreach: errorImagesAdd.getMediaPreview()">
                        <div class="img-wrap" data-bind="attr:{id: $index()}"> <span class="close" data-bind="click: function(){$parent.errorImagesAdd.removeMedia($index());}" >X</span>
                            <div class="image_panel"> <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: $data}, click:function(data,evt){$parent.dialog($parent.errorImagesAdd,evt, $index(), $index());}"></img>
                                <div class="mapper" data-bind="attr:{id: $parentContext.$data.errorImagesAdd.mapperID($index())}"> </div>
                                <div id="planetmap" class="planetmap" data-bind="foreach: $parentContext.$data.errorImagesAdd.getTags($index())">
                                    <div class="arrow" data-bind="style:{width: $root.errorImagesAdd.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $root.errorImagesAdd.getTagAttrib('left%', $parentContext.$index(), $index()), top: $root.errorImagesAdd.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
                                    <div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.errorImagesAdd.getTagAttrib('top%', $parentContext.$index(), $index())}">
                                        <div class="tagged_title" style="display:block;"> <span data-bind="text: $root.errorImagesAdd.getTagAttrib('text', $parentContext.$index(), $index())"></span> </div>
                                        <div class="tagged_box" style="width:35;height:35;top:-20;display:block;"> <img class="openDialog" data-bind="click: function(){$root.errorImagesAdd.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </output>
                    <output style="width:100%" data-bind="foreach: errorVideosAdd.getMediaPreview()">
                        <video width="500" controls>
                            <source data-bind="attr: {src: $data}" type="video/mp4">
                            <source data-bind="attr: {src: $data}" type="video/ogg">
                            Your browser does not support HTML5 video. </video>
                        <div data-bind="click:function(){$parent.errorVideosAdd.removeMedia($index());}" data-role="button">Delete</div>
                        <textarea  data-bind="attr: {id:'note'+$index()}" style="box-shadow: none; border: medium none; width:80%; min-height:60px; float:left;" ></textarea>
                        <a data-bind="click: function(){$parent.errorVideosAdd.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');}" class="mykoubakiss">Add Comment</a>
                        <div style="clear:both;"></div>
                        <ul data-bind="foreach: $parent.errorVideosAdd.getTags($index())" class="mycomentlist">
                            <li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><span data-bind="html: $data" class="commint"></span></td>
                                        <td width="35"><a data-bind="click: function(){$parentContext.$parent.errorVideosAdd.removeTag($parentContext.$index(), $index());}" class="kleisemee">x</a></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </output>
                    <div class="clear"></div>
                    <hr style="margin-bottom:120px !important;">
                </div>
            </div>
        </div>
        <!--div><a href="#" data-role="button" data-bind="click: routeToEditError">Edit Error</a> </div--> 
		<!------------------------------------------------------------------------------------------------------------->
		<div id="popup_box" style="width: 100%;">
			<div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" data-bind="click:function(){$root.closeDialog();}">Close</a>
				<p class="media_pops"> <span>Add your comments</span>
					<textarea class="title"></textarea>
					<input type="button" value="Add Comment" data-mini="true" data-bind="click:function(){$root.addTag();}" />
				</p>
				<div class="clear"></div>
			</div>
		</div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#errorList');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Error List</span></a></div>
            <div class="grid_2"><a data-bind="visible: errorImagesAdd.hasMedia() || errorVideosAdd.hasMedia() || ErrorReplyVM.message() ,click: addReply" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit your</span><span class="btn-letter"> Error Reply</span></a></div>
            <div class="grid_2"><a data-bind="visible: (!errorImagesAdd.hasMedia() && !errorVideosAdd.hasMedia() && !ErrorReplyVM.message()) && (QV() || addDeductionList() || newStatus()) ,click: function(){changeStatus()}" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit your</span><span class="btn-letter"> Changes</span></a></div>
        </div>
    </div>
	
	<style type="text/css" >
		
		h2 { margin:0.8em 0 0.3em -2px !important;}
		#popup_box {
			left: 0;
			position: fixed;
			top: 0;
			z-index: 999; 
			_position:absolute; /* hack for internet explorer 6 */  
		}		
		a{  
			cursor: pointer;  
			text-decoration:none;  
		}
		div.planetmap div{
			display:block;
			position:absolute;
		}
		div.image_panel{
			float:left;
			width:480px;
			position:relative;
		}
		div.image_panel img{
			left:0;top:-102px;
			max-width: 480px;
			overflow: hidden;
		}
		div.form_panel .row{
			clear:both;
			margin-top:20px;
		}

		input[type='button']{
			background: none repeat scroll 0 0 #2769C4;
			border: 1px solid #CFCFCF;
			color: #FFFFFF;
			font-weight: bold;
			height: 30px;
			padding: 5px;
		}
		.rightfivepad { padding-right:0.3em}
		.displaycustomerres {
		background: #ececec none repeat scroll 0 0;
		border-radius: 0.3125em;
		color: #333;
		font-weight: bold;
		margin: 0.5em 0;
		padding: 11px 10px;
		position: relative;
		}
		.deleteusers {
			background: red none repeat scroll 0 0;
			border-radius: 0.3125em;
			color: #fefefe;
			font-weight: 700;
			padding: 4px 3px;
			position: absolute;
			right: 10px;
			text-align: center;
			text-shadow: none;
			top: 7px;
			width: 30px;
		}
		.errrogal li { position:relative;}
		
	</style>
</div>
</div>