<div data-role="page" id="fittingImages" class="bgBody">
<div data-bind="template: { name: 'headerTemplate'}"></div>	
<div data-role="content" data-theme="c" style="background:none !important; border:none;" data-bind="with: customersVMmirror">
  <div class="content-wrapper">
    <div class="container_12">
      <div class="grid_12">
        <div class="grid_5">
        
			<div class="bigladeling evenbigger tenmargbot grid_12" >
          		<span class="orderim"></span> 
	            <span class="firstpart">Fitting 1</span> 
                <span class="bigpart" data-bind="with: selected_item"> 
                	<span data-bind="text: customer_first_name"></span> 
                    <span>&nbsp;</span> 
                    <span data-bind="text: customer_last_name"></span> 
				</span> 
	            <div data-bind="with: selected_ordergarment">
	    	    	<span class="thirdpart"><span data-bind="text: garment_name"></span><span>&nbsp; / &nbsp;</span> <span>Fabric:&nbsp;</span><span data-bind="text: fabrics[0].fabric_id"></span> </span> 
				</div>
			</div>

        </div>
        <ul class="grid_7 fittingmenu">
          <li class="ftailor"><a href="#assignTailor"><span>ASSIGN TAILOR</span></a></li>
          <li class="fmeasurement"><a href="#viewMeasurements"><span>VIEW MEASUREMENTS</span></a></li>
          <li class="fvideos"><a href="#fittingVideo"><span>UPLOAD VIDEO URL</span></a></li>

          <li class="fmedia"><a href="#fittingBackImageNotes"><span>NOTES BACK IMAGE</span></a></li>
          <li class="fmedia"><a href="#fittingSideImageNotes"><span>NOTES SIDE IMAGE</span></a></li>
          <li class="fmedia"><a href="#fittingFrontImageNotes"><span>NOTES FRONT IMAGE</span></a></li>
          
          <li class="fmedia"><a href="#fittingBackImage"><span>UPLOAD BACK IMAGE</span></a></li>
          <li class="fmedia"><a href="#fittingSideImage"><span>UPLOAD SIDE IMAGE</span></a></li>
          <li class="fmedia active"><a href="#fittingFrontImage"><span>UPLOAD FRONT IMAGE</span></a></li>
        </ul>
        
        
        <div class="grid_12 fortymargintop"><!-- auto to DIV EXW KANEI COPY PASTE APO TO orderItemMedia.html-->
          <div class="grid_3 prefix_5 suffix_4 fortymargintop">
            <input id="files" type="file" accept="image/*" />
            <div id="custMediaBtn" data-role="button">Upload media</div>
          </div>
          
		  	<div id="popup_box" style="width: 100%;"> 
				<div class="form_panel" id="form_panel" name="form_panel">
                	<a id="popupBoxClose" class="close_popups" onclick="javascript:closeDialog();">Close</a>
                    <p class="media_pops">Type your comments
                    	<input type="text" class="title"/>
                        <input type="button" value="Add Tag" data-mini="true" onclick="addTag()" />
					</p>
				</div> 
			</div>
          <!--
          <div id="popup_box" style='margin: auto; width: 354px;'>
            <div class='form_panel'>
              <div class='row'>
                <div class='label'>Text</div>
                <div class='field'>
                  <input type='text' class='title' />
                </div>
              </div>
              <div class='row'>
				<div class='label'></div>
                <div class='field'>
                  <input type='button' value='Add Tag' onclick='addTag()' />
                </div>
              </div>
              <a id="popupBoxClose2">Close</a> 
             </div>
          </div>
          -->
          <output id="list"></output>
          <script type="text/javascript" src="scripts/libs/jquery.min.js"></script> 
          <script type="text/javascript" src="scripts/libs/jquery-ui.min.js"></script> 
          <!--    <script type="text/javascript" src="scripts/binaryajax.js"></script>
                <script type="text/javascript" src="scripts/exif.js"></script>
                -->
          <style type="text/css" >
			   
					#popup_box { 
						position:fixed;  
						_position:absolute; /* hack for internet explorer 6 */  
						right: 0px;
						top: 60px;
						z-index:1000; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
						margin-left: 15px;  
					}		
					
					a{  
					cursor: pointer;  
					text-decoration:none;  
					} 
					
					/* This is for the positioning of the Close Link 
					#popupBoxClose2 {
						font-size:20px;  
						line-height:15px;  
						right:5px;  
						top:5px;  
						position:absolute;  
						color:#6fa5e2;  
						font-weight:500;  	
					}					
					
                    div.mapper{
                        border:2px solid #EEE;
                        width:35px;
                        height:35px;
                        min-width:35px;
                        min-height:35px;
                        z-index:1000;
                        position:absolute;
                        top:0;
                        display:none;
                    }*/
        
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
        
                    div.image_panel{
                        float:left;
                        width:510px;
                        position:relative;
                    }
                    
                    div.image_panel img{
                        left:0;top:-102px;
                        max-width: 510px;
                        overflow: hidden;
                    }
        
        
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
        
					
                    div.arrow{
                        background: none repeat scroll 0 0 #FF0000;
                        color: #FF0000;
                        z-index:500;
                    }					
                
                    input[type='button']{
                        background: none repeat scroll 0 0 #2769C4;
                        border: 1px solid #CFCFCF;
                        color: #FFFFFF;
                        font-weight: bold;
                        height: 30px;
                        padding: 5px;
                    }
        
                </style>
          <script>
            $(document).ready(function() {
                
				 myglobal = "";
				 myglobal2 = "";
				 global_relative_left = 0;
				 global_relative_right = 0;
				
				/* 
				$('#popupBoxClose2').click( function() {	
console.log("CLOSE clicked");
					$("div.mapper").hide();
                	$("input.title").val('');
                	$("div.form_panel").hide();
				});
				*/
			});	
			
				// WHEN CLICKING ON IMAGE
                $("img.imageMapFitting").live("click",function(e){	
					if( document.getElementById("form_panel").style.display != "block"){
						myglobal = e.target.id.substr(9);
						var image_left = $(this).offset().left;
						var click_left = e.pageX;
						var left_distance = click_left - image_left;
						var image_top = $(this).offset().top;
						var click_top = e.pageY;
						var top_distance = click_top - image_top;
						var mapper_width = $('#mapper_' + myglobal).width();
						//var imagemap_width = $('img.imageMapFitting').width();
						var imagemap_width = $(this).width();
						var mapper_height = $('#mapper_' + myglobal).height();
						//var imagemap_height = $('img.imageMapFitting').height();
						var imagemap_height = $(this).height();
						var relative_left = (left_distance/imagemap_width)*100;
						var relative_top = (top_distance/imagemap_height)*100;
						
						// parallax correction caused by margins and paddings					
						center_x = imagemap_width/2;
						center_y = imagemap_height/2;
						distance_x_from_center = center_x - left_distance;
						distance_y_from_center = center_y - top_distance;
						offcenterleft = (15/imagemap_width)*(distance_x_from_center/imagemap_width)*100;
						offcentertop = (15/imagemap_height)*(distance_y_from_center/imagemap_height)*100;
						if(offcenterleft < 0){
							offcenterleft = offcenterleft/2;
						}
						relative_left = relative_left + offcenterleft;
						relative_top = relative_top + 2*offcentertop;
						// parallax correction end
						
						var theid = $(this).attr("id");
						var n = theid.indexOf("_"); 
						var idnum = theid.substr(n + 1);
						myglobal2 = "#mapper_" + idnum;
						global_relative_left = relative_left;
						global_relative_top = relative_top;
						
						$('div.mapper').hide();
						$(myglobal2).css("left",relative_left + '%')
						.css("top",relative_top + '%')
						.css("width","35px")
						.css("height","35px") 
						.show();
						
						orderItem.openDialog();
					 //   $("div.mapper").resizable({ containment: "parent" });
					 //   $("div.mapper").draggable({ containment: "parent" });
					}
                });


            $(".taggedFitting").live("click",function(e){
                $(this).find(".tagged_box").html("<img style='width: 35px; height:35px; margin-top: -3px; margin-left: 450px; padding: 0px;' src='gfx/del.png' class='openDialog' value='Delete' onclick='deleteFittingTag(this, " + myglobal + ", " + myglobal + ")' />");
                var img_scope_top = $("img.imageMapFitting").offset().top + $("img.imageMapFitting").height() - $(this).find(".tagged_box").height();
                var img_scope_left = $("img.imageMapFitting").offset().left + $("img.imageMapFitting").width() - $(this).find(".tagged_box").width();
            });

			var closeDialog = function(){
				$("div.mapper").hide();
                $("input.title").val('');
                $("div.form_panel").hide();
			};

            var addTag = function(){
				var text = $("input.title").val();
				if(text.length > 0){
					var pos_width = $(myglobal2).width();			
					var pos_height = $(myglobal2).height();
					var relative_width = global_relative_left;
					var relative_height = global_relative_top;
					var fromleft = 100 + relative_width;
					var arrowwidth = 105 - relative_width;
				
					$('#planetmap_' + myglobal).append('<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  relative_width + '%;top:' + relative_height + '%;"></div><div class="taggedFitting"  style="width:'+pos_width+';height:'+
						pos_height+';left:105%;top:'+relative_height+'%;" ><div class="tagged_title" style="display:block;" >'+
						$("input.title").val()+'</div><div class="tagged_box" style="width:'+pos_width+';height:'+
						pos_height+';top:'+(pos_height-55)+';display:block;" ><img style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-left: 450px; margin-top: -3px; padding: 0px;" src="http://shirt-tailor.net/thepos/appimg/del.png" class="openDialog" value="Delete" onclick="deleteFittingTag(this, ' +  relative_width + ', ' + relative_height + ')" /></div></div>');
					
					tmp = localStorage.getItem('fittingtags');
					tmp = (tmp === null) ? [] : JSON.parse(tmp);
					tmp.push({image_id:myglobal,left:relative_width,top:relative_height,text:text});
					localStorage.setItem('fittingtags', JSON.stringify(tmp));
	
					$("div.mapper").hide();
					$("input.title").val('');
					$("div.form_panel").hide();
				}
            };

            var openDialog = function(){
                $("div.form_panel").fadeIn("slow");
            };

            var deleteFittingTag = function(obj, left, top){
				$(obj).parent().parent().prev().remove();
                $(obj).parent().parent().remove();
				// REFRESHING LOCALSTORAGE TAGS						
               	thetags = localStorage.getItem('fittingtags');
                thetags = (thetags === null) ? [] : JSON.parse(thetags);
	            for (var b=thetags.length - 1; b >= 0; b--){	                    		
	            	if(thetags[b].left == left && thetags[b].top == top){
                   		thetags.splice(b, 1);
                   	}	
                }
				// SAVING LOCALSTORAGE TAGS
                tmp = [];
                for(var x = 0; x < thetags.length; x++){
	               	tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
	  			}
	   			localStorage.removeItem('fittingtags');
	   			localStorage.setItem('fittingtags', JSON.stringify(tmp));	
            };


 
        </script> 
        <script> 

			function showImages() {				
				var imagesDiv = document.getElementById("imagesdiv");
				var videosDiv = document.getElementById("videosdiv");
				imagesDiv.style.display = "block";
				videosDiv.style.display = "none";
			}
			function showVideos() {
				var imagesDiv = document.getElementById("imagesdiv");
				var videosDiv = document.getElementById("videosdiv");
				imagesDiv.style.display = "none";
				videosDiv.style.display = "block";
			}

		
					function removeFittingPic(div_id){
						setTimeout(function(){
							if( confirm('Do you want to delete this image?') ){
								document.getElementById(div_id).remove();
								// REFRESHING LOCALSTORAGE PHOTOS						
								thephotos = localStorage.getItem('fittingphotos');
								thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
								for (var a=thephotos.length - 1; a >= 0; a--){	                    		
									if(thephotos[a].image_id == div_id){
										thephotos.splice(a, 1);
									}	
								}
								// REFRESHING LOCALSTORAGE TAGS						
								thetags = localStorage.getItem('fittingtags');
								thetags = (thetags === null) ? [] : JSON.parse(thetags);
								for (var b=thetags.length - 1; b >= 0; b--){	                    		
									if(thetags[b].image_id == div_id){
										thetags.splice(b, 1);
									}	
								}						
								// SAVING LOCALSTORAGE PHOTOS 
								var tmp = [];
								for(var x = 0; x < thephotos.length; x++){
									tmp.push({customer_id:thephotos[x].customer_id,image_id:thephotos[x].image_id,picture:thephotos[x].picture,thumbnail:thephotos[x].thumbnail});
								}
								localStorage.removeItem('fittingphotos');
								localStorage.setItem('fittingphotos', JSON.stringify(tmp));				
								// SAVING LOCALSTORAGE TAGS
								tmp = [];
								for(var x = 0; x < thetags.length; x++){
									tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
								}
								localStorage.removeItem('fittingtags');
								localStorage.setItem('fittingtags', JSON.stringify(tmp));
							}
						},0);		
					}
					
					function appendItemFittingImage(topost, basedata) { 
						var endpoint = 'upload_customer_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						try{
							var customerString = orderItem.custSelectVM.selectedCustomer().server_id;
						}catch(e){
							var customerString = "0";
						}
						request = $.ajax({
					    	type: 'POST',
					        url: ServerEndPoint,
					        dataType: 'json',
					        async: true,
					        data:{
					            salesman: JSON.stringify(eval("(" + salesmanString + ")")),
								customer_id: customerString,
					            data: basedata2
					        },
					        success: function(dataS) {
								var spinner = document.getElementById('loading_jp');
								spinner.style.display = "none";								
								var data = dataS;
								var image_id = data['id'];
								var image = data['image'];
								tmp = localStorage.getItem('fittingphotos');
	        		   			tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   			var customer_id = orderItem.custSelectVM.selectedCustomer().server_id;
        						tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           					localStorage.setItem('fittingphotos', JSON.stringify(tmp));
								document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript:removeFittingPic(', image_id ,');">&times;</span><div class="image_panel"><img src="', basedata,'" class="imageMapFitting" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
					        }
						});	           			
					}		
					
							    
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					if (window.FileReader) {
				    	function handleFileSelect(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									try{
				             			//resizemyImage(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 512, 1536, "fitting.htm", "");
										 t = null;
										 e = null;
				             		}catch(e1){
				             			customAlert('Error occured');
				             			appendItem(e.target.result, e.target.result);
				             		//	document.getElementById('list').innerHTML += ['<div class="img-wrap"><span class="close">&times;</span><img src="', e.target.result, '" width="50"/></div>'].join('');	
				             		}
				            	};
				        	})(f);
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}

				    photos = localStorage.getItem('fittingphotos');
					photos = (photos === null) ? [] : JSON.parse(photos);
					thetags = localStorage.getItem('fittingtags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					
					if(localStorage.getItem('fittingphotos') != null){
					    if(localStorage.getItem('fittingphotos').length > 0){
						    for (var i=0, len=photos.length; i<len; i++){
						    	if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().server_id){
									var taghtml = ""
									for (var a=thetags.length - 1; a >= 0; a--){	                    		
										if(thetags[a].image_id == photos[i].image_id){	
												fromleft = 100 + thetags[a].left;
												arrowwidth = 105 - thetags[a].left;
												taghtml += '<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  thetags[a].left + '%;top:' + thetags[a].top + '%;"></div>';										
												taghtml += '<div class="taggedFitting" style="width:35;height:35;left:105%;top:' + thetags[a].top + '%;">';
												taghtml += '<div class="tagged_title" style="display:block;">' + thetags[a].text + '</div>';
												taghtml += '<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">';
												taghtml += '<img class="openDialog" onclick="deleteFittingTag(this, ' + thetags[a].left + ', ' + thetags[a].top + ')" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 450px; padding: 0px;"></img>';
												taghtml += '</div></div>';
										}
									}
									
									document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', photos[i].image_id ,'"><span class="close" onclick="javascript:removeFittingPic(', photos[i].image_id ,');">&times;</span><div class="image_panel"><img src="', photos[i].thumbnail ,'" class="imageMapFitting" id="imagemap_', photos[i].image_id ,'"/><div class="mapper" id="mapper_', photos[i].image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', photos[i].image_id ,'"/></div><div class="planetmap" id="planetmap_', photos[i].image_id ,'">', taghtml, '</div></div></div>'].join('');
						    	}	
						 	}
						}  
				    }
				    document.getElementById('files').addEventListener('change', handleFileSelect, false);
			    </script> 
        </div>
      </div>
    </div>
    <div class="bigladeling left_position stepbigbuts">
      <a href="#orderInfo">
          <span class="prevstep"></span>
          <span class="firstpart">Back to</span>
          <span class="bigpart">Order</span>
      </a>
    </div>
    <div class="bigladeling right_position stepbigbuts" data-bind="with: $parent.FittingVM">
      <a data-bind="click: sync">
          <span class="nextstep"></span>
          <span class="firstpart">Submit your</span>
          <span class="bigpart">Fitting!</span>
      </a>
    </div>
  </div>
  <!-- /content --> 
</div>
</div>
