<div data-role="page" id="fittingView" class="bgBody">

    <style>
        .grid_16 div span.myuppertitle {
            color: black;
            display: inline-block;
            padding: 0 0 5px 10px;
            text-shadow: none;
            font-family: "Open Sans";
            text-transform: uppercase;
        }

        .topDiv h1 {
            color: black;

            font-size: 20px;
        }

        .topDiv h2 {
            color: black;
            font-weight: bolder;
            font-size: 23px;
        }

        span.simpleSpan {
            color: black;
        }
    </style>



    <div data-role="content" data-theme="a" class="panwapola">
        <div class="content-wrapper">
            <div class="container_12 myfitting" id="Test">
                <div>
                    <!-- END OF DIALOG -->

                    <!-- TOP div -->
                    <div class="container_16 topDiv">
                        <!-- row 1 -->
                        <div class="grid_4">
                            <h1 class="myuppertitle">Customer</h1>
                        </div>
                        <div class="grid_4">
                            <h1 class="myuppertitle">Garment</h1>
                        </div>
                        <div class="grid_2">
                            <h1 class="myuppertitle">Order date</h1>
                        </div>

                        <div class="clear"></div>
                        <!-- row 2 -->
                        <div class="grid_4">
                            <h2 class="myuppertitle" data-bind="text:Customer"></h2>
                        </div>
                        <div class="grid_4">
                            <h2 class="myuppertitle" data-bind="text:Garment"></h2>
                        </div>
                        <div class="grid_2">
                            <h2 class="myuppertitle" data-bind="text:orderDate"></h2>
                        </div>

                        <div class="clear"></div>

                        <!-- row 3 -->

                        <div class="grid_4">
                            <span class="myuppertitle simpleSpan">Order id</span>
                        </div>
                        <div class="grid_4">
                            <span class="myuppertitle simpleSpan" data-bind="text:orderID"></span>
                        </div>
                        <div class="grid_4">
                            <span class="myuppertitle simpleSpan">Tailor's Name</span>
                        </div>
                        <div class="grid_4">
                            <span class="myuppertitle simpleSpan" data-bind="text:Tailor"></span>
                        </div>


                    </div>


                    <!-- videos -->
                    <div class="inpickme">
                        <div class="grid_12 littleing biggerdown">
                            <output data-bind="foreach: videos">
                                <div class="grid_12">
                                    <div class="grid_6 myvideo-warp">
                                        <video controls class="myvideos">
                                            <source data-bind="attr: {src: path}" type="video/mp4">
                                            <source data-bind="attr: {src: path}" type="video/ogg"> Your browser does not support HTML5 video.
                                        </video>
                                    </div>
                                    <div class="grid_6 myvideo-comments">
                                        <div style="clear:both;"></div>
                                        <ul data-bind="foreach: tags" class="mycomentlist">
                                            <li>
                                                <span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            <span data-bind="html: $data" class="commint"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </output>


                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="inpickme">
                        <div data-bind="foreach:images">
                            <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: $data.path}, click: function(){$root.selectImage($data)}"
                            />
                        </div>
                    </div>
                    <div data-bind="if:selectedImage()">
                        <div class="image_panel grid_12">
                            <div class="grid_6 myvideo-warp">
                                <img id="imagemap" class="imageMap" width="480" data-bind="attr: {src: selectedImage().path}, click: function(){console.log(selectedImage());}"
                                />
                                <div class="mapperWrapper" data-bind="foreach: selectedImage().tags">
                                    <div class="mapper" data-bind="style: {left: ($data.left +'%'), top: ($data.top + '%')}" style="display:block;">
                                        <span data-bind="text:($index()+1)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_6 myvideo-comments">
                                <div style="clear:both;"></div>
                                <ul data-bind="foreach: selectedImage().tags" class="mycomentlist">
                                    <li>
                                        <span data-bind="text: ($index() + 1)" style="display:none;"></span>
                                        <table width="97%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <span data-bind="html: $data.text" class="commint"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>


                    <div class="inpickme">
                        <div class="grid_10 prefix_1 littleing biggerdown littleing biggerdown">
                            <h3 class="title_step">Other Information</h3>

                            <div class="grid_7">
                                <div data-role="fieldcontain" class="mytailors">
                                    <span class="finallabeling">Notes:</span>
                                    <span class="finallabeling" data-bind="text: TailorNotes"></span>
                                    <!--<select name="FittingTailor" id="tailor" class="ui-enabled" data-mini="true"
                                        data-bind="options: FittingTailors, value: FittingTailor, optionsText: 'last_name',
                                        optionsCaption: 'Select Tailor', enable: isCompleted() == false && isActive() == true">
                                    </select>-->


                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <!-- END OF DIALOG -->



                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 suffix_10">
                    <a data-bind="click: function(){ $root.backToLastStep() }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                        <span class="btn-small-letter">Back to</span>
                        <span class="btn-letter">Last Step </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- /content -->


    <style type="text/css">
        #popup_box {
            left: 0;
            position: fixed;
            top: 0;
            z-index: 999;
            _position: absolute;
            /* hack for internet explorer 6 */
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }

        div.planetmap div {
            display: block;
            position: absolute;
        }

        div.image_panel {
            float: left;
            width: 480px;
            position: relative;
        }

        div.image_panel img {
            left: 0;
            top: -102px;
            max-width: 480px;
            overflow: hidden;
        }

        div.form_panel .row {
            clear: both;
            margin-top: 20px;
        }

        div.arrow {
            background: none repeat scroll 0 0 #FF0000;
            color: #FF0000;
            z-index: 500;
        }

        .medium-text {
            font-size: 18px;
        }

        .big-text {
            font-size: 20px;
        }

        .giant-text {
            font-size: 24px;
        }

        .ultra-text {
            font-size: 30px;
        }

        .xultra-text {
            font-size: 42px;
        }

        .inline-div {
            float: left;
            padding-right: 50px;
        }

        .clearBoth {
            clear: both;
        }

        .img-wrapper {
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
        }

        .img-wrapper:hover {
            cursor: pointer;
        }

        .img-selected {
            border-width: 8px;
        }

        .numberCircle {
            border-radius: 100px;
            background: red;
            border: 2px solid #666;
            color: #666;
            text-align: center;
        }

        .selected-img {
            border-width: 3px;
            border-color: red;
        }

        .alertify-logs {
            position: fixed;
            top: 10px;
            z-index: 1;
        }

        .btn-row-bottom {
            position: absolute;
            bottom: 30px;
            right: 50px;
            float: right;
        }

        .notes-wrapper {
            float: right;
            width: 55%;
        }

        .background-div {
            background-color: rgb(228, 228, 227);
            border-radius: 5px;
            padding-bottom: 0;
        }

        .not_saved_icon {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 10px;
        }
    </style>
</div>