<div data-role="page" id="garmentsShirt" class="bgBody">
  <div data-bind="template: { name: 'stepstemplate'}"></div>
  <div data-role="content" data-theme="a" class="panwapola">
    <div class="content-wrapper">
      <div class="container_16">
        <div data-bind="with: garmentsVM">
          <div class="grid_16 smalsteps">
            <ul data-bind="foreach: workflow">
              <li data-bind="click: $parent.currentStep, visible: $data.id !== 'Custom' || ($data.id === 'Custom' && $parent.customCount), css: { 'selected': $parent.currentStep().id === $data.id, 'completed': $data.completed === true }" class="">
                <div data-bind="text: title"></div>
              </li>
            </ul>
          </div>
          <script>
	function runEffect() {
		var selectedEffect = 'slide';
		var options = {};
//		$( "#scrollContent" ).effect( selectedEffect, options, 650, callback );
		$( "#garmentPreview" ).effect( selectedEffect, options, 500, callback );		
	};

	function callback() {
		;
	};	
</script> 
          <script type="text/javascript">
    function toggle_visibility(id) {
	var e = document.getElementById(id); 
	if(e.style.display == 'block')
		e.style.display = 'none';
	else
	  	e.style.display = 'block';
	}
</script> 
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 0" class="inpickme" id="scrollWrapper">
            <h2>Select Fabric</h2>
            <div class="grid_16 littleing">
              <div class="grid_7" data-bind="foreach:shirtData">
                <div class="grid_15 garmentbreak fabricselect">
                  <div class="grid_16 fivepadding tomakegreen" data-bind="css: { 'makegreen': shirtFabric.title != 'none'  || ShirtHasCustomerFabric}"> <span  class="garmenttype">Shirt <span data-bind="text: variantId + 1"></span></span>
                    <div name="FabricCheck" class="thirty_optioncell simpleclick garment_options" data-bind="css: {  }, modifiedShirtBooleanOptions:[$index(), 'FabricCheck', 'selecteds']" >Select Fabric Box </div>
                    <div class="left_position garment_options fabricinfo"> 
						<span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> 
						<img name="ShirtFabricImage" data-bind="attr:{src: shirtFabric.fabricImage}" style="width:30px; height: 30px" /> </div>
                    <div class="thirty_optioncell open_style_notes garment_options_two"  data-bind="switchpopup:[$index(), 'ShirtFabricNotesPopup']">OPEN </div>
                    <div name="ShirtFabricNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="ShirtFrontBottomNotes">Shirt <span data-bind="text: variantId + 1"></span> Fabric General Notes &amp; instructions </p>
                        <textarea type="text" name="ShirtFabricNotes" data-bind="value: ShirtFabricNotes, updateFormOnChange: ShirtFabricNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtFabricNotesPopup']">Save And Close</a> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid_9">
                <div data-bind="with: fabricsVM">
                  <div data-target-attr="shirtFabric" data-bind="template: { name: 'fabricsSelectorTPL'}"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <h2>Select Fit</h2>
            <div class="grid_16 gAttr">
              <div class="shirtFitList" data-target-attr="shirtFit" data-bind="foreach: shirtFitList" >
                <div class="MainListElementDisplay">
                  <div name="shirtFitDiv" class="grid_44 MainListElement" >
                    <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtFitDiv']"> <span data-bind="text: $data"></span> </div>
                    <span name="shirtFitList" data-bind="text: $data" style="display:none" ></span>
                    <div class="details_box" style="margin-top:34px">
                      <div class="grid_16" >
                        <div class="grid_16 help_titles">
                          <div class="grid_5">Garment</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtFitEachGarment" class="grid_16 bottomthreemarg triggerr offtrigger">
                            <div class="grid_7">
                              <div class="label_style"> <span>Shirt <span data-bind="text: variantId + 1"></span></span> </div>
                            </div>
                            <div name="shirtFit" class="thirty_optioncell listsimpleclick simpleclick right_position" data-bind="css: { 'selecteds': shirtFit === $parent }, click: function(){ shirtFit = $parent;}, modifiedShirtListOptions:[$index(), $parent, 'shirtFitList', 'shirtFit', 'none', 'shirtFitEachGarment', 'shirtFitDiv']">box </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
			<div data-bind="foreach:shirtData" class="inpickme">	<!-- THIS ONE IS COMMON BETWEEN STEPS 1 & 2	-->
            	<div name="ShirtSleevesAndCuffsNotesPopup" id="light" class="white_content mynicepop">
                	<div class="inmynicepop">
						<p data-target-attr="ShirtSleevesAndCuffsNotes">Shirt <span data-bind="text: variantId + 1"></span> Sleeves and Cuffs Notes </p>
                        <textarea type="text" name="ShirtSleevesAndCuffsNotes" data-bind="value: ShirtSleevesAndCuffsNotes, updateFormOnChange: ShirtSleevesAndCuffsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtSleevesAndCuffsNotesPopup']">Save And Close</a> 
					</div>
				</div>
			</div>          
          
          <div data-bind="visible: currentStep().id === 1" class="inpickme"  id="scrollWrapper">
            <div id="scrollContentqws">
              <h2>Select your Shirt's Sleeve Style</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtSleeveStyle" data-bind="foreach: shirtSleeveStyleList" class="shirtSleeveStyleList">
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtSleeveStyleDiv" class="grid_55 MainListElement"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtSleeveStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtSleeveStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtSleeveStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_6">Garment</div>
                          <div class="thirty_optioncell right_position" data-bind="visible: title == 'Short'">Short Cuffs</div>
                          <div class="thirty_optioncell right_position epaulettes">Epaulettes</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtSleeveStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="gAttr" data-target-attr="shirtShortCuffs"  data-bind="visible: $parent.title == 'Short'">
                              <div name="shirtShortCuffs" class="thirty_optioncell truefalseclicks right_position" data-bind="css: { 'selecteds': shirtShortCuffs === true }, click: function(){ shirtShortCuffs = !shirtShortCuffs;}, modifiedShirtListBooleanOptions:[$index(), 'shirtSleeveStyleList', 'shirtShortCuffs', 'selecteds' ]">shirtShortCuffs TRUE FALSE </div>
                            </div>
                            <div class="gAttr" data-target-attr="shirtEpaulletes">
                              <div name="shirtEpaulletes" class="thirty_optioncell truefalseclicks epaulettes right_position" data-bind="css: { 'selecteds': shirtEpaulletes === true }, click: function(){ shirtEpaulletes = !shirtEpaulletes;}, modifiedShirtListBooleanOptions:[$index(), 'shirtSleeveStyleList', 'shirtEpaulletes', 'selecteds' ]">Epaulettes TRUE FALSE </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtSleevesAndCuffsNotesPopup']">OPEN NOTES </div>
                            <div name="shirtSleeveStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtSleeveStyle.id === $parent.id }, 
                                                          click: function(){ shirtSleeveStyle = $parent; $parents[1].shirtSleevesCuffsDependencies('shirtCuffsStyleList', 'shirtCuffsStyleEachGarment'); },
                                                          modifiedShirtListOptions:[$index(), $parent, 'shirtSleeveStyleList', 'shirtSleeveStyle' , 'none', 'shirtSleeveStyleEachGarment', 'shirtSleeveStyleDiv']">Shirt Sleeves Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 2" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Cuffs</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtCuffsStyle" data-bind="foreach: shirtCuffsStyleList" class="shirtCuffsStyleList">                    
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtCuffsStyleDiv" class="grid_44 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtCuffsStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtCuffsStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtCuffsStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>	
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtCuffsStyleEachGarment" class="grid_16 bottomthreemarg triggerr ">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtSleevesAndCuffsNotesPopup']">OPEN NOTES </div>	
                            <div name="shirtCuffsStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtCuffsStyle.id === $parent.id }, 
                                                        click: function(){ shirtCuffsStyle = $parent;},
                                                        modifiedShirtListOptions:[$index(), $parent, 'shirtCuffsStyleList', 'shirtCuffsStyle' , 'none', 'shirtCuffsStyleEachGarment', 'shirtCuffsStyleDiv']">Shirt Cuffs Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 3" class="inpickme"  id="scrollWrapper">
			<div class="grid_8 prefix_4 suffix_5" style="display:none;">
			  <input id="files" type="file" accept="image/*" data-bind="visible: false"/>
			  <div id="pantsCustomPocketsMediaBtn" data-role="button">Upload media </div>
			</div>
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Collar</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtCollarStyle" data-bind="foreach: shirtCollarStyleList" class="shirtCollarStyleList">
                  <div data-bind="foreach:$parent.shirtData">
                    <div name="ShirtCollarNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="ShirtCollarNotes">Shirt <span data-bind="text: variantId + 1"></span> Collar Notes </p>
                        <textarea type="text" name="ShirtCollarNotes" data-bind="value: ShirtCollarNotes, updateFormOnChange: ShirtCollarNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtCollarNotesPopup']">Save And Close</a> </div>
                    </div>
                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtCollarStyleDiv" class="grid_44 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtCollarStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtCollarStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtCollarStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtCollarStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtCollarNotesPopup']">OPEN NOTES </div>
                            <div name="shirtCollarStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtCollarStyle.id === $parent.id }, 
                                                        click: function(){ shirtCollarStyle = $parent;},
                                                        modifiedShirtListOptions:[$index(), $parent, 'shirtCollarStyleList', 'shirtCollarStyle' , 'what a mess', 'shirtCollarStyleEachGarment', 'shirtCollarStyleDiv', 'Shirt collar']">Shirt Collar Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!---------------------------------------------------------------------------------------------------->
          
			<div data-bind="foreach:shirtData" class="inpickme">	<!-- THIS ONE IS COMMON BETWEEN STEPS 3 & 4	-->
            	<div name="ShirtFrontBottomNotesPopup" id="light" class="white_content mynicepop">
                	<div class="inmynicepop">
                    	<p data-target-attr="ShirtFrontBottomNotes">Shirt <span data-bind="text: variantId + 1"></span> Front and Bottom Notes </p>
                        <textarea type="text" name="ShirtFrontBottomNotes" data-bind="value: ShirtFrontBottomNotes, updateFormOnChange: ShirtFrontBottomNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtFrontBottomNotesPopup']">Save And Close</a> 
					</div>
				</div>
			</div>          
          
          <div data-bind="visible: currentStep().id === 4" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Front Style</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtFrontStyle" data-bind="foreach: shirtFrontStyleList" class="shirtFrontStyleList">
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtFrontStyleDiv" class="grid_44 MainListElement"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtFrontStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtFrontStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtFrontStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Seams</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtFrontStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="gAttr" data-target-attr="shirtSeams">
                              <div name="shirtSeams" class="thirty_optioncell truefalseclicks right_position" data-bind="css: { 'selecteds': shirtSeams === true }, click: function(){ shirtSeams = !shirtSeams;}, modifiedShirtListBooleanOptions:[$index(), 'shirtFrontStyleList', 'shirtSeams', 'selecteds' ]">Seams TRUE FALSE </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtFrontBottomNotesPopup']">OPEN NOTES </div>
                            <div name="shirtFrontStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtFrontStyle.id === $parent.id }, 
                                                          click: function(){ shirtFrontStyle = $parent;},
                                                          modifiedShirtListOptions:[$index(), $parent, 'shirtFrontStyleList', 'shirtFrontStyle' , 'what a mess', 'shirtFrontStyleEachGarment', 'shirtFrontStyleDiv', 'Shirt Front']">Shirt Front Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 5" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Bottom Style</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtBottomStyle" data-bind="foreach: shirtBottomStyleList" class="shirtBottomStyleList">
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtBottomStyleDiv" class="grid_44 MainListElement"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtBottomStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtBottomStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtBottomStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtBottomStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtFrontBottomNotesPopup']">OPEN NOTES </div>
                            <div name="shirtBottomStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtBottomStyle.id === $parent.id }, 
                                                          click: function(){ shirtBottomStyle = $parent;},
                                                          modifiedShirtListOptions:[$index(), $parent, 'shirtBottomStyleList', 'shirtBottomStyle' , 'none', 'shirtBottomStyleEachGarment', 'shirtBottomStyleDiv']">Shirt Bottom Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          
          <div data-bind="visible: currentStep().id === 6" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Back Style</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtBackStyle" data-bind="foreach: shirtBackStyleList" class="shirtBackStyleList">
                  <div data-bind="foreach:$parent.shirtData">
                    <div name="ShirtBackNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="ShirtBackNotes">Shirt <span data-bind="text: variantId + 1"></span> Back Notes </p>
                        <textarea type="text" name="ShirtBackNotes" data-bind="value: ShirtBackNotes, updateFormOnChange: ShirtBackNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtBackNotesPopup']">Save And Close</a> </div>
                    </div>
                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtBackStyleDiv" class="grid_44 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtBackStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtBackStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtBackStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_7">Garment</div>
                          <div class="thirty_optioncell right_position"  data-bind="visible: id !== 6">Darts</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtBackStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="gAttr" data-target-attr="shirtDarts">
                              <div name="shirtDarts" class="thirty_optioncell truefalseclicks right_position" data-bind="css: { 'selecteds': shirtDarts === true }, click: function(){ shirtDarts = !shirtDarts;}, modifiedShirtListBooleanOptions:[$index(), 'shirtBackStyleList', 'shirtDarts', 'selecteds' ],visible: $parent.id !== 6">Darts TRUE FALSE </div>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtBackNotesPopup']">OPEN NOTES </div>
                            <div name="shirtBackStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtBackStyle.id === $parent.id }, 
                                                          click: function(){ shirtBackStyle = $parent;},
                                                          modifiedShirtListOptions:[$index(), $parent, 'shirtBackStyleList', 'shirtBackStyle' , 'none', 'shirtBackStyleEachGarment', 'shirtBackStyleDiv']">Shirt Back Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 7" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Select your Shirt's Pockets</h2>
              <div class="grid_16 gAttr">
                <div data-target-attr="shirtPocketStyle" data-bind="foreach: shirtPocketStyleList" class="shirtPocketStyleList">
                  <div data-bind="foreach:$parent.shirtData">
                    <div name="ShirtPocketsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="ShirtPocketsNotes">Shirt <span data-bind="text: variantId + 1"></span> Pockets Notes </p>
                        <textarea type="text" name="ShirtPocketsNotes" data-bind="value: ShirtPocketsNotes, updateFormOnChange: ShirtPocketsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtPocketsNotesPopup']">Save And Close</a> </div>
                    </div>
                  </div>
                  <div data-bind="style: { display: id == 0 ? 'none':'block'}" class="MainListElementDisplay">
                    <div name="shirtPocketStyleDiv" class="grid_44 MainListElement pusherr"> <img data-bind="attr:{src: image}, modifyClassOfDiv: [$index(), 'shirtPocketStyleDiv']" />
                      <div class="main_option_title" data-bind="modifyClassOfDiv: [$index(), 'shirtPocketStyleDiv']"> <span data-bind="text: title"></span> </div>
                      <span name="shirtPocketStyleList" data-bind="text: id" style="display:none"></span>
                      <div class="details_box">
                        <div class="grid_16 help_titles">
                          <div class="grid_6">Garment</div>
                          <div class="thirty_optioncell right_position epaulettes" data-bind="visible: id !== 1">Position</div>
                          <div class="thirty_optioncell right_position">Notes</div>
                          <div class="thirty_optioncell right_position">Select</div>
                        </div>
                        <div class="grid_16" data-bind="foreach:$parent.shirtData">
                          <div name="shirtPocketStyleEachGarment" class="grid_16 bottomthreemarg triggerr">
                            <div class="grid_7">
                              <div class="label_style"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span> </div>
                            </div>
                            <div class="positiona right_position" data-bind="visible: $parent.id !== 1">
                              <select data-mini="true" class="mikrosss" name="shirtPocketPosition" id="shirtPocketPosition" data-bind="options: $parents[1].shirtPocketPositionList, 
                                                  value: shirtPocketPosition, 
                                                  modifiedShirtListSelectOptions:[$index(), 'shirtPocketStyleList', 'shirtPocketPosition' ]">
                              </select>
                            </div>
                            <div class="thirty_optioncell open_style_notes right_position"  data-bind="switchpopup:[$index(), 'ShirtPocketsNotesPopup']">OPEN NOTES </div>
                            <div name="shirtPocketStyle" class="thirty_optioncell listsimpleclick simpleclick right_position"  data-bind="css: { 'selecteds': shirtPocketStyle.id === $parent.id }, 
                                                          click: function(){ shirtPocketStyle = $parent;},
                                                          modifiedShirtListOptions:[$index(), $parent, 'shirtPocketStyleList', 'shirtPocketStyle' , 'none', 'shirtPocketStyleEachGarment', 'shirtPocketStyleDiv']">Shirt Pockets Option </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 8" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Shirt Contrast Options</h2>
              <!--	WAY 1	-->
              <div class="grid_16" data-bind="foreach:shirtData">
                <div class="grid_16 tenmargbot">
                  <div class="checkslabelleft"> <span>#<span data-bind="text: variantId + 1"></span></span> <span name="ShirtFabricText" data-bind="visible:!ShirtHasCustomerFabric, text: shirtFabric.title"></span><span name="ShirtFabricText" data-bind="visible:ShirtHasCustomerFabric, text: ShirtCustomerFabric.FabricCode"></span>  </div>
                  <div class="checkcontainer">
                    <div class="contrastman">
                      <div class="boxesincheck"  data-bind="css: { 'selecteds': shirtContrastInsideCollar === true }, click: function(){ shirtContrastInsideCollar = !shirtContrastInsideCollar;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastInsideCollar', 'selecteds' ]"> <span class="boxesincheckname">Inside Collar</span>
                        <div name="shirtContrastInsideCollar" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastInsideCollar === true }">box </div>
                      </div>
                      <div class="boxesincheck"  data-bind="css: { 'selecteds': shirtContrastOutsideCollar === true }, click: function(){ shirtContrastOutsideCollar = !shirtContrastOutsideCollar;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastOutsideCollar', 'selecteds' ]"> <span class="boxesincheckname">Outside Collar</span>
                        <div name="shirtContrastOutsideCollar" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastOutsideCollar === true }">box </div>
                      </div>
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastCollarStand === true }, click: function(){ shirtContrastCollarStand = !shirtContrastCollarStand;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastCollarStand', 'selecteds' ]"> <span class="boxesincheckname">Collar Stand</span>
                        <div name="shirtContrastCollarStand" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastCollarStand === true }">box </div>
                      </div>
                    </div>
                    <div class="contrastman" >
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastInsideCuff === true }, click: function(){ shirtContrastInsideCuff = !shirtContrastInsideCuff;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastInsideCuff', 'selecteds' ] "> <span class="boxesincheckname">Inside Cuff</span>
                        <div name="shirtContrastInsideCuff" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastInsideCuff === true }">box </div>
                      </div>
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastOutsideCuff === true }, click: function(){ shirtContrastOutsideCuff = !shirtContrastOutsideCuff;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastOutsideCuff', 'selecteds' ]"> <span class="boxesincheckname">Outside Cuff</span>
                        <div name="shirtContrastOutsideCuff" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastOutsideCuff === true }">box </div>
                      </div>
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastBackOfCuff === true }, click: function(){ shirtContrastBackOfCuff = !shirtContrastBackOfCuff;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastBackOfCuff', 'selecteds' ]"> <span class="boxesincheckname">Back Of Cuff</span>
                        <div name="shirtContrastBackOfCuff" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastBackOfCuff === true }">box </div>
                      </div>
                    </div>
                    <div class="contrastman">
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastInsidePlacket === true }, click: function(){ shirtContrastInsidePlacket = !shirtContrastInsidePlacket;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastInsidePlacket', 'selecteds' ]"> <span class="boxesincheckname">Inside Placket</span>
                        <div name="shirtContrastInsidePlacket" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastInsidePlacket === true }">box </div>
                      </div>
                      <div class="boxesincheck" data-bind="css: { 'selecteds': shirtContrastOutsidePlacket === true }, click: function(){ shirtContrastOutsidePlacket = !shirtContrastOutsidePlacket;}, modifiedShirtBooleanOptions:[$index(), 'shirtContrastOutsidePlacket', 'selecteds' ]"> <span class="boxesincheckname">Outside Placket</span>
                        <div name="shirtContrastOutsidePlacket" class="left_position simpleclick" data-bind="css: { 'selecteds': shirtContrastOutsidePlacket === true }">box </div>
                      </div>
                    </div>
                    <div class="boxesincheck" name="shirtButtonColorDiv">
                      <div class="megalwse" data-bind="switchpopup:[$index(), 'shirtButtonColorPopup']"> <span class="boxesincheckname" data-bind="text: shirtButtonColor.title" name="shirtButtonColorText"></span> <img name="shirtButtonColor" data-bind="attr:{src: shirtButtonColor.image}" /> </div>
                      <div name="shirtButtonColorPopup" id="light" class="white_content mynicepop">
                        <div class="inmynicepop">
                          <p data-target-attr="ShirtMonogramNotes">Shirt <span data-bind="text: variantId + 1"></span> Button Colour </p>
                          <div class="bgmynicepop"  data-bind="foreach: $parent.shirtButtonColorList" >
                            <div class="grid_134 tagging" name="shirtButtonColorOptions" data-bind="css: { 'selected': $parent.shirtButtonColor.id === $data.id },  modifiedShirtThreads:[$parentContext.$index(), $index(), $data, 'shirtButtonColor', 'shirtButtonColorOptions'], switchpopup:[$parentContext.$index(), 'shirtButtonColorPopup']"> <img data-bind="attr:{src: image}, click: function(){ $parent.shirtButtonColor = $data; }" />
                              <div data-bind="text: title"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                          <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'shirtButtonColorPopup']">Save And Close</a> </div>
                      </div>
                    </div>
                    <div class="boxesincheck" name="shirtThreadColorDiv">
                      <div class="megalwse" data-bind="switchpopup:[$index(), 'shirtThreadColorPopup']"> <span class="boxesincheckname" data-bind="text: shirtThreadColor.title" name="shirtThreadColorText"></span> <img name="shirtThreadColor" data-bind="attr:{src: shirtThreadColor.image}" /> </div>
                      <div name="shirtThreadColorPopup" id="light" class="white_content mynicepop">
                        <div class="inmynicepop inmynicepoptwo">
                          <p>Shirt <span data-bind="text: variantId + 1"></span> Thread Colour </p>
                          <div class="bgmynicepop"  data-bind="foreach: $parent.shirtThreadColorList" >
                            <div class="grid_138 tagging" name="shirtThreadColorOptions" data-bind="css: { 'selected': $parent.shirtThreadColor.id === $data.id }, modifiedShirtThreads:[$parentContext.$index(), $index(), $data, 'shirtThreadColor', 'shirtThreadColorOptions'],switchpopup:[$parentContext.$index(), 'shirtThreadColorPopup']"> <img data-bind="attr:{src: image}, click: function(){ $parent.shirtThreadColor = $data; }" />
                              <div data-bind="text: title"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                          <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'shirtThreadColorPopup']">Save And Close</a> </div>
                      </div>
                      
                      
                      
                    </div>
                    <div class="boxesincheck"  data-bind="switchpopup:[$index(), 'shirtContrastFabricPopup']"> <span class="boxesincheckname">Contrast Fabric</span>
                      <div class="left_position open_style_notes">OPEN </div>
                    </div>
                    <div name="shirtContrastFabricPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="shirtContrastFabric">Shirt <span data-bind="text: variantId + 1"></span> Contrast Fabric </p>
                        <input type="text" name="shirtContrastFabric" data-bind="value: shirtContrastFabric, updateFormOnChange: shirtContrastFabric, valueUpdate: 'afterkeydown'"  data-theme="a"/>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'shirtContrastFabricPopup']">Save And Close</a> </div>
                    </div>
                    <div class="boxesincheck"  data-bind="switchpopup:[$index(), 'ShirtContrastsNotesPopup']" > <span class="boxesincheckname">Contrast Notes</span>
                      <div class="left_position open_style_notes">OPEN </div>
                    </div>
                    <div name="ShirtContrastsNotesPopup" id="light" class="white_content mynicepop">
                      <div class="inmynicepop">
                        <p data-target-attr="ShirtContrastsNotes">Shirt <span data-bind="text: variantId + 1"></span> Contrast Notes </p>
                        <textarea type="text" name="ShirtContrastsNotes" data-bind="value: ShirtContrastsNotes, updateFormOnChange: ShirtContrastsNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px;"></textarea>
                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[$index(), 'ShirtContrastsNotesPopup']">Save And Close</a> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          
          <div data-bind="visible: currentStep().id === 9" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Customise your Monogram</h2>
              <div class="grid_16">
                <div class="grid_16 previewimages fivepadding" data-bind="visible: variantNameShirt().length > 1">
                  <ul data-bind="foreach: variantNameShirt" style="margin-left:5px; ">
                    <li data-bind="css: { 'active': $parent.selectedVariantShirt() === $data }, click: $parent.selectedVariantShirt"> <a><span data-bind="text: title">1</span> </a> </li>
                  </ul>
                </div>
                <div class="grid_14 makeyellow fivepaddingall fivemargupleft shirtmonogram" style="margin-top:0px !important;">
                  <div class="grid_3 monogramtitl">Monogram</div>
                  <div class="grid_7" data-target-attr="shirtMonogram">
                    <input type="text" name="shirtMonogram" data-bind="value: shirtMonogram, updateFormOnChange: shirtMonogram, valueUpdate: 'afterkeydown'"/>
                  </div>
                  <div class="grid_4" data-bind="visible: variantNameShirt().length > 1">
                    <div data-role="button" class="textCloneBtn buttonsoptions"  data-bind="shirtCloneMonogram: [shirtMonogram(), shirtMonogramPosition(), ShirtMonogramFont(), ShirtMonogramStitchColour(), ShirtMonogramNotes()]">Clone</div>
                  </div>
                  <!--    <div data-role="button" class="textCloneBtn" id="textCloneBtn1" data-bind="visible: variantNameShirt().length > 1">Clone</div>	--> 
                </div>
                <div class="grid_14 makeyellow fivepaddingall fivemargupleft shirtmonogram">
                  <div class="grid_3 monogramtitl ">Position</div>
                  <div class="grid_3">
                    <div class="gAttr" data-target-attr="shirtMonogramPosition">
                      <div class="mycheck mychecknews" id="shirtMonogramPosition" data-bind="click: function(){ shirtMonogramPosition('Collar'); }, css: {enabled: shirtMonogramPosition() === 'Collar' }"> Collar-Out </div>
                    </div>
                  </div>
                  <div class="grid_3">
                    <div class="gAttr" data-target-attr="shirtMonogramPosition">
                      <div class="mycheck mychecknews" id="shirtMonogramPosition" data-bind="click: function(){ shirtMonogramPosition('CollarIn'); }, css: {enabled: shirtMonogramPosition() === 'CollarIn' }"> Collar-In </div>
                    </div>
                  </div>
                  <div class="grid_3" ><!--data-bind="visible: shirtSleeveStyle().id !== 3"-->
                    <div class="gAttr" data-target-attr="shirtMonogramPosition">
                      <div class="mycheck mychecknews" id="shirtMonogramPosition" data-bind="click: function(){ shirtMonogramPosition('Cuff'); }, css: {enabled: shirtMonogramPosition() === 'Cuff' }"> Cuff </div>
                    </div>
                  </div>
                  <div class="grid_3">
                    <div class="gAttr" data-target-attr="shirtMonogramPosition">
                      <div class="mycheck mychecknews" id="shirtMonogramPosition" data-bind="click: function(){ shirtMonogramPosition('Chest'); }, css: {enabled: shirtMonogramPosition() === 'Chest' }"> Chest </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid_14 makeyellow fivepaddingall fivemargupleft shirtmonogram">
                <div class="grid_3 monogramtitl fivetopmargin">Other Options</div>
                <div class="left_position myboxesincheck" data-bind="switchpopup:[0, 'ShirtMonogramStitchColourPopup']"> <span class="myboxesincheckname smallertag">Stitching</span> <img name="ShirtMonogramStitchColour" data-bind="attr:{src: ShirtMonogramStitchColour().image}" /> <span class="mydataboxesincheckname" name="ShirtMonogramStitchColourText" data-bind="text: ShirtMonogramStitchColour().title"></span> </div>
                <div class="left_position myboxesincheck"  data-bind="switchpopup:[0, 'ShirtMonogramNotesPopup']"> <span class="myboxesincheckname">Notes</span>
                  <div class="left_position open_style_notes">OPEN </div>
                </div>
                <div name="ShirtMonogramStitchColourPopup" id="light" class="white_content mynicepop">
                        <div class="inmynicepop inmynicepoptwo">
                          <p>Shirt Monogram Colour </p>
                          <div class="bgmynicepop"  data-bind="foreach: ShirtMonogramStitchColourList" >
                            <div class="grid_138 tagging" name="ShirtMonogramStitchColourOptions" data-bind="css: { 'selected': $parent.ShirtMonogramStitchColour().id === $data.id }"> <img data-bind="attr:{src: image}, click:
                                            function(){
                                                $parent.ShirtMonogramStitchColour($data);
                                            }, switchpopup:[0, 'ShirtMonogramStitchColourPopup']"  
                                        />
                              <div data-bind="text: title"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                          <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[0, 'ShirtMonogramStitchColourPopup']">Save And Close</a> </div>
                      </div>
                      
                      
                <div id="lights" class="white_content" name="ShirtMonogramStitchColourPopup" style="display:none"> <a href = "javascript:void(0)" class="close_popups" data-bind="switchpopup:[0, 'ShirtMonogramStitchColourPopup']">Close</a>
                  <h4>Shirt Monogram Color</h4>
                  <div class="grid_16" data-bind="foreach: ShirtMonogramStitchColourList" >
                    <div class="grid_134" name="ShirtMonogramStitchColourOptions" data-bind="css: { 'selected': $parent.ShirtMonogramStitchColour().id === $data.id }"> <img data-bind="attr:{src: image}, click:
                                            function(){
                                                $parent.ShirtMonogramStitchColour($data);
                                            }, switchpopup:[0, 'ShirtMonogramStitchColourPopup']"  
                                        />
                      <div data-bind="text: title"></div>
                    </div>
                  </div>
                </div>
                <div class="gAttr" id="ShirtMonogramStitchColourPopup" style="display:none" data-target-attr="ShirtMonogramStitchColour" data-bind="foreach: ShirtMonogramStitchColourList">
                  <div class="grid_110" data-bind="css: { 'selected': $parent.ShirtMonogramStitchColour.id === $data.id }"> <img data-bind="attr:{src: image}, click: function(){ $parent.ShirtMonogramStitchColour($data);  }, css: { 'selected': $parent.ShirtMonogramStitchColour().id === $data.id }"  />
                    <div data-bind="text: title"></div>
                  </div>
                </div>
                <div name="ShirtMonogramNotesPopup" id="light" class="white_content mynicepop">
                  <div class="inmynicepop">
                    <p data-target-attr="ShirtMonogramNotes">Shirt Monogram Notes </p>
                    <textarea type="text" name="ShirtMonogramNotes" data-bind="value: ShirtMonogramNotes, updateFormOnChange: ShirtMonogramNotes, valueUpdate: 'afterkeydown'" data-theme="a" style="min-height:120px; "></textarea>
                    <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="switchpopup:[0, 'ShirtMonogramNotesPopup']">Save And Close</a> </div>
                </div>
              </div>
              <div class="grid_14 makeyellow fivepaddingall fivemargupleft shirtmonogram">
                <div class="grid_3 monogramtitl">Font Options</div>
                <div class="grid_13 grid_font gAttr nopadding">
                  <div data-target-attr="ShirtMonogramFont" data-bind="foreach: ShirtMonogramFontList" class="ShirtMonogramFont">
                    <div data-bind="visible: id != 0">
                      <div class="grid_3333" data-bind="css: { 'selected': $parent.ShirtMonogramFont().id === $data.id }"> <img data-bind="attr:{src: image}, click: $parent.ShirtMonogramFont,  css: { 'selected': $parent.ShirtMonogramFont().id === $data.id }"  />
                        <div data-bind="text: title"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="clear"></div>
            </div>
          </div>
          
          <!------------------------------------------------------------------------------------------------------------->
          <div data-bind="visible: currentStep().id === 10" class="inpickme"  id="scrollWrapper">
            <div id="scrollContent" class="scrollContent">
              <h2>Shirt General Design Notes &amp; instructions</h2>
              <div class="grid_16">
                <div class="grid_16 previewimages fivepadding greyish" data-bind="visible: variantNameShirt().length > 1">
                  <ul data-bind="foreach: variantNameShirt" style="margin-left:5px;">
                    <li data-bind="css: { 'active': $parent.selectedVariantShirt() === $data }, click: $parent.selectedVariantShirt"> <span data-bind="text: title">1</span> </li>
                  </ul>
                </div>
                <div class="grid_16" data-target-attr="ShirtNotes">
                  <div class="grid_14 fivepaddingall fivemargupleft shirtmonogram inmynicepop" style="margin-top:0px !important; padding-top:0px !important;">
                    <textarea type="text" name="ShirtNotes" data-bind="value: ShirtNotes, updateFormOnChange: ShirtNotes, valueUpdate: 'afterkeydown'"  style="min-height:120px; background:#ececec; margin-top:0px;"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!------------------------------------------------------------------------------------------------------------->      
<style type="text/css" >
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    div.image_panel{
                        float:left;
                        width:600px;
                        position:relative;
                    }
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
                </style>                                                  
<div data-bind="visible: currentStep().id === 'Custom'" class="inpickme"  id="scrollWrapperforcust">
  	<div id="scrollContentqws">	 

                <h2>Custom Options</h2>
				<div data-bind="foreach: shirtData">
					<div data-bind="visible: $data.custom.hasCustomInfo">
						<h4><span>Shirt </span><span data-bind="text: ($index()+1)"></span></h4>
						<div data-bind="foreach:$data.custom.custom">
							<div class="grid_2 suffix_1 " style="margin:10px 0px 20px 20px; text-align:center; ">
							<div data-role="button" data-bind="click:function(){$parentContext.$parent.addCustomImage($parentContext.$index(), $index());}" class="loadimages" style="margin:0px auto !important;">Upload Image</div>
                             <span class="underbuttons" data-bind="text:$data.name"></span>
                            </div>
                            <div class="clear"></div>
                            
							<output style="width:100%" data-bind="foreach: $data.image.getMediaPreview()">
								<div class="img-wrap" data-bind="attr:{id: $index()}">
									<span class="close" data-bind="click: function(){$parentContext.$data.image.removeMedia($index());}" >X</span>
									<div class="image_panel">
										<img id="imagemap" class="imageMap" width="600" data-bind="attr: {src: $data}, click:function(data,evt){$root.openDialog2($parentContext.$data.image,evt, $index());}"></img>
										<div class="mapper" data-bind="attr:{id: $parentContext.$data.image.mapperID($index())}">
										</div>
										<div id="planetmap" class="planetmap" data-bind="foreach: $parentContext.$data.image.getTags($index())">
											<div class="arrow" data-bind="style:{width: $parentContext.$parentContext.$data.image.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $parentContext.$parentContext.$data.image.getTagAttrib('left%', $parentContext.$index(), $index()), top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
											<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $parentContext.$parentContext.$data.image.getTagAttrib('top%', $parentContext.$index(), $index())}">
												<div class="tagged_title" style="display:block;">
													<span data-bind="text: $parentContext.$parentContext.$data.image.getTagAttrib('text', $parentContext.$index(), $index())"></span>
												</div>
												<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">
													<img class="openDialog" data-bind="click: function(){$parentContext.$parentContext.$data.image.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 340px; padding: 0px;"></img>
												</div>
											</div>
										</div>
									</div>
								</div>
							</output>
                            <div class="clear"></div>
                            <hr>
						</div>
					</div>
				</div>


  	</div>
</div>
<!------------------------------------------------------------------------------------------------------------->          
<!-------------------------------------------------------------------------------------------------------------> 
<div id="popup_box" style="width: 100%;">
	<div class="form_panel" id="form_panel" name="form_panel">
		<a id="popupBoxClose" class="close_popups" data-bind="click:function(){$root.closeDialog();}">Close</a>
		<p class="media_pops">
		<span>Add your comments</span>
			<textarea class="title"></textarea>
			<input type="button" value="Add Comment" data-mini="true" data-bind="click:function(){$root.addTag();}" /></p>
			<div class="clear"></div>
	</div>
</div>
         
<!------------------------------------------------------------------------------------------------------------->          
          <div class="grid_6 fixedpreview" data-bind="visible: currentStep().id !== 'Custom'"><!-- here is the preview -->
            <div class="grid_16" data-bind="visible: variantNameShirt().length > 1">
              <div class="previewimages">
                <ul data-bind="foreach: variantNameShirt">
                  <li onclick="runEffect()" data-bind="css: { 'active': $parent.selectedVariantShirt() === $data }, click: $parent.selectedVariantShirt"> <a><span data-bind="text: title">1</span> </a> </li>
                </ul>
              </div>
            </div>
            <div id="garmentPreview" class="garmentPreview shirtpreview">
              <div id="frontPreview" data-bind="visible: PreviewVisible() == 'front'"> <img src="http://shirt-tailor.net/thepos/appimg/shirt/main_bg.png" /> <img data-bind="attr: {src: shirtBottomStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/epalluetes.png" data-bind="visible: shirtEpaulletes" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/seams.png" data-bind="visible: shirtSeams" /> <img data-bind="attr: {src: shirtFrontStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/front_placket_big.png" data-bind="visible: shirtContrastOutsidePlacket()===true" /> 
                
                <!--  <img data-bind="attr: {src: shirtButtonColor().preview }" />--> 
                <img data-bind="attr: {src: shirtPocketStyle().preview } ,visible: shirtPocketPosition() === 'Both' || shirtPocketPosition() === 'Left'" /> <img data-bind="attr: {src: shirtPocketStyle().previewleft },visible: shirtPocketPosition() === 'Both' || shirtPocketPosition() === 'Right'" /> <img data-bind="attr: {src: shirtSleeveStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/collar/collar.png" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/collar/collar_bg.png" data-bind="visible:shirtContrastInsideCollar()!== true"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/collar/band-preview.png" data-bind="visible: shirtContrastCollarStand()!==true"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/collar/contrast/band_inside.png" data-bind="visible:shirtContrastInsideCollar()=== true" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/collar/contrast/stand.png" data-bind="visible: shirtContrastCollarStand()===true" /><!-- Modern Collar Stand contrast --> 
                <img data-bind="attr: {src: shirtCollarStyle().preview },visible: shirtContrastOutsideCollar()!==true" /> <img data-bind="attr: {src: shirtCollarStyle().previewcontr }, visible: shirtContrastOutsideCollar()===true" /> <img data-bind="attr: {src: shirtButtonColor().preview }, visible:shirtFrontStyle().id!==2" /> 
                
                <!--   <span class="waistname" data-bind="visible: shirtMonogramPosition() === 'Waist' , text: shirtMonogram"></span>	--> 
                <img src="http://shirt-tailor.net/thepos/appimg/shirt/cuffs/short_cuffs.png" data-bind="visible: shirtShortCuffs() == true && shirtSleeveStyle().id === 3" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/inner_cuff.png" data-bind="visible: shirtContrastInsideCuff()===true && shirtSleeveStyle().id!==3 && shirtSleeveStyle().id!==2" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/innercuff_left.png" data-bind="visible: shirtContrastInsideCuff()===true && shirtSleeveStyle().id!==1 && shirtSleeveStyle().id!==3" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/cuffs.png" data-bind="visible: shirtContrastOutsideCuff()===true&& shirtSleeveStyle().id!==3 && shirtSleeveStyle().id!==2" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/cuff_left.png" data-bind="visible: shirtContrastOutsideCuff()===true&& shirtSleeveStyle().id!==1 && shirtSleeveStyle().id!==3" /> <span class="cuffname" data-bind="visible: shirtMonogramPosition() === 'Cuff' && shirtSleeveStyle().id === 1 , text: shirtMonogram"></span> <span class="cuffnameleft" data-bind="visible: shirtMonogramPosition() === 'Cuff' && shirtSleeveStyle().id === 2 , text: shirtMonogram"></span> <span class="cuffnameleftshort" data-bind="visible: shirtMonogramPosition() === 'Cuff' && shirtSleeveStyle().id === 3 , text: shirtMonogram"></span> <span class="chestname" data-bind="visible: shirtMonogramPosition() === 'Chest' , text: shirtMonogram"></span> <span class="collarnamein" data-bind="visible: shirtMonogramPosition() === 'CollarIn' , text: shirtMonogram"></span> </div>
              <!--     <div id="backPreview" style="display:none"> -->
              <div id="backPreview" data-bind="visible: PreviewVisible() == 'back'"> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/straight_vent.png" data-bind="visible:shirtBottomStyle().id==0"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/straight_vent.png" data-bind="visible:shirtBottomStyle().id==2"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/straight.png" data-bind="visible: shirtBottomStyle().id==1"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/tri-tad.png" data-bind="visible:shirtBottomStyle().id==3"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/tri-tad.png" data-bind="visible:shirtBottomStyle().id==4"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/long_sleeves.png" data-bind="visible:shirtSleeveStyle().id!==3"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/short_sleeves.png" data-bind="visible:shirtSleeveStyle().id==3"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/sleeve_cuff.png" data-bind="visible:shirtSleeveStyle().id!==3 && shirtContrastOutsideCuff()===true"/> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/back_collar.png" data-bind="visible:shirtContrastOutsideCollar()===true" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/back/darts.png" data-bind="visible: shirtDarts()===true  && shirtBackStyle().id !== 6" /> <img data-bind="attr: {src: shirtBackStyle().preview }" /> <span class="collarname" data-bind="visible: shirtMonogramPosition() === 'Collar' , text: shirtMonogram"> </span> </div>
              <div id="contrastPreview" data-bind="visible: PreviewVisible() == 'contrast'"> <img src="http://shirt-tailor.net/thepos/appimg/shirt/main_bg.png" /> <img data-bind="attr: {src: shirtBottomStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/epalluetes.png" data-bind="visible: shirtEpaulletes" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/seams.png" data-bind="visible: shirtSeams" /> <img data-bind="attr: {src: shirtSleeveStyle().preview }" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast_bg.png" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/collar_stand.png" data-bind="visible: shirtContrastCollarStand()===true" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/outside_placket.png" data-bind="visible: shirtContrastOutsidePlacket()===true" /> <img data-bind="attr: {src: shirtButtonColor().spreview }, visible:shirtFrontStyle().id!==2" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/inside_collar.png" data-bind="visible: shirtContrastInsideCollar()===true" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/outside_collar.png" data-bind="visible: shirtContrastOutsideCollar()===true" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/inner_cuff.png" data-bind="visible: shirtContrastInsideCuff()===true && shirtSleeveStyle().id!==3 && shirtSleeveStyle().id!==2" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/innercuff_left.png" data-bind="visible: shirtContrastInsideCuff()===true && shirtSleeveStyle().id!==1 && shirtSleeveStyle().id!==3" /> <img data-bind="attr: {src: shirtPocketStyle().preview } ,visible: shirtPocketPosition() === 'Both' || shirtPocketPosition() === 'Left'" /> <img data-bind="attr: {src: shirtPocketStyle().previewleft },visible: shirtPocketPosition() === 'Both' || shirtPocketPosition() === 'Right'" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/cuffs.png" data-bind="visible: shirtContrastOutsideCuff()===true&& shirtSleeveStyle().id!==3 && shirtSleeveStyle().id!==2" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/cuff_left.png" data-bind="visible: shirtContrastOutsideCuff()===true&& shirtSleeveStyle().id!==1 && shirtSleeveStyle().id!==3" /> <img src="http://shirt-tailor.net/thepos/appimg/shirt/contrast/inside_placket.png" data-bind="visible: shirtContrastInsidePlacket()===true" /> </div>
              <span data-bind="text: shirtFabric().title" style="display:none;"></span>
              <div class="fabric_on_grid" data-bind="with: shirtFabric"> <span style="float:left; display:inline; ">Fabric: </span> <span data-bind="text: title" style="float:left; display:inline; margin:0px 0px 0px 10px;"></span> 
                
              </div>
            </div>
            <div> 
              <div class="grid_16">
                    <div class="newprevtab firsttab" data-bind="click:function(){ PreviewVisible('front'); }, css: {enabled: PreviewVisible() == 'front' }"> Front </div>
                
                    <div class="newprevtab" data-bind="click:function(){ PreviewVisible('back'); }, css: {enabled: PreviewVisible() == 'back' }"> Back 
                </div>
               
                    <div class="newprevtab lasttab" data-bind="click:function(){ PreviewVisible('contrast'); }, css: {enabled: PreviewVisible() == 'contrast' }"> Contrast </div>
                 
              </div>
            </div>
            
          </div>
          <!-- up until here is the preview -->
          
          <div data-bind="visible: orderItem.initializeDesignHtml() == true || 
        						shirtSleevesCuffsDependencies('shirtCuffsStyleList', 'shirtCuffsStyleEachGarment') == true"> </div>
          
          
        </div>
      </div>

<script>
			    
					function appendItem(topost, basedata) {
console.log("appendItemSuit Pockets");
						var endpoint = 'upload_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					               data: basedata2
					                },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									orderItem.MediaUploadVM.imagPath = data['image'];
									orderItem.MediaUploadVM.upPath = data['image'];
									orderItem.MediaUploadVM.media(data['image']);
									return;
									localStorage.removeItem('pantsCustomPocketsPhoto');
									tmp = localStorage.getItem('pantsCustomPocketsPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('pantsCustomPocketsPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('pantsCustomPocketsMedia').innerHTML = ['<img src="', basedata,'" width="180"/>'].join('');

									document.getElementsByName('pantsCustomPocketsImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('pantsCustomPocketsImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('pantsCustomPocketsImage')[0].fireEvent("onchange");				
									}	
					            }
					        });
					}   					
					
			    
					if (window.FileReader) {
				    	function handleFile(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImagePockets(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 180, 1536, "garmentsShirt.htm", "Pockets");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		}
				            	};
				        	})(f);
				    
				      		reader.readAsDataURL(f);
				      	}
					} else {
						alert('wtf?');
						customAlert('This browser does not support FileReader');
					}
				      
				    	

				    document.getElementById('files').addEventListener('change', handleFile, false);
					document.getElementById('fabricfiles').addEventListener('change', handleFile, false);
			    </script>

    </div>
  </div>
  <!-- /content --> 
  <div class="j-footer container_12" data-bind="with: garmentsVM">
  	<div class="half-em-around"> 
            <div class="grid_2"><a data-bind="click: function(){posChangePage('#orderItemSelectGarment');}" class="new-btn icon-exit-design new-btn-icon-left" data-role="button"><span class="btn-small-letter">EXIT the</span><span class="btn-letter">  Shirt Design</span></a></div>
            <div class="grid_2 prefix_8"><a data-bind="click: nextStep" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Submit &amp;</span><span class="btn-letter">  Next Step</span></a></div>
            
            </div></div>
   
</div>
