<div class="order-step" data-bind="if: selectedStep().id == '6'">
	<link rel="stylesheet" href="css/garmentDesignSection.css">

	<br>
	<div class="garments-types-wrapper" data-bind="foreach: $root.globalGarmentsArray">


		<div class="garment-type-design-tab" data-bind="click: function() { $root.chooseDesignGarmentType($data); },
														visible: $root.globalGarments[$data.garmentType]().length > 0,
														css: { 'garment-selected-tab' : $root.currentDesigingGarmentType() == $data}">

			<span class="garment-type-name-span" data-bind="text: $data.garmentType + ' (' + $root.globalGarments[$data.garmentType]().length + 'x) ' "></span>

		</div>


	</div>

	<div data-bind="if : $root.currentDesigingGarmentType">

		<!-- Design options for each garment type -->
		<div data-bind="foreach: $root.globalDesignCategoriesArray">

			<div class="design-cat-tab-wrapper" data-bind="visible: $data.garmentType == $root.currentDesigingGarmentType().garmentType ">

				<div data-bind="foreach: $data.categories">
					<!-- if category is 'Custom Data', only show it if has a 'custom option' selected -->
					<!-- ko if: !['65', '66', '67', '68', '69'].includes($data.id) -->
					<div class="design-cat-tab-el" data-bind="click: function() { $root.chooseCurrentDesignStep($data); },
															  css: {
															  		'selected-cat-el' : $data == $root.currentDesignStep(),
															  		'complete-cat-el' : $data.completed() && $data.visited() && ($data != $root.currentDesignStep())
															   		} ">

						<span data-bind="text: $data.name"></span>

					</div>
					<!-- /ko -->
					<!-- ko if: ['65', '66', '67', '68', '69'].includes($data.id) && $root.selectedCustomer().garmentsDesignStep.anyGarmentHasCustomDesign().length > 0    -->
					<div class="design-cat-tab-el" data-bind="click: function() { $root.chooseCurrentDesignStep($data); },
															  css: {
															  		'selected-cat-el' : $data == $root.currentDesignStep(),
															  		'complete-cat-el' : $data.completed() && $data.visited() && ($data != $root.currentDesignStep())
															   		} ">

						<span data-bind="text: $data.name"></span>

					</div>
					<!-- /ko -->
				</div>

				<!-- new Copy design  -->

				<div class="copy-design-btn-wrapper" style="visibility: hidden;" >
					<!-- Go directly to second pop-up -->
					<!-- <span class="copy-design-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isCopyDesignPopUpVisible(true); }">Copy Design From...</span> -->
					<span class="copy-design-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible(true); }">Copy Design From...</span>
				</div>

				<!-- <div class="copy-design-btn-wrapper">
					<span class="copy-design-btn" data-bind="click: function() {
																					$root.selectedCustomer().garmentsDesignStep.copyToManyPopUp(true);
																				}">Copy Design To...</span>
				</div> -->

			</div>

		</div>

		<div data-bind="if: $root.currentDesigingGarmentType">

			<div data-bind="with : $root.currentDesigingGarmentType">
				<!--
					Include each garment design file separately
				 -->
				<div data-bind="if: $data.garmentType == 'pants'">

					<div id="pantsDesignWrapper"></div>

				</div>

				<div data-bind="if: $data.garmentType == 'shirt'">

					<div id="shirtDesignWrapper"></div>

				</div>

				<div data-bind="if: $data.garmentType == 'vest'">

					<div id="vestDesignWrapper"></div>

				</div>

				<!--  -->
				<div data-bind="if: $data.garmentType == 'jacket'">

					<div id="jacketDesignWrapper"></div>

				</div>

				<div data-bind="if: $data.garmentType == 'suit'">

					<div id="suitDesignWrapper"></div>

				</div>



				<!--
					//.....................................................................................................
					//.........................................iii...................SSSSSS................................
					//.FFFFFFFFFFFa.........abbbb.............riiii.................SSSSSSSS...tttt........................
					//.FFFFFFFFFFFa.........abbbb.............riiii................SSSSSSSSSS..tttt........................
					//.FFFFFFFFFFFa.........abbbb.............riiii............... SSSSSSSSSSS.tttt........................
					//.FFFFF........aaaaaaa.abbbbbbbb..brrrrrrriiii..ccccccc...... SSSS..SSSSSStttttt.eeeeee..epppppppp....
					//.FFFFF......aaaaaaaaaaabbbbbbbbb.brrrrrrriiii.ccccccccc..... SSSSSS.SSSSStttttteeeeeeee.eppppppppp...
					//.FFFFFFFFFFFaaaaaaaaaaabbbbbbbbbbbrrrrrrriiiiiccccccccc..... SSSSSSSSS.SStttttteeeeeeeeeepppppppppp..
					//.FFFFFFFFFFFaaaa.aaaaaabbbb.bbbbbbrrrrr.riiiiicccc.cccc......SSSSSSSSSSS.tttt.teee..eeeeepppp.ppppp..
					//.FFFFFFFFFFF.aaaaaaaaaabbbb..bbbbbrrrr..riiiiiccc...ccc........SSSSSSSSS.tttttteeeeeeeeeepppp..pppp..
					//.FFFFF......aaaaaaaaaaabbbb..bbbbbrrrr..riiiiiccc........... SSS..SSSSSS.tttttteeeeeeeeeepppp..pppp..
					//.FFFFF......aaaaa.aaaaabbbb..bbbbbrrrr..riiiiiccc..cccc..... SSSS...SSSS.tttt.teee..eeeeepppp..pppp..
					//.FFFFF......aaaaaaaaaaabbbbbbbbbbbrrrr..riiiiiccccccccc..... SSSSSSSSSSS.tttttteeeeeeeeeepppppppppp..
					//.FFFFF......aaaaaaaaaaabbbbbbbbbbbrrrr..riiiiiccccccccc......SSSSSSSSSSS.tttttteeeeeeeeeepppppppppp..
					//.FFFFF......aaaaaaaaaaabbbbbbbbb.brrrr..riiii.cccccccc........SSSSSSSSS..tttttteeeeeeee.eppppppppp...
					//..............aaa..........bbb..................cccc............SSSSS......ttt...eeee...eppppppp.....
					//........................................................................................epppp........
					//........................................................................................epppp........
					//........................................................................................epppp........
					//.....................................................................................................
				-->

				<div data-bind="if: $root.currentDesignStep() && $root.currentDesignStep().name.toLowerCase() == 'fabric' ">

					<div class="fabric-customer-wrapper" data-bind="foreach: { data: $root.customers, as: 'customer' }">

						<div class="fabric-customer-block" data-bind="visible: customer.garmentsStep.garments().filter(el=>el.name == $root.currentDesigingGarmentType().garmentType.toLowerCase())[0].garments().length > 0">

							<div class="row">
								<div class="col-md-6">
									<h2 style="float: left;font-weight: 600;" data-bind="text: customer.full_name"></h2>
									<h2 style="color: red" data-bind="visible: customer.is_locked">IS LOCKED</h2>
								</div>
							</div>

							<hr>

							<div data-bind="if: !customer.is_locked">
								<!-- For each garment Category -->
								<div data-bind="foreach: { data: customer.garmentsStep.garments, as: 'gar_category' }">

									<div data-bind="if: gar_category.name.toLowerCase() == $root.currentDesigingGarmentType().garmentType.toLowerCase()">
										<!-- For each garment inside each category -->
										<div data-bind="foreach: { data: gar_category.garments, as: 'garment' }">

											<div class="row" style="padding-bottom: 15px;min-height: 80px;">

												<div class="col-md-2 no-padding" style="text-transform: capitalize;">
													<p data-bind="text: gar_category.name + ' #' + ($index()+1) " style="display: inline-block;margin: 0"></p>
													<input type="checkbox" class="order-checkbox" data-bind="checked: garment.fabricCheckbox, visible: garment.fabricInsearch() == '' ">
												</div>


												<div class="col-md-3 no-padding" style="display: flex;align-items: center;">

													<div class="col-md-8 no-padding">
														<input id="fabricinput" class="fabric-search-input" placeholder="Search Fabric..." type="text" data-bind="value: garment.fabricInsearch, valueUpdate: 'keyup', css : { 'selected-fabric-input' : garment.selectedFabric } " />
													</div>

													<div class="fabric-stock-level-div col-md-4 no-padding" data-bind="if: garment.selectedFabric">
														<div class="stock-level-div" data-bind="css : { 'in-stock-fabric' : garment.selectedFabric().in_stock == '1', 'out-stock-fabric' : garment.selectedFabric().in_stock == '0'} "></div>
													</div>

													<div data-bind="if: garment.fabricsInList().length">
														<div data-bind="foreach: garment.fabricsInList" class="fabric-list-wrapper">
															<div data-bind="text: title, click: function() { $root.selectGarmentFabric($data, garment); } " class="lioffabric"></div>
														</div>
													</div>

													<!-- fabric notes -->
													<div>
														<div class="open_style_notes" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).toggle(); }">SHOW</div>

														<!-- change width by garment type
															jacket : 4 category : 2  option: 53
															pants  : 1 category : 12 option: 55
															suit   : 6 category : 47 option: 157
															shirt  : 2 category : 29 option: 87
															vest   : 3 category : 20 option: 72
														-->
														<!-- ko if: garment.garment_id == "4" -->
														<div data-bind="with: garment.categories_map[2].options_map[53]">
															<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

																<div class="notes-textarea-wrapper">
																	<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																	<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																		and Close</button>
																</div>
															</div>

														</div>
														<!-- /ko -->
														<!-- ko if: garment.garment_id == "1" -->
														<div data-bind="with: garment.categories_map[12].options_map[55]">
															<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

																<div class="notes-textarea-wrapper">
																	<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																	<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																		and Close</button>
																</div>
															</div>

														</div>
														<!-- /ko -->
														<!-- ko if: garment.garment_id == "6" -->
														<div data-bind="with: garment.categories_map[47].options_map[157]">
															<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

																<div class="notes-textarea-wrapper">
																	<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																	<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																		and Close</button>
																</div>
															</div>

														</div>
														<!-- /ko -->
														<!-- ko if: garment.garment_id == "2" -->
														<div data-bind="with: garment.categories_map[29].options_map[87]">
															<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

																<div class="notes-textarea-wrapper">
																	<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																	<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																		and Close</button>
																</div>
															</div>

												</div>
														<!-- /ko -->
														<!-- ko if: garment.garment_id == "3" -->
														<div data-bind="with: garment.categories_map[20].options_map[72]">
															<div data-bind="attr: { id : 'notes-garment-style-' + garment.unique_id }" class="notes-pop-up" style="display: none">

																<div class="notes-textarea-wrapper">
																	<textarea class="comment notes-textarea" name="" id="" cols="30" rows="10" data-bind="value: $data.selectedValue"></textarea>
																	<button class="notes-save-btn" data-bind="click: function() { $('#notes-garment-style-' + garment.unique_id).hide(); } ">Save
																		and Close</button>
																</div>
															</div>

														</div>
														<!-- /ko -->


													</div>

												</div>

												<!-- image -->
												<div class="col-md-1 no-padding">
													<div data-bind="if: garment.selectedFabric()">
														<img class="garment-regular-fabric-img" data-bind="attr : {
																													src : garment.selectedFabric().title == 'CUSTOMERFABRIC' ?  garment.customerFabricImage() : garment.selectedFabric().fabricImage
																													}">
													</div>
												</div>

												<!-- is urgent -->
												<div class="col-md-2 no-padding">

													<div class="col-md-12 no-padding">
														<span>Is Urgent ?  </span>
														<input type="checkbox" class="order-checkbox" data-bind="checked: garment.isUrgent ">
													</div>

													<div class="col-md-12 no-padding" data-bind="visible: garment.isUrgent">
														<!-- <input type="text" placeholder="Date Required" class="datepicker garmentDataInput garment-required-date-input" data-bind="value: garment.urgentDate"> -->
														<div style="display: flex;">

															<div>

																<select name="DOB_day" id="DOB_day" data-bind="options        : $root.days,
																												value          : garment.selected_day,
																												optionsCaption : 'Day'">

																</select>

															</div>

															<div>

																<select name="DOB_month" id="DOB_month" data-bind="options        : $root.months,
																													optionsText    : 'name',
																													optionsValue   : 'id' ,
																													value          : garment.selected_month,
																													optionsCaption : 'Month'">

																</select>

															</div>

															<div>

																<select name="DOB_year" id="DOB_year" data-bind="options        : $root.years,
																												value          : garment.selected_year,
																												optionsCaption : 'Year'">

																</select>
															</div>

														</div>
													</div>

												</div>

												<!-- Start customer fabric -->
												<div class="customer-fabrics-wrapper col-md-4 no-padding">

													<div>
														<div class="col-md-5 no-padding">
															<span>Custom Fabric  </span>
															<input type="checkbox" class="order-checkbox" data-bind="checked: garment.useCustomerFabric ">
														</div>

														<div data-bind="if: garment.useCustomerFabric()" class="col-md-7 no-padding">

															<div class="col-md-5">
																<img class="customer-fabric-img" data-bind="attr : { src : garment.customerFabricImage }">
															</div>

															<div class="col-md-8 no-padding" style="">
																<input type="number" placeholder="meterage" step="0.1" min="0.0" max="10" data-bind="value: garment.customerFabricMeterage" style="width: 90%;">
															</div>

														</div>
													</div>

												</div>
												<!-- end customer fabric -->


											</div>

											<!-- platinum make option -->
											<!-- ko if: garment.garment_id == "2" -->
											<div class="row" style="padding-bottom: 15px;min-height: 80px;">
												<div class="col-md-12 no-padding" style="display: flex;align-items: center;">
													<span data-bind="click: function(){ console.log(garment); }" style="padding-left: 27px; padding-right: 27px;">Platinum Make ?  </span>
													<input type="checkbox" class="order-checkbox" data-bind="checked: garment.categories_map[29].options_map[251].selectedValue">
												</div>
											</div>
											<!-- /ko -->

											<!-- Custom Fabric Make option -->
											<!-- Custom fabric make option only in suit and selectedFabric is CUSTOM -->
											<!-- ko if: garment.garment_id == "6" && garment.useCustomerFabric() -->
												<div class="row">
													<div class="col-md-3">
														<select name="" id="" data-bind="options: garment.categories_map[47].options_map[255].values,
																						value: garment.categories_map[47].options_map[255].selectedValue,
																						optionsText: 'name',
																						optionsCaption: 'Set a Custom Fabric Make'">
														</select>
													</div>
												</div>

											<!-- /ko -->
											<!-- Custom Fabric Make option -->
											<!-- Custom fabric make option only in jacket and selectedFabric is CUSTOM -->
											<!-- ko if: garment.garment_id == "4" && garment.useCustomerFabric() -->
												<div class="row">
													<div class="col-md-3">
														<select name="" id="" data-bind="options: garment.categories_map[2].options_map[256].values,
																						value: garment.categories_map[2].options_map[256].selectedValue,
																						optionsText: 'name',
																						optionsCaption: 'Set a Custom Fabric Make'">
														</select>
													</div>
												</div>
											<!-- /ko -->

										</div>

									</div>

								</div>
							</div>



						</div> <!-- end fabric-customer-block -->
					</div>

				</div> <!-- End special Fabric code -->



			</div>

		</div>




	</div>



	<!-- Obsolete !!! -->
	<div data-bind="if: 0">
		<!-- Garments content -->
		<div data-bind="foreach: $root.selectedCustomer().garmentsStep.garments()">

			<div class="garment-element-wrapper" data-bind="foreach: $data.garments()">

				<div class="garment-element-el" data-bind="css: { 'garment-selected-el' : $root.selectedCustomer().garmentsDesignStep.selectedGarment().unique_id === $data.unique_id }">

					<!-- Garment design cat TABS -->
					<div class="design-cat-tab-wrapper">

						<div data-bind="foreach: $data.categories">
							<div class="design-cat-tab-el" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.selectCategory($data); $root.selectedCustomer().garmentsDesignStep.setOptionsVisited($data, $parent, true);},
														        													  css : {
																														  'selected-cat-el' : $data.selected,
																														  'complete-cat-el' : $data.completed() && $data.visited() && $data.name.toLowerCase() != 'custom data',
																														  'custom-cat-el' : $data.name.toLowerCase() == 'custom data'
																														} ">
								<span data-bind="text:$data.name"></span>

							</div>
						</div>

						<div class="copy-design-btn-wrapper">
							<span class="copy-design-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isCopyDesignPopUpVisible(true); }">Copy
								Design From...</span>
						</div>

						<div class="copy-design-btn-wrapper">
							<span class="copy-design-btn" data-bind="click: function() {
																																			$root.selectedCustomer().garmentsDesignStep.copyToManyPopUp(true);
																																		}">Copy
								Design To...</span>
						</div>

					</div>



					<br style="clear: both">

					<div data-bind="if: $root.selectedCustomer().garmentsDesignStep.selectedGarment().unique_id == $data.unique_id">

						<!--
																			Include each garment design file separately
														        		 -->
						<div data-bind="if: $data.garment_id == '1'">

							<div id="pantsDesignWrapper"></div>

						</div>

						<div data-bind="if: $data.garment_id == '2'">

							<div id="shirtDesignWrapper"></div>

						</div>

						<div data-bind="if: $data.garment_id == '3'">

							<div id="vestDesignWrapper"></div>

						</div>

						<!--  -->
						<div data-bind="if: $data.garment_id == '4'">

							<div id="jacketDesignWrapper"></div>

						</div>

						<div data-bind="if: $data.garment_id == '6'">

							<div id="suitDesignWrapper"></div>

						</div>




					</div>


					<!-- End incluging each desgin file -->


					<!-- Print the selected categoy data -->
					<!-- <pre data-bind="text: ko.toJSON($data, null, 2)"></pre> -->

				</div>

			</div>

		</div>
	</div>













	<!-- Saved Garments -->
	<!--
		███████╗ █████╗ ██╗   ██╗███████╗██████╗      ██████╗  █████╗ ██████╗ ███╗   ███╗███████╗███╗   ██╗████████╗███████╗
		██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗    ██╔════╝ ██╔══██╗██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
		███████╗███████║██║   ██║█████╗  ██║  ██║    ██║  ███╗███████║██████╔╝██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
		╚════██║██╔══██║╚██╗ ██╔╝██╔══╝  ██║  ██║    ██║   ██║██╔══██║██╔══██╗██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
		███████║██║  ██║ ╚████╔╝ ███████╗██████╔╝    ╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║
		╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═════╝      ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝

	-->
	<!-- Copy design pop up -->
	<div class="copy-design-pop-up" data-bind="visible: $root.selectedCustomer().garmentsDesignStep.isCopyDesignPopUpVisible">

		<div class="close-copy-design-pop-up" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isCopyDesignPopUpVisible(false); }">X</div>
		<div style="padding: 10px;">

			<h2 data-bind="text: 'Copy ' +  $root.selectedCustomer().full_name + ' ' + $root.selectedCustomer().garmentsDesignStep.selectedGarment().garment_name + ' design options ' "></h2>

			<!-- recover garment design in case of erro -->
			<div class="copy-design-btn-wrapper" >
				<span class="copy-design-btn" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible(true); }">saved
					designs</span>
			</div>


			<div data-bind="foreach: { data: $root.customers, as: 'customer' }">

				<div data-bind="foreach: { data: customer.garmentsStep.garments, as: 'gar_category' }">

					<!-- Can only copy if the garment is of the same type -->
					<span data-bind="if: gar_category.id == $root.selectedCustomer().garmentsDesignStep.selectedGarment().garment_id">

						<span data-bind="if: gar_category.garments().length">
							<h3 data-bind="text: customer.full_name"></h3>
						</span>

						<div data-bind="foreach: { data: gar_category.garments, as: 'garment' }">

							<div class="garment-copy-el" data-bind="visible: $root.selectedCustomer().garmentsDesignStep.selectedGarment().unique_id != garment.unique_id,
																	click: function() { $root.selectedCustomer().garmentsDesignStep.copyDesign(garment, $root.selectedCustomer().garmentsDesignStep.selectedGarment()); }">

								<span data-bind="text: gar_category.name + ' ' + ($index()+1) "></span>

								<span data-bind="if: garment.selectedFabric">
									<span data-bind="text: garment.selectedFabric().title"></span>
								</span>

								<span data-bind="if: !garment.selectedFabric()">
									<span> - No Fabric Yet</span>
								</span>

							</div>

						</div>

					</span>
				</div>

			</div>
		</div>

	</div>

	<!-- Recover saved Designs -->
	<!-- orders.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible(true) -->
	<div class="copy-design-pop-up" data-bind="visible: $root.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible">
		<div class="close-copy-design-pop-up" data-bind="click: function() { $root.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible(false); }">X</div>

		<!-- for debbug only -->
		<!-- <div data-bind="foreach: $root.selectedCustomer().garmentsDesignStep.loadGarmentFromLocalStorage()">
			<span data-bind="click: console.log('$data', $data)">
			</span>
		</div> -->


		<table class="designTables">
			<tr>
				<th>Customer Name</th>
				<th>Garment</th>
				<th>Fabric</th>
				<th>Salesman</th>
				<th>Date</th>
			</tr>

			<tbody data-bind="foreach: $root.selectedCustomer().garmentsDesignStep.loadSpecificGarmentFromStorage($root.currentGarmentInstance().garmentType)">
				<!-- <tr data-bind="click: function() {$root.selectedCustomer().garmentsDesignStep.copyFromSavedDesign($data.design, $root.currentGarmentInstance().garment)}"> -->
				<tr data-bind="click: function() {
						$root.selectedCustomer().garmentsDesignStep.garmentToCopyFrom($data.design);
						$root.selectedCustomer().garmentsDesignStep.witchGarmentRecoverDesignPopUpVisible(true);
						$root.selectedCustomer().garmentsDesignStep.isRecoverDesignPopUpVisible(false);
					}">
					<td data-bind="text: $data.customer.full_name"></td>

					<td data-bind="text: $data.design.garment_name"></td>

					<td data-bind="text: $root._getFabricFromCategoriesList($data.design.categories, $data.design.garment_id)"></td>

					<td data-bind="text: $data.user.username"></td>

					<td data-bind="text: $data.date"></td>
				</tr>

			</tbody>

		</table>

	</div>

	<!-- deprecated -->
	<!-- "copy to many" pop-up -->
	<div class="copy-design-pop-up" data-bind="visible : $root.selectedCustomer().garmentsDesignStep.copyToManyPopUp,
											   with    : $root.selectedCustomer().garmentsDesignStep">
		<!-- ko if: $root.selectedCustomer().garmentsDesignStep.copyToManyPopUp -->
			<div class="close-copy-design-pop-up" data-bind="click: function() { copyToManyPopUp(false); }">X</div>

			<table class="designTables">
				<tr>
					<th>Garment</th>
					<th>Fabric</th>
					<th>Select</th>

				</tr>

				<tbody data-bind="foreach: loadGarmentsByType($root.selectedCustomer().garmentsDesignStep.selectedGarment().garment_name)">
					<tr>
						<td data-bind="text: $data.garment_name"></td>

						<td data-bind="text: $data.selectedFabric() ? $data.selectedFabric().title : 'none' "></td>

						<td>
							<input type="checkbox" name="must_copy" id="" checked data-bind="attr:{'data-garment' : $data.unique_id}">
						</td>
					</tr>
				</tbody>


			</table>

			<button data-bind="click: function() {copyToMany()}">copy!!!</button>
		<!-- /ko -->

	</div>

	<!-- select which garment copy to -->
	<div class="copy-design-pop-up" data-bind="visible  : $root.selectedCustomer().garmentsDesignStep.witchGarmentRecoverDesignPopUpVisible,
												with    : $root.selectedCustomer().garmentsDesignStep">
		<div class="close-copy-design-pop-up" data-bind="click: function() { witchGarmentRecoverDesignPopUpVisible(false); }">X</div>

		<!-- for debbug only -->
		<!-- <div data-bind="foreach: loadGarmentFromLocalStorage()">
			<span data-bind="click: console.log('$data', $data)">
			</span>
		</div> -->


		<table class="designTables">
			<tr>
				<th>Select</th>
				<th>Customer Name</th>
				<th>Garment</th>
				<th>Fabric</th>
			</tr>

			<tbody data-bind="foreach: loadGarmentsByType($root.currentGarmentInstance().garmentType)">
				<tr>
					<td>
						<input type="checkbox" class="preorder-checkbox" name="garmentSelectedToCopy" data-role="none" data-bind="attr:{'data-garment' :  $data.garment.unique_id}">
					</td>

					<td data-bind="text: $data.customer.full_name"></td>

					<td data-bind="text: $data.garment.garment_name+' #'+($index()+1)"></td>

					<td data-bind="text: $data.garment.selectedFabric() ? $data.garment.selectedFabric().title : 'none'"></td>
				</tr>

			</tbody>

		</table>

		<button data-bind="click : function() { copyToMany2(fromGarment = garmentToCopyFrom()); }">Copy!!</button>

	</div>


<script>


	$('#pantsDesignWrapper').load('garments_designs/pantsDesign2.htm');
	$('#shirtDesignWrapper').load('garments_designs/shirtDesign2.htm');
	$('#vestDesignWrapper').load('garments_designs/vestDesign2.htm');
	$('#jacketDesignWrapper').load('garments_designs/jacketDesign2.htm');
	$('#suitDesignWrapper').load('garments_designs/suitDesign2.htm');

	// Include external design files


</script>

	<div style="margin-bottom: 100px;"></div>

</div>