<div data-role="page" id="loginPage" class="bgBody">
	<div data-role="content">
    	<div class="content-wrapper">
        	<div class="container_12">
            	<div id="iIntroLogo">
                	<img src="http://shirt-tailor.net/thepos/appimg/template/intrologo.png" data-bind="click: resetApp"/>
             	</div>
             	<div id="iBespoken">
                	<img src="http://shirt-tailor.net/thepos/appimg/template/bespoke.png" />
              	</div>
             	<div class="grid_6" id="cname">
             		<div data-role="fieldcontain">
                    	<img src="http://shirt-tailor.net/thepos/appimg/template/username.png" class="grid_3 prefix_3" />
							<div class="grid_6">
								<input type="text" data-bind="value: username, valueUpdate: 'afterkeydown'" data-theme="d" />
							</div>
						</div>	
					</div>
					<div class="grid_6" id="cpass">
						<div data-role="fieldcontain">
							<img src="http://shirt-tailor.net/thepos/appimg/template/password.png"  class="grid_3" />
							<div class="grid_6">
								<input type="password"  data-bind="value: password, valueUpdate: 'afterkeydown'" data-theme="d" />
							</div>
						</div>	
					</div>
					<div class="grid_4 prefix_4">
						<div class="bLogin" data-bind="click: login, visible: showButton" data-role="button">Log in</div>
					</div>
				</div>
			</div>
		
		</div>
   	</div>