<div data-role="page" id="measurements" class="bgBody">
    <div data-bind="template: {name: 'stepstemplate'}"></div>
    <div data-role="content" class="panwapola" data-theme="c" style="background:none !important; border:none;">
        <div class="content-wrapper">
            <div class="container_12" >
                <div class="grid_12" data-bind="if: measurementsVM.garmentsList()()[0].count == 0 &&  measurementsVM.garmentsList()()[1].count == 0 &&  measurementsVM.garmentsList()()[2].count == 0 &&  measurementsVM.garmentsList()()[3].count == 0 &&  measurementsVM.garmentsList()()[4].count == 0">
                    <div class="uphinttitle">There are no selected garments yet</div>
                </div>
                <div data-bind="with: measurementsVM " class="grid_12">
                    <div class="container_16">
                        <ul data-bind="foreach: garmentsList2()()" class="garmentselection">
                            <li name="selectgarmentDiv" id="daimage" data-bind="click:$parent.selectedGarment, css: {  'selected': $data.name === $parent.selectedGarment().name, 'completed': $parent.checkcompleted($data.name) === true},  visible: $data.count !== 0" onclick="showmeasurements()" >
                                <div class="rouxos" data-bind="css:bgclass"><span class="nameunderouxo" data-bind="text: namez"></span></div>
                            </li>
                        </ul>
                        <div class="grid_3  prefix_2" data-bind="visible: $parent.measurementsVM.garmentsList()()[0].count > 0 || $parent.measurementsVM.garmentsList()()[2].count > 0">
                            <select id="fitlineselect" data-role="none" data-bind="value: indexJacket, options: fitlinesJacket, optionsValue: 'jacketId', optionsText: 'jacketName', optionsCaption: 'Select Fitline', selectedIndexJacket:indexJacket" data-mini="true">
                            </select>
                            <!--<div class="mycheck mychecknews enabled" onclick="showfitlines()" style="display:none;"> <span>Fitline Media</span> </div>-->
                        </div>
                    </div>
                    <div id="measurementsDiv2" data-bind="with: selectedGarment, updateFormOnChange: true, css: {'hidden' : selectedGarment().name === 'none'}" class="fieldsMeasurements grid_12">
                        <div id="measurementsDiv"  class="fieldsMeasurements grid_12" >
                            <div class="grid_9" data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">
                                <h2>Jacket's Measurements</h2>
                                <h6>Measurement Date:<span data-bind="text: $parent.jacketDate"></span></h6>
                                <div class="grid_12">
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}">
                                        <label for="jacketChest">Chest</label>
                                        <input type="tel"  name="jacketChest" id="jacketChest" data-bind="value: $parent.jacketChest, modifiedJacketChest:$parent.jacketChest, style: {background: $parent.jacketChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0" class="measurehelpers"> <span name="jacketChestRule" id="jacketChestRule" data-bind="text: $parent.fitlineJacketVM.jacketChestRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}">
                                        <label for="jacketStomach">Stomach</label>
                                        <input type="tel"  name="jacketStomach" id="jacketStomach" data-bind="value: $parent.jacketStomach, modifiedJacketStomach:$parent.jacketStomach, style: {background: $parent.jacketStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketStomachRule" id="jacketStomachRule" data-bind="text: $parent.fitlineJacketVM.jacketStomachRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}">
                                        <label for="jacketfullShoulder">Full Shoulder</label>
                                        <input type="tel"  name="jacketfullShoulder"  id="jacketfullShoulder" data-bind="value: $parent.jacketfullShoulder, style: {background: $parent.jacketfullShoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketFullShoulderRule" id="jacketFullShoulderRule" data-bind="text: $parent.fitlineJacketVM.jacketFullShoulderRule"  ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketsleeveL">Left Sleeve</label>
                                        <input type="tel"  name="jacketsleeveL"  id="jacketsleeveL" data-bind="value: $parent.jacketsleeveL, style: {background: $parent.jacketsleeveL() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketLeftSleeveRule" id="jacketLeftSleeveRule" data-bind="text: $parent.fitlineJacketVM.jacketLeftSleeveRule"  ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketsleeveR">Right Sleeve</label>
                                        <input type="tel"  name="jacketsleeveR" id="jacketsleeveR" data-bind="value: $parent.jacketsleeveR, style: {background: $parent.jacketsleeveR() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketRightSleeveRule" id="jacketRightSleeveRule" data-bind="text: $parent.fitlineJacketVM.jacketRightSleeveRule"  ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketBack">Back</label>
                                        <input type="tel"  name="jacketBack" id="jacketBack" data-bind="value: $parent.jacketBack, modifiedJacketBack:$parent.jacketBack, style: {background: $parent.jacketBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketBackRule" id="jacketBackRule" data-bind="text: $parent.fitlineJacketVM.jacketBackRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketFront">Front</label>
                                        <input type="tel"  name="jacketFront" id="jacketFront" data-bind="value: $parent.jacketFront, modifiedJacketFront:$parent.jacketFront, style: {background: $parent.jacketFront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketFrontRule" id="jacketFrontRule" data-bind="text: $parent.fitlineJacketVM.jacketFrontRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketNeck">Neck</label>
                                        <input type="tel"  name="jacketNeck" id="jacketNeck" data-bind="value: $parent.jacketNeck,  style: {background: $parent.jacketNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketNeckRule" id="jacketNeckRule" data-bind="text: $parent.fitlineJacketVM.jacketNeckRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketBicep">Bicep</label>
                                        <input type="tel"  name="jacketBicep" id="jacketBicep" data-bind="value: $parent.jacketBicep, modifiedJacketBicep:$parent.jacketBicep, style: {background: $parent.jacketBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketBicepRule" id="jacketBicepRule" data-bind="text: $parent.fitlineJacketVM.jacketBicepRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketWrist">Wrist</label>
                                        <input type="tel"  name="jacketWrist" id="jacketWrist" data-bind="value: $parent.jacketWrist, modifiedJacketWrist:$parent.jacketWrist, style: {background: $parent.jacketWrist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketWristRule" id="jacketWristRule" data-bind="text: $parent.fitlineJacketVM.jacketWristRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketforeArms">Forearm</label>
                                        <input type="tel"  name="jacketforeArms" id="jacketforeArms" data-bind="value: $parent.jacketforeArms, modifiedForearm: $parent.jacketforeArms, style: {background: $parent.jacketforeArms() <=0 ? '#868686' : '#3c3c3b'}" value="" />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketForearmRule" id="jacketForearmRule" data-bind="text: $parent.fitlineJacketVM.jacketForearmRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketHips">Hips</label>
                                        <input type="tel"  name="jacketHips" id="jacketHips" data-bind="value: $parent.jacketHips, style: {background: $parent.jacketHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <!--  modifiedJacketHips:$parent.jacketHips, -->
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketHipsRule" id="jacketHipsRule" data-bind="text: $parent.fitlineJacketVM.jacketHipsRule"  ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketLength">Jacket Length</label>
                                        <input type="tel"  name="jacketLength" id="jacketLength" data-bind="value: $parent.jacketLength, style: {background: $parent.jacketLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketJacketLengthRule" id="jacketJacketLengthRule" data-bind="text: $parent.fitlineJacketVM.jacketJacketLengthRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketLapel">Lapel Length</label>
                                        <input type="tel"  name="jacketLapel" id="jacketLapel" data-bind="value: $parent.jacketLapel, style: {background: $parent.jacketLapel() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketLapelLengthRule" id="jacketLapelLengthRule" data-bind="text: $parent.fitlineJacketVM.jacketLapelLengthRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketZeropoint">Zero Point</label>
                                        <input type="tel"  name="jacketZeropoint" id="jacketZeropoint" data-bind="value: $parent.jacketZeropoint, modifiedJacketZeroPoint: $parent.jacketZeropoint, style: {background: $parent.jacketZeropoint() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketZeroPointRule" id="jacketZeroPointRule" data-bind="text: $parent.fitlineJacketVM.jacketZeroPointRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketZeropointfront">Left Front  to Zero</label>
                                        <input type="tel"  name="jacketZeropointfront" id="jacketZeropointfront" data-bind="value: $parent.jacketZeropointfront, modifiedJacketFrontToZero: $parent.jacketZeropointfront, style: {background: $parent.jacketZeropointfront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketFrontSZeroRule" id="jacketFrontSZeroRule" data-bind="text: $parent.fitlineJacketVM.jacketFrontSZeroRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketZeropointback">Left Back to Zero</label>
                                        <input type="tel"  name="jacketZeropointback"  id="jacketZeropointback" data-bind="value: $parent.jacketZeropointback, modifiedJacketBackToZero: $parent.jacketZeropointback, style: {background: $parent.jacketZeropointback() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketSBackSZeroRule" id="jacketSBackSZeroRule" data-bind="text: $parent.fitlineJacketVM.jacketSBackSZeroRule" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketRightFrontToZero">Right Front  to Zero</label>
                                        <input type="tel"  name="jacketRightFrontToZero" id="jacketRightFrontToZero" data-bind="value: $parent.jacketRightFrontToZero, modifiedJacketFrontToZeroRight: $parent.jacketRightFrontToZero, style: {background: $parent.jacketRightFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketFrontSZeroRule" id="jacketFrontSZeroRule" data-bind="text: $parent.fitlineJacketVM.jacketFrontSZeroRule"></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketRightBackToZero">Right Back to Zero</label>
                                        <input type="tel"  name="jacketRightBackToZero"  id="jacketRightBackToZero" data-bind="value: $parent.jacketRightBackToZero, modifiedJacketBackToZeroRight: $parent.jacketRightBackToZero, style: {background: $parent.jacketRightBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketSBackSZeroRule" id="jacketSBackSZeroRule" data-bind="text: $parent.fitlineJacketVM.jacketSBackSZeroRuleRight" ></span> </div>
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='jacket' && name!='suit'}" >
                                        <label for="jacketTenseBicep">Tense Bicep</label>
                                        <input type="tel"  name="jacketTenseBicep"  id="jacketTenseBicep" data-bind="value: $parent.jacketTenseBicep, modifiedJacketTenseBicep: $parent.jacketTenseBicep, style: {background: $parent.jacketTenseBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                        <div data-bind="visible: $parent.indexJacket()>0"  class="measurehelpers"> <span name="jacketSBackSZeroRule" id="jacketSBackSZeroRule" data-bind="text: $parent.fitlineJacketVM.jacketSBackSZeroRuleRight" ></span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_3 disfix" data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">
                                <h6>Jacket Notes</h6>
                                <textarea name="jacketComments" data-bind="value: $parent.jacketComments" value="" ></textarea>
                            </div>
                            <div class="grid_9"  data-bind="css: {'hidden': name!=='pants' && name!=='suit'}">
                                <h2>Pant's Measurements</h2>
                                <h6>Measurement Date:<span data-bind="text: $parent.pantsDate"></span></h6>
                                <div class="grid_12 allmeasures">
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}" >
                                        <label for="pantWaist">Pant Waist</label>
                                        <input type="tel"  name="pantWaist" id="pantWaist" data-bind="value: $parent.pantWaist, style: {background: $parent.pantWaist() <=0 ? '#868686' : '#3c3c3b'}" >
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}" >
                                        <label for="pantHips">Hips</label>
                                        <input type="tel"  name="pantHips" id="pantHips" data-bind="value: $parent.pantHips, style: {background: $parent.pantHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="thigh">Thigh</label>
                                        <input type="tel"  name="thigh" id="thigh" data-bind="value: $parent.thigh, style: {background: $parent.thigh() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="pantLength">Pant Length</label>
                                        <input type="tel"  name="pantLength" id="pantLength" data-bind="value: $parent.pantLength, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
									<div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
										<label for="Knee">Knee</label>
										<input type="tel"  name="Knee" id="Knee" data-bind="value: $parent.knee, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
									  </div>
									  <div data-bind="css: { 'hidden': name!=='pants' && name!='suit'}"  class="measurements_grid">
										<label for="Calf">Calf</label>
										<input type="tel"  name="Calf" id="Calf" data-bind="value: $parent.calf, style: {background: $parent.pantLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
									  </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="cuffs">Cuffs</label>
                                        <input type="tel"  name="cuffs" id="cuffs" data-bind="value: $parent.cuffs, style: {background: $parent.cuffs() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="crotch">Crotch</label>
                                        <input type="tel"  name="crotch" id="crotch" data-bind="value: $parent.crotch, style: {background: $parent.crotch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="zipper">Zipper Length</label>
                                        <input type="tel"  name="zipper" id="zipper" data-bind="value: $parent.zipper, style: {background: $parent.zipper() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="pantFrontCrotch">Front Crotch</label>
                                        <input type="tel"  name="pantFrontCrotch" id="pantFrontCrotch" data-bind="value: $parent.pantFrontCrotch, style: {background: $parent.pantFrontCrotch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" >
                                        <label for="pantInseam">Inseam</label>
                                        <input type="tel"  name="pantInseam" id="pantInseam" data-bind="value: $parent.pantInseam, style: {background: $parent.pantInseam() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="cb"></div>
                                    <div class="gAttr" data-target-attr="$parent.pantAngledHems" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}">
                                        <div class="grid_16">
                                            <div class="mycheck mychecknews" id="pantAngledHems" data-bind="click: function(){ $parent.pantAngledHems(!$parent.pantAngledHems());  }, css: {enabled: $parent.pantAngledHems() }">Angled Pant Hems</div>
                                        </div>
                                    </div>
                                    <div class="gAttr" data-target-attr="$parent.pantAngledWaist" data-bind="css: { 'hidden': name!=='pants' && name!='suit'}" style="display:none;">
                                        <div class="grid_16">
                                            <div class="mycheck mychecknews" id="pantAngledWaist" data-bind="click: function(){ $parent.pantAngledWaist(!$parent.pantAngledWaist());  }, css: {enabled: $parent.pantAngledWaist() }">Angled Pant Waist? </div>
                                        </div>
                                    </div>
                                    <div class="grid_3" data-bind="css: { 'hidden': name!=='pants' && name!='suit' || $parent.pantAngledWaist() != true}" style="display:none;">
                                        <div class="grid_12">
                                            <div class="gAttr" data-target-attr="$parent.pantWaistAngle">
                                                <div class="mycheck mychecknews" id="pantWaistAngle" data-bind="click: function(){ $parent.pantWaistAngle('Standard + 0.5'); }, css: {enabled: $parent.pantWaistAngle() === 'Standard + 0.5' }"> Standard + 0.5" </div>
                                            </div>
                                        </div>
                                        <div class="grid_12">
                                            <div class="gAttr" data-target-attr="$parent.pantWaistAngle">
                                                <div class="mycheck mychecknews" id="pantWaistAngle" data-bind="click: function(){ $parent.pantWaistAngle('Severe + 0.75'); }, css: {enabled: $parent.pantWaistAngle() === 'Severe + 0.75' }"> Severe + 0.75" </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_3 disfix" data-bind="css: { 'hidden': name!=='pants' && name!=='suit'}">
                                <h6>Pant Notes</h6>
                                <textarea name="pantsComments" data-bind="value: $parent.pantsComments" value="" ></textarea>
                            </div>
                            <div class="grid_9" data-bind="css: { 'hidden': name!=='shirt'}">
                                <h2>Shirt's Measurements</h2>
                                <h6>Measurement Date:<span data-bind="text: $parent.shirtDate"></span></h6>
                                <div class="grid_12 allmeasures">
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtChest">Chest</label>
                                        <input type="tel"  name="shirtChest" id="shirtChest" data-bind="value: $parent.shirtChest, style: {background: $parent.shirtChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtStomach">Stomach</label>
                                        <input type="tel"  name="shirtStomach" id="shirtStomach" data-bind="value: $parent.shirtStomach, style: {background: $parent.shirtStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtfullshoulder">Full Shoulder</label>
                                        <input type="tel"  name="shirtfullshoulder" id="shirtfullshoulder" data-bind="value: $parent.shirtfullshoulder, style: {background: $parent.shirtfullshoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtsleeveL">Left Sleeve</label>
                                        <input type="tel"  name="shirtsleeveL" id="shirtsleeveL" data-bind="value: $parent.shirtsleeveL, style: {background: $parent.shirtsleeveL() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtsleeveR">Right Sleeve</label>
                                        <input type="tel"  name="shirtsleeveR" id="shirtsleeveR" data-bind="value: $parent.shirtsleeveR, style: {background: $parent.shirtsleeveR() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtBack">Back</label>
                                        <input type="tel"  name="shirtBack" id="shirtBack" data-bind="value: $parent.shirtBack, style: {background: $parent.shirtBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtFront">Front</label>
                                        <input type="tel"  name="shirtFront" id="shirtFront" data-bind="value: $parent.shirtFront, style: {background: $parent.shirtFront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtNeck">Neck</label>
                                        <input type="tel"  name="shirtNeck" id="shirtNeck" data-bind="value: $parent.shirtNeck, style: {background: $parent.shirtNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtBicep">Bicep</label>
                                        <input type="tel"  name="shirtBicep" id="shirtBicep" data-bind="value: $parent.shirtBicep, style: {background: $parent.shirtBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtWrist">Wrist</label>
                                        <input type="tel"  name="shirtWrist" id="shirtWrist" data-bind="value: $parent.shirtWrist, style: {background: $parent.shirtWrist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtWristwatch">Wrist with watch</label>
                                        <input type="tel"  name="shirtWristwatch" id="shirtWristwatch" data-bind="value: $parent.shirtWristwatch, style: {background: $parent.shirtWristwatch() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtLength">Shirt Length</label>
                                        <input type="tel"  name="shirtLength" id="shirtLength" data-bind="value: $parent.shirtLength, style: {background: $parent.shirtLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtHips">Hips</label>
                                        <input type="tel"  name="shirtHips" id="shirtHips" data-bind="value: $parent.shirtHips, style: {background: $parent.shirtHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtZeroPoint">Zero Point</label>
                                        <input type="tel"  name="shirtZeroPoint" id="shirtZeroPoint" data-bind="value: $parent.shirtZeroPoint, style: {background: $parent.shirtZeroPoint() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtFrontToZero">Left Front to Zero</label>
                                        <input type="tel"  name="shirtFrontToZero" id="shirtFrontToZero" data-bind="value: $parent.shirtFrontToZero, style: {background: $parent.shirtFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtBackToZero">Left Back to Zero</label>
                                        <input type="tel"  name="shirtBackToZero" id="shirtBackToZero" data-bind="value: $parent.shirtBackToZero, style: {background: $parent.shirtBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtRightFrontToZero">Right Front to Zero</label>
                                        <input type="tel"  name="shirtRightFrontToZero" id="shirtRightFrontToZero" data-bind="value: $parent.shirtRightFrontToZero, style: {background: $parent.shirtRightFrontToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtRightBackToZero">Right Back to Zero</label>
                                        <input type="tel"  name="shirtRightBackToZero" id="shirtRightBackToZero" data-bind="value: $parent.shirtRightBackToZero, style: {background: $parent.shirtRightBackToZero() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtTenseBicep">Tense Bicep</label>
                                        <input type="tel"  name="shirtTenseBicep" id="shirtTenseBicep" data-bind="value: $parent.shirtTenseBicep, style: {background: $parent.shirtTenseBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='shirt' }" >
                                        <label for="shirtForearm">Forearm</label>
                                        <input type="tel"  name="shirtForearm" id="shirtForearm" data-bind="value: $parent.shirtForearm, style: {background: $parent.shirtForearm() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                </div>
                            </div>
                            <div class="grid_3 disfix" data-bind="css: { 'hidden': name!=='shirt'}">
                                <h6>Shirt Notes</h6>
                                <textarea name="shirtComments" data-bind="value: $parent.shirtComments" value="" ></textarea>
                            </div>
                            <div class="grid_9" data-bind="css: { 'hidden': name!=='vest'}">
                                <h2>Vest's Measurements</h2>
                                <h6>Measurement Date:<span data-bind="text: $parent.vestDate"></span></h6>
                                <div class="grid_12 allmeasures">
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestChest">Chest</label>
                                        <input type="tel"  name="vestChest" id="vestChest" data-bind="value: $parent.vestChest, style: {background: $parent.vestChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestStomach">Stomach</label>
                                        <input type="tel"  name="vestStomach" id="vestStomach" data-bind="value: $parent.vestStomach, style: {background: $parent.vestStomach() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestLength">Vest length</label>
                                        <input type="tel"  name="vestLength" id="vestLength" data-bind="value: $parent.vestLength, style: {background: $parent.vestLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestHips">Hips at Vest length</label>
                                        <input type="tel"  name="vestHips" id="vestHips" data-bind="value: $parent.vestHips, style: {background: $parent.vestHips() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }"  >
                                        <label for="vestNeck">Neck</label>
                                        <input type="tel"  name="vestNeck" id="vestNeck" data-bind="value: $parent.vestNeck, style: {background: $parent.vestNeck() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestfullShoulder">Full Shoulder</label>
                                        <input type="tel"  name="vestfullShoulder" id="vestfullShoulder" data-bind="value: $parent.vestfullShoulder, style: {background: $parent.vestfullShoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestVLength">Vest V to button</label>
                                        <input type="tel"  name="vestVLength" id="vestVLength" data-bind="value: $parent.vestVLength, style: {background: $parent.vestVLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                    <div class="measurements_grid" data-bind="css: { 'hidden': name!=='vest' }" >
                                        <label for="vestHalfShoulderWidth">Half Shoulder Width</label>
                                        <input type="tel"  name="vestHalfShoulderWidth" id="vestHalfShoulderWidth" data-bind="value: $parent.vestHalfShoulderWidth, style: {background: $parent.vestHalfShoulderWidth() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                    </div>
                                </div>
                            </div>
                            <div class="grid_3 disfix" data-bind="css: { 'hidden': name!=='vest'}">
                                <h6>Vest Notes</h6>
                                <textarea name="vestComments" data-bind="value: $parent.vestComments" value="" ></textarea>
                            </div>
                        </div>
                        <div class="grid_3" data-bind="css: { 'hidden': name!=='overcoat'}">
                            <h6>Overcoat Notes</h6>
                            <textarea name="overcoatComments" data-bind="value: $parent.overcoatComments" value="" ></textarea>
                        </div>
                    </div>
                    <div id="fitlinesDiv" style="display: none"  class="fieldsMeasurements grid_12">
                        <div>
                            <h3>Select Jacket Fitline &amp; upload at least three images</h3>
                            <div class="grid_2"></div>
                            <!-- Fitline uploader start here -->
                            <div id="fitlineimages">
                                <div class="grid_12">
                                    <div class="grid_3 prefix_4 suffix_5">
                                        <input id="fitlinefiles" type="file" accept="image/*" />
                                        <div id="fitlineMediaBtn" data-role="button">Upload media</div>
                                    </div>
                                    
                                    <!--
                          <div id="popup_box">
                              <div class="form_panel">
                                  <div class="row">
                                      <div class="label">Type your fitline notes</div>
                                      <div class='field'><input type='text' class='title' /></div>
                                  </div>
                                  <div class="row">
                                      <div class='field'>
                                          <input type='button' value='Add Tag' onclick='addTag()' />
                                      </div>
                                  </div>
                                  <a id="popupBoxClose">Close</a>	
                              </div> 
                          </div>				
                          -->
                                    
                                    <div id="popup_box" style="width: 100%;">
                                        <div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" onclick="javascript:closeDialog();">Close</a>
                                            <p class="media_pops">Type your fitline comments
                                                <input type="text" class="title"/>
                                                <input type="button" value="Add Tag" data-mini="true" onclick="addTag()" />
                                            </p>
                                        </div>
                                    </div>
                                    <output id="fitlineslist"></output>
                                </div>
                            </div>
                            <div class="grid_12" style="display:block; padding:100px 0px;"></div>
                            <!-- Measurements Filtline start here -->
                            <div data-bind="css: { 'hidden': name!=='stealthy'}" class="ui-field-contains">
                                <label for="jacketName">jacketName</label>
                                <input type="text"  name="jacketName" data-bind="value: fitlineJacketVM.jacketName, style: {background: fitlineJacketVM.jacketName() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                            </div>
                            <div data-bind="css: { 'hidden': name!=='stealthy'}" class="ui-field-contains">
                                <label for="jacketId">jacketId</label>
                                <input type="text"  name="jacketId" data-bind="value: fitlineJacketVM.jacketId, style: {background: fitlineJacketVM.jacketId() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                            </div>
                            <h1 class="panwtitlosh" data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">You are making changes on the Jacket Fitline </h1>
                            <div style="display:none;">
                                <div  class="ui-field-contains">
                                    <label for="jacketAcrossBack">Across Back</label>
                                    <input type="tel"  name="jacketAcrossBack" data-bind="value: fitlineJacketVM.jacketAcrossBack, style: {background: fitlineJacketVM.jacketAcrossBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketAcrossShoulder">Across Shoulder</label>
                                    <input type="tel"  name="jacketAcrossShoulder" data-bind="value: fitlineJacketVM.jacketAcrossShoulder, style: {background: fitlineJacketVM.jacketAcrossShoulder() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketBackPanelAtXBack">Back Panel At X Back</label>
                                    <input type="tel"  name="jacketBackPanelAtXBack" data-bind="value: fitlineJacketVM.jacketBackPanelAtXBack, style: {background: fitlineJacketVM.jacketBackPanelAtXBack() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketBackPanelBottomEdge">Back Panel Bottom Edge</label>
                                    <input type="tel"  name="jacketBackPanelBottomEdge" data-bind="value: fitlineJacketVM.jacketBackPanelBottomEdge, style: {background: fitlineJacketVM.jacketBackPanelBottomEdge() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketBackPanelChest">Back Panel Chest</label>
                                    <input type="tel"  name="jacketBackPanelChest" data-bind="value: fitlineJacketVM.jacketBackPanelChest, style: {background: fitlineJacketVM.jacketBackPanelChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketBackPanelHip">Back Panel Hip</label>
                                    <input type="tel"  name="jacketBackPanelHip" data-bind="value: fitlineJacketVM.jacketBackPanelHip, style: {background: fitlineJacketVM.jacketBackPanelHip() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketBackPanelTrueWaist">Back Panel True Waist</label>
                                    <input type="tel"  name="jacketBackPanelTrueWaist" data-bind="value: fitlineJacketVM.jacketBackPanelTrueWaist, style: {background: fitlineJacketVM.jacketBackPanelTrueWaist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFitlineBicep">Bicep</label>
                                    <input type="tel"  name="jacketFitlineBicep" data-bind="value: fitlineJacketVM.jacketFitlineBicep, style: {background: fitlineJacketVM.jacketFitlineBicep() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketCenterBackLength">Center Back Length</label>
                                    <input type="tel"  name="jacketCenterBackLength" data-bind="value: fitlineJacketVM.jacketCenterBackLength, style: {background: fitlineJacketVM.jacketCenterBackLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketElbow">Elbow</label>
                                    <input type="tel"  name="jacketElbow" data-bind="value: fitlineJacketVM.jacketElbow, style: {background: fitlineJacketVM.jacketElbow() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFrontLength">Front Length</label>
                                    <input type="tel"  name="jacketFrontLength" data-bind="value: fitlineJacketVM.jacketFrontLength, style: {background: fitlineJacketVM.jacketFrontLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFrontPanelChest">Front Panel Chest</label>
                                    <input type="tel"  name="jacketFrontPanelChest" data-bind="value: fitlineJacketVM.jacketFrontPanelChest, style: {background: fitlineJacketVM.jacketFrontPanelChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFrontPanelHip">Front Panel Hip</label>
                                    <input type="tel"  name="jacketFrontPanelHip" data-bind="value: fitlineJacketVM.jacketFrontPanelHip, style: {background: fitlineJacketVM.jacketFrontPanelHip() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFrontPanelTrueWaist">Front Panel True Waist</label>
                                    <input type="tel"  name="jacketFrontPanelTrueWaist" data-bind="value: fitlineJacketVM.jacketFrontPanelTrueWaist, style: {background: fitlineJacketVM.jacketFrontPanelTrueWaist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketFrontSideSeamLength">Front Side Seam Length</label>
                                    <input type="tel"  name="jacketFrontSideSeamLength" data-bind="value: fitlineJacketVM.jacketFrontSideSeamLength, style: {background: fitlineJacketVM.jacketFrontSideSeamLength() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketLapelWidthAtChest">Lapel Width At Chest</label>
                                    <input type="tel"  name="jacketLapelWidthAtChest" data-bind="value: fitlineJacketVM.jacketLapelWidthAtChest, style: {background: fitlineJacketVM.jacketLapelWidthAtChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketShoulderSeam">Shoulder Seam</label>
                                    <input type="tel"  name="jacketShoulderSeam" data-bind="value: fitlineJacketVM.jacketShoulderSeam, style: {background: fitlineJacketVM.jacketShoulderSeam() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSidePanelBottomEdge">Side Panel Bottom Edge</label>
                                    <input type="tel"  name="jacketSidePanelBottomEdge" data-bind="value: fitlineJacketVM.jacketSidePanelBottomEdge, style: {background: fitlineJacketVM.jacketSidePanelBottomEdge() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSidePanelChest">Side Panel Chest</label>
                                    <input type="tel"  name="jacketSidePanelChest" data-bind="value: fitlineJacketVM.jacketSidePanelChest, style: {background: fitlineJacketVM.jacketSidePanelChest() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSidePanelHip">Side Panel Hip</label>
                                    <input type="tel"  name="jacketSidePanelHip" data-bind="value: fitlineJacketVM.jacketSidePanelHip, style: {background: fitlineJacketVM.jacketSidePanelHip() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSidePanelTrueWaist">Side Panel True Waist</label>
                                    <input type="tel"  name="jacketSidePanelTrueWaist" data-bind="value: fitlineJacketVM.jacketSidePanelTrueWaist, style: {background: fitlineJacketVM.jacketSidePanelTrueWaist() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveCuffButtoned">Sleeve Cuff Buttoned</label>
                                    <input type="tel"  name="jacketSleeveCuffButtoned" data-bind="value: fitlineJacketVM.jacketSleeveCuffButtoned, style: {background: fitlineJacketVM.jacketSleeveCuffButtoned() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveCurve">Sleeve Curve</label>
                                    <input type="tel"  name="jacketSleeveCurve" data-bind="value: fitlineJacketVM.jacketSleeveCurve, style: {background: fitlineJacketVM.jacketSleeveCurve() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveCurveFront">Sleeve Curve Front</label>
                                    <input type="tel"  name="jacketSleeveCurveFront" data-bind="value: fitlineJacketVM.jacketSleeveCurveFront, style: {background: fitlineJacketVM.jacketSleeveCurveFront() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveCurveSide">Sleeve Curve Side</label>
                                    <input type="tel"  name="jacketSleeveCurveSide" data-bind="value: fitlineJacketVM.jacketSleeveCurveSide, style: {background: fitlineJacketVM.jacketSleeveCurveSide() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveLengthRight">Sleeve Length Right</label>
                                    <input type="tel"  name="jacketSleeveLengthRight" data-bind="value: fitlineJacketVM.jacketSleeveLengthRight, style: {background: fitlineJacketVM.jacketSleeveLengthRight() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div  class="ui-field-contains">
                                    <label for="jacketSleeveLengthLeft">Sleeve Length Left</label>
                                    <input type="tel"  name="jacketSleeveLengthLeft" data-bind="value: fitlineJacketVM.jacketSleeveLengthLeft, style: {background: fitlineJacketVM.jacketSleeveLengthLeft() <=0 ? '#868686' : '#3c3c3b'}" value=""  />
                                </div>
                                <div class="grid_11">
                                    <label for="jacketFitlineComments">Jacket Notes</label>
                                    <textarea name="jacketFitlineComments" data-bind="value: fitlineJacketVM.jacketFitlineComments, style: {background: fitlineJacketVM.jacketFitlineComments <=0 ? '#868686' : '#3c3c3b'}" value="" ></textarea>
                                </div>
                                <h1 style="width:100%; float:left;" ></h1>
                            </div>
                        </div>
                    </div>
                    <!--	END OF "scrollContentss tenmargtop"	--> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- /content -->
        <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 prefix_10"><a data-bind="click: nextBigStep" class="new-btn icon-goto-media new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed to </span><span class="btn-letter"> Media</span></a></div>
            </div>
        </div>
    </div>
    <style type="text/css" >

					#popup_box { 
						position:fixed;  
						_position:absolute; /* hack for internet explorer 6 */  
						left:0px;
						top: 0px;
						z-index:1030; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
					}			
					
					a{  
					cursor: pointer;  
					text-decoration:none;  
					} 
					
					/* This is for the positioning of the Close Link */
					/*
					#popupBoxClose {
						font-size:20px;  
						line-height:15px;  
						right:5px;  
						top:5px;  
						position:absolute;  
						color:#6fa5e2;  
						font-weight:500;  	
					}
			   		*/
                  
        
                    div.planetmap div{
                        display:block;
                        position:absolute;
                    }
                    
					/*
                    div.form_panel{
                        float: left;
                        background:#eee;
                        left: 300px;
                        padding: 5px;
                        position: relative;
                        width: 310px;
                        display:none;
                        z-index:500;
                    }
        
                    div.form_panel input,textarea{
                        padding:3px;
                        background:#FFF;
                        border:1px solid #CFCFCF;
                        color:#000;
                    }*/
        
                    div.image_panel{
                        float:left;
                        width:510px;
                        position:relative;
                    }
                    
                    div.image_panel img{
                        left:0;top:-102px;
                        max-width: 510px;
                        overflow: hidden;
                    }
        
                    div.form_panel .label{
                        float:left;
                        width:80px;
                        padding:5px;
						color:#000;
						margin-top:10px;
                    }
        
                    div.form_panel .field{
                        float:left;
                        width:200px;
                        padding:5px;
                    }
        
                    div.form_panel .row{
                        clear:both;
						margin-top:20px;
                    }
        
                   
					
                    div.arrow{
                        background: none repeat scroll 0 0 #FF0000;
                        color: #FF0000;
                        z-index:500;
                    }					
        
                    input[type='button']{
                        background: none repeat scroll 0 0 #2769C4;
                        border: 1px solid #CFCFCF;
                        color: #FFFFFF;
                        font-weight: bold;
                        height: 30px;
                        padding: 5px;
                    }
        
                </style>
    <script>
		
		
            $(document).ready(function() {
				
				 myglobal = "";
				 myglobal2 = "";
				 global_relative_left = 0;
				 global_relative_right = 0;
				 
				/* 
				$('#popupBoxClose').click( function() {			
					$("div.mapper").hide();
                	$("input.title").val('');
                	$("div.form_panel").hide();
				});				 
				*/
				 
				// WHEN CLICKING ON IMAGE
                $("img.imageMapFitline").live("click touchend",function(e){	
					if( document.getElementById("form_panel").style.display != "block"){
//customAlert("measurements");
						myglobal = e.target.id.substr(9);
						var image_left = $(this).offset().left;
						var click_left = e.pageX;
						var left_distance = click_left - image_left;
						var image_top = $(this).offset().top;
						var click_top = e.pageY;
						var top_distance = click_top - image_top;
						var mapper_width = $('#mapper_' + myglobal).width();
						//var imagemap_width = $('img.imageMapFitline').width();
						var imagemap_width = $(this).width();
						var mapper_height = $('#mapper_' + myglobal).height();
						//var imagemap_height = $('img.imageMapFitline').height();
						var imagemap_height = $(this).height();
						var relative_left = (left_distance/imagemap_width)*100;
						var relative_top = (top_distance/imagemap_height)*100;
						
						// parallax correction caused by margins and paddings					
						center_x = imagemap_width/2;
						center_y = imagemap_height/2;
						distance_x_from_center = center_x - left_distance;
						distance_y_from_center = center_y - top_distance;
						offcenterleft = (15/imagemap_width)*(distance_x_from_center/imagemap_width)*100;
						offcentertop = (15/imagemap_height)*(distance_y_from_center/imagemap_height)*100;
						if(offcenterleft < 0){
							offcenterleft = offcenterleft/2;
						}
						relative_left = relative_left + offcenterleft;
						relative_top = relative_top + 2*offcentertop;
						// parallax correction end					
						
						var theid = $(this).attr("id");
						var n = theid.indexOf("_"); 
						var idnum = theid.substr(n + 1);
						myglobal2 = "#mapper_" + idnum;
						global_relative_left = relative_left;
						global_relative_top = relative_top;
						
						$('div.mapper').hide();
						$(myglobal2).css("left",relative_left + '%')
						.css("top",relative_top + '%')
						.css("width","35px")
						.css("height","35px")
						.show();
	
						orderItem.openDialog();
					 //   $("div.mapper").resizable({ containment: "parent" });
					 //   $("div.mapper").draggable({ containment: "parent" });
					}
                });
				
			});

            $(".taggedFitline").live("click",function(e){
											   
                $(this).find(".tagged_box").html("<img style='width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top:-3px; margin-left:450px; padding: 0px;' src='gfx/del.png' class='openDialog' value='Delete' onclick='deleteMeasurementsTag(this, " + myglobal + ", " + myglobal + ");' />");
                var img_scope_top = $("img.imageMapFitline").offset().top + $("img.imageMapFitline").height() - $(this).find(".tagged_box").height();
                var img_scope_left = $("img.imageMapFitline").offset().left + $("img.imageMapFitline").width() - $(this).find(".tagged_box").width();
            });
			
			var closeDialog = function(){
				$("div.mapper").hide();
                $("input.title").val('');
                $("div.form_panel").hide();
			};

            var addTag = function(){
				var text = $("input.title").val();
				if(text.length > 0){				
					var pos_width = $(myglobal2).width();			
					var pos_height = $(myglobal2).height();
					var relative_width = global_relative_left;
					var relative_height = global_relative_top;
					var fromleft = 100 + relative_width;
					var arrowwidth = 105 - relative_width;
					
					$('#planetmap_' + myglobal).append('<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  relative_width + '%;top:' + relative_height + '%;"></div><div class="taggedFitline"  style="width:'+pos_width+';height:'+
						pos_height+';left:105%;top:'+relative_height+'%;" ><div class="tagged_title" style="display:block;" >'+
						$("input.title").val()+'</div><div class="tagged_box" style="width:'+pos_width+';height:'+
						pos_height+';top:'+(pos_height-55)+';display:block;" ><img style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left:450px; padding: 0px;" src="http://shirt-tailor.net/thepos/appimg/del.png" class="openDialog" value="Delete" onclick="javascript:deleteMeasurementsTag(this, ' +  relative_width + ', ' + relative_height + ');" /></div></div>');
	
					tmp = localStorage.getItem('fitlinetags');
					tmp = (tmp === null) ? [] : JSON.parse(tmp);
					tmp.push({image_id:myglobal,left:relative_width,top:relative_height,text:text});
					localStorage.setItem('fitlinetags', JSON.stringify(tmp));
	
					$("div.mapper").hide();
					$("input.title").val('');
					$("div.form_panel").hide();
				}
            };

			/*
            var openDialog = function(){
				console.log("measurements opendialog");
                $("div.form_panel").fadeIn("slow");
            };
			*/

            var deleteMeasurementsTag = function(obj, left, top){
			//	var c = confirm("Do you want to delete this tag?");
			//	if( c == true){
					$(obj).parent().parent().prev().remove();
					$(obj).parent().parent().remove();	
					// REFRESHING LOCALSTORAGE TAGS						
					thetags = localStorage.getItem('fitlinetags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					for (var b=thetags.length - 1; b >= 0; b--){	                    		
						if(thetags[b].left == left && thetags[b].top == top){
							thetags.splice(b, 1);
						}	
					}
					// SAVING LOCALSTORAGE TAGS
					tmp = [];
					for(var x = 0; x < thetags.length; x++){
						tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
					}
					localStorage.removeItem('fitlinetags');
					localStorage.setItem('fitlinetags', JSON.stringify(tmp));	
			//	}
            };


 
        </script> 
    <script> 
					function removeFitlinePic(div_id){
						setTimeout(function(){
							if( confirm('Do you want to delete this image?') ){
								document.getElementById(div_id).remove();
								// REFRESHING LOCALSTORAGE PHOTOS						
								thephotos = localStorage.getItem('fitlinephotos');
								thephotos = (thephotos === null) ? [] : JSON.parse(thephotos);
								for (var a=thephotos.length - 1; a >= 0; a--){	                    		
									if(thephotos[a].image_id == div_id){
										thephotos.splice(a, 1);
									}	
								}
								// REFRESHING LOCALSTORAGE TAGS						
								thetags = localStorage.getItem('fitlinetags');
								thetags = (thetags === null) ? [] : JSON.parse(thetags);
								for (var b=thetags.length - 1; b >= 0; b--){	                    		
									if(thetags[b].image_id == div_id){
										thetags.splice(b, 1);
									}	
								}						
								// SAVING LOCALSTORAGE PHOTOS
								var tmp = [];
								for(var x = 0; x < thephotos.length; x++){
									tmp.push({customer_id:thephotos[x].customer_id,image_id:thephotos[x].image_id,picture:thephotos[x].picture,thumbnail:thephotos[x].thumbnail});
								}
								localStorage.removeItem('fitlinephotos');
								localStorage.setItem('fitlinephotos', JSON.stringify(tmp));				
								// SAVING LOCALSTORAGE TAGS
								tmp = [];
								for(var x = 0; x < thetags.length; x++){
									tmp.push({image_id:thetags[x].image_id,left:thetags[x].left,top:thetags[x].top,text:thetags[x].text});
								}
								localStorage.removeItem('fitlinetags');
								localStorage.setItem('fitlinetags', JSON.stringify(tmp));						
							} 
						},0);
					}
					
					function appendItemMeasurements(topost, basedata) {
						var endpoint = 'upload_fitline_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						try{
							var customerString = orderItem.custSelectVM.selectedCustomer().server_id;
						}catch(e){
							var customerString = "0";
						}
						request = $.ajax({
					    	type: 'POST',
					        url: ServerEndPoint,
					        dataType: 'json',
					        async: true,
					        data:{
					            salesman: JSON.stringify(eval("(" + salesmanString + ")")),
								customer_id: customerString,
					            data: basedata2
					        },
					        success: function(dataS) {
								var spinner = document.getElementById('loading_jp');
								spinner.style.display = "none";	
								var data = dataS;
								var image_id = data['id'];
								var image = data['image'];
								tmp = localStorage.getItem('fitlinephotos');
	        		   			tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   			var customer_id = orderItem.custSelectVM.selectedCustomer().server_id;
        						tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           					localStorage.setItem('fitlinephotos', JSON.stringify(tmp));
								document.getElementById('fitlineslist').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript:removeFitlinePic(', image_id ,');"></span><div class="image_panel"><img src="', basedata,'" class="imageMapFitline" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
					        }
						});
					}		
					
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					if (window.FileReader) {
				    	function handleFileSelectFitlines(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									try{
				             			//resizemyImage(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 512, 1536, "measurements.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('Error occured');
				             			appendItemMeasurements(e.target.result, e.target.result);
				             		//	document.getElementById('fitlineslist').innerHTML += ['<div class="img-wrap"><span class="close">&times;</span><img src="', e.target.result, '" width="50"/></div>'].join('');	
				             		}
				            	};
				        	})(f);
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}

				    photos = localStorage.getItem('fitlinephotos');
					photos = (photos === null) ? [] : JSON.parse(photos);
					thetags = localStorage.getItem('fitlinetags');
					thetags = (thetags === null) ? [] : JSON.parse(thetags);
					
					if(localStorage.getItem('fitlinephotos') != null){
					    if(localStorage.getItem('fitlinephotos').length > 0){
							len=photos.length;
						    for (var i=0; i<len; i++){
						    	if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().server_id){
									var taghtml = ""
									for (var a=thetags.length - 1; a >= 0; a--){	                    		
										if(thetags[a].image_id == photos[i].image_id){	
												fromleft = 100 + thetags[a].left;
												arrowwidth = 105 - thetags[a].left;
												taghtml += '<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  thetags[a].left + '%;top:' + thetags[a].top + '%;"></div>';
												taghtml += '<div class="taggedFitline" style="width:35;height:35;left:105%;top:' + thetags[a].top + '%;">';
												taghtml += '<div class="tagged_title" style="display:block;">' + thetags[a].text + '</div>';
												taghtml += '<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">';
												taghtml += '<img class="openDialog" onclick="javascript:deleteMeasurementsTag(this, ' + thetags[a].left + ', ' + thetags[a].top + ');" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left:450px; padding: 0px;"></img>';
												taghtml += '</div></div>'; 
										}
									}
									
									document.getElementById('fitlineslist').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', photos[i].image_id ,'"><span class="close" onclick="javascript:removeFitlinePic(', photos[i].image_id ,');"></span><div class="image_panel"><img src="', photos[i].thumbnail ,'" class="imageMapFitline" id="imagemap_', photos[i].image_id ,'"/><div class="mapper" id="mapper_', photos[i].image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', photos[i].image_id ,'"/></div><div class="planetmap" id="planetmap_', photos[i].image_id ,'">', taghtml, '</div></div></div>'].join('');
						    	}	
						 	}
						}  
				    }
				    document.getElementById('fitlinefiles').addEventListener('change', handleFileSelectFitlines, false);
			    </script> 
    <script language="javascript">
			function showmeasurements() {				
				var measurementsDiv = document.getElementById("measurementsDiv2");
				var fitlinesDiv = document.getElementById("fitlinesDiv");
				measurementsDiv.style.display = "block";
				fitlinesDiv.style.display = "none";
			//	document.getElementsByName("selectfitlineDiv")[0].className = "textcenter measurementss";	
			}
			function showfitlines() {
				var measurementsDiv = document.getElementById("measurementsDiv2");
				var fitlinesDiv = document.getElementById("fitlinesDiv");
				measurementsDiv.style.display = "none";
				fitlinesDiv.style.display = "block";
				document.getElementsByName("selectgarmentDiv")[0].className = document.getElementsByName("selectgarmentDiv")[0].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[1].className = document.getElementsByName("selectgarmentDiv")[1].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[2].className = document.getElementsByName("selectgarmentDiv")[2].className.replace('selected','');
				document.getElementsByName("selectgarmentDiv")[3].className = document.getElementsByName("selectgarmentDiv")[3].className.replace('selected','');
				//document.getElementsByName("selectgarmentDiv")[4].className = document.getElementsByName("selectgarmentDiv")[4].className.replace('selected','');
			//	document.getElementsByName("selectfitlineDiv")[0].className = "textcenter measurementss selected";
			}
			

			function timeConverter(UNIX_timestamp){
				if(UNIX_timestamp == '0.00'){
					 var a = new Date(UNIX_timestamp*1000);
					 var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
					 var year = a.getFullYear();
					 var month = months[a.getMonth()];
					 var date = a.getDate();
					 var hour = a.getHours();
					 var min = a.getMinutes();
					 var sec = a.getSeconds();
					 var time = date+','+month+' '+year+' '+hour+':'+min+':'+sec ;
					 return time;
				}else{
					return 'no date available';	
				}
			 }

			
		</script> 
</div>
