<div data-role="page" id="mediaUploadProgress" class="bgBody">
<h1>Synchronize Media Files</h1>
  <div data-role="content" data-theme="c" style="background:none !important; border:none; margin-top:170px;">
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_4 prefix_4">
        	<div class="myuploader">
        	   <span data-bind="text: currentFileText" style="display:none;"></span>
              <span data-bind="text: step" style="display:block;"></span>
              <progress value="22" max="100" data-bind="value: progress,attr:{max: max}" style="width:85%; height:18px;"></progress>
          </div>

          <div style="text-align: center;top: 100px;position: absolute;right: 420px">
            <button onclick="posChangePage('#main')" 
              style="padding: 5px;padding-right: 15px;padding-left: 15px;background: grey;color: white;border: none;font-size: 22px;border-radius: 5px;">Back To main</button>  
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
