<div data-role="page" id="orderItemReview" class="bgBody"> 
    <!-- TERMS AND CONDITIONS -->
    <div id="terms" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed;  width:100%; height:100%; z-index:1020; ">
        <div style=" background:#FFF; z-index:1022; width:60%; height: 60%; margin-left: 20%; margin-right: 20%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
            <div style="margin:1%;overflow-y: scroll; height:85%"> <span id="termstext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;"></span> </div>
            <div class="container_12">
            <div class="grid_3 suffix_6"><a data-bind="click: function(){ buttonNoAcceptTerms(); }" class="new-btn icon-cancel-danger new-btn-icon-left" data-role="button"><span class="btn-small-letter">Cancel</span><span class="btn-letter"> &amp; Return</span></a></div>
            
            <div class="grid_3"><a data-bind="click: function(){ buttonYesAcceptTerms(); }" class="new-btn icon-next-submitanddesign new-btn-icon-right" data-role="button"><span class="btn-small-letter">Accept</span><span class="btn-letter"> Terms</span></a></div>
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- END OF TERMS AND CONDITIONS -->
    
    <div data-bind="template: {name: 'stepstemplate'}"></div>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12 order_payment">
                <div data-bind="if: custSelectVM.selectedCustomer().customer_last_name" style="margin-bottom:20px;">
                    <div data-bind="with: custSelectVM">
                        <h1><span data-bind="text:selectedCustomer().customer_first_name"></span>&nbsp;<span data-bind="text: selectedCustomer().customer_last_name"></span></h1>
                        <h4><span>MOBILE:</span>&nbsp;<span data-bind="text: selectedCustomer().customer_mobile_phone"></span>&nbsp;/&nbsp;<span>E-MAIL:</span>&nbsp;<span data-bind="text: selectedCustomer().customer_email"></span></h4>
                    </div>
                </div>
                <!-- if: custSelectVM.selectedCustomer().customer_last_name	-->
                <div data-bind="if: !custSelectVM.selectedCustomer().customer_last_name">
                    <h1>There is no selected customer yet.</h1>
                </div>
                <!--<h2>Payment Details</h2>-->
                <h2>Order Breakdown</h2>
                <div class="grid_12">
                    <div class="grid_2">
                        <div data-bind="click: addExtraCost" class="buttonsoptions" style="margin:0.5em 0">Add Extra Cost</div>
                    </div>
                    <div class="grid_3">
                        <div style="margin-left:15px;">
                            <label >
                                <input type="checkbox" name="checkbox-a" id="checkbox-a"  data-bind="checked: companyinvoice"/>
                                Include Company invoice</label>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div style="margin-left:15px;">
                            <label >
                                <div><input type="checkbox" name="checkbox-a" id="checkbox-a"  data-bind="checked: send_invoice_email_checkbox"/></div>
                                &nbsp;Mail Customer Invoice</label>
                        </div>
                    </div>
                    <div class="grid_2" data-bind="visible: urgent() == false">
                        <div style="margin-left:15px;">
                            <label >
                                <input type="checkbox" name="checkbox-4" id="checkbox-4"  data-bind="checked: future"/>
                                Future Order</label>
                        </div>
                    </div>
                    <div class="grid_2" style="display:none;">
                        <div style="margin-left:15px;">
                            <fieldset data-mini="true" data-role="controlgroup" data-type="horizontal" data-bind="visible: urgent() == true || future() == true">
                                <label for="DOP_day">Day</label>
                                <select name="DOP_day" id="DOP_day" data-bind="options: days, value: DOP_day, optionsCaption: 'Day'">
                                </select>
                                <label for="DOP_month">Month</label>
                                <select name="DOP_month" id="DOP_month" data-bind="options: months, optionsText: 'name', optionsValue: 'id' , value: DOP_month, optionsCaption: 'Month'">
                                </select>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div data-role="fieldcontain" data-target-attr="sampletext" data-bind="visible: companyinvoice">
                    <label for="invoicecompanyname">Company Name:</label>
                    <input type="text" data-bind="value: invoicecompanyname, updateFormOnChange: invoicecompanyname, valueUpdate: 'afterkeydown'" name="invoicecompanyname" id="invoicecompanyname">
                    </input>
                </div>
                <div data-role="fieldcontain" data-target-attr="invoiceproductdescription" data-bind="visible: companyinvoice">
                    <label for="invoiceproductdescription">Product Description:</label>
                    <input type="text" data-bind="value: invoiceproductdescription, updateFormOnChange: invoiceproductdescription, valueUpdate: 'afterkeydown'" name="invoiceproductdescription" id="invoiceproductdescription">
                    </input>
                </div>
                <div data-bind="html: costanalysis, visible: computePrice() > 0  "> <!--	&& computePrice() > extracosts()	--> 
                </div>
                <div id="menutab">
                    <form>
                        <div data-bind="foreach: extracosts">
                            <h4 class="grid_12 extracosti">
                                
                                <div class="price_type grid_8">
                                <span class="sviseme" data-bind="click: function(){ console.log($index()); $parent.removeExtraCost($index());}">x</span>
                                    <input type="text"  data-bind="value: extracosttext, valueUpdate:'keyup'" name="ExtraCostName"/>
                                </div>
                                <div class="price_itself grid_3">
                                    <input type="text"  data-bind="value: extracost, valueUpdate:'keyup'" name="ExtraCostName"/>
                                    <span data-bind="text: $parent.getCurrencySymbol()"></span> </div>
                            </h4>
                        </div>
                    </form>
                </div>
                <div data-bind="visible: extracostFunction() > 0" style="display:none;"> <span data-bind="text: extracostFunction().toFixed(2)" style="display:none;"></span> </div>
                <div data-bind="visible: computePrice() > 0 "></div>
                <div class="grid_12">
					<div data-bind="visible: FabricPrice().length > 0">
						<h4>Price For Garments with customer Fabric</h4>
						<ul data-bind="foreach: FabricPrice">
							<li>
								<h4 data-bind="text: garmentName"></h4>
								<ul data-bind="foreach:garmentList">
									<li>
										<label for="GarmentPrice" data-bind="text:$data.title"></label>
										<input type="text" name="GarmentPrice" data-bind="value: price, updateFormOnChange: price, valueUpdate: 'afterkeydown'" onkeypress="numberInputHandler(this)"/>
									</li>
								</ul>
							<li>
						</ul>
					</div>
                    <div class="ui-field-contain" data-target-attr="discountCode">
                        <label for="discountCode">Discount Code:</label>
                        <input type="text" name="discountCode" id="discountCode" data-bind="value: discountCode, updateFormOnChange: discountCode, valueUpdate: 'afterkeyup'"/>
                    </div>
                </div>
                <div data-bind="visible: checkDiscountCode() == 0 " class="grid_8 missing_info">
                	<span class="missing_info_sign"></span>
                    <span class="missing_info_first">Discount Code:</span>
                    <span>The discount code you have entered is not valid</span>
               	</div>
                <div data-bind="visible: checkDiscountCode() == 1" class="grid_12 conv-let">
                    <div class="grid_2 prefix_8" align="right">Discount: </div>
                    <div class="grid_2" align="right"><span style="padding:7px 13px;">-<span data-bind="text: calculateDiscount().toFixed(2)"></span>&nbsp;<span data-bind="text: getCurrencySymbol()"></span></span></div>
                </div>
                <div data-bind="visible: subtotal() > 0" class="grid_12 conv-let">
                    <div class="grid_2 prefix_8" align="right">Subtotal: </div>
                    <div class="grid_2" align="right"><span style="padding:7px 13px;"><span data-bind="text: subtotal().toFixed(2)"></span>&nbsp;<span data-bind="text: getCurrencySymbol()"></span></span></div>
                </div>
                <div data-bind="visible: tax() > 0" class="grid_12 conv-let">
                    <div class="grid_2 prefix_8" align="right">Sales Tax (GST 10%): </div>
                    <div class="grid_2" align="right"><span style="padding:7px 13px;"><span data-bind="text: tax().toFixed(2)"></span>&nbsp;<span data-bind="text: getCurrencySymbol()"></span></span></div>
                </div>
                <div data-bind="visible: purchaseTotal() > 0" class="grid_12 conv-let">
                    <div class="grid_2 prefix_8" align="right">Purchase Total: </div>
                    <div class="grid_2" align="right"><span style="padding:7px 13px;"><span data-bind="text: purchaseTotal().toFixed(2)"></span>&nbsp;<span data-bind="text: getCurrencySymbol()"></span></span></div>
                </div>
                <div class="clear"></div>
                <hr>
                <h2>Deposit Details</h2>
                <div data-role="fieldcontain">
                    <label for="paymentMethod">Payment method:</label>
                    <select name="paymentMethod" id="paymentMethod" data-bind="options: paymentMethodList, value: paymentMethod, optionsCaption: 'Payment method'">
                    </select>
                </div>
				<div data-role="fieldcontain" data-bind="visible:paymentMethod() == 'Bank transfer'">
                    <label for="Bank">Bank:</label>
                    <select name="Bank" id="Bank" data-bind="options: bankList, value: bank, optionsCaption: 'Payment method'">
                    </select>
                </div>
                <div data-role="fieldcontain" data-bind="visible:paymentMethod() == 'Credit card V/M' || paymentMethod() == 'Credit card Amex' || paymentMethod() == 'Eftpos'">
                    <label for="creditCardImageMediaBtn">Receipt Upload:</label>
                    <input name="creditCardImageMediaBtn" id="creditCardImageFiles" type="file" accept="image/*" data-bind="visible: false"/>
                    <div class="buttonsoptions" style="float:left; width:220px;" id="creditCardImageMediaBtn" name="creditCardImageMediaBtn" data-role="button">Upload CC Receipt</div>
                    <div style="display:none;" id="creditCardImageMediaBtn" name="creditCardImageMediaBtn" data-role="button">Upload CC Receipt</div>
                </div>

                <output style="float:left; width:300px; margin-left:21.21%; margin-bottom:10px; margin-top:-20px;" id="creditCardImageMedia"  data-bind="visible:paymentMethod() == 'Credit card V/M' || paymentMethod() == 'Credit card Amex' || paymentMethod() == 'Eftpos'"></output>
                

                <div data-target-attr="creditCardImage" >
                    <input id="creditCardImage" name="creditCardImage" type="text" data-bind="visible: false, value: creditCardImage"/>
                    <script>
					function modifyDepositValue(data){
						$("#deposit").val(data);
						if ("createEvent" in document) {
							var evt = document.createEvent("HTMLEvents");
							evt.initEvent("change", false, true);
							document.getElementById('deposit').dispatchEvent(evt);
							evt = document.createEvent("HTMLEvents");
							evt.initEvent("keyup", false, true);
							document.getElementById('deposit').dispatchEvent(evt);
						}
					}
					function appendItemReviewCreditCard(topost, basedata) {
console.log("appendItem CreditCard"); 
						var endpoint = 'upload_creditcard_image';
						var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
						var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
						var basedata2 = topost.replace("data:image/jpeg;base64,", "");
						 request = $.ajax({
					            type: 'POST',
					            url: ServerEndPoint,
					            dataType: 'json',
					            async: true,
					            data: {
					            	salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					               	data: basedata2
					              },
					            success: function(dataS) {
									var spinner = document.getElementById('loading_jp');
									spinner.style.display = "none";	
									var data = dataS;
									var image_id = data['id'];
									var image = data['image'];
									localStorage.removeItem('CreditCardPhoto');
									tmp = localStorage.getItem('CreditCardPhoto');
	        		   				tmp = (tmp === null) ? [] : JSON.parse(tmp);
	        		   				var customer_id = orderItem.custSelectVM.selectedCustomer().id;
        							tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
	           						localStorage.setItem('CreditCardPhoto', JSON.stringify(tmp));
	           						var thumb = $('<img/>');
            						thumb.attr('src', image);
            						thumb.attr('width', 50);
				            		document.getElementById('creditCardImageMedia').innerHTML = ['<img src="', basedata,'" width="250"/>'].join('');

									document.getElementsByName('creditCardImage')[0].value = JSON.stringify(data);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('creditCardImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('creditCardImage')[0].fireEvent("onchange");				
									}	
					            },
								error: function(XMLHttpRequest, textStatus, errorThrown) {
   								  customAlert("some error "  + textStatus + "    " +  errorThrown);
								}
					        });
					}
				
			    
					if (window.FileReader) {
				    	function handleFileSelectCreditCard(evt) {
				      		var files = evt.target.files;
				        	var f = files[0];
				        	var reader = new FileReader();
						
				        	reader.onload = (function(theFile) {
				          		return function(e) {
									console.log("before resize");
									try{
				             			//resizemyImageCreditCard(e.target.result);
										var t = orderItem.resizeMyImage(e.target.result, 250, 1536, "orderItemReview.htm", "");
										t = null;
										e = null;
				             		}catch(e1){
				             			customAlert('An Error occured. Try again.');
				             		}
				            	};
				        	})(f);
				      		reader.readAsDataURL(f);
				      	}
					} else {
						customAlert('This browser does not support FileReader');
					}
				      
				  
					  
				    photos = localStorage.getItem('CreditCardPhoto');
					photos = (photos === null) ? [] : JSON.parse(photos);
					if(localStorage.getItem('CreditCardPhoto') != null){
					    if(localStorage.getItem('CreditCardPhoto').length > 0){
						    for (var i=0, len=photos.length; i<len; i++){
						    	if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().id){
						    		document.getElementById('creditCardImageMedia').innerHTML = ['<img src="', photos[i].thumbnail ,'"  width="250"/>'].join('');

									document.getElementsByName('creditCardImage')[0].value = JSON.stringify(photos[i]);
									if ("createEvent" in document) {
										var evt = document.createEvent("Event");
				    					evt.initEvent("change", false, false);
				    					document.getElementsByName('creditCardImage')[0].dispatchEvent(evt);
									}else{
										document.getElementsByName('creditCardImage')[0].fireEvent("onchange");				
									}	
						    	}	
						 	}
						}  
				    }	
				    	
				    document.getElementById('creditCardImageFiles').addEventListener('change', handleFileSelectCreditCard, false);
</script> 
                </div>
                <div data-role="fieldcontain">
                    <label for="deposit">Deposit Paid:</label>
                    <input id="deposit" name="deposit" type="text" data-bind="value: deposit" style="text-align:right; padding-right:10px;" />
                    <input id="deposit1" name="deposit1" type="text" data-bind="value: depositinput((calculateTotalPriceWithDiscount()/2).toFixed(2)), visible: false" style="color:#000"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="referer">Payment Comments:</label>
                    <input id="referer" name="referer" type="text" data-bind="value: referer"/>
                </div>
                <hr>
                <h2>Order Requests</h2>
                <div data-role="fieldcontain">
                    <label for="order_city">Order City:</label>
                    <select name="order_city" id="order_city" data-bind="options        : cities_display,
                                                                         value          : order_city, 
                                                                         optionsValue   : 'locations_id', 
                                                                         optionsText    : 'location_name', 
                                                                         optionsCaption : 'Order City'">
                    </select>
                </div>
                <div data-role="fieldcontain">
                    <label for="fitting_city">Fitting City:</label>
                    <select name="fitting_city" id="fitting_city" data-bind="options         : cities_display, 
                                                                             value           : fitting_city,
                                                                             optionsValue    : 'locations_id',
                                                                             optionsText     : 'location_name',
                                                                             optionsCaption  : 'Fitting City'">
                    </select>
                </div>
                <div data-role="fieldcontain">
                    <label for="reviewNotes">Order's General Notes and requests:</label>
                    <!-- <input type="text" name="reviewNotes" data-bind="value: reviewNotes, updateFormOnChange: reviewNotes, valueUpdate: 'afterkeydown'" style="color:#000"/>-->
                    <textarea name="reviewNotes" id="reviewNotes" data-bind="value: reviewNotes" style="box-shadow: none; background-color: rgb(236, 236, 236);"></textarea>
                </div>
                <hr>
                <h2>Finalize</h2>
                <span data-bind="with: custSelectVM"> Please <span data-bind="text:customersVM.customer_first_name"></span>&nbsp;<span data-bind="text: customersVM.customer_last_name"></span>, sign your order and accept the terms and conditions. </span>
                <div class="grid_9">
                    <div style="margin: 0px; width: 710px; height:350px; z-index:500">
                        <div id="canvasDiv" style=" height:350px; margin: 0 auto; width: 710px; background:#ececec; border-radius:9px"></div>
                    </div>
                </div>
                <div class="grid_3">
                    <div id="saveDiv" class="grid_8">
                        <button id="canvassave"  onclick="savecanvas();" style="margin-top:0PX !important;">Save</button>
                    </div>
                    <div id="clearDiv" class="grid_8">
                        <button id="canvasclear"  onclick="emptycanvas();">Clear</button>
                    </div>
                    <!-- Code for hidden buttons -->
                    <div id="resignDiv" style="display:none;" class="grid_8">
                        <button onclick="resignButtonListener();" style="margin-top:0PX !important;">Sign Again?</button>
                    </div>
                    <!-- end Code for hidden buttons --> 
                </div>
                <div class="clear"></div>
                <div class="gAttr grid_12" data-target-attr="acceptTerms">
                    <div id="acceptTerms" class="termsbutton" data-bind="click: function(){ acceptTermsUpdate(); }, css: {enabled: acceptTerms() }"> Review and accept our terms and conditions </div>
                </div>
                <div data-bind="visible: paymentMethod() == '' || paymentMethod() == undefined" class="grid_8 missing_info"><span class="missing_info_sign"></span><span class="missing_info_first"> PAYMENT METHOD ERROR:</span> <span>You must select a payment method.</span> </div>
                <div data-bind="visible: order_city() == null || order_city() == undefined" class="grid_8 missing_info"><span class="missing_info_sign"></span><span class="missing_info_first">ORDER CITY ERROR:</span> <span>You must select an order city.</span> </div>
                <div data-bind="visible: acceptTerms() == false" class="grid_8 missing_info"><span class="missing_info_sign"></span><span class="missing_info_first">TERMS & CONDITIONS ERROR:</span> <span>You must accept the terms and conditions.</span> </div>
                <div class="grid_12"><button type="button" data-bind="click: sync" class="submit_order">Submit Your Order!</button></div>
            </div>
        </div>
        <!-- content-wrapper --> 
        
    </div>
    <!--	orderItemReview		--> 
    
    <script>
$(document).ready(function () {
	prepareCanvas();
	emptycanvas();
});
</script> 
</div>
