<div data-role="page" id="orderItemSelectCustomer" class="bgBody">
    <div data-bind="template: { name: 'stepstemplate'}"></div>
    <div data-role="content" data-theme="d" style="background:none !important; border:none;">
        <div class="content-wrapper">
            <div id="searchButtonsDiv" class="container_12" style="margin-top:40px;" data-bind="with: custSelectVM">
                <div class="grid_2 suffix_1 prefix_3"><a href="#" data-bind="click: function(){changeVisibilityDiv('searchCustomerDiv');changeVisibilityDiv('searchButtonsDiv');changeVisibilityDiv('hidenbuttonDIV');}" class="new-btn icon-search-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Search Existing</span><span class="btn-letter"> Customer</span></a> </div>
                <div class="grid_2 suffix_3 prefix_1"><a href="#" data-bind="click: addNewCustomer" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Create New</span><span class="btn-letter"> Customer</span></a> </div>
            </div>
            <div id="searchCustomerDiv" style="display:none; margin-top:30px;" class="container_12" data-bind="with: custSelectVM">
                <div class="grid_8 suffix_4">
                    <h3>Search for customers or select to create a new one</h3>
                    <input type="text" value="search for existing customer" data-bind="value: customerAutocomplete,  valueUpdate: 'keyup'" placeholder="search for existing customer" onfocus="if(this.value=='search for existing customer') this.value='';" onblur="if(this.value=='') this.value='search for existing customer';" />
                    <span style="font-size:11px; display:block; margin-top:-6px;">Type at least three letters to view results</span> </div>
                <div class="cb"></div>
                <ul class="alllistsview" data-role="listview" data-bind="foreach: customersAutocompleteList">
                    <li data-bind="click: $parent.selectedCustomer">
                        <div class="grid_4 capitalme"> <span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span> </div>
                        <div class="grid_5"> <span data-bind="text: customer_email"></span> </div>
                        <div class="grid_2"> <span data-bind="text: customer_mobile_phone"></span> </div>
                        <div class="grid_1"> <span data-bind="text: customer_display_state"></span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="j-footer container_12">
        <div class="half-em-around" data-bind="with: custSelectVM">
            <div class="grid_2" id="hidenbuttonDIV" style="display:none;"><a data-bind="click: addNewCustomer" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Create New</span><span class="btn-letter"> Customer</span></a> </div>
            
        </div>
    </div>
    </div>
    <!-- /content --> 
    
</div>
