<div id="orderItemCustomerInfo" data-role="page" class="bgBody">
    <div data-bind="template: { name: 'stepstemplate'}"></div>
    <h1 data-bind="with: customersVMmirror"><span data-bind="text: customer_first_name">Customer's Name</span> <span data-bind="text: customer_last_name">Customer's
            Last Name</span></h1>
    <div data-role="content" data-bind="with: customersVMmirror" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="grid_12" data-bind="with: selected_item">
                    <div class="grid_7 suffix_5">
                        <ul class="custdisplay">
                            <li style="display:none;">Name:</span><span class="secondpart"><span data-bind="text: customer_first_name"></span>
                                    <span data-bind="text: customer_last_name"></span></span> </li>
                            <li><span class="firstpart">Mobile:</span><span class="secondpart" data-bind="text: customer_mobile_phone"></span>
                                </li>
                            <li data-bind="visible:customer_landline_phone !== ''"><span class="firstpart">Landline:</span><span
                                    class="secondpart" data-bind="text: customer_landline_phone"></span> </li>
                            <li><span class="firstpart">E-mail:</span><span class="secondpart" data-bind="text: customer_email"></span></li>
                            <li><span class="firstpart">Date of Birth:</span>
                                <script>

                                    function reverse_customer_DOB(input) {
                                        try {
                                            var date = input;
                                            var newdate = date.split("-").reverse().join("-");
                                            return newdate;
                                        } catch (e) {
                                            return input;
                                        }
                                    }                            
                                </script>
                                <span class="secondpart" data-bind="text: reverse_customer_DOB(customer_DOB)"></span> </li>
                            <li><span class="firstpart">Address:</span><span class="secondpart capitalme" data-bind="text: customer_address1"></span>
                                </li>
                            <li><span class="firstpart">Postal Code:</span><span class="secondpart" data-bind="text: customer_postal_code"></span>
                                </li>
                            <li><span class="firstpart">Suburb:</span><span class="secondpart capitalme" data-bind="text: customer_address2"></span>
                                </li>
                            <li><span class="firstpart">State - City:</span><span class="secondpart"><span data-bind="text: $parent.customer_display_state"></span><span>&nbsp;&ndash;&nbsp;</span><span
                                        data-bind="text: $parent.customer_display_city"></span></span></li>
                            <li style="display:none;">Gender:<span class="secondpart" data-bind="visible:customer_gender == 1">Male</span>
                                <span class="secondpart" data-bind="visible:customer_gender == 0">Female</span> </li>
                            <li data-bind="visible:customer_occupation !== ''"><span class="firstpart">Occupation:</span><span
                                    class="secondpart capitalme" data-bind="text: customer_occupation"></span> </li>
                            <li data-bind="visible:customer_company_name !== ''"><span class="firstpart">Company:</span><span
                                    class="secondpart capitalme" data-bind="text: customer_company_name"></span> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="j-footer container_12">
            <div class="half-em-around">
                <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#orderItemUpdateCustomer');}"
                        class="new-btn icon-edit-customer new-btn-icon-left" data-role="button"><span class="btn-small-letter">Edit
                            Customer's</span><span class="btn-letter"> Details</span></a></div>
                <div class="grid_2"><a data-bind="click: $parent.nextBigStep" class="new-btn icon-go-next new-btn-icon-right"
                        data-role="button"><span class="btn-small-letter">Proceed</span><span class="btn-letter"> To Garments</span></a></div>
            </div>
        </div>
    </div>
    <!-- /content -->
</div>