<div data-role="page" id="orderItemCopyGarments" class="bgBody">
    <div data-bind="template: {name: 'stepstemplatefixed'}"></div>
    <h1>Which Garments you wish to copy the fit to</h1>
    <div data-role="content" data-theme="a">
		<div class="content-wrapper">
			<div id="imagesDialog" style="background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9999999; display:none;">
				<div style="background:#FFF; width:30%; margin:10% auto; position:relative; border-radius:3px; padding:0px 10px 15px;">
                <a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false); }" style="position: absolute; top: 0px; right: 0px; background: red none repeat scroll 0% 0%; color: white; text-align: center; border-radius: 0px 3px 0px 0px; height: 30px; width: 34px; line-height: 29px;">X</a>
                
					<div style="margin:1%;padding:10px 0px;"><span id="dialogtext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">Do you want to select an image from:</span> </div>
					<div class="apanwsteps container_12">
						<div class="grid_4 suffix_4 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);orderItem.clickMedia(orderItem.copyGarmentImage, 2); }" class="ui-link">Camera</a></div>
						<div class="grid_4 stepsmenud"><a data-bind="click: function(){ changeVisibilityDiv('imagesDialog', false);$('#files').click(); }" class="ui-link">Gallery</a></div>
						
					</div>
				</div>
			</div>
			<div id="popup_box" style="width: 100%;">
				<div class="form_panel" id="form_panel" name="form_panel"> <a id="popupBoxClose" class="close_popups" data-bind="click:closeDialog2">Close</a>
					<p class="media_pops"><span>Add your comments</span>
						<textarea class="title"></textarea>
						<input type="button" value="Add Comment" data-mini="true" data-bind="click:addTag" />
					</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="container_12 tenmargins garmentselection">
                <div class="grid_12">
                    <div class="grid_2" data-bind="visible:garmentsList()[0].count() > 0 || garmentsList()[2].count() > 0">
                        <div class="rouxos" data-bind="css: 'Jacket'"></div>
                        <span class="namegarments">Jacket</span>
                        <div class="clear"></div>
                        <div class="allmeasures" style="margin: 0px auto; width: 166px;">
                            <div class="mycheck mychecknews enabled" id="pantAngledHems" data-bind="click: function(){ CopyGarmentJacket(!CopyGarmentJacket());  }, css: {enabled: CopyGarmentJacket() }">Use Customer's Garment</div>
                        </div>
                    </div>
					<div class="grid_2" data-bind="visible:garmentsList()[1].count() > 0 || garmentsList()[2].count() > 0">
                        <div class="rouxos" data-bind="css: 'Pant'"></div>
                        <span class="namegarments">Pant</span>
                        <div class="clear"></div>
                        <div class="allmeasures" style="margin: 0px auto; width: 166px;">
                            <div class="mycheck mychecknews enabled" id="pantAngledHems" data-bind="click: function(){ CopyGarmentPant(!CopyGarmentPant());  }, css: {enabled: CopyGarmentPant() }">Use Customer's Garment</div>
                        </div>
                    </div>
					<div class="grid_2" data-bind="visible:garmentsList()[3].count() > 0">
                        <div class="rouxos" data-bind="css: 'Vest'"></div>
                        <span class="namegarments">Vest</span>
                        <div class="clear"></div>
                        <div class="allmeasures" style="margin: 0px auto; width: 166px;">
							<div class="mycheck mychecknews enabled" id="pantAngledHems" data-bind="click: function(){ CopyGarmentVest(!CopyGarmentVest());  }, css: {enabled: CopyGarmentVest() }">Use Customer's Garment</div>
                        </div>
                    </div>
					<div class="grid_2" data-bind="visible:garmentsList()[4].count() > 0">
                        <div class="rouxos" data-bind="css: 'Shirt'"></div>
                        <span class="namegarments">Shirt</span>
                        <div class="clear"></div>
                        <div class="allmeasures" style="margin: 0px auto; width: 166px;">
                            <div class="mycheck mychecknews enabled" id="pantAngledHems" data-bind="click: function(){ CopyGarmentShirt(!CopyGarmentShirt());  }, css: {enabled: CopyGarmentShirt() }">Use Customer's Garment</div>
                        </div>
                    </div>
					
                </div>
                <div class="cb"></div>
				<div class="grid_2 prefix_4" style="margin-bottom:20px; ">
					<input id="files" type="file" accept="image/*" />
					<div id="custImageBtn" class="loadimages" data-role="button">Upload media</div>
					<span class="underbuttons">Upload Image</span>
				</div>
				<div class="grid_2" style="margin-bottom:20px;">
					<input id="files" type="file" accept="image/*"/>
					<div class="loadvideos" data-role="button" data-bind="click:function(){orderItem.clickMedia(orderItem.copyGarmentVideo, 1);}">Upload media</div>
					<span class="underbuttons">Upload Video</span>
				</div>
				<output id="list" class="grid_12" data-bind="foreach: copyGarmentImage.getMediaPreview()">
					<div class="img-wrap" data-bind="attr:{id: $index()}">
						<span class="close" data-bind="click: function(){$parent.copyGarmentImage.removeMedia($index());}" >X</span>
						<div class="image_panel">
							<img id="imagemap" class="imageMap" width="600" data-bind="attr: {src: $data}, click:function(data,evt){$parent.openDialog2($parent.copyGarmentImage,evt, $index());}"></img>
							<div class="mapper" data-bind="attr:{id: $parent.copyGarmentImage.mapperID($index())}"> </div>
							<div id="planetmap" class="planetmap" data-bind="foreach: $parent.copyGarmentImage.getTags($index())">
								<div class="arrow" data-bind="style:{width: $root.copyGarmentImage.getTagAttrib('width%', $parentContext.$index(), $index()), height:'2px', left: $root.copyGarmentImage.getTagAttrib('left%', $parentContext.$index(), $index()), top: $root.copyGarmentImage.getTagAttrib('top%', $parentContext.$index(), $index()) }"></div>
								<div class="tagged" data-bind="style: {width:'35', height:'35', left:'105%' ,top: $root.copyGarmentImage.getTagAttrib('top%', $parentContext.$index(), $index())}">
									<div class="tagged_title" style="display:block;"> <span data-bind="text: $root.copyGarmentImage.getTagAttrib('text', $parentContext.$index(), $index())"></span></div>
									<div class="tagged_box" style="display:block;"> <img class="openDialog" data-bind="click: function(){$root.copyGarmentImage.removeTag($parentContext.$index(), $index());}" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 30px; height:30px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: 0px; margin-left: 342px; padding: 0px;"></img> </div>
								</div>
							</div>
						</div>
					</div>
				</output>
				<div data-bind="foreach: copyGarmentVideo.getMediaPreview()">
					<div class="grid_12">
						<div class="grid_6 myvideo-warp">
							<video controls class="myvideos">
								<source data-bind="attr: {src: $data}" type="video/mp4">
								<source data-bind="attr: {src: $data}" type="video/ogg">
								Your browser does not support HTML5 video. 
							</video>
							<span class="close" data-bind="click:function(){$parent.copyGarmentVideo.removeMedia($index());}">X</span>
						</div>
						<div class="grid_6 myvideo-comments">
							<textarea data-bind="attr: {id:'note'+$index()}"></textarea>
						<a class="mykoubakiss" data-bind="click: function(){$parent.copyGarmentVideo.addTag($('#note'+$index()).val(), $index());$('#note'+$index()).val('');}">Add Comment</a>
						<div style="clear:both;"></div>
						<ul data-bind="foreach: $parent.copyGarmentVideo.getTags($index())" class="mycomentlist">
							<li><span data-bind="text: ($index() + 1)" style="display:none;"></span>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><span data-bind="html: $data" class="commint"></span></td>
										<td width="35" valign="top" align="center"><a data-bind="click: function(){$root.copyGarmentVideo.removeTag($parentContext.$index(), $index());}" class="close">X</a></td>
									</tr>
								</table>
							</li>
						</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- /content -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 prefix_10" data-bind="visible: atLeastOneGarment"><a data-bind="click: nextBigStep" class="new-btn icon-next-measurements new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed to </span><span class="btn-letter"> Measurements</span></a></div>
        </div>
    </div>
	<style type="text/css" >
		div.planetmap div{
			display:block;
			position:absolute;
		}
		div.image_panel{
			float:left;
			width:600px;
			position:relative;
		}
		div.form_panel .row{
			clear:both;
			margin-top:20px;
		}
	</style>
	<script> 
			
		function appendItemMediaCopy(topost, basedata) { 
			var endpoint = 'upload_customer_image2';
			var ServerEndPoint = BUrl + 'client_image_upload/' + endpoint;
			var salesmanString = "{username:'" + authCtrl.username() + "',password:'" + authCtrl.password() + "', id:'" + authCtrl.userInfo.user_id + "'}";
			var basedata2 = topost.replace("data:image/jpeg;base64,", "");
			try{
				var customerString = orderItem.custSelectVM.selectedCustomer().server_id;
			}catch(e){
				var customerString = "0";
			}
			request = $.ajax({
				type: 'POST',
				url: ServerEndPoint,
				dataType: 'json',
				async: true,
				data:{
					salesman: JSON.stringify(eval("(" + salesmanString + ")")),
					customer_id: customerString,
					data: basedata2
				},
				success: function(dataS) {
					var spinner = document.getElementById('loading_jp');
					spinner.style.display = "none";								
					var data = dataS;
					var image_id = data['id'];
					var image = data['image'];
					
					orderItem.copyGarmentImage.addMedia(data['image'],data['image'],false);
					return;
					orderItem.mediaController = orderItem.customerImage;
					orderItem.MediaUploadVM.imagPath = data['image'];
					orderItem.MediaUploadVM.upPath = data['image'];
					orderItem.MediaUploadVM.media(data['image']);
					return;
					var tmp = localStorage.getItem('photos');
					tmp = (tmp === null) ? [] : JSON.parse(tmp);
					var customer_id = orderItem.custSelectVM.selectedCustomer().server_id;
					tmp.push({customer_id:customer_id,image_id:image_id,picture:image,thumbnail:basedata});
					localStorage.setItem('photos', JSON.stringify(tmp));
					document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', image_id ,'"><span class="close" onclick="javascript: removepic(', image_id ,');"></span><div class="image_panel"><img src="', basedata,'" class="imageMap" id="imagemap_', image_id ,'"/><div class="mapper" id="mapper_', image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', image_id ,'"/></div><div class="planetmap" id="planetmap_', image_id ,'"></div></div></div>'].join('');
				}
			});	           			
		}		
						
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if (window.FileReader) {
			function handleFileSelect(evt) {
				var files = evt.target.files;
				var f = files[0];
				var reader = new FileReader();
			
				reader.onload = (function(theFile) {
					return function(e) {
						try{
							//resizemyImage(e.target.result);
							var t = orderItem.resizeMyImage(e.target.result, 512, 1536, "orderItemCopyGarments.htm", "");
							t = null;
							e = null;
						}catch(e1){
							customAlert('Error occured');
							appendItemMedia(e.target.result, e.target.result);
						//	document.getElementById('list').innerHTML += ['<div class="img-wrap"><span class="close"></span><img src="', e.target.result, '" width="50"/></div>'].join('');	
						}
					};
				})(f);
				reader.readAsDataURL(f);
			}
		} else {
			customAlert('This browser does not support FileReader');
		}

		photos = localStorage.getItem('photos');
		photos = (photos === null) ? [] : JSON.parse(photos);
		thetags = localStorage.getItem('tags');
		thetags = (thetags === null) ? [] : JSON.parse(thetags);
		
		if(localStorage.getItem('photos') != null){
			if(localStorage.getItem('photos').length > 0){
				for (var i=0, len=photos.length; i<len; i++){
					if(photos[i].customer_id == orderItem.custSelectVM.selectedCustomer().server_id){
						var taghtml = ""
						for (var a=thetags.length - 1; a >= 0; a--){	                    		
							if(thetags[a].image_id == photos[i].image_id){	
									fromleft = 100 + thetags[a].left;
									arrowwidth = 105 - thetags[a].left;
									taghtml += '<div class="arrow" style="width:' + arrowwidth + '%;height:2px;left:' +  thetags[a].left + '%;top:' + thetags[a].top + '%;"></div>';										
									taghtml += '<div class="tagged" style="width:35;height:35;left:105%;top:' + thetags[a].top + '%;">';
									taghtml += '<div class="tagged_title" style="display:block;">' + thetags[a].text + '</div>';
									taghtml += '<div class="tagged_box" style="width:35;height:35;top:-20;display:block;">';
									taghtml += '<img class="openDialog" onclick="javascript: deleteImageTag(this, ' + thetags[a].top + ', ' + thetags[a].left + ');" value="Delete" src="http://shirt-tailor.net/thepos/appimg/del.png" style="width: 35px; height:35px; background-color:rgba(0, 0, 0, 0); border: 0px; border-radius: 0px; margin-top: -3px; margin-left: 450px; padding: 0px;"></img>';
									taghtml += '</div></div>';
							}
						}

						document.getElementById('list').innerHTML += ['<div style="width: 100px;"></div><div class="img-wrap" id="', photos[i].image_id ,'"><span class="close" onclick="javascript: removepic(', photos[i].image_id ,');"></span><div class="image_panel"><img src="', photos[i].thumbnail ,'" class="imageMap" id="imagemap_', photos[i].image_id ,'"/><div class="mapper" id="mapper_', photos[i].image_id ,'"><img style="width: 35px; height:35px;" src="http://shirt-tailor.net/thepos/appimg/save.png" onclick="javascript:orderItem.openDialog();" id="dialog_', photos[i].image_id ,'"/></div><div class="planetmap" id="planetmap_', photos[i].image_id ,'">', taghtml, '</div></div></div>'].join('');
					}	
				}
			}  
		}
		document.getElementById('files').addEventListener('change', handleFileSelect, false);
	</script> 
</div>
