<div data-role="page" id="orderItemPopulateGarments" class="bgBody">
    <div data-bind="template: {name: 'stepstemplate'}"></div>
    <h1>Select the number of garments you wish to purchase</h1>
    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div class="container_12 tenmargins garmentselection">
                <div class="grid_12" data-bind="foreach: garmentsList">
                    <div class="grid_2">
                        <div class="rouxos" data-bind="css: title"></div>
                        <span data-bind="text: title" class="namegarments"></span>
                        <div class="clear"></div>
                        <div class="gar-calculator">
                            <div data-bind="click: $parent.removeGarment" class="ye-cal-sym"><span>-</span></div>
                            <div class="hold-number"><span data-bind="text: count" class="countgarments"></span></div>
                            <div data-bind="click: $parent.addGarment" class="ye-cal-sym"><span>+</span></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4 prefix_4 allmeasures">
                    <div class="mycheck mychecknews enabled" id="pantAngledHems" data-bind="click: function(){ copyGarment(!copyGarment());  }, css: {enabled: copyGarment() }">Use a Customer's Garment as a Fit Guide</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 prefix_10" data-bind="visible: atLeastOneGarment"><a data-bind="click: nextBigStep" class="new-btn icon-next-measurements new-btn-icon-right" data-role="button"><span class="btn-small-letter">Proceed to </span><span class="btn-letter" data-bind="visible: !copyGarment()"> Measurements</span><span class="btn-letter" data-bind="visible: copyGarment()"> Copy Garment</span></a></div>
        </div>
    </div>
</div>
