<div data-role="page" id="paymentsHistory" class="bgBody">
	<h1 data-bind="with: customersVMmirror"><span data-bind="text: customer_first_name">Customer's Name</span> <span data-bind="text: customer_last_name">Customer's Last Name</span></h1>
  <div data-role="content" data-theme="a">
    <div class="content-wrapper">
      <div class="container_12">
        <div class="grid_12">
          <h3 style="margin-top:20px !important; margin-bottom:20px !important; ">Payments History</h3>
          <div class="grid_12 formytitles">
            <div class="grid_2"> <span class="marginleftten">Payment Date</span> </div>
            <div class="grid_2"> <span>Type Of Payment</span> </div>
            <div class="grid_7"> <span>Payment Notes</span> </div>
            <div class="grid_1" style="text-align:right;"> <span class="marginrighttwenty">Amount</span> </div>
          </div>
          <div data-bind="with: custOrderPaymentsVM">
            <ul class="grid_12 listcustnew orderlist" data-bind="foreach: orderpayments">
              <li class="grid_12">
                <div class="grid_2"><span data-bind="text: $parent.transmuteDate(transaction_date)" class="marginleftten"></span> </div>
                <div class="grid_2"><span data-bind="text: payment_method"></span> </div>
                <div class="grid_7"><span data-bind="text: referer"></span> </div>
                <div class="grid_1" style="text-align:right;"><span class="marginrightten"><span data-bind="text: deposit"></span><span>&nbsp;$</span></span></div><!-- print currency -->
              </li>
            </ul>
          </div>
          <ul class="grid_4 prefix_8 listcustnew orderlist" data-bind="with: customersVMmirror" >
            <li class="grid_12 makewhitelist">
              <div class="grid_5 prefix_3"> <span>Total Amount:</span> </div>
              <div class="grid_4" data-bind="with: selected_order" style="text-align:right;"><span class="marginrightten"><span data-bind="text: (total_amount*1 + total_amount*GST/100).toFixed(2)"></span> <span>&nbsp;$</span></span> <!-- print currency --> 
              </div>
            </li>
          </ul>
          <ul class="grid_4 prefix_8 listcustnew orderlist fieldsMeasurements" >
            <li class="grid_12 makewhitelist">
              <div class="grid_5 prefix_3" > <span>Balance Owing:</span> </div>
              <div class="grid_4" data-bind="with: custOrderPaymentsVM" style="text-align:right;"><span class="marginrightten"><span data-bind="text: ammountRemaining()"></span> <span>&nbsp;$</span></span> <!-- print currency --> 
              </div>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_8"><a data-bind="click: function(){posChangePage('#orderInfo');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter"> Order's Details</span></a></div>
            <div class="grid_2"><a data-bind="click: function(){posChangePage('#makePayment');}" class="new-btn icon-goto-payment new-btn-icon-right" data-role="button"><span class="btn-small-letter">Make a</span><span class="btn-letter"> Payment</span></a></div>
        </div>
    </div>
    
    
    
  
  
    
    <div class="bigladeling right_position stepbigbuts" style="display:none;"> <a href="#" data-bind="click: function(){posChangePage('#requestRefund');}"> <span class="refundstep"></span> <span class="firstpart">Request</span> <span class="bigpart">Refund</span> </a> </div>
  </div>
  <!-- /content --> 
</div>
