<div data-role="page" id="shipping_incomingBoxes" class="bgBody">
    <!-- import style -->
    <link rel="stylesheet" type="text/css" href="css/shipping_incomingBoxes.css" media="all" />

    <div style="margin-bottom: 60px;">

        <h1>Incoming Boxes</h1>

        <!-- boxes -->
        <div data-bind="foreach: boxes">

            <div class="incomingBox grid_11">
                <!-- box header -->
                <div class="boxheader" data-bind="click: function() {$root.hideShowBoxInfo($index())}">
                    <h1 data-bind="text: 'To: ' + $data.destination" style="margin: 0px"></h1>
                    <span data-bind="text: $data.shipping_date"></span> - 
                    <span data-bind="text: $data.destination_addr"></span>
                    <br>
                    <span data-bind="text: 'FROM: '+ $data.source"></span>


                    <span data-bind="text: $root.getBoxTotalWeight($index())" style="float: right;margin: -4px 7px;"></span>
                    <span style="float: right;margin: -4px 7px;">TOTAL WEIGHT</span>
                    <div class="trackingNumber">
                        <span style="font-size: 13px;">TRACKING NUMBER</span>
                        <br>
                        <span style="font-weight: bold;" data-bind="text: $data.tracking_code != null ? $data.tracking_code : ' - '"></span>
                    </div>

                </div>



                <table data-bind="if:$data.showInfo">
                    
                    <thead>
                        
                        <tr>
                            <th>CUSTOMER</th>
                            <th>ORDER</th>
                            <th>ALTERATION</th>
                            <th>GARMENT or ITEM</th>
                            <th>FABRIC</th>
                            <th>DATE REQUIRED</th>
                            <th>DELAY</th>
                            <th>RECEIVED</th>
                        </tr>

                    </thead>

                    <tbody data-bind="foreach: $data.items">
                        <tr data-bind="style: {color: $data.chat().length > 0 ? 'red' : 'black'}">
                            <td data-bind="text: $data.customer_name,
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <td data-bind="text: $data.order_id,
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <td data-bind="text: $data.type.toUpperCase() == 'ALTERATION' ? $data.garment_name : ' - ',
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <td data-bind="text: $data.type.toUpperCase() != 'ALTERATION' ? $data.garment_name : ' - ',
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <td data-bind="text: $data.fabric_code,
                                            click: function(){$data.showMessages(!$data.showMessages())}">  </td>
                            <td data-bind="text: $data.date_required != null ? $data.date_required : ' - ',
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <td data-bind="text: $data.shipping_date != null ? $data.shipping_date : ' - ',
                                            click: function(){$data.showMessages(!$data.showMessages())}"></td>
                            <!-- check-box receive item -->
                            <td>
                                <!-- <input type="checkbox" data-bind="checked: $data.item_received(), click: function(data, event) {$root.toggleReceiveItem(data, event, $parentContext.$index() ,$index())}"
                                /> -->
                                <div class="ui-checkbox">
                                    <input name="subscribe" id="subscribe" data-bind="checked: $data.item_received" data-cacheval="true" type="checkbox" style="position: initial !important;width: 30px;height: 30px;">
                                </div>
                            </td>
                        </tr>


                        <!-- chat for each item -->
                        <tr data-bind="if: $data.showMessages()" class="chat">
                            <td colspan="2"></td>
                            <td colspan="5">
                                <!-- show only last 2  chats -->
                                <div data-bind="foreach: $data.chat.slice(-2)">
                                    <span data-bind="text: $data.created_at" class="created_at" style="font-size: 13px; font-style: italic;"></span>
                                    <span data-bind="text: $data.user_name" class="user_name" style=" font-size: 13px; font-style: italic; font-weight: bold;"></span>
                                    <span data-bind="text: $data.reason" style=" font-size: 13px;"></span>
                                    <br>
                                </div>
                                <input type="text" style="border: 1px solid; background-color: white" data-bind="value: $data.newChat">
                                <span class="send_chat_button" data-bind="click: function() {$root.sendNewMessage($parentContext.$index() , $index(), $data.newChat())}">Send</span>
                                <span class="show_chat_button" data-bind="click: function() {$root.openHistoryChat($parentContext.$index() , $index())}">History</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- check box not received -->
            <div data-bind="visible: $data.wasReceived() == false, click: function() {$root.toggleReceiveBox($index())}" class="box_received_icon box_not_received grid_1">
                <a class="new-btn icon-arrow-right new-btn-icon-right bLogin ui-link ui-btn ui-shadow ui-corner-all" data-role="button">
                    <span class="btn-letter">Not Received</span>
                </a>
            </div>
        </div>

        <!-- No BOXES message -->
        <div data-bind="visible: boxes().length == 0" style="margin-top: 40px;">
            <h1 style="color: red"> NO INCOMING BOXES</h1>
        </div>

        <!-- history pop up -->
        <div data-bind="if: historyChat() != null">
            <div id="history-popUp">
                <h1 data-bind="text: 'Logs for ' + historyChat().client_name + '\' ' + historyChat().item_name">Logs for ITEM</h1>
                <div data-bind="foreach: historyChat().item_chat">
                    <span data-bind="text: $data.created_at" class="created_at" style="font-size: 13px; font-style: italic;"></span>
                    <span data-bind="text: $data.user_name" class="user_name" style=" font-size: 13px; font-style: italic; font-weight: bold;"></span>
                    <span data-bind="text: $data.reason" style=" font-size: 13px;"></span>
                    <br>
                </div>
                <span class="close-buttom" data-bind="click: function() {$root.closeHistoryChat()}"> x </span>
            </div>
        </div>
    </div>

    <!-- return to shipping main -->
    <div class="j-footer container_12" style="max-width: 20%;">
        <div class="half-em-around">
            <div>
                <a data-bind="click: function(){posChangePage('#shipping_main_new');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>

</div>