<div data-role="page" id="shipping_main" class="bgBody">
    <h1>Shipping</h1>

    <div data-role="content" data-theme="a">
        <div class="content-wrapper">
            <div data-type="horizontal">
                <ul class="shippingmenumain">
                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_incomingBoxes')}">
                            <img src="css/stable-img/shipping/incoming.png" border="0">
                            <span style="display:block" class="mynotifyt" data-bind="text: shipping_main_VM.incomingBoxesCount"></span>
                            <span class="titleinbut">INCOMING BOXES</span>
                        </a>
                    </li>

                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function() { posChangePage('#shipping_outgoingBoxes') } ">
                            <img src="img/shipping/outgoing_icon.png" border="0">
                            <span style="display:block" class="mynotifyt" data-bind="text: shipping_main_VM.outgoingBoxesCount"></span>
                            <span class="titleinbut">OUTGOING BOXES</span>
                        </a>
                    </li>
                    
                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_missingItems')}">
                            <img src="http://shirt-tailor.net/thepos/appimg/shipping/pending.png" border="0">
                            <span style="display:block" class="mynotifyt" data-bind="text: shipping_main_VM.missingItemsCount"></span>
                            <span class="titleinbut">MISSING ITEMS</span>
                        </a>
                    </li>

                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_incomingBoxHistory')}">
                            <img src="css/stable-img/shipping/history.png" border="0">
                            <span class="titleinbut">ICOMING BOX HISTORY</span>
                        </a>
                    </li>
                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){posChangePage('#shipping_outgoingBoxHistory')}">
                            <img src="css/stable-img/shipping/history.png" border="0">
                            <span class="titleinbut">OUTGOING BOX HISTORY</span>
                        </a>
                    </li>

                    <li class="grid_3">
                        <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ changeVisibilityDiv('loading_jp'); posChangePage('#shipping_tracking')}">
                            <img src="img/shipping/tracking_icon.png" border="0">
                            <span class="titleinbut">TRACKING BOXES</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </div>
    
    <!-- back button -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 ">
                <a data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>

    <style>
        .shippingmenumain {
            list-style-type: none;
            text-align: center;
            width: 69%;
            height: 713px;
            margin-left: auto;
            margin-right: auto;
        }

        .shippingmenumain li {
            display: inline-block;
            float: none;
            top: 101px;
            position: relative;
            margin-left: 24px;
            margin-bottom: 37px;
        }

        .shippingmenumain li img {
            width: 101px;
        }
    </style>

    <!-- Make an asynchronous call to place a count of items in each sublink  -->
    <script>
       shipping_main_VM = {
            incomingBoxesCount: ko.observable(),
            outgoingBoxesCount: ko.observable(),
            missingItemsCount: ko.observable()
        }
        // ko.applyBindings(shipping_main_VM);


        // get incoming box count
        $.ajax({
            type: 'POST',
            url: BUrl + "shippings_pos/get_incoming_boxes",
            dataType: 'json',
            data: { "user": authCtrl.userInfo },
            async: true,
            success: function (ret) {

                console.log(ret);
                console.log("ret.length", ret.length);

                shipping_main_VM.incomingBoxesCount(ret.length);



            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                console.log("XMLHttpRequest", XMLHttpRequest);
                console.log("textStatus", textStatus);
                console.log("errorThrown", errorThrown);

                // remove loader
                // changeVisibilityDiv('loading_jp');

                alert("Something went wrong, please try again.")

                shipping_main_VM.incomingBoxesCount(0);

            }

        });

        // get outgoingBoxesCount
        $.ajax({
            type: 'POST',
            url: BUrl + "shippings_pos/outgoing_boxes",
            dataType: 'json',
            data: { "user": authCtrl.userInfo, "type": "outgoing" },
            async: true,
            success: function (ret) {

                // only count the regular boxes ( remove the DROP boxes and rescheduler boxes ) 
                const regularBoxCount = ret.boxes.filter( e => e.box_type === 'regular_shipping');

                shipping_main_VM.outgoingBoxesCount(regularBoxCount.length);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                console.log("XMLHttpRequest", XMLHttpRequest);
                console.log("textStatus", textStatus);
                console.log("errorThrown", errorThrown);

                // remove loader
                // changeVisibilityDiv('loading_jp');

                alert("Something went wrong, please try again.")

                shipping_main_VM.outgoingBoxesCount(0);
            }

        });

        // get missingItemsCount
        $.ajax({
            type: 'POST',
            url: BUrl + "shippings_pos/get_missing_items",
            dataType: 'json',
            data: { "user": authCtrl.userInfo },
            async: true,
            success: function (ret) {

                console.log(ret);

               shipping_main_VM.missingItemsCount(ret.boxes.length);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                console.log("XMLHttpRequest", XMLHttpRequest);
                console.log("textStatus", textStatus);
                console.log("errorThrown", errorThrown);

                // remove loader
                // changeVisibilityDiv('loading_jp');

                alert("Something went wrong, please try again.")

                shipping_main_VM.missingItemsCount(0);


            }
        });

    </script>
</div>