<div data-role="page" id="shipping_alterations_list" class="bgBody">

	<div data-role="content" data-theme="d" style="background:none !important; border:none;">
		<div class="content-wrapper">
      		<div class="container_12">
        
                <div data-role="content" data-bind="with: customersVMmirror" data-theme="a" style="background:none !important; border:none;">
                    <h1 data-bind="with: selected_item">
                    	<span data-bind="text: customer_first_name"></span> <span data-bind="text: customer_last_name"></span>
                       	<span data-bind="if: customersVM.systemMode == 'shipping_alterations'">Alteration(s)</span>
                        <span data-bind="if: customersVM.systemMode == 'shipping_garments'">Garment(s)</span></h1>
                </div>    


                <div data-bind="with: AlterationsVM">           
                  <div class="grid_12 newlisttitles">
                    <div class="grid_1"> <span class="marginleftten"> </span> </div>
                    <div class="grid_2"> <span style="display:table; margin:0 auto;">GARMENT</span> </div>
                    <div class="grid_2"> <span style="display:table; margin:0 auto;">FABRIC</span> </div>
                    <div class="grid_2"> <span style="display:table; margin:0 auto;">BARCODE</span> </div>
                     	
                    <div class="grid_3" data-bind="if: customersVM.systemMode == 'shipping_alterations'"> <span style="display:table; margin:0 auto;">FITTING DATE</span> </div>
                    <div class="grid_3" data-bind="if: customersVM.systemMode == 'shipping_garments'"> <span style="display:table; margin:0 auto;">ORDER ID</span> </div>
                    
                    <div class="grid_3" data-bind="if: customersVM.systemMode == 'shipping_alterations'"> <span style="display:table; margin:0 auto;">REQUEST DATE</span> </div>
                    <div class="grid_3" data-bind="if: customersVM.systemMode == 'shipping_garments'"> <span style="display:table; margin:0 auto;">ORDER DATE</span> </div>
                  </div>
                  <div class="clear"></div>
                  <div class="grid_12" data-bind="foreach: alterations">
                    <ul  class="grid_16 listcustnew orderlist" data-bind="foreach: products">
                      <li class="grid_12" data-bind="visible: ((customersVM.systemMode == 'shipping_alterations' && (fittings.fitting.status == '0')) || customersVM.systemMode == 'shipping_garments') ">	<!-- for visible:  	orderItem.custSelectVM.selectedCustomer().id == $parent.customer.id	-->
                        <div class="grid_1"> <span class="marginleftten"> </span> </div>
                        <!--
                        <div class="grid_3"><span data-bind="text: orderItem.custSelectVM.selectedCustomer().customer_first_name"></span> <span>&nbsp;</span><span data-bind="text: orderItem.custSelectVM.selectedCustomer().customer_last_name"></span></div>
                        <div class="grid_3"><span data-bind="text: $parent.customer.customer_first_name"></span> <span>&nbsp;</span><span data-bind="text: $parent.customer.customer_last_name"></span></div>
                        -->
                        <div class="grid_2"> <span style="display:table; margin:0 auto;"> <span data-bind="text: garment"></span></span></div>
                        <div class="grid_2"> <span style="display:table; margin:0 auto;"> <span data-bind="text: fabric"></span></span></div>
                        <div class="grid_2"> <span style="display:table; margin:0 auto;"> <span data-bind="text: barcode"></span></span></div>
                        
                        
                        <div data-bind="if: customersVM.systemMode == 'shipping_garments'">
                        	<div class="grid_3"> <span style="display:table; margin:0 auto;"> <span data-bind="text: $parent.order_id"></span></span></div>
                        	<div class="grid_3"> <span style="display:table; margin:0 auto;"> <span data-bind="text: $parent.ordered_date"></span></span></div>
                        </div>
                        
                        <div data-bind="if: customersVM.systemMode == 'shipping_alterations'">
	                        <div class="grid_3"> <span style="display:table; margin:0 auto;" > <span data-bind="text: $parents[1].transmuteDate(fittings.fitting.fitting_date)"></span></span></div>
                            <div class="grid_3"> <span style="display:table; margin:0 auto;"> <span data-bind="text: $parents[1].transmuteDate(fittings.fitting.delivery_date)"></span></span></div>
                        </div>
                        <div class="centermy myaltersel" data-bind="if: customersVM.systemMode == 'shipping_alterations'"> 
							<select name="tailor" id="tailor" data-bind="options: orderItem.AlterationsVM.tailors(), value: tailor, optionsText: function(item){return item.first_name + ' ' + item.last_name;}, optionsCaption: 'Select Tailor'"></select>
						</div>
                        <div class="grid_1">
                            <div name="simpleclick" class="simpleclick" style="margin:3px 0 0 10px;" data-bind="css: { 'selecteds': checked === true }, click: function(){ checked = !checked; $parents[1].modifiedListOptionsFunction('simpleclick'); } " >box </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                  
                  <!--<div  class="grid_4 tokostosmou" data-bind="visible: parent.customersVM.systemMode == 'shipping_garments'">
					<span style="color:#FFFFFF">Comments</span>
                    <textarea style="width:50% !important; float:right; " id="Comments" name="Comments" type="text" data-bind="value: Comments, valueUpdate:'keyup'"></textarea>
				  </div>-->
                  
                  <div class="clear"></div>
                  
                  
                
				                         
                  <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 suffix_8"><a href="#" data-bind="click: function(){posChangePage('#shipping_main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter">Shipping</span></a></div>
            <div class="grid_2" id="SyncButton"><a href="#" data-bind="click: shipping_alterations_sync" class="new-btn icon-add-customer new-btn-icon-right" data-role="button"><span class="btn-small-letter">Create New</span><span class="btn-letter"> Item(s)</span></a></div>
        </div>
    </div>
                </div>           
        
			</div>
		</div>
		<div class="clear"></div>
	</div>
    
    
    
</div>

