<div data-role="page" id="shipping_missingItems" class="bgBody">
    <!-- import style -->
    <link rel="stylesheet" type="text/css" href="css/shipping_missingItems.css" media="all" />

    <h1>Missing Items</h1>

    <table class="missing_items_table grid_12"  data-bind="visible: missingItems().length > 0">
        <thead>
            <th>FROM CITY</th>
            <th>CREATE BY</th>
            <th>MISSING DATE</th>
            <th>EXPECTED DATE</th>
            <th>CUSTOMER</th>
            <th>ITEM</th>
            <th>BALLANCE</th>
            <th>TRACKING no</th>
            <th>COURRIER</th>
            <th style="background-color: white;"></th>
        </thead>
        <tbody data-bind="foreach: missingItems">
            <tr>
                <td data-bind="text: $data.source_name"></td>
                <td data-bind="text: $data.box_created_by"></td>
                <td data-bind="text: $data.missing_at"></td>
                <td data-bind="text: $data.suggested_shipping_date"></td>
                <td data-bind="text: $data.customer_name"></td>
                <td data-bind="text: $data.garment_name"></td>
                <td data-bind="text: $data.total_amount"></td>
                <td data-bind="text: $data.tracking_code"></td>
                <td data-bind="text: $data.shipping_method_name"></td>
                <td>
                    <!-- check box received -->

                    <div class="box_received_icon box_received" data-bind="if:$data.sorted() ,click: function(data, event) {$root.openSortItemPopUp($index())}">
                        <a class="new-btn icon-arrow-right new-btn-icon-right bLogin ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button" style="top: 5px;">
                            <span class="btn-letter">Sorted</span>
                        </a>
                    </div>


                    <!-- check box not received -->
                    <div class="box_received_icon box_not_received" data-bind="if:!$data.sorted() ,click: function(data, event) {$root.openSortItemPopUp($index())}">
                        <a class="new-btn icon-arrow-right new-btn-icon-right bLogin ui-link ui-btn ui-shadow ui-corner-all" data-role="button" style="top: -10px;left: -3px;">
                            <span class="btn-letter">Not Sorted</span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- No BOXES -->
    <div data-bind="visible: missingItems().length == 0" style="margin-top: 40px;">
        <h1 style="color: red"> NO MISSING ITEMS</h1>
    </div>

    <!-- return to shipping main -->
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 ">
                <a data-bind="click: function(){posChangePage('#shipping_main_new');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button">
                    <span class="btn-small-letter">Back to </span>
                    <span class="btn-letter"> Main</span>
                </a>
            </div>

        </div>
    </div>

    <div data-bind="if:$root.showPopUp()">

        <div class="pop-up sort_item">
            <span class="close_popup" data-bind="click: function() {$root.popUp().closePopUp()}">X</span>
            <h1>Where is the item?</h1>

            <div class="myform" data-bind="with: $root.popUp()">

                <!-- select address -->
                <span>Address</span>
                <select data-bind="options: address,
                                   optionsText: 'fullAddress',
                                   value: selectedAddress">
                </select>

                <div data-bind="visible:  selectedAddress() != null && selectedAddress().fullAddress == 'Other'">
                    <span>Other</span>
                    <input type="text" data-bind="value: other">
                </div>

                <!-- select salesman -->
                <span>Salesman</span>
                <select data-bind="options: salesman,
                                   optionsText: 'fullName',
                                   value: selectedSalesman">
                </select>

                <!-- Explanation -->
                <span>Explanation</span>
                <textarea name="" id="" rows="5" data-bind="value: explanation"></textarea>

                <!-- check box not received -->
                <div class="box_received_icon box_not_received" data-bind="click: function(data, event) {submitButton()}">
                    <a class="new-btn icon-arrow-right new-btn-icon-right bLogin ui-link ui-btn ui-shadow ui-corner-all" data-role="button" style="width: 8%;float: right;">
                        <span class="btn-letter">Submit</span>
                    </a>
                </div>

            </div>
        </div>


    </div>

</div>