<div data-role="page" id="shipping_main" class="bgBody"> 
	<h1>Shipping</h1>
  
  <div data-role="content" data-theme="a">
    <div class="content-wrapper">
      <div data-type="horizontal">
        <ul class="shippingmenutop">
          <!-- shippingmenutop	shipping-mainmenu -->
          <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_alterations';posChangePage('#shipping_select_customer');}"> <img src="css/stable-img/shipping/alterations.png" border="0"><span class="titleinbut">ALTERATIONS</span></a></li>
          <!-- <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_fabrics';posChangePage('#shipping_select_customer');}"> <img src="css/stable-img/shipping/fabrics.png" border="0"><span class="titleinbut">FABRICS</span></a></li>
          <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_copy_garment';posChangePage('#shipping_select_customer');}"> <img src="css/stable-img/shipping/copy-garments.png" border="0"><span class="titleinbut">COPY GARMENT</span></a></li>
         <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_faulty_garments';posChangePage('#shipping_select_customer');}"><img src="css/stable-img/shipping/faulty-garments.png" border="0"><span class="titleinbut">FAULTY GARMENTS</span></a></li>
          <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_remake_garments';posChangePage('#shipping_select_customer');}"> <img src="css/stable-img/shipping/remake-garments.png" border="0"><span class="titleinbut">REMAKE GARMENTS</span></a></li>-->
          <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_other';posChangePage('#shipping_other');}"> <img src="css/stable-img/shipping/other.png" border="0"><span class="titleinbut">OTHER</span></a></li>
          <li><a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ customersVM.systemMode ='shipping_garments';posChangePage('#shipping_select_customer');}"> <img src="css/stable-img/shipping/customer_garments.png" border="0"><span class="titleinbut">CUSTOMER GARMENTS</span></a></li>
        </ul>
        <ul class="shippingmenutop">
          <!-- shippingmenutop	shipping-mainmenu -->
          <li>
				<a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"  
          			data-bind="click: function(){	document.getElementById('loading_jp').style.display = 'block';
													ShippingBoxesItemsListVM =  new BoxItemListVM();
													ShippingBoxesItemsListVM.setTitle('Pending Items');
													ShippingBoxesItemsListVM.loadList('client_logistics/pending_items_endpoint');
													posChangePage('#shipping_items');
													document.getElementById('loading_jp').style.display = 'none';
										}"> 
          <img src="css/stable-img/shipping/pending.png" border="0"><span id="pendingnotifications" style="display:none" class="mynotifyt">0</span><span class="titleinbut">PENDING</span></a></li>
		  <li>
				<a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true"  
          			data-bind="click: function(){	document.getElementById('loading_jp').style.display = 'block';
													ShippingBoxesItemsListVM =  new BoxItemListVM();
													ShippingBoxesItemsListVM.setTitle('Pending Items');
													ShippingBoxesItemsListVM.Missing(true);
													ShippingBoxesItemsListVM.getLocations();
													ShippingBoxesItemsListVM.loadList('client_logistics/missing_items_endpoint');
													posChangePage('#shipping_items');
													document.getElementById('loading_jp').style.display = 'none';
										}"> 
          <img src="http://shirt-tailor.net/thepos/appimg/shipping/pending.png" border="0"><span id="pendingnotifications" style="display:none" class="mynotifyt">0</span><span class="titleinbut">MISSING</span></a></li>
          <li> <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ document.getElementById('loading_jp').style.display = 'block';
																																ShippingBoxListVM =  new BoxListVM();
																																ShippingBoxListVM.setTitle('Stand By Boxes');
																																ShippingBoxListVM.loadList(false, false, 'client_logistics/standby_boxes_endpoint');
																																posChangePage('#shipping_box_list');
																																document.getElementById('loading_jp').style.display = 'none';}"> 
																																
				<img src="css/stable-img/shipping/stand-by.png" border="0"><span class="titleinbut">STAND BY</span></a></li>
		  <li> <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ document.getElementById('loading_jp').style.display = 'block';
																																ShippingBoxListVM =  new BoxListVM();
																																ShippingBoxListVM.setTitle('Incoming Boxes');
																																ShippingBoxListVM.loadList(true, false, 'client_logistics/incoming_boxes_endpoint');
																																posChangePage('#shipping_box_list');
																																document.getElementById('loading_jp').style.display = 'none';}"> 
				<img src="css/stable-img/shipping/incoming.png" border="0"><span id="incomingnotifications" style="display:none" class="mynotifyt">0</span><span class="titleinbut">INCOMING</span></a></li>
		  <li> <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ document.getElementById('loading_jp').style.display = 'block';
																																ShippingBoxListVM =  new BoxListVM(true);
																																ShippingBoxListVM.setTitle('Outside Boxes');
																																ShippingBoxListVM.loadList(true, false, 'client_logistics/incoming_boxes_custom_location_endpoint');
																																ShippingBoxListVM.receiveBox(true);
																																posChangePage('#shipping_box_list');
																																document.getElementById('loading_jp').style.display = 'none';}"> 
				<img src="css/stable-img/shipping/incoming.png" border="0"><span class="titleinbut">Outside Boxes</span></a></li>
          <li> <a data-theme="none" data-transition="fade" data-corners="false" data-shadow="false" data-inline="true" data-bind="click: function(){ document.getElementById('loading_jp').style.display = 'block';
																																ShippingBoxListVM =  new BoxListVM(true);
																																ShippingBoxListVM.setTitle('History Boxes');
																																ShippingBoxListVM.loadList(true, true, 'client_logistics/history_boxes_endpoint');
																																posChangePage('#shipping_box_list');
																																document.getElementById('loading_jp').style.display = 'none';}"> 
				<img src="css/stable-img/shipping/history.png" border="0"><span class="titleinbut">HISTORY</span></a></li>
        </ul>
      </div>
    </div>
    
  </div>
  <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 "><a data-bind="click: function(){posChangePage('#main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to </span><span class="btn-letter"> Main</span></a></div>
            
        </div>
    </div>
</div>
