<div data-role="page" id="shipping_items" class="bgBody">
    <h1 data-bind="text: Title"></h1>
    <div class="content-wrapper">
        <div class="container_12"> 
            <!-- CONTACT INFO POPUP	-->
            
            <div data-role="content" data-theme="none">
                <div class="content-wrapper">
                    <div data-type="horizontal" class="container_16" style="margin-bottom:200px;">
                        <div class="grid_16"> 
                            
                            <!--<div class="grid_16 newlisttitles">
								<div class="grid_1" style="width:28px"><span> </span></div>
								<div class="grid_3" data-bind="click: function(){ console.log( JSON.stringify(this.ShippingBoxContents()) ); }"><span class="marginleftten">Type of Content</span></div>
								<div class="grid_4"><span class="marginleftten">Customer Name & Info</span></div>
								<div class="grid_2"><span class="marginleftten">Telephone</span></div>
								<div class="grid_2"><span class="marginleftten">Type</span></div>
								<div class="grid_2"><span class="marginleftten"> </span></div>
							</div>-->
                            <ul class="itemlist" data-bind="foreach: Items">
                                <!--<div class="white_content mynicepop" data-bind="attr:{id:'ContactInfoPopup'+$index()}">
                                    <div class="inmynicepop">
                                        <p>Customer Contact Info</p>
                                        <div class="custinfos">
                                            <ul>
                                                <li> <span class="firstpart">Customer Name:</span> <span class="secondpart"> <span data-bind="text:Item.Customer.customer_first_name" ></span> <span data-bind="text:Item.Customer.customer_last_name"></span> </span> </li>
                                                <li> <span class="firstpart">State - City :</span> <span class="secondpart"> <span data-bind="text:Item.Customer.customer_state"></span> <span>&nbsp; &ndash; &nbsp;</span> <span data-bind="text:Item.Customer.customer_city"></span> <span data-bind="text:Item.Customer.customer_country" style="display:none;"></span> </span> </li>
                                                <li> <span class="firstpart">Street Address:</span> <span class="secondpart"><span data-bind="text:Item.Customer.customer_address1"></span>, <span data-bind="text:Item.Customer.customer_address2"></span>, <span  data-bind="text:Item.Customer.customer_postal_code"></span></span></li>
                                                <li> <span class="firstpart">Mobile #:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_mobile_phone"></span> </li>
                                                <li style="display:none;"> <span class="firstpart">Landline #:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_landline_phone"></span> </li>
                                                <li> <span class="firstpart">E-mail:</span> <span class="secondpart" data-bind="text:Item.Customer.customer_email"></span> </li>
                                            </ul>
                                        </div>
                                        <a href = "javascript:void(0)" class="close_popups mynicepopclose" data-bind="click: function(){ document.getElementById('ContactInfoPopup'+$index()).style.display = 'none'; }">Close</a> </div>
                                </div>--> 
                                <!-- CONTACT INFO POPUP	-->
                                <li class="grid_list">
                                    <div class="checkmytab">
                                        <input type="checkbox" data-bind="checked:checked"/>
                                    </div>
                                    <h5><span class="marginleftten" data-bind="text: Item.ItemType"></span> <span data-bind="visible: Item.Customer.customer_first_name" style="font-weight: normal; text-transform: none;">for </span> <span data-bind="text: Item.Customer.customer_first_name"></span> <span data-bind="text: Item.Customer.customer_last_name"></span></h5>
                                    <h5 data-bind="visible: $parent.Headers.includes('Type')" style="margin-top: 4px; margin-bottom: 4px;"><span class="marginleftten" data-bind="text: Item.details.type"></span> <span data-bind="visible: Item.details.fabric"> &#8722; </span> <span data-bind="visible: $parent.Headers.includes('Fabric Code'), text: Item.details.fabric"></span></h5>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.barcode"><span class="marginleftten">Barcode: </span><span data-bind="text: Item.barcode, visible: Item.barcode"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.order_id"><span class="marginleftten" >Order: </span><span data-bind="text: Item.details.order_id"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.fitting_date"><span class="marginleftten" >Fitting Date: </span><span data-bind="text: Item.details.fitting_date"></span></div>
                                    <div class="grid_12" style="margin: 0px 0px 3px;" data-bind="visible: Item.details.code"><span class="marginleftten" >Trimming Type: </span><span data-bind="text: Item.details.code"></span></div>
                                    
                                    <!--<div class="grid_2" data-bind="visible: $parent.Headers.includes('Order Date')" ><span class="marginleftten" data-bind="text: Item.details.ordered_date"></span></div>
                                  
                                    <div class="grid_2" data-bind="visible: $parent.Headers.includes('Trimming Code')"><span class="marginleftten" data-bind="text: Item.details.code"></span></div>-->
                                    <div class="grid_12" data-bind = "visible:$parent.Missing()"> <span data-bind="visible:Item.Missing">Missing</span> 
									<select name="ShippingBoxDestination" id="ShippingBoxDestination" data-mini="true" data-bind="visible:$parent.Missing(), options: $parent.Locations, value: Item.location, optionsText: 'stock_location_name', optionsCaption: 'Select Destination' ">
									</select>
									</div>
                                </li>
                            </ul>
                        </div>
                        <div id="PrintLabelsEmailDialog" style=" background:rgba(0,0,0,0.7); display:none;  position: fixed; top:0px; left:0px;  width:100%; height:100%; z-index:1020; ">
                            <div style=" background:#FFF; z-index:1022; width:30%; margin-left: 35%; margin-right: 35%; margin-top:5%; margin-bottom:25%; border-radius:10px; padding:10px;" >
                                <div style="margin:1%;padding:10px 0px;"> <span style="color:#444; font-size:16px; font-family:'body_font'; line-height:21px; text-align:center;">Enter the email address where the labels PDF will be sent to </span>
                                    <input type="text" id="ShippingBoxVariousInput" name="ShippingBoxVariousInput"  data-theme="a"/>
                                </div>
                                <div class="apanwsteps container_12" style=" width:100%; bottom:0;height:12%">
                                    <div class="grid_2 suffix_8 stepsmenud"> <a data-bind="click: function(){ document.getElementById('PrintLabelsEmailDialog').style.display = 'none'; }">Cancel</a> </div>
                                    <div class="grid_2 stepsmenud"> <a data-bind="click: function(){ printLabels(); document.getElementById('PrintLabelsEmailDialog').style.display = 'none';}">Confirm</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="j-footer container_12">
        <div class="half-em-around">
            <div class="grid_2 " data-bind="visible:addMode()"><a data-bind="click: function(){addMode(false);posChangePage(BackPage());}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter" data-bind="text:BackMessage"></span></a></div>
            <div class="grid_2 " data-bind="visible:!addMode()"><a data-bind="click: function(){posChangePage('#shipping_main');}" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Back to</span><span class="btn-letter" >Shippings</span></a></div>
            <div class="grid_2 prefix_3"><a data-bind="click: function(){ document.getElementById('PrintLabelsEmailDialog').style.display = 'block'; }" class="new-btn icon-goto-main new-btn-icon-left" data-role="button"><span class="btn-small-letter">Print </span><span class="btn-letter"> Shipping Labels</span></a></div>
            <div class="grid_2 prefix_3" data-bind="visible: addMode() == false"><a data-bind="click: function(){ createNewBox();}" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Create a </span><span class="btn-letter"> New BOX</span></a></div>
            <div class="grid_2 prefix_3" data-bind="visible: addMode"><a data-bind="click: function(){ addItemsToBox();}" class="new-btn icon-goto-main new-btn-icon-right" data-role="button"><span class="btn-small-letter">Add Items </span><span class="btn-letter"> To BOX</span></a></div>
			<div class="grid_2 prefix_3" data-bind="visible: Missing()"><a data-bind="click: function(){ changeItemsLocation();}"> <span class="makegreen"> Change the Location </span><span class="btn-letter"> Of Items</span></a></div>
        </div>
    </div>
</div>
