<div data-role="page" id="shipping_incoming" class="bgBody"> 
  <!--	<div data-bind="template: { name: 'headerTemplate'}"></div>	-->
  <div data-role="header" data-position="fixed" data-theme="a" data-tap-toggle="false" class="mainpagesheader container_12">
    <ul class="grid_5 prefix_7 topmenu">
      <!-- <li><a href="#settings" class="settingsli">Setting</a></li> -->
      <li><a href="#" data-bind="click: function(){posChangePage('#stats');}" class="statsli">Stats</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#notification');}" class="mesagli">Notifications</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#calendar');}" class="calenli">Calendar</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#orderItemSelectCustomer');}" class="newordli">Add Order</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#listCustomer');}" class="newcustli">Customers</a></li>
      <li><a href="#" data-bind="click: function(){posChangePage('#main');}" class="mainli">Home</a></li>
    </ul>
    <!-- /navbar --> 
  </div>
  <div data-role="content" data-theme="none">
    <div class="content-wrapper">
      <div data-type="horizontal" class="container_16">
        <div class="grid_16">
          <div class="mylabels"><span class="mylabels-icon"></span><span class="mylabels-title">Incoming Boxes</span></div>
        </div>
        <div class="grid_16" data-bind="with:ShippingDataVM">
          <div class="grid_16 newlisttitles">
            <div class="grid_4"><span class="marginleftten">Sender</span></div>
            <div class="grid_3"><span class="marginleftten">Sent Date</span></div>
            <div class="grid_4"><span class="marginleftten">Shipping Method</span></div>
            <div class="grid_3 suffix_2"><span class="marginleftten">Tracking Code</span></div>
          </div>
          <ul class="grid_16 listcustnew orderlist" data-bind="foreach: boxes">
            <li class="grid_16">
              <div class="grid_4"><span class="marginleftten" data-bind="text: sender_stock_location_name"></span></div>
              <div class="grid_3"><span class="marginleftten" data-bind="text: $parent.timestampToDate(shipping_items_box_sent_date)"></span></div>
              <div class="grid_4"><span class="marginleftten" data-bind="text: shipping_method_name"></span></div>
              <div class="grid_3"><span class="marginleftten" data-bind="text: shipping_items_box_tracking_code"></span></div>
              <div class="grid_2"><span class="view-items-btn" data-bind="click: function(){ $parent.viewBox($index()); }">VIEW ITEMS</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bigladeling left_position stepbigbuts"> <a href="#" data-bind="click: function(){posChangePage('#shipping_main');}" data-transition="fade" data-corners="false" data-shadow="false"> <span class="prevstep"></span> <span class="firstpart">Back to</span> <span class="bigpart">Shipping</span> </a> </div>
  </div>
</div>