<div class="design-selection-ui order-step" data-bind="if: selectedStep().id == '3'">
	
	<style>
		.garment-portifolio-wrapper {
			width: 100%;
		}

		.garment-portifolio-el {

		}

		.garment-price-wrapper {

		}
		.garment-price-input {
			font-size: 24px;
			border: none;
			border-radius: 5px;
			width: 100px;
		}
		.garment-design-overview-wrapper {

		}

		.garment-notes-wrapper {

		}

		.send-portifolio-pdf-btn {
			top: 30px;
			position: relative;
			border: none;
			background: var(--grey-4);
			color: white;
			padding: 5px;
			padding-right: 5x;
			padding-left: 5px;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 20px;
			border-radius: 5px;
		}

		.garment-template-name {
			font-size: 20px;
			font-weight: 900;
			text-transform: capitalize;
			margin-top: 0;
		}

		.garment-portifolio-notes {
			width: 100%;
			height: 150px;
			resize: none;
			border: none;
			border-radius: 5px;
		}

	</style>

	<!-- templates for images 3d -->
	<div id="pants3dTemplates"></div>
	<div id="vest3dTemplates"></div>
	<div id="shirt3dTemplates"></div>
	<div id="jacket3dTemplates"></div>
	<div id="suit3dTemplates"></div>


	<script>
		// import templates
		$('#pants3dTemplates').load('uniforms_designs/images_3d_teplates/pants3D.htm');
		$('#vest3dTemplates').load('uniforms_designs/images_3d_teplates/vest3D.htm');
		$('#shirt3dTemplates').load('uniforms_designs/images_3d_teplates/shirt3D.htm');
		$('#jacket3dTemplates').load('uniforms_designs/images_3d_teplates/jacket3D.htm');
		$('#suit3dTemplates').load('uniforms_designs/images_3d_teplates/suit3D.htm');
	</script>

	<h1>Portfolio Step</h1>

	<div class="garment-portifolio-wrapper">
		
		<div data-bind="foreach: { data: $root.garmentsStep.garments(), as: 'garmentType' }">
			
			<div class="garment-portifolio-wrapper col-md-9" data-bind="foreach : { data: garmentType.garments(), as: 'garment' },">

				<div class="garment-portifolio-el row" data-base64="" data-bind="attr : { 'data-garment-id' : garment.unique_id, 'id' : 'garment-' + garment.unique_id }">
					
					<div class="portfolioStep3D col-md-6">
						
						<!-- for pants garments -->
						<!-- ko if: garmentType.id == '1' -->
						<div data-bind="template: { name: 'pants3DTemplate', data: garment }"></div>
						<!-- /ko -->
						
						<!-- for vest garments -->
						<!-- ko if: garmentType.id == '3' -->
						<div data-bind="template: { name: 'vest3DTemplate', data: garment }"></div>
						<!-- /ko -->

						<!-- for shirt garments -->
						<!-- ko if: garmentType.id == '2' -->
						<div data-bind="template: { name: 'shirt3DTemplate', data: garment }"></div>
						<!-- /ko -->

						<!-- for jacket garments -->
						<!-- ko if: garmentType.id == '4' -->
						<div data-bind="template: { name: 'jacket3DTemplate', data: garment }"></div>
						<!-- /ko -->

						<!-- for suit garments -->
						<!-- ko if: garmentType.id == '6' -->
						<div data-bind="template: { name: 'suit3DTemplate', data: garment }"></div>
						<!-- /ko -->

					</div>



					<div style="min-height: 458px;" class="col-md-6">
							
						<p class="garment-template-name" data-bind="text: garment.templateName()"></p>

						<div class="garment-price-wrapper">
							$ <input type="number" class="garment-price-input" data-bind="value: garment.price "> <span> PER GARMENT + GST</span>
						</div>	

						<hr>

						<div class="row">

							<div class="garment-design-overview-wrapper col-md-6">
								
								<p><strong>Design Overview:</strong></p>
								<!-- Put garment design overview here -->
								<div data-bind="foreach: $root.garmentsPortfolioStep.getPortfolioData($data.unique_id)" style="overflow-y: scroll;max-height: 313px;">
									<span data-bind="text: $data[0]+' : '"></span>
									<span data-bind="text: $data[1]"></span>
									<br>
								</div>

							</div>

							<div class="garment-notes-wrapper col-md-6">
								<p><strong>Notes</strong></p>
								<textarea class="garment-portifolio-notes" placeholder="Write your Notes" data-bind="value: garment.portifolioNotes"></textarea>

							</div>

						</div>
					</div>



				</div>

				<hr>


			</div>

		</div>


		<div style="text-align: center;">
			<button class="send-portifolio-pdf-btn" data-bind="click: function() { $root.garmentsPortfolioStep.sendPortifolioEmail(); } ">SEND SELECTED GARMENTS TO CUSTOMER</button>
		</div>
	</div>


</div>