<div class="measurements-selection-ui order-step" data-bind="if: $root.selectedStep().id == '4'">

    <!--  Start bodyShape step -->
    <style>
        .bodyshape-imgs-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .bodyshape-el-wrapper {
            margin: 1rem;
            width: 10%;
            border-radius: 10px;
            text-align: center;
        }
        .bodyshape-img {
            width: 100%
        }
        .selectedShape { 
            background-color: rgb(160, 191, 75);
            color: white;
        }
        .cust-bodyshape-notes {
            width: 100%;
            background-color: #ececec;
            border: medium none;
            border-radius: 0.351em !important;
            box-shadow: none;
            min-height: 100px;
        }
    </style>

    <!--  TODO : pre select customer bodyshape from older orders-->

    <div data-bind="with: $root.bodyShapesStep">

        <!-- List all body shapes -->
        <div class="container_12">

            <ul data-bind="foreach: { data: bodyShapes, as: 'bodyshapeCategory' }">

                <li>
                    <!-- part of body -->
                    <h2 data-bind="text: bodyshapeCategory.cat_name"></h2>

                    <div  data-bind="foreach: bodyshapeCategory.values">

                        <div class="bodyshape-imgs-wrapper" data-bind="foreach: $data">

                            <div class="bodyshape-el-wrapper" data-bind="click: function() { $parents[2].selectBodyShape(bodyshapeCategory, $data) },
                                        css:{ 'selectedShape' : bodyshapeCategory.selectedValue() == $data }">

                                <div class="bodyshape-img-wrapper">
                                    <img class="bodyshape-img" data-bind="attr: {src: $data.bodyshapeImage}" />
                                </div>

                                <div class="bodyshape-title-wrapper">
                                    <span data-bind="text: $data.title"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="col-md-12">
            <h1>BodyShape Comments</h1>
            <textarea class="cust-bodyshape-notes" data-bind="value: bodyshapeNotes"></textarea>
        </div>

    </div>

</div>
<!-- End bodyShape step -->






