<div class="garment-selection-ui order-step" data-bind="if: selectedStep().id == '1'">
	
	<style>
		.garments-step-counter-wrapper {
			display: flex;
			margin-left: 45px;
		}

		.garment-img-wrapper {
			background: var(--grey-1);
			border-radius: 50%;
			margin: 0 auto;
			width: 100px;
			height: 100px;
		}

		.garment-img-wrapper .garment-image {
			width: 93%;
		}

		.garment-count-btn {
			background-color: var(--grey-1);
			color: var(--grey-3);
			border-radius: 50%;
			width: 45px;
			height: 45px;
			text-align: center;
			font-size: 29px;
		}

		.garment-count-number {
			font-size: 25px;
			font-weight: 100;
		}

		.inline-div {
			display: inline-block;
		}

		.garment-counter-item {
			text-align: center;
			font-size: 24px;
			font-weight: 900;
			display: inline-block;
			width: 24%;
		}

		.customer-counter-span {
			font-size: 40px;
			color: var(--grey-4);
			display: table-cell;
			vertical-align:middle;
			text-align: center;
		}
		.cust-left-info-wrapper {
			max-width: 120px;
			position: relative;
			top: 10px;
			text-align: center;
		}

		.page-title {
			color: var(--grey-4);
			font-weight: 200;
			font-size: 40px;
		}

		.garment-selection-wrapper {
			width: 90%;
			margin: 0 auto;
		}

	

	</style>


	

	<div style="min-height: 1000px">

		<h1 style="text-align: center;">Select Types of Garments To Design</h1>


		<div class="garment-selection-wrapper" data-bind="foreach: { data: $root.garmentsStep.garments, as: 'garment' }">
			

			<div class="garment-counter-item">
				
				<div class="garment-img-wrapper">
					<img class="garment-image" data-bind="attr: { src: garment.image}">
				</div>

			    <span data-bind="text:garment.name"></span>
			    <br>
			    <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { $root.garmentsStep.decrementGarment(garment.id); } "> - </div>
			    <div class="garment-count-number inline-div" data-bind="text: $data.garments().length"></div>
			    <div class="garment-count-btn inline-div btn btn-small submit" data-bind="click: function() { $root.garmentsStep.incrementGarment(garment.id); } "> + </div>
			</div>	




		</div>

	</div>



</div>