<style>
	
	.signature-btn {
		background-color: #ececec;
		border-color: #ececec;
		color: #333;
		text-shadow: 0 0px 0 #f3f3f3;
		border: none;
		padding: 10px;
		padding-right: 10px;
		padding-left: 10px
		padding-right: 10px;
		padding-left: 10px;
		font-size: 18px;
		border-radius: 5px;
		padding-right: 15px;
		padding-left: 15px;
		font-weight: 900;
	}



</style>


<div class="design-selection-ui order-step" data-bind="if: selectedStep().id == '4'">
	
	<div style="min-height: 1000px;">

		<div data-bind="if: !$root.finalizeStep.canvasBase64()">
			<button class="signature-btn" data-bind="click: function() { $root.finalizeStep.prepareCanvas(); },
							   visible: !$root.finalizeStep.signing()"> Sign </button>
			
			<div id="canvas-wrapper" style="display: none;">
				<h2>Finalize</h2>

	            <div class="grid_9">
	                <div style="margin: 0px; width: 710px; height:350px; z-index:500">
	                    <div id="canvasDiv" style=" height:350px; margin: 0 auto; width: 710px; background:#ececec; border-radius:9px"></div>
	                </div>
	            </div>
	            <div class="grid_3">
	            	
	                <div id="saveDiv"  style="margin-left: 50px;" class="grid_4">
	                    <button class="canvassave signature-btn"  data-bind="click: function() { $root.finalizeStep.saveCanvas() } "style="margin-top:0PX !important;">Save</button>
	                </div>
	                <br style="clear: both"> 
	                <div id="clearDiv" style="margin-left: 50px;margin-top: 20px" class="grid_4">
	                    <button class="signature-btn" data-bind="click: function() { $root.finalizeStep.clearCanvas(); }">Clear</button>
	                </div>
	                <!-- Code for hidden buttons -->
	                <div id="resignDiv" style="display:none;" class="grid_8">
	                    <button class="signature-btn" style="margin-top:0PX !important;">Sign Again?</button>
	                </div>
	                <!-- end Code for hidden buttons --> 
	            </div>
			</div>
		</div>

		<div data-bind="if: $root.finalizeStep.canvasBase64()">
			<h2>Signature Saved !</h2>
			<div class="col-md-8">
				<img data-bind="attr: { src : $root.finalizeStep.canvasBase64() }">
			</div>
			<div class="col-md-4">
				<button class="signature-btn" data-bind="click: function() { $root.finalizeStep.prepareCanvas(); }">Sign Again</button>
			</div>
		</div>

		<br style="clear: both"> 

	</div>

</div>