<div class="garment-selection-ui order-step" data-bind="if: selectedStep().id == '7'">
	
	<style>

		.products-overview-wrapper {
			width: 100%;
		}

		.payment-cc-img {
			width: 250px;
		}	

		.upload-cc-img-btn {
			border: none;
			border-radius: 5px;
			color: white;
			background: var(--grey-2);
			padding: 10px;
			padding-right: 15px;
			padding-left: 15px;
			margin-left: 5px;
		}

		.order-general-notes-textarea {
			width: 100%;
		}
		.extra-cost-input {
			width: 90%;	
		}
		.checkbox-wrapper {
			display: flex;
			padding: 5px;
			background: var(--gray1);
		}
		.remove-cc-img-btn {
			position: absolute;
			background: red;
			color: white;
			padding: 10px;
			right: 0px;
		}
		.payments-checkbox {
			width: 30px;
			height: 30px;
		}
		.filler {
			border-bottom: 1px dashed #333;
		}

		.terms-wrapper {
			position: fixed;
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
			z-index: 2000000;
			top: 0px;
			left: 0px;
		}

		.terms-inside-wrapper {
			margin: 0 auto;
			width: 60%;
			height: 80%;
			background: #FFF;
			padding: 15px;
			top: 5%;
			position: relative;
			border-radius: 10px;
		}

		.terms-text-wrapper {
			height: 500px;
			overflow-y: scroll;
		}

		.add-extra-cost-btn {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			border: 1px solid #3c3c3b;
		    border-top-color: rgb(60, 60, 59);
		    border-right-color: rgb(60, 60, 59);
		    border-bottom-color: rgb(60, 60, 59);
		    border-left-color: rgb(60, 60, 59);
			border-top-color: rgb(60, 60, 59);
			border-right-color: rgb(60, 60, 59);
			border-bottom-color: rgb(60, 60, 59);
			border-left-color: rgb(60, 60, 59);
			border-radius: 0.351em;
			color: #3c3c3b;
			padding: 7px 0px !important;
			text-align: center;
			text-shadow: none;
			cursor: pointer;
			width: 20%;
		}

		.payment-checkbox-background {
			background: var(--grey-1);
			border-radius: 5px;
			color: black;
			width: 95%;
			font-weight: 500;
		}

		.payment-label-checkbox {
			top: 5px;
			position: relative;
			font-weight: 900;
		}

		.payment-hr {
			background: #c8c8c8 none repeat scroll 0 0;
			border: medium none;
			clear: both;
			height: 3px;
			margin: 30px auto;
			width: 90%;
		}

		.payment-input {
			margin: 0;
			min-height: 2.2em;
			text-align: left;
			border: 0;
			background: #ececec;
			-webkit-appearance: none;
			-webkit-border-radius: inherit;
			border-radius: 5px;
		}

		.signature-btn {
			background-color: #ececec;
			border-color: #ececec;
			color: #333;
			text-shadow: 0 0px 0 #f3f3f3;
			border: none;
			padding: 10px;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 18px;
			border-radius: 5px;
			padding-right: 15px;
			padding-left: 15px;
			font-weight: 900;
		}
		.remove-extra-cost {
			color: white;
			background: red;
			border: none;
			padding: 2px;
			padding-right: 2px;
			padding-left: 2px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.cost-description {
			font-size: 18px;
			font-weight: 900;
		}

		.company-logo-wrapper {
			width: 100px;
			margin: 0;
			padding: 0;
			margin-top: 20px;
		}
		p {
			margin: 0px;
		}

		.template-el {
			display: inline-block;
			width: 19%;
			text-align: center;
			margin-bottom: 25px; 
		}
		.instance-price {
			font-size: 35px;
		}

		.template-qty {
			font-size: 16px;
		}

		.signature-btn {
			background-color: #ececec;
			border-color: #ececec;
			color: #333;
			text-shadow: 0 0px 0 #f3f3f3;
			border: none;
			padding: 10px;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 18px;
			border-radius: 5px;
			padding-right: 15px;
			padding-left: 15px;
			font-weight: 900;
		}
		.order-costs-wrapper {
			background: var(--grey-1);
			border-radius: 5px;
			padding: 15px;
		}

	</style>

	<div class="container">

		<div class="company-logo-wrapper">
			<img style="width: 100%;" data-bind="attr: { src : $root.company().logo }">
		</div>

		<h1>Payment</h1>

		<div class="row">
			<p>Order Description</p>
			<input type="text" class="payment-input" style="width: 80%" data-bind="value: $root.paymentsStep.orderDescription">
		</div>

		<br style="clear: both;">

		<div class="products-overview-wrapper">
			
			<div data-bind="foreach: { data: $root.garmentsStep.templates, as: 'template' } ">
				
				<div class="template-el" data-bind="visible: template.instances().length > 0">
					
					<div>
						<div class="template-qty"><span data-bind="text: template.instances().length + ' x '"></span><strong><span data-bind="text: template.name "></span></strong></div>
						<div><p class="instance-price" data-bind="text: '$ ' + template.price"></p></div>
						<div><p><strong>Per Garment</strong></p></div>
					</div>

				</div>


			</div>
		
		</div>

		<br style="clear: both">

		<button class="add-extra-cost-btn" data-bind="click : function() { $root.paymentsStep.addExtraCost(); } "> Add Extra cost</button>

		<br style="clear: both">

		<div class="row" data-bind="if: $root.paymentsStep.extraCosts().length">
			<p>Extra costs:</p>
			<div data-bind="foreach: { data: $root.paymentsStep.extraCosts(), as: 'extraCost'}">
				
				<div class="row" style="margin: 10px 0;">
					<div class="col-md-1"></div>
					
					<div class="col-md-1">
						<button class="remove-extra-cost payment-input" data-bind="click: function() { $root.paymentsStep.removeExtraCost(extraCost) }">X</button>
					</div>

					<div class="col-md-6">
						<input class="extra-cost-input payment-input" placeholder="extra cost description" data-bind="value: extraCost.description">
					</div>

					<div class="col-md-4">
						$ <input class="extra-cost-input payment-input" onClick="this.setSelectionRange(0, this.value.length)" data-bind="value: extraCost.value">
					</div>
				</div>
			</div>



		</div>

		<br style="clear: both">

		<div class="row">
		
			<!-- <div class="col-md-3">
				<input type="text" placeholder="discount code" data-bind="value: $root.paymentsStep.currentDiscountCode, valueUpdate: 'afterkeyup'">
			</div> -->

			<div class="col-md-3">
				<div class="payment-checkbox-background">
					<div class="checkbox-wrapper">	
		            	<input id="mail-customer-incoive" data-bind="checked: $root.paymentsStep.mailCustomerInvoice" data-cacheval="false" type="checkbox" class="payments-checkbox" />
		            	<p style="position: relative;top: 5px;">&nbsp;Mail Customer Invoice</p>
		            </div>
		        </div>
			</div>

		</div>



		<br>
		<br>
		<br>


		<div data-bind="if: $root.paymentsStep.regularCosts().length">

			<div class="order-costs-wrapper">

				<p>Order Costs:</p>

				<!-- regular cost -->
				<div data-bind="foreach: $root.paymentsStep.regularCosts()">
					
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-8">
							<p class="cost-description" data-bind="text: $data.description"></p>
							<span class="filler"></span>
						</div>

						<div class="col-md-3">
							<strong><p class="cost-description" data-bind="text:'$ ' + $data.value "></p></strong>
						</div>
					</div>

				</div>

				<!-- extra cost -->
				<div data-bind="foreach: $root.paymentsStep.extraCosts()">
					
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-8">
							<p class="cost-description" data-bind="text: $data.description()"></p>
							<span class="filler"></span>
						</div>

						<div class="col-md-3">
							<strong><p class="cost-description" data-bind="text:'$ ' + $data.value() "></p></strong>
						</div>
					</div>

				</div>

				<div class="row">
				
					<div class="col-md-offset-6 col-md-6" style="font-size: 15px">

						<div class="row" data-bind="visible:  parseFloat($root.paymentsStep.getDiscountCodeValue()) > 0.0">
							<div class="col-md-6">
								<p>Discount Code:</p>
							</div>
							<div>
								<p data-bind="text: '- $ ' + $root.paymentsStep.getDiscountCodeValue().toFixed(2) "></p>
							</div>
						</div>


						<br style="clear: both">
						<br style="clear: both">
						
						<!-- Total costs + GST -->
						<div class="row">
							<div class="col-md-6">
								<p>Purchase Total (w/ GST):</p>
							</div>
							<div class="col-md-6">
								<p data-bind="text:'$ ' + ( $root.paymentsStep.totalOrderCost() ).toFixed(2) "></p>
							</div>
						</div>


					</div>	

				</div>
			</div>

		</div>

		<br>
		<br>
		<br>

		<h2>Deposit Details</h2>

		<div class="col-md-8">

			<div class="row">

				<div class="col-md-3">
	            	<label for="paymentMethod">Payment method:</label>
	           	</div>

	           	<div class="col-md-3">
	                <select data-role="none" name="paymentMethod" id="paymentMethod" data-bind="options: $root.paymentsStep.paymentMethods, optionsText: 'name', value: $root.paymentsStep.selectedPaymentMethod, optionsCaption: 'Payment method'">
	                </select>
	            </div>	

	            <div class="col-md-3">
	            	<label for="paymentMethod">Deposit Paid:</label>
	           	</div>		

	           	<div class="col-md-3">
	           		<input type="number" class="payment-input" data-bind="value: $root.paymentsStep.depositValue">
	           	</div>	

			</div>

			<br>
			<br>

			<div class="row">
				<div class="col-md-3">
					<p>Comments</p>
				</div>

				<div class="col-md-9">
					<textarea style="width: 100%;height: 140px;border: none;border-radius: 5px;resize: none;" data-bind="value: $root.paymentsStep.depositComments"></textarea>
				</div>
			</div>

		</div>


		<!-- If method == Credit cards or EFTPOS -->
		<div class="col-md-4" data-bind="visible: $root.paymentsStep.selectedPaymentMethod() && 
								(  $root.paymentsStep.selectedPaymentMethod().id == '4' 
								|| $root.paymentsStep.selectedPaymentMethod().id == '5'
								|| $root.paymentsStep.selectedPaymentMethod().id == '3') ">
			
		    <div class="col-md-9">
				<!-- CC image uploader -->
		    	<button data-role="button" class="upload-cc-img-btn" data-bind="click: function() { $root.paymentsStep.chooseCCPicSource(); }">Take CC image Receipt</button>
		    	
		    	<br>
		    	<br>
		    	
		    	<div style="display: inline-block;position: relative;margin-left: 5px;" data-bind="if: $root.paymentsStep.ccImage">
		    		<button class="remove-cc-img-btn" data-bind="click: function() { $root.paymentsStep.removeCCimg() }">X</button>
		    		<img class="payment-cc-img" data-bind="attr: { src: $root.paymentsStep.ccImage }">
		    	</div>

		    </div>



		</div>

        <!-- If method == Bank transfer -->
        <div class="col-md-4" data-bind="visible: $root.paymentsStep.selectedPaymentMethod() && $root.paymentsStep.selectedPaymentMethod().id == '2' ">

        	<div class="col-md-3">
            	<p>Choose Bank</p>
            </div>

        	<div class="col-md-9">
        		<select data-bind="options: $root.paymentsStep.banks, value: $root.paymentsStep.selectedBank, optionsCaption: 'Bank' "></select>
        	</div>

        </div>

		<br style="clear: both;"> 

		<h2>Order Requests</h2>

        <div class="col-md-8">
        	<br style="clear: both;">
        	

        	<div class="col-md-12">
            	<div class="col-md-3">
            		<p>Order city</p>
            	</div>

            	<div class="col-md-9">
					<select data-bind="  options        : $root.paymentsStep.countries,
											value          : $root.paymentsStep.selectedOrderCountry,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Order Country'">
					</select>
					<select data-bind="  options        : $root.paymentsStep.states.filter(state => state.parent_location_id == $root.paymentsStep.selectedOrderCountry()),
											value          : $root.paymentsStep.selectedOrderState,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Order State'">
					</select>
					<select data-bind="  options        : $root.paymentsStep.cities.filter(state => state.parent_location_id == $root.paymentsStep.selectedOrderState()),
											value          : $root.paymentsStep.selectedOrderCity,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Order City'">
					</select>
            	</div>
            </div>

            <div class="col-md-12" style="margin-top: 13px;">
            	<div class="col-md-3">
            		<p>Fitting city</p>
            	</div>

            	<div class="col-md-9">
					
					<select data-bind="  options        : $root.paymentsStep.countries,
											value          : $root.paymentsStep.selectedFittingCountry,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Fitting Country'">
					</select>
					<select data-bind="  options        : $root.paymentsStep.states.filter(state => state.parent_location_id == $root.paymentsStep.selectedFittingCountry()),
											value          : $root.paymentsStep.selectedFittingState,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Fitting State'">
					</select>
					<select data-bind="  options        : $root.paymentsStep.cities.filter(state => state.parent_location_id == $root.paymentsStep.selectedFittingState()),
											value          : $root.paymentsStep.selectedFittingCity,
											optionsValue   : 'locations_id',
											optionsText    : 'location_name',
											optionsCaption : 'Fitting City'">
					</select>
            	</div>
            </div>

        </div>

        <br style="clear: both;">

    	<div data-bind="if: !$root.paymentsStep.canvasBase64()">
    		<button class="signature-btn" data-bind="click: function() { $root.paymentsStep.prepareCanvas(); },
    						   visible: !$root.paymentsStep.signing()"> Sign </button>
    		
    		<div id="canvas-wrapper" style="display: none;">
    			<h2>Finalize</h2>

                <div class="grid_9">
                    <div style="margin: 0px; width: 710px; height:350px; z-index:500">
                        <div id="canvasDiv" style=" height:350px; margin: 0 auto; width: 710px; background:#ececec; border-radius:9px"></div>
                    </div>
                </div>
                <div class="grid_3" style="position: relative;left: 30px;">
                    <div id="saveDiv" style="margin-right: 10px;" class="grid_8">
                        <button class="canvassave signature-btn"  data-bind="click: function() { $root.paymentsStep.saveCanvas() } "style="margin-top:0PX !important;">Save</button>
                    </div>
                    <div id="clearDiv" style="margin-right: 10px;" class="grid_8">
                        <button class="signature-btn" data-bind="click: function() { $root.paymentsStep.clearCanvas(); }">Clear</button>
                    </div>
                    <!-- Code for hidden buttons -->
                    <div id="resignDiv" style="display:none;" class="grid_8">
                        <button class="signature-btn" style="margin-top:0PX !important;">Sign Again?</button>
                    </div>
                    <!-- end Code for hidden buttons --> 
                </div>
    		</div>
    	</div>

    	<div data-bind="if: $root.paymentsStep.canvasBase64()">
    		<h2>Signature Saved !</h2>
    		<div class="col-md-8">
    			<img data-bind="attr: { src : $root.paymentsStep.canvasBase64() }">
    		</div>
    		<div class="col-md-4">
    			<button class="signature-btn" data-bind="click: function() { $root.paymentsStep.prepareCanvas(); }">Sign Again</button>
    		</div>
    	</div>

    	<br style="clear: both"> 


	</div>


			<!--
			//.......................................................
			//.TTTTTTTTTTTe..........................................
			//.TTTTTTTTTTTe..........................................
			//.TTTTTTTTTTTe..........................................
			//....TTTTT...eeeeeee..errrrrrrmmmmmmmmmmmmm...sssssss...
			//....TTTTT..Teeeeeeee.errrrrrrmmmmmmmmmmmmmm.mssssssss..
			//....TTTTT..Teeeeeeeeeerrrrrrrmmmmmmmmmmmmmmmmssssssss..
			//....TTTTT.TTeee.eeeeeerrrrr.rmmmmmmmmm.mmmmmmssssssss..
			//....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
			//....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmm.ssssssss..
			//....TTTTT.TTeee..eeeeerrr...rmmm..mmmm.mmmmmmssssssss..
			//....TTTTT.TTeeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
			//....TTTTT..Teeeeeeeeeerrr...rmmm..mmmm.mmmmmmssssssss..
			//....TTTTT...eeeeeeee.errr...rmmm..mmmm.mmmmm.ssssssss..
			//..............eeee............................sssss....
			//.......................................................	
				
				-->
				<div class="gAttr" data-target-attr="acceptTerms">
		            <div id="acceptTerms" style="width: 100%" class="termsbutton" data-bind="click: function() { $root.paymentsStep.terms.visible(true) }, css: { enabled: $root.paymentsStep.terms.accepted }"> Review and accept our terms and conditions </div>
		        </div>

				<div style="display:none;" class="terms-wrapper" data-bind="visible: $root.paymentsStep.terms.visible">
					
					<div class="terms-inside-wrapper">
						<div class="terms-text-wrapper">		       
			            	<span id="termstext" style="color:#444; font-size:14px; font-family:'body_font'; line-height:21px;">
								<div>
								   <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Terms and Conditions </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">&ldquo;</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Customer&rdquo; </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">means any person who is purchasing items from the Supplier. </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">&ldquo;</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Supplier&rdquo; </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">means </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Germanicos Bespoke Tailors</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">, Australia. </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Germanicos may at any time modify any relevant terms and conditions, policies or notices. You acknowledge that by visiting the website from time to time, you shall become bound to the current version of the relevant terms and conditions (the "current version") and, unless stated in the current version, all previous versions shall be superseded by the current version. You shall be responsible for reviewing the then current version each time you visit the website. </span></p>
								   <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Lead Time &amp; Delivery of Product </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">It is understood that turnaround and dispatch of the orders placed at the Supplier may vary from time to time depending on current order volumes, work schedules, fabric availability or a particular characteristic of the order placed. The Supplier will try its best to comply with the average turnaround of between 4 and 6 weeks. This is an estimated time frame of delivery, the supplier is not liable for any delays. For guaranteed delivery time lines, we have the </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">. </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service - </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Supplier guarantees delivery if a customer opts for this service. The Express Service has an additional fee of $300 AUD. This service will guarantee delivery between 2.5 to 4 weeks. If a customer chooses to pay the express fee, supplier guarantees delivery in the said time frame. We try our best to get the products in time while maintaining the quality, however if for whatever reason we are unable to deliver the product in time, a full refund can be applied upon request. </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">Express Service </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">has a single fitting policy due to time constrain</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">ts from the customer&rsquo;s side. If </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">there is any alteration to be done to the garments, the customer can always bring the garments at a later stage for any alteration. </span></p>
								   <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Payment Terms </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As we have to order fabrics for the orders placed with us, we will take a 50% deposit of the total amount and the balance to be paid by the customer on completion or when he/she picks up the garments and/or before we deliver/ship the garments to the customer. </span></p>
								   <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Modes of Payment </span></p>
								   <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">We accept the following credit cards (Visa, MasterCard &amp; AMEX), EFTPOS and Debit card payments. Customers can also do Bank Transfers (Applicable only for deposits and not for final payments) For all Bank Transfer payments the lead time commences from the time we have clear funds in our account and not from the time of order or when a customer sees us or transfers the money from their account. </span></p>
								</div>
								<div title="Page 2">
								<div>
								   <div>
								      <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Design and Style </span></p>
								   </div>
								</div>
								<div>
								   <div>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">By accepting these terms and conditions on the POS system or otherwise, the customer agrees that he/she is happy with all the design options chosen while placing the order with us. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Once Design &amp; Style options are chosen they cannot be changed after production commences - Approximately 7 days after initial order. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Adjustments </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS,Bold';">100% fit and satisfaction policy </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">After your first appointment with Germanicos, a fitting will be organised once the garment is constructed. During this fitting the tailor will determine with you, whether any adjustments are required. Any adjustments that need to be made are conducted in-house at no cost to the client. We will do as many fittings as needed to get the garments 100% fit. In the rare case that a garment cannot be adjusted, Germanicos will organise for the client to be re-measured and the garment will be re-made. Once again, there is no cost to the client undergoing this process. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Change in Body Measurement </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As all our products are bespoke, we take various body measurements at the time of new order and make the garments accordingly. However, if the customer fluctuates more than 2 inches (from the time he has placed the order to 1st fitting); Germanicos will try its best to accommodate such changes and offer the best fit for the customer. Germanicos cannot be held liable for garments not fitting perfectly if severe body fluctuations occur. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">GST &amp; Taxes </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">The Australian GST tax rate applies to all orders delivered within Australia. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">International orders are exempt from Australian GST (10%); however they may incur taxes and duties applied by customs in the country where the order is delivered. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Any duties and taxes incurred in the country of destination are the responsibility of the customer. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">If you require fur</span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">ther information about your country&rsquo;s taxes and duties you will need to contact </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">your local customs office directly. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">To comply with Australian export regulations, we are required to declare the exact value of all </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">items ordered and to mark them as dutiable &lsquo;merchandise&rsquo;. We are also prohibited by law from marking the order as a &lsquo;gift&rsquo;, even if order is placed with the intention of sending to a gift </span><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">recipient. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Cancellation </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">As all our products are bespoke, we do not refund or replace for Change of Mind. However, if the order is cancelled within 24 hours from the time order placed and before the supplier has ordered fabric / started the process of making the product, a cancellation fee of $ 100 AUD is applicable which will be charged / deducted from the deposit paid by the customer. </span></p>
								   </div>
								</div>
								</div><div title="Page 3">
								<div>
								   <div>
								      <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Terms and Conditions of Gift Voucher Purchase &amp; Use </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">1. Germanicos gift vouchers can be exchanged for goods in all Germanicos studios. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">2. Gift vouchers may not be exchanged for cash. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">3. Gift vouchers are valid for 12 months from date of purchase. </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">4. If goods purchased value is less than the value of the gift voucher, any balance will be left as a credit for you with Germanicos, and will be redeemed against subsequent future orders. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Trade Marks </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">The trade marks, names, logos and service marks (collectively "trademarks") displayed on this website are registered and unregistered trademarks of the Website Owner. Nothing contained on this website should be construed as granting any licence or right to use any trade mark without the prior written permission of the Website Owner. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Trebuchet MS,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Legal Jurisdiction </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">All our customer contracts are governed by courts of Victoria, Australia and shall fall under the exclusive jurisdiction of Victorian Courts in Australia. English is the official language offered for the conclusion of the contract. </span></p>
								      <p><span style="font-size: 12.000000pt; font-family: 'Times New Roman,Bold'; color: rgb(100.000000%,0.000000%,0.000000%);">Disclaimer </span></p>
								      <p><span style="font-size: 10.000000pt; font-family: 'Trebuchet MS';">Germanicos strives to give you accurate content, including product information, policies, pricing and visual displays. Policies, pricing, and item availability are subject to change without prior notice. Prices displayed are subject to change and final approval at the time of order fulfilment. Images are shown for representational purposes only. In the event Germanicos is unable to provide an actual image of a product, they reserve the right to substitute a similar image for the one described in the product information. While Germanicos tries in good faith to make sure that the information displayed is accurate, they are not responsible for typographical errors or technical inaccuracies.&nbsp;</span></p>
								   </div>
								</div>
								</div>
			            	</span> 
				        </div>

				        <br style="clear: both">

				        <div class="container_12" class="terms-btn-wrapper">
				            
				            <div class="col-md-4"><a data-bind="click: function(){ $root.paymentsStep.akldTerm(false); }" class="new-btn icon-cancel-danger new-btn-icon-left ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"><span class="btn-small-letter">Cancel</span><span class="btn-letter"> &amp; Return</span></a></div>
				            <div class="col-md-4"></div>
				            <div class="col-md-4"><a data-bind="click: function(){ $root.paymentsStep.akldTerm(true); }" class="new-btn icon-next-submitanddesign new-btn-icon-right ui-link ui-btn ui-shadow ui-corner-all" data-role="button" role="button"><span class="btn-small-letter">Accept</span><span class="btn-letter"> Terms</span></a></div>
				        
				        </div>


				    </div>

		            <div class="clear"></div>
			        
			    </div>
			    <!-- End terms and conditions -->

			     <div class="row" style="margin: 50px;">
	            	<div data-bind="visible: !$root.paymentsStep.selectedPaymentMethod()" class="row missing_info"><span class="missing_info_sign"></span><span class="missing_info_first"> PAYMENT METHOD ERROR:</span> <span>You must select a payment method.</span> </div>
	            	<div data-bind="visible: !$root.paymentsStep.selectedOrderCity()" class="row missing_info"><span class="missing_info_sign"></span><span class="missing_info_first">ORDER CITY ERROR:</span> <span>You must select an order city.</span> </div>
	            	<div data-bind="visible: !$root.paymentsStep.terms.accepted()" class="row missing_info"><span class="missing_info_sign"></span><span class="missing_info_first">TERMS &amp; CONDITIONS ERROR:</span> <span>You must accept the terms and conditions.</span> </div>
	            </div>
			</div>



</div>