<div class="measurements-selection-ui order-step" data-bind="visible: selectedStep().id == '4'">
    <link rel="stylesheet" href="css/uploadImagesStep.css">
    <style>
    	.order-img {
    		width: 500px;
    	}

        /* Bug in IOS - Cannot use position fixed => keyboard is fucking up
            We need to use jquery function to centralize the div after every click.
        */
        .add-tag-pop-up {
            width: 80%;
            height: 170px;
            background-color: white;
            z-index: 1030;
            padding: 10px;
            border-radius: 5px;
            border: solid;
            border-width: 1px;
        }
        .add-tag-textarea {
            width: 100% !important;
            height: 125px !important;
        }
        .close-tag-pop-up {
            background: red;
            color: white;
            padding: 10px;
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 900;
            border-radius: 5px;
        }

        .image-tag-parent {
            display: inline-block;
            position: relative;
        }
        .numberCircle {
            transform: translate(-50%, -50%);
            border-radius: 100px;
            border: 2px solid #666;
            color: #666;
            text-align: center;
            background-color:red;
            width:30px;
            height:30px;
            position:absolute;
            clear:both;
            opacity: 0.6;
            z-index: 1001;
        }
        .add-tag-btn {
            width: 100%;
            background: rgb(156, 142, 109);
            color: white;
            text-align: center;
            padding: 10px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 5px;
        }
        .remove-tag-btn {
            width: 100%;
        }

        .img-tag-text-list {
            margin-top: 20px;
        }

        .tag-text-span {
            font-weight: 900;
            font-size: 20px;
        }
        .image-definition-h {
            text-transform: capitalize;
            margin-left: 15px;
            font-weight: 900;
        }

        .remove-image {
            background: red;
            color: white;
            padding: 10px;
            right: 62px;
            font-weight: 900;
            position: relative;
            float: right;
            z-index: 1;
        }

        .upload-img-btn {
            background: var(--grey-1);
            color: black;
            font-size: 18px;
            border: none;
            padding: 5px 15px 5px 15px;
            position: relative;
        }
        .payment-hr {
            background: #c8c8c8 none repeat scroll 0 0;
            border: medium none;
            clear: both;
            height: 3px;
            margin: 30px auto;
            width: 90%;
        }
        .delete-tag-btn {
            width: 100%;
            background: var(--grey-2);
            color: white;
            text-align: center;
            padding: 10px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
            font-weight: 900;
        }

        .complete-image.client {
            position: absolute;
            left: 0;
        }

    </style>


    <div class="cust-tab-wrapper" data-bind="foreach: customers">

        <div class="cust-tab" data-bind="click: function() { $root.changeCustomer($data.customer_id) },
                                                        css : { 'selected-customer' : $root.selectedCustomer() == $data },
                                                        visible: $data.is_present">
            <div class="customer-gray-round">
                <span class="customer-counter-span" data-bind="visible: !$data.is_leader, text: '#'+(parseInt($index())+1)"></span>
                    
                <div class="leader-pic-wrapper" data-bind="if: $data.is_leader">
                    <img class="leader-pic-img" data-bind="attr: { src: $root.leaderPic() }">
                    
                </div>
                <div class="customer-locked-wrapper" data-bind="visible:$data.is_locked">
                    <img class="customer-locked-img" src="img/order_process/lock.png">
                </div>
                <img class="complete-image client" data-bind="visible: $root.selectedCustomer().uploadImagesStep.clientComplete($data)" src="img/order_process/checkButom2.png"/>
            </div>
            <span class="customer-name-p" data-bind="text:$data.full_name"></span>
            <div data-bind="if : !$data.is_present">
                <p style="color: red">Not Present!</p>
            </div>
        </div>

    </div>

    <div>

        <h1 style="display: inline-block;">Upload Images</h1>
       	
        <button class="upload-img-btn" style="" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.globalChoosePicSource(); },
                           text: 'Take ' + $root.selectedCustomer().uploadImagesStep.nextMissingPicType() + ' picture' "></button>

        <br><br><br>
        <br><br><br>

        <div data-bind="foreach: { data: $root.selectedCustomer().imageData, as: 'image' } ">
    		
            <div>
                <button class="upload-img-btn" style="left: 34%" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.choosePicSource(image.type); },
            			   text: 'Take ' + image.type + ' picture'"></button>
                <br><br>
            </div>


            <!-- Front/Back/Side Section -->
            <div data-bind="if: image.type != 'additional' ">
                
                <h2 class="image-definition-h" data-bind="text: image.type + ' Image', visible: image.url() "></h2>

                <div class="col-md-7">

                    <div>
                        <span class="remove-image" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.removeImage(image); },
                                                                  visible: image.url() ">X</span>

                        <div class="image-tag-parent">
                            <img class="order-img" data-bind="attr: { src: image.url() },
                                                              click: $root.selectedCustomer().uploadImagesStep.tagImage">
                            

                            
                            <!-- ko foreach: image.tags -->
                            
                                <span class="numberCircle" data-bind="click : function() { $root.selectedCustomer().uploadImagesStep.editTag($data, image) },
                                                                      style : { 'left': ($data.posX * 100 + '%'), 'top': ($data.posY * 100 +'%') }">
                                                                          
                                                                          <span style="z-index:1002;font-weight: 900" data-bind="text: $index()+1"></span>

                                                                      </span>
                            
                            <!-- /ko -->
                            
                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    
                    <ul class="img-tag-text-list" data-bind="foreach: image.tags">

                        <li data-bind="visible: $data.text().trim() != '' ">
                            <span class="tag-text-span" data-bind="text: ($index()+1) + '. ' + $data.text()"></span>
                        </li>

                    </ul>

                </div>

                <br style="clear: both;">
                <hr class="payment-hr">
            </div>


            <!-- Additional images section -->
            <div data-bind="if: $data.type == 'additional' ">
                
                <div data-bind="foreach: { data: $data.images, as: 'image' } ">
                    
                    <h2 data-bind="text: ' Additonal Image: #' + ($index()+1)"></h2>

                    <div class="col-md-7">
                        
                        
                        <div>      
                            <span class="remove-image" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.removeImage(image); },
                                                              visible: image.url() ">X</span>
                            <div class="image-tag-parent">
                                
                                <img class="order-img additional-img" data-bind="attr: { src: image.url() },
                                                                                 click: $root.selectedCustomer().uploadImagesStep.tagImage">

                             

                                   <!-- ko foreach: image.tags -->
                                
                                    <span class="numberCircle" data-bind="click : function() { $root.selectedCustomer().uploadImagesStep.editTag($data, image) },
                                                                          style : { 'left': ($data.posX * 100 + '%'), 'top': ($data.posY * 100 +'%') }">
                                                                              
                                                                              <span style="z-index:1002;font-weight: 900" data-bind="text: $index()+1"></span>

                                                                          </span>
                                
                                <!-- /ko -->


                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                    
                        <ul class="img-tag-text-list" data-bind="foreach: image.tags">

                            <li data-bind="visible: $data.text().trim() != '' ">
                                <span class="tag-text-span" data-bind="text: ($index()+1) + '. ' + $data.text()"></span>
                            </li>

                        </ul>

                    </div>

                    <br style="clear: both;">
                    <br style="clear: both;">

                </div>


            </div>


        </div> <!-- End for each image -->

    </div>

    <div class="add-tag-pop-up" data-bind="visible: $root.selectedCustomer().uploadImagesStep.currentAddingTag" style="display: none">
        
        <span class="close-tag-pop-up" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.closeTagPopUp() }">X</span>

        <div class="col-md-9">
            <textarea class="add-tag-textarea"  data-bind="value: $root.selectedCustomer().uploadImagesStep.currentAddingTag().text">
                
            </textarea>
        </div>

        <div class="col-md-2">
            <div class="add-tag-btn" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.addTag(); } ">SAVE</div><br>
            <button class="delete-tag-btn" data-bind="click: function() { $root.selectedCustomer().uploadImagesStep.deleteTag(); } ">Delete Tag</button>
        </div>


    </div>

    <script>
        


        


    </script>



</div>















