<div data-role="page" id="viewMeasurements" class="bgBody">
<div data-bind="template: { name: 'headerTemplate'}"></div>
<div data-role="content"  data-theme="c" style="background:none !important; border:none;">
  <div class="content-wrapper">
    <div class="container_12">
      <div class="grid_12">
        <div class="grid_5">
          
			<div class="bigladeling evenbigger tenmargbot grid_12" data-bind="with: customersVMmirror">
          		<span class="orderim"></span> 
	            <span class="firstpart">Fitting 1</span> 
                <span class="bigpart" data-bind="with: selected_item"> 
                	<span data-bind="text: customer_first_name"></span> 
                    <span>&nbsp;</span> 
                    <span data-bind="text: customer_last_name"></span> 
				</span> 
	            <div data-bind="with: selected_ordergarment">
	    	    	<span class="thirdpart"><span data-bind="text: garment_name"></span><span>&nbsp; / &nbsp;</span> <span>Fabric:&nbsp;</span><span data-bind="text: fabrics[0].fabric_id"></span> </span> 
				</div>
			</div>     
          
        </div>
        <ul class="grid_7 fittingmenu">
          <li class="fremake" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#orderRemake');}"><span>Remake</span></a></li>
          <li class="fhistory" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#fittingHistory');}"><span>Fitting History</span></a></li>
          <li class="fpanel" style="display:none"><a href="#" data-bind="click: function(){posChangePage('#viewPanel');}"><span>View Panel</span></a></li>
          <li class="fmeasurement active"><a href="#" data-bind="click: function(){posChangePage('#viewMeasurements');}"><span>View Measurements</span></a></li>
          <li class="ftailor"><a href="#" data-bind="click: function(){posChangePage('#assignTailor');}"><span>Assign Tailor</span></a></li>
          <li class="fvideos"><a href="#" data-bind="click: function(){posChangePage('#fittingVideo');}"><span>Upload Video</span></a></li>
          <li class="fmedia"><a href="#" data-bind="click: function(){posChangePage('#fittingImages');}"><span>Upload Images</span></a></li>
        </ul>
 
        <div class="fieldsMeasurements fortymargintop grid_12" id="measurementsDiv" data-bind="with: measurementsVM ">

								<div>
                                	<div  class="grid_9"><!-- data-bind="css: { 'hidden': $parent.customersVMmirror.selected_ordergarment.garment_name!=='Jacket' && $parent.customersVMmirror.selected_ordergarment.garment_name!=='Suit'}">-->
                                		<div class="grid_11 measurementtitle">
                                        <h3>Jacket's Measurements</h3>
                                        <h6>Day of Measurement:<span>6 November 2014, 16:52:18</span></h6>
                                  	</div>
                                   	<div style="clear:both;"></div>
                                    <div class="grid_12 allmeasures">
                                    	<ul class="grid_12 fitmeasures">
                                        	<li><span>Chest</span><span data-bind="text: jacketChest"></span></li>
                                        	<li><span>Stomach</span><span data-bind="text: jacketStomach"></span></li>
                                        	<li><span>Full Shoulder</span><span data-bind="text: jacketfullShoulder"></span></li>
                                        	<li><span>Left Sleeve</span><span data-bind="text: jacketsleeveL"></span></li>
                                        	<li><span>Right Sleeve</span><span data-bind="text: jacketsleeveR"></span></li>
                                        	<li><span>Back</span><span data-bind="text: jacketBack"></span></li>
                                        	<li><span>Front</span><span data-bind="text: jacketFront"></span></li>
                                        	<li><span>Neck</span><span data-bind="text: jacketNeck"></span></li>
                                        	<li><span>Bicep</span><span data-bind="text: jacketBicep"></span></li>
                                        	<li><span>Wrist</span><span data-bind="text: jacketWrist"></span></li>
                                        	<li><span>Forearm</span><span data-bind="text: jacketforeArms"></span></li>
                                        	<li><span>Hips</span><span data-bind="text: jacketHips"></span></li>
                                        	<li><span>Jacket Length</span><span data-bind="text: jacketLength"></span></li>
                                        	<li><span>Lapel Length</span><span data-bind="text: jacketLapel"></span></li>
                                        	<li><span>Zero Point</span><span data-bind="text: jacketZeropoint"></span></li>
                                        	<li><span>Front to Zero</span><span data-bind="text: jacketZeropointfront"></span></li>
                                        	<li><span>Back to Zero</span><span data-bind="text: jacketZeropointback"></span></li>
                                        </ul>
                                  	</div>
								</div>
                               	<div  class="grid_3 measurementnotestitle"> <!--data-bind="css: { 'hidden': name!=='jacket' && name!=='suit'}">	-->
                                		<h3>Jacket Notes</h3>
                                  	<textarea value="" data-bind="value: jacketComments" name="jacketComments" ></textarea>
                              	</div>
                          	</div> 
	                      
                        	
						</div>
      </div>
    </div>
    <div class="bigladeling left_position stepbigbuts">
      <a href="#" data-bind="click: function(){posChangePage('#orderInfo');}">
          <span class="prevstep"></span>
          <span class="firstpart">Back to</span>
          <span class="bigpart">Order</span>
      </a>
    </div>
  </div>
  <!-- /content --> 
</div>
</div>
