#image-3d {
    display: block;
    position: fixed;
    /* position: relative; */
    float: right;
    /*! border: solid 1px; */
    padding: 110px 85px;
    right: 4%;
    top: 200px;
    /*! background: #ececec none repeat scroll 0 0; */
    height: 450px;
    text-align: center;
    width: 310px;
}

#image-3d .image-wrapper-3d img {
    /*height: inherit !important;*/
    left: 17%;
    top: 0%;
    position: absolute;
}

div.change-side {
    position: relative;
    display: flex;
    align-items: baseline;
    float: right;
    top: -116px;
    right: -79px;
}
div.change-side span {
    border: solid 1px;
    padding: 4px;
    margin: 0 auto;
}
div.change-side span.selected {
    background-color: var(--selected);
    color: white;
}

.change-side button{

    background: transparent;
    border: none;
}

.change-side button img{

	width: 44px;
	height: inherit !important;
	position: relative !important;
}

/* CSS for the full-screen 3D : */
.rotated-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.full-screen-3d-wrapper {
    position: fixed;
    width: 105%;
    height: 105%;
    background: #dfdfdf !important;
    z-index: 999999;
}


.full-3d-wrapper #image-3d .image-wrapper-3d img {
    width: unset !important;
    height: 130% !important; /* 140% => looks better in the ipad */
    float: none !important;
    border: none !important;
    background: none !important;
    padding: none !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
.full-3d-wrapper #image-3d {
    height: 100% !important;
    width: 100% !important;
    float: none !important;
    border: none !important;
    background: unset !important;
    padding: none !important;
    top: 0 !important;
    right: 0 !important;
}

.full-screen-3d-wrapper .full-screen-buttons-wrapper {
    display: flex;
    top: 0;
    position: absolute;
    z-index: inherit;
    justify-content: space-around;
    flex-direction: column;
}

.full-screen-3d-wrapper .full-screen-buttons-wrapper button{
    margin: 30% 9px;
    /*! --size: 41px; */
    /*! width: var(--size); */
    /*! height: var(--size); */
}

.full-3d-wrapper div.change-side {

    display: none;
}

.close-full-screen-wrapper {
    background: red;
    color: white;
    border: none;
    font-size: 29px;
    /*! top: 15px; */
    /*! right: 20px; */
    z-index: 999999;
    position: relative;
}
.contrast-background {
    background: #2b2b2b !important;
}
.contrast-full-screen-btn {
    font-size: 24px;
    border: 0.5px solid;
    border-radius: 5px;
    background:white;
    position: relative;
    /*! right: 45px; */
    z-index: 999999;
}
.rotate-3d-btn {
    font-size: 24px;
    border: 0.5px solid;
    border-radius: 5px;
    background:white;
    position: relative;
    /*! right: 70px; */
    z-index: 999999;
}
@media(hover: hover) and (pointer: fine) {
    .contrast-full-screen-btn:hover , .rotate-3d-btn:hover {
        background-color: #535553;
        color: white;
    }
}

.open-image-full-screen {
    border: none;
}
/*End css for the full screen 3D*/