@charset "utf-8";
@font-face {
	font-family: 'body_font';
	src: url('font/opensans-regular-webfont.eot');
	src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('font/opensans-regular-webfont.woff') format('woff'),  url('font/opensans-regular-webfont.ttf') format('truetype'),  url('font/opensans-regular-webfont.svg#body_fontRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alex';
	src: url('font/alex.eot');
	src: url('font/alex.eot?#iefix') format('embedded-opentype'),  url('font/alex.woff') format('woff'),  url('font/alex.ttf') format('truetype'),  url('font/alex.svg#body_fontRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Top Menu BIG STEPS */

#stepstopmenu span {
	display: block !important;
	float: left;
	font-size: 15px;
}
.orderssteps li.active {
	background: url("http://shirt-tailor.net/thepos/appimg/template/wizard-nav.png") no-repeat scroll right -200px rgba(0, 0, 0, 0);
	z-index: 10000;
}
.orderssteps li {
	float: left;
	position: relative;
	margin: 0 10px 0 -17px;
	display: inline;
	background: url("http://shirt-tailor.net/thepos/appimg/template/wizard-nav.png") no-repeat scroll right -80px rgba(0, 0, 0, 0);
}
.variantSelector.suit div, .variantSelector.shirt div, .variantSelector.pant div, .variantSelector.jacket div, .variantSelector.vest div {
	float: left;
	font-size: 23px;
	font-weight: bold;
	margin: -7px 2px 0 17px;
}
.grid_2.stepsmenud a, .grid_3.stepsmenud a, .grid_4.stepsmenud a {
	background: none repeat scroll 0 0 #e2b05c;
	border: medium none !important;
	border-radius: 2px;
	color: #202a3e !important;
	display: block;
	float: right;
	font-family: arial;
	font-size: 13px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
.grid_2.suffix_8.stepsmenu a {
	background: rgb(215,182,120); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(215,182,120,1) 31%, rgba(215,182,120,1) 75%, rgba(160,111,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(31%, rgba(215,182,120,1)), color-stop(75%, rgba(215,182,120,1)), color-stop(100%, rgba(160,111,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(215,182,120,1) 31%, rgba(215,182,120,1) 75%, rgba(160,111,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(215,182,120,1) 31%, rgba(215,182,120,1) 75%, rgba(160,111,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(215,182,120,1) 31%, rgba(215,182,120,1) 75%, rgba(160,111,38,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(215,182,120,1) 31%, rgba(215,182,120,1) 75%, rgba(160,111,38,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7b678', endColorstr='#a06f26', GradientType=1 ); /* IE6-9 */
	border: medium none !important;
	color: #202C4A !important;
	display: block;
	float: left;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: normal !important;
	line-height: 40px;
	padding: 0 27px 0 8px;
	text-decoration: none;
	text-shadow: none;
	border-radius: 0px 10px 10px 0px;
}
.variantSelector .grid_2.ui-link {
	background: rgb(215,182,120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,182,120,1) 1%, rgba(160,111,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(215,182,120,1)), color-stop(100%, rgba(160,111,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,182,120,1) 1%, rgba(160,111,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,182,120,1) 1%, rgba(160,111,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,182,120,1) 1%, rgba(160,111,38,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,182,120,1) 1%, rgba(160,111,38,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7b678', endColorstr='#a06f26', GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	color: #202C4A;
	float: left;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 0 40px;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: none;
	width: auto;
}
/* End of Top Menu BIG STEPS and navigations */

/* Top Menu of Core pages */
ul.topmenu {
	list-style: none;
	margin: 13px 13px 0px 0px;
	padding: 0px;
}
.topmenu li {
	float: right;
}
.grid_5.prefix_7.topmenu li:first-child {
	margin-right: 10px;
}
.topmenu li a {
	display: block;
	margin: 0px 8px;
	text-indent: -99999px;
	width: 33px;
	height: 33px;
}
.mainli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/home.png) left top no-repeat;
}
.newcustli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/customers.png) left top no-repeat;
}
.newordli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/new_order.png) left top no-repeat;
}
.calenli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/calendar.png) left top no-repeat;
}
.mesagli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/messages.png) left top no-repeat;
}
.statsli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/stats.png) left top no-repeat;
}
.settingsli {
	background: url(http://shirt-tailor.net/thepos/appimg/template/topmenu/settings.png) left top no-repeat;
}
/* END Top Menu of Core pages */
/* Basic Structure requirements */
.mainpagesheader {
	height: 60px;
	border: none;
}
.uphinttitle {
    background: rgba(134, 134, 134, 0.4) none repeat scroll 0 0;
    clear: both;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.022em;
    line-height: 25px;
    padding: 15px 20px;
	margin:10px 0px;
}
#bodyshape .uphinttitle {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	display: block;
	float: left;
	font-size: 21px;
	height: 38px;
	margin: 40px 0 10px;
	padding: 15px 10px 4px 20px;
	width: 100%;
}
#bodyshape .uphinttitles {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	display: block;
	float: left;
	font-size: 21px;
	height: 38px;
	margin: 0px 0px 10px;
	padding: 15px 10px 4px 20px;
	width: 100%;
}
div.dwseinfos {
	font-family: 'Open Sans';
	margin: 1%;
	padding: 0;
	text-shadow: 0 0 2px #444444;
	width: 45% !important;
}
.dwsepr {
	color: rgba(255, 255, 255, 0.99);
	display: inline-block;
	font-size: 18px;
	text-shadow: -1px 0 2px #1A1918;
	width: 160px;
	font-weight: bold;
}
.dwsemet {
	color: #FEFEFE;
	display: inline-block;
	font-size: 17px;
	text-shadow: -1px 0 2px #1A1918;
}
.dwseinfos li {
	border-bottom: 1px dashed rgba(183, 144, 64, 0.70);
	margin: 3px 7px 4px;
}
/* Review Page */
div.garmentsdetails {
	font-family: 'Open Sans';
	padding: 0px;
	margin: 5px;
	width: 45%;
}
.grid_6.garmentsdetails > h1 {
	font-size: 30px;
	margin: 5px;
}
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none !important;
}

.mycheck {
	color: #FAFAFA;
	font-family: 'Open Sans';
	text-shadow: 1px 1px 1px #444444;
}
.mychecknews {
	border-radius: 3px 3px 3px 3px;
	text-align: center;
	margin: 5px !important;
	padding: 7px !important;
	background: rgba(255,255,255,0.1);
}
.ioss {
}
.mychecknewsa {
	margin: 5px !important;
	padding: 7px !important;
}
.mycheck.enabled {
	background: url("http://shirt-tailor.net/thepos/appimg/template/pickers/acheck.png") no-repeat scroll right rgba(255,255,255,0.1);
}
.mychecknews.enabled {
	background: #cfaf77; /* Old browsers */
	background: -moz-linear-gradient(top, #cfaf77 1%, #916e33 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #cfaf77), color-stop(100%, #916e33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfaf77 1%, #916e33 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfaf77 1%, #916e33 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cfaf77 1%, #916e33 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cfaf77 1%, #916e33 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfaf77', endColorstr='#916e33', GradientType=0 ); /* IE6-9 */
}
.mycheck.mychecks {
	background-image: none;
	font-size: 11px;
	line-height: 12px;
	max-height: 22px;
	padding: 4px 0 6px 7px;
}
.mycheck.mycheckis {
	background-image: none;
	font-size: 11px;
	line-height: 12px;
	max-height: 14px;
	padding: 8px 0 6px 7px;
}
/* CSS Document */

.ui-icon-add-order {
	background-position: -790px 50%;
}
.ui-icon-view-customers {
	background-position: -824px 50%;
}
.apanwsteps {
	border-image: none;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
}
.apanwsteps.container_12.ui-footer.ui-bar-a.ui-footer-fixed.slideup {
	border-bottom: medium none;
	border-top: medium none;
}
.panwapola {
	background: none !important;
	border: none;
	padding: 0px !important;
}
li.picksteps {
	border-radius: 40px 0px 0px 40px;
	padding: 0px 10px 0px 0px;
	display: block;
	min-width: 60px;
	max-width: 80px;
	height: 50px;
	text-indent: -99999px;
	margin: 0px 0px 15px 15px;
	background: url(http://shirt-tailor.net/thepos/appimg/template/pickers/vest_2.png) left top no-repeat #c1c1c1;
	cursor: pointer;
	float: right;
}
.picksteps.selected {
	background: url(http://shirt-tailor.net/thepos/appimg/template/pickers/vest_1.png) left top no-repeat #91d8f6;
}
.garmentPreview {
    background: #ececec none repeat scroll 0 0;
    float: left;
    height: 450px;
    position: relative;
    text-align: center;
    width: 310px;
}
.vestpreview.garmentPreview img {
	left: 22px;
}
.garmentPreview.shirtpreview img {
	left: 4px;
	top: 19px;
}
.garmentPreview.jacketpreview img {
	left: 10px;
	top: 3px;
}
.garmentPreview img.dontmove {
	left: 1px;
	top: 1px;
}
.white_content h3 {
	margin: 0 0 -4px;
	padding: 0 0 0 10px;
}
.garmentPreview img {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 420px !important;
}
.garmentPreviewAtSelect {
	height: 310px;
	position: relative;
	text-align: center;
	width: 100%;
}
.garmentPreviewAtSelect img {
	left: 0;
	padding: 0 0 0 5px;
	position: absolute;
	top: 0;
	width: 190px;
}
.fabric_on_grid {
	background: #868686;
	border-top: 1px solid #333;
	bottom: 0;
	color: #333;
	float: left;
	font-size: 13px;
	padding: 5px 0 4px 10px;
	position: absolute;
	text-shadow: none;
	width: 300px;
	z-index: 1020;
}
.mikrio.mycheck.mycheckis {
	min-height: 25px;
	padding: 12px 0 10px;
	text-align: center;
}
.container_12.selectives {
	margin: 20px 0 0;
}
.imageload .grid_4 img {
	float: left;
	height: 340px;
	margin: 30px 30px 0;
	width: 190px;
}
.imageload input {
	background-attachment: scroll;
	background-clip: border-box;
	background-image: url("http://shirt-tailor.net/thepos/appimg/template/topmenu/add_image.png");
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	float: left;
	height: 340px;
	margin: 30px 30px 0;
	text-indent: -99999px;
	width: 190px;
}
/* Search Customers Page */
.listcustnew li {
    background: rgba(221, 221, 221, 0.7) none repeat scroll 0 0;
    border-radius: 0.3em;
    color: #424242;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 4px;
    position: relative;
    text-shadow: none;
    white-space: normal;
}
.grid_list:nth-of-type(3n) {
    margin-right: 0 !important;
}
.grid_list {
    float: left;
    height: 120px !important;
    margin-bottom: 1% !important;
}
.formytitles div > span {
    display: inline-flex;
    font-family: "Open Sans";
    font-size: 12px;
    padding: 0 0 1px 5px;
    text-shadow: none;
}
.listcustnew.orderlist div > span {
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
    font-size: 14px;
    padding: 10px 0 10px 5px;
}
.view-items-btn {
    background: #afca04 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
    padding: 5px 10px !important;
    text-decoration: none;
}
.view-items-btn a {
    font-weight: normal !important;
    text-decoration: none;
}
.newlisttitles {
    background: #dcb469 none repeat scroll 0 0;
    border-radius: 2px;
    color: #3a3a39;
    margin-bottom: 4px !important;
}
.newlisttitles span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    padding: 9px 0 7px 5px;
    text-transform: uppercase;
}
.customer-info-link {
    background: #009ee3 none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    font-family: cursive;
    font-size: 20px;
    margin: 5px -10px 0 10px;
    padding: 0 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.item-info-link {
    background: #3a3a39 none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    font-weight: normal !important;
    margin: 7px 0 0 15px;
    padding: 4px 15px;
    text-decoration: none;
}
.urgent-item-flag {
    background: rgba(0, 0, 0, 0) url("http://shirt-tailor.net/thepos/appimg/shipping/urgent.png") repeat scroll -21px -1px;
    height: 43px !important;
    text-indent: -99999px;
    width: 28px !important;
}
.listcustnew li.urgent-item {
    background: red none repeat scroll 0 0;
    color: #fff;
}
li.urgent-item .item-info-link ,li.urgent-item .item-info-link:hover{
    background: #ffed00 none repeat scroll 0 0 !important;
    color: #3a3a39;
    font-weight: bold !important;
}
.olesoilistes .grid_12 div > span  {
    display: inline-block;
    padding: 10px 0 10px 10px;
}
.capitalme { text-transform:capitalize;}


.paymentin input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    box-shadow: none;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0.023em;
    padding: 10px 0 10px 10px;
    text-shadow: none;
}
.paymentin label, .paymentin .ui-controlgroup-label {
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.023em;
    margin-top: 8px !important;
    text-shadow: none;
}
.compniess {margin: 0 0 0 22%; padding: 0 !important;  width: 78% !important;}
.compniess .ui-checkbox .ui-btn-text { color:#444 !important; }
/* END Search Customers Page */

.listcustsee li {
	text-shadow: 1px 1px 0px #cecece;
	background-color: #D2AE6D;
	font-weight: normal;
	margin: 3px 0px;
	display: block;
	border-radius: 15px 15px 15px 15px;
	color: #444;
	white-space: normal;
	position: relative;
	font-size: 90%;
}
.apostasi, .itemstoupdate .ui-controlgroup-label {
	color: #d2ae6d !important;
	display: block !important;
	float: left !important;
	font-size: 16px !important;
	font-family: 'Open Sans';
	padding-right: 10px !important;
	padding-top: 3px !important;
	text-shadow: 1px 1px 2px #444444 !important;
	width: 39% !important;
	margin: 0.99em 0px 0px 0px !important;
	text-align: right;
}
.ui-controlgroup-label {
	margin-top: 0px !important;
}
.itemstoupdate > .ui-checkbox {
	float: left;
	margin-left: 40%;
	width: 50%;
}
.itemstoupdate > div.ui-select {
	float: left;
	width: 50%;
}
.smalakis {
	font-size: 11px;
}
.listcustnew input {
    border: medium none;
    border-radius: 2px;
    box-shadow: none;
    height: 44px !important;
    letter-spacing: 0.013em;
    padding-left: 15px !important;
    text-shadow: none !important;
    text-transform: uppercase;
    width: 100% !important;
}
.listcustnew .ui-btn-text {
	display: block;
	font-size: 21px !important;
	padding: 0px;
}
.measurementul li {
	overflow: hidden;
	position: relative;
	display: block;
	max-height: 90px;
	margin: 5px 5px 0px 5px;
	width: 65px;
}
.bodyshapelis h1 {
	color: #fefefe !important;
	display: block !important;
	float: left !important;
	font-size: 28px !important;
	margin: 50px 0 10px !important;
	text-shadow: 1px 1px 0 #333333 !important;
	border-top: 1px solid #D2AE6D;
	padding-top: 3px;
}
#orderItemUpdateCustomer .ui-controlgroup-controls, #orderItemAddCustomer .ui-controlgroup-controls {
	margin: 7px 0 0;
}
.bodyshapelis .grid_3 {
	margin-right: 10px;
	max-width: 95px;
	text-align: center;
}
.grid_11.bodyshapelis {
	margin-left: 4%;
}

.itemstoupdate .ui-input-text.ui-body-c.ui-corner-all.ui-shadow-inset {
	text-transform:capitalize;
	float: left;
	width: 50%;
	color: #333 !important;
	text-shadow: none;
	height: 42px;
	background: #fff;
	border: none;
	border-radius:2px;
	font-family:"Open Sans";
	letter-spacing:0.023em;
	font-size:16px;
}

.centerme { text-align:center}

.panwapola .container_16 .grid_6 {
	width: 26%;
}
div.pickme {
	padding-top: 45px;
	color: #FAFAFA;
	padding-bottom: 40px;
	text-shadow: 1px 1px 1px #444444;
}

.inpickme .grid_12 {
	width: 98%;
	padding: 0px 5px;
}


.henapick {
	border-top: 1px solid #6C6C6B;
	border-bottom: 1px solid #6C6C6B;
	padding: 5px 0px;
}
.inpickme .grid_33 > div, .inpickme .grid_333 > div {
	font-size: 0.67em;
	font-weight: normal;
}
.inpickme .grid_33 img {
	width: 100% !important;
	border-radius: 10px 10px 0px 0px;
}
.inpickme .grid_333 img, .inpickme .grid_tic img, .inpickme .grid_3333 img {
	width: 100% !important;
	border-radius: 6px 6px 0px 0px;
}
.inpickme .grid_44 img {
	width: 190px;
	border-radius: 7px 7px 0px 0px;
}
.inpickme .grid_55 img {
	width: 270px;
	border-radius: 7px 7px 0px 0px;
}
.inpickme .grid_111 img {
	width: 40px !important;
}
.inpickme .grid_110 img {
	width: 40px !important;
}
.inpickme .grid_114 img, .inpickme .grid_119 img, .inpickme .grid_121 img, .inpickme .grid_116 img {
	width: 100% !important;
}
.inpickme .grid_113 img {
	width: 21px !important;
}
.inpickme .grid_110, .inpickme .grid_121 {
	font-size: 11px;
	text-align: center;
}
.giros > .ui-input-text.ui-slider {
	margin: 10px !important;
}
.analispan {
	color: #FEFEFE;
	text-shadow: 1px 0 2px #444444;
}
.completedgarment {
	background: none repeat scroll 0 0 rgba(31, 110, 23, 0.2) !important;
	border: 1px solid rgba(42, 150, 31, 1) !important;
}

.textcenter {
	text-align: center;
}
.giros > .ui-input-text.ui-body-a.ui-corner-all.ui-shadow-inset.ui-slider-input {
	margin: 0 3px 10px 10px;
}
div.megalwse {
	display: block;
	width: 100%;
}
.giros {
	border: 1px solid #fefefe;
	background: rgba(255,255,255,0.2);
	margin-left: 10px !important;
	margin-top: 10px !important;
	border-radius: 4px 4px 4px 4px;
}
.giros > .grid_16.megalwse {
	padding: 4px 0;
}
.previewb {
	float: left;
}
.megalwse > img {
	height: 25px !important;
	margin-right: 15px;
	float: left;
}
.kenaki {
	margin: 9px 0px 8px 0px !important;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}
.garmentPreview .specialy, .garmentPreview .thisname, .garmentPreview .thirdname {
	color: #e7e7e7;
	font-family: cursive;
	font-size: 0.58em;
	left: 111px;
	line-height: 12px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 226px;
	width: 150px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg); /* IE 9 */
	-webkit-transform: rotate(-12deg); /* Safari and Chrome */
	;
}
.garmentPreview .specialy {
	top: 212px;
}
.garmentPreview .thirdname {
	top: 239px !important;
}
.garmentPreview .chestname {
	color: #444444;
	font-family: cursive;
	font-size: 0.45em;
	left: 147px;
	position: absolute;
	text-shadow: none;
	top: 166px;
	transform: rotate(6deg);
	-ms-transform: rotate(6deg); /* IE 9 */
	-webkit-transform: rotate(6deg); /* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .cuffname {
	color: #444444;
	font-family: cursive;
	font-size: 0.51em;
	left: 177px;
	position: absolute;
	text-shadow: none;
	top: 287px;
	transform: rotate(61deg);
	-ms-transform: rotate(61deg); /* IE 9 */
	-webkit-transform: rotate(61deg); /* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .cuffnameleft {
	color: #444444;
	font-family: cursive;
	font-size: 0.46em;
	left: 17px;
	position: absolute;
	text-shadow: none;
	top: 321px;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .cuffnameleftshort {
	color: #444444;
	font-family: cursive;
	font-size: 0.51em;
	left: 264px;
	position: absolute;
	text-shadow: none;
	top: 185px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg); /* IE 9 */
	-webkit-transform: rotate(-12deg); /* Safari and Chrome */
	;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .waistname {
	color: #444444;
	font-family: cursive;
	font-size: 0.81em;
	left: 177px;
	position: absolute;
	text-shadow: none;
	top: 390px;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .collarname {
	font-family: cursive;
	font-size: 0.51em;
	position: absolute;
	right: 162px;
	top: 36px;
	transform: rotate(1deg);
	-ms-transform: rotate(1deg); /* IE 9 */
	-webkit-transform: rotate(1deg); /* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreview .collarnamein {
	font-family: cursive;
	font-size: 0.47em;
	position: absolute;
	right: 156px;
	top: 31px;
	transform: rotate(1deg);
	-ms-transform: rotate(1deg); /* IE 9 */
	-webkit-transform: rotate(1deg); /* Safari and Chrome */
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.garmentPreviewAtSelect .specialy {
	color: #e7e7e7;
	font-family: cursive;
	font-size: 0.31em;
	left: 68px;
	min-width: 85px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 133px;
	transform: rotate(-8deg);
	-ms-transform: rotate(-8deg); /* IE 9 */
	-webkit-transform: rotate(-8deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .thisname {
	color: #e7e7e7;
	font-family: cursive;
	font-size: 0.31em;
	left: 70px;
	min-width: 85px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 140px;
	transform: rotate(-8deg);
	-ms-transform: rotate(-8deg); /* IE 9 */
	-webkit-transform: rotate(-8deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .thirdname {
	color: #e7e7e7;
	font-family: cursive;
	font-size: 0.31em;
	left: 70px;
	min-width: 85px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 147px;
	transform: rotate(-8deg);
	-ms-transform: rotate(-8deg); /* IE 9 */
	-webkit-transform: rotate(-8deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .chestname {
	color: #444444;
	font-family: cursive;
	font-size: 0.347em;
	left: 130px;
	position: absolute;
	text-shadow: none;
	top: 128px;
}
.garmentPreviewAtSelect .cuffname {
	color: #444444;
	font-family: cursive;
	font-size: 0.347em;
	left: 146px;
	position: absolute;
	text-shadow: none;
	top: 224px;
	transform: rotate(68deg);
	-ms-transform: rotate(68deg); /* IE 9 */
	-webkit-transform: rotate(68deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .cuffnameleft {
	color: #444444;
	font-family: cursive;
	font-size: 0.41em;
	left: 15px;
	position: absolute;
	text-shadow: none;
	top: 248px;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .waistname {
	color: #444444;
	font-family: cursive;
	font-size: 0.55em;
	left: 120px;
	position: absolute;
	text-shadow: none;
	top: 265px;
}
.garmentPreviewAtSelect .collarname {
	font-family: cursive;
	font-size: 8.17px;
	position: absolute;
	right: 133px;
	top: 15px;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari and Chrome */
}
.garmentPreviewAtSelect .collarnamein {
	font-family: cursive;
	font-size: 0.44em;
	left: 116px;
	position: absolute;
	top: 9px;
}
.garmentPreviewAtSelect .cuffnameleftshort {
	font-family: cursive;
	font-size: 0.41em;
	left: 217px;
	position: absolute;
	top: 136px;
}
.grid_16.anoikse {
	background-color: rgba(255, 255, 255, 0.12);
	border-bottom: 1px solid #444444;
	border-top: 1px solid #444444;
	margin: 13px 0;
	padding: 4px 0;
}
.megalwse > span {
	float: left;
	margin: 0px;
	padding: 5px 13px;
}
.inpickme .grid_33 {
	border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 rgba(137, 137, 137, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	margin: 5px 5px 9px;
	width: 145px !important;
	text-align: center;
}
.inpickme .grid_333 {
	border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 rgba(137, 137, 137, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	margin: 5px 5px 9px;
	width: 110px !important;
	text-align: center;
}
.inpickme .grid_tic {
	border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	margin: 5px 5px 9px;
	width: 102px !important;
	text-align: center;
}
.inpickme .grid_3333 {
	font-size: 11px;
	border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 rgba(137, 137, 137, 0.8);
	float: left;
	margin: 5px 5px 9px;
	width: 100px !important;
	text-align: center;
}
.inpickme .grid_44 {
	border: medium none;
	border-radius: 7px 7px 0px 0px;
	float: left;
	margin: 5px 5px 80px;
	position: relative;
	text-align: center;
	width: 190px !important;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
.inpickme .grid_55 {
	border: medium none;
	border-radius: 7px 7px 0px 0px;
	float: left;
	margin: 5px 5px 50px;
	position: relative;
	text-align: center;
	width: 270px !important;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
.inpickme .grid_111 {
	border: 1px solid transparent;
	float: left;
	margin: 5px;
	padding: 4px 5px;
	width: 40px !important;
	text-align: center;
}
.inpickme .grid_119 {
	height: 28px;
	border: 1px solid transparent;
	float: left;
	margin: 0px 2px 0px 0px;
	padding: 4px 5px;
	width: 26px !important;
	text-align: center;
}
.inpickme .grid_110 {
	border: 1px solid transparent;
	float: left;
	margin: 3px;
	padding: 2px 4px;
	width: 40px !important;
	text-align: center;
}
.inpickme .grid_121 {
	border: 1px solid transparent;
	float: left;
	margin: 1px;
	padding: 2px 4px;
	width: 30px !important;
	text-align: center;
}
.inpickme .grid_113 {
	height: 33px;
	border: 1px solid transparent;
	float: left;
	margin: 0px 3px 0px 0px;
	padding: 4px 5px;
	width: 21px !important;
	text-align: center;
}
.inpickme .grid_116 {
	border: 1px solid transparent;
	float: left;
	margin: 0px 3px 0px 0px;
	padding: 4px 5px;
	width: 17px !important;
	text-align: center;
}
.inpickme .grid_114 {
	border: 1px solid transparent;
	float: left;
	margin: 5px;
	padding: 3px 7px;
	width: 45px !important;
	text-align: center;
}
.ui-btn.ui-btn-icon-left.ui-corner-top.ui-corner-bottom.ui-controlgroup-last.ui-checkbox-on.ui-btn-up-c, .ui-btn.ui-btn-icon-left.ui-corner-top.ui-corner-bottom.ui-controlgroup-last:hover, #paymentContainer .ui-btn.ui-btn-icon-left.ui-checkbox-off.ui-corner-top.ui-corner-bottom.ui-controlgroup-last.ui-btn-up-c {
	width: 100% !important;
}
.inpickme div.selected {
	border-radius: 3px;
	background: #006633; 
}
.selectives img {
	width: 340px;
}
.selectives .grid_3 {
	width: 230px;
	text-align: center;
}
.selectives .grid_3 > div {
	margin: -97px auto 0;
	width: 212px;
}
.grid_1.measurementul img, .grid_5.measurementul img {
	display: block;
	float: left;
	position: relative;
	margin-top: -88px;
}
.fieldsMeasurements div.ui-select {
	width: 100%;
}
.fieldsMeasurements .ui-icon.ui-icon-arrow-d.ui-icon-shadow {
	right: 6px !important;
}
.righer {
	float: right;
	font-size: 12px;
	padding: 3px 0 0;
}
.righter {
	float: right !important;
	font-size: 12px !important;
	padding: 3px 20px 0px 0px !important;
}
.lefter {
	float: left !important;
	font-size: 12px !important;
	padding: 3px 0px 0px 20px !important;
}
.measurement_input {
	width: 60px;
	height: 35px;
}
#fitlinesDiv .ui-select {
	margin: -10px 30px 0 0;
}
.measurementul li.selected > img {
	margin: 0 !important;
}
#list img {
}
#custMediaBtn {
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	background: url(http://shirt-tailor.net/thepos/appimg/template/camera.png) center top no-repeat;
	height: 84px;
	text-indent: -9999px;
}
#fitlineMediaBtn {
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	background: url(http://shirt-tailor.net/thepos/appimg/template/camera.png) center top no-repeat;
	height: 84px;
	text-indent: -9999px;
}
#list {
	text-align: left;
	display: block;
}
#fitlineslist {
	text-align: left;
	display: block;
}
.ui-btn-inner {
	border-top: none;
}
body {
	margin: 0px;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	padding: 0px;
}
.mygrid {
	width: 22%;
	margin: 10px;
	float: left;
}
.cb {
	clear: both;
}
/*  LEFTMENU */



#iscroll-wrapper-hm {
	width: 100%;
	height: 300px;
	overflow: auto
}
#scroll-content-hm {
	width: 800px;
	height: 300px;
}
#scroll-content-hm .box {
	width: 100px;
}
#scroll-content-hm li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#iscroll-wrapper-lm {
	width: 200px;
	height: 400px;
	background: #aaa;
	overflow: auto;
}
#scroll-content {
	width: 200px;
	height: 700px;
	background-color: lime;
	padding: 0;
}
#iscroll-wrapper-oi {
	height: 650px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
.fabricline {
	margin: auto;
	padding: 0px 10px;
}
.lioffabric {
	background: none repeat scroll 0 0 #cecece;
	font-weight: normal;
	margin: 3px 0px;
	padding: 8px 13px;
	display: block;
	border-radius: 4px 4px 4px 4px;
	color: #202C4A;
	white-space: normal;
	position: relative;
	font-size: 14px;
	text-shadow: none;
	text-transform: uppercase;
	z-index: 9999999;
}
.lioffabric:hover, .lioffabric:active {
	background: #94c01f;
	color:#fefefe;
}
.yellowing {
	color: #C90;
	font-weight: bold;
}
.girises, .girisessuit {
	border: medium none;
	font-family: "Open Sans";
	line-height: 21px;
}
.bottombuttonsfix {
	bottom: 5px;
	position: absolute;
}

.urgency .ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
	padding-right: 32px;
}
.giross.mysuitbut {
	min-height: 565px;
}
.mysuitbut .buttonholder {
	width: 23.6%;
}
.addgarment {
	background: #988e73; /* IE6-9 */
	border-radius: 0.351em;
	color: #fefefe;
	float: left;
	font-family: "Open Sans";
	font-weight: bold;
	margin: 0.5% 0.5% 0;
	padding: 10px 0;
	text-align: center;
	text-shadow: 0 0 2px #929292;
	width: 100%;
}
.previewtabs {
	background: #868686;
	border-radius:0.351em;
	color: #fefefe;
	float: left;
	font-family: "Open Sans";
	font-weight: bold;
	margin: 0.2% 0.7%;
	padding: 10px 0;
	text-align: center;
	text-shadow: 0 0 2px #929292;
	width: 31.8%;
}
.previewtabs.enabled {
	background: #009ee2;
	color: #fefefe;
	text-shadow: 0 0 2px #333;
}
.previewtabs.foursplit {
	width: 23.6%;
}
.buttonholder {
	float: left;
	margin: 0.2% 0.7%;
	width: 31.8%;
}
.deletepreviewbut {
	background: #e20613; /* IE6-9 */
	border-radius: 0.351em;
	color: #fefefe;
	float: left;
	font-family: "Open Sans";
	font-weight: bold;
	margin: 0.5% 0.5% 0;
	padding: 10px 0;
	text-align: center;
	text-shadow: 0 0 2px #929292;
	width: 100%;
	opacity: 0.5;
}
.makeplatinum {
	border-radius: 8px 0 !important;
	margin: 0 !important;
}
.makeplatinum label {
	background: rgb(210,174,109); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,174,109,1) 0%, rgba(150,123,78,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(210,174,109,1)), color-stop(100%, rgba(150,123,78,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(210,174,109,1) 0%, rgba(150,123,78,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(210,174,109,1) 0%, rgba(150,123,78,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(210,174,109,1) 0%, rgba(150,123,78,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(210,174,109,1) 0%, rgba(150,123,78,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ae6d', endColorstr='#967b4e', GradientType=0 ); /* IE6-9 */
	border: medium none !important;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	color: #333;
	padding: 2px 0 0;
	text-shadow:none;
}
.urgenttabs {
	background: #c5c5c5; /* Old browsers */
	background: -moz-linear-gradient(top, #c5c5c5 0%, #464646 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5c5c5), color-stop(100%, #464646)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c5c5c5 0%, #464646 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c5c5c5 0%, #464646 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c5c5c5 0%, #464646 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c5c5c5 0%, #464646 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#464646', GradientType=0 ); /* IE6-9 */
	border-radius: 0.351em;
	color: #333;
	float: left;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-shadow:none;
	width: 100%;
}
.designgarment {
	background: #94c01f;
	border-radius: 0.2351em;
	color: #fefefe;
	float: left;
	font-size: 26px;
	font-weight: bold;
	height: 59px;
	padding: 26px 0 4px;
	text-align: center;
	text-shadow: 0 0 2px #929292;
	text-transform: uppercase;
	width: 100%;
}
.makeplatinum .ui-btn-inner {
	font-size: 15px;
	padding-left: 30px !important;
	padding-right: 0;
	padding-top: 10px;
	margin-bottom: 1.7% !important;
}
.makeplatinum .ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
	left: 10px !important;
}
.garmentreviname {
	color: #e2b05c;
	font-family: "Open Sans";
	font-size: 28px !important;
	font-weight: bold;
	text-shadow: 0 0 2px #444;
}
.garmentrevinametwo {
	color: #e2b05c;
	font-family: "Open Sans";
	font-size: 28px !important;
	font-weight: bold;
	text-shadow: 0 0 2px #444;
	float: left;
	margin-right: 8px;
}
.pricegrid {
	float: right;
	margin: 28px 10px 0 0;
	text-align: right;
	width: 30%;
}
.revwhite {
	color: #444;
	font-family: "Open Sans";
	font-size: 18px !important;
	text-shadow: none;
}
.revcur {
	color: #444;
	font-family: "Open Sans";
	font-size: 23px;
	text-shadow: none;
}
.pricingingarm {
	color: #444;
	font-family: "Open Sans";
	font-size: 30px;
	text-shadow: none;
}
.giross {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
	border-radius: 6px 0;
	margin: 0.4% !important;
	min-height: 523px;
	position: relative;
}
.girisesnobg {
	border: none;
	border-radius: 4px;
	padding: 7px !important;
	margin: 0px 0px 10px;
}
.box div.grid_9 {
	background: none repeat scroll 0 0 rgba(68,68,68,0.6);
	border-radius: 15px 15px 15px 15px;
	margin-top: 9px;
	padding: 7px 12px;
}
.content-wrapper {
	margin: auto;
	display: block;
}
#orderItemSelectGarment .dwseinfos {
	padding: 10px;
	width: 90% !important;
}
#orderItemSelectGarment .topos li {
	margin: 0px;
	border-bottom: 0px;
}
#orderItemSelectGarment span.grid_2 {
	width: 70px;
}
#orderItemSelectGarment .dwseinfos .grid_2 > img {
	width: 70px;
}
#scroll-content-hm {
	width: 800px;
	height: 300px;
}
#scroll-content-fs .box {
	width: 400px;
	height: 400px;
}
#scroll-content-fs li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#iscroll-wrapper-fs {
	width: 70%;
	height: 400px;
	background: #aaa;
	overflow: auto;
	display: block;
	margin: auto;
}
#scroll-content-fs {
	width: 10000px;
	height: 400px;
}
.hidden {
	display: none;
}
.fabricAutocomplete {
	float: left;
	margin-right: 10px;
	font-size: 80%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #d1ae6c;
	padding: 10px;
}
.bigStepsSidebar {
	position: fixed;
	right: 0;
	top: 38px;
	background-color: #b2b2b2;
	width: 16%;
	min-width: 215px;
	height: 98%;
	text-shadow: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.bigStepsSidebar .ui-collapsible-content {
	padding: 0pc !important;
}
.bigStepsSidebar li {
	width: 90%;
	height: 40px;
	float: right;
	background-color: #606062;
	font-size: 100%;
	text-align: left;
	margin-bottom: 3px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.bigStepsSidebar li.selected {
	width: 96%;
}
.bigStepsSidebar li div {
	margin-top: 10px;
	margin-left: 6px;
}
.stepCaption {
	float: left;
}
.stepCaption h1 {
	color: #d1ae6c;
	font-size: 100%;
}
.stepCaption h2 {
	color: white;
	font-size: 120%;
}
.customerCaption {
	float: right;
}
.customerCaption h1 {
	float: left;
	color: #d1ae6c;
	font-size: 100%;
}
.customerCaption h2 {
	color: white;
	font-size: 100%;
}
.garmentsStepSelector h1 {
	float: left;
	color: #d1ae6c;
	font-size: 90%;
	clear: left;
}
.garmentsStepSelector h2 {
	color: white;
	font-size: 100%;
}
/* Scrollers */
.scrollContentss {
	height: 3200px;
}
.scrollContentaed {
	height: 2500px;
}
.scrollContents {
	height: 1200px;
}
.scrollContentis {
	height: 5000px;
}
.scrollContentisa {
	height: 4660px;
}
.customerscoll {
	height: 1100px;
} /*this is for customer add and update page */
/* END of Scrollers */
.cloneDialog {
	position: absolute;
	background: rgba(255,255,255,0.8);
	width: 270px;
	padding: 15px;
	border-radius: 12px 12px 12px 12px;
	border: 1px solid rgba(70,69,69,0.3);
}
.container_16.designheight {
	max-height: 690px;
}
#cloneShirtDialog .ui-checkbox, #cloneSuitDialog .ui-checkbox {
	clear: none;
	float: left;
	margin: 5px 6px;
	max-width: 130px;
	min-width: 110px;
}
.cloneDialogBtn {
	background: rgb(174,130,49);
	background: -moz-linear-gradient(top, rgb(174,130,49) 0%, rgb(211,175,109) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(174,130,49)), color-stop(100%, rgb(211,175,109)));
	background: -webkit-linear-gradient(top, rgb(174,130,49) 0%, rgb(211,175,109) 100%);
	background: -o-linear-gradient(top, rgb(174,130,49) 0%, rgb(211,175,109) 100%);
	background: -ms-linear-gradient(top, rgb(174,130,49) 0%, rgb(211,175,109) 100%);
	background: linear-gradient(to bottom, rgb(174,130,49) 0%, rgb(211,175,109) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae8231', endColorstr='#d3af6d', GradientType=0 );
	border-radius: 7px 7px 7px 7px;
	color: #FEFEFE;
	display: block;
	float: left;
	padding: 6px 10px;
	text-shadow: -1px 0 2px #1A1918;
}
#cloneSuitDialog .ui-btn-inner.ui-btn-corner-all, #cloneShirtDialog .ui-btn-inner.ui-btn-corner-all {
	padding: 10px 0 10px 40px !important;
}
.cloneDialogBtnClose {
	display: block;
	position: absolute;
	right: 9px;
	top: 9px;
}
#paymentContainer .ui-br {
	border-bottom: medium none;
}
#files {
	display: none;
}
#fitlinefiles {
	display: none;
}
.fitlineul {
	left: 0;
	position: absolute;
	top: 555px;
}
.listarouxwn {
	position: relative;
}
.grid_2.stepsmenud.gorightbut {
	float: right !important;
}

/******* NOTIFICATIONS ******/

.titleinbut {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 110px;
}

/******* SHIPPING ******/
.shippingmenutop li a {
    margin: 0 10px;
	display:block;
	position:relative;
}
.shippingmenutop li {
    display: inline-block;
}
.shippingmenutop img {
    max-width: 110px;
}
.shippingmenutop {
    list-style-type: none;
    margin: 5% auto 10%;
    text-align: center;
    width: 95%;
}


/*********** General Stuff *********/
.mylabels {
    border: medium none;
    box-sizing: border-box;
    color: #dcb469;
    display: inline-block;
    float: left;
    height: 44px;
    margin: 0px 0px 10px 0;
    text-decoration: none;
    vertical-align: top;
}
.mylabels-icon {
    background-image: url("http://shirt-tailor.net/thepos/appimg/template/topmenu/home.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 100%;
    line-height: 32px;
    vertical-align: text-top;
    width: 48px;
}
.mylabels-title {
    display: block;
    float: left;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.023em;
    margin-top: 15px;
}

.myuploader {
    background: #dedede none repeat scroll 0 0;
    border: 1px solid #fefefe;
    color: #444;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
