/* image tag */
.image-comment-wrapper {
	border: solid 1px;
	border-radius: 5px;
	padding: 22px;
	margin: 6px;
	margin-left: 27px;
}

.image-tag-wrapper {
    position: relative;
    width: 100%;
}

.image-tag-wrapper img {
	width: 100%;
}

.image-tag-wrapper .tag {
	position: absolute;
}

span.comment-tag{
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	--size: 20px;
	width: var(--size);
	height: var(--size);
	margin: 9px 4px 0 0;
}

.image-tag-wrapper .tag span {
	background-color: red;
	color: white;
	text-align: center;
	width: 18px;
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.add-tag-button{
	background: var(--green1);
	color: white;
	border: none;
	padding: 22px 0px;
	border-radius: 5px;
}
.edit-tag-button{
	background: var(--green1);
	color: white;
	border: none;
	padding: 9px 0px;
	border-radius: 5px;
}
.delete-tag-button{
	background: var(--red);
	color: white;
	border: none;
	padding: 9px 0px;
	border-radius: 5px;
}