* {
	text-shadow: none;
}

table.missing_items_table thead th {
	background-color: #988E73;
	color: white;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.missing_items_table tbody tr td {
	background-color: #ECECEC;
	font-weight: normal;
	padding: 5px;
	border-radius: 11px;
    font-size: 13.9px;
    text-align: center
}

table.missing_items_table {
	top: 84.5px;
	position: relative;
	width: 98%;
	margin-left: 10px;
}

.box_received_icon {
	/* float: inline-end; */
	/* top: -106.2px; */
	/* display: -moz-deck; */
	width: 100%;
	position: relative;
	top: -11px;
	height: 15px;
}


div.box_received a.icon-arrow-right::after {
	background-color: #94c01f;
	background-position: -196.8px -4px;
}

div.box_not_received a.icon-arrow-right::after {
	background-color: #868686;
	background-position: -196.8px -4px;
}

.pop-up.sort_item {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 450px;
	background-color: white;
	z-index: 1;
	padding: 10px;
	padding-bottom: none;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	overflow-y: scroll;
}

.pop-up.sort_item h1 {
	position: relative;
}

.myform {
	position: relative;
	top: 26px;
}

.close_popup {
	float: right;
	background: red;
	color: white;
	padding: 8px;
	font-weight: 900;
	position: relative;
	left: 10px;
	bottom: 10px;
	border-radius: 5px;
}

select{
	opacity: inherit !important;
	border: 0;
}