@charset "UTF-8";
/* CSS Document */

body { 
	background-image:url(stable-img/bg.gif) !important;
	background-position:top left !important;
	background-repeat:repeat !important;
}
/* Stable Classes */
h1, h2, h3, h4, h5 {
	color: #3c3c3b;
}
h1 {
	font-size: 38px;
	font-weight: 300;
	margin: 0.3em 0 0 0.2em;
}
h2 {
	font-size: 30px;
	font-weight: 100;
	margin: 0.3em 0 0;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}
h4 {
	margin: 0.351em;
}
textarea, input {
	background-color: #ececec;
}
.one-em-bottom {
	margin-bottom: 1em;
}
.half-em-around {
	margin: 0.3em;
}
.nomargin {
	margin: 0px !important;
}
.fivemargin {
    margin: 5px;
}
.alllistsview {
	margin: 10px 0px 0px 0px !important;
	font-size: 14px;
}
.alllistsview li {
	background: rgba(124, 124, 124, 0.4) none repeat scroll 0 0 !important;
	border-radius: 0.2em !important;
	margin: 0 0 2px !important;
	text-shadow: none !important;
}
.common-alert {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 99999999;
	width: 100%;
	height: 100%;
}
.common-alert-place {
	margin: 5% auto 0;
	overflow: hidden;
	position: relative;
	width: 556px;
}
.alert-icon {
	background-color: #a2195b;
	background-image: url("stable-img/buttons-sprite.png");
	background-position: -3px -3px;
	border-radius: 0.251em;
	float: left;
	height: 35px;
	margin: 0 5px 0 0;
	width: 35px;
}
.the-alert {
	background: #ececec none repeat scroll 0 0;
	border-radius: 0.351em;
	float: left;
	line-height: 20px;
	padding: 7px 10px 2px;
	width: 495px;
}
.the-alert li {
	font-size: 15px;
	margin: 0 0 5px;
}
.closebutton .new-btn {
	background-color: #ececec !important;
	border-radius: 0.351em;
	color: #333;
	display: block;
	padding: 0.05em;
	text-decoration: none;
}
.closebutton {
	float: right;
	margin: 5px 0 0;
	position: relative;
	width: 130px;
}
.closebutton .new-btn.new-btn-icon-right::after {
	background-image: url("stable-img/buttons-sprite.png");
	background-position: -115px -2px;
	background-repeat: no-repeat;
	border-radius: 0 0.351em 0.351em 0;
	content: "";
	display: block;
	height: 37px;
	position: absolute;
	right: 0;
	top: 0;
	width: 3em;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    z-index: 999999 !important;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
    border: medium none !important;
    border-radius: 0.351em;
    text-shadow: none !important;
	box-shadow:none !important;
}
.ftiaxto select, .ftiaxto input {
    background-color: #fefefe;
    border: medium none;
    border-radius: 0.351em !important;
    box-shadow: none !important;
}
/* End Stable Classes */


/* DEACTIVE BORDER ON BUTTON */
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
	border-color: transparent;
	border: none;
}
/* DEACTIVE BORDER ON BUTTON */

/* Login page */
#iIntroLogo {
	margin-top: 120px;
	width: 100%;
}
#iIntroLogo img {
	display: block;
	margin: auto;
}
.mystart .usertest .ui-input-text::after, .mystart .passwordte .ui-input-text::after {
	background-image: url(stable-img/buttons-sprite.png);
	background-repeat: no-repeat;
	border-radius: 0.3125em 0 0 0.3125em;
	bottom: 0;
	content: "";
	display: block;
	height: 36px;
	left: 0;
	margin-top: -6px;
	position: absolute;
	width: 40px;
}
.mystart .usertest .ui-input-text::after {
	background-color: #93bf45;
	background-position: 0px -123px;
}
.mystart .passwordte .ui-input-text::after {
	background-color: #f29100;
	background-position: -280px -82px;
}
.mystart .ui-input-text {
	border: medium none;
	border-radius: 0 0.3125em 0.3125em 0;
	box-shadow: none;
	padding-left: 39px !important;
	position: relative;
}
.mystart .icon-add-customer::after {
	background-position: -196px -4px;
}
.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* End of Login */

/* Main.htm */
.mainmenu span {
	color: #868686;
	display: block;
	font-size: 13.33px;
	letter-spacing: 0.03em;
	line-height: 12px;
	margin: 0 auto;
}
ul.mainmenu {
	margin: 10% auto !important;
	width: 75% !important;
	list-style-type: none;
	text-align: center;
}
.mainmenu li {
	display: inline-block;
}
.mainmenu li a {
	display: block;
	margin: 20px;
	position: relative;
}
.mynotifyt {
	background: #a2195b none repeat scroll 0 0;
	border-radius: 2px;
	color: #fefefe !important;
	font-weight: normal;
	line-height: 18px !important;
	padding: 5px;
	position: absolute;
	right: -3px;
	text-align: center;
	text-shadow: none;
	top: -6px;
	width: 25px;
}
/* End of Main.htm */

/* Forms */
.mandatoris {
	color: red;
	font-size: 80%;
	padding: 0 5px;
}
/* this is to make the dropdowns change the icon on the right side */
.jim-drop .ui-btn-icon-right::after {
	background-color: #988e73;
	border-radius: 0;
	height: 35px;
	margin: 0;
	right: 0;
	top: 0;
	width: 25px;
}
/* End of Forms */

/* BUTTONS */
.new-btn {
	padding: 0.4em;
	letter-spacing: 0.023em;
}
.btn-small-letter {
	display: block;
	font-size: 11px;
	margin-top: 2px;
}
.new-btn.new-btn-icon-right {
	text-align: right;
	padding-right: 3.2em;
}
.new-btn.new-btn-icon-left {
	text-align: left;
	padding-left: 3.2em;
}
.new-btn.new-btn-icon-left::after {
	background-image: url(stable-img/buttons-sprite.png);
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 56px;
	position: absolute;
	left: 0;
	top: 0;
	width: 3em;
}
.new-btn.new-btn-icon-right::after {
	background-image: url(stable-img/buttons-sprite.png);
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 56px;
	position: absolute;
	right: 0;
	top: 0;
	width: 3em;
}
.new-btn.ui-link:hover,.new-btn.ui-link:active {
    opacity: 0.3 !important;
}
.btn-letter {
	display: block;
	font-size: 14px;
}
.icon-add-customer::after {
	background-color: #94c01f;
	background-position: -159px 4px;
}
.icon-search-customer::after {
	background-color: #988e73;
	background-position: -37px -37px;
}
.icon-goto-main::after {
	background-color: #988e73;
	background-position: -158px -75px;
}
.icon-cancel-andback::after {
	background-color: #e20613;
	background-position: -115px 4px;
}
.icon-go-next::after {
	background-color: #94c01f;
	background-position: -196px 4px;
}
.icon-pictures-blue::after {
	background-color: #009ee2;
	background-position: -77px 4px;
}
.icon-edit-customer::after {
	background-color: #f29100;
	background-position: -36px -116px;
}
.icon-next-measurements::after {
	background-color: #94c01f;
	background-position: -77px -116px;
}
.icon-next-submitanddesign::after {
	background-color: #94c01f;
	background-position: -276px 4px;
}
.icon-exit-design::after {
	background-color: #988e73;
	background-position: -156px -76px;
}
.icon-goto-video::after {
	background-color: #94c01f;
	background-position: -38px 4px;
}
.icon-goto-bodyshape::after {
	background-color: #94c01f;
	background-position: 3px -117px;
}
.icon-goto-media::after {
	background-color: #94c01f;
	background-position: -77px 3px;
}
.icon-cancel-danger::after {
	background-color: #e20613;
	background-position: 1px 3px;
}
.icon-skip-notes::after {
	background-color: #a31b5c;
	background-position: 1px 3px;
}
.icon-skip-video::after {
	background-color: #a31b5c;
	background-position: 1px 3px;
}
.icon-skip-measurements::after {
	background-color: #a31b5c;
	background-position: 1px 3px;
}
.icon-goto-payment::after {
    background-color: #006633;
    background-position: -237px -76px;
}
/* End Buttons */


/* Measurements */

.garmentselection .grid_2 {
    margin: 1% 1% 2%;
    width: 18%;
}
.gar-calculator {
	margin: 0 auto;
	width: 156px;
}
.countgarments {
	font-size: 20px;
	text-shadow: none !important;
}
.hold-number {
	background-color: #cecece;
	border-radius: 0.151em;
	display: inline-block;
	padding: 6px 0 10px;
	text-align: center;
	width: 67px;
}
.countgarments {
	font-size: 20px;
	line-height: 23px;
	text-shadow: none !important;
}
.ye-cal-sym {
	background: #988e73 none repeat scroll 0 0;
	border-radius: 0.151em;
	color: #ececec;
	display: inline-block;
	font-size: 26px !important;
	font-weight: bold;
	text-align: center;
}
.ye-cal-sym > span {
	cursor: pointer;
	display: block;
	height: 40px;
	width: 40px;
}
.namegarments {
	background: #988e73 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0.351em;
	color: #fefefe;
	display: block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.051em;
	margin: 3px auto;
	padding: 5px 0;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 156px;
}
.garmentselection .rouxos {
	background-color: #868686;
	background-image: url(stable-img/measurements-sprite.png);
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 156px;
	width: 156px;
	margin: 0px auto;
	border-radius: 0.51em;
	position: relative;
}
ul.garmentselection .rouxos {
	height: 120px;
	width: 120px;
	background-size: 315% auto;
}
.rouxos.Suit {
	background-position: 0 2px;
}
.rouxos.Jacket {
	background-position: -2px -641px;
}
.rouxos.Pant {
	background-position: -2px -159px;
}
.rouxos.Vest {
	background-position: -6px -318px;
}
.rouxos.Shirt {
	background-position: -2px -482px;
}
span.nameunderouxo {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0 0 0.51em 0.51em;
	bottom: 0;
	font-size: 13px;
	left: 0;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	text-shadow: none;
	width: 100%;
	color: #fefefe;
}
li.selected span.nameunderouxo {
	background-color: rgba(255, 255, 255, 0.4);
	color: #444;
}
ul.garmentselection {
	float: left;
	margin: 10px 5px;
	width: 67.3%;
}
ul.garmentselection li {
	display: inline-block;
	background: transparent none repeat scroll 0 0 !important;
}
ul.garmentselection li.completed .rouxos {
	background-color: #94c01f;
}
.rouxos.jacket_measurement {
	background-position: -3px -518px;
}
ul.garmentselection li.completed .rouxos.jacket_measurement {
    background-position: -257px -517px;
}
li.selected .rouxos.jacket_measurement {
	background-color: rgba(215, 180, 106, 1);
	background-position: -132px -518px;
}
.rouxos.pant_measurement {
	background-position: -2px -138px;
}
ul.garmentselection li.completed .rouxos.pant_measurement {
    background-position: -256px -137px;
}
li.selected .rouxos.pant_measurement {
	background-color: rgba(215, 180, 106, 1);
	background-position: -132px -138px;
}
.rouxos.vest_measurement {
	background-position: -4px -266px;
}
ul.garmentselection li.completed .rouxos.vest_measurement {
    background-position: -257px -265px;
}
li.selected .rouxos.vest_measurement {
	background-color: rgba(215, 180, 106, 1);
	background-position: -130px -266px;
}
.rouxos.shirt_measurement {
	background-position: -2px -392px;
}
ul.garmentselection li.completed .rouxos.shirt_measurement {
    background-position: -257px -390px;
}
li.selected .rouxos.shirt_measurement {
	background-color: rgba(215, 180, 106, 1);
	background-position: -132px -392px;
}
.measurements_grid {
	float: left;
	margin: 0 0.8% 10px;
	width: 15%;
	position: relative;
}
.measurements_grid .ui-shadow-inset {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	box-shadow: none !important;
	margin: 0 !important;
}
.measurements_grid > label {
	font-size: 12px;
	margin: 5px 0 0;
	text-shadow: none !important;
}
#measurementsDiv h2 {
	font-size: 46px;
	font-weight: 100;
	margin: 0 0 0 10px;
}
#measurementsDiv .disfix {
	margin-top: 78px;
}
#measurementsDiv .disfix textarea {
	background-color: #ececec;
	box-shadow: none;
	margin: 0 !important;
	min-height: 220px;
	width: 98%;
}
#measurementsDiv h6 {
	font-size: 18px;
	letter-spacing: 0.031em;
	margin: 5px 0 15px 5px;
	text-transform: uppercase;
}
.measurements_grid input {
	color: #fefefe;
	position: relative;
	text-align: center;
	text-shadow: none;
	z-index: 10;
	border-radius:0.251em !important;
}
.measurehelpers {
	background-color: #988e73;
	border-radius: 0 0 0.351em 0.351em;
	color: #fefefe;
	font-size: 14px;
	font-weight: 400;
	height: 20px;
	margin-top: -8px;
	padding: 10px 0 1px;
	text-align: center;
	text-shadow: none;
	width: 100%;
	z-index: 1;
}
.allmeasures .mychecknews {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #3c3c3b;
	border-radius: 0.351em;
	color: #3c3c3b;
	margin: 10px 5px 5px 5px !important;
	padding: 7px !important;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
}
.buttonsoptions {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #3c3c3b;
	border-radius: 0.351em;
	color: #3c3c3b;
	padding: 7px 0px !important;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
}
.buttonsoptions:hover,.buttonsoptions:active {
    border-color: red;
    color: red;
}
.allmeasures .mychecknews.enabled, .termsbutton.enabled {
	background: #94c01f none repeat scroll 0 0;
	color: #fefefe;
	text-shadow: 0 0 1px #444;
}
.measurements_grid .ui-input-text input:focus, .measurements_grid .ui-input-search input:focus {
	background: #f29100 none repeat scroll 0 0 !important;
}
/* End of Measurements */



/* Bodyshape Classes */
.mybody_grid {
	float: left;
	height: 400px;
	margin: 5px;
	max-width: 95px;
	padding: 5px;
	text-align: center;
}
.imageList {
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 4px;
}
.imageList img {
	max-width: 90px;
}
.imageList.selected {
	background: rgba(148, 192, 31, 1) none repeat scroll 0 0;
	border-radius: 11px;
	color: #fefefe;
	font-size: 12px;
	padding-bottom: 14px;
	padding-top: 4px;
	text-shadow: none !important;
}
.mytextnotes {
    background-color: #ececec;
    border: medium none;
    border-radius: 0.351em !important;
    box-shadow: none;
    min-height: 100px;
}
/* End  Bodyshape Classes */




/* Header */

.j-header {
	background: rgba(187, 189, 192, 0.3) none repeat scroll 0 0;
	box-shadow: none;
	font-family: "Open Sans";
	height: 45px;
	left: 0;
	position: fixed;
	text-shadow: none !important;
	top: 0;
	width: 100%;
}
/* END OF HEADER */


/* Global Loader */
#loading_jp {
	background-color: #fff;
	_position: absolute; /* hack for internet explorer 6 */
	height: 100%;
	position: relative;
	text-align: center;
	z-index: 999999;
}
.spinner {
	width: 50px;
	height: 50px;
	margin: 200px auto 0px;
	background-color: #444;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}
 @-webkit-keyframes sk-scaleout {
 0% {
-webkit-transform: scale(0)
}
 100% {
 -webkit-transform: scale(1.0);
 opacity: 0;
}
}
 @keyframes sk-scaleout {
 0% {
 -webkit-transform: scale(0);
 transform: scale(0);
}
100% {
 -webkit-transform: scale(1.0);
 transform: scale(1.0);
 opacity: 0;
}
}
/* Glode Loader END */



/* New MAIN ORDER STEPS*/
.order_steps_menu, .order_measurements_images {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
	position: relative;
}
.order_steps_menu li {
	background-color: #868686;
	border-radius: 0.211em;
	float: left;
	margin: 6px 3px 0;
	position: relative;
	text-align: center;
}
.order_steps_menu li.active {
	background-color: #988e73;
}
.order_steps_menu li.completed {
	background-position: right -126px;
}
.order_steps_menu li.cancel_order {
	background-color: #e20613;
	float: right;
	margin: 6px 6px 0px 0px !important;
	min-width: 110px;
}
.order_steps_menu li.cancel_order::after {
	background-color: #fff;
	border-radius: 0.211em;
	color: #e20613;
	content: "x";
	font-weight: bold;
	height: 24px;
	line-height: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
}
.order_steps_menu a {
	color: #fefefe;
	display: block;
	font-size: 11px;
	font-weight: 400;
	min-width: 60px;
	padding: 10px 15px 10px 5px;
	position: relative;
	text-align: left;
	text-decoration: none;
	text-shadow: none !important;
	text-transform: uppercase;
}
.order_steps_menu li.active a {
	color: #202c4a !important;
	text-shadow: 0 0 1px #f1e1b6;
}
.order_steps_menu li:first-child {
	margin: 6px 0px 0 6px;
}
.order_steps_menu a:hover {
	color: #fefefe;
}
/* END OF New MAIN ORDER STEPS*/

/* Start of new footer */

.j-footer {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	bottom: 0;
	box-shadow: none;
	left: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	text-shadow: none !important;
	z-index: 999999;
}
.b-footer {
	box-shadow: none;
	text-shadow: none !important;
	width: 100%;
}
/* End f new footer */


/* Order Pages */
.inpickme h2 {
    margin-left: 0.191em;
}
.makeyellow {
    background: #ececec none repeat scroll 0 0;
    border-radius: 3px;
    color: #868686;
    padding: 0 5px;
}
.notesi > span:last-child {
    padding: 5px !important;
	border-radius:0 0 6px 6px;
}
.notesi > span:first-child {
    padding: 6px 5px !important;
	border-radius:0px; 
}
.garmentbreak {
	font-size: 13px;
}
.loadimages {
	background: #988e73 url("stable-img/big_icons_sprite.png") no-repeat scroll 4px 4px;
	border-radius: 0.31em;
	cursor: pointer;
	height: 72px;
	text-indent: -99999px;
	width: 72px;
}
.loadvideos {
	background: #988e73 url("stable-img/big_icons_sprite.png") no-repeat scroll 3px -60px;
	border-radius: 0.31em;
	cursor: pointer;
	height: 72px;
	text-indent: -99999px;
	width: 72px;
}
.custdisplay > li {
	background: #ececec none repeat scroll 0 0;
	border-radius: 0.31em;
	font-size: 13px;
	margin: 5px 0;
	padding: 4px 3px 4px 10px;
}
.custdisplay .secondpart {
	font-size: 15px;
	margin: 0 0 0 20px;
}
.custdisplay .firstpart {
	display: inline-block;
	width: 95px !important;
}
.activated .label_style > span {
	color: #444;
	text-shadow: none;
}
.label_style {
	font-size: 13px;
	padding: 5px 0 0 10px;
	text-align: left;
}
li.completedgarments {
	background: #94c01f none repeat scroll 0 0 !important;
}
li.neuteralcomplete {
	background: #e20613 none repeat scroll 0 0 !important;
	color: #fefefe !important;
}
.help_titles div {
	color: #fefefe;
	font-size: 8px;
	text-align: center;
	text-shadow: none;
}
.activated .help_titles div {
	color: #444;
}
.girises li {
	background: #988e73 none repeat scroll 0 0;
	border-radius: 0.351em;
	color: #ececec;
	float: left;
	font-size: 12px;
	font-weight: 600;
	height: 44px;
	letter-spacing: 0.033em;
	line-height: 19px;
	margin: 0 1.3% 4px 0;
	padding: 3px 1.3% 0;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 45.8%;
}
.girisessuit li {
	background: #988e73 none repeat scroll 0 0;
	border-radius: 0.351em;
	color: #ececec;
	float: left;
	font-size: 14px;
	font-weight: 700;
	height: 44px;
	letter-spacing: 0.011em;
	line-height: 19px;
	margin: 0 0.5% 4px 0;
	padding: 3px 0.5% 0;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 23.5%;
}
/*NEW DESIGN STEPS MENU*/
.grid_16.smalsteps {
	left: 0;
	position: absolute;
	top: 48px;
	z-index: 999;
}
.smalsteps ul {
	display: table;
	margin: 0 0.351em !important;
	width: 98.9% !important;
}
.smalsteps li {
	display: table-cell;
	background: none !important;
}
.smalsteps li div {
	background-color: #868686;
	border-radius: 0;
	color: #fafafa;
	font-size: 11px;
	margin: 0px 0px 0px 2px !important;
	text-align: center;
	text-shadow: 1px 0 1px #444;
	padding: 7px 0px;
	display: block;
	border-radius: 0.251em;
}
.smalsteps li:first-child div {
	margin-left: 0px !important;
}
.smalsteps li.selected div, .smalsteps li.active div {
	background-color: #988e73;
}
.smalsteps li.completed div {
	background-color: #94c01f;
}
/* END OF NEW STEPS MENU */

/* DESIGNERS OPTIONS */
.white_content.mynicepop .inmynicepop {
    margin: 3% auto;
    width: 600px;
}
.white_content {
    background-color: #dcb469;
    border-radius: 0;
    box-shadow: 0 5px 10px #444;
    display: none;
    left: 0;
    min-height: 85px;
    overflow: hidden;
    padding: 0px 0px 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1033;
	text-shadow:none !important;
}
.white_content.extrapant { padding:3% !important; width:85%; margin:1% 4.5%;}
.extrapant.extracostfields label {
    width: 25%;
}
.extracostfields select {
    float: left;
	min-width:50%; 
}
.grid_3.extracostfields label {
    width: 50% !important;
}
.myboxesincheck {
    background: #868686 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fefefe;
    float: right;
    margin: 5px 0 5px 5px;
    min-height: 30px;
    padding: 2px 7px;
}
.grid_but {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 3px !important;
    color: #444;
    float: left;
    font-size: 9px;
    line-height: 13px;
    margin: 0 2px;
    padding: 3px 2px 4px !important;
    text-align: center;
    text-shadow: none !important;
    width: 33px;
	opacity:0.5;
}
.grid_but.selected {
    background: #006633;
    color: #fefefe;
	opacity:1;
}
.simpleclick {
	background-image: url("../img/complete_set.png");;
	background-position: -471px -270px;
	height: 30px !important;
	text-indent: -99999px;
	width: 30px !important;
	background-repeat: no-repeat;
}
.grid_44.activated, .grid_44.activate.activated, .grid_55.activated, .grid_55.activate.activated {
	background:#988e73 none repeat scroll 0 0;
	border-radius: 7px 7px 0 0;
	z-index: 999;
}
.main_option_title {
	background: #868686;
	border-radius: 3px 3px 0 0;
	color: #fefefe;
	display: block;
	font-size: 12px !important;
	height: 34px;
	position: absolute;
	text-shadow: 0 1px 1px #444;
	top: 0;
	width: 100%;
}
.activate .details_box {
	background: none repeat scroll 0 0 rgba(137, 137, 137, 0.8);
	border-radius: 0 0 3px 3px;
	display: block;
}
.activated .details_box, .activate.activated .details_box {
	background: #988e73 none repeat scroll 0 0;
	border-radius: 0 0 3px 3px;
	display: block;
}
.activated .main_option_title {
    background: #988e73 none repeat scroll 0 0;
    color: #ececec;
}
div.inpickme {
	color: #fefefe;
	text-shadow: none;
}
.mikrosss {
-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
    border: medium none;
    border-radius: 0.251em;
    height: 29px;
    letter-spacing: 3em;
    padding-left: 7px !important;
    width: 30px;
}
.mikrosss option {
    letter-spacing: 0 !important;
}
.newprevtab.enabled {
    background: #444 none repeat scroll 0 0;
    color: #ececec;
}
.newprevtab {
    background: #ececec none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    color: #444;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 10px 15px;
    text-shadow: none;
}
.lasttab {
    border-radius: 0 0 3px;
}
.firsttab {
    border-left: 1px solid #000;
    border-radius: 0 0 0 3px;
}
/* Payment Page */
.sviseme {
    background: red none repeat scroll 0 0;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin: -10px 0 0 !important;
    text-align: center;
    text-shadow: none;
    width: 30px;
}
.order_payment hr, hr {
	background: #c8c8c8 none repeat scroll 0 0;
	border: medium none;
	clear: both;
	height: 3px;
	margin: 30px auto;
	width: 90%;
}
.extracosti input {
    border: medium none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
	width:70%;
}
.extracosti .price_itself input {
    padding-right: 0;
    text-align: right;
	width:30% ;
}
.conv-let div {
	font-size: 15px;
	font-weight: 400;
	text-shadow: none !important;
}
.termsbutton {
	background: #f29100 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0.351em;
	color: #3c3c3b;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	margin: 2em auto;
	padding: 9px 0 10px !important;
	text-align: center;
	text-shadow: none;
}
.submit_order {
	background: #94c01f none repeat scroll 0 0 !important;
	border: medium none !important;
	border-radius: 0.351em !important;
	color: #fefefe !important;
	cursor: pointer;
	font-size: 17px;
	font-weight: 600;
	margin: 2em auto;
	padding: 9px 0 10px !important;
	text-align: center;
	text-shadow: 0 0 1px #444 !important;
	text-transform: uppercase;
}
.missing_info {
	background-color: #ececec;
	border-radius: 0.351em;
	color: #3c3c3b;
	font-size: 14px;
	font-style: italic;
	margin: 0.351em 0;
}
.missing_info span {
	display: table-cell;
	padding: 7px 0 8px 10px;
}
.missing_info_sign {
	background-color: #e20613;
	background-image: url("stable-img/buttons-sprite.png");
	background-position: 1px -3px;
	border-radius: 0.351em 0 0 0.351em;
	width: 33px;
}
.missing_info_first {
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
}
/* MEDIA PRINT */
.img-wrap {
	border: 0 none;
	display: inline-block;
	font-size: 0;
	margin: 0 0 40px;
	position: relative;
}
div.image_panel img {
	left: 0;
	max-width: 600px;
	overflow: hidden;
	top: 0;
	z-index: 10045;
}
.tagged_title {
	background: #988e73 none repeat scroll 0 0;
	color: #fefefe;
	font-size: 12px;
	letter-spacing: 0.02em;
	overflow-wrap: break-word;
	padding: 7px 35px 6px 7px;
	text-shadow: none;
	width: 330px;
	z-index: 45;
}
div.arrow { /* line showing the tag position */
	background: repeating-linear-gradient(to right, #988e73, #988e73 10px, rgba(255,255,255,0.1) 10px, rgba(255,255,255,0.1) 20px );
	z-index: 500;
}
#popup_box {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6 */
	left: 0px;
	top: 0px;
	z-index: 1030; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
}
.underbuttons {
    display: block;
    font-size: 11px;
    margin: 0;
	color:#444;
}
.img-wrap .close, #popupBoxClose , .closeitx {
	background-color: #e20613;
	border-radius: 0 0 0 3px;
	color: #ececec;
	cursor: pointer;
	font-size: 20px;
	height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 30px;
	z-index: 100;
}

.myvideos {
	width: 288px;
	margin: 5px;
	margin-left: 12px;
	height: 336px;
}

.myvideo-warp {
    border: 0 none;
    display: inline-block;
    font-size: 0;
    margin: 0 0 40px;
    position: relative;
}
.myvideo-warp .close {
	background-color: red;
	border-radius: 0 0 0 3px;
	color: #ececec;
	cursor: pointer;
	font-size: 20px;
	height: 30px;
	position: absolute;
	left: 450px;
	text-align: center;
	top: 0;
	width: 30px;
	z-index: 100;
}
.myvideo-comments textarea {
    border: medium none;
    box-shadow: none;
    color: #444;
    float: left;
    font-size: 13px;
    min-height: 50px;
    padding: 1% 2%;
    text-shadow: none;
    width: 77%;
	line-height:20px;
}
.mycomentlist > li {
    margin: 5px 0px;
    position: relative;
}
.myvideo-comments .close {
    background: #444 none repeat scroll 0 0;
    color: #ececec;
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    text-shadow: none;
    width: 35px !important;
}
.myvideo-comments .mykoubakiss {
    background: #5aaf10 none repeat scroll 0 0;
    color: #fefefe !important;
    float: left;
    font-size: 14px;
    font-weight: 600 !important;
    height: 30px;
    margin: 1px 0 0 1%;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: none;
    width: 120px;
    border-radius:5px;
}
.inpickme textarea {
    background-color: #ececec !important;
}

/* Alteration Report page */
.myddate .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
    float: left;
    margin: 0;
    width: 200px;
}
.grid_4.myddate > span {
    float: left;
}


/* END Alteration Report page */



/* Error Pages */
.errordet > li {
    font-size: 14px;
    margin: 0 0 5px;
}
.errorsp {
    display: inline-block;
    font-size: 13px;
    padding: 0 10px 0 0;
    width: 90px;
}
.namesp > span {
    display: inline-block;
    margin: 0 5px 0 0;
}
.errrogal {
    margin-top: 20px !important;
}
.errrogal li {
    float: left;
    margin: 0 12px 10px 0;
    padding: 0;
}
.errrogal img {
    border-radius: 0.23em;
	width:239px; 
}
.myreplyt {
    border-bottom: 1px solid;
    margin: 5px 0 20px;
}
.myreplyt > p {
    font-size: 16px;
    line-height: 23px;
}

.errorlis li {
    float: left;
    margin: 0 10px 0 0;
}
.errorlis .buttonsoptions {
    padding: 6px !important;
}
.errorlis.olesoilistes {
    margin: 10px 0;
}
.mycheck.mychecknews.onerror {
    border: 1px solid #444;
    color: #444 !important;
    margin: 26px 0 0 !important;
    padding: 9px 7px 10px !important;
    text-shadow: none !important;
}
.mycheck.mychecknews.onerror.enabled {
    background: green none repeat scroll 0 0;
    color: #fefefe !important;
}

/* Shipping Pages */
.boxlistitem {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #dadada;
    border-radius: 0.3em;
    font-size: 13px;
    margin: 8px;
    padding: 11px;
}

.boxlistitem .firstpart {
    color: #717171;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0 0;
    width: 75px !important;
}
.boxlistitem > div {
    box-shadow: none !important;
    margin: 0 0 5px;
    padding: 4px 0 5px;
}
.boxlistitem.iSent {
    background-image: url(stable-img/shipping-sprite.png);
    background-position: right -71px ;
    background-repeat: no-repeat;
}
.boxlistitem.iReceived {
    background-image: url(stable-img/shipping-sprite.png);
    background-position: right 143px ;
    background-repeat: no-repeat;
}

.grid_list h5 {
    font-size: 15px;
    margin: 10px 0 0 0px;
    text-transform: capitalize;
}
.itemlist .grid_list {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #dadada;
    border-radius: 0.351em;
    margin-left: 0.5% !important;
    margin-right: 0.5%;
    position: relative;
    text-shadow: none !important;
    width: 32.1% !important;
	font-size:12px;
}
.grid_list .checkmytab {
    position: absolute;
    right: 33px;
    top: 10px;
    z-index: 999;
}
.mybbut > a {
    border: 1px solid #444;
    border-radius: 0.351em;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 7px;
    text-align: center;
}
.missingitem {
    background-image: url("stable-img/missing.png");
    background-position: right top;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    height: 71px;
    position: absolute;
    right: 0;
    width: 51px;
}
.container_12 .prefix_22 {
    padding-left: 4.16%;
}
/* Shipping Pages */

